

mixin articleUsers(mod, vars)
    .article-users.visible-md-block
        .article-users_row
            a.article-users_count
                .ico-action-hg.ico-action-hg__like 
                .article-users_count-tx 865
            .ava-list
                ul.ava-list_ul.clearfix
                    li.ava-list_li
                        +ava('ava__small', ava.a)
                    li.ava-list_li
                        +ava('ava__small', ava.b)
                    li.ava-list_li
                        +ava('ava__small', ava.a)
                    li.ava-list_li
                        +ava('ava__small', ava.c)
                    li.ava-list_li
                        +ava('ava__small', ava.b)
                    li.ava-list_li
                        +ava('ava__small', ava.a)
                    li.ava-list_li
                        +ava('ava__small', ava.b)
                    li.ava-list_li
                        +ava('ava__small', ava.b)
                    li.ava-list_li
                        +ava('ava__small', ava.a)
                    li.ava-list_li
                        +ava('ava__small', ava.b)
            a.a-light Смотреть все

        .article-users_row
            a.article-users_count
                .ico-action-hg.ico-action-hg__favorite 
                .article-users_count-tx 5
            .ava-list
                ul.ava-list_ul.clearfix
                    li.ava-list_li
                        +ava('ava__small', ava.a)
                    li.ava-list_li
                        +ava('ava__small', ava.b)
                    li.ava-list_li
                        +ava('ava__small', ava.a)
                    li.ava-list_li
                        +ava('ava__small', ava.c)
                    li.ava-list_li
                        +ava('ava__small', ava.b)
            // a.a-light Смотреть все