//- лайки от яндекса
    mod
    vars
mixin bLoader(mod, vars)
    .b-loader(class=mod)
        .b-loader_hold
            // Размеры можно задавать:
            // через классы (рекомендовано) 
            // .b-loader_img - 50px
            // .b-loader_img__l - 125px
            // или через style
            // style='width: 125px; height: 125px;'
            .b-loader_circle.b-loader_circle__l(style='width: 125px; height: 125px;')
                include ../../../../lite/images/loader.svg 
            if(vars.tx)
            .b-loader_tx 
                != vars.tx

- var bLoader = {}

- bLoader.photoWindow = {}
- bLoader.photoWindow.tx = 'Загрузка фото'
