//- лайки от яндекса
    mod
    vars
mixin bLoader(mod, vars)
    .b-loader(class=mod)
        .b-loader_hold
            // Размеры можно задавать:
            // через классы (рекомендовано) 
            // .b-loader_circle - 50px
            // .b-loader_circle__l - 100px
            // или через style
            // style='width: 125px; height: 125px;'
            .b-loader_circle(class=vars.size)
                include ../../../../lite/images/loader.svg 
            if(vars.tx)
            .b-loader_tx 
                != vars.tx

- var bLoader = {}

- bLoader.photoWindow = {}
- bLoader.photoWindow.size = 'b-loader_circle__l'
- bLoader.photoWindow.tx = 'Загрузка фото'

- bLoader.avaload = {}
- bLoader.avaload.tx = 'Загрузка фото'

- bLoader.familyBig = {}
- bLoader.familyBig.tx = 'Загрузка семьи'

- bLoader.load = {}
- bLoader.load.tx = 'Загрузка'
