//- 

mixin layoutHeaderGold(mod, vars)
    .layout-header-gold
        .layout-header-gold__top Мы в финале конкурса
        .layout-header-gold__title Золотой сайт 2014
        .layout-header-gold__mean Важен каждый голос в народном голосовании!
        a.btn-link.btn-xxl.btn-green(href="#") Проголосуй за веселого жирафа!
- var layoutHeaderGold = {}
