//- лайки от яндекса
    mod
    vars
mixin customLikes(mod, vars)
    .custom-likes
        .custom-likes_slogan Поделитесь с друзьями!
        .custom-likes_in
            script(type='text/javascript', src='//yandex.st/share/share.js', charset='utf-8')
            .yashare-auto-init(data-yasharel10n='ru', data-yasharequickservices='vkontakte,facebook,twitter,odnoklassniki,moimir', data-yasharetheme='counter', data-yasharetype='small')

- var customLikes = {}
