//- customLikes
//- 
    mod
    vars
mixin customLikes(mod, vars)
    // Лайки от яндекса
    .custom-likes
        if (vars.slogan)
            .custom-likes_slogan
                = vars.slogan
        .custom-likes_in
            script(type='text/javascript', src='//yandex.st/share/share.js', charset='utf-8')
            .yashare-auto-init(data-yasharel10n='ru', data-yasharequickservices='vkontakte,facebook,twitter,odnoklassniki,moimir', data-yasharetheme='counter', data-yasharetype='small')
    // Лайки от яндекса


- var customLikes = {}

- customLikes.base = {}
- customLikes.base.slogan = 'Поделитесь с друзьями!'

- customLikes.noslogan = {}

- customLikes.horoscope = {}
- customLikes.horoscope.slogan = 'Вам понравился гороскоп?'


mixin likeControl(mod, vars)
    
    .textalign-c.visible-md-block(class=mod)
        .like-control.like-control__line
            .like-control_hold
                a.like-control_i.like-control_i__like.powertip(href='', title='Нравится')
                    .like-control_t Мне нравится!
                    .ico-action-hg.ico-action-hg__like
                    .like-control_tx 865
            .like-control_hold
                a.like-control_i.like-control_i__idea.powertip(href='', title='В избранное')
                    .like-control_t В закладки
                    .ico-action-hg.ico-action-hg__favorite
                    .like-control_tx 863455
