//- customLikes
//- 
    mod
    vars
mixin customLikes(mod, vars)
    // Лайки от яндекса
    .custom-likes
        if (vars.slogan)
            .custom-likes_slogan
                = vars.slogan
        .custom-likes_in
            script(type='text/javascript', src='//yandex.st/share/share.js', charset='utf-8')
            if (vars.counter3)
                .yashare-auto-init(data-yasharel10n='ru', data-yasharequickservices='vkontakte,facebook,odnoklassniki', data-yasharetheme='counter')
            else 
                .yashare-auto-init(data-yasharel10n='ru', data-yasharequickservices='vkontakte,facebook,twitter,odnoklassniki,moimir', data-yasharetheme='counter')
    // Лайки от яндекса


- var customLikes = {}

- customLikes.base = {}
- customLikes.base.slogan = 'Поделитесь с друзьями!'

- customLikes.noslogan = {}

- customLikes.few = {}
- customLikes.few.counter3 = true

- customLikes.horoscope = {}
- customLikes.horoscope.slogan = 'Вам понравился гороскоп?'


mixin likeControl(mod, vars)
    
    .textalign-c.visible-md-block(class=mod)
        .like-control.like-control__line
            .like-control_hold
                a.like-control_i.like-control_i__like.powertip(href='#', title='Нравится')
                    .like-control_t Мне нравится!
                    .ico-action-hg.ico-action-hg__like
                    .like-control_tx 865
            .like-control_hold
                a.like-control_i.like-control_i__idea.powertip(href='#', title='В избранное')
                    .like-control_t В закладки
                    .ico-action-hg.ico-action-hg__favorite
                    .like-control_tx 863455

                .favorites-add-popup.favorites-add-popup__right
                    .favorites-add-popup_t Добавить запись в избранное
                    .favorites-add-popup_i.clearfix
                        img.favorites-add-popup_i-img(src='/images/example/w60-h40.jpg', alt='')
                        .favorites-add-popup_i-hold Неравный брак. Смертельно опасен или жизненно необходим?
                    .favorites-add-popup_row
                        label.favorites-add-popup_label(for='') Теги:
                        span.favorites-add-popup_tag
                            a.favorites-add-popup_tag-a(href='') отношения
                            a.ico-close(href='')
                        span.favorites-add-popup_tag
                            a.favorites-add-popup_tag-a(href='') любовь
                            a.ico-close(href='')
                    .favorites-add-popup_row.margin-b10
                        a.textdec-none(href='')
                            span.ico-plus2.margin-r5
                            span.a-pseudo-gray.color-gray Добавить тег
                    .favorites-add-popup_row
                        label.favorites-add-popup_label(for='') Комментарий:
                        .float-r.color-gray 0/150
                    .favorites-add-popup_row
                        textarea.favorites-add-popup_textarea(name='', cols='25', rows='2', placeholder='Введите комментарий')
                    .favorites-add-popup_row.textalign-c.margin-t10
                        a.btn-secondary.btn-s(href='#') Отменить
                        a.btn-success.btn-s(href='#') Добавить
