//- .cap-add
//- Заглушка добавления
    vars   
        tx

mixin photopostAddItem(mod, vars)
    // cap-add
    // Блок Добавления
    .photopost-add_i(class=mod)
        
        .photopost-add_hold
            .photopost-add_l
                +iPhoto('', iPhoto.a)
            .photopost-add_r
                .photopost-add_tx 
                    != vars.tx
    
- var photopostAddItem = {}

- photopostAddItem.a = {}
- photopostAddItem.a.tx = 'Добавить фотографии'

- photopostAddItem.b = {}
- photopostAddItem.b.tx = 'Добавить еще <br> фотографии'
