mixin sidebarArticle(mod, vars)
    ///////
    // Сайд бар
    // Содержимое загружaть отложено
    aside.b-main_col-sidebar.visible-md

        .bnr-base
            a(href='#') 
                img(src="#{path}images/example/w300-h600-1.jpg", alt="")

        .bnr-base
            a(href='#') 
                img(src="#{path}images/example/w300-h250-1.jpg", alt="")


        //-+articleAnonce('article-anonce__s', articleAnonce.g)
        //-+articleAnonce('article-anonce__s', articleAnonce.d)
        //-+articleAnonce('article-anonce__s', articleAnonce.a)
        //-+articleAnonce('article-anonce__lilac article-anonce__ico', articleAnonce.ico1)
        //-+articleAnonce('article-anonce__s', articleAnonce.e)
        //-+articleAnonce('article-anonce__s', articleAnonce.c)

        //-+articleAnonce('article-anonce__s', articleAnonce.f)

        //-+articleAnonce('article-anonce__s', articleAnonce.e)
        +articleAnonce('article-anonce__s', articleAnonce.g)
        //-+articleAnonce('article-anonce__s', articleAnonce.d)

        .article-anonce
            iframe(src="/lite/html-dev/page/iframe/banner/article-anonce-7.html", width='300px', height="360px", frameborder=0, marginheight=0, marginwidth=0, scrolling='no', style='border: 0px; vertical-align: bottom;' )
        .article-anonce
            iframe(src="/lite/html-dev/page/iframe/banner/article-anonce-8.html", width='300px', height="360px", frameborder=0, marginheight=0, marginwidth=0, scrolling='no', style='border: 0px; vertical-align: bottom;' )
        .bnr-base
            a(href='#') 
                img(src="#{path}images/example/w300-h250-1.jpg", alt="")
    // Сайд бар

- var sidebarArticle = {}

- sidebarArticle.base = {}


mixin sidebarRecipe(mod, vars)
    ///////
    // Сайд бар
    // Содержимое загружaть отложено
    aside.b-main_col-sidebar.visible-md

        a.btn.btn-primary.btn-xl.margin-t20(href='#') Добавить рецепт

        .menu-simple
            ul.menu-simple_ul
                li.menu-simple_li
                    a.menu-simple_a(href='') Блюда из рыбы
                    .menu-simple_count 158
                li.menu-simple_li
                    a.menu-simple_a(href='') Все рецепты
                    .menu-simple_count 789
                li.menu-simple_li
                    a.menu-simple_a(href='') Первые блюда
                    .menu-simple_count 789
                li.menu-simple_li
                    a.menu-simple_a(href='') Вторые блюда 
                    .menu-simple_count 789
                li.menu-simple_li
                    a.menu-simple_a(href='') Салаты  
                    .menu-simple_count 789
                li.menu-simple_li
                    a.menu-simple_a(href='') Закуски и бутерброды 
                    .menu-simple_count 789
                li.menu-simple_li
                    a.menu-simple_a(href='') Сладкая выпечка 
                    .menu-simple_count 7
                li.menu-simple_li.active
                    a.menu-simple_a(href='') Торты и пирожные 
                    .menu-simple_count 79
                li.menu-simple_li
                    a.menu-simple_a(href='') Несладкая выпечка 
                    .menu-simple_count 123789
                li.menu-simple_li
                    a.menu-simple_a(href='') Торты и пирожные 
                    .menu-simple_count 79
                li.menu-simple_li
                    a.menu-simple_a(href='') Десерты 
                    .menu-simple_count 9
                li.menu-simple_li
                    a.menu-simple_a(href='') Напитки 
                    .menu-simple_count 71189
                li.menu-simple_li
                    a.menu-simple_a(href='') Соусы и кремы 
                    .menu-simple_count 23434
                li.menu-simple_li
                    a.menu-simple_a(href='') Консервация 
                    .menu-simple_count 782239

        .bnr-base
            a(href='#') 
                img(src="#{path}images/example/w300-h250-1.jpg", alt="")

    // Сайд бар

- var sidebarRecipe = {}

- sidebarRecipe.base = {}
