mixin sidebarArticle(mod, vars)
    ///////
    // Сайд бар
    // Содержимое загружaть отложено
    aside.b-main_col-sidebar.visible-md

        .bnr-base
            a(href='#') 
                img(src="#{path}images/example/w300-h600-1.jpg", alt="")

        .bnr-base
            a(href='#') 
                img(src="#{path}images/example/w300-h250-1.jpg", alt="")


        //-+articleAnonce('article-anonce__s', articleAnonce.g)
        //-+articleAnonce('article-anonce__s', articleAnonce.d)
        //-+articleAnonce('article-anonce__s', articleAnonce.a)
        //-+articleAnonce('article-anonce__lilac article-anonce__ico', articleAnonce.ico1)
        //-+articleAnonce('article-anonce__s', articleAnonce.e)
        //-+articleAnonce('article-anonce__s', articleAnonce.c)

        //-+articleAnonce('article-anonce__s', articleAnonce.f)

        //-+articleAnonce('article-anonce__s', articleAnonce.e)
        +articleAnonce('article-anonce__s', articleAnonce.g)
        //-+articleAnonce('article-anonce__s', articleAnonce.d)

        .article-anonce
            iframe(src="/lite/html-dev/page/iframe/banner/article-anonce-7.html", width='300px', height="360px", frameborder=0, marginheight=0, marginwidth=0, scrolling='no', style='border: 0px; vertical-align: bottom;' )
        .article-anonce
            iframe(src="/lite/html-dev/page/iframe/banner/article-anonce-8.html", width='300px', height="360px", frameborder=0, marginheight=0, marginwidth=0, scrolling='no', style='border: 0px; vertical-align: bottom;' )
        .bnr-base
            a(href='#') 
                img(src="#{path}images/example/w300-h250-1.jpg", alt="")
    // Сайд бар

- var sidebarArticle = {}

- sidebarArticle.base = {}


mixin sidebarRecipe(mod, vars)
    ///////
    // Сайд бар
    // Содержимое загружaть отложено
    aside.b-main_col-sidebar.visible-md
        community-add
            .clearfix.margin-b20
                a.btn.btn-block.btn-success.btn-xl(href='#') Добавить рецепт

        .side-block.rubrics
            .side-block_tx Рубрики
            ul
                li.rubrics_li
                    a.rubrics_a Физическое развитие
                    .rubrics_count
                        span.rubrics_count_tx 2 685 321
                li.rubrics_li
                    a.rubrics_a Массаж и гимнастика
                    .rubrics_count
                        span.rubrics_count_tx 685 321
                li.rubrics_li
                    a.rubrics_a Прививки
                    .rubrics_count
                        span.rubrics_count_tx 685 321
                li.rubrics_li
                    a.rubrics_a Проблемы со здоровьем малыша до года
                    .rubrics_count
                        span.rubrics_count_tx 685 321
                li.rubrics_li
                    a.rubrics_a Аллергия, дерматит, сыпь ...
                    .rubrics_count
                        span.rubrics_count_tx 685 322

        .bnr-base
            a(href='#') 
                img(src="#{path}images/example/w300-h250-1.jpg", alt="")

    // Сайд бар

- var sidebarRecipe = {}

- sidebarRecipe.base = {}
