//- userSubscribers
    Подписчики пользователя
    mod     
    vars 
        
mixin userSubscribers(mod, vars)

    .userSubscribers(class=mod)
        span.userSubscribers_tx У моего блога 468 подписчиков
        ul.ava-list
            li.ava-list_li
                +ava('ava__small', ava.a)
            li.ava-list_li
                +ava('ava__small', ava.b)
            li.ava-list_li
                +ava('ava__small', ava.c)
            li.ava-list_li
                +ava('ava__small', ava.b)
            li.ava-list_li
                +ava('ava__small', ava.a)
        a.btn.btn-success.userSubscribers_btn(href="") 
            span.ico-plus.ico-plus__s.ico-plus__white
            | Подписаться

- var userSubscribers = {}