
//- Пейджинатор
mixin pagination(mod)
    // paginator
    .yiipagination(class=mod)
        .pager
            ul.yiiPager
              li.previous
                a(href='')
              li.page
                a(href='') 1
              li.page
                a(href='') 2
              // class .page-points нужно заменить на стандартный класс yii для этого элемента
              li.page-points
                | ...
              li.page
                a(href='') 5
              li.page
                a(href='') 6
              li.page.selected
                a(href='') 7
              li.page
                a(href='') 8
              li.page
                a(href='') 9
              // class .page-points нужно заменить на стандартный класс yii для этого элемента
              li.page-points
                | ...
              li.page
                a(href='') 15
              li.page
                a(href='') 16
              li.next
                a(href='')

    // /paginator

//- Пейджинатор подряд
mixin paginationAll(mod)
    // paginator
    .yiipagination(class=mod)
        .pager
            ul.yiiPager
              li.page
                a(href='') 1
              li.page
                a(href='') 2
              li.page
                a(href='') 5
              li.page
                a(href='') 6
              li.page.selected
                a(href='') 7
              li.page
                a(href='') 8
              li.page
                a(href='') 9
              li.page
                a(href='') 10
              li.page
                a(href='') 11

    // /paginator

//- Пейджинатор обратный отсчет
mixin paginationRevers(mod)
    // paginator
    .yiipagination.yiipagination__revers(class=mod)
        .pager
            // 
            ul.yiiPager
              li.page
                a(href='') 21
              li.page
                a(href='') 20
              li.page.selected
                a(href='') 19
              li.page
                a(href='') 18
              li.page
                a(href='') 17
              li.page
                a(href='') 16
              li.page
                a(href='') 15
              // class .page-points нужно заменить на стандартный класс yii для этого элемента
              li.page-points
                | ...
              li.page
                a(href='') 1
    // /paginator

