/* @layout cosmetic  
---------------------------------------------------------*/
.textdec-none {text-decoration: none !important;}
.textdec-onhover {text-decoration: none !important;}
.textdec-onhover:hover {text-decoration: underline !important;}

.float-r {float:right !important;}
.float-l {float:left !important;}
.float-n {float:none !important;}

.display-n{display:none !important;}
.display-b {display:block !important;}
.display-ib {display: inline-block !important;}
.display-tc {display: table-cell !important;}

.position-abs {position: absolute !important;}
.position-rel {position: relative !important;}
.position-stat {position: static !important;}

.z-index0 {z-index: 0;}
.z-index1 {z-index: 1;}

.margin-0     {margin:0 !important;}
.margin-3     {margin:3px !important;}
.margin-5     {margin:5px !important;}
.margin-10    {margin:10px !important;}
.margin-15    {margin:15px !important;}
.margin-20    {margin:20px !important;}
.margin-t-15  {margin-top: -15px !important;}
.margin-t-10  {margin-top: -10px !important;}
.margin-t0    {margin-top: 0 !important;}
.margin-t3    {margin-top: 3px !important;}
.margin-t5    {margin-top: 5px !important;}
.margin-t10   {margin-top: 10px !important;}
.margin-t12   {margin-top: 12px !important;}
.margin-t15   {margin-top: 15px !important;}
.margin-t18   {margin-top: 18px !important;}
.margin-t20   {margin-top: 20px !important;}
.margin-t30   {margin-top: 30px !important;}
.margin-t40   {margin-top: 40px !important;}
.margin-t50   {margin-top: 50px !important;}
.margin-t60   {margin-top: 60px !important;}
.margin-t75   {margin-top: 75px !important;}
.margin-t90   {margin-top: 90px !important;}
.margin-t95   {margin-top: 95px !important;}
.margin-t100  {margin-top: 100px !important;}
.margin-t110  {margin-top: 110px !important;}
.margin-t145  {margin-top: 145px !important;}
.margin-r5    {margin-right: 5px !important;}
.margin-r10   {margin-right: 10px !important;}
.margin-r15   {margin-right: 15px !important;}
.margin-r20   {margin-right: 20px !important;}
.margin-r40   {margin-right: 40px !important;}
.margin-b0    {margin-bottom: 0 !important;}
.margin-b5    {margin-bottom: 5px !important;}
.margin-b10   {margin-bottom: 10px !important;}
.margin-b15   {margin-bottom: 15px !important;}
.margin-b20   {margin-bottom: 20px !important;}
.margin-b25   {margin-bottom: 25px !important;}
.margin-b30   {margin-bottom: 30px !important;}
.margin-b40   {margin-bottom: 40px !important;}
.margin-b70   {margin-bottom: 70px !important;}
.margin-l-20  {margin-left: -20px !important;}
.margin-l0    {margin-left: 0px !important;}
.margin-l5    {margin-left: 5px !important;}
.margin-l10   {margin-left: 10px !important;}
.margin-l20   {margin-left: 20px !important;}
.margin-l30   {margin-left: 30px !important;}
.margin-l65   {margin-left: 65px !important;}
.margin-l90   {margin-left: 90px !important;}
.margin-l100  {margin-left: 100px !important;}
.margin-l140  {margin-left: 140px !important;}

.padding-0   {padding:0 !important;}
.padding-10  {padding:10px !important;}
.padding-20  {padding:20px !important;}
.padding-t0  {padding-top:0px !important;}
.padding-t10 {padding-top:10px !important;}
.padding-t20 {padding-top:20px !important;}
.padding-r5  {padding-right:5px !important;}
.padding-r20 {padding-right:20px !important;}
.padding-b10 {padding-bottom:10px !important;}
.padding-b20 {padding-bottom:20px !important;}
.padding-b40 {padding-bottom:40px !important;}
.padding-l5  {padding-left:5px !important;}
.padding-l20 {padding-left:20px !important;}

.adap-padding-tb-s20-t30 {
    padding-top: 20px;
    padding-bottom: 20px;

    @media (min-width: @screen-tablet) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.w-100p {width: 100% !important;}
.w-70p {width: 70% !important;}
.w-50p {width: 50% !important;}
.w-30  {width:30px;}
.w-50  {width:50px;}
.w-70  {width:70px !important;}
.w-75  {width:75px !important;}
.w-80  {width:80px !important;}
.w-85  {width:85px !important;}
.w-90  {width:90px !important;}
.w-100 {width:100px;}
.w-110 {width:110px;}
.w-130 {width:130px !important;}
.w-135 {width:135px !important;}
.w-160 {width:160px;}
.w-200 {width:200px;}
.w-240 {width:240px;}
.w-300 {width:300px !important;}
.w-350 {width:350px !important;}
.w-400 {width:400px !important;}
.w-500 {width:500px;}
.w-700 {width:700px;}
.w-720 {width:720px !important;}
.w-830 {width:830px !important;}

.h-40  {height: 40px;}
.h-300 {height: 300px;}

.bg-none {background: none;}
.bg-white {background: #fff;}

.textalign-l{text-align: left !important;}
.textalign-c{text-align: center !important;}
.textalign-r{text-align: right !important;}

.verticalalign-t {vertical-align: top;}
.verticalalign-m {vertical-align: middle;}
.verticalalign-base {vertical-align: baseline;}
.verticalalign-b {vertical-align: bottom;}

// Ставить перед элементом, что выравнивается по центру
.verticalalign-m-help {
    .inline-block();
    vertical-align: middle;
    width: 1px;
    margin: 0 -1px 0 -4px;
    height: 100%;
    font-size: 0;
}
.verticalalign-m-el {
    .inline-block();
    vertical-align: middle;
}

.a-color-gray-light {
    text-decoration: underline;
    color:  @color-gray-light;
    border-color:  @color-gray-light;
    &:hover {
        text-decoration: underline;
        color: @color-gray-dark;
    }
}

.color-brown {color: #d1a770 !important;}
.color-carrot {color: #fe5333 !important;}
.color-gray-darken {color: #333 !important;}
.color-gray-dark {color: #656565 !important;border-color: #656565;}
.color-gray {color: @color-gray !important;border-color: @color-gray;}
.color-gray-light {color: @color-gray-light !important;border-color: @color-gray-light;}
.color-white {color: #fff !important;border-color: #fff;}
.color-brown {color: #d1a770 !important;}

.font-xs  {font-size:9px !important;line-height: 11px !important;font-family: Tahoma, Arial, Verdana, sans-serif;}
.font-s   {font-size:11px !important;line-height: 14px;font-family: Tahoma, Arial, Verdana, sans-serif;}
.font-n   {font-size:12px !important;line-height: 1.4em;font-family:  Arial,Tahoma, Verdana, sans-serif;}
.font-m   {font-size:14px !important;}
.font-l   {font-size:16px !important;line-height: 20px !important;}

.fontweight-b {font-weight: bold;}
.fontweight-n {font-weight: normal;}
.fontstyle-i {font-style: italic;}
.fontstyle-n {font-style: normal;}

.opacity-0   {opacity: (0);filter: alpha(opacity=00);}
.opacity-10  {opacity: (0.1);filter: alpha(opacity=10);}
.opacity-20  {opacity: (0.2);filter: alpha(opacity=20);}
.opacity-40  {opacity: (0.4);filter: alpha(opacity=40);}
.opacity-50  {opacity: (0.5);filter: alpha(opacity=50);}
.opacity-60  {opacity: (0.6);filter: alpha(opacity=60);}
.opacity-80  {opacity: (0.8);filter: alpha(opacity=80);}
.opacity-100 {opacity: (1);filter: alpha(opacity=100);}

.bordered {
    .bordered(#E4E4E4);
}

.clearfix {
    &:before,
    &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }
    &:after {clear: both;}
}

.disabled {cursor:default !important;}
/* /cosmetic layout */
