include ../../../block/config
extend ../../../extend/layout_base
block vars
    - var bodyClass = 'body__bg1 body__lite';
    - global.cssFile = 'services.css'; 

block layout

    // b-main 
    .b-main.clearfix
    
        .b-main_cont
            .b-crumbs.b-crumbs__s
                .b-crumbs_tx Я здесь:
                ul.b-crumbs_ul
                    li.b-crumbs_li
                        a.b-crumbs_a(href='#') Главная 
                    li.b-crumbs_li
                        a.b-crumbs_a(href='#') Календарь беременности 
                    li.b-crumbs_li.b-crumbs_li__last
                        span.b-crumbs_last 3 неделя беременности 

        .b-main_cont 
            .b-main_col-wide    
                h1.heading-link-xxl.heading-link-xxl__center 3 неделя беременности
        .b-main_row.b-main_row__blue-light
            .b-main_cont
                .b-main_col-article.b-main_col-article__center
                    p.a-span Третья неделя беременности, это, по своей сути – первая неделя беременности, как таковой. Однако, чтобы не путаться, будем придерживаться общепринятой системы.
        .b-main_cont 
            .b-main_col-article.b-main_col-article__center
                .wysiwig-content
                    h2.heading-m Зигота
                    p После слияния со сперматозоидом, яйцеклетка, ещё в маточной трубе, по пути в матку начинает делиться. Теперь это зигота – скопление клеток, именно она попадает обычно в полость матки. Зигота как бы приклеивается к эндометрию. Начинается процесс имплантации – оплодотворенная яйцеклетка внедряется в маточную стенку. При этом её наружная оболочка как бы прорастает в стенку матки, начинают формироваться сосуды, которые будут питать развивающийся организм. Теперь он, кстати, называется эмбрионом и его вес к концу третьей недели составляет менее трети грамма.

        .b-main_row.b-main_row__pink-lite
            .b-main_cont
                .b-main_col-article.b-main_col-article__center
                    h2 На 3 неделе беременности
                    ul
                        li Начинается первая неделя фактической
                        li беременности
                            Оплодотворенная яйцеклетка внедряется в стенку матки
                            Формируется эмбрион, который к концу недели весит
                            меньше трети грамма
                            Базальная температура стойко держится
                            выше 37 градусов по Цельсию
                            40% беременностей самопроизвольно прерываются
                            именно на этом сроке
                            Аптечный тест на беременность - отрицательный


        .b-main_cont
            .conv-pregnancy.visible-md-block
                .conv-pregnancy_hold
                    .conv-pregnancy_tx Здесь вы можете узнать тысячи советов по беременности, и услышать реальные истории других будущих мам. Вы не одиноки. 
                    a.btn.btn-success.btn-xl(href='#') Присоединяйтесь!

    // b-main 
    +layout-footer-lite()

