include ../../../block/config
extend ../../../extend/layout_base
block vars
    - var bodyClass = 'body__bg1 body__lite';
    - global.cssFile = 'services.css'; 

block layout

    // b-main 
    .b-main.clearfix
    
        .b-main_cont
            .b-crumbs.b-crumbs__s
                .b-crumbs_tx Я здесь:
                ul.b-crumbs_ul
                    li.b-crumbs_li
                        a.b-crumbs_a(href='#') Главная 
                    li.b-crumbs_li.b-crumbs_li__last
                        span.b-crumbs_last Календарь беременности

        .b-main_cont 
            .b-main_col-wide    
                h1.heading-link-xxl.heading-link-xxl__center Календарь беременности
        .b-main_row.b-main_row__blue-light
            .b-main_cont 
                .b-main_col-wide.tx-content
                    p.a-span Наш календарь является отличным инструментом, который позволяет отслеживать вашу беременность шаг за шагом, неделя за неделей. С помощью его вы узнаете, когда сможете почувствовать первый удар вашего малыша, а когда увидеть его на первом снимке в кабинете УЗИ. Вы будете поражены, узнав насколько удивительно это путешествие в 40 недель – от нескольких клеток до полностью сформированного маленького человечка.
        .b-main_row.b-main_row__pink
            .b-main_cont 
                .b-main_col-wide.color-white
                    h2.heading-m.textalign-c.margin-0 Выберите период вашей беременности
        .b-main_row.b-main_row__pink-light
            .b-main_cont
                // Календарь 
                .calendar-serv.calendar-serv__pink
                    .calendar-serv_row.textalign-c
                        a.calendar-serv_i.w-160(href='#') Планирование
                    .calendar-serv_row
                        .calendar-serv_col-trimester
                            .calendar-serv_t 1 триместр 
                            ul.calendar-serv_ul.calendar-serv_ul__column.clearfix
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 1 
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 2 
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 3 
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 4  
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 5 
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 6 
                                        span.calendar-serv_desc-hide неделя  
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 7 
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 8 
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 9  
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 10  
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 11 
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 12  
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 13  
                                        span.calendar-serv_desc-hide неделя 
                    
                        .calendar-serv_col-trimester
                            .calendar-serv_t 2 триместр 
                            ul.calendar-serv_ul.calendar-serv_ul__column.clearfix
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 14 
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 15 
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 16 
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 17 
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 18 
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 19 
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 20 
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 21 
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 22 
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 23 
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 24  
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 25   
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 26  
                                        span.calendar-serv_desc-hide неделя 
                    
                        .calendar-serv_col-trimester
                            .calendar-serv_t 3 триместр 
                            ul.calendar-serv_ul.calendar-serv_ul__column.clearfix
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 27 
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 28 
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 29 
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 30 
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 31 
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 32 
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 33 
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 34 
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 35 
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 36 
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 37 
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 38 
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 39 
                                        span.calendar-serv_desc-hide неделя 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 40 
                                        span.calendar-serv_desc-hide неделя 
                    .calendar-serv_row.textalign-c
                        a.calendar-serv_i.w-135(href='#') Роды
                // Календарь 

        .b-main_cont
            .conv-pregnancy.visible-md-block
                .conv-pregnancy_hold
                    .conv-pregnancy_tx Здесь вы можете узнать тысячи советов по беременности, и услышать реальные истории других будущих мам. Вы не одиноки. 
                    a.btn.btn-success.btn-xl(href='#') Присоединяйтесь!

    // b-main 
    +layout-footer-lite()

