include ../../block/config
extend ../../extend/layout_im

block layout-wrapper_hold
    
    // im 
    .im
        +js-im
        .im_hold.clearfix
            // im-sidebar
            section.im-sidebar.clearfix
                .im-sidebar_panel
                    +side-menu__im("side-menu__im")
                    .im-sidebar_sound
                        a.im-sidebar_sound-ico.inactive(href="")
                .im-sidebar_users
                    +im-sidebar_search()
                    +im-user-list("", {usersCount: 20})
            // /im-sidebar
    
            // im-center
            section.im-center
                .im-center_top
                    +im-panel("", {friend: "friend__add"})
                .im-center_middle
                    .scroll
                        .im-center_middle-hold.scroll_scroller
                            .im-center_middle-w.scroll_cont
                                .im_loader
                                    img.im_loader-img(src='/images/ico/ajax-loader.gif', alt='')
                                    span.im_loader-tx Загрузка ранних сообщений
                                
                                +im-message("", {mod_name: "im-message_name__self", bControl: ['favorite', 'delete', 'spam']})
                                +im-message("", {mod_name: "im-message_name__friend", bControl: ['favorite', 'delete', 'spam']})
                                +im-message("", {mod_name: "im-message_name__self", bControl: ['delete']})
                                +im-message("im-message__stick", {mod_name: "im-message_name__self", bControl: ['favorite', 'delete', 'spam']})
                                +im-message("im-message__stick", {mod_name: "im-message_name__self", bControl: ['favorite', 'delete', 'spam']})
                                +im-message("im-message__stick", {mod_name: "im-message_name__self", msgStatus: 'delete'})
                                +im-message("im-message__stick", {mod_name: "im-message_name__self", msgStatus: 'cancel'})
                                +im-message("im-message__stick", {mod_name: "im-message_name__self", bControl: ['delete']})
                                +im-message(
                                    "im-message__new im-message__stick", 
                                    {
                                        mod_name: "im-message_name__self", 
                                        bControl: ['edit', 'cancel']
                                    }
                                )
                                +im-message("", {mod_name: "im-message_name__friend", bControl: ['favorite', 'delete', 'spam']})
                                // im_loader есть всегда, на разные действия в нем менятеся содержимое
                                .im_loader
                                    img.im_loader-img(src='/images/ico/ajax-loader.gif', alt='')
                                    span.im_loader-tx Отправляем сообщение
                                .im_loader
                                    span.im_loader-tx Олег печатает вам сообщение
                                    img.im_loader-anim(src='/new/images/im/im-message_loader__write.png', alt='')
                                .im_loader
                                    span.im_loader-tx
                                        span.errorMessage Сообщение отправить не удалось. Попробуйте повторить попытку через несколько секунд.
                        .scroll_bar-hold
                            .scroll_bar
                                .scroll_bar-in
                
                - var imCenter_bottom = {wisywig: true}
                +im-center_bottom("", imCenter_bottom)
        
            // /im-center
    // /im
        