include ../../block/config
extend ../../extend/layout_im

block layout-wrapper_hold
    // im
    .im
        +js-im
        .im_hold.clearfix
            // im-sidebar
            section.im-sidebar.clearfix
                .im-sidebar_panel
                    +side-menu__im("side-menu__im")
                    .im-sidebar_sound
                        a.im-sidebar_sound-ico(href="")
                .im-sidebar_users
                    +im-sidebar_search()
                    +im-user-list("", {empty: true})
            // /im-sidebar

            // im-center
            section.im-center
                .im-center_top
                    +im-panel("", {friend: "friend"})
                .im-center_middle
                    .scroll
                        .im-center_middle-hold.scroll_scroller
                            .im-center_middle-w.scroll_cont
                                .im_loader
                                +im-message("", {mod_name: "im-message_name__friend", bControl: ['favorite', 'delete', 'spam']})
                                +im-message("im-message__edited", {mod_name: "im-message_name__self", bControl: ['delete']})
                                +im-message("", {mod_name: "im-message_name__self", bControl: ['edit', 'cancel'], imMessage_tx : "<p>Прошу вас не ставить в ваши темы активные ссылки, а ставить картинки, так как правилами сайта активные ссылки на посторонние порталы запрещены, и будут удалены.</p><img src='http://img.happy-giraffe.ru/thumbs/580x1000/241994/e1796839933d137f85bae1e7136351fa.jpg' class='content-img' title='ПРИТЧА ПРО ОСЛА фото 1' alt='ПРИТЧА ПРО ОСЛА фото 1'>"})
                                .im_loader
                                    span.im_loader-tx Олег печатает вам сообщение
                                    img.im_loader-anim(src='/new/images/im/im-message_loader__write.png', alt='')
                        .scroll_bar-hold
                            .scroll_bar
                                .scroll_bar-in
                +im-center_bottom("", {wisywig: true})
            
            // /im-center
    // /im
