include ../../block/config
extend ../../extend/layout_im

block layout-wrapper_hold
    // im
    .im
        +js-im
        .im_hold.clearfix
            // im-sidebar
            section.im-sidebar.clearfix
                .im-sidebar_panel
                    +side-menu__im("side-menu__im")
                    .im-sidebar_sound
                        a.im-sidebar_sound-ico(href="")
                .im-sidebar_users
                    +im-sidebar_search()
                    +im-user-list("", {userLoad: true, usersCount: 5})
            // /im-sidebar

            // im-center
            section.im-center
                +cap-empty("cap-empty__abs cap-empty__im-ava", {t: 'Для того, чтобы начать диалог необходимо <br /> загрузить свое главное фото', txSub: '<a href="" class="file-fake_btn btn-green btn-m">Загрузить фото</a>'})
                .im-center_top
                    +im-panel("", {friend: "friend__added"})
                .im-center_middle
                    .scroll
                        .im-center_middle-hold.scroll_scroller
                            .im-center_middle-w.scroll_cont
                                .im_loader
                                .im_loader
                        .scroll_bar-hold
                            .scroll_bar
                                .scroll_bar-in
                +im-center_bottom("", {})
                
            // /im-center
    // /im