include ../../block/config
extend ../../extend/layout

block layout-wrapper_hold
    .margin-20
        h2 Быстрые сообщения
        a.popup-a(href="#msg-fasst-base") Написание бастрого сообщения
        br



block block-hidden 
    #msg-fasst-base.msg-fast.popup
        .msg-fast_hold
            .msg-fast_top
                .popup_close
                .msg-fast_t Написать сообщение
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br 
                |234234
                br
                br
                br
                br
                br
                | werert
                br
                br
                br
                br
                br
                br
                | werert
