include ../../../block/config
extend ../../../extend/layout_base
block vars
    - var bodyClass = 'body__bg1 body__lite';
    - global.cssFile = 'services.css'; 

block layout

    // b-main 
    .b-main.clearfix
        .b-consult-top
          .b-consult-top__t
            h1.b-consult-top__title Консультация
            .b-consult-top__text
              | Обсуждаем проблему <br />
              | недостатка грудного молока
        .b-main_cont
          .b-main_col-hold.clearfix
            .b-main_col-article
              .b-consult-bubble
                .b-consult-bubble-text Грудное молоко – естественное и наиболее правильное питание для новорождённого. Но иногда у молодых мам возникают проблемы с грудным вскармливанием: молока становится меньше, чем требуется малышу, либо оно совсем пропадает. Причины могут быть разные, но самыми частыми считаются кесарево сечение, позднее и неправильное прикладывание к груди, преждевременные роды, стресс и переутомление. Как понять, хватает ли ребёнку молока? Как наладить процесс лактации, чтобы малыш всегда был сыт? Как правильно давать грудь?
                .b-consult-bubble-who
                  | Ответы на эти и другие вопросы вы можете узнать у <br />
                  | специалиста по грудному вскармливанию, врача-педиатра, <br />
                  | кандидата медицинских наук, научного сотрудника <br />
                  | Научно-исследовательского клинического института педиатрии ГБОУ ВПО РНИМУ им. Н.И. Пирогова <br />
                  | Морозова Сергея Леонидовича. 
              .b-consult-qa.comments__buble
                .b-consult-qa-title Вопросы и ответы
                .b-consult-qa-ms
                  .b-consult-qa-ms__question.comments_li__lilac
                    .b-consult-qa-ms__img
                      +ava("ava__female ava__small-xxs ava__middle-xs ava__middle-sm-mid ", ava.a)
                    .b-consult-qa-mst
                      a.b-consult-qa-ms__name(href="#") Татьяна Зарубина
                      time(datetime="2015-03-23T23:03:25+04:00", class="tx-date") 23 марта
                      .b-consult-qa-ms__message.comments_cont
                        .b-consult-qa-ms__message__title Молочная жидкость
                        .b-consult-qa-ms__message__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit ea vero nihil illum, deleniti veniam sit sed dignissimos, cum necessitatibus architecto modi, consectetur laborum animi? Sed eos magni, suscipit quas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit ea vero nihil illum, deleniti veniam sit sed dignissimos, cum necessitatibus architecto modi, consectetur laborum animi? Sed eos magni, suscipit quas.
                  .b-consult-qa-ms__answer.comments_li__red
                    .b-consult-qa-ms__img
                      +ava("ava__female ava__small-xxs ava__middle-xs ava__middle-sm-mid ", ava.a)
                    .b-consult-qa-mst
                      a.b-consult-qa-ms__name(href="#") Сергей Леонидович
                      time(datetime="2015-03-23T23:03:25+04:00", class="tx-date") 5 часов назад
                      .b-consult-qa-ms__message.comments_cont
                        .b-consult-qa-ms__message__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit ea vero nihil illum, deleniti veniam sit sed dignissimos, cum necessitatibus architecto modi, consectetur laborum animi? Sed eos magni, suscipit quas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit ea vero nihil illum, deleniti veniam sit sed dignissimos, cum necessitatibus architecto modi, consectetur laborum animi? Sed eos magni, suscipit quas.
                        a(href="#") Читать весь ответ

                        
                .b-consult-qa-ms
                  .b-consult-qa-ms__question.comments_li__lilac
                    .b-consult-qa-ms__img
                      +ava("ava__female ava__small-xxs ava__middle-xs ava__middle-sm-mid ", ava.a)
                    .b-consult-qa-mst
                      a.b-consult-qa-ms__name(href="#") Татьяна Зарубина
                      time(datetime="2015-03-23T23:03:25+04:00", class="tx-date") 23 марта
                      .b-consult-qa-ms__message.comments_cont
                        .b-consult-qa-ms__message__title Молочная жидкость
                        .b-consult-qa-ms__message__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit ea vero nihil illum, deleniti veniam sit sed dignissimos, cum necessitatibus architecto modi, consectetur laborum animi? Sed eos magni, suscipit quas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit ea vero nihil illum, deleniti veniam sit sed dignissimos, cum necessitatibus architecto modi, consectetur laborum animi? Sed eos magni, suscipit quas.
                    
                .b-consult-qa-ms
                  .b-consult-qa-ms__question.comments_li__lilac
                    .b-consult-qa-ms__img
                      +ava("ava__female ava__small-xxs ava__middle-xs ava__middle-sm-mid ", ava.a)
                    .b-consult-qa-mst
                      a.b-consult-qa-ms__name(href="#") Татьяна Зарубина
                      time(datetime="2015-03-23T23:03:25+04:00", class="tx-date") 23 марта
                      .b-consult-qa-ms__message.comments_cont
                        .b-consult-qa-ms__message__title Молочная жидкость
                        .b-consult-qa-ms__message__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit ea vero nihil illum, deleniti veniam sit sed dignissimos, cum necessitatibus architecto modi, consectetur laborum animi? Sed eos magni, suscipit quas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit ea vero nihil illum, deleniti veniam sit sed dignissimos, cum necessitatibus architecto modi, consectetur laborum animi? Sed eos magni, suscipit quas.
                  .b-consult-qa-ms__answer.comments_li__red
                    .b-consult-qa-ms__img
                      +ava("ava__female ava__small-xxs ava__middle-xs ava__middle-sm-mid ", ava.a)
                    .b-consult-qa-mst
                      a.b-consult-qa-ms__name(href="#") Сергей Леонидович
                      time(datetime="2015-03-23T23:03:25+04:00", class="tx-date") 5 часов назад
                      .b-consult-qa-ms__message.comments_cont
                        .b-consult-qa-ms__message__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit ea vero nihil illum, deleniti veniam sit sed dignissimos, cum necessitatibus architecto modi, consectetur laborum animi? Sed eos magni, suscipit quas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit ea vero nihil illum, deleniti veniam sit sed dignissimos, cum necessitatibus architecto modi, consectetur laborum animi? Sed eos magni, suscipit quas.
                        a(href="#") Читать весь ответ
                        
              +paginationSmall('yiipagination__center', paginationSmall.base)
            .b-main_col-sidebar.visible-md
              .b-consult-specialist
                .b-consult-specialist__img
                  img(src="/lite/images/services/consult/consult-man.png", alt="")
                .b-consult-specialist__name Морозов Сергей Леонидович
                .b-consult-specialist__position Врач-педиатр
                .b-consult-specialist__edu 
                 | Кандидат медицинских наук, <br />
                 | научный сотрудник Научно-исследовательского <br />
                 | клинического института педиатрии <br />
                 | ГБОУ ВПО РНИМУ им. Н.И. Пирогова 
                a.b-consult-button(href="#") Задать вопрос        
    // b-main 
    +layout-footer-lite()
