// Переменные и примешивания
@import "/include/variables.less";
@import "/include/mixins.less";

// Проектный слой
@import "/project/aside-filter.less";
@import "/project/favorites.less";
@import "/project/im.less";
@import "/project/user-notice.less";

// services
@import "/project/services/cook.less";
@import "/project/services/decree-time.less";
@import "/project/services/disease.less";
@import "/project/services/embroidery.less";
@import "/project/services/hair-type.less";
@import "/project/services/horoscope.less";
@import "/project/services/names.less";
@import "/project/services/repair.less";
@import "/project/services/test-pregnancy.less";
@import "/project/services/test-prikorm.less";

.entry-hold {margin-bottom: 30px;}
.entry-hold .entry {margin-bottom: 0;padding-bottom: 0;}
.entry{display:block;background:#fff;width:100%;padding:0 0 10px;margin-bottom:30px;}
.entry.entry-full{padding-bottom:0;border:0;}
.entry .entry-header{display:block;background:#fff;}
.entry a.entry-title,
.entry h1{display:block;font:bold 25px Arial,Tahoma,sans-serif;color:#0281b0;margin:0 0 15px;}
.entry a.entry-title {display: inline-block;}
.entry-footer{font-size:12px;}

.entry-body {position:relative;padding-top:75px;}
.entry-body .entry-content {}
.entry-body .entry-header {position:absolute;top:0;left:0;width:100%;}

.entry .entry-header .where {float:left;}
.entry .entry-header .where span {display:inline-block;*zoom:1;*display:inline;vertical-align:middle;font-size:22px;color:#535454;padding-right:10px;}
.entry .entry-header .where .map-box {display:inline-block;*zoom:1;*display:inline;vertical-align:middle;}
.entry .entry-header .where .map-box img {display:block;}
.entry .entry-header .username {width: 120px;}
.entry .entry-header .favorites-control {margin: 2px 10px 0 5px;}

.entry-tags {
    .inline-block();
    position: relative;
    padding: 4px 50px 4px 11px;
    font-size: 11px;
    &:hover {background: #f1f8fe;}
    &:hover &_edit-a {display: block;}

    &_row {
        padding: 0;
    }
    &_t {
        font: italic 12px/20px Georgia, 'Times New Roman', Times, serif;
        color: #6c6e6f;
    }
    &_tag {
        .inline-block();
        margin: 0 10px;
    }
    &_tx {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: italic;
        color: #a9a8a8;
    }
    &_edit {
        position: absolute;
        top: 50%;
        right: 10px;
        margin: -10px 0 0;
    }
    &_edit .favorites-add-popup {
        top: -10px;
        right: 30px;
    }
    &_edit-a {
        display: none;
        width: 20px;
        height: 20px;
        background: url(/images/entry-tags_edit.png) no-repeat 50% 50%;
    }
}

.entry .disease-title {margin-bottom:15px;}
.entry .disease-title span {font-size:11px;color:#343434;margin-right:5px;}

.entry .traditional-recipes-ingredients {background:#f2fce8;width:270px;float:left;padding:15px;}
.entry .traditional-recipes-ingredients .block-title {font-size:14px;font-weight:bold;color:#2e2e2e;margin-bottom:10px;}
.entry .traditional-recipes-ingredients .block-title .icon {display:inline-block;*zoom:1;*display:inline;width:23px;height:23px;background:url(/images/common.png) no-repeat -563px -301px;vertical-align:middle;margin-right:5px;}
.entry .traditional-recipes-ingredients ul {list-style:disc;padding-left:20px;}
.entry .traditional-recipes-ingredients ul li {margin:10px 0;}
.traditional-recipes-title {padding:45px 30px;background:url(/images/bg_traditional_recipes_title.jpg) no-repeat right;height:58px;border:1px solid #e9e8ea;font-size:50px;line-height:1;color:#383838;margin-bottom:20px;}

.redactor-panel {
    display: inline-block;*zoom:1;*display:inline;
    vertical-align: middle;
}
.redactor-panel .ico-redactor {margin: 0 3px;}

.entry-content {margin:20px 0 10px;position: relative;}

.entry-content ul.tr_map {
    display: block;
    padding: 30px 0 30px 30px;
}
.entry-content ul.tr_map li {
    float: left;
    padding: 0 10px 0 0;
    color: #7d7d7d;
}
.entry-content ul.tr_map li span {
    position: relative;
    top: -18px;
    display:inline-block; *zoom:1;*display:inline;
    width: 20px;
    height: 32px;
    background: url(../images/map_marker.png) 0 0 no-repeat;
    text-align: center;
    color: #fff;
    font: bold 10px/20px arial, sans-serif;
}
.entry-content ul.tr_map li ins {
    font: bold 12px/18px tahoma, sans-serif;
    color: #535252;
    background: #f6f5b3;
    display:inline-block; *zoom:1;*display:inline;
    padding: 0 5px;
}
.entry-content ul.tr_map li ul li {
    display: block;
    float: none;
    margin: 0 0 10px 0;
}
.entry p.image.left {
    display: block;
    float: left;
    padding: 0px 10px 5px 0;
}
.entry p.image.right {
    display: block;
    float: right;
    padding: 0px 0px 5px 10px;
}
.entry .entry-footer .source {
    display: block;
    background: #d8fbff;
    width: auto;
    float: left;
    padding: 3px 18px;
    color: #777;
}
.entry .entry-footer .source img {margin: 0px 3px -3px;}
.entry .entry-footer .spam {
    display: block;
    background: #ff5656;
    width: auto;
    float: right;
    margin-top: 4px;
    clear: right;
}
.entry .entry-footer .spam a {
    padding: 1px 15px 4px;
    color: #fff;
    text-decoration: none;
    background: #ff5656;
    display: block;
}
.entry .entry-footer .spam a span {border-bottom: 1px dashed #fff;}
.entry .entry-footer .comm {
    display: block;
    float: right;
    width: auto;
    font: 11px tahoma, sans-serif;
    color: #737575;
}
.entry .entry-footer a.comm {color: #0281b0;}
.entry .entry-footer span.comm {float:right;padding-top:4px;}
.entry .entry-footer .admin-actions {float:right;margin-right:35px;background:#f7f7f7;padding:3px 9px;margin-top:-2px;}
.entry .entry-footer .admin-actions .edit {display:inline-block;*zoom:1;*display:inline;vertical-align:middle;margin-right:5px;}
.entry .entry-footer .admin-actions .edit .icon {display:inline-block;*zoom:1;*display:inline;width:14px;height:18px;background:url(../images/common.png) no-repeat -383px -204px;margin:2px auto 0;}
.entry .entry-footer .admin-actions .edit:hover .icon {background-position: -341px -136px;}
.entry .entry-footer .admin-actions .move {color:#bebdbd;text-decoration:none;border-bottom:1px dashed #bebdbd;}
.entry .entry-footer .admin-actions .move:hover {color:#029ad2;border-color:#029ad2;}
.entry .entry-footer .admin-actions .remove {display:inline-block;*zoom:1;*display:inline;vertical-align:middle;margin-left:5px;}
.entry .entry-footer .admin-actions .remove .icon {display:inline-block;*zoom:1;*display:inline;width:12px;height:14px;background:url(/images/common.png) no-repeat -314px -135px;vertical-align:middle;position:relative;top:-1px;}
.entry .entry-footer .admin-actions .remove:hover .icon {background-position:-314px -148px;}
.entry .entry-footer .claim {color:#f56b95;font-size:13px;text-decoration:none;border-bottom:1px dashed #f56b95;margin-right:25px;}
.entry .entry-footer .claim:hover {border:0;}
.entry .entry-footer .comm span {font-size: 12px;}

/* wysiwyg */

#wysiwygAddSmile {width:500px;}
#wysiwygAddSmile table {width:100%;}
#wysiwygAddSmile table td {width:12%;padding:10px 0;text-align:center;vertical-align:middle;}

#wysiwygAddLink {width:260px;}
#wysiwygAddLink .row {padding-bottom:10px;}
#wysiwygAddLink .row label {font-size:16px;font-style:italic;font-family:arial, helvetica, sans-serif;color:#4e4e4e;}
#wysiwygAddLink .row input[type=text] {border:1px solid #ece4f4;height:auto;padding:2px 5px;color:#333;margin-top:8px;font-size:12px;font-weight:normal;width:248px;}
#wysiwygAddLink .bottom {padding-top:5px;margin:0;}

#wysiwygRemoveLink {width:260px;}
#wysiwygRemoveLink .title {margin:20px 0 30px;text-align:center;}


.wysiwyg-content {font-size:13px;line-height:19px;color:#000;}
.wysiwyg-content h2 {color:#0281b0;font-size:18px;line-height:normal;margin:0 0 10px;}
.wysiwyg-content h3 {line-height:normal;font-size:14px;line-height:normal;color:#2e2e2e;margin:0 0 10px;}
.wysiwyg-content p {margin-bottom:15px;}
.wysiwyg-content p img.content-img {margin-right:20px;float:left !important;}
.wysiwyg-content ul {list-style:disc inside;padding-left:5px;padding-bottom:12px;}
.wysiwyg-content ol {list-style:decimal inside;padding-left:5px;padding-bottom:12px;}
.wysiwyg-content ol li,
.wysiwyg-content ul li {margin-bottom:9px;}
.wysiwyg-content a {text-decoration:none;}
.wysiwyg-content a:hover {text-decoration:underline;}
.wysiwyg-content img.content-img-left {margin-right:20px;float:left;max-width:300px;}
.wysiwyg-content img.content-img-right {margin-left:20px;float:right;max-width:300px;}
.wysiwyg-content img {margin-top:10px;}
.wysiwyg-content .brushed{ background: none repeat scroll 0 0 #FCFBD5; margin: 20px 0; padding: 10px;}
.wysiwyg-content.side {margin-left:330px;padding-top:15px;}

/* */

.content-more {padding-bottom:20px;}
.content-more big.title, .photo-block big.title {
    color: #0281b0;
    font: bold 20px Arial, Tahoma, sans-serif;
    display: block;
}
.content-more big.title .btn, .photo-block  big.title .btn {
    display:inline-block;*zoom:1;*display:inline;
    margin: 0px 0px 0 30px;
    position: relative;
}
.content-more .block {
    float: left;
    padding: 10px 15px 0 0;
    width: 215px;
    font-size: 11px;
    line-height: 16px;
}
.content-more img {max-width:215px;}
.content-more .block h3 {
    font: 11px tahoma, sans-serif;
    line-height: 17px;
}
.content-more .block  a {
    display:inline-block;*zoom:1;*display:inline;
    margin-bottom:5px;
}

.button_panel {
    width: 100%;
    text-align: center;
}
.button_panel .btn-green,
.button_panel .btn { margin: 0 5px;}

.left-inner{display:block;background:#fff;padding-top:25px;width:240px;min-height:100%;float:left;}
.left-inner.mirror{display:block;background:#fff;padding-top:25px;width:310px;min-height:100%;float:right;}
.left-inner ul.leftadd{background:#FFFDDF;list-style-type:none;padding:10px 20px 7px;margin:5px 0 0;text-align:left;}
.left-inner li{padding:0 0 4px;}
.left-inner li a{text-decoration:underline;font:bold 14px Arial,Helvetica,sans-serif;}
.left-inner li a.current{background:#ffea90;}
.left-inner .add{display:block;width:100%;margin:0 0 10px;}
.left-inner .add li a{color:#0281b0;}
.left-inner .leftbanner a{display:block;margin:20px 0;}

.right-inner{display:block;background:#FFF;padding:25px 0 0 15px;margin:0;width:700px;float:left;}
.right-inner.mirror{display:block;background:#FFF;padding:25px 0 0 5px;margin:0;width:630px;float:left;}

.photo-list{padding:20px 0;text-align:left;}
.photo-list li{display:block;float:left;padding:5px;text-indent:0!important;color:#626161;font:italic 10px Arial, Helvetica, sans-serif;width:170px;}
.photo-list li .img-box{text-align:center;position:relative;background:#fafafa;text-align:center;display:table-cell;width:170px;vertical-align:bottom;}
.photo-list li .img-box img{display:block;max-width:170px;max-height:180px;margin:auto;}
.photo-list .item-title{background:#ededed;padding:5px;display:block;text-align:center;}
.photo-list .mark{background:#fffedf;display:block;font:10px Arial, Helvetica, sans-serif;color:#7a7b7b;text-align:right;padding:3px 12px;float:right;}
.photo-list .mark span{font:bold 11px tahoma, sans-serif;color:#fb7a03;}

.inner.contest.list .content-title{float:left;}

.settings .sel .btn{margin-top:7px;margin-left:10px;}


/* morning */
.morning-entry {}
.morning-entry .entry-header {overflow:hidden;}
.morning-entry .entry-content img {max-width:100%;}

.entry .morning-images {}
.entry .morning-images img {display:block;}
.entry .morning-images .big {}
.entry .morning-images .big img {max-width:100%;}
.entry .morning-images .thumbs {padding-top:4px;}
.entry .morning-images .thumbs ul {list-style:none;}
.entry .morning-images .thumbs ul li {float:left;padding-right:4px;}
.entry .morning-images .thumbs ul li img {height:140px;}
.entry .morning-images .thumbs ul li .more {color:#b9b9b9;font-size:13px;padding-top:30px;float:left;text-decoration:none;margin-left:10px;max-width:100px;text-align:center;width:100px;}
.entry .morning-images .thumbs ul li .more .icon {display:block;width:56px;height:56px;background:url(../images/common.png) no-repeat -499px -135px;margin:0 auto;margin-bottom:10px;}
.entry .morning-images .thumbs ul li .more:hover .icon {background-position:-499px -193px;}
.entry .morning-images .thumbs ul li .more:hover {color:#7abc2e;text-decoration:underline;}

.morning-sidebar {border:1px solid #f0eaf6;float:left;width:238px;margin-right:20px;}

.morning-sidebar .banner {}
.morning-sidebar .banner img {display:block;}

.morning-sidebar .calendar {padding:15px;line-height:normal;}
.morning-sidebar .calendar .days {float:left;width:102px;}
.morning-sidebar .calendar .days table thead td {color:#4c4c4c;font-size:22px;text-align:center;}
.morning-sidebar .calendar .days table tbody td {width:34px;text-align:center;height:28px;font-size:16px;line-height:28px;}
.morning-sidebar .calendar .days table tbody td a {color:#a3a3a2;}
.morning-sidebar .calendar .days table tbody td {color:#a3a3a2;}
.morning-sidebar .calendar .days table tbody td a:hover {text-decoration:none;}
.morning-sidebar .calendar .days table tbody td.active {background:#fff3a0;}
.morning-sidebar .calendar .days table tbody td.active a {color:#5d5c5c;font-weight:bold;text-decoration:none;}
.morning-sidebar .calendar .date {font-size:35px;color:#ba9ad9;font-weight:bold;text-align:center;text-transform:uppercase;line-height:1;margin-left:110px;}
.morning-sidebar .calendar .date span {font-size:80px;display:block;}
.morning-sidebar .calendar .nav {height:70px;position:relative;}
.morning-sidebar .calendar .nav a {display:block;width:25px;height:33px;background:url(/images/common.png) no-repeat 25px 33px;position:absolute;top:50%;margin-top:-16px;}
.morning-sidebar .calendar .nav a.prev {background-position:-186px -165px;left:25px;}
.morning-sidebar .calendar .nav a.prev:hover {background-position:-159px -165px;}
.morning-sidebar .calendar .nav a.next {background-position:-213px -165px;right:25px;}
.morning-sidebar .calendar .nav a.next:hover {background-position:-240px -165px;}

.morning-main {width:700px;float:right;}
#morning.morning-wide .morning-main {width:960px;}
#morning.morning-wide .morning-sidebar {display:none;}

#morning.morning-wide .morning-main .entry .entry-content img {width: 1000px;}
/* /morning */

/* test */
.test {border:1px solid #fff;margin-bottom:30px;}
.test .step {position:relative;}
.test .step > img {position:relative;z-index:1;}
.test .step-in {position:absolute;z-index:2;}

.test .step .question .q-options {list-style:none;}
.test .step .question .q-options li {padding:8px 0;}
.test .step .question .q-options label {font-size:22px;color:#969696;cursor:pointer;}
.test .step .question .q-options label:hover {color:#5d5c5c;}
.test .step .question .q-options label:active {color:#8b5fb5;}
.test .step .question .q-options label span {}

.test .step .your_res{display: none;}
.test .step .your_rec{display: none;}
/* /test */

/* giraffe-story */
.giraffe-story {
    margin: 20px 0 0;
    padding: 0 0 80px;
    background: url(/images/giraffe-story.png) no-repeat -1398px 100%;
}
.giraffe-story-frame {
    padding: 30px 0 0;
    background: url(/images/giraffe-story.png) no-repeat -699px 0;
}
.giraffe-story-holder {
    padding: 0 40px 0 30px;
    background: url(/images/giraffe-story.png) repeat-y 0 0;
}
.giraffe-story-title {
    margin: 0 -10px 18px;
    padding: 0;
    font-size: 30px;
    line-height: 30px;
    color: #2e2e2e;
    text-align: center;
}
.giraffe-story-title > span {background: #fef67b;padding: 0 3px;}
.giraffe-story-img {float: left;margin:30px 30px 0 0;}
.giraffe-story-text {
    line-height: 19px;
    font-style: italic;
    overflow:hidden;
    height: 1%;
    color: #2c2c2c;
}
.giraffe-story-text .allocation {color: #1a1a1a;font-size: 13px;}
/* /giraffe-story */

/*===== Recipe settings =====*/
/* /end baby_handbook_add_recipe.html */
.add_rec_field {
    display: block;
    padding: 20px 0 15px 0;
}
.add_rec_field span {
    display: block;
    text-align: center;
    padding: 0 0 30px 0;
    font: bold 25px/25px arial, sans-serif;
    color: #0281b0;
}
.add_rec_field ins {
    display: block;
    margin: 0 0 5px 165px;
    font: italic 20px/20px arial, sans-serif;
    color: #0281b0;
}
.add_rec_field input {
    margin: 0 0 0 165px;
    width: 585px;
    padding: 0 10px;
    height: 43px;
    border: 1px solid #c9eaf1;
    font: 16px/43px arial, sans-serif;
    color: #0281b0;
}
table.fr_recipe_tb {margin: 10px 0 20px 0;}
table.fr_recipe_tb td { width: 50%;}
.settings-l table.ingr_f_recipe_tb {margin: 10px;}
.settings-l table.ingr_f_recipe_tb th {
    font: 11px tahoma, sans-serif;
    color: #9c9b9b;
    padding: 5px;
    text-align: center;
}
.settings-l table.ingr_f_recipe_tb td {
    padding: 7px;
    vertical-align: top;
    text-align: center;
}
.settings-l table.ingr_f_recipe_tb input.t_ingr {
    width: 136px;
    padding: 0 5px;
    margin: 0;
    height: 18px;
}
.settings-l table.ingr_f_recipe_tb input.t_much {
    width: 60px;
    padding: 0 5px;
    margin: 0;
    height: 18px;
}
.settings-l table.ingr_f_recipe_tb a {display:inline-block;*zoom:1;*display:inline;}
.settings-l table.ingr_f_recipe_tb a img {
    margin: 0;
    padding: 0;
}
.settings-l table.ingr_f_recipe_tb select {width: 109px;}
.settings-l table.ingr_f_recipe_tb .chzn-container {margin:0;}
.settings-l table.ingr_f_recipe_tb .remove {padding:0;margin:0 auto;float:none;margin-top:2px;}
.settings-l table.ingr_f_recipe_tb .remove .icon {position:relative;margin:0;padding:0;top:0;left:0;}
.settings-l a.more_lk {
    float: right;
    margin: 0 0 20px 0;
    text-decoration: none;
    border-bottom: 1px dashed #41b3cc;
}
.html_redactor_sett {
    display: block;
    width: 600px;
    margin: 0 auto;
    padding: 40px 0;
}
.html_redactor_sett span.title_red {
    display: block;
    font: italic 20px/20px arial, sans-serif;
    color: #0d8ca3;
    padding: 0 0 15px 20px;
}
/* /end baby_handbook_add_recipe.html */

/* blog-title-b */
.blog-title-b {
    margin: 0 -20px 30px;
    width: 720px;
    &_img-hold {
        width: 720px;
        height: 128px;
        overflow: hidden;
        .border-radius(4px);
    }
    &_img-hold img{
        max-width: none;
        .border-radius(4px);
    }
    &_t {
        .inline-block();
        margin: -25px 0 0;
        padding: 5px 23px;
        font: 35px/35px 'Roboto',Arial,Tahoma,Verdana,sans-serif;
        color: #0d0d0d;
        background: #fff;
    }
}
/* /blog-title-b */

.blog-settings {
    .inline-block();
    margin: 8px 10px 6px 20px;
    padding: 0 0 0 22px;
    color: #a8a7a7;
    text-decoration: none;
    background: url(/images/blog-settings.png) no-repeat;
    &:hover {color: #888;}
}

/* b-article */
.b-article {
    margin-bottom: 50px;
    &__user-status &_cont {background: #cdecff;}
    &__user-status &_cont-tale {border-right-color: #cdecff;}
    &_in-img {
        text-align: center;
        margin: 0 -20px 10px;
    }
    &_in-img img {
        .inline-block();
        max-width: 580px;
        margin: 0;
    }
    &_in .wysiwyg-content {
        padding: 0 20px;
        font-size: 14px;
        line-height: 18px;
        color: #333;
    }
    &_in .wysiwyg-content p {margin: 0 0 15px;}
    &_in .wysiwyg-content a {color: #319fe4;}
    &_in .wysiwyg-content img {margin: 0;}
    &_in .wysiwyg-content h2 {
        margin: 40px 0 15px;
        font-size: 16px;
        font-weight: bold;
        color: #186fb8;
    }
    &_in .wysiwyg-content h3 {
        margin: 20px 0 10px;
        font-size: 13px;
        font-weight: bold;
        color: #333;
    }
    &_in .wysiwyg-content ul {
        margin: 15px 0;
        padding: 0;
        list-style: none;
    }
    &_in .wysiwyg-content ul li {
        margin: 0;
        padding:5px 0 5px 27px;
        background: url(/images/bullet.png) no-repeat 4px 10px;
    }
    &_in .wysiwyg-content ol {
        margin: 15px 0;
        padding: 0;
        counter-reset: item;
        list-style-type: none;
    }
    &_in .wysiwyg-content ol li {
        margin: 0;
        padding:5px 0 5px 27px;
    }
    &_in .wysiwyg-content ol li:before {
        font:bold 14px Arial, Tahoma, Verdana, sans-serif;
        color: #333;
        margin:0 0 0 -25px;
        float: left;
        content: counters(item, '.') '.'; /* crash IE7 */
        counter-increment: item;
    }
    &_repost-comment {
        margin: 30px 20px 45px;
        font-size: 20px;
        line-height: 25px;
        color: #787878;
    }
    &_cont {
        position: relative;
        float: left;
        width: 580px;
        padding: 12px 0 0;
        background: #fff;
        .border-radius(3px);
    }
    &_cont-tale {
        position: absolute;
        left: -20px;
        top: 35px;
        border: 10px solid transparent;
        border-right-color: #fff;
    }
    &_header {
        margin: 0 20px 5px;
    }
    &_author {
        color: #289fd7;
        text-decoration: none;
        padding-right: 5px;
    }
    &_author:hover {text-decoration: underline;}
    &_t {
        margin: 0 20px 15px;
        font-size: 30px;
        line-height: 32px;
        font-weight: bold;
        color: #186fb8;
        font-family: Helvetica, Arial, Tahoma, sans-serif;
    }
    &_t-a {color: #186fb8;}
    &_more {
        .inline-block();
        margin-right: 20px;
        padding: 0 17px 0 0;
        background: url(/images/b-article_more.png) no-repeat 100% 8px;
        color: #378bcb;
        font: 20px/22px Tahoma, Arial, Verdana, sans-serif;
        text-decoration: none;
    }
    &_more:hover {
        color: #3381c1;
        text-decoration: underline;
    }
    &_user-status {
        display: table-cell;
        vertical-align: middle;
        height: 185px;
        padding: 20px;
        font: italic 36px/43px 'Times New Roman', Georgia, Times, serif;
        color: #186fb8;
    }
    &_user-status-a {
        color: #186fb8;
        text-decoration: none;
    }
    &_user-status:hover > a {color: #4da3de;}
    &_removed {
        margin: 120px 20px 135px;
        padding: 75px 0 0;
        text-align: center;
        color: #2d2d2d;
        font-size: 16px;
        background: url(/images/b-article_removed.png) no-repeat 50% 0;
    }
    &_removed-tx {margin: 0 0 5px;}
    &_removed-a {font-size: 12px;}
}
/* /b-article */

/* like-control */
.like-control {
        position: relative;
        width: 72px;
        padding: 25px 14px;
        background: #ffe535;
        .border-radius(3px);
        text-align: center;
    .favorites-control_a {
        .inline-block();
        min-width: 45px;
        padding: 45px 0 0;
        color: #828281;
        background: url(/images/b-article_control-ico.png) no-repeat  -90px 0;
        text-decoration: none;
    }
    .favorites-control_a.active,
    .favorites-control_a:hover {background-position: -90px -100px;}
    &__small-indent {padding: 10px 14px;}
    &__repost {
        background: #a17dc4;
        padding: 10px 14px 5px;
    }

    &_ico {
        .inline-block();
        min-width: 45px;
        padding: 45px 0 0;
        color: #828281;
        background: url(/images/b-article_control-ico.png) no-repeat;
        text-decoration: none;
    }
    &_ico.active,
    &_ico:hover {background-position: 0 -100px;}
    &_ico__repost {background-position: -45px 0;}
    &_ico__repost.active,
    &_ico__repost:hover {background-position: -45px -100px;}
    &_ico__favorites {background-position: -90px 0;}
    &_ico__favorites.active,
    &_ico__favorites:hover {background-position: -90px -100px;}
    &_repost-complete {
        .inline-block();
        margin: 8px 0 0;
        width: 21px;
        height: 14px;
        background: url(/images/like-control_repost-complete.png) no-repeat;
    }
}
/* /like-control */

/* meta-gray */
.meta-gray {
    float: right;
    font-size: 11px;
    color: #737575;

    &_comment {
        float: right;
        margin-left: 15px;
        text-decoration: none;
        color: #737575;
    }
    &_comment:hover &_tx {
        color: #289fd7;
        text-decoration: underline;
    }
    &_comment:hover .ico-comment__gray {background-position: -218px -295px;}
    &_view {
        float: right;
        margin-left: 15px;
        text-decoration: none;
    }
    &_tx {
        .inline-block();
        text-decoration: none;
    }
}
/* /meta-gray */

/* photo-grid */
.photo-grid {
    margin: 0 0 10px;

    &_row {
        margin: 0 0 5px;
    }
    &_i {
        position: relative;
        float: left;
        margin-left: 5px;
        cursor: pointer;
    }
    &_i:first-child {margin-left: 0;}
    &_i:hover &_overlay {opacity: 1;}
    &_img {display: block;}
    &_overlay {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #222;
        background: rgba(0,0,0,.5);
        .transition(all 0.4s ease);
    }
    &_zoom {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -25px 0 0 -20px;
        width: 49px;
        height: 41px;
        background: url(/images/photo-grid_zoom.png) no-repeat;
    }
}
/* /photo-grid */

/* nav-article */
.nav-article {
    margin: 35px 0;

    &_left {
        float: left;
        width: 45%;
    }
    &_left:hover &_arrow__left {background-position: 0 -55px;}
    &_left:hover &_a,
    &_right:hover &_a {text-decoration: none;}
    &_right {
        float: right;
        width: 45%;
        text-align: right;
    }
    &_right:hover &_arrow__right {background-position: -34px -55px;}
    &_arrow {
        float: left;
        height: 55px;
        width: 34px;
        margin: 0 10px 0 0;
        background: url(/images/nav-article_arrow.png) no-repeat;
    }
    &_arrow:hover {background-position: 0 -55px;}
    &_arrow__right {
        float: right;
        margin:0 0 0 10px;
        background-position: -34px 0;
    }
    &_arrow__right:hover {background-position: -34px -55px;}
    &_a {
        display: table-cell;
        width: 30%;
        height: 55px;
        vertical-align: middle;
        font: 11px/15px Tahoma, Arial, Verdana, sans-serif;
        color: #59a4de;
    }
}
/* /nav-article */

.article-banner {
    margin: 25px 20px;
}

/* b-ava-large */
.b-ava-large {
    .inline-block();
    vertical-align: top;
    margin: 10px 12px 10px;
    width: 206px;
    text-align: center;
    position: relative;

    &:hover .ava.large {border-color: #4d85cb;}
    &:hover .ava.large:after {display: block;}
    .ie7 &:hover .ava.large:after,
    .ie8 &:hover .ava.large:after {display: none;}
    
    &:hover &_online{display: none;}
    &:hover &_close {display: block;}
    &:hover &_bubble {display: block;}
    &:hover &_a {text-decoration: underline;}

    .ava.large {
        float: none;
        margin: 0 auto;
        border: 2px solid #fff;
        position: relative;
    }
    .ava.large:after {
        content:'';
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #b8d6fc;
        background: rgba(184,214,252,.6);
        .border-radius(100px);
    }
    .flag {
        position: relative;
        top: 1px;
    }
    
    &_ava-hold {
        position: relative;
        margin-bottom: 5px;
    }
    &_bubble {
        display: none;
        position: absolute;
        left: 35px;
        bottom: 3px;
        height: 60px;
        width: 60px;
        background: #4279be;
        background: rgba(66,121,190,.8);
        text-decoration: none;
        .border-radius(30px);
    }
    &_bubble:hover {background: #0eba23;}
    &_bubble:hover &_ico       {background-position: 0 -30px;}
    &_bubble:hover &_ico__blog {background-position: -30px -30px;}
    &_bubble:hover &_ico__photo{background-position: -60px -30px;}
    &_bubble:hover &_ico__friend-add{background-position: -90px -30px;}
    &_bubble:hover &_ico__friend-added{background-position: -120px 0px;}
    &_bubble:hover &_bubble-tx{color: #fff;}
    &_bubble__photo {
        bottom: 50px;
        left: auto;
        right: 0;
    }
    &_bubble__photo:hover {background: #ad80c4;}
    &_bubble__blog {
        bottom: 3px;
        left: auto;
        right: 35px;
    }
    &_bubble__blog:hover {background: #4abafe;}
    &_bubble__friend-add {
        bottom: 50px;
        left: 0;
        background: #fee652;
        background: rgba(254,230,82,0.9);
        display: block;
    }
    &_bubble__friend-add:hover {background: #fee652;}
    &_bubble__friend-added {
        bottom: 50px;
        left: 0;
        background: #dfdedd;
        display: block;
    }
    &_bubble__friend-added:hover {background: #dfdedd;}
    &_bubble-tx {
        font-size: 10px;
        line-height: 10px;
        color: #cad9ed;
        text-decoration: none;
        display: block;
    }
    &_online {
        position: absolute;
        top: 10px;
        left: 3px;
        height: 30px;
        width: 38px;
        padding: 8px 0 0;
        background: #0eba23;
        color: #fff;
        font-size: 10px;
        line-height: 10px;
        text-align: center;
        .border-radius(19px);
    }
    &_close {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    &_ico {
        display: block;
        width: 30px;
        height: 25px;
        margin: 15px auto 0;
        background: url(/images/friends-list_ico.png) no-repeat;
    }
    &_ico__blog  {background-position: -30px 0;}
    &_ico__photo {background-position: -60px 0;}
    &_ico__friend-add {background-position: -90px 0;}
    &_ico__friend-added {background-position: -120px 0;}
    &_a {
        .inline-block();
        margin: 0;
        line-height: 15px;
        color: #289fd7;
        text-decoration: none;
    }
    &_a:hover {text-decoration: underline;}
    &_location {
        margin:-3px 0 15px;
        color: #555454;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
    }
}
/* /b-ava-large */

/* aside-blog-desc */
.aside-blog-desc {
    margin: 5px 17px 25px;
    font-size: 11px;
    line-height: 16px;
    color: #333;
    width: 206px;
}
/* /aside-blog-desc */

/* comments-gray */
.comments-gray {
    border-top: 1px solid #e9e8e8;
    padding: 19px 30px;
    background: #f5f5f5;

    &_t {
        padding-left: 30px;
        border-bottom: 1px dashed #e8e7e7;
        padding-bottom: 10px;
    }
    &_t-a {
        .inline-block();
        font-size: 13px;
        color: #289FD7; /* #a8a7a7 */ 
    }
    &_t-a:hover {
        /*color: #289FD7;*/
    }
    &_t-a:hover .ico-comment__gray {background-position: -218px -295px;}
    &_t-a-tx {
        .inline-block();
        vertical-align: middle;
        padding:0 20px 0 5px;
    }
    &_hold {
        border-bottom: 1px dashed #e8e7e7;
        margin: 0 0 15px;
        padding: 10px 0 0;
    }
    &_i {
        position: relative;
        margin: 0 -30px;
        padding: 12px 30px;
        overflow: hidden;
    }
    &_i:hover {background: #fafafa;}
    &_i:hover &_like {left: 5px;}
    &_i:hover &_admin,
    &_i:hover &_control {right: 0;}
    &_i__self {background: #fffce6;}
    &_i__self:hover {background: #fffce6;}
    &_i__recovery:hover,
    &_i__recovery {background: #fff;}
    &_i .wysiwyg-content p{margin: 0 0 8px;}
    &_i .wysiwyg-content img{margin: 0;}
    &_ava {
        float: left;
        margin-right: 10px;
    }
    &_frame {margin-left: 35px; }
    &_header {overflow: hidden; }
    &_author {
        color: #289fd7;
        text-decoration: none;
        padding-right: 5px;
    }
    &_author:hover {text-decoration: underline;}
    &_cont {
        line-height: 15px;
        color: #555;
    }
    &_cont-img-w {
        .inline-block();
        margin-right: 20px;
        max-width: 170px;
        max-height: 110px;
        .border-radius(4px);
    }
    &_cont-img-w > img {
        display: block;
        max-width: 170px;
        max-height: 110px;
        .border-radius(4px);
    }
    &_add.active &_ava {margin-top: 35px;}
    &_add-itx {
        width: 100%;
        .box-sizing(border-box);
    }
    &_like {
        position: absolute;
        top: 11px;
        left: 5px;
        .transition(left 0.3s ease);
    }
    &_like.hide {left: -20px;}
    &_control {
        position: absolute;
        right: -30px;
        top: 50%;
        margin-top: -32px;
        text-align: center;
        line-height: 16px;
        .transition(all 0.3s ease);
    }
    &_control .message-ico {
        display: block;
        margin: 2px auto;
    }
    &_control .message-ico__del {background-position: -48px 0;}
    &_control .message-ico__del:hover {background-position: -48px -15px;}
    &_control__self &_control-hold {background: #c0f3b5;}
    &_control__self .message-ico__edit {background-position: 0 0;}
    &_control__self .message-ico__edit:hover {background-position: 0 -15px;}
    &_control__self .message-ico__del {background-position: -32px 0;}
    &_control__self .message-ico__del:hover {background-position: -32px -15px;}

    &_control-hold {
        margin-bottom: 4px;
        padding: 4px 5px 4px 7px;
        background: #a8e1fd;
        -webkit-border-top-left-radius: 4px;
        -moz-border-top-left-radius: 4px;
        border-top-left-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
        -moz-border-bottom-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    &_quote-ico {
        display: block;
        width: 15px;
        height: 11px;
        margin: 1px 0 3px;
        background: url(/images/comments-gray_quote-ico.png) no-repeat;
    }
    &_quote-ico:hover {background-position: 0 -50px;}
    &_a-recovery {
        .inline-block();
        margin: 0 10px;
    }
}
/* /comments-gray */

.like-hg-small {
    .inline-block();
    width: 20px;
    padding: 18px 0 0;
    text-align: center;
    font-size: 9px;
    line-height: 11px;
    color: #b1b1b1;
    background: url(/images/like-hg-small.png) no-repeat 50% 0;
    text-decoration: none;
    &.active,
    &:hover { background-position: 50% -50px;}
}

/* article-settings */
.article-settings {
    margin: 15px 15px;
    width: 70px;
    &.active &_a__settings {background-position: 0 -30px;}

    &_i {
        text-align: center;
        position: relative;
    }
    &_hold {display: none;}
    &_a {
        .inline-block();
        width: 40px;
        height: 30px;
        background: url(/images/article-settings_a.png) no-repeat;
    }
    &_a__settings  {background-position: 0 0;}
    &_a__settings.active,
    &_a__settings:hover {background-position: 0 -30px;}
    &_a__pin       {background-position: -40px 0;}
    &_a__pin.active,
    &_a__pin:hover {background-position: -40px -30px;}
    &_a__edit      {background-position: -80px 0;}
    &_a__edit.active,
    &_a__edit:hover{background-position: -80px -30px;}
    &_a__privacy  {background-position: -120px 0;}
    &_a__privacy.active,
    &_a__privacy:hover{background-position: -120px -30px;}
    &_a__delete   {background-position: -160px 0;}
    &_a__delete.active,
    &_a__delete:hover{background-position: -160px -30px;}

    &_drop {
        position: absolute;
        left: 60px;
        top: 0;
        width: 190px;
        border: 1px solid #dcecf6;
        background: #fff;
        text-align: left;
        z-index: 500;
        display: none;
        .border-radius(3px);
    }
    &_drop-i {}
    &_drop-a {
        display: block;
        padding: 5px 20px;
        color: #6b6b6b;
        text-decoration: none;
    }
    &_drop-a:hover {
        color: #3d3d3d;
        background: #eff8ff;
    }
    &_drop-a:hover .ico-users__all {background-position: 0 -30px;}
    &_drop-a:hover .ico-users__friend {background-position: -40px -30px;}
}
/* /article-settings */

/* user-add-record */
.user-add-record {
    margin: 0 -20px 20px 0;
    padding: 8px 10px 8px 25px;
    background: #8f67b5;
    .border-radius(4px);
    &__yellow {background: #ffe535;}

    &_ava-hold {
        float: left;
        margin: 10px 0;
    }
    &_hold {
        position: relative;
        float: right;
        width: 585px;
        background: #fff;
        .border-radius(4px);
    }
    &_hold:after {
        content:'';
        position: absolute;
        top: 50%;
        left: -11px;
        margin-top: -11px;
        border: 11px solid transparent;
        border-right-color: #fff;
        border-left: 0;
    }
    &_tx {
        .inline-block();
        margin: 35px 10px 35px 35px;
        font-size: 16px;
        color: #232323;
    }
    &_ico {
        .inline-block();
        vertical-align: middle;
        margin: 13px 45px;
        width: 40px;
        padding-top: 45px;
        font-size: 11px;
        font-family: Tahoma, Arial, Verdana, sans-serif;
        color: #b8b7b8;
        text-align: center;
        text-decoration: none;
        background: url(/images/user-add-record_ico.png) no-repeat;
    }
    &_ico.active,
    &_ico:hover {color: #000;}
    &_ico__article {background-position: 0 0;}
    &_ico__article.active,
    &_ico__article:hover {background-position: 0 -100px;}
    &_ico__photo {background-position: -100px 0;}
    &_ico__photo.active,
    &_ico__photo:hover {background-position: -100px -100px;}
    &_ico__video {background-position: -200px 0;}
    &_ico__video.active,
    &_ico__video:hover {background-position: -200px -100px;}
}
/* /user-add-record */

/* popup-user-add-record */
.popup-user-add-record {
    width: 1000px;

    .user-add-record {
        margin: 15px 0 10px;
        .box-shadow(0 6px 16px rgba(0,0,0,0.5));
    }
}
/* /popup-user-add-record */

/* popup-transparent-close */
.popup-transparent-close {
    position: absolute;
    top: -15px;
    right: -30px;
    width: 22px;
    height: 22px;
    background: url(/images/popup-transparent-close.png) no-repeat;
    &:hover {background-position: 0 -22px;}
}
@media screen and (max-width: 1100px) {
    .popup-transparent-close {right: 0;}
}
/* /popup-transparent-close */

/* popup-blog-set */
.popup-blog-set {
    position: relative;
    width: 968px;
    border: 3px solid #51a0d7;
    background: #e9f9ff;
    padding: 20px 13px 30px;
    .border-radius(5px);

    .aside-blog-desc {margin-left: 0;}
    .blog-title-b {
        margin:0 -20px 0 0;
        .scale(0.95);
    }
    .tabs-white_cont {min-height: 300px;}

    &_close {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 22px;
        height: 22px;
        background: url(/images/popup-blog-set_close.png) no-repeat;
    }
    &_close:hover {background-position: 0 -22px;}
    &:after {
        content:'';
        position: absolute;
        left: 285px;
        top: -28px;
        width: 44px;
        height: 28px;
        background: url(/images/b-settings-blue_tale.png) no-repeat;
    }
    &_col-narrow {
        float: left;
        width: 305px;
    }
    &_col-wide {
        float: right;
        width: 555px;
    }
    &_label {
        display: block;
        font-size: 17px;
        color: #418ac1;
    }
    &_jcrop {
        float: left;
        margin: 0 20px 25px 0;
        width: 320px;
    }
    &_jcrop img { max-width: none;}
    &_sepor {
        margin: 15px 0 5px;
        border-top: 1px solid #d8ebf5;
        text-align: center;
    }
    &_sepor-tx {
        .inline-block();
        position: relative;
        top:-9px;
        margin: -8px 0 0;
        padding: 0 11px;
        color: #adadad;
        background: #fff;
    }
    &_itx {
        margin: 3px 0;
        border: 1px solid #edf5fa;
        padding: 7px 10px;
        background: #fff;
        font-size: 14px;
        color: #777;
        width: 100%;
        max-width: 100%;
        .border-radius(3px);
        .box-sizing(border-box);
        .transition(all 0.4s ease);
    }
    &_itx:focus {border-color: #b1cee0;}
    &_rubric {
        padding-right: 10px;
        font-size: 14px;
        color: #328ccc;
        text-decoration: none;
    }
    &_rubric:hover {text-decoration: underline;}
}
/* /popup-blog-set */


/* white-tabs */
.tabs-white {

    &_nav {

    }
    &_nav-i {
        float: left;
    }
    &_nav-i.active &_nav-a {
        padding: 14px 20px 14px;
        border: 1px solid #daebf5;
        border-bottom: none;
        font-size: 20px;
        line-height: 22px;
        color: #333;
        background: #fff;
        text-decoration: none;
        -webkit-border-top-left-radius: 8px;
        -moz-border-top-left-radius: 8px;
        border-top-left-radius: 8px;
        -webkit-border-top-right-radius: 8px;
        -moz-border-top-right-radius: 8px;
        border-top-right-radius: 8px;
    }
    &_nav-a {
        .inline-block();
        padding: 20px 22px 14px;
        font-size: 15px;
        line-height: 16px;
        color: #656463;
    }
    &_cont {
        margin: -1px 0 15px;
        padding: 25px 20px 20px;
        border: 1px solid #daebf5;
        background: #fff;
        .border-radius(8px);
        -webkit-border-top-left-radius: 0;
        -moz-border-top-left-radius: 0;
        border-top-left-radius: 0;
    }
}
/* /white-tabs */

/* b-settings-blue */
.b-settings-blue {
    position: relative;
    margin-bottom: 20px;
    border: 3px solid #51a0d7;
    background: #e9f9ff;
    padding: 25px 35px;
    .border-radius(5px);

    &__article &_head {padding-left: 60px;}
    &__photo &_tale {right: 65px;}
    &__video {padding: 30px 65px;}
    &__video &_tale {right: 65px;}

    &_tale {
        position: absolute;
        right: 340px;
        top: -28px;
        width: 44px;
        height: 28px;
        background: url(/images/b-settings-blue_tale.png) no-repeat;
    }
    &_head {
        width: 490px;
        margin: 0 auto 20px;
    }
    &_row {
        margin-bottom: 15px;
    }
    &_label {
        float: left;
        width: 80px;
        margin: 8px 10px 5px 0;
        font-size: 13px;
        color: #418ac1;
    }
    &_add-video {
        margin: 0 0 15px;
        padding: 65px 22px 233px;
        background: url(/images/b-settings-blue_add-video.png) no-repeat;
    }
    &_add-video .btn-green {
        margin:0 0 0 8px;
        line-height: 23px;
    }
    &_video {
        position: relative;
        margin: 0 0 15px;
    }
    &_video-del {
        position: absolute;
        top: -18px;
        right: -22px;
    }
    &_textarea {
        width: 100%;
        max-width: 100%;
        height: 80px;
        min-height: 80px;
        .box-sizing(border-box);
    }
    &_photo-record {
        float: left;
        width: 285px;
        margin-bottom: 15px;
        padding: 0 0 0 35px;
        text-align: center;
    }
    &_photo-record:first-child {
        padding:0 35px 0 0;
        border-right: 2px dashed #bbd8ec;
    }
    &_photo-record-t {
        margin: 0 0 15px;
        font-size: 20px;
        line-height: 20px;
        color: #3986be;
    }
    &_photo-record-img {
        margin: 0 0 20px;
    }
}
/* /b-settings-blue */

/* privacy-select */
.privacy-select {
    position: relative;

    &_tx {
        .inline-block();
        vertical-align: middle;
        padding: 3px 0 0 0;
        font-size: 13px;
        color: #418ac1;
    }
    &_drop-hold {
        .inline-block();
        position: relative;
        padding: 0 5px 0 0;
        background: url(/images/privacy-select_drop-hold.png) no-repeat 100% 50%;
    }

    &_drop {
        position: absolute;
        left: 56px;
        bottom: 100%;
        width: 118px;
        border: 1px solid #dcecf6;
        background: #fff;
        text-align: left;
        z-index: 500;
        display: none;
        .border-radius(3px);
    }
    &_drop &_a:hover {background: #eff8ff;}
    &_a {
        display: block;
        padding: 5px 10px;
        font: 10px/10px Tahoma, Arial, Verdana, sans-serif;
        color: #6b6b6b;
        text-decoration: none;
    }
    &_a:hover { color: #3d3d3d; }
    &_a:hover .ico-users__all {background-position: 0 -30px;}
    &_a:hover .ico-users__friend {background-position: -40px -30px;}
    &_a-tx {
        .inline-block();
        vertical-align: middle;
        margin-top: -3px;
    }
}
/* /privacy-select */

/* b-checkbox */
.b-checkbox {
    &_label {
        display: block;
        padding: 6px 5px 6px 40px;
        color: #656463;
        font-size: 15px;
        background: url(/images/b-checkbox_label.png) no-repeat;
        cursor: pointer;
    }
    &_checkbox {display: none;}
    &_checkbox:checked + &_label {background-position: 0 -200px;}
}
/* /b-checkbox */

/* redactor-popup */
.redactor-popup {
    position: absolute;
    padding: 25px;
    background: #fff;
    .box-shadow(0 1px 6px rgba(0,0,0,0.15));
    z-index: 5100;
    .b-add-img {width: 516px;}

    &_close {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    &_tale {
        position: absolute;
        bottom: 130px;
        left: -5px;
        width:10px;
        height:10px;
        margin: 0px;
        background:#fff;
        z-index:1;
        .rotate(135deg);
        .box-shadow(2px 1px 3px rgba(0,0,0,.12));
    }
    .ie7 &_tale:after,
    .ie8 &_tale:after {display: none;}

    &_t {
        margin: 10px 0;
        font-size: 13px;
        color: #418ac1;
        font-weight: bold;
    }
    &_add-video {
        margin-bottom: 15px;
        padding: 63px 20px 215px;
        width: 500px;
        background: url(/images/redactor-popup_add-video.png) no-repeat;
    }
    &_add-video .btn-green {
        margin:-2px 0 0 8px;
        line-height: 23px;
    }
    &_video {
        position: relative;
        margin-bottom: 15px;
    }
    &_video-del {
        position: absolute;
        top: -12px;
        right: -12px;
    }
    &_smiles {
        width: 520px;
        text-align: center;
    }
    &_smiles td {vertical-align: middle;}
}
/* /redactor-popup */

.b-add-img {
    position: relative;
    min-height: 290px;
    margin-bottom: 15px;
    border: 2px dashed #bbd8ec;
    padding: 30px 10px 5px;
    background-color: #f5fbff;
    text-align: center;
    .border-radius(6px);

    &:hover,
    &.dragover {
        border-color: #83b6da;
        background-color: #e6f0f7;
        color: #98c1da;
    }
    &:hover &_html5-tx,
    &.dragover &_html5-tx {color: #83b6da;}
    &__for-single {
        background-image: url(/images/b-add-img__for-single.png);
        background-position: 50% 115px;
        background-repeat: no-repeat;
    }
    &__for-multi {
        background-image: url(/images/b-add-img__for-multi.png);
        background-position: 50% 100px;
        background-repeat: no-repeat;
    }
    &__multi {margin: 0 -10px 15px;}

    &_hold {
        margin: 0 0 20px;
    }
    &_hold .btn-green {
        vertical-align: middle;
        padding-left: 25px;
        padding-right: 25px;
    }
    &_t {
        .inline-block();
        margin: 0 20px 0 0;
        width: 280px;
        text-align: center;
        color: #494848;
        font-size: 16px;
        line-height: 16px;
    }
    &_t-tx {
        color: #b5b3b3;
        font-size: 11px;
    }
    &_html5-tx {
        position: absolute;
        top: 250px;
        width: 100%;
        text-align: center;
        font-size: 25px;
        color: #d1e5f1;
    }
    &_i {
        position: relative;
        float: left;
        border: 2px solid #9ccae5;
        width: 195px;
        height: 125px;
        margin: 0 7px 20px;
        background: #fff;
        font-size: 11px;
        line-height: 13px;
        font-family: Tahoma, Arial, Verdana, sans-serif;
        .transition(all 0.3s ease);
    }
    &_i:hover &_i-overlay { opacity: 1;}
    &_i.error {border-color: #f9e0e2;}
    &_i-img {
        .inline-block();
        vertical-align: middle;
        max-height: 100%;
        margin: 0 auto;
    }
    &_i-vert {
        .inline-block();
        vertical-align: middle;
        height: 100%;
        margin: 0 -3px;
    }
    &_i__single {
        float: none;
        .inline-block();
        width: auto;
        height: auto;
        min-width: 195px;
        min-height: 125px;
        max-width: 480px;
        max-height: 250px;
        margin: 0 auto 20px;
    }
    &_i__single &_i-img {max-height: 240px;}
    &_i-overlay {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30px;
        background: #3797d9;
        background: rgba(55,151,217,.75);
        .transition(all 0.3s ease);
    }
    &_i-del {
        position: absolute;
        top: 8px;
        right: 9px;
    }
    &_i-error-tx {
        .inline-block();
        vertical-align: middle;
        color: #fd8383;
    }
    &_i-load {
        .inline-block();
        vertical-align: middle;
        color: #ccc;
        line-height: 16px;
    }
}