site/backend/www/index.php
site/console/yiic.php
site/frontend/www/index.php
site/backend/config/main-local.php
site/console/config/main-local.php
site/frontend/config/main-local.php
site/backend/runtime/*
site/console/runtime/*
site/frontend/runtime/*
site/backend/www/assets/*
site/frontend/www/assets/*
site/frontend/www/temp_upload/*
site/frontend/www/upload/*/*
site/backend/www/temp_upload/*
site/backend/www/upload/*/*
!site/frontend/www/upload/contest/preview
!.gitignore
/.idea
/.gitignore
/site/backend/config/main_local.php
/site/console/config/main_local.php
/site/frontend/config/main_local.php
/site/common/uploads/photos/originals
/site/common/uploads/photos/thumbs
/site/common/uploads/photos/temp
/site/frontend/www/assets
/site/common/uploads/photos/avatars