site/frontend/www/index.php
site/frontend/config/main-local.php
site/backend/runtime/*
site/console/runtime/*
site/frontend/runtime/*
site/frontend/www/assets/*
site/frontend/www/temp_upload/*
site/frontend/www/upload/*
!.gitignore
/nbproject
/images
/error.log
/access.log
/framework
/site/console/config/main-local.php