extend ../../extend/layout_frame

block layout-wrapper
    .layout-wrapper_hold.clearfix
        .layout-content.clearfix
            .margin-20
                h2 Аватары
                a.popup-a(href="#avatar-load") Загрузка аватара
                br
                br
                br
                a.popup-a(href="#avatar-load-img") Загрузка аватара. Загружено изображение
                br
                br
                br
 


block block-hidden 
    //- .popup-sign
    #avatar-load.popup.popup-sign
        .popup-sign_hold
            .popup-sign_top
                .popup-sign_title Главное фото
            .popup-sign_cont.popup-sign_cont__wide
                .popup-sign_img-upload
                    // Во время загрузки файла нужен класс .img-upload__load
                    .img-upload
                        // Блок загрузки изображения
                        .img-upload_hold
                            .img-upload_top
                                .img-upload_btn-desc
                                    .img-upload_t Загрузите фотографию с компьютера
                                    .img-upload_help Поддерживаемые форматы: jpg и png
                                .file-fake
                                    button.btn-green-simple.btn-m.file-fake_btn Обзор
                                    input.file-fake_inp(type="file")
                            .img-upload_desc
                                .img-upload_help Загружайте пожалуйста только свои фотографии
                        // Заглушка при загрузке файла
                        .img-upload_i-load
                            // ширина для примера, ее нужно считать динамически
                            .img-upload_i-load-progress(style='width: 50%;')
                        // Блок обрезки аватара
                        .img-upload_uploaded
                            

                .popup-sign_col-ava.popup-sign_col-ava__think
                    .popup-sign_col-ava-t Просмотр

                    - avaVars = {src: ''}
                    +ava("ava__large", avaVars)
                    .popup-sign_ava-row.display-n
                        +ava("ava__middle", avaVars)
                        +ava("ava__female", avaVars)
                        +ava("ava__small ava__female", avaVars)
                    .margin-t5
                        .popup-sign_tx-help
                            | Так будет выглядеть ваше главное фото 
                            br 
                            | на страницах Веселого Жирафа
        .popup-sign_b.clearfix.margin-t20
            .float-r
                .btn-gray-simple.btn-l Отменить
    // /popup-sign

    // .popup-sign
    #avatar-load-img.popup.popup-sign
        .popup-sign_hold
            .popup-sign_top
                .popup-sign_title Главное фото
            .popup-sign_cont.popup-sign_cont__wide
                .popup-sign_img-upload
                    .img-upload.img-upload__uploaded
                        // Блок загрузки изображения
                        .img-upload_hold
                            .img-upload_top
                                .img-upload_btn-desc
                                    .img-upload_t Загрузите фотографию с компьютера
                                    .img-upload_help Поддерживаемые форматы: jpg и png
                                .file-fake
                                    button.btn-green-simple.btn-m.file-fake_btn Обзор
                                    input.file-fake_inp(type="file")
                            .img-upload_desc
                                .img-upload_help Загружайте пожалуйста только свои фотографии
                        // Заглушка при загрузке файла
                        .img-upload_i-load
                            // ширина для примера, ее нужно считать динамически
                            .img-upload_i-load-progress(style='width: 50%;')
                        // Блок обрезки аватара
                        .img-upload_uploaded
                            a.img-upload_i-del.powertip(href="", title="Удалить")
                            img#jcrop_target(src="/new/images/example/w500-h376.JPG")
                            script.
                                jQuery(function($){
                                    var api;
                                    $('#jcrop_target').Jcrop({
                                      // start off with jcrop-light class
                                      bgOpacity: 0.6,
                                      bgColor: '#2c87c0',
                                      addClass: 'jcrop-blue'
                                    },function(){
                                      api = this;
                                      api.setSelect([130,65,130+350,65+285]);
                                      api.setOptions({ bgFade: true });
                                      api.ui.selection.addClass('jcrop-selection');
                                    });
                                });
                .popup-sign_col-ava.popup-sign_col-ava__think
                    .popup-sign_col-ava-t Просмотр

                    - avaVars = {src: '/new/images/example/ava-large2.jpg'}
                    +ava("ava__large ava__female", avaVars)
                    .popup-sign_ava-row
                        +ava("ava__middle ava__female", avaVars)
                        +ava("ava__female", avaVars)
                        +ava("ava__small ava__female", avaVars)
                    .margin-t5
                        .popup-sign_tx-help
                            | Так будет выглядеть ваше главное фото 
                            br 
                            | на страницах Веселого Жирафа
        .popup-sign_b.clearfix.margin-t20
            .float-r
                .btn-gray-simple.btn-l Отменить
                .btn-green-simple.btn-l.margin-l5 Сохранить
    // /popup-sign
