include ../../block/config
extend ../../extend/layout_frame

block layout-wrapper
    +side-menu__friend("side-menu__friend")
    .page-col.page-col__friend
        +page-col_top-tabs('', {tabActive: 0, tabsTexts:['Все друзья 128', 'Друзья онлайн 12', 'Новые друзья 6'], sidebarSearch: true})

        .page-col_cont
            //- friends-list

            //- friends-list
            .friends-list
                ul.friends-list_ul

                    +friendsListItem('', {itemBanner:  true})
                    +friendsListItem('', friendsListItem.a)

                    +friendsListItem('', {itemBanner:  true})
                    +friendsListItem('', friendsListItem.b)

                    +friendsListItem('', {itemBanner:  true})
                    +friendsListItem('', friendsListItem.a)

                    +friendsListItem('', {itemBanner:  true})
                    +friendsListItem('', friendsListItem.a)

        
            //- .friends-list
                ul.friends-list_ul

                    li.friends-list_li.friends-list_banner
                        a(href="")
                            img(src="/new/images/banner/friends-list_banner.png")
                    li.friends-list_li
                        .friends-list_i
                            span.ico-close2.powertip(title="Удалить из друзей")
                            +b-ava-large('', {delFreind: true, icoFriend: true, userNameTx: 'Александр Богоявленский', userAge: '42 года', family: true })
                    li.friends-list_li.friends-list_banner
                        a(href="")
                            img(src="/new/images/banner/friends-list_banner.png")
                    li.friends-list_li
                        .friends-list_i
                            span.ico-close2.powertip(title="Удалить из друзей")
                            +b-ava-large('', {delFreind: true, icoFriend: true, userNameTx: 'Александра Ушакова-Младшая', userAge: '19 лет', family: true})
                    li.friends-list_li.friends-list_banner
                        a(href="")
                            img(src="/new/images/banner/friends-list_banner.png")
                    li.friends-list_li
                        .friends-list_i
                            span.ico-close2.powertip(title="Удалить из друзей")
                            +b-ava-large('', {delFreind: true, icoFriend: true, userNameTx: 'Александра Ушакова-Младшая', userAge: '19 лет', })
                    li.friends-list_li.friends-list_banner
                        a(href="")
                            img(src="/new/images/banner/friends-list_banner.png")

                    li.friends-list_li
                        .friends-list_i
                            span.ico-close2.powertip(title="Удалить из друзей")
                            +b-ava-large('', {delFreind: true, icoFriend: true, userNameTx: 'Александра Ушакова-Младшая', userAge: '39 лет', family: true})
                            +cap-empty('cap-empty__abs cap-empty__white', {txTop: "<a href='' class='b-ava-large_a'>Алекс Брянский</a>", t: "Удален из друзей", txSub: "<a href=''>Восстановить</a>"})
                    li.friends-list_li.friends-list_banner
                        a(href="")
                            img(src="/new/images/banner/friends-list_banner.png")
                    li.friends-list_li
                        .friends-list_i
                            span.ico-close2.powertip(title="Удалить из друзей")
                            +b-ava-large('', {delFreind: true, icoFriend: true, userNameTx: 'Александра Ушакова-Младшая-Младшая', userAge: '19 лет'})
                    li.friends-list_li.friends-list_banner
                        a(href="")
                            img(src="/new/images/banner/friends-list_banner.png")
                    li.friends-list_li
                        .friends-list_i
                            span.ico-close2.powertip(title="Удалить из друзей")
                            +b-ava-large('', {delFreind: true, icoFriend: true, userNameTx: 'Александра Ушакова-Младшая-Младшая', userAge: '19 лет'})
            //- /friend-list
            