include ../../block/config
extend ../../extend/layout_frame

block layout-wrapper
    +side-menu__friend("side-menu__friend")
    .page-col.page-col__friend
        +page-col_top-tabs('', {tabActive: 1, tabsTexts:['Хотят дружить 54', 'Я хочу дружить 16', 'Мои подписчики 16', 'Я подписан 16', 'Рекомендуемые 128']})
        .page-col_cont
            //- friend-list
            .friends-list
                .friends-list_ul
                    +friendsListItem('', friendsListItem.a)
                    .friends-list_li
                        .friends-list_i
                            +b-ava-large('', bAvaLarge.a)
                            // Заглушка около 1 сек и пропадает вся карточка .friends-list_li 
                            +cap-empty('cap-empty__abs cap-empty__white', {t: "Приглашение <br> отменено "})

