include ../../block/config
extend ../../extend/layout_frame

block layout-wrapper
    +side-menu__friend("side-menu__friend")
    .page-col.page-col__friend.page-col__aside-in
        .page-col_hold
            .page-col_cont
                .page-col_top
                    // до определенного числа без >
                    .page-col_find-count Найдено &gt; 500 000
                    .page-col_t-tx Поиск друзей
                //- friend-list
                .friends-list
                    .friends-list_ul
                        +friendsListItem('', friendsListItem.a)
                        +friendsListItem('', friendsListItem.c)
            .page-col_aside.aside-filter
                form
                    .aside-filter_top
                        +sidebar-search('', {placeholder: 'Имя и/или фамилия'})
                    .aside-filter_hold
                        .aside-filter_row
                            .aside-filter_t Местоположение
                            .margin-b15
                                // первый option должен быть пустым и без пробелов, для placeholder
                                // у всех option должно быть value
                                select.select-cus.select-cus__blue.select-cus__search-on(placeholder="Выбор страны")
                                    option
                                    option(value="1") Выбор страны
                                    option(value="2") Россия
                                    option(value="3") Беларусь
                                    option(value="4") Казахстан
                                    option(value="5") 32
                                    option(value="6") 32
                                    option(value="7") 32
                                    option(value="8") Беларусь
                                    option(value="9") Казахстан
                                    option(value="10") 32
                                    option(value="11") 32
                                    option(value="12") 32
                                    option(value="13") 32
                                    option(value="14") 132
                                    option(value="15") 132
                                    option(value="16") 132
                            // первый option должен быть пустым и без пробелов, для placeholder
                            select.select-cus.select-cus__blue.select-cus__search-on(placeholder="Населенный пункт")
                                option
                                option(value="1") Населенный пункт
                                option(value="2") Россия
                                option(value="3") Беларусь
                                option(value="4") Казахстан
                                option(value="5") 32
                                option(value="6") 32
                                option(value="7") 32
                                option(value="8") Беларусь
                                option(value="9") Казахстан
                                option(value="10") 32
                                option(value="11") 32
                                option(value="12") 32
                                option(value="13") 32
                                option(value="14") 132
                                option(value="15") 132
                                option(value="16") 132
                        .aside-filter_row.clearfix
                            .aside-filter_t Возраст
                            .display-ib.w-75
                                select.select-cus.select-cus__blue.select-cus__search-off(placeholder="От")
                                    option
                                    option(value="0") От
                                    option(value="1") 1
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                                    option(value="6") 6
                                    option(value="7") 7
                                    option(value="8") Беларусь
                                    option(value="9") Казахстан
                                    option(value="10") 32
                                    option(value="11") 32
                                    option(value="12") 32
                                    option(value="13") 32
                                    option(value="14") 132
                                    option(value="15") 132
                                    option(value="16") 132
                            .aside-filter_label - 
                            .display-ib.w-75
                                select.select-cus.select-cus__blue.select-cus__search-off(placeholder="До")
                                    option
                                    option(value="0") До
                                    option(value="1") 1
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                                    option(value="6") 6
                                    option(value="7") 7
                        .aside-filter_row.clearfix
                            .aside-filter_t Пол
                            input#radio3.aside-filter_radio(type='radio', name='b-radio2', checked='checked')
                            label.aside-filter_label-radio(for='radio3')
                                | любой
                            input#radio4.aside-filter_radio(type='radio', name='b-radio2', checked='checked')
                            label.aside-filter_label-radio(for='radio4')
                                span.ico-male
                            input#radio5.aside-filter_radio(type='radio', name='b-radio2')
                            label.aside-filter_label-radio(for='radio5')
                                span.ico-female
                        .aside-filter_sepor
                        .aside-filter_row.clearfix
                            .aside-filter_t Дети
                            .margin-b10.clearfix
                                input#radio6.aside-filter_radio(type='radio', name='b-radio3', checked='checked')
                                label.aside-filter_label-radio(for='radio6') не имеет значения
                            .margin-b10.clearfix
                                input#radio7.aside-filter_radio(type='radio', name='b-radio3')
                                label.aside-filter_label-radio(for='radio7') срок беременности (недели)
                                .aside-filter_toggle
                                    .display-ib.w-75
                                        select.select-cus.select-cus__blue.select-cus__search-off(placeholder="С")
                                            option
                                            option(value="0") С
                                            option(value="1") 1
                                            option(value="2") 2
                                            option(value="3") 3
                                            option(value="4") 4
                                            option(value="5") 5
                                            option(value="6") 6
                                            option(value="7") 7
                                    .aside-filter_label - 
                                    .display-ib.w-75
                                        select.select-cus.select-cus__blue.select-cus__search-off(placeholder="По")
                                            option
                                            option(value="0") По
                                            option(value="1") 1
                                            option(value="2") 2
                                            option(value="3") 3
                                            option(value="4") 4
                                            option(value="5") 5
                                            option(value="6") 6
                                            option(value="7") 7
                            .margin-b10.clearfix
                                input#radio8.aside-filter_radio(type='radio', name='b-radio3')
                                label.aside-filter_label-radio(for='radio8') возраст ребенка (лет)
                                .aside-filter_toggle
                                    .display-ib.w-75
                                        select.select-cus.select-cus__blue.select-cus__search-off(placeholder="От")
                                            option
                                            option(value="0") От
                                            option(value="1") 1
                                            option(value="2") 2
                                            option(value="3") 3
                                            option(value="4") 4
                                            option(value="5") 5
                                            option(value="6") 6
                                            option(value="7") 7
                                    .aside-filter_label - 
                                    .display-ib.w-75
                                        select.select-cus.select-cus__blue.select-cus__search-off(placeholder="До")
                                            option
                                            option(value="0") До
                                            option(value="1") 1
                                            option(value="2") 2
                                            option(value="3") 3
                                            option(value="4") 4
                                            option(value="5") 5
                                            option(value="6") 6
                                            option(value="7") 7
                            .margin-b10.clearfix
                                input#radio9.aside-filter_radio(type='radio', name='b-radio3')
                                label.aside-filter_label-radio(for='radio9') многодетная семья
                        .aside-filter_row.clearfix
                            .float-r.margin-t10
                                a.color-white.a-pseudo Сбросить фильтр 


