include ../../block/config
extend ../../extend/layout_frame

block layout-wrapper
    +side-menu__friend("side-menu__friend")
    .page-col.page-col__friend.page-col__aside-in
        .page-col_hold
            .page-col_cont
                .page-col_top
                    // до определенного числа без >
                    .page-col_find-count Найдено &gt; 500 000
                    .page-col_t-tx Поиск друзей
                //- friend-list
                .friends-list
                    .friends-list_ul
                        .friends-list_li
                            .friends-list_i
                                +b-ava-large('', {delFreind: true, icoFriendAdd: true, userNameTx: 'Александр Богоявленский', userAge: '42 года', family: true })
                        .friends-list_li
                            .friends-list_i
                                +b-ava-large('', {delFreind: true, icoFriendAdd: true, userNameTx: 'Александра Ушакова-Младшая', userAge: '19 лет'})
