include ../../block/config
extend ../../extend/layout_frame

block layout-wrapper
    +side-menu__friend("side-menu__friend")
    .page-col.page-col__friend.page-col__aside-in
        .page-col_hold
            .page-col_cont
                .page-col_top
                    .page-col_find-count Найдено &gt; 500 000
                    .page-col_t-tx Поиск друзей
                //- friend-list
                .friends-list
                    .friends-list_ul
                        .friends-list_li
                            .friends-list_i
                                +b-ava-large('', {delFreind: true, icoFriendAdd: true, userNameTx: 'Александр Богоявленский', userAge: '42 года', family: true });
                        .friends-list_li
                            .friends-list_i
                                +b-ava-large('', {delFreind: true, icoFriendAdd: true, userNameTx: 'Александра Ушакова-Младшая', userAge: '19 лет'});
            .page-col_aside.aside-filter
                form
                    .aside-filter_top
                        +sidebar-search('', {placeholder: 'Имя и/или фамилия'})
                    .aside-filter_hold
                        .aside-filter_row
                            .aside-filter_t Местоположение
                            .margin-b15
                                select.select2.select2__blue-searchon(placeholder="Выбор страны")
                                    // первый option должен быть пустым и без пробелов, для placeholder
                                    option
                                    option Россия
                                    option Беларусь
                                    option Казахстан
                                    option 32
                                    option 32
                                    option 32
                                    option Беларусь
                                    option Казахстан
                                    option 32
                                    option 32
                                    option 32
                                    option 32
                                    option 132
                                    option 132
                                    option 132
                            select.select2.select2__blue-searchon(placeholder="Выберите регион")
                                // первый option должен быть пустым и без пробелов, для placeholder
                                option
                                option Россия
                                option Беларусь
                                option Казахстан
                                option 32
                                option 32
                                option 32
                                option Беларусь
                                option Казахстан
                                option 32
                                option 32
                                option 32
                                option 32
                                option 132
                                option 132
                                option 132
                        .aside-filter_row.clearfix
                            .aside-filter_t Возраст
                            .display-ib.w-75
                                select.select2.select2__blue(placeholder="От")
                                    option
                                    option 1
                                    option 2
                                    option 32
                                    option 32
                                    option 32
                                    option 32
                                    option 132
                                    option 132
                                    option 132
                            .aside-filter_label - 
                            .display-ib.w-75
                                select.select2.select2__blue(placeholder="До")
                                    option
                                    option 1
                                    option 2
                                    option 32
                                    option 32
                                    option 32
                                    option(selected='selected') 32
                                    option 132
                                    option 132
                                    option 132
                        .aside-filter_row.clearfix
                            .aside-filter_t Пол
                            input#radio3.aside-filter_radio(type='radio', name='b-radio2', checked='checked')
                            label.aside-filter_label-radio(for='radio3')
                                | любой
                            input#radio4.aside-filter_radio(type='radio', name='b-radio2', checked='checked')
                            label.aside-filter_label-radio(for='radio4')
                                span.ico-male
                            input#radio5.aside-filter_radio(type='radio', name='b-radio2')
                            label.aside-filter_label-radio(for='radio5')
                                span.ico-female
                        .aside-filter_sepor
                        .aside-filter_row.clearfix
                            .aside-filter_t Дети
                            .margin-b10.clearfix
                                input#radio6.aside-filter_radio(type='radio', name='b-radio3', checked='checked')
                                label.aside-filter_label-radio(for='radio6') не имеет значения
                            .margin-b10.clearfix
                                input#radio7.aside-filter_radio(type='radio', name='b-radio3')
                                label.aside-filter_label-radio(for='radio7') срок беременности (недели)
                                .aside-filter_toggle
                                    .display-ib.w-75
                                        select.select2.select2__blue(placeholder="С")
                                            option
                                            option 1
                                            option 2
                                            option 32
                                            option 32
                                            option 32
                                            option 32
                                            option 132
                                            option 132
                                            option 132
                                    .aside-filter_label - 
                                    .display-ib.w-75
                                        select.select2.select2__blue(placeholder="По")
                                            option
                                            option 1
                                            option 2
                                            option 32
                                            option 32
                                            option 32
                                            option 32
                                            option 132
                                            option 132
                                            option 132
                            .margin-b10.clearfix
                                input#radio8.aside-filter_radio(type='radio', name='b-radio3')
                                label.aside-filter_label-radio(for='radio8') возраст ребенка (лет)
                                .aside-filter_toggle
                                    .display-ib.w-75
                                        select.select2.select2__blue(placeholder="От")
                                            option
                                            option 1
                                            option 2
                                            option 32
                                            option 32
                                            option 32
                                            option 32
                                            option 132
                                            option 132
                                            option 132
                                    .aside-filter_label - 
                                    .display-ib.w-75
                                        select.select2.select2__blue(placeholder="До")
                                            option
                                            option 1
                                            option 2
                                            option 32
                                            option 32
                                            option 32
                                            option 32
                                            option 132
                                            option 132
                                            option 132
                            .margin-b10.clearfix
                                input#radio9.aside-filter_radio(type='radio', name='b-radio3')
                                label.aside-filter_label-radio(for='radio9') многодетная семья

