include ../../block/config
extend ../../extend/layout_frame

block layout-wrapper
    +side-menu__friend("side-menu__friend")
    .page-col.page-col__friend
        +page-col_top-tabs('', {tabActive: 4, tabsTexts:['Хотят дружить 54', 'Я хочу дружить 16', 'Мои подписчики 16', 'Я подписан 16', 'Рекомендуемые 128']})
        .page-col_cont
            // friend-list 
            .friends-list
                .textalign-c
                    .filter-group
                        a.filter-group_i.active Все 
                        a.filter-group_i Из вашего города 
                        a.filter-group_i По семье 
                        a.filter-group_i По интересам 
                .heading-s
                    | Люди вашего города 128
                    a.display-ib.margin-l10.font-n Показать всех 
                .friends-list_ul
                    +friendsListItem('', friendsListItem.a)
                    +friendsListItem('', friendsListItem.c)
                    +friendsListItem('', friendsListItem.a)
                //// секция с заголовком
                .heading-xs
                    | Люди с похожей семьей 2 
                .friends-list_ul
                    +friendsListItem('', friendsListItem.c)
                    +friendsListItem('', friendsListItem.a)
                //// секция с заголовком      
                .heading-xs
                    | Люди с похожими интересами 135
                    a.display-ib.margin-l10.font-n Показать всех 
                .friends-list_ul
                    +friendsListItem('', friendsListItem.c)
                    +friendsListItem('', friendsListItem.a)
                    +friendsListItem('', friendsListItem.c)
            // /friend-list

            