include ../../block/config
extend ../../extend/layout_frame

block layout-wrapper
    +side-menu__friend("side-menu__friend")
    .page-col.page-col__friend
        .page-col_top.page-col_top__gray
            ul.page-col_tabs
                li.page-col_tab.active
                    a.page-col_tab-a Хотят дружить 54
                li.page-col_tab
                    a.page-col_tab-a Я хочу дружить 16
                li.page-col_tab
                    a.page-col_tab-a Мои подписчики 16
                li.page-col_tab
                    a.page-col_tab-a Я подписан 16
                li.page-col_tab
                    a.page-col_tab-a Рекомендуемые 128
        .page-col_cont
            //- friend-list
            .friends-list
                .friends-list_ul
                    .friends-list_li
                        .friends-list_i
                            +b-ava-large('', bAvaLarge.a)
                            +friend-offer-fr()
                    .friends-list_li
                        .friends-list_i
                            +b-ava-large('', bAvaLarge.b)
                            +friend-offer-fr()
                            +cap-empty('cap-empty__abs cap-empty__white', {t: "Вы отклонили <br> предложение "})
                    .friends-list_li
                        .friends-list_i
                            +b-ava-large('', bAvaLarge.c)
                            +friend-offer-fr()
                            +cap-empty('cap-empty__abs cap-empty__white', {t: "Теперь вы друзья!", imgMod:'cap-empty_img__smile-gray' })

                    .friends-list_li
                        .friends-list_i
                            +b-ava-large('', bAvaLarge.a)
                            +friend-offer-fr()
                    .friends-list_li
                        .friends-list_i
                            +b-ava-large('', bAvaLarge.b)
                            +friend-offer-fr()

                    .friends-list_li
                        .friends-list_i
                            +b-ava-large('', bAvaLarge.c)
                            +friend-offer-fr()
            //- /friend-list


//- Блок принятия заявки в друзья в списке друзей
    friend-offer-fr
mixin friend-offer-fr(mod,vars)
    .friend-offer(class=mod)
        .friend-offer_hold
            .friend-offer_btns
                a.btn-green-simple.btn-s Принять
                a.ico-cancel.powertip(href="",title="Отклонить") &#8211;
       