/* favorites-add-popup */
.favorites-add-popup {
    position: absolute;
    top: -10px;
    right: 45px;
    width: 270px;
    padding: 10px 15px;
    background: #fff;
    border: 1px solid #eaeaea;
    text-align: left;
    font-size: 12px;
    z-index: 200;
    .border-radius(3px);
    .box-shadow(0 0 4px rgba(0,0,0,.2));

    &:after {
        content:"";
        position: absolute;
        top: 18px;
        right: -5px;
        width:10px;
        height:10px;
        margin-left: -5px;
        background:#fff;
        z-index:1;
        .rotate(-135deg);
        .box-shadow(-3px 2px 2px rgba(0,0,0,.12));
    }
    .ie7 &:after,
    .ie8 &:after {display: none;}
    &__right {
        right: auto;
        left: 100%;
        top: -5px;
    }
    &__right:after {
        right: auto;
        left: -1px;
        .rotate(135deg);
        .box-shadow(3px 2px 2px rgba(0,0,0,.12));
    }
    &__br {
        right: auto;
        left: 100%;
        top: auto;
        bottom: 20px;
    }
    &__br:after {
        top: auto;
        bottom: 18px;
        right: auto;
        left: -1px;
        .rotate(135deg);
        .box-shadow(3px 2px 2px rgba(0,0,0,.12));
    }
    
    &_t {
        font-weight: bold;
        color: #333;
    }
    &_i {
        margin: 15px 0;
    }
    &_i-img {
        float: left;
        margin-right: 10px !important;
        max-width: 65px;
    }
    &_i-hold {
        padding-right: 15px;
        overflow: hidden;
        line-height: 14px;
        color: #3097df;
    }
    &_row {
        margin: 5px 0;
        font-size: 11px;
        font-family: Tahoma, Arial, Verdana, sans-serif;
    }
    &_row .btn-green {margin: 0 8px;}
    &_label {
        .inline-block();
        font:italic 11px/14px Georgia, 'Times New Roman', Times, serif;
        color: #292828;
    }
    &_tag {
        .inline-block();
        margin: 0 5px;
        line-height: 16px;
    }
    &_itx-tag {
        display: block;
        width: 100%;
        max-width: 270px;
        padding: 3px 5px;
        font-size: 13px;
        color: #070707;
        .box-sizing(border-box);
        border: 1px solid #d6e5f8;
    }
    &_textarea {
        display: block;
        width: 100%;
        max-width: 270px;
        min-height: 50px;
        padding: 5px;
        font-size: 13px;
        color: #070707;
        .box-sizing(border-box);
        border: 1px solid #d6e5f8;
    }
}
/* /favorites-add-popup */

/* b-user-info */
.b-user-info {
    .ava__small{margin-top: 3px;}
    .ava {vertical-align: middle;}
    &__middle &_hold {vertical-align: top;}
    &_hold {
        .inline-block();
        vertical-align: middle;
        margin-left: 4px;
    }
    &_name {
        .inline-block();
        color: #289fd7;
        text-decoration: none;
        font-size: 12px;
        line-height: 14px;
        max-width: 87px;
    }
    &_name:hover {text-decoration: underline;}
    &_date {
        display: block;
        font: 9px/11px Tahoma, Arial, Verdana, sans-serif;
        color: #b6b6b6;
    }
}
/* /b-user-info */


.favorites-control {
    float: right;
    margin: 0;
    position: relative;

    &_a {
        display: block;
        margin: 0 auto;
        padding: 35px 0 0;
        min-width: 33px;
        background: url(/images/favorites-control_a.png) no-repeat;
        font-size: 12px;
        color: #aeaeae;
        text-align: center;
        text-decoration: none;
    }
    &_a:hover,
    &_a.active {background-position: -100px 0;}
}


/* club-list 
    Клубы пользователя
*/
.club-list {
    margin: 10px 0 40px;

    &__small {margin: 15px -22px 5px 0;}
    &__small &_ul {margin: 0;}
    &__small &_li {
        margin: 0 18px 15px 0;
        width: auto;
    }
    &__small &_i:hover &_img-hold {border-color: #dbd1e8;}
    &__small &_img-hold {
        margin-bottom: 0;
        border: 1px solid #eae4f1;
        .border-radius(4px);
    }

    &__m {margin-bottom: 0;}
    &__m &_ul {margin: 20px -20px 0 0;}
    &__m &_li {
        width: 106px;
        margin: 0 17px 20px 0;
    }
    &__m &_i {
        color: @color-gray;
        font-weight: normal;
        text-decoration: none;
        border: 3px solid #cedef3;
        .border-radius(5px);
        background: #fff;
        height: 105px;
        padding: 0 5px 5px;
    }
    &__m &_li.active &_i {border-color: #6ab1f3;}
    &__m &_i:hover {border-color: #6ab1f3;}
    &__m &_img-hold {
        width: 75px;
        border: none;
        position: static;
        text-align: center;
        margin: 0 auto;
    }
    &__m &_img-overlay {
        background: url('@{path-img}/club-list_img-overlay.png') no-repeat 50% 50%;
        .border-radius(7px);
    }
    &__m &_i-name {
        line-height: 11px;
    }

    &_t {
        font-size: 15px;
        color: @color-gray-dark;
    }
    &_ul {margin: 20px -38px 10px 0;}
    &_li {
        position: relative;
        .inline-block();
        vertical-align: top;
        width: 98px;
        margin:0 30px 30px 0;
    }
    &_li__in &_img-hold {border-color: #04a316;}
    &_li__in &_check {background-position: 0 -40px;}
    &_li__in &_check:hover {background-position: -42px -40px;}
    &_li__in &_img-overlay {display: block;}
    &_i {
        display: block;
        text-align: center;
        font: bold 11px/14px Tahoma, Arial, Verdana, sans-serif;
        color: #3782c1;
    }
    &_i:hover {text-decoration: none;}
    &_img-hold {
        position: relative;
        display: block;
        border: 2px solid #8eb3e3;
        margin: 0 0 3px;
        overflow: hidden;
        .border-radius(5px);
    }
    &_img {display: block;}
    &_check {
        position: absolute;
        top: 68px;
        right: -10px;
        width: 38px;
        height: 38px;
        background: url(/images/club/club-list_check.png) no-repeat;
    }
    &_check:hover {background-position: -42px 0;}
    &_add {
        display: block;
        width: 98px;
        height: 100px;
        background: url(/images/club-list_add.png) no-repeat;
    }
    &_add:hover {background-position: 0 -100px;}
    &_img-overlay {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #5695e6;
        background: rgba(86,149,230,.65);
    }
}
/* /club-list */

/* ava-list */
.ava-list {
    margin: 10px 0;
    padding: 0 0 10px;
    border-bottom: 1px solid #eee;
    &:last-child {border-bottom: none;padding-bottom: 0;}
    &_ul {}
    &_li {
        position: relative;
        .inline-block();
        vertical-align: middle;
        margin: 0 3px 10px 0;
    }
    &_li .ava {float: none;}
    &_last-tx {
        .inline-block();
        margin: 0 3px;
        color: @color-gray-dark-light;
        text-decoration: none;
    }
    &_last-tx:hover {
        color: @color-link;
        text-decoration: underline;
    }
    &_last {
        .inline-block();
        padding: 3px 8px 3px;
        text-decoration: none;
        color: #909090;
        font-size: 11px;
        line-height: 21px;
        background: #ffe535;
        .border-radius(4px);
    }
    &_last:hover &_like-hg {background-position: -21px 0;}
    &_last:hover &_favorite {background-position: -21px -25px;}
    &_like-hg {
        margin: 0 3px 0 0;
        .inline-block();
        vertical-align: bottom;
        width: 21px;
        height: 25px;
        background: url(/images/ava-list_last.png) no-repeat;
    }
    &_like-hg.active {background-position: -21px 0;}
    &_favorite {
        margin: 0 3px 0 0;
        .inline-block();
        vertical-align: bottom;
        width: 21px;
        height: 25px;
        background: url(/images/ava-list_last.png) no-repeat 0 -25px;
    }
    &_favorite.active {background-position: -21px -25px;}
}
/* /ava-list */



/* branding pages */
.theme {

    &__adfox {
        height: auto;
        padding-bottom: 50px;
        background:#66508c url('@{path-img}/body__bg/body-circle-candy__dark.png') no-repeat 50% 0;
        background-attachment: fixed;
    }
    &__adfox .layout-container {
        position: relative;
        overflow: hidden;
        background: #fff;
        width: 1000px;
        margin: 20px auto; 
        .box-shadow(0 0 6px rgba(0,0,0,0.1));
        z-index: 1;
    }
    &__adfox .header-fix {
        width: 1000px;
        left: 50%;
        right: auto;
        margin-left: -500px;
    }
    &__adfox .layout-wrapper_frame {
        margin: 0 auto;
    }
}
/* branding pages */
