include ../../block/config
extend ../../extend/layout_loose

block vars
  - var bodyClass = 'body__bg1';

block layout
    // +side-menu__user("side-menu__user")
    
    .page-col.page-col__user
        .page-col_cont
        

            