.b-consult-banner {
  background: url('/lite/images/services/consult/consult-blog-bg.png') no-repeat;
  height: 301px;
  padding: 28px 30px;
  margin: 30px 0;
  &-inner {
    padding: 5px 13px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
  }
  &-part {
    float: left;
  }
  &-mp {
    margin: 35px 0 0 20px;
    &__main {
      font-family: 'pt sans', Arial, Tahoma, Verdana, sans-serif;
      color: #2e0200;
      font-size: 37px;
      font-weight: 700;
      text-align: center;
      line-height: 1;
      margin: 0 0 15px;
    }
    &__button {
      text-align: center;
      .b-consult-button {
        padding: 13px 25px;
        font-size: 23px;
      }
    }
  }
  &-spt {
    text-align: center;
    color: #2e0200;
    margin: 10px 0 0 0;
    &__name {
      line-height: 1.2;
      font-weight: 600;
      font-size: 14px;
      font-family: 'pt sans', Arial, Tahoma, Verdana, sans-serif;
    }
    &__pos {

    }
  }
}
