/* cook-spices */
.cook-spices {
    margin: 0 0 20px;
}
/* /cook-spices */


/* .child-disease-head */
.cook-spices-head {
    position: relative;
    margin: 20px auto 30px;
    
    .wysiwyg-content { 
        font-size: 17px;
        line-height: 22px;
        color: @color-base;
    }
    &_in {
        position: relative;
        padding: 75% 15px 20px;
        background: url('@{path-img}/services/cook-spices/cook-spices-head__s.jpg') no-repeat 0 0;
        background-size: contain;
    }
    &_slogan {
        margin-top: -5px;
        font-size: 20px;
        font-weight: bold;
        color: #ff6705;
        text-align: center;
    }

    @media (min-width: @screen-phone) {
        &_in {
            padding-left: 20%;
            padding-right: 20%;
        }
    }
    @media (min-width: @screen-tablet) {
        & {
            height: 295px;
            padding: 0;
            margin: 30px 0 95px;
            background-color: #ffe7c1;
        }
        &_in {
            height: 405px;
            width: 768px;
            top: -29px;
            margin: 0 auto;
            padding: 90px 50px 0 450px;
            background: url('@{path-img}/services/cook-spices/cook-spices-head__m.jpg') no-repeat 100% 0;
        }
        &_slogan {
            text-align: left;
        }
    }
}
/* /cook-spices-head */

/* .cook-spices-abc */
.cook-spices-abc {
    margin: 20px 100px;

    &_li {
        display: inline-block;
        margin: 0 0 20px;
    }
    &_letter {
        display: inline-block;
        width: 23px;
        margin-bottom: 3px;
        background-color: #70c74a;
        font-size: 16px;
        line-height: 23px;
        font-weight: bold;
        color: #fff;
        text-align: center;
    }
}
/* /cook-spices-abc */

/* .cook-spices-desc */
.cook-spices-desc {
    margin: 20px auto;
    padding: 30px 0 20px;
    background: #d4f3d1 url('@{path-img}/services/cook-spices/cook-spices-desc.png') no-repeat 120px 50%;

    .b-main_cont {
        margin: 0 120px 0 360px;
    }
    .wysiwyg-content {
        line-height: 20px;
    }
}
/* /cook-spices-desc */

/* .cook-spices-category */
.cook-spices-category {

}
/* /cook-spices-category */
