/* serv-category*/
.serv-category {
    margin: 20px 0;
    font-size: 14px;

    &__cook-choose &_li {text-align: center;}
    &__cook-choose &_in-li {
        margin: 3px 12px 3px 0;
    }

     &_col {
        float: left;
        width: 270px;
        margin-left: 25px;
    }
    &_col:first-child {
        margin-left: 0;
    }
    &_li {
        margin-bottom: 35px;
    }
    &_t {
        display: block;
        margin: 0 0 5px;
        font-weight: bold;
        color: @color-gray-dark;
    }
    &_in-ul {}
    &_in-li {
        display: block;
        margin: 3px 0;
    }
    
    @media (min-width: @screen-phone-landscape) {
        &_ul {
            display: inline-block;
            vertical-align: top;
            width: 295px;
        }

        &__cook-choose &_li {text-align: left;}
        &__cook-choose &_in-li {
            display: inline-block;
        }
    }

    @media (min-width: @screen-desktop) {
        &_ul {
            width: 290px;
        }
    }
}
/* /serv-category */