include ../../../block/config
extend ../../../extend/layout_user
block vars
    - var bodyClass = 'body__lite';
    - global.cssFile = 'member-user.css'; 
 
block layout

    +user-menu('', userMenu.a)
  
    .page-col.page-col__user
        .page-col_cont.page-col_cont__in

            +userAddRecord('userAddRecord__blog', userAddRecord.albums)

            +bAlbum('', bAlbum.b)
            +bAlbum('', bAlbum.c)

            .heading-small.margin-t40 Альбомы без фотографий
            // album-empty
            .album-empty
                .album-empty_hold
                    a.album-empty_t(href="") Харьковский уикенд 
                    a.album-empty_desc(href="") В половине чашке горячей воды разведем желатин. Дадим ему остыть. Для торта разводим согласно инструкции. Поломаем не небольшие кусочки ... 
                a.album-photo-add(href="") 
                a.album-empty_del(href="") 
                .album-empty_count 0
            // /album-empty

            // album-empty
            .album-empty
                .album-empty_hold
                    a.album-empty_t(href="") Харьковский уикенд
                a.album-photo-add(href="") 
                a.album-empty_del(href="")
                .album-empty_count 0
            // /album-empty

            // album-empty
            .album-empty
                .album-empty_hold
                    a.album-empty_t(href="") Харьковский уикенд
                a.album-photo-add(href="") 
                a.album-empty_del(href="")
                .album-empty_count 0
                +cap-empty('cap-empty__abs cap-empty__white', capEmpty.photoalbumDel)
            // /album-empty

            .heading-small.margin-t60 
                | Последние добавленные фото
                .float-r
                    .btn.btn-link.btn-link-gray.btn-s Фото вне альбомов 28
                    .btn.btn-link.btn-link-gray.btn-s Все фотографии 628

            +imgGrid('', imgGrid.c)
            .i-allphoto 
                a.i-allphoto_a(href="")
                    | Смотреть все фотографии


        +layout-footer-lite()
