include ../../../block/config
extend ../../../extend/layout_user
block vars
    - var bodyClass = 'body__lite';
    - global.cssFile = 'member-user.css'; 
 
block layout
 
    +user-menu('', userMenu.a)

    .page-col.page-col__user
        .page-col_cont.page-col_cont__in
            
                .user-album
                    .user-album_t-create
                        | Новый фотоальбом
                        .user-album_t-create-ico


                    // Добавление 
                    .postAdd
                        .postAdd_hold.margin-t40
                            .postAdd_row
                                .postAdd_cont
                                    .inp-valid.inp-valid__abs
                                        input.itx-gray(type='text', placeholder="Заголовок альбома")
                                        .inp-valid_count 150

                            .postAdd_row
                                .postAdd_cont
                                    .inp-valid.inp-valid__abs
                                        textarea.itx-gray(rows='5', cols='40', placeholder="Описание альбома")
                                        .inp-valid_count 450
                            .postAdd_row
                                .postAdd_cont
                                    .postAdd_btns-hold
                                        a.btn.btn-default.btn-xm.margin-r15(href="") Отменить
                                        a.btn.btn-success.btn-xm.loading(href="") Создать альбом

                       
                // /Добавление 

        +layout-footer-lite()



