

/*
    ban-route-danger
*/
.ban-route-danger {
    margin: 0 auto;
    width: 680px;
    height: 375px;
    background: url('@{path-img}/banner/ban-route-danger.jpg') no-repeat;

    &_a {
        display: block;
        padding: 15px 33px 229px;
        color: #fff;
        text-decoration: none;
    }
    &_ava {
        text-align: center;

        .ava {
            float: none;
            .inline-block();
            vertical-align: middle;
            margin-right: 10px;
        }
    }
    &_ava-name:hover {text-decoration: underline;}
    &_t {
        margin: 7px 0 15px;
        font-weight: bold;
        font-size: 35px;
        line-height: 35px;
        letter-spacing: -1.5px;
    }
    &_t:hover {color: #ced9ea;}
}