.header-ad-kinderino {
    display: inline-block;
    vertical-align: top;

    & > a {
        display: inline-block; 
        margin: -13px 0 -5px;
        vertical-align: top; 
        text-align: center;
    }
    & img {
        padding-right: 5px;
    }
    & span {
        display:block; 
        width:77px; 
        height: 20px; 
        margin: 2px 0 0; 
        background: url('/lite/images/banner/header_kinderino-2-btn.png') no-repeat; 
    }

    &__guest {
        display: none;
        
        @media (min-width: @screen-desktop) {
            & {
                display: inline-block;
                margin: 0 12px 0 12px;
            }
        }
    }
}

.bnr-enfomil1 {
    width: 680px;
    position: relative;
    display: block;
    margin: 5px 0;

    &_btn {
        position: absolute;
        top: 237px;
        left: 299px;
        width: 158px;
        height: 33px;
        background: url('/images/banners/bnr-enfomil1_btn.png') no-repeat;
    }
    &_btn:hover {background-position: 0 -33px;}
}