//- friends-list
    mod
    vars
        itemBanner boolean 
        bAvaLarge array 
        capEmpty array
mixin friendsListItem(mod, vars)
    //  != vars.bAvaLarge.avaVars.avaSpan
    //  each item in vars.bAvaLarge.avaVars
        != item
    if (vars.itemBanner)
        li.friends-list_li.friends-list_banner
            a(href="")
                img(src="/new/images/banner/friends-list_banner.png")
    else
        li.friends-list_li
            .friends-list_i
                span.ico-close2.powertip(title="Удалить из друзей")
                            
                +b-ava-large('', vars.bAvaLarge)
                if (vars.capEmpty)
                    +cap-empty('cap-empty__abs cap-empty__white', vars.capEmpty )
                        

- var friendsListItem = {}
// a
- friendsListItem.a = {}
- friendsListItem.a.bAvaLarge = bAvaLarge.c
- friendsListItem.a.capEmpty = false
// b
- friendsListItem.b = {}
- friendsListItem.b.bAvaLarge = bAvaLarge.a
- friendsListItem.b.capEmpty = capEmpty.friendsListItem
