mixin logo()
    // logo
    .logo
        a.logo_i(title="Веселый жираф - сайт для всей семьи", href="") Веселый жираф - сайт для всей семьи
        span.logo_slogan САЙТ ДЛЯ ВСЕЙ СЕМЬИ
    // /logo

mixin logo__small()
    // logo__small
    .logo.logo__small
        a.logo_i(title="Веселый жираф - сайт для всей семьи", href="") Веселый жираф - сайт для всей семьи