/* article-settings */
.article-settings {
    position: relative;
    float: left;
    margin: 0 15px;
    z-index: 50;

    &_abs {
        position: absolute;
        left: 0;
        top: 0;
        margin: 50px 15px;
        z-index: 50;
    }
    
    &.active &_a__settings {background-position: 0 -30px;}
    &__float-r {
        float: right;
        margin: -5px -10px 0 0;
    }

    &_i {
        text-align: center;
        position: relative;
    }
    &_hold {
        display: none;
        position: absolute;
        top: 49px;
        left: 0;
        width: 100%;
        background: #f0f0f0;
        padding: 9px 0 5px;
        .border-radius(5px);
        z-index: 200;
    }
    &_a {
        .inline-block();
        width: 40px;
        height: 30px;
        background: url('@{path-img}/article-settings_a.png') no-repeat;
    }
    &_a__settings  {

        width: 58px;
        height: 44px;
        background-position: -320px 0;
    }
    &_a__settings.active,
    &_a__settings:hover {.opacity(0.8);}
    &_a__pin       {background-position: -40px 0;}
    &_a__pin.active,
    &_a__pin:hover {background-position: -40px -30px;}
    &_a__edit      {background-position: -80px 0;}
    &_a__edit.active,
    &_a__edit:hover{background-position: -80px -30px;}
    &_a__privacy  {background-position: -120px 0;}
    &_a__privacy.active,
    &_a__privacy:hover{background-position: -120px -30px;}
    &_a__delete   {background-position: -160px 0;}
    &_a__delete.active,
    &_a__delete:hover{background-position: -160px -30px;}
    &_a__add   {background-position: -200px 0;}
    &_a__add.active,
    &_a__add:hover{background-position: -200px -30px;}
    &_a__eye   {background-position: -240px 0;}
    &_a__eye.active,
    &_a__eye:hover{background-position: -240px -30px;}
    &_a__eye-close   {background-position: -280px 0;}
    &_a__eye-close.active,
    &_a__eye-close:hover{background-position: -280px -30px;}

    &_drop {
        position: absolute;
        left: 50px;
        top: 0;
        width: 190px;
        border: 1px solid #dcecf6;
        background: #fff;
        text-align: left;
        z-index: 500;
        display: none;
        .border-radius(3px);
    }
    &_drop-i {}
    &_drop-a {
        display: block;
        padding: 5px 20px;
        color: #6b6b6b;
        text-decoration: none;
    }
    &_drop-a:hover {
        color: #3d3d3d;
        background: #eff8ff;
    }
    &_drop-a:hover .ico-users__all {background-position: 0 -30px;}
    &_drop-a:hover .ico-users__friend {background-position: -40px -30px;}
}
/* /article-settings */
