/* b-markdown */
.b-markdown {

    h2 {
        margin: 15px 0 15px;
        font-size: 16px;
        line-height: 25px;
        font-weight: normal;
        color: @color-base;


        @media (min-width: @screen-phone) {
            & {
                font-size: 18px;
            }
        }
        @media (min-width: @screen-desktop) {
            & {
                font-size: 22px;
                line-height: 26px;
            }
        }
    }
    h2&_t-sub,
    h2:first-child {
        margin-top: 0;
        margin-bottom: 40px;
    }

    .b-article_in-img {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    /*&_img-hold {
        margin-top: 30px;
        margin-bottom: 15px;
    }*/
    /*&_img-hold:hover &_img-water {
        .opacity(1);
        color: #fff;
    }*/
    &_img-water {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 8px 20px 2px;
        text-align: center;
        color: #fff;
        text-shadow: 0 0 1 #000;
        .opacity(0.8);

        #gradient .vertical(@start-color: rgba(0,0,0,.0001); @end-color: rgba(0,0,0,.4); @start-percent: 0%; @end-percent: 100%);
    }
    &_img-water:hover {color: #fff;}
    &_li-tx {
        float: left;
        min-width: 40px;
        padding: 0 10px 5px;
        font-size: 30px;
        line-height: 1;
        text-align: center;
    }

    @media (min-width: @screen-tablet) {
        
        & &_img-hold {
            margin-top: 40px;
        }
        &_li-tx {
            font-size: 45px;
        }
    }
    @media (min-width: @screen-desktop) {
        
        &_li-tx {
            padding: 0 18px;
            min-width: 65px;
            font-size: 60px;
        }
    }
}
/* /b-markdown */


/* 
add in old css




*/

/* .markdown-compare */
.markdown-compare {
    margin: 20px 0;
    padding: 15px 20px;

    h3:first-child {
        margin-top: 0;
    }
    &__l {
        margin-right: 15px;
        background-color: #ffe1cd;
    }
    &__r {
        margin-left: 15px;
        background-color: #dcf1fd;
    }
    &_img-hold {
        text-align: center;
        margin: 10px 0;
    }

    @media (min-width: @screen-phone-landscape) {
        &__l {
            margin-right: 65px;
        }
        &__r {
            margin-left: 65px;
            margin-right: -40px;
        }
    }
}
/* /markdown-compare */

/* .markdown-day */
.markdown-day {
    padding: 20px;

    &__1 {
        background-color: #a6deff;
    }
    &__2 {
        background-color: #ffcc84;
    }
    &__3 {
        background-color: #d5b6e8;
    }
    
    &_t {
        position: relative;
        margin: 0 0 15px;
        padding: 15px 20px 12px 85px;
        font-size: 35px;
        line-height: 35px;
        font-weight: bold;
        color: @color-base;
    }
    &_t:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
    }
    &_img-hold {
        margin: 10px 0;
        text-align: center;
    }

    @media (min-width: @screen-desktop) {
        & {
            margin-right: -40px;
        }
    }
}
/* markdown-day */