
/////// old
/* b-status-add */
.b-status-add {

    &_col {
        float: right;
        width: 585px;
    }
    &_hold {
        position: relative;
        margin: 0;
        padding: 13px 12px;
        background: #cdecff;
    }
    &_hold:after {
        content:'';
        position: absolute;
        left: -10px;
        top: 35px;
        border: 10px solid transparent;
        border-left: none;
        border-right-color: #cdecff;
    }
    &_textarea {
        display: block;
        .box-sizing(border-box);
        width: 100%;
        max-width: 100%;
        margin: 3px 0;
        border: 1px solid #daebf5;
        padding: 10px 12px 10px 12px;
        font: italic 36px/43px 'Times New Roman', Georgia, Times, serif;
        color: #186fb8;
        background: #fff;
        .border-radius(3px);
        .transition(all 0.4s ease);
    }
}
/* /b-status-add */

/////// /old

/* user-status */
.user-status {
    position: relative;
    margin-bottom: 20px;
    padding: 20px 20px;
    background-color: #caebff;
    
    &:after {
        content: '';
        position: absolute;
        top: -20px;
        left: 18px;
        border: 10px solid transparent;
        border-bottom-color: #caebff;
    }
    &__add {
        margin-bottom: 10px;
    }
    &_hold {}
    .itx-gray,
    &_tx {
        font: italic 22px/28px 'Times New Roman', Georgia, Times, serif;
        color: @color-link-title;
        word-break: break-all;

    }
    &_bottom {
        margin: 5px 0;
        text-align: right;
    }

    @media (min-width: @screen-phone) {
        
        &:after {
            left: 36px;
        }
        .itx-gray,
        &_tx {
            font-size: 28px;
            line-height: 35px;
        }
    }
    
    @media (min-width: @screen-tablet) {
        & {
            margin-bottom: 30px;
        }
        &:after {
            left: 70px;
        }
        &__add {margin-bottom: 0;}
        .itx-gray,
        &_tx {
            font-size: 36px;
            line-height: 45px;
            min-height: 220px;

        }
    }
}
/* /user-status */


/* b-user-mood */
.b-user-mood {
    position: relative;
    .inline-block();

    &_img {
        .inline-block();
        vertical-align: middle;
        margin-right: 3px;
    }
    &_hold {
        .inline-block();
        vertical-align: middle;
        margin: 5px 0;
    }
    &_tx {
        margin-top: 8px;
        font-size: 13px;
    }
}
/* /b-user-mood */


/* b-moods-list */
.b-moods-list {
    position: absolute;
    left: 100%;
    top: -385px;
    background: #fffeea;
    z-index: 4;
    margin: 0 5px;
    padding: 5px;
    width: 570px;
    font-size: 9px;
    border: 1px solid #e7e395;
    .border-radius(10px);

    &:after {
        content:'';
        position: absolute;
        top: 50%;
        left: -5px;
        width: 6px;
        height: 12px;
        margin-top: -6px;
        background: url(/images/b-moods-list.png) no-repeat;
    }
    &_li {
        width:92px;
        float:left;
        text-align:center;
        border:1px solid #fffeea;
        height:90px;
        .border-radius(10px);
    }
    &_li:hover {border-color:#e7e395;}
    &_a {
        display:block;
        text-decoration:none;
        color:#918b1a;
        line-height:1;
        padding:3px 0;
    }
    &_img {
        display:block;
        margin:0 0 4px;
    }
}
/* /b-moods-list */
