/* b-tags */
.b-tags {
    margin: 10px 0;

    &_tag {
        .inline-block();
        margin: 0 10px 5px 0;
        padding: 0 7px;
        line-height: 19px;
        background-color: #fb8c73;
        color: @color-white;
        text-decoration: none;
    }
    &_tag:hover {
        background-color: #fd7252;
        color: #fff;
    }
}
/* /b-tags */