
/* b-user-info */
.b-user-info {
    .ava__small{margin-top: 3px;}
    .ava {vertical-align: middle;}
    &__middle &_hold {vertical-align: top;}
    &_hold {
        .inline-block();
        vertical-align: middle;
        margin-left: 4px;
    }
    &_name {
        .inline-block();
        color: #289fd7;
        text-decoration: none;
        font-size: 12px;
        line-height: 14px;
        max-width: 87px;
    }
    /*&_name:hover {text-decoration: underline;}*/
    &_date {
        .tx-date();
        display: block;
        /*font: 9px/11px Tahoma, Arial, Verdana, sans-serif;
        color: #b6b6b6;*/
    }
}
/* /b-user-info */