/* calendar-serv-note */
.calendar-serv-note {
    margin: 20px 0;
    font-size: 14px;

    &__pink {
        background-color: #fff4fc;
    }
    &__blue-light {
        background-color: #def5ff;
    }
    &__blue-light &_count {
        background: url('@{path-img}/calendar-serv-note_count-blue.png') no-repeat;
    }
    
    &_count {
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        height: 125px;
        padding: 0 5px 0 35px;
        background: url('@{path-img}/calendar-serv-note_count.png') no-repeat;
        background-size: cover;
        text-align: center;
        color: @color-white;
        font: bold 40px/56px Georgia, 'Times New Roman', Times, serif;
    }
    h2&_t {
        margin: 0 120px 20px 0;
        font-size: 20px;
        line-height: 30px;
        font-weight: bold;
    }
    & ul {
        margin: 10px 0;
    }
    & ul li {
        padding: 7px 20px 7px 37px;
        background: url('@{path-img}/calendar-serv-note_li.png') no-repeat 0 45%;
        color: @color-gray-dark;
    }
    
    @media (min-width: @screen-phone) {
        h2&_t {
            font-size: 25px;
        }
        & ul {
            padding-right: 30px;
        }
    }
    @media (min-width: @screen-tablet) {
        & {
            font-size: 16px;
        }
        &_count {
            width: 129px;
            height: 121px;
            padding: 6px 5px 15px 25px;
            font-size: 60px;
        }
        h2&_t {
            margin-top: 5px;
            font-size: 35px;
        }
        & ul li {
            padding-left: 45px;
        }
    }
    @media (min-width: @screen-desktop) {
        
        h2&_t {
            margin-top: 5px;
            font-size: 35px;
        }
    }
}
/* /calendar-serv-note */