/* col-link */
.col-link {
    margin: 15px 0 5px;
    font-size: 14px;
    line-height: 16px;
    -moz-column-width: 169px;
    -moz-column-gap: 20px;
    -webkit-column-width: 169px;
    -webkit-column-gap: 20px;
    column-width: 169px;
    column-gap: 20px;
    
    &__2-tablet {
        -moz-column-width: auto;
        -webkit-column-width: auto;
        column-width: auto;
        padding: 0 10%;
    }

    &_a {
        display: inline-block;
        margin: 8px 0;
        text-decoration: none;
    }
    &_a:hover {
        text-decoration: none;
        color: @color-orange;
    }

    // fallback for ie8-9
    .no-csscolumns &_li {
        display: inline-block;
        vertical-align: top;
        width: 180px;
        margin-right: 20px;
    }

    @media (min-width: @screen-phone-landscape) {
        &__2-tablet {
            .content-columns(2, 80px);
            padding: 0;
            /*-moz-column-width: auto;
            -moz-column-count: 2;
            -moz-column-gap: 80px;
            -webkit-column-width: auto;
            -webkit-column-count: 2;
            -webkit-column-gap: 80px;
            column-width: auto;
            column-count: 2;
            column-gap: 80px;*/
        }
        &_a {
            margin: 7px 0;
        }
    }
}
/* /col-link */