
/* b-family */
.b-family {
    font-size: 9px;
    line-height: 10px;
    text-align: center;

    &__bg-dark &_more {color: #fff;}
    &__bg-dark &_img-hold {
        background: #836d96;
        background: rgba(0,0,0,.25);
        .box-shadow(inset 0 1px 1px rgba(0,0,0,0.25));
    }
    &__bg-dark &_tx {
        color: #fff;
        background: #967cac;
        background: rgba(0,0,0,.15);
    }
    &__bg-none &_img-hold {
        background: none;
        .box-shadow(none);
    }
    &__bg-none &_tx {background: none;}

    &__square &_ul {margin: 8px -20px;}
    &__square &_li {
        width: 85px;
        height: 82px;
        margin: 10px 17px 15px;
        padding: 10px 3px 5px;
        border: 2px solid #ace9a6;
        background: #fff;
        .border-radius(6px);
    }
    &__square &_li.dragover {border-color: #65c15d;}
    &__square &_li.dragover-error {border-color: #f8bdbd;}
    &__square &_li__empty {
        border: 2px dashed #eed87b;
    }
    &__square &_img-hold {
        display: block;
        display: block;
        width: auto;
        max-width: none;
        background: none;
        .box-shadow(none);
    }
    &__square &_tx {
        background: none;
        color: #1a1a1a;
    }
    &__w100 &_ul {text-align: justify;}
    &__w100 &_ul:after {
        content: '';
        width: 100%;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        display: inline-block;
    }
    &__w100 &_li {width: 55px;}

    &_top {
        margin: 0 auto 15px;
    }
    &_top__white {
        height: 22px;
        width: 190px;
        background: url(/images/b-famyli_top__white.png) no-repeat;
    }
    &_top__empty {
        margin: 20px auto 10px;
        height: 28px;
    }
    &_top__white-big {
        width: 250px;
        height: 28px;
        margin: 20px auto 20px;
        background: url('@{path-img}/b-famyli_top__white-big.png') no-repeat;
    }
    &_ul {margin: 8px -7px 0;} /* -7px для убриания отступа в начале и конце строки у li элементов */

    &_li {
        .inline-block();
        vertical-align: top;
        position: relative;
        margin: 0 7px 13px;
    }
    .no-touch &_li &_del {display: none;}
    &_li:hover &_del {display: block;}
    &_a,
    &_li > a {text-decoration: none;display: block;}
    &_img-hold {
        display: table-cell;
        vertical-align: middle;
        width: 55px;
        max-width: 55px;
        height: 55px;
        max-height: 55px;
        text-align: center;
        background: #eee;
        background: rgba(0,0,0,.05);
    }
    &_img {max-height: 100%;}
    &_tx {
        display: block;
        width: 55px;
        margin: 0 auto;
        padding: 2px 0 5px;
        color: #6a6a6a;
    }
    &_empty {
        font-size: 12px;
        color: #ded2e9;
    }
    &_more {font-size: 12px;}
    &_add {
        display: block;
        font-size: 13px;
        color: #fff;
    }
    &_add-b {
        display: block;
        width: 55px;
        height: 55px;
        border: 2px dashed #fff;
        margin: 0 auto 8px;
        background: #927aa8;
        background: rgba(0,0,0,.15) url(/images/b-famyli_add-b.png) no-repeat 50% 50%;
        .border-radius(5px);
    }
    &_add-b:hover {background-color: rgba(0,0,0,.3);}
    &_del {
        display: none;
        position: absolute;
        top: 7px;
        right: 7px;
    }
    &_sub-t {
        font-size: @font-s;
        color: @color-gray-dark;
    }
}
/* /b-family */


/* b-family-structure */
/*.b-family-structure {
    background: #66c25f;

    &__narrow {margin: 10px 0 20px;}
    &__narrow &_upload {
        margin-left: 10px;
    }
    &__narrow &_added {
        padding: 0 25px 28px;
        width: 315px;
        height: 470px;
    }
    &__narrow &_added .b-family_li {margin: 5px;}
    .b-family {
        font-size: 11px;
        margin: 0 0 10px;
    }
    .ico-close3 {
        position: absolute;
        top: 15px;
        right: 15px;
    }
    &_added {
        float: left;
        width: 355px;
        padding: 0 50px 28px;
        background: #fff0ab;
    }
    &_upload {
        float: left;
        padding: 15px 30px 5px 25px;
        width: 450px;
    }
    &_upload .b-family__w100 {margin: 0 20px;}
    &_upload .b-family_li {
        margin: 0 4px 10px;
        cursor: pointer;
        z-index: 99;
        text-align: center;
    }
    &_upload .b-family_img-hold {
        display: block;
        max-width: none;
    }
    &_upload .b-family_tx {
        color: #fff;
    }
    &_upload .b-family_sub-t {color: @color-base;}
    &_note {
        padding: 0px 40px 17px 0;
        background: url('@{path-img}/b-family-structure_note.png') no-repeat 50% 0;
        text-align: center;
        .font-s-mixin();
    }
}*/
/* /b-family-structure */

/* 
    .profile-settings-family
        ul.profile-settings-family_ul
            li.profile-settings-family_li.active
                a.profile-settings-family_a
                    span.profile-settings-family_count
                    span.profile-settings-family_tx
*/
/*.profile-settings-family {
    .inline-block();
    margin: 0 20px;

    &_ul {}
    &_li {
        .inline-block();
        margin: 0 10px;
    }
    &_li.active &_a {
        color: @color-base;
        text-align: right;
    }
    &_a {
        color: @color-gray-light;
        font-size: 14px;
        text-decoration: none;
    }
    &_a:hover {
        color: @color-gray;
    }
    &_count {
        .inline-block();
        margin: 0 8px 0 0;
        font-size: 30px;
        line-height: 34px;
        font-weight: bold;
    }
    &_tx {}
}*/
/* /profile-settings-family */

/* 
    family-settings
        &_hold
            &_photo-all
                &_col
                &_photoall-set
            &_about-all
                &_textarea


*/
/*.family-settings {
    margin: 20px 0 30px;
    
    .photo-preview-row {margin-top: 20px;}
    &_hold {
        margin: 0 40px;
    }
    &_photo-all {
        margin: 0 0 25px;
    }
    &_photo-all-set {
        .inline-block();
        vertical-align: top;
        margin-left: 15px;
    }
    &_col {
        .inline-block();
        width: 510px;
    }
    &_about-all {
        margin-bottom: 40px;
    }
    &_about-all-tx {
        font-size: 14px;
        line-height: 19px;
        margin: 5px;
    }
    &_textarea {
        margin-bottom: 10px;
    }
    &_member {
        position: relative;
        margin: 0 -15px 20px;
        padding: 14px;
        border: 1px solid transparent;
    }
    &_member:hover {border-color: #f5f5f5;}
    &_member:hover &_member-del {display: block;}

    &_member-del {
        &:extend(.color-gray);
        display: none;
        position: absolute;
        top: 10px;
        right: 15px;
    }
    &_member-add {
        .inline-block();
        width: 200px;
        height: 200px;
        background: url('@{path-img}/family-settings_member-add.png') no-repeat;
    }
    &_member-add:hover {background-position: 0 -200px;}
    &_photo {
        float: left;
        margin: 0 20px 0 0;
        background: #fafafa;
    }
    &_photo-hold {
        display: table-cell;
        width: 200px;
        max-width: 200px;
        height: 200px;
        max-height: 200px;
        vertical-align: middle;
        text-align: center;
    }
    &_photo-img {
        display: block;
        margin: 0 auto;
        max-height: 100%;
    }
    &_desc {
        float: left;
        width: 580px;
    }
    &_name {
        .inline-block();
        margin-right: 10px;
        font-size: 30px;
        font-weight: bold;
        color: #186fb8;
    }
    &_birthday {
        .inline-block();
        margin-right: 10px;
        font-size: 14px;
    }
    &_row {
        margin-bottom: 10px;
        min-height: 32px;
    }
    &_a-settings {
        .inline-block();
        color: #7bc95b;
        text-decoration: none;
        border-bottom: 1px dotted #7bc95b;
        font-size: 16px;
    }
    &_a-settings:hover {border-bottom-color: transparent;}
    &_fill {
        margin: 35px 100px 50px;
        width: 490px;
        border: 8px solid #f5f5f5;
        padding: 15px;
        text-align: center;
        .border-radius(8px);
    }
    &_fill__about {padding-bottom: 50px;}
    &_fill-t {
        margin: 40px 0 15px;
        font-size: 25px;
    }
    &_fill-photo {
        margin: 20px auto 5px;
        width: 450px;
        height: 180px;
        background: url('@{path-img}/family-settings_fill-photo.jpg') no-repeat;
    }
    &_fill-about {
        margin: 20px auto 5px;
        width: 415px;
        height: 145px;
        background: url('@{path-img}/family-settings_fill-about.jpg') no-repeat;
    }
}*/
/* /family-settings */

/* photo-preview-row */
/*.photo-preview-row {
    margin: 10px 20px 50px;

    .photo-grid {
        .inline-block();
        vertical-align: middle;
        margin: 0;
        overflow: visible;
    }
    .photo-grid_overlay {
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        border: 2px solid #fff;
    }
    
    &__add {
        margin: 10px auto;
        width: auto;
    }
    &__add &_hold {background: none;}

    &_t {
        display: block;
        margin: 0 0 10px;
        text-align: left;
        font:bold 14px/18px Tahoma, Arial, Verdana, sans-serif;
    }
    &_t-small {
        display: block;
        margin: 0 0 10px;
        text-align: left;
        font: 14px/18px Tahoma, Arial, Verdana, sans-serif;
        color: #353535;
    }
    &_hold {background: #f5f5f5;}
    &_hold2 {background: #fff;}
    &_last {
        .inline-block();
        vertical-align: middle;
        width: 67px;
        text-align: center;
    }
    &_last .font-small {line-height: 12px;}
    &_a {
        font-size: 16px;
    }
    &_add {
        float: left;
        width: 121px;
        height: 104px;
        margin: 0 5px 0 0;
        background: url('@{path-img}/photo-preview-row_add.png') no-repeat;
    }
    &_add:hover {background-position: 0 -104px;}
}*/
/* /photo-preview-row */


.family-user {
    margin: 50px 0 80px;
    
    /*.b-album {margin-bottom: 0;}*/
    /*&_main-img-hold {
        margin-bottom: 20px;
    }*/
    .ico-myfamily__l {margin-bottom: 30px;}
    .section-empty {
        margin: 20px 0 21px;
    }
    /*&__think {
        margin: 50px 40px 80px;
    }*/

    &_edit-hold {text-align: right;}
    &_edit {
        &:extend(.a-gray all);
    }
    &_edit:hover .ico-edit__s {
        &:extend(.ico-edit__s:hover);
    }
}

/*
    .family-about
        .family-about_bubble
           .family-about_t О нашей семье
           .family-about_tx
                | 
        .family-about_ul
            .family-about_li
                .family-about_img-hold
                    img.family-about_img
                .family-about_member 
*/
.family-about {
    position: relative;
    margin: 30px 20px;

    &__edit {
        margin: 35px 0;
        border: 1px solid #f5f5f5;
    }

   
    &_bubble {
        margin: 0 auto 30px;
        color: @color-gray-dark;
    }
    &_t {
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 0.3em;
    }
    &_tx {font-size: 14px;}
    &_ul {
        margin: 0 -40px 0 0;
        text-align: center;
    }
    &_li {
        .inline-block();
        vertical-align: top;
        margin: 0 11px 20px 0;
        width: 160px;
    }
    &_img-hold { // размер такой же как в блоке редактирвоания члена семьи в настройках
        /*display: table-cell;
        vertical-align: middle;
        max-width: 160px;
        max-height: 160px;*/
        width: 160px; 
        height: 160px;
        margin: 0 auto;
        /*background-color: #2b99db;*/
    }
    &_img {
        display: block;
        margin: 0 auto;
        max-height: 100%;
    }
    &_member {
        font-size: 13px;
        color: @color-gray;
    }

    @media (min-width: @screen-phone) {
        
        &_t {
            font-size: 25px;
        }
    }
    @media (min-width: @screen-phone-landscape) {
        &_bubble {
            position: relative;
            max-width: 720px;
            margin: 40px auto 40px;
            padding: 40px 40px;
            color: @color-gray-dark;
            background-color: #daf1ff;
            .border-radius(20px);
        }
        &_bubble:after {
            content:'';
            position: absolute;
            top: -32px;
            left: 50%;
            margin-left: -19px;
            width: 0;
            height: 0;
            border: 16px solid #fff;
            border-bottom-color: #daf1ff;
        }
        &_t {
            font-size: 35px;
        }
        &_li {
            margin-right: 40px;
            width: 180px;
        }
    }
    @media (min-width: @screen-desktop) {
        /*&_bubble {
            margin-top: 20px;
        }*/
    }
}
/* /family-about */

/* family-member */
.family-member {
    margin: 20px 0 0;
    
    &_row {
        margin: 0 0 40px 0;
    }
    &_i {
        position: relative;
        float: left;
        margin: 0;
        cursor: pointer;
        color: #fff;
    }
    &_i:hover &_overlay {
        z-index: 10;
        opacity: 1;
    }
    &_img {
        display: block;
        position: relative;
        z-index: 1;
    }
    &_overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #290b45;
        background: rgba(41,11,69,.35);
        .transition(all 0.4s ease);
        .opacity(0);
    }
    

    //////////////// О фото, применяется в семье
    &_about {
        position: relative;
        float: left;
        width: 236px;
        height: 450px;
        z-index: 15;
        padding: 20px 30px;
        color: #fff;
        text-align: center;
    }
    &_about:before { /// вертикальное выравниевание &_about-in
        content: "";
        display: inline-block;
        min-height: inherit;
        height: 100%;
        vertical-align: middle;
    }
    &_about:after {
        content: "";
        position: absolute;
        top: 35px;
        left: -20px;
        width: 0;
        height: 0;
        z-index: 5;
        border: 10px solid transparent;
    }
    &_about__right {
        margin: 0 0 0 -13px;
        .border-left-radius(18px);
    }
    &_about__left {
        margin: 0 -13px 0 0;
        .border-right-radius(18px);
    }
    &_about__left:first-child{margin-left: 0;}
    /// Цвета
    &_about__green {background-color: #5bb951;}
    &_about__green.family-member_about__right:after {
        border-right-color: #5bb951;
    }
    &_about__green.family-member_about__left:after {
        left: auto;
        right: -20px;
        border-left-color: #5bb951;
    }
    &_about__carrot {background-color: #ff7d0a;}

    &_about__carrot.family-member_about__right:after {
        border-right-color: #ff7d0a;
    }
    &_about__carrot.family-member_about__left:after {
        left: auto;
        right: -20px;
        border-left-color: #ff7d0a;
    }

    &_about__blue {background-color: #289fd7;}
    &_about__blue.family-member_about__right:after {
        border-right-color: #289fd7;
    }
    &_about__blue.family-member_about__left:after {
        left: auto;
        right: -20px;
        border-left-color: #289fd7;
    }

    &_about__lilac {background-color: #9f8ac9;}
    &_about__lilac.family-member_about__right:after {
        border-right-color: #9f8ac9;
    }
    &_about__lilac.family-member_about__left:after {
        left: auto;
        right: -20px;
        border-left-color: #9f8ac9;
    }
    // /цвета
    /*&_about-photo {
        .inline-block();
        vertical-align: middle;
        margin-right: 10px;
    }
    &_about-photo-hold {
        display: table-cell;
        width: 55px; 
        max-width: 55px;
        height: 55px;
        max-height: 55px;
        vertical-align: middle;
        text-align: center;
    }*/

    &_about-hold {
        text-align: center;
        font-size: 13px;
    }
    &_about-tx-hold {
        padding: 10px 0;
        max-height: 210px;
        overflow: hidden;
        /*height: 100%;
        overflow: hidden;
        .box-sizing(border-box);*/
    }
    &_about-tx {
        position: relative;
        font-size: 14px;
        /*-webkit-column-width: 200px;
        column-width: 200px;
        height: 100%;
        overflow: hidden;*/
    }
    &_about-in {
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        max-width: 550px;
    }
    ////////////
}
/* /family-member */

/* cap-add */
.cap-add {
    display: table;
    margin: 35px 0;
    width: 100%;
    background-color: #73c76a; // зеленый можно изменить
    color: #fff;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        background-color: #59b94e; // зеленый можно изменить
    }
    &__family-member,
    &__green {background-color: #7fcc77;}
    &__family-member:hover,
    &__green:hover {background-color: #4BAA41;}
    &__family-photo,
    &__lilac {background-color: #a68ed3;}
    &__family-photo:hover,
    &__lilac:hover {background-color: #977bcb;}
    &__family-text,
    &__blue {background-color: #50abe2;}
    &__family-text:hover,
    &__blue:hover {background-color: #439ed4;}

    &__family-member &_hold {background: url('@{path-img}/family/cap-add__family-member.png') no-repeat 50% 50%;}
    &__family-photo &_hold {background: url('@{path-img}/family/cap-add__family-photo.png') no-repeat 50% 50%;}
    &__family-text &_hold {background: url('@{path-img}/family/cap-add__family-text.png') no-repeat 50% 50%;}
    /**/
    &__i-photo {
        margin: 0;
        padding: 7px;
        font-size: 14px;
        line-height: 14px;
    }
    &__i-photo &_in {
        padding: 40px 35px 25px;
        /*background: url('@{path-img}/cap-add_in__s.png') no-repeat 50% 36px;*/
    }
    &__i-photo:hover &_in {
        //.scale(1.15);
    } 
    &__i-photo &_in:before {
        display: block;
        margin: 0 0 8px;
        font-size: 70px;
        line-height: 30px;
    }
    &__i-photo &_hold {
        height: 110px;
        border: 2px dashed #fff;
        /*background: url('@{path-img}/cap-add__i-photo.png') no-repeat 50% 15px;*/
    }  
    /**/

    /**/
    &__s {
        padding: 10px;
        font-size: 25px;
    }
    &__s &_in {
        padding: 10px 10px 10px 10px;
        /*background: url('@{path-img}/cap-add_in__s.png') no-repeat 0 50%;*/
    }
    &__s:hover &_in {
        .scale(1.15);
    } 
    &__s &_in:before {
        margin-right: 10px;
        font-size: 70px;
        line-height: 20px;
    }
    &__s &_hold {
        height: 90px;
        border: 2px dashed #fff;
    }  
    /**/
    &__l {
        padding: 18px;
        font-size: 25px;
        // .transition(all 0.8s ease-out);
    }
    &__l &_in {
        padding: 20px 10px 20px 10px;
        /*background: url('@{path-img}/album-photo-add_hold.png') no-repeat;*/
    }
    &__l &_in:before {
        margin-right: 15px;
        font-size: 145px;
    }
    &__l:hover &_in {
        .scale(1.15);
    }
    &__l &_hold {
        height: 320px;
        border: 3px dashed #fff;
    } 
    /**/
    &_hold {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    &_in {
        display: inline-block;
    }
    &_in:before {
        content: '+';
        display: inline-block;
        vertical-align: middle;
        font-weight: bold;
        font-family: 'Courier New', sans-serif;
    }
    &_tx {
        display: inline-block;
        vertical-align: middle;
    }
}
/* /cap-add */

/* family-edit */
.family-edit {
    position: absolute;
    top: 10px;
    right: 10px;

    .ico-close4 {
        vertical-align: middle;
        margin-left: 10px;
    }
    .ico-edit {
        vertical-align: middle;
        margin-left: 10px;
    }
}
/* /family-edit */

/* family-photo */
.family-photo {
    position: relative;
    margin: 30px 0;

    .ico-close4 {
        position: absolute;
        top: -4px;
        right: -4px;
        z-index: 5;
    }
    &_t {
        position: absolute;
        top: 0;
        left: 0;
        padding: 30px 0;
        width: 100%;
        color: #fff;
        font-size: 35px;
        text-align: center;   
        #gradient > .vertical(@start-color: rgba(0,0,0,0.7); @end-color: rgba(0,0,0,0));
    }
    &_b {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 15px 10px;
        background-color: rgba(0,0,0,0.4);
    }
}
/* /family-photo */

/* family-settings */
.family-settings {
    position: relative;
    margin: 30px 0;
    padding: 30px 20px;
    border: 1px solid #d9d9d9;

    /*.i-photo {margin-top: 7px;}*/
    .i-photo_img-hold {
        background: none;
        border: 1px solid #f5f5f5;
    }
    &_t {
        margin: 5px 20px 30px;
        font-size: 25px;
        text-align: center;
    }
    &_hold {
        text-align: center;
    }
    &_hold__vert &_r,
    &_hold__vert &_l {
        vertical-align: middle;
    }
    &_l {
        display: inline-block;
        vertical-align: top;
        width: 160px;
        margin-right: 50px;
        text-align: left;
    }
    &_r {
        display: inline-block;
        vertical-align: top;
        width: 370px;
        text-align: left;
        .tx-content();
    }
    &_r .ico-edit {
        margin-left: 8px;
    }
    &_r .inp-valid {
        display: inline-block;
        vertical-align: middle;
        width: 320px;
        margin-right: 10px;
    }
    &_row {
        min-height: 32px;
        margin-bottom: 10px;
    }
    &_row-btn {
        margin: 40px 0 20px;
    }
    &_cap {
        position: relative;
        display: block;
        height: 32px;
        color: #fff;
        font-size: 14px;
        line-height: 30px;
        padding-left: 40px;
        background-color: #aa96d2;
    }
    &_cap__gender {background-color: #aa96d2;}
    &_cap__name   {background-color: #ff8232;}
    &_cap__date   {background-color: #ffd303;}
    &_cap__desc   {background-color: #4fb8f6;}
    &_cap:before {
        content: '+';
        position: absolute;
        top: 0;
        left: 12px;
        color: #fff;
        font-size: 32px;
    }
    &_cap:hover {
        color: #fff;
        .opacity(0.8);
    }
    &_tx {
        font-size: 16px;
        line-height: 30px;
    }
    &_name {
        font-size: 25px;
        line-height: 30px;
        font-weight: bold;
        color: #186fb8;
    }
    &_desc {
        margin-top: 4px;
    }

    &_progress {
        margin-top: 40px;
        font-size: 12px;
        width: 160px;
        text-align: center;
    }
    &_progress .progress {
        height: 4px;
        margin: 2px 0 15px;
        .box-shadow(none);
    }
    &_progress .progress-bar {
        height: 4px;
        .box-shadow(none);
    }
}
/* /family-settings */
