
/*
    footer
*/

.layout-footer {
    position: relative;
    z-index: 2;
    margin: -210px 0 0;
    background: #fff;
    font:normal 11px/16px tahoma, arial, helvetica, sens-serif;
    color: #a2a1a1;
    .box-shadow(0 -1px 3px rgba(0,0,0,0.05));
    
    &__in {
        margin-top: 0;
    }
    
    &_hold {
        width: auto;
        background: none;
        margin: 0 auto;
        padding: 20px 21px 40px;
    }
    &_privacy-hold {
        margin: 10px 0;
    }
    &_privacy {
        text-decoration: none;
        color: @color-gray-light;
    }
    &_privacy:hover {color: @color-gray;}
    @media (min-width: @screen-phone) {
        &_privacy-hold {text-align: right;}
    }
    @media (min-width: @screen-phone-landscape) {
        &_hold {
            padding: 20px 10% 35px;
        }
    }
    @media (min-width: @screen-tablet) {
        &_hold {
            width: 600px;
            padding: 20px 0 35px;
        }
    }
    @media (min-width: @screen-desktop) {
        &_hold {
            width: 780px;
        }
    }
}

.footer-list {
    padding: 23px 0;
    font-size: 13px;

    &_li {
        display: block;
        margin: 5px 0;
    }
    &_li.active &_a {color: #ff741b;}
    &_li__rambler {
        float: right;
        margin-right: 10px;
    }
    &_a {
        color: @color-gray;
        text-decoration: none;
    }
    &_a:hover {
        color: @color-gray-dark;
        text-decoration: none;
    }
    &__reklama {color: #ff741b;}
    &__reklama:hover {color: #ff6400;}
    &_rambler-count {
        float: right;
        margin: -12px 0 0 8px;
    }
    @media (min-width: @screen-phone) {
        &_li {
            .inline-block();
            padding: 0 10px 0 15px;
            background: url('@{path-img}/footer-list_li.png') no-repeat 0 7px;
        }
        &_li:nth-child(2),
        &_li:first-child,
        &_li:last-child {
            padding-left: 0;
            background: none;
        }
    }
    @media (min-width: @screen-desktop) {
        &_li:nth-child(2) {
            padding: 0 10px 0 15px;
            background: url('@{path-img}/footer-list_li.png') no-repeat 0 7px;
        }
    }
}

.footer-menu {
    margin: 0 -3px 25px;
    line-height: 14px;
    font-size: 12px;

    &_li {
        .inline-block();
        padding: 0 7px 0 9px;
        border-left: 1px solid #c3c3c3;
        font-weight: bold;
    }
    &_li:first-child {
        padding-left: 0;
        border-left: none;
    }
    &_li.active &_a {
        color: #429ee7;
        text-decoration: underline;
    }
    &_a {
        .inline-block();
        color: #666;
        padding: 0 3px;
        border-bottom: 2px solid #aa96d2;
        text-decoration: none;
    }
    &_a:hover {
        color: @color-base;
        text-decoration: none;
    }
    &_a__pregnancy {}
    &_a__home {border-color: #ff8232;}
    &_a__beauty {border-color: #f9d301;}
    &_a__husband-and-wife {border-color: #64b9eb;}
    &_a__hobby {border-color: #73c869;}
    &_a__family-holiday {}
}
