
/*
    footer
*/

.layout-footer {
    position: relative;
    z-index: 2;
    margin: 0;
    font: normal 11px/16px tahoma, arial, helvetica, sens-serif;
    color: #a2a1a1;
    .box-shadow(inset 0 0 8px -2px rgba(0,0,0,0.1));

    &__in {
        margin-top: 0;
    }
    &_hold {
        width: auto;
        background: none;
        margin: 0 auto;
        padding: 10px 21px 30px;
    }
    &_privacy-hold {
        margin: 15px 0;
    }
    &_privacy {
        display: inline-block;
        margin-right: 12px;
        text-decoration: none;
        color: @color-gray-light;
        font-size: 10px;
    }
    &_privacy:hover {color: @color-gray;}

    @media (min-width: @screen-phone) {
        /*&_privacy-hold {text-align: right;}*/
    }
    @media (min-width: @screen-phone-landscape) {
        &_hold {
            padding: 10px 10% 30px;
        }
    }
    @media (min-width: @screen-tablet) {
        &_hold {
            width: 620px;
            padding: 20px 0 30px;
        }
    }
    @media (min-width: @screen-desktop) {
        &_hold {
            width: auto;
            margin: 0 60px;
        }
        &_tx {
            margin: 0 120px 15px 0;
        }
    }
}

.footer-list {
    padding: 15px 0 25px;
    font-size: 13px;

    &_li {
        display: block;
        margin: 6px 0;
    }
    &_li.active &_a {color: #ff741b;}
    &_a {
        color: @color-gray-dark;
        text-decoration: none;
    }
    &_a:hover {
        color: @color-base;
        text-decoration: none;
    }
    &__reklama {color: #ff741b;}
    &__reklama:hover {color: #ff6400;}

    
    @media (min-width: @screen-phone) {
        &_li {
            .inline-block();
            margin: 0 6px;
        }
        &_li:nth-child(2),
        &_li:first-child {
            margin-left: 0;
        }
        &_li:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 2px;
            height: 2px;
            margin: 0 14px 1px 0;
            background-color: rgba(130,130,130,.8);
            .border-radius(5px);
        }
        &_li:nth-child(2):before,
        &_li:first-child:before {
            display: none;
        }
    }
    @media (min-width: @screen-desktop) {
        &_li,
        &_li:nth-child(2) {
            margin: 0 8px;
        }
        &_li:before {
            margin: 0 18px 1px 0;
        }
        &_li:nth-child(2):before {
            display: inline-block;
        }
    }
}

.footer-menu {
    margin: 0 0 22px;
    line-height: 14px;
    font-size: 12px;

    &_li {
        .inline-block();
        padding: 0 14px 0 17px;
        border-left: 1px solid #cbcbcb;
        font-weight: bold;
    }
    &_li:first-child {
        padding-left: 0;
        border-left: none;
    }
    &_li.active &_a {
        color: #429ee7;
        text-decoration: underline;
    }
    &_a {
        .inline-block();
        color: #666;
        padding: 0;
        border-bottom: 2px solid #aa96d2;
        text-decoration: none;
    }
    &_a:hover {
        color: @color-base;
        text-decoration: none;
    }
    &_a__pregnancy {}
    &_a__home {border-color: #ff8232;}
    &_a__beauty {border-color: #f9d301;}
    &_a__husband-and-wife {border-color: #64b9eb;}
    &_a__hobby {border-color: #73c869;}
    &_a__family-holiday {}
}
