/* header-member */
.header-member {

    &__settings {
        height: 66px;
        padding: 10px 15px 10px 35px;
        background-color: #664E92;
    }

    &_back {
        float: right;
        margin: 20px 0 0 20px;
        font-size: 14px;
        color: #fff;
    }
    &_back:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        margin: 0 8px 3px;
        background: url('@{path-img}/ico/ico-close5.svg') no-repeat 50% 50%;
    }
    &_ava {
        display: inline-block;
        position: relative;
        z-index: 2;
    }
    &_ico-settings {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 -5px;
        width: 58px;
        height: 53px;
        background: url('@{path-img}/header-member_ico-settings.svg') no-repeat;
    }
}
/* /header-member*/