
/* 
    logo 
    Главное лого сайта
    
    logo __small
        logo_i
        logo_slogan
*/
.logo {
    position: relative;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    
    &__small &_i {
        width: 65px;
        height: 60px;
        .img-retina('@{path-img}/base/logo__small.png'; '@{path-img}/base/logo__small-2x.png'; 65px; 60px;);
    }
    &_i {
        display:block;
        width:230px;
        height:65px;
        text-indent:-9999px;
        margin:0 auto;
        .img-retina('@{path-img}/base/logo.png'; '@{path-img}/base/logo-2x.png'; 230px; 65px;);
    }
    &_slogan {
        position: absolute;
        left: -9000px;
    }
}
/* /logo */

/* 
    Ссылки логина и регастрации в шапке у незарегестрированного пользователя
    header-login
        &_a
*/
.header-login {
    display: none;
    text-align: right;
    margin-bottom: 5px;
    position: absolute;
    top: 25px;
    right: 75px;
    
    @media (min-width: @screen-desktop) {
        display: block;
    }

    &_a {
        .inline-block();
        margin: 0 0 0 15px;
        color: @color-gray;
        text-decoration: none;
    }
    &_a:hover {
        color: @color-link;
        text-decoration: underline;
    }
}
/* /header-login */

/* 
    header 
    Главная шапка сайта

*/
.header {
    position: relative;
    background:#fff url('@{path-img}/header.png') repeat-x 0 0;
    
    &__guest .logo {
        margin: 5px auto 15px;
        .inline-block();
        vertical-align: top;
    }
    &__simple {}
    &__guest .header-menu {display: none;}

    @media (min-width: @screen-desktop) {
        &__guest .header-menu {display: inline-block;}
        
    }

    &__user .logo {
        float: left;
        margin: 5px 10px 5px 30px;
    }
    &__user .logo__small {margin: 0 25px 0 35px;}

    &__user &_hold {
        width: 1000px;
        margin: 0 auto;
        padding: 25px 0 18px;
    }

    &_t-big {
        float: left;
        margin: 15px 5px;
        font: 36px/42px 'Roboto', 'Helvetica Neue', Helvetica, Arial, Tahoma, sans-serif;
    }
    &_user {
        float: right;
        margin: 20px 35px 0 20px;
    }
    &_user .ava {
        vertical-align: middle;
        margin-right: 12px;
    }
    &_user-name {
        .inline-block();
        vertical-align: middle;
        text-decoration: none;
        font-weight: bold;
        color: #289fd7;
    }
    &_user-name:hover {text-decoration: underline;}
    &_i-arrow {
        display: inline-block;
        width: 12px;
        height: 8px;
        margin: 0 0 0 4px;
        background: url('@{path-img}/header_i-arrow.png') no-repeat;
    }




    
    
    &_hold {
        padding: 25px 10px 18px;
        text-align: center;
    }

    @media (min-width: @screen-xphone) {
        &_hold {
            padding: 25px 15px 18px;
        }
    }
    @media (min-width: @screen-phone-landscape) {
        &__guest .logo {
            margin-right: 30px;
        }
        .sidebar-search {
            .inline-block();
            vertical-align: top;
            width: 51%;
            margin: 30px 0 0 30px;
        }
        &_hold {
            width: 600px;
            margin: 0 auto;
            padding-left: 0;
            padding-right: 0;
        }
    }
    @media (min-width: @screen-desktop) {
        .sidebar-search {
            width: 41%;
        }
        &_hold {
            width: auto;
            padding: 25px 60px 18px;
        }
        /*&__title &_hold {padding-left: 60px;}*/
    }

}
/* /header */

/* 
    header-menu
    меню в шапке
    
    header-menu
        header-menu_ul
            header-menu_li  active
                header-menu_a 
                    header-menu_ico
                    header-menu_tx
*/
.header-menu {
    display: inline-block;
    margin: 5px 20px 0 0;
   
    .ava {
        float: none;
        .inline-block();
        margin: 2px auto 1px;
    }
    &_li {
        position: relative;
        .inline-block();
        vertical-align: top;
        margin: 0 12px;
        text-align: center;
    }

    &_li__dropin &_a:hover &_ico,
    &_li__dropin &_li.active &_ico,
    &_a:hover &_ico,
    &_li.active &_ico,
    &_a:hover &_count,
    &_li.active &_count {top: -4px;}

    &_a:hover &_ico__giraffe,
    &_li.active &_ico__giraffe   {background-position: 0 -50px;}
    &_a:hover &_ico__im,
    &_li.active &_ico__im        {background-position: -50px -50px;}
    &_a:hover &_ico__friend,
    &_li.active &_ico__friend    {background-position: -100px -50px;}
    &_a:hover &_ico__notice,
    &_li.active &_ico__notice    {background-position: -150px -50px;}
    &_a:hover &_ico__award,
    &_li.active &_ico__award     {background-position: -200px -50px;}
    &_a:hover &_ico__club,
    &_li.active &_ico__club      {background-position: -250px -50px;}
    &_a:hover &_ico__broadcast,
    &_li.active &_ico__broadcast {background-position: -300px -50px;}
    /*&_li:hover &_ico__profile,
    &_li.active &_ico__profile   {background-position: -350px -50px;} */
    &_a:hover &_ico__logout      {background-position: -650px -50px;}
    &_a:hover,
    &_li.active &_a {
        background: url('@{path-img}/header-menu_a.png') no-repeat 4px 0;
    }
    &_a:hover &_tx,
    &_li.active &_tx {
        color: #808080;
        text-decoration: none;
    }
    &_li__dropin {
        margin-left: 0;
        margin-right: 0;
    }
    &_li__dropin.active .header-drop {display: block;}
    &_a {
        width: 76px;
        .inline-block();
        padding: 13px 0 0;
        text-decoration: none;
        text-align: center;
    }
    /*&_a:hover .header_i-arrow {background-position: 0 -8px;}*/
    &_ico {
        position: relative;
        display: block;
        width: 50px;
        height: 45px;
        margin: 0 auto 2px;
        .img-retina('@{path-img}/header-menu_ico.png'; '@{path-img}/header-menu_ico-2x.png'; 700px; 95px;);
    }

    &_ico__giraffe   {background-position: 0 0;}
    &_ico__im        {background-position: -50px 0;}
    &_ico__friend    {background-position: -100px 0;}
    &_ico__notice    {background-position: -150px 0;}
    &_ico__award     {background-position: -200px 0;}
    &_ico__club      {background-position: -250px 0;}
    &_ico__broadcast {background-position: -300px 0;}
    &_ico__profile   {background-position: -350px 0;}
    &_ico__family    {background-position: -400px 0;}
    &_ico__blog      {background-position: -450px 0;}
    &_ico__photo     {background-position: -500px 0;}
    &_ico__favorite  {background-position: -550px 0;}
    &_ico__settings  {background-position: -600px 0;}
    &_ico__logout    {background-position: -650px 0;}

    &_ico__profile .ava {
        position: absolute;
        top: 9px;
        left: 6px;
    }

    &_tx {
        display: block;
        font: 10px/12px Tahoma, Arial, Verdana, sans-serif;
        color: #acacac;
        text-transform: uppercase;
    }
    &_count {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 1px 5px;
        border: 2px solid #fff;
        font-size: 11px;
        line-height: 14px;
        color: #fff;
        background-color: #f84219;
        .border-radius(30px);
    }
}


/* header-drop 
    Выпадающий попап в верхнем меню
    header-drop
        <header-menu>
        header-drop_b
        header-drop__b-empty
*/
.header-drop {
    display: none;
    position: absolute;
    z-index: 600;
    top: 70px;
    right: 2px;
    width: 390px;
    background: #fff;
    text-align: left;
    .box-shadow(0 0 4px rgba(0,0,0,0.18));

    &:after {
        content: ' ';
        position: absolute;
        right: 26px;
        top: -5px;
        height: 10px;
        width: 10px;
        margin-left: -5px;
        background: #fff;
        z-index: 1;
        .rotate(45deg);
        .box-shadow(-2px -2px 4px rgba(0,0,0,0.1));
    }

    .header-menu {
        float: none;
        margin: 5px 0 20px 10px;
    }
    .header-menu_li {
        margin: 0 6px;
        width: 80px;
        vertical-align: top;
    }
    .header-menu_li .header-menu_a {background: none;}
    .heading-small {font-size: 15px;}
    &_b {
        padding: 15px 20px 5px;
        background: #f5f5f5;
        font-size: 13px;
    }
    &_b-empty {
        margin: 7px 0 20px;
    }
}
/* /header-drop */
