/*
    homepage
*/

.homepage {
    min-width: 1000px;
    &_btn-sign {
        width: 285px;
        font-size: 25px;
        font-family: 'pt sans', Arial, Tahoma, Verdana, sans-serif;
    }
    &_row {}
    &_title {

        @media (min-width: @screen-phone) {
          margin: 50px 20px;
          font: bold 50px/50px 'pt sans', Arial, Tahoma, Verdana, sans-serif;
        }
        margin: 30px 0;
        font: bold 35px/35px 'pt sans', Arial, Tahoma, Verdana, sans-serif;
        text-align: center;
        color: @color-gray;
    }
    &_desc-tx {
        margin: 20px;
        font-size: 16px;
        color: @color-gray;
    }

      /* homepage-desc */
  .homepage-desc {
      background-color: #664e92;
      font-family: 'pt sans', Arial, Tahoma, Verdana, sans-serif;


      .i-or-tx {
          color: #b0a0cc;
      }
      &_hold {
          margin: 10px 0 0;
          padding: 540px 50px 70px;
          background: url('@{path-img}/homepage-desc_hold.png') no-repeat 50% 60px;
      }
      &_b {}
      &_l {
          float: left;
          width: 485px;
          margin-right: 45px;
          text-align: right;
          color: #c7bbdc;
          font-size: 26px;
          line-height: 40px;
      }
      &_mark {
          color: #fff;
          font-size: 32px;
      }
      &_r {
          float: left;
          margin: 10px 0 0;
      }
      &_soc {
          margin: 20px 0 0;
          text-align: center;
      }
  }
  /* /homepage-desc */

  /* homepage-clubs */
  .homepage-clubs {
      padding: 20px 25px;

      &_hold {
          margin: 0 -95px 23px 10px;
      }
      &_collection {
          .inline-block();
          margin: 0 72px 30px 0;
          text-align: center;
      }
      &_li {
          display: inline-block;
          vertical-align: top;
          width: 108px;
          margin-left: 20px;
      }
      &_ico-overlay {
        &.active {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-color: rgba(35, 161, 245, .3);
          background-image: url('@{path-img}/homepage-clubs_ico-overlay-active.svg');
          .border-radius(54px);
        }
      }
      &_li:first-child {
          margin-left: 0 !important;
      }
      &_collection:hover &_title {color: #009ee0;}
      &_collection:hover &_ul {border-top-color: #e2f4ff;}
      /* collection__1 */
      &_collection__1 {
          margin-right: 33px;
      }
      &_collection__1  {
        .homepage-clubs_li {
          margin-left: 7px;
        }
      }
      &_collection__1 {
        .homepage-clubs_ico-hold {
          border-color: #faf6ff;
          background-color: #faf6ff;
        }
      }
      /* collection__2 */
      &_collection__2 {
        .homepage-clubs_li {
          margin-left: 5px;
        }
      }
      &_collection__2 {
        .homepage-clubs_ico-hold {
          border-color: #f3fcff;
          background-color: #f3fcff;
        }
      }
      /* collection__3 */
      &_collection__3 {
        .homepage-clubs_ico-hold {
          border-color: #fffbf8;
          background-color: #fffbf8;
        }
      }
      /* collection__4 */
      &_collection__4 {
        .homepage-clubs_ico-hold {
          border-color: #fffeea;
          background-color: #fffeea;
        }
      }
      /* collection__5 */
      &_collection__5 {
        .homepage-clubs_ico-hold {
          border-color: #f3fef2;
          background-color: #f3fef2;
        }
      }
      /* collection__6 */
      &_collection__6 {
        .homepage-clubs_ico-hold {
          border-color: #faf6ff;
          background-color: #faf6ff;
        }
      }


      &_title-hold {
          text-align: center;
      }
      &_title {
          display: inline-block;
          background-color: #fff;
          padding: 2px 4px;
          color: @color-gray-light;
      }
      &_ul {
          margin-top: -11px;
          border-top: 1px solid transparent;
          padding: 20px 0 0;
          .border-radius(10px);
      }

      &_a {
          display: inline-block;
          color: @color-base;
          line-height: 13px;
      }
      &_a:hover {
          color: @color-orange;
      }
      &_a:hover .ico-club {
          .scale(1.2);
      }
      &_a:hover &_ico-hold {background-color: #fff;}
      &_ico-hold {
          height: 108px;
          width: 108px;
          margin-bottom: 5px;
          padding: 17px 5px 0;
          border: 2px solid #faf6ff;
          background-color: #faf6ff;
          .border-radius(54px);
          position: relative;
      }

      &_tx {
        margin-bottom: 5px;
      }

      &_comments {
          height: 15px;
          display: inline-block;
          font-size: 11px;
          padding-left: 20px;
          color: #999;
          background: url('@{path-img}/icons-mata.png') no-repeat -18px 0;
      }

      &_b {
          text-align: center;

          .homepage_btn-sign {
              background-color: #9981c3;
              color: #fff;
          }
          .homepage_btn-sign:hover {
              background-color: #9279bb;
          }
      }

  }
  /* /homepage-clubs */

  /* homepage-posts */
  .homepage-posts {
      padding: 0 0 30px;

      .homepage_title {
        margin-bottom: 15px;
      }

      .article-anonce {
          display: inline-block;
          vertical-align: top;
          margin: 20px 7px 15px;
          width: 300px;
      }
      .article-anonce__xl {width: 615px;}
      .bnr-base,
      .article-similar {
          display: inline-block;
          width: 240px;
          margin: 0 30px 30px;
          vertical-align: top;
      }
      /*.article-similar_t {
          font-family: 'pt sans', Arial, Tahoma, Verdana, sans-serif;
      }*/
      &_col-hold {
          text-align: center;
      }
      &_col {
          display: inline-block;
          width: 240px;
          margin: 0 30px;
          vertical-align: top;
      }
  }
  /* /homepage-posts */

  /* homepage-counter */
  .homepage-counter {
      margin: 60px 0 120px;
      text-align: center;

      .counter-users {
          margin: -50px 20px -5px;
      }
      .homepage_title {
          font-size: 35px;
      }
  }
  /* /homepage-counter */

}
/* /homepage */


.homepage-res {
  .header_hold {
    @media (min-width: @screen-phone-landscape) {
      padding: 30px 45px 20px;
    }
    padding: 30px 0 20px;
  }
  .sidebar-search {
    @media (min-width: @screen-phone-landscape) {
      width: 615px !important;
    }
    @media (min-width: @screen-desktop) {
      width: 35.6% !important;
      float: left !important;
      margin: 0 0 10px;
    }
    &__bottom {
      @media (min-width: @screen-desktop) {
        display: none;
      }
      display: block;
    }
    &__top {
      @media (min-width: @screen-desktop) {
        display: block;
      }
      display: none;
    }
    width: auto !important;
    float: none !important;
    margin: 0 auto 20px;
    padding: 0 10px;
  }
  .layout-footer {
    @media (min-width: @screen-desktop) {
      margin: 80px auto 0;
    }
    margin: 0;
  }

  /* homepage-desc */
  .homepage-desc {
      @media (min-width: @screen-desktop) {
        display: block;
      }
      display: none;
      background-color: #664e92;
      font-family: 'pt sans', Arial, Tahoma, Verdana, sans-serif;


      .i-or-tx {
          color: #b0a0cc;
      }
      &_hold {
          margin: 10px 0 0;
          padding: 540px 50px 70px;
          background: url('@{path-img}/homepage-desc_hold.png') no-repeat 50% 60px;
      }
      &_b {}
      &_l {
          @media (min-width: @screen-desktop) {
            margin-right: 45px;
            float: left;
            width: 485px;
            text-align: right;
          }
          float: none;
          width: 100%;
          margin-right: 0;
          text-align: center;
          color: #c7bbdc;
          font-size: 26px;
          line-height: 40px;
      }
      &_mark {
          color: #fff;
          font-size: 32px;
      }
      &_r {
          @media (min-width: @screen-desktop) {
            display: block;
          }
          display: none;
          float: left;
          margin: 10px 0 0;
      }
      &_soc {
          margin: 20px 0 0;
          text-align: center;
      }
  }
  /* /homepage-desc */

  /* homepage-clubs */
  .homepage-clubs {
      padding: 20px 25px;

      &_hold {
          @media (min-width: @screen-desktop) {
            margin: 0 -95px 23px 0;
          }
          @media (min-width: @screen-desktop) {
            text-align: left;
          }
          text-align: center;
          margin: 0 0 23px 0;
      }
      &_collection {
          @media (min-width: @screen-desktop) {
            .inline-block();
            margin: 0 72px 30px 0;
            text-align: center;
          }
          display: block;
          margin: 0 0 30px 0;
          text-align: left;
      }
      &_collection:hover &_title {color: #009ee0;}
      &_collection:hover &_ul {
        @media (min-width: @screen-desktop) {
          border-top-color: #e2f4ff;
        }
        border-top-color: transparent;
      }
      /* collection__1 */
      &_collection__1 {
          @media (min-width: @screen-desktop) {
            margin-right: 33px;
          }
          margin-right: 0;
      }
      &_collection__1 &_li {
        @media (min-width: @screen-desktop) {
          margin-left: 7px;
        }
        margin-left: 0 !important;
      }
      &_collection__1 &_ico-hold {
          @media (min-width: @screen-desktop) {
            border-color: #faf6ff;
            background-color: #faf6ff;
          }
          border: none;
          background: none;
      }
      &_collection__1 {
        .homepage-clubs_a {
          @media (min-width: @screen-desktop) {
            border: none;
            background: none;
          }
          border-color: #faf6ff;
          background-color: #faf6ff;
        }
      }
      /* collection__2 */
      &_collection__2 &_li {
        @media (min-width: @screen-desktop) {
          margin-left: 5px;
        }
        margin-left: 0;
      }
      &_collection__2 &_ico-hold {
          @media (min-width: @screen-desktop) {
            border-color: #f3fcff;
            background-color: #f3fcff;
          }
          border: none;
          background: none;
      }
      &_collection__2 {
        .homepage-clubs_a {
          @media (min-width: @screen-desktop) {
            border: none;
            background: none;
          }
          border-color: #f3fcff;
          background-color: #f3fcff;
        }
      }
      /* collection__3 */
      &_collection__3 &_ico-hold {
          @media (min-width: @screen-desktop) {
            border-color: #fffbf8;
            background-color: #fffbf8;
          }
          border: none;
          background: none;
      }
      &_collection__3 {
        .homepage-clubs_a {
          @media (min-width: @screen-desktop) {
            border: none;
            background: none;
          }
          border-color: #fffbf8;
          background-color: #fffbf8;
        }
      }
      /* collection__4 */
      &_collection__4 &_ico-hold {
          @media (min-width: @screen-desktop) {
            border-color: #fffeea;
            background-color: #fffeea;
          }
          border: none;
          background: none;
      }
      &_collection__4 {
        .homepage-clubs_a {
          @media (min-width: @screen-desktop) {
            border: none;
            background: none;
          }
          border-color: #fffeea;
          background-color: #fffeea;
        }
      }
      /* collection__5 */
      &_collection__5 &_ico-hold {
          @media (min-width: @screen-desktop) {
            border-color: #f3fef2;
            background-color: #f3fef2;
          }
          border: none;
          background: none;
      }
      &_collection__5 {
        .homepage-clubs_a {
          @media (min-width: @screen-desktop) {
            border: none;
            background: none;
          }
          border-color: #f3fef2;
          background-color: #f3fef2;
        }
      }
      /* collection__6 */
      &_collection__6 &_ico-hold {
          @media (min-width: @screen-desktop) {
            border-color: #faf6ff;
            background-color: #faf6ff;
          }
          border: none;
          background: none;
      }
      &_collection__6 {
        .homepage-clubs_a {
          @media (min-width: @screen-desktop) {
            border: none;
            background: none;
          }
          border-color: #faf6ff;
          background-color: #faf6ff;
        }
      }


      &_title-hold {
          @media (min-width: @screen-desktop) {
            display: block;
          }
          display: none;
          text-align: center;
      }
      &_title {
          display: inline-block;
          background-color: #fff;
          padding: 2px 4px;
          color: @color-gray-light;
      }
      &_ul {
          margin-top: -11px;
          border-top: 1px solid transparent;
          padding: 20px 0 0;
          .border-radius(10px);
      }
      &_li {
          @media (min-width: @screen-desktop) {
            display: inline-block;
            width: 108px;
            margin-left: 20px;
          }
          display: block;
          vertical-align: top;
          width: auto;
          margin-left: 0;
      }
      &_li:first-child {
          margin-left: 0 !important;
      }
      &_a {
          @media (min-width: @screen-phone-landscape) {
            margin: 0 auto 10px;
            width: 615px;
          }
          @media (min-width: @screen-desktop) {
            display: inline-block;
            margin: 0;
            border-radius: 0px;
            width: auto;
          }
          width: auto;
          margin: 0 0 10px;
          .border-radius(10px);
          display: block;
          color: @color-base;
          line-height: 13px;
      }
      &_a:hover {
          color: @color-orange;
      }
      &_a:hover .ico-club {
          @media (min-width: @screen-desktop) {
            .scale(1.2);
          }
      }
      &_a:hover &_ico-hold {
        @media (min-width: @screen-desktop) {
          background-color: #fff;
        }
        background: none;
      }
      &_ico-hold {
          @media (min-width: @screen-desktop) {
            height: 108px;
            width: 108px;
            padding: 17px 5px 0;
            background: #faf6ff;
            border: 2px solid #faf6ff;
            display: block;
          }
          display: inline-block;
          vertical-align: middle;
          height: auto;
          width: auto;
          margin-bottom: 5px;
          padding: 0;
          border: none;
          background: none;
          .border-radius(54px);
          position: relative;
          .ico-club {
            @media (min-width: @screen-desktop) {
              .scale(1);
            }
            .scale(0.6);
          }
      }
      &_tx {
        @media (min-width: @screen-desktop) {
          font-size: 12px;
          display: block;
        }
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
      }

      &_b {
          @media (min-width: @screen-desktop) {
             display: block;
          }
          display: none;
          text-align: center;

          .homepage_btn-sign {
              background-color: #9981c3;
              color: #fff;
          }
          .homepage_btn-sign:hover {
              background-color: #9279bb;
          }
      }

  }
  /* /homepage-clubs */

  /* homepage-posts */
  .homepage-posts {
      padding: 0 0 30px;

      .homepage_title {
        margin-bottom: 15px;
      }

      .article-anonce {
          @media (min-width: @screen-phone-landscape) {
            display: inline-block;
            width: 615px;
          }
          @media (min-width: @screen-desktop) {
            width: 300px;
          }
          &__lilac, &__ico {
            @media (min-width: @screen-desktop) {
              display: inline-block !important;
            }
            display: none !important;
          }
          display: block;
          width: auto;
          vertical-align: top;
          margin: 20px 7px 15px;
          &_bottom {
            @media (min-width: @screen-desktop) {
              border: 1px solid #f2f2f2;
            }
            border: none;
          }
          &__xl {
            .article-anonce_bottom {
              border: none;
            }
          }
          .article-anonce_img-top {
            @media (min-width: @screen-tablet) {
              display: block;
            }
            display: none;
          }
          &_t {
            @media (min-width: @screen-phone) {
              font-size: 35px;
            }
            @media (min-width: @screen-desktop) {
              font-size: 22px;
            }
            font-size: 20px;
          }

      }
      .article-anonce__xl {
        @media (min-width: @screen-tablet) {
          width: 615px !important;
        }
        .article-anonce_img-hold {
          @media (min-width: @screen-tablet) {
            height: 410px;
          }
          height: auto;
        }
        width: auto;
        .article-anonce_img {
          @media (min-width: @screen-tablet) {
            position: absolute;
          }
          position: initial;
        }
        .article-anonce_t {
          @media (min-width: @screen-phone) {
            font-size: 35px;
            line-height: 30px;
          }
          @media (min-width: @screen-phone-landscape) {
            margin-right: 130px;
          }
          @media (min-width: @screen-desktop) {
            font-size: 30px;
          }
          font-size: 20px;
          line-height: 22px;
          margin-right: 0;
        }
      }
      .bnr-base,
      .article-similar {
          display: inline-block;
          width: 240px;
          margin: 0 30px 30px;
          vertical-align: top;
      }
      /*.article-similar_t {
          font-family: 'pt sans', Arial, Tahoma, Verdana, sans-serif;
      }*/
      &_col-hold {
          text-align: center;
      }
      &_col {
          display: inline-block;
          width: 240px;
          margin: 0 30px;
          vertical-align: top;
      }
  }
  /* /homepage-posts */
  /* homepage-counter */
  .homepage-counter {
      @media (min-width: @screen-desktop) {
        display: block;
      }
      display: none;
      margin: 60px 0 120px;
      text-align: center;

      .counter-users {
          margin: -50px 20px -5px;
      }
      .homepage_title {
          font-size: 35px;
      }
  }
  /* /homepage-counter */
}





/* counter-users */
.counter-users {
    .inline-block();
    vertical-align: middle;
    margin: 0 5px;

    &_dash {
        float: left;
        margin: 10px 5px 0;
    }
    &_digit {
        position: relative;
        float: left;
        width: 55px;
        height: 69px;
        margin: 0 1px;
        background: url('@{path-img}/counter-users_digit.png') no-repeat;
        font: 62px/69px Arial, Tahoma, Verdana, sans-serif;
        color: #333;
        text-align: center;
        overflow: hidden;
    }
    &_digit .bottom {position: relative;}
    &_digit:after {
        content:' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 55px;
        height: 69px;
        background: url('@{path-img}/counter-users_digit-after.png') no-repeat 50% 50%;
        z-index: 2;
    }
}
/* /counter-users */

/* homepage-family */
.homepage-family {
    margin: 30px 0;

    &_t {
        font: bold 50px/50px 'pt sans', Arial, Tahoma, Verdana, sans-serif;
        margin: 0 0 30px;
        color: @color-gray;
        text-align: center;
    }
    &_reload {
        display: inline-block;
        vertical-align: middle;
        width: 101px;
        height: 101px;
        margin-left: 30px;
        background: url('@{path-img}/homepage-family_reload.png') no-repeat;
        .transition(all 1.2s ease);
    }
    &_reload__animate {
        .rotate(360deg);
    }
    &_hold {
        position: relative;
        min-height: 666px;
        background: #524261;
    }
    &_r {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 290px;
        background: rgba(0, 0, 0, .4);
        text-align: center;

        .friends-list {
            display: inline-block;
            vertical-align: middle;
        }
        .friends-list_li {
            background-color: #fff;
        }
    }
}
/* /homepage-family */
