/*
    .img-grid
        .img-grid_row
            .img-grid_i
                img.img-grid_img
                .img-grid_overlay
                    .img-grid_zoom
*/
.img-grid {
    overflow: hidden;
    margin: 20px 0 0;
    
    &_row {
        margin: 0;
    }
    &_i {
        position: relative;
        margin: 0 0 15px;
        height: 320px;
        height: 61.6vw;
        cursor: pointer;
        background-color: #524261;
        color: #fff;
        text-align: center;
    }
    &_i:hover &_overlay {
        z-index: 10;
        opacity: 1;
    }
    .ie8 &_i:hover &_overlay {display: block;filter: alpha(opacity=40);}
    /*&_i.loading &_overlay {display: none;}*/
    /*&_i.loading &_loading {display: block;}*/
    /*&_i.loading &_img {visibility: hidden;}*/
    &_i__del:hover &_loading {display: none;}
    & img,
    &_img {
        display: block;
        position: relative;
        z-index: 1;
        margin: 0 auto;
        max-height: 100%;
        max-width: 100%;
    }
    &_overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #290b45;
        background: rgba(41,11,69,.35);
        .transition(all 0.4s ease);
        opacity: 0;
    }
    .ie8 &_overlay {display: none;filter: alpha(opacity=0);}
    
    &_loading {
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    &_loading__purple {background-color: #bfafdc;}
    &_loading__yellow {background-color: #ffefab;}
    &_loading__carrot {background-color: #ffac62;}
    &_loading__green {background-color: #b1ddad;}
    &_loading__blue {background-color: #b1d9f1;}
    &_loading-hold {
        position: absolute;
        top: 50%;
        width: 100%;
        margin-top: -40px;
        text-align: center;
    }
    &_loading-tx {
        margin: 5px;
        color: #fff;
    }

    //////////////// О фото, применяется в семье
    &_about {
        position: relative;
        float: left;
        width: 236px;
        z-index: 15;
        padding: 20px;
        color: #fff;
    }
    &_about:after {
        content: "";
        position: absolute;
        top: 35px;
        left: -20px;
        width: 0;
        height: 0;
        border-color: transparent;
        z-index: 5;
        border: 10px solid transparent;
    }
    &_about__right {
        margin: 0 17px 0 -30px;
        .border-left-radius(18px);
    }
    &_about__left {
        margin: 0 -13px 0 17px;
        .border-right-radius(18px);
    }
    &_about__left:first-child{margin-left: 0;}
    &_about__green {background-color: #4fb145;}
    &_about__green &_about-photo-hold {background-color: #47a93d;}
    &_about__green.img-grid_about__right:after {
        border-right-color: #4fb145;
    }
    &_about__green.img-grid_about__left:after {
        left: auto;
        right: -20px;
        border-left-color: #4fb145;
    }
    &_about__carrot {background-color: #ff7d0a;}
    &_about__carrot &_about-photo-hold {background-color: #fb7702;}

    &_about__carrot.img-grid_about__right:after {
        border-right-color: #fb7702;
    }
    &_about__carrot.img-grid_about__left:after {
        left: auto;
        right: -20px;
        border-left-color: #fb7702;
    }
    &_about-photo {
        .inline-block();
        vertical-align: middle;
        margin-right: 10px;
    }
    &_about-photo-hold {
        display: table-cell;
        width: 55px; 
        max-width: 55px;
        height: 55px;
        max-height: 55px;
        vertical-align: middle;
        text-align: center;
    }
    &_about-name {
        .inline-block();
        vertical-align: middle;
        font-size: 11px;
    }
    &_about-tx-hold {
        height: 100%;
        overflow: hidden;
        padding: 10px 0 60px;
        .box-sizing(border-box);
    }
    &_about-tx {
        position: relative;
        font-size: 14px;
        -webkit-column-width: 200px;
        column-width: 200px;
        height: 100%;
        overflow: hidden;
    }
    ////////////

    /// ico в альбомах
    &_ico-ava {
        position: absolute;
        top: 10px;
        left: 12px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background: url('@{path-img}/img-grid_ico-ava.png') no-repeat;
    }
    &_ico-ava:hover {background-position: 0 -50px;}
    &_ico-ava:hover:after {display: block;}
    &_ico-ava.active {background-position: 0 -100px;}
    &_ico-ava.active:hover {background-position: 0 -100px;}
    &_ico-ava.active:hover:after {display: none;}
    &_ico-ava:after {
        content: 'На главную анкеты';
        display: none;
        position: absolute;
        top: 100%;
        left: -5px;
        width: 60px;
        margin-top: 3px;
        font-size: 11px;
        line-height: 11px;
        color: #fff;
        text-align: center;
    }
    &_ico-album {
        position: absolute;
        top: 10px;
        right: 12px;
        width: 56px;
        height: 50px;
        cursor: pointer;
        background: url('@{path-img}/img-grid_ico-album.png') no-repeat;
    }
    &_ico-album:hover {background-position: 0 -50px;}
    &_ico-album:hover:after {display: block;}
    &_ico-album.active {background-position: 0 -100px;}
    &_ico-album.active:hover {background-position: 0 -100px;}
    &_ico-album.active:hover:after {display: none;}
    &_ico-album:after {
        content: 'На обложку альбома';
        display: none;
        position: absolute;
        top: 100%;
        left: -5px;
        width: 60px;
        font-size: 11px;
        line-height: 11px;
        color: #fff;
        text-align: center;
    }
    &_overlay-b {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px 10px;
        background: #290b45;
        background: rgba(0,0,0,.45);

        .ico-trash,
        .ico-photo-edit,
        .ico-move {opacity: .8;}
        .ico-trash:hover,
        .ico-photo-edit:hover,
        .ico-move:hover {opacity: 1;}
    }
    .ie8 &_overlay-b {display: none;filter: alpha(opacity=50);}
    
    /////////
    @media (min-width: @screen-desktop) {
        

        &_row {
            margin: 0 -25px 20px 0;
        }
        &_i {
            float: left;
            margin: 0 20px 0 0;
            height: 0;
        }
    }
}
/* /img-grid */