/* list-subsribe-users */
.list-subsribe-users {
    margin: 10px 40px 10px 0;

    &_ul {}
    &_li {
        padding: 15px 0;
        border-bottom: 1px solid #fafafa;
    }
    &_li > .btn {
        float: right;
        margin-top: 7px;
    }
    &_li > .a-light {
        display: inline-block;
        margin: 0 10px;
    }
    &_li > .ava,
    &_li > .tx-date {
        vertical-align: middle;
    }

}
/* /list-subsribe-users */