/* menu-link-simple */
.menu-link-simple {
    margin: 30px 10px;
    font-size: 14px;

    &__center {
        text-align: center;
    }
    &__col &_li {
        display: block;
        margin: 4px 0;
    }

    &_t {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 8px;
    }
    &_ul {}
    &_li {
        display: inline-block;
        margin: 2px 10px;
    }
    &_a {
        text-decoration: none;
    }
    &_a:hover {
        color: @color-orange;
    }
}
/* /menu-link-simple */