/* 
    Мой жираф
*/
.mygiraffe {
    position: relative;
    margin: 20px 0 40px;
    
    .i-info-success {margin: 0 0 10px;}

    .ico-post-type {margin-right: 15px;}
    .ico-close6 {
        position: absolute;
        top: -10px;
        right: -23px;
    }
    .heading-xxl {
        margin: 0 0 15px;
    }
}
/* /mygiraffe */

/* 
    Подписки в моем жирафе
    mygiraffe-subs
*/
.mygiraffe-subs {
    
    .homepage-clubs {
        padding: 20px 0;
    }
    .homepage-clubs_a:hover .ico-club {
        .scale(1);
    }
    /*.homepage-clubs_a:hover &_ico-hold {background-color: #fff;}*/
    &_bottom {
        text-align: right;
    }
    &_bottom-tx {
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
    }
}
/* /mygiraffe-subs */