.onair {
  &_load {
    display: inline-block;
    margin-left: 15px;
    width: 32px;
    height: 32px;
    background: url('@{path-img}/contest/commentator/contest-commentator-list_load.png') no-repeat;

    -webkit-animation: loadercircle 3s infinite linear;
    -o-animation: loadercircle 3s infinite linear;
    animation: loadercircle 3s infinite linear;
  }

  &_arrows {
    margin-bottom: 55px;

    &_arrow {
      background-image: url('@{path-img}/ico/ico-arrows.png');
      display: inline-block;
      width: 50px;
      height: 36px;
    }

    &_left {
      float: left;
      margin-left: 7px;
      background-position: -50px 0;
    }

    &_left.inactive {
      background-position: -150px 0;
    }

    &_right {
      float: right;
      margin-right: 25px;
      background-position: 0 0;
    }

    &_right.inactive {
      background-position: -100px 0;
    }
  }

  .homepage_title {
    margin-bottom: 19px;
  }

  .comments_frame {
    width: auto;
  }
}

.onair-filter {
  font-size: 18px;
  margin: 18px 0 24px 4px;
  .clearfix;

  &_i {
    float: left;
    margin-right: 24px;


    a {
      color: #a3a3a3;
    }

    a:hover {
      color: #ff6900;
    }
  }


  &_i.active {
    a {
      color: #ff6900;
    }
  }
}

.onair-min {
  padding: 18px 17px 0 16px;

  .onair_arrows {
    margin-bottom: 30px;

    &_left {
      margin-left: 3px;
    }

    &_right {
      margin-right: -1px;
    }
  }

  .side-block_tx {
    text-align: center;
    margin-bottom: 12px;
  }

  .b-article__list {
    border: none;
    padding: 0;
  }

  .comments_hold {
    margin-right: 0;
  }

  .b-article_t-a {
    font-size: 22px;
  }

  &_post-header {
    font-size: 14px;
    font-weight: bold;
    color: @color-link-title;
  }
}