
/* popup */
.popup {
    position: relative;
    margin: 20px auto;

    &__close-white .mfp-close{
        color: #fff !important;
    }

    &__error {
        width: 500px;
        .mfp-close {
            height: 25px;
            width: 30px;
            line-height: 25px;
        }
    }
}

/* popup-transparent-close */
.popup-transparent-close {
    position: absolute;
    top: -22px;
    right: -30px;
    width: 22px;
    height: 22px;
    background: url('@{path-img}/popup-transparent-close.png') no-repeat;
    &:hover {background-position: 0 -22px;}
}
@media screen and (max-width: 1100px) {
    .popup-transparent-close {right: 0;}
}
/* /popup-transparent-close */
