/* 
	postAdd 

*/
.postAdd {
    
    .b-main_col-article &_video-serv {margin-top: -6px;}
    &_hold {
        margin: 0 0 20px;
    }
    &_row {
        margin: 0 0 35px;
        &:extend(.clearfix all);
    }
    &_count {
        float: left;
        min-height: 1px;
        width: 50px;
        color: @color-gray-light;
        font-size: 45px;
        line-height: 32px;
        font-weight: bold;
    }
    &_cont {
        float: left;
        width: 560px;
    }
    &_video-serv {
        margin: 0 0 10px;
        &:extend(.clearfix all);
    }
    &_video-serv-t {
        .inline-block();
        margin-top: 5px;
        font-size: 14px;
        color: @color-gray-dark;
    }
    &_video-serv-hold {
        float: right;
    }
    &_video-serv-desc {
        .inline-block();
        vertical-align: middle;
        margin: 2px 10px 0;
        font-size: @fontsmallest;
        color: @color-gray;
    }
    &_video-serv-i {
        .inline-block();
        vertical-align: middle;
        margin: 0 5px;
        width: 60px;
        height: 30px;
        background: url('@{path-img}/redactor/redactor-popup_video-serv-i.png') no-repeat;
    }
    &_video-serv-i.active {}
    &_video-serv-i__youtube {background-position: 0 -30px;}
    &_video-serv-i__youtube.active {background-position: 0 0;}
    &_video-serv-i__rutube  {background-position: -60px -30px;}
    &_video-serv-i__rutube.active  {background-position: -60px 0;}
    &_video-serv-i__vimeo   {background-position: -120px -30px;}
    &_video-serv-i__vimeo.active   {background-position: -120px 0;}
    &_btns-hold {
        float: right;
    }
    &_btn-out {
        padding-left: 10px;
        padding-right: 10px;
        width: 140px;
    }
}

/* /postAdd */
