.readers-aside {
  width: 270px;
  padding-right: 30px;
}

.readers2 {
	position: relative;
	margin: 30px 0 30px;
	padding: 15px 23px;
	background: #f6f6f6;
	background: rgba(255,255,255,.4);
	.border-radius(5px);
	text-align: center;

	&__blog-preview {
		background: none;
		margin: 15px 0;
		padding: 0;
		text-align: left;
	}
	&__blog-preview &_count {margin-bottom: 5px;}
	&__no-btn {
		margin-top: 20px;
		padding-top: 10px;
		background-color: #fff;
	}
	&__m {padding: 15px 15px 20px;}
	&__m &_li {margin: 0 5px 10px;}
	.heading-small {text-align: center;}
	.btn-green {
		margin: -33px 0 15px;
		font-size: 14px;
	}
	&_btn-inline.btn-green {margin: 10px 0 10px;}
	&_ul {margin: 0;}
	&_li {
		.inline-block();
		vertical-align: middle;
		margin: 0 2px 8px;
	}
	&_count {
		.inline-block();
		padding: 12px 0 0 24px;
		color: #a8a7a7;
		background: url(/images/readers2_count.png) no-repeat 0 10px;
	}
	&_t-sm {
		margin: 0px 0 15px;
		font-size: 16px;
	}
	&_t-sm .icon-status {
		top: -2px;
		margin-right: 4px;
	}
	&_sub-tx {
		margin-top: 10px;
		font-size: 12px;
		line-height: 15px;
		color: @color-gray;
	}
	&_smile {
		.inline-block();
		vertical-align: middle;
		margin: 0 3px 2px;
		width: 15px;
		height: 15px;
		background: url('/images/readers2_smile.png') no-repeat;
	}
}
