
.redactor-panel {
    display: inline-block;*zoom:1;*display:inline;
    vertical-align: middle;
}
.redactor-panel .ico-redactor {margin: 0 3px;}


.ico-redactor {
    .inline-block();
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: url(/images/ico/ico-redactor.png) no-repeat;
}
.ico-redactor__interest        {background-position: 0 0;}
.ico-redactor__interest:hover  {background-position: 0 -60px;}
.ico-redactor__interest.active {background-position: 0 -30px;}
.ico-redactor__blog        {background-position: -30px 0;}
.ico-redactor__blog:hover  {background-position: -30px -60px;}
.ico-redactor__blog.active {background-position: -30px -30px;}
.ico-redactor__social        {background-position: -60px 0;}
.ico-redactor__social:hover  {background-position: -60px -60px;}
.ico-redactor__social.active {background-position: -60px -30px;}
.ico-redactor__mail       {background-position: -90px 0;}
.ico-redactor__mail:hover {background-position: -90px -60px;}
.ico-redactor__mail.active{background-position: -90px -30px;}