/* traditional-recipes */
.traditional-recipes {
    margin: 20px 0;
    
    .b-tags {margin-top: 0;}
    &_ul {}
    &_li {
        margin: 25px 0;
    }
    &_author {
        display: block;
        text-decoration: none;
    }
    &_author .ava {
        vertical-align: top;
        margin-right: 10px;
    }
    &_t {
        display: inline-block;
        margin: 2px 0 4px;
        font-size: 20px;
        font-weight: bold;
        color: @color-link-title;
    }
    &_t-a {
        color: @color-link-title;
        text-decoration: none;
    }
    &_t-a:hover {text-decoration: underline;}
}
/* /traditional-recipes */