/* user-settings */
.user-settings {
    margin: 50px 0 80px;
    
    .heading-small {margin: 10px 0;}
    .flag {
        margin-right: 5px;
    }
    .radio-icons {
        line-height: 28px;
    }
    &_hold {
        margin-bottom: 30px;
    }
    &_row {
        line-height: 32px;
        margin-bottom: 5px;

        .radio-icons_label {margin-top: 6px;}
    }
    &_col-label {
        display: inline-block;
        vertical-align: top;
        width: 160px;
        color: #999;
        margin-top: 2px;

        .form-edit_label {
            margin-bottom: 0;
        }
    }
    &_col-inp {
        display: inline-block;
        width: 430px;
    }
    &_soc {
        margin: 10px 0 30px;
    }
    &_w-inp {
        .inline-block();
        vertical-align: middle;
        width: 315px;
        margin: 0 2px 0 0;
    }
}
/* /user-settings */