
/* 
    userSubscribers 


*/
.userSubscribers {
    max-width: 600px;  // для колонки с статьей
    margin: 15px 0 25px;

    .ava-list {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }

    &_tx {
        .inline-block();
        vertical-align: middle;
        margin-right: 10px;
        font-size: 14px;
        color: @color-gray-dark;
    }
    &_btn {
        .inline-block();
        vertical-align: middle;
        margin: 0 15px;

        .ico-plus {
            margin: 0 5px 2px -5px;
        }
    }
}