.widget-load {
    position: relative;
    top: 0;
    bottom: 0;
    height: 100%;
    
    #circular3dG {
        margin: 0 auto 10px;
    }
    &_hold {
        position: absolute;
        width: 200px;
        top: 50%;
        left: 50%;
        margin: -60px 0 0 -100px;
        padding: 20px;
        background-color: #fff;
        .border-radius(10px);
    }
    &_tx {
        font-size: 16px;
        color: @color-gray;
        text-align: center;
    }
}



// loader
#circular3dG{
    position:relative;
    width:40px;
    height:40px;
}

.circular3dG{
    position:absolute;
    background-color:#66508c;
    width:11px;
    height:11px;
    -moz-border-radius:12px;
    -moz-animation-name:bounce_circular3dG;
    -moz-animation-duration:1.04s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -webkit-border-radius:12px;
    -webkit-animation-name:bounce_circular3dG;
    -webkit-animation-duration:1.04s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -ms-border-radius:12px;
    -ms-animation-name:bounce_circular3dG;
    -ms-animation-duration:1.04s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    border-radius:12px;
    animation-name:bounce_circular3dG;
    animation-duration:1.04s;
    animation-iteration-count:infinite;
    animation-direction:linear;
}

#circular3d_1G{
    left:16px;
    top:3px;
    -moz-animation-delay:0.39s;
    -webkit-animation-delay:0.39s;
    -ms-animation-delay:0.39s;
    animation-delay:0.39s;
}

#circular3d_2G{
    left:24px;
    top:9px;
    -moz-animation-delay:0.52s;
    -webkit-animation-delay:0.52s;
    -ms-animation-delay:0.52s;
    animation-delay:0.52s;
}

#circular3d_3G{
    left:29px;
    top:18px;
    -moz-animation-delay:0.65s;
    -webkit-animation-delay:0.65s;
    -ms-animation-delay:0.65s;
    animation-delay:0.65s;
}

#circular3d_4G{
    left:28px;
    top:27px;
    -moz-animation-delay:0.78s;
    -webkit-animation-delay:0.78s;
    -ms-animation-delay:0.78s;
    animation-delay:0.78s;
}

#circular3d_5G{
    left:17px;
    top:29px;
    -moz-animation-delay:0.9099999999999999s;
    -webkit-animation-delay:0.9099999999999999s;
    -ms-animation-delay:0.9099999999999999s;
    animation-delay:0.9099999999999999s;
}

#circular3d_6G{
    left:3px;
    top:19px;
    -moz-animation-delay:1.04s;
    -webkit-animation-delay:1.04s;
    -ms-animation-delay:1.04s;
    animation-delay:1.04s;
}

#circular3d_7G{
    left:0px;
    top:6px;
    -moz-animation-delay:1.1700000000000002s;
    -webkit-animation-delay:1.1700000000000002s;
    -ms-animation-delay:1.1700000000000002s;
    animation-delay:1.1700000000000002s;
}

#circular3d_8G{
    left:7px;
    top:0px;
    -moz-animation-delay:1.3s;
    -webkit-animation-delay:1.3s;
    -ms-animation-delay:1.3s;
    animation-delay:1.3s;
}

@-moz-keyframes bounce_circular3dG{
0%{
-moz-transform:scale(1)}

100%{
-moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circular3dG{
0%{
-webkit-transform:scale(1)}

100%{
-webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circular3dG{
0%{
-ms-transform:scale(1)}

100%{
-ms-transform:scale(.3)}

}

@keyframes bounce_circular3dG{
0%{
transform:scale(1)}

100%{
transform:scale(.3)}

}


////////////////////////////
// v2
/* .loader-circle__color */
.loader-circle {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 auto;

    &__color &_1         {border-top-color: #a591cd;}
    &__color &_1:before  {border-top-color: #f26547;}
    &__color &_1:after   {border-top-color: #ffdd58;}
    &__color &_2:before  {border-top-color: #69bcf4;}
    &__color &_2:after   {border-top-color: #68d05d;}

    &_hold {
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }


    &_2,
    &_2:after,
    &_2:before,
    &_1,
    &_1:after,
    &_1:before {
      box-sizing: border-box;
      border: 2px solid transparent;
      border-top-color: #fff;
      border-radius: 50px;
      width: 50px;
      height: 50px;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      .animation(loadercircle 3s infinite linear);
      transform-origin: center center;
    }

    &_1:after, &_1:before {
      content: '';
    }
    &_1:before {
      height: 42px;
      width: 42px;
      left: 1.57599px;
      top: 1.57599px;
      border-top-color: #fff;
      .animation-duration(1.5s);
    }
    &_1:after {
      height: 34px;
      width: 34px;
      left: 5.15197px;
      top: 5.15197px;
      .animation-duration(1s);
      border-top-color: #fff;
    }
    &_2 {
        border-color: transparent;
    }
    &_2:after, &_2:before {
      content: '';
    }
    &_2:before {
      height: 26px;
      width: 26px;
      left: 8.72796px;
      top: 8.72796px;
      border-top-color: #fff;
      .animation-duration(0.75s);
    }
    &_2:after {
      height: 18px;
      width: 18px;
      left: 12.30395px;
      top: 12.30395px;
      .animation-duration(0.6s);
      border-top-color: #fff;
    }
}


@-webkit-keyframes loadercircle {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes loadercircle {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}