
/*
    Нумирация страниц

    .yiipagination __center
        .pager   
            .page   .selected
                a


*/
/* yiipagination */
.yiipagination {
    margin: 30px 0 50px;
    font-size: 17px;
    line-height: 30px;
    
    &__center .pager {
        text-align: center;
    }
    .pager {
        text-align: left;
    }
    .pager li {
        display: inline-block;
        margin-bottom: 3px;
    }
    .page a {
        .inline-block();
        min-width: 36px;
        padding: 0 2px;
        background: #fff;
        color: #b5b5b5;
        text-decoration: none;
        text-align: center;
        border: none;
        .border-radius(3px);
    }
    .page:hover a {color: @color-gray-dark;}
    .page.selected a {
        background-color: #6accff;
        font-weight: bold;
        color: #fff;
    }
}
/* /yiipagination */