.new-header {
padding: 10px 0 10px;
border-bottom: 1px solid #caf3f8;
}

.new-header a {
border-bottom: 1px dashed #55b8ce;
color: #55b8ce;
font: 12px Arial, Tahoma, sans-serif;
text-decoration: none;
}

.new-header span {
padding: 5px 25px 5px;
background: #cff3f7;
}

.new-header .current {
padding: 10px 35px 5px;
background: #a4e0e7;
font: bold 14px Arial, Tahoma, sans-serif;
color: #2396b0
}

.inner-title {
color: #0d8ca3;
font: italic 18px Arial, Helvetica, sans-serif;
margin: 20px 0 5px;
}

.new input[type=text] {
padding: 14px;
font-size: 14px;
background: #fff;
width: 602px;
border: 1px solid #c9eaf1;

}

.settings.no_bg input[type=text] {
padding: 14px;
font-size: 14px;
background: #fff;
width: 440px;
border: 1px solid #c9eaf1;
margin-left: 0;
}

.settings.no_bg .settings-l {
width: auto;
}


.settings-l {
color: #158aa0;
font: 12px tahoma, sans-serif;
padding: 0 15px 10px 5px;
background: #e9fafc;
float: left;
width: 450px;
margin: 10px 0 10px 20px;
}

.no_bg .settings-l {
background: none;
padding: 0;
margin: 0
}

.settings-l .inner-title {
text-align: center;
margin-top: 10px;
}

.settings.no_bg  .inner-title {
text-align: left;
margin-bottom: 0
}

.settings-l label {
color: #158aa0;
}

.settings-l select, .settings-l .chzn-container {
width: 205px;
margin: 10px 5px 10px 10px;

}

.viseted_it {
display: block;
padding: 30px;
background: #e9fafc;
border-bottom: 1px solid #caf3f8;
margin: 0 0 5px 0;
}

.viseted_it ul {
padding: 0 0 10px 0;
}

.viseted_it ul li {
display: inline;
padding: 0 30px 0 0;
}

.viseted_it input[type="text"] {
width: 155px;
padding: 0 10px;
height: 16px;
border: 1px solid #caf3f8;
text-align: right;
font: 12px/16px tahoma, sans-serif;
}

span.bl_button {
display: block;
text-align: right;
padding: 0 0 25px 0;
}

.html_r {
display: block;
margin: 0 0 40px 0;
}

.add_photos_changer {
display: block;
margin: 0 0 15px 0;
}

.add_photos_changer span {
font: italic 18px/25px arial, sans-serif;
color: #0d8ca3;
float: left;
padding: 0 35px 0 0;
}

.add_photos_changer ul li {
float: left;
font: 13px/25px arial, sans-serif;
color: #0d8ca3;
padding: 0 5px 0 0;
}

.add_photos_changer ul li span {
font: 13px/25px arial, sans-serif;
color: #0d8ca3;
border-bottom: 1px dashed #0d8ca3;
display: inline;
float: none;
padding: 0;
}

.add_photos_changer ul li a {
font: 13px/25px arial, sans-serif;
color: #0d8ca3;
display: inline-block;
padding: 0 5px;
text-decoration: none;
}

.add_photos_changer ul li.current a {
font: 13px/25px arial, sans-serif;
color: #0d8ca3;
display: inline-block;
padding: 0 5px;
text-decoration: none;
background: #cff3f7;
}

.add_photos_changer ul li.current span {
font: 13px/25px arial, sans-serif;
color: #0d8ca3;
border-bottom: 0;
display: inline;
float: none;
padding: 0;
}

a.or_bt_average {
display: inline-block;
font: bold 13px/30px tahoma, sans-serif;
color: #fff;
border: 1px solid #f99337;
background: url(../images/bg_orbt_average.png) 0 0 repeat-x;
text-decoration: none;
padding: 0 15px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

span.download_att {
padding: 0 0 0 10px;
color: #66bfc9;
}

ul.downloaded_items {
display: block;
padding: 30px 0;
}

ul.downloaded_items li {
margin: 0 0 10px 0;
color: #0e9db6;
line-height: 18px;
}

ul.downloaded_items li span {
padding: 0 18px 0 0;
}

ul.downloaded_items .remove {
display: inline-block;
padding: 0 0 0 25px;
color: #9c9b9b;
font-size: 11px;
text-decoration: none;
position:relative;
}

ul.downloaded_items .remove .icon {display:block;width:21px;height:18px;background:url(../images/common.png) no-repeat -1px -101px;position:absolute;top:50%;left:0;margin-top:-9px;}


.jq_droggable {
display: block;
border: 1px dashed #e6c3ff;
padding: 5px;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

.jq_droggable .drogg_inner {
display: block;
height: 140px;
padding: 60px 0 0 0;
background: url(../images/groggable_bg.jpg) 0 0 repeat-x;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

.jq_droggable .drogg_inner span {
width: 300px;
margin: 0 auto;
padding: 15px 0 0 60px;
display: block;
font: 18px/20px arial, sans-serif;
color: #c9c7c7;
text-align: center;
min-height: 75px;
background: url(../images/rarr.png) 0 0 no-repeat;
}

.settings-l input[type="text"] {
padding: 2px;
font-size: 12px;
background: #fff;
float: left;
border: 1px solid #c9eaf1;
margin: 5px 0px 5px 10px;
width: 182px;
}

.settings-l input.big[type="text"] {
padding: 2px;
font-size: 12px;
background: #fff;
float: left;
border: 1px solid #c9eaf1;
margin: 5px 0 5px 10px;
width: 380px;
}

.settings-l img {
border: 1px solid #c9eaf1;
float: left;
}

.settings-l .name {
margin: 13px 0 0 10px;
float: left;

}

.settings-l a.remove {
color: #b0afaf;
float: right;
margin: 10px 0px 10px 10px;
padding: 3px 25px 5px 0;
text-decoration: none;
position:relative;
}

.settings-l a.remove .icon {display:block;width:21px;height:18px;background:url(../images/common.png) no-repeat -1px -101px;position:absolute;top:50%;right:0;margin-top:-9px;}

.settings-r {
float: right;
padding: 20px 0;
}

.no_bg .settings-r {
padding: 10px 0;
}

.settings-r img {
float: left;
}

.button_panel {
margin: 20px 0 0
}

.settings-r .peach {
color: #575757;
font: italic 13px Arial, Helvetica, sans-serif;
float: right;
width: 400px;
padding: 10px 10px 10px 0;
margin-right: 20px;
position: relative;
}

.settings-r .peach .in {
position: relative;
z-index: 2;
padding-left: 45px;
}

.settings-r .peach  .t {
width: 416px;
height: 51%;
position: absolute;
left: -16px;
top: 0;
background: url(../images/bg_peach_t.png) no-repeat top;
z-index: 1;
}

.settings-r .peach  .b {
width: 416px;
height: 51%;
position: absolute;
left: -16px;
bottom: 0;
background: url(../images/bg_peach_b.png) no-repeat bottom;
z-index: 1;
}

.settings-r .peach .mdash {
float: left;
width: 40px;
text-align: right;
position: relative;
z-index: 2;
top: -2px;
}

.settings .sel .btn {
margin-top: 7px;
margin-left:10px;
}