#baby .budget-categories {}

#baby .budget-categories .category-box {}

#baby .budget-categories .category-box .title-box {background:#cff3f7;height:80px;cursor:pointer;margin:5px 0;}
#baby .budget-categories .category-box .title-box table {height:80px;width:100%;}
#baby .budget-categories .category-box .title-box table td {vertical-align:middle;}
#baby .budget-categories .category-box .title-box table td.col-1 {font-size:30px;color:#2f9db5;width:50%;}
#baby .budget-categories .category-box .title-box table td.col-1 span {display:block;padding-left:85px;line-height:33px;position:relative;}
#baby .budget-categories .category-box .title-box table td.col-1 span .icon {display:block;width:33px;height:33px;background:url(../images/common.png) no-repeat -104px -151px;position:absolute;left:30px;top:0;}
#baby .budget-categories .category-box.toggled .title-box table td.col-1 span .icon {background-position:-69px -151px}
#baby .budget-categories .category-box .title-box table td.col-2 {width:50%;text-align:right;padding-right:20px;font-size:60px;color:#33a5be;line-height:1;}
#baby .budget-categories .category-box .title-box table td.col-2 span {font-size:16px;font-family:tahoma, arial, sans-serif;color:#90cbd6;margin-left:5px;}
#baby .budget-categories .category-box .box-in {padding-bottom:20px;}
#baby .budget-categories .category-box .box-in input[type=text] {height:26px;padding:10px 0;width:115px;border:1px solid #c9eaf1;text-align:center;font:20px/26px arial, sans-serif;color:#6e6e6e;background:#fff;}
#baby .budget-categories .category-box .box-in table {width:100%;}
#baby .budget-categories .category-box .box-in table td {padding:20px 0;vertical-align:middle;}
#baby .budget-categories .category-box .box-in table tr.even td {background:#f8feff;}
#baby .budget-categories .category-box .box-in table td.col-1 {width:55px;padding-left:30px;text-align:center;vertical-align:top;}
#baby .budget-categories .category-box .box-in table td.col-1 input {margin-top:12px;}
#baby .budget-categories .category-box .box-in table td.col-2 {font-size:16px;color:#0d8ca3;line-height:1.2;width:250px;vertical-align:top;padding-right:30px;}
#baby .budget-categories .category-box .box-in table td.col-2 p {margin-top:10px;}
#baby .budget-categories .category-box .box-in table td.col-3 {width:130px;text-align:center;vertical-align:top;font-size:11px;color:#8bd1dc;line-height:1.2;}
#baby .budget-categories .category-box .box-in table td.col-4 {width:55px;text-align:center;vertical-align:top;}
#baby .budget-categories .category-box .box-in table td.col-5 {width:130px;text-align:center;vertical-align:top;font-size:11px;color:#8bd1dc;line-height:1.2;}
#baby .budget-categories .category-box .box-in table td.col-6 {width:40px;padding-right:15px;text-align:right;vertical-align:top;}
#baby .budget-categories .category-box .box-in table td.col-7 {font-size:35px;color:#6e6e6e;line-height:1;vertical-align:top;padding-top:28px;}
#baby .budget-categories .category-box .box-in table td.col-7 span {color:#90cbd6;font-size:16px;font-family:tahoma, arial, sans-serif;margin-left:5px;}

#baby .budget-categories .icon-equal {display:block;width:24px;height:12px;background:url(../images/common.png) no-repeat -44px -150px;margin:18px auto 0;}
#baby .budget-categories .icon-multiply {display:block;width:18px;height:18px;background:url(../images/common.png) no-repeat -44px -162px;margin:15px auto 0;}

#baby .budget-products {margin-left:20px;overflow:hidden;width:690px;}

#baby .budget-choice {width:230px;padding-left:20px;float:right;}
#baby .budget-choice .title {background:#c5a7e2 url(../images/budget_choice_title.gif) no-repeat bottom;color:#fff;padding:0 20px 35px;text-align:center;font-size:13px;line-height:15px;}
#baby .budget-choice .title big {display:block;padding:12px 0;text-align:center;font:bold 25px/1 arial, sans-serif;color:#fef5be;}
#baby .budget-choice .title b {font-size:16px;}
#baby .budget-choice .box-in {padding:9px 6px 7px;background:url(../images/budget_choice.gif) repeat-y top;}
#baby .budget-choice .b {height:5px;background:url(../images/budget_choise_b.gif) no-repeat;position:relative;top:5px;}
#baby .budget-choice ul {list-style:none;}
#baby .budget-choice ul li {background:#fff;margin:5px 0;padding:3px;position:relative;}
#baby .budget-choice ul li .item {width:140px;}
#baby .budget-choice ul li .item .item-title {line-height:1.2;text-align:center;padding:5px 0;font-weight:bold;}
#baby .budget-choice ul li .remove {padding-right:23px;display:block;position:absolute;top:3px;right:3px;height:18px;line-height:18px;color:#c6c5c5;text-decoration:none;}
#baby .budget-choice ul li .remove .icon {display:block;width:21px;height:18px;background:url(../images/common.png) no-repeat -1px -101px;position:absolute;top:50%;right:0;margin-top:-9px;}
#baby .budget-choice .actions {float:right;padding-right:20px;padding-top:30px;overflow:hidden;width:50px;text-align:center;}
#baby .budget-choice .actions .choose {text-decoration:none;padding-top:28px;color:#c6c5c5;display:inline-block;font-size:11px;margin-bottom:10px;position:relative;}
#baby .budget-choice .actions .choose .icon {display:block;width:26px;height:25px;background:url(../images/common.png) no-repeat -128px -125px;position:absolute;top:0;left:50%;margin-left:-13px;}
#baby .budget-choice .chosed .actions .choose .icon {background-position:-100px -125px;}
#baby .budget-choice .actions .info {padding-top:27px;background:none;height:auto;width:auto;line-height:1;font-size:11px;display:inline-block;text-align:center;color:#c6c5c5;text-decoration:none;margin-bottom:10px;position:relative;}
#baby .budget-choice .actions .info .icon {display:block;width:25px;height:25px;background:url(../images/common.png) no-repeat -72px -101px !important;position:absolute;left:50%;top:0;margin-left:-12px;}
#baby .budget-choice .choosen {border-top:8px solid #c5a7e2;margin:0 -6px;padding:10px 0;font-size:25px;color:#a37bc8;text-align:center;line-height:1;}
#baby .budget-choice .btn {margin-top:5px;}
#baby .budget-choice .btn > span {padding-right:5px;height:32px;background-position:100% -1632px;color:#fff;font-weight:bold;font-size:20px;font-family:arial, sans-serif;}
#baby .budget-choice .btn > span > span {padding-left:15px;height:32px;line-height:32px;background-position:0 -1600px;padding-right:10px;}