.grid-view-loading
{
	background:url(loading.gif) no-repeat;
}

.grid-view
{
	padding: 15px 0;
}

.image-grid-view .items
{
	background: white;
	border-collapse: collapse;
	width: 100%;
	border: 1px #D0E3EF solid;
}

.image-grid-view .items div, .image-grid-view .items div
{
	font-size: 0.9em;
	border: 1px white solid;
	padding: 0.3em;
}

.image-grid-view .items div
{
	color: white;
	text-align: center;
	width: auto;
}

.image-grid-view .items div a
{
	color: #EEE;
	font-weight: bold;
	text-decoration: none;
}

.image-grid-view .items div a:hover
{
	color: #FFF;
}

.image-grid-view .items div a.asc
{
	background:url(up.gif) right center no-repeat;
	padding-right: 10px;
}

.image-grid-view .items div a.desc
{
	background:url(down.gif) right center no-repeat;
	padding-right: 10px;
}

.image-grid-view .items div.even,
.image-grid-view .items div.odd
{
	float: left;
	margin: 2px;
}

.image-grid-view .items div.even
{
	background: #F8F8F8;
}

.image-grid-view .items div.odd
{
	background: #E5F1F4;
}

.image-grid-view .items div.selected
{
	background: #BCE774;
}

.image-grid-view .items div:hover
{
	background: #ECFBD4;
}

.image-grid-view .link-column img
{
	border: 0;
}

.image-grid-view .button-column
{
	text-align: center;
	width: 60px;
}

.image-grid-view .button-column img
{
	border: 0;
}

.image-grid-view .checkbox-column
{
	width: 15px;
}

.image-grid-view .summary
{
	margin: 0 0 5px 0;
	text-align: right;
}

.image-grid-view .pager
{
	margin: 5px 0 0 0;
	text-align: right;
}

.image-grid-view .empty
{
	font-style: italic;
}

.image-grid-view .filters input,
.image-grid-view .filters select
{
	width: 100%;
	border: 1px solid #ccc;
}