include ../../../block/config
extend ../../../extend/layout_base
block vars
    - var bodyClass = 'body__bg1 body__lite';
    - global.cssFile = 'services.css'; 

block layout

    // b-main 
    .b-main.clearfix
        
        // Хлебные крошки
        .b-main_cont
            .b-crumbs.b-crumbs__s
                .b-crumbs_tx Я здесь:
                ul.b-crumbs_ul
                    li.b-crumbs_li
                        a.b-crumbs_a(href='#') Главная 
                    li.b-crumbs_li
                        a.b-crumbs_a(href='#') Календарь развития ребенка 
                    li.b-crumbs_li
                        a.b-crumbs_a(href='#') Справочник детских болезней
                    li.b-crumbs_li.b-crumbs_li__last
                        span.b-crumbs_last Дизентерия

        // Заголовок страницы
        .child-disease
            .b-main_row
                .b-main_cont 
                    .b-main_col-wide 
                        h1.heading-link-xxl.heading-link-xxl__center Дизентерия
            .b-main_row.b-main_row__blue
                .b-main_cont 
                    .b-main_col-article.b-main_col-article__center
                        .wysiwyg-content
                            p Дизентерия – это желудочно-кишечное заболевание. Поражает в основном толстый кишечник и может протекать как остро, так и хронически. Наиболее часто встречается в тех регионах, где не соблюдаются санитарно- гигиенические правила. Заболевают чаще всего дети первых 2-3 лет жизни. Также достаточно часто возникают вспышки в детских дошкольных и школьных учреждениях.
            .b-main_row
                .b-main_cont
                    .b-main_col-article.b-main_col-article__center
                        .wysiwyg-content
                            .b-main_wide-phone.textalign-c
                                img(src="#{path}images/example/w600-h450-1.jpg", alt="")
                            h2 Пути заражения дизентерией
                            p Возбудителями дизентерии считаются различные дизентерийные палочки (шигеллы). Источником заражения может служить как больной человек, так и зараженные возбудителями вода, пища, бытовые предметы. Нередко подхватить дизентерию можно, когда ребёнок скушал немытый фрукт или овощ или сел за стол с немытыми руками.
                            h2 Симптомы дизинтерии
                            p Бактериальная дизентерия развивается через 3-5 дней после заражения, может проявиться и раньше. Начинается с поднятия температуры и появления болей во всём теле, которые потом локализуются в левой части живота. Для дизентерии характерно появление многократного стула, в котором заметны прожилки крови и слизь. Само заболевание может продолжаться около месяца.
                            p Амёбная дизентерия проявляется далеко не сразу. Это связано с процессом размножения дизентерийной амёбы в кишечной стенке. Поэтому первые признаки могут появиться через неделю на протяжении 3 месяцев после заражения. Проявляется амёбная дизентерия так же, как и бактериальная.
                            p Важно заметить, что, если дизентерия лечится неправильно или вообще отсутствует какая-либо терапия, тогда заболевание переходит в хронику и в результате ребёнок не может нормально развиваться. Поэтому обращаться к врачу нужно при первых проявлениях заболевания. 
                            p К осложнениям дизентерии можно отнести поражение внутренних органов в результате возникновения язв от внедрения амёбы. Если в кишечнике возникают глубокие язвы, тогда их дальнейшее заживление приводит к сужению его просвета. Также есть опасность развития инфекционно-токсического шока.

                            .b-main_wide-phone.textalign-c
                                img(src="#{path}images/example/w450-h515-1.jpg", alt="")
                            h2 Диагностика дизинтерии
                            p Диагноз «дизентерия» определяется при высевании возбудителя из взятых у больного испражнений. Также делают иммунологические анализы крови, мочи, слюны, чтобы выявить антигены возбудителя или его токсины.
                            h2 Лечение дизентерии
                            p В зависимости от тяжести заболевания будет разработана различная тактика лечения. В основном назначаются антибиотики, ведётся симптоматическая терапия.
                            h2 Профилактика дизентерии
                            p К профилактике относится рациональное и правильное питание. Также важное значение имеет выписка больного только после полного его выздоровления, чтобы не было скрытого бактерионосительства.

                        +adv-yandex()
                        .margin-b40
      
        // Контент
    // b-main 
    +layout-footer-lite()

