.body {
    min-width: 960px;
    background:#ad9dd2 url(/new/images/body.png) repeat-y 50% 50%;
    /*&__im {background-color: #ad9dd2;}*/
}

.layout-container {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
}
.layout-wrapper {
    position: relative;
    width: 960px;
    margin: 0 auto;

    &_hold {
        margin: 25px auto;
        background: #fff;
        .border-radius(14px);
        border-top-right-radius: 10px;
    }
}

/* ico */
.ico-status {
    .inline-block();
    width: 12px;
    height: 12px;
    position: relative;
    z-index: 1;
    top: 2px;
    margin-right: 2px;
    .border-radius(6px);

    &__online  {background: #0fc612;}
    &__offline {background: #b8b8b8;}
}
.ico-cancel {
    .inline-block();
    vertical-align: middle;
    width: 22px;
    height: 22px;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
    background: #e74c3c;
    color: #fff;
    .border-radius(12px);
    // background: url(/new/images/ico/ico-cancel.png) no-repeat;

    &:hover {background: #d83e32;}
}

.a-pseudo {text-decoration:none;border-bottom:1px dotted #2c95d6;}
.a-pseudo:hover {text-decoration:none !important;border-bottom-color:transparent;}

/* 
    avatar 

    ava __small __middle    __large
        ava_img
        <ico-status>
*/
.ava {
    display: inline-block;
    position: relative;
    .square(72px);
    .border-radius(36px);
    background:url(/new/images/base/ava.png) no-repeat -240px -480px;
    
    .ico-status {
        position: absolute;
        top: 3px;
        left: 3px;
        margin: 0;
    }
    &__female {background-position:-240px -240px;}
    &__male {background-position:-240px 0;}
    &_img {
        display: block;
        position:relative;
        width:72px;
        height:72px;
        .border-radius(36px);
        .box-shadow(0 1px 1px rgba(0,0,0,0.2) inset);
    }
    &_img:hover {.box-shadow(none);}

    &__small {
        .square(24px);
        background-position:-240px -696px;
        .border-radius(12px);
    }
    &__small&__female {background-position:-240px -456px;}
    &__small&__male {background-position:-240px -216px;}
    &__small .ico-status {
        top: 0;
        left: 0;
        width: 6px;
        height: 6px;
    }
    &__small &_img {
        .border-radius(12px);
        .square(24px);
    }

    &__middle {background-position:-240px -696px;}
    &__middle,
    &__middle &_img {
        width:40px;
        height:40px;
        .border-radius(20px);
        background-position: -240px -580px;
    }
    &__middle&__female {background-position:-240px -340px;}
    &__middle&__male {background-position:-240px -100px;}
    &__middle .ico-status {
        top: 1px;
        left: 1px;
        width: 8px;
        height: 8px;
    }

    &__large {background-position: 0 0;}
    &__large,
    &__large &_img {
        width:200px;
        height:200px;
        .border-radius(106px);
        .box-shadow(none);
    }
    &__large&__female {background-position:0 -200px;}
    &__large&__male {background-position:0 0;}
}
/* /ava */

/*
    Кнопки управления записи
    b-control
        b-control_hold
            b-control_i
                b-control_ico
                ...
*/
.b-control {
    display: inline-block;
    margin: 0 -4px 0;

    &_hold {}
    &_i {
        display: inline-block;
        margin: 0 0px;
    }
    &_ico {
        .inline-block();
        .square(18px);
        cursor: pointer;
        background: url(/new/images/base/b-control_ico.png) no-repeat;

        &__favorite {background-position: 0 0;}
        &__favorite:hover {background-position: 0 -20px;}
        &__delete {background-position: -18px 0;}
        &__delete:hover {background-position: -18px -20px;}
        &__spam {background-position: -36px 0;}
        &__spam:hover {background-position: -36px -20px;}
        &__edit {background-position: -54px 0;}
        &__edit:hover {background-position: -54px -20px;}
        &__cancel {background-position: -72px 0;}
        &__cancel:hover {background-position: -72px -20px;}
    }
    &_drop {display: none;}
}
/* /b-control */

/*
    Фильтр списка пользователей

    im-filter
        side-menu_t
        side-menu_i
            side-menu_ico
            side-menu_tx
            [side-menu_count]

*/
.side-menu {
    
    @media screen and (max-height: 740px) {
        &__im &_tx {display: none;}
        &__im &_i {
            padding: 7px 15px 4px;
            height: 50px;
        }
        &__im &_count {top: 4px;}
        &_i &_count-sub {top: 3px;}
    }
    &_t {
        display: block;
        height: 57px;
        background: url(/new/images/side-menu_t.png) no-repeat;
    }
    &_i {
        position: relative;
        display: block;
        height: 70px;
        padding: 15px 15px 15px;
        border-bottom: 1px solid #7361a1;
        text-align: center;
        text-decoration: none;
    }
    &_i.disabled:hover {background: none;}
    &_i.disabled &_ico {opacity: .1;}
    &_i.disabled &_count-sub,
    &_i.disabled &_tx  {color: #8476a7;}
    &_i.active &_ico {opacity: 1;}
    &_i.active &_tx  {color: #fff;}
    &_i:hover &_count,
    &_i.active &_count {border-color: #5c4b86;}
    &_i.active,
    &_i:hover {
        background: #5c4b86;
    }
    &_i-hold {
        display: inline-block;
        vertical-align: middle;
    }
    &_ico {
        display: block;
        width: 50px;
        height: 40px;
        margin: 0 0 2px;
        background: url() no-repeat;
        opacity: .5;
        .img-retina('/new/images/side-menu_ico.png'; '/new/images/side-menu_ico2x.png'; 200px; 40px);
    }
    &_ico__all    {background-position: 0 0;}
    &_ico__new    {background-position: -50px 0;}
    &_ico__online {background-position: -100px 0;height: 32px;}
    &_ico__online-friend {background-position: -150px 0;}
    &_tx {
        display: block;
        color: #bdb7ce;
        font-size: @font-xs;
        line-height: @font-xs;
    }
    &_count {
        position: absolute;
        top: 14px;
        right: 13px;
        padding: 1px 5px;
        border: 2px solid #675495;
        background: #fa5327;
        .border-radius(10px);
        color: #fff;
        font-size: @font-xs;
    }
    &_count-sub {
        position: absolute;
        top: 5px;
        right: 5px;
        color: #bdb7ce;
        font-size: @font-xs;
        line-height: @font-xs;
    }

}
/* /side-menu */

/*
    Заглушка 
    cap-empty __abs     __rel   __im-b
        cap-empty_hold
            cap-empty_img
            cap-empty_t
            cap-empty_tx
            cap-empty_tx-sub

*/
.cap-empty {
    position: relative;
    z-index: 100;
    text-align: center;

    &__abs {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
    }
    &__abs &_hold {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        padding: 0;
    }
    &__rel {}
    &__gray {background: #e6e6e6;}
    &__im-b {
        text-align: left;
    }
    &__im-b &_img {
        float: left;
        margin: 0 22px 0 120px;
    }
    &__im-b &_t {padding-top: 12px;}
    &__im-b &_tx-sub {color: #a0a09f;}
    &__im-ava {
        background: #c9e6fd;
        background: rgba(187,224,252,.8);
        .border-right-radius(10px);
    }
    &__im-ava .btn-green {margin-top: 8px;}
    &__im-ava &_tx-sub {color: #a0a09f;}

    &_hold {
        font-size: 12px;
        line-height: 16px;
    }
    &_img {
        display: block;
        height: 60px;
        width: 60px;
        margin: 0 auto 5px;
        background: url(/new/images/base/cap-empty_img.png) no-repeat 50% 0;
    }
    &_t {
        margin: 0 0 5px;
        padding-top: 5px;
        color: #2d2d2d;
        font-size: 16px;
    }
    &_tx {
        margin: 0 0 5px;
    }
    &_tx-sub {
        margin: 5px 0;
        color: #b3b6b7;
    }
}
/* /cap-empty */

/* 
    friend-offer 
    Блок предложения дружбы

    friend-offer
        friend-offer_hold
            friend-offer_ava
            friend-offer_in
                friend-offer_name
                friend-offer_tx
            friend-offer_btns
                friend-offer_btn-cancel
*/
.friend-offer {
    margin: 0 auto;

    .ico-cancel {margin: 0 0 0 9px;}
    .btn-s {padding-right: 12px;}
    &_hold {
        background: #fdf6d7;
        margin: 0 auto;
        width: 400px;
        padding: 8px 12px;
    }
    &_ava {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
    &_in {
        display: inline-block;
        vertical-align: middle;
        max-width: 200px;
        margin-right: 30px;
        color: #3d3e3f;
        .text-overflow();
    }
    &_name {
        text-decoration: none;
        color: #289fd7;
        font-weight: bold;
    }
    &_name:hover {text-decoration: underline;}
    &_btns {
        display: inline-block;
        vertical-align: middle;
    }
}
/* /friend-offer */


/* 
    Скрытый input загрузки файлов
    file-fake 
        file-fake_btn
        file-fake_inp
*/
.file-fake {
    display:inline-block;
    position:relative;
    cursor:pointer;
    overflow:hidden;

    &_btn {
        position:relative;
        z-index:2;
        cursor: pointer;
    }
    &_inp {
        opacity:0;
        position:absolute;
        z-index:3;
        right:0;
        top:0;
        height:100%;
        display:block;
        cursor:pointer;
        filter: alpha(opacity=30);
    }
}

/* inputs */
.itx-gray {
    width: 100%;
    border: 1px solid #e6e6e6;
    padding: 7px 10px;
    background: #fff;
    color: #070707;
    .box-sizing(border-box);
    .border-radius(3px);
    .transition(all 0.4s ease);

    &:focus {border-color: #a0ceee;}
}
.itx-simple {
    width: 100%;
    border: 1px solid #e0e1e2;
    padding: 7px 8px 7px 10px;
    font-size: 14px;
    line-height: 19px;
    color: #070707;
    background: #fff;
    .box-sizing(border-box);
    .border-radius(3px);

    &:focus {border-color: #d6d8d9;}
    &.error {border-color: #f9cbcb;}

    &__blue {
        border-color: #daebf5;
    }
    &__blue:focus {
        border-color: #cee9f1;
    }
}
/* errors */
.error input[type="text"],
.error input[type="password"],
.error textarea, 
input.error[type="text"], 
input.error[type="password"], 
textarea.error {
    border: 1px solid #F9CBCB !important;
}
.errorSummary {
    display: block;
    overflow: hidden;
    margin: 10px 5px;
    padding: 10px 15px;
    border: 1px solid #fdb9ac;
    text-align: center;
    line-height: normal !important;
    background: #fde3e3;
    font-size: 13px;
    color: #db9191 !important;
}
.errorMessage {
    color: #FF8888 !important;
    font-size: 11px !important;
    line-height: normal !important;
    margin: 5px 0;
    overflow: hidden;
}


/* 
------------------------------------------------------------------
    js plugin class 
------------------------------------------------------------------
*/

/* 
    scroll custom

    scroll   __on
        scroll_scroller
            scroll_cont
        scroll_bar-hold
            scroll_bar
                scroll_bar-in
*/
.scroll {
    position: relative;
    overflow: hidden;
    height: 100%;

    &__on &_bar-hold {display: block;}
    // &:hover &_bar-in {background: rgba(0,0,0,.3);}

    &_scroller {
        overflow-y: auto !important;
        height: 100%;
        width: 100%;
        -webkit-overflow-scrolling: touch;
    }
    &_scroller::-webkit-scrollbar { /* Preventing webkit bug of horizontal scrolling */
        width: 0;
    }
    &_cont {overflow: hidden;}
    &_bar-hold {
        display: none;
        position: absolute;    
        z-index: 1;
        top: 0;
        bottom: 0;
        right: 0;
        width: 15px;
        .border-radius(4px);
    }
    &_bar { /* The bar. You should define width, right and background */
        position: absolute;
        z-index: 1;
        right: 0;
        width: 15px;
        cursor: pointer;
    }
    &_bar:hover &_bar-in{background: rgba(0,0,0,.3);}
    &_bar-in {
        position: absolute;
        top: 4px;
        bottom: 4px;
        left: 6px;
        width: 4px;
        background: #b9b9b9;
        background: rgba(0,0,0,.2);
        .border-radius(6px);
        -webkit-transition: all .2s linear;
        transition: all .2s linear;
    }
}
/* /scroll custom */

/* powerTip */
#powerTip {
    display: none;
    position: absolute;
    cursor: default;
    padding: 4px 8px;
    background: #5C4B86;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    white-space: nowrap;
    z-index: 2147483647;

    &:after {
        content:"";
        position: absolute;
        bottom: -7px;
        left: 50%;
        height: 0;
        width: 0;
        margin-left: -6px;
        border: 0 solid transparent;
        border-width: 7px 6px 0;
        border-top-color: #5C4B86;
    }
    // .nw& {margin-right: -6px;}
    .nw&:after{
        left: auto;
        right: 2px;
    }
    .ne&:after{
        left: 1px;
    }
}
/* powerTip */

