// layout
.body {
    min-width: 960px;
    background:#af9bd2;
    word-wrap: break-word;
    
    &__bg-base,
    &__im,
    &__snow {background:#9b8ec9 url('@{path-img}/body-circle-candy.jpg') no-repeat 50% 0;}
    &__white {background: #fff;}
    &__bg1 {
        background:#9b8ec9 url('@{path-img}/body__bg/img1.jpg') no-repeat 50% 0;
        background-attachment: fixed;
    }
}

.layout-container {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
}
.layout-wrapper {
    position: relative;
    width: 960px;
    margin: 0 auto;
    
    .page-col {width: 880px;}
    &_hold {
        margin: 20px auto;
        background: #fff;
        .border-radius(10px);
    }
    &_frame {
        margin: 20px auto;
    } 
}
.layout-loose {
    position: relative;
    width: 1000px;
    margin: 0 auto;

    .layout-header {margin-top: 20px;}
    &_hold {
        margin: 0 auto 30px;
    }
}

// Отдельные элементы
.heading-xxl {
    margin: 15px 0; // Можно изменить на необходимый
    font-size: 40px;
    color: @color-base;
}
.heading-link-xxl {
    margin: 15px 0;
    font-size: 30px;
    font-weight: bold;
    color: @color-link-title;
}
.heading-link-xl {
    margin: 15px 0;
    font-size: 25px;
    font-weight: bold;
    color: @color-link-title;
}
.heading-smallest {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #3d3d3d;
    font-weight: normal;
}
.heading-small {
    margin: 0;
    font-size: 17px;
    line-height: 22px;
    color: #111;
    font-weight: normal;
}

.a-pseudo {
    text-decoration:none;
    border-bottom: 1px dotted #2c95d6;
    color: #2c95d6;
    line-height: 1em;
    margin: 0 3px;

    &:hover {
        text-decoration:none !important;
        border-bottom-color:transparent;
    }
}
.a-light {
    text-decoration: none;
    color: @color-link-light;

    &:hover {text-decoration: underline;}
}


.i-more {
    .inline-block();
    margin: 0;
    padding: 0 17px 0 0;
    background: url('@{path-img}/ico/i-more.png') no-repeat 100% 50%;
    color: #24aae9;
    font: 20px/22px Tahoma, Arial, Verdana, sans-serif;

    &:hover {
        color: #24aae9;
    }
    &__small {
        font: 11px/16px Tahoma, Arial, Verdana, sans-serif;
    }
}
.i-highlight {
    padding: 0 4px;
    background: #fff7af;
}
.tx-date {
    font: @fontsmallest;
    color: @color-gray;
}
.tx-hint {
    font: @fontsmall;
    color: @color-gray-light;
}
.btn-scrolltop {
    display: none;
    position: fixed;
    z-index: 15;
    top: 0;
    right: 20px;
    width: 67px;
    height: 52px;
    background: url('@{path-img}/btn-scrolltop.png') -67px 0;;
    cursor: pointer;

    &:hover {background-position: 0 0;}

    @media screen and (min-width: 600px) {
        & {display: block;}
    }
    /*@media screen and (min-width: 1200px) {
        & {
            display: block;
            right: auto;
            left: 50%;
            margin-left: 500px;
        }
    }*/
}
.post-arrow {
    display: none;
    position: fixed;
    top: 50%;
    right: 40px;
    width: 62px;
    height: 224px;
    margin-top: -112px;
    background: url('@{path-img}/post-arrow.png') no-repeat 0 0;
    
    &:hover {background-position: 0 -224px;}
    @media screen and (min-width: 1230px) {
        & {display: block;}
    }
}
// /отдельные элементы

/* 
    page-col 

    page-col __sidebar
        page-col_top
            page-col_t
*/
.page-col {
    float: left;
    width: 920px;
    background: #fff;
    .border-radius(10px);
    border-top-left-radius:0;
    
    .b-main_col-sidebar {margin-left: 30px;}
    &__friend &_cont {min-height: 570px;}
    &__aside-in &_hold {
        display: table-row;
        vertical-align: top;
    }
    &__aside-in &_cont {
        display: table-cell;
        width: 620px;
        vertical-align: top;
    }
    &__user {
        margin: 5px 0 0 0;
        .border-radius(0);

        .layout-footer_hold {
            padding: 0 20px 20px 145px;
            background-position: 40px 0;
        }
    }
    &_top {
        border-bottom: 1px solid #ededed;
        padding: 0 30px;
        height: 57px;

        .antispam-user_hold {height: 57px;}
        .sidebar-search {
            float: right;
            width: 255px;
            padding: 15px 0 0;
        }
    }
    &_top__gray {
        background: #f0f0f0;
        border-top-right-radius: 10px;
    }

    &_top-user {
        height: 70px;

        .a-profile-bg {
            margin-top: -5px;
            float: right;
        }
    }
    &_top-user__family {
        padding: 25px 20px 10px;
        height: 35px;
    }
    &_t,
    &_t-tx {
        .inline-block();
        margin: 16px 35px 0 0;
        font-size: 17px;
    }
    &_find-count {
        float: right;
        margin: 19px 0 0;
        color: #787676;
        font-size: @font-m;
    }

    &_ul {}
    &_li {
        .inline-block();
        margin: 19px 35px 0 0;
    }
    &_li.active &_ul-a,
    &_li:hover &_ul-a {color: #3b3b3b;}
    &_li.disabled &_ul-a {
        color: #d8d7d7;
        .disabled;
    }
    &_li.active &_ul-a {font-size: 14px;}
    &_ul-a {
        .inline-block();
        text-decoration: none;
        color: #aeadad;
    }
    &_cont:after:extend(.clearfix:after) {}
    &_cont__gray {
        background: #f0f0f0;
        .border-bottom-radius(10px);
    }
    &_cont__in {
        padding: 0 20px 40px;
    }

    &_update {
        float: right;
        margin-top: 18px;

        .a-pseudo {margin-top: 2px;}
    }

    &_tabs {
        .user-select(none);
    }
    &_tab {
        float: left;
        margin: 0 18px;
    }
    &_tab.active &_tab-a {
        color: #3b3b3b;
        border-color: #50aae0;
    }
    &_tab-a {
        display: block;
        padding: 23px 3px 17px;
        border-bottom: 2px solid transparent;
        font-size: 13px;
        line-height: 15px;
        color: #adadad;
        text-decoration: none;
    }
    &_tab-a:hover {color: #3b3b3b;}

    &_aside {
        display: table-cell;
        width: 260px;
        .border-right-radius(10px);
        
        .aside-filter_hold {width: 220px;}
    }
}
/* /page-col */

/* b-main */
.b-main {
    position: relative;

    &__white {background-color: #fff;}

    /* col-1 */
    &_col-1 {
        width:240px;
        margin-bottom: 1px;
        margin-left: 20px;
        padding-right:20px;
        float:left;
        position: relative;
        
        .b-ava-large {margin-top: 0px; margin-bottom: 30px;}
    }

    &_col-12,
    &_col-23 {
        width:700px;
        float:left;
        position: relative;
    }
    &_cont {
        margin: 0 20px;
    }
    &_col-hold {
        &:extend(.clearfix all);
    }
    &_col-article {
        float: left;
        width: 600px;
    }
    &_col-sidebar {
        float: left;
        width: 240px;
        margin-left: 20px;
    }
    &_col-sidebar:first-child {margin-left: 0;}

}
/* /b-main */

/*
    Кнопки управления записи
    b-control
        b-control_hold
            b-control_i
                b-control_ico
                ...
*/
.b-control {
    display: inline-block;
    margin: 0 -4px 0;
    .user-select(none);

    &_hold {}
    &_i {
        display: inline-block;
        margin: 0 0px;
    }
    &_ico {
        .inline-block();
        .square(18px);
        cursor: pointer;
        background: url('@{path-img}/base/b-control_ico.png') no-repeat;

        &__favorite {background-position: 0 0;}
        &__favorite.active,
        &__favorite:hover {background-position: 0 -20px;}
        &__delete {background-position: -18px 0;}
        &__delete.active,
        &__delete:hover {background-position: -18px -20px;}
        &__spam {background-position: -36px 0;}
        &__spam.actvie,
        &__spam:hover {background-position: -36px -20px;}
        &__edit {background-position: -54px 0;}
        &__edit.active,
        &__edit:hover {background-position: -54px -20px;}
        &__cancel {background-position: -72px 0;}
        &__cancel.active,
        &__cancel:hover {background-position: -72px -20px;}
    }
    &_drop {display: none;}
}
/* /b-control */

/*
    Фильтр списка пользователей

    side-menu __im      __antispam
        side-menu_t
        side-menu_ul
            side-menu_li
                side-menu_i
                    side-menu_ico
                    side-menu_tx
                    [side-menu_count]

*/
.side-menu {
    float: left;
    width: 80px;
    background: #675495;
    .border-left-radius(10px);
    .user-select(none);
    
    @media screen and (max-height: 530px) {
        &__im &_tx {display: none;}
        &__im &_i {
            padding: 7px 15px 4px;
            height: 50px;
        }
        &__im &_count {top: 4px;}
        &__im &_count-sub {top: 3px;}
    }
    @media screen and (max-height: 630px) {
        &__im &_i {
            padding: 4px 15px 2px;
        }
    }
    &__im &_li:last-child {
        border-bottom: 1px solid #7361a1;
        border-bottom-left-radius: none;
    }

    &__antispam &_ico {
        .img-retina('@{path-img}/side-menu_ico__antispam.png'; '@{path-img}/side-menu_ico__antispam-2x.png'; 300px; 80px);
    }

    &_t {
        display: block;
        height: 57px;
        background: url('@{path-img}/side-menu_t.png') no-repeat;
        border-top-left-radius: 10px;
    }
    &_t__moderator {background: url('@{path-img}/side-menu_t__moderator.png') no-repeat;}
    &_t__friends {background: url('@{path-img}/side-menu_t__friends.png') no-repeat;}
    &_ul {}
    &_li {border-bottom: 1px solid #7361a1;}
    &_li:last-child {
        border-bottom: none;
        border-bottom-left-radius: 10px;
    }
    &_li.active,
    &_li:hover {background: #5c4b86;}
    &_li.disabled:hover {background: none;}
    &_li.disabled &_ico {opacity: .1;}
    &_li.disabled &_count-sub,
    &_li.disabled &_tx  {color: #8476a7;}
    &_li.active &_ico {opacity: 1;}
    &_li.active &_tx  {color: #fff;}
    &_li:hover &_count,
    &_li.active &_count {border-color: #5c4b86;}
    &_li__find {
        background: #16b45a;

        &:hover,
        &.active {background: #0f9b4b;}
    }
    &_li__find &_tx  {color: #fff;}
    &_li__find &_ico {opacity: 1;}
    
    &_i {
        position: relative;
        display: block;
        height: 70px;
        padding: 15px 15px 15px;
        text-align: center;
        text-decoration: none;
    }

    &_i-hold {
        display: inline-block;
        vertical-align: middle;
    }
    &_ico {
        display: block;
        width: 50px;
        height: 40px;
        margin: 0 0 2px;
        background: url() no-repeat;
        opacity: .5;
        .img-retina('@{path-img}/side-menu_ico.png'; '@{path-img}/side-menu_ico-2x.png'; 400px; 40px);
    }
    &_ico__all    {background-position: 0 0;}
    &_ico__new    {background-position: -50px 0;}
    &_ico__online {background-position: -100px 0;height: 32px;}
    &_ico__online-friend {background-position: -150px 0;}
    &_ico__find   {background-position: -200px 0;}
    &_ico__friend-new {background-position: -250px 0;}
    &_ico__friend-add {background-position: -300px 0;}
    &_ico__advice {background-position: -350px 0;}
    
    // antispam модуль
    &_ico__broadcast {background-position: 0 0;}
    &_ico__expert    {background-position: -50px 0;}
    &_ico__deleted   {background-position: -100px 0;}
    &_ico__question  {background-position: -300px 0;}
    &_ico__ul-white             {background-position: -150px 0; opacity:1;}
    &_ico__ul-black             {background-position: -200px 0; opacity:1;}
    &_ico__ul-block             {background-position: -250px 0; opacity:1;}
    &_i.active &_ico__ul-black  {background-position: -200px -40px;}
    &_i.active &_ico__ul-white  {background-position: -150px -40px;}
    &_i.active &_ico__ul-block  {background-position: -250px -40px;}
    // /antispam

    &_tx {
        display: block;
        color: #bdb7ce;
        font-size: @font-s;
        line-height: @font-s;
    }
    &_count {
        position: absolute;
        top: 14px;
        right: 13px;
        padding: 1px 5px;
        border: 2px solid #675495;
        background: #fa5327;
        .border-radius(10px);
        color: #fff;
        font-size: @font-xs;
    }
    &_count-sub {
        position: absolute;
        top: 5px;
        right: 5px;
        color: #bdb7ce;
        font-size: @font-xs;
        line-height: @font-xs;
    }

}
/* /side-menu */

/* 
    friend-offer 
    Блок предложения дружбы

    friend-offer
        friend-offer_hold
            friend-offer_ava
            friend-offer_in
                friend-offer_name
                friend-offer_tx
            friend-offer_btns
                friend-offer_btn-cancel
*/
.friend-offer {
    margin: 0 auto;

    .ico-cancel {margin: 0 0 0 9px;}
    .btn-s {padding-right: 12px;}
    &_hold {
        background: #fdf6d7;
        margin: 0 auto;
        width: 400px;
        padding: 8px 12px;
    }
    &_ava {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
    &_in {
        display: inline-block;
        vertical-align: middle;
        max-width: 200px;
        margin-right: 30px;
        color: #3d3e3f;
        .text-overflow();
    }
    &_name {
        text-decoration: none;
        color: #289fd7;
        font-weight: bold;
    }
    &_name:hover {text-decoration: underline;}
    &_btns {
        display: inline-block;
        vertical-align: middle;
    }
    & &_btns a {
        color: #fff;
        text-decoration: none;
    }
}
/* /friend-offer */

/*  
    Блок пользователя с автаркой и именем
    b-user
        b-user_ava
            <ava>
        b-user_hold
            b-user_name
            b-user_view
            b-user_check
            b-user_del
*/
.b-user {
    .inline-block();

    &__va-m {
        .b-user_hold,
        .b-user_ava {vertical-align: middle;}
    }

    &__w300 {width: 300px;}
    
    &_ava {
        .inline-block();
        vertical-align: top;
        margin-right: 10px;
    }
    &_hold {
        .inline-block();
        vertical-align: top;
    }
    &_row {margin-bottom: 3px;}
    &_name {
        color: #289fd7;
        .text-dec_onhover;
        display: block;
    }
    
    // in antispam
    &_del,
    &_check,
    &_view {
        margin-right: 17px;
        padding-left: 20px;
        background: url('@{path-img}/b-user_view.png') no-repeat;
        background-position: 0 50%;
        font-size: @font-s;
    }
    &_check {
        padding-left: 17px;
        background-image: url('@{path-img}/b-user_check.png');
    }
    &_del {
        padding-left: 17px;
        background-image: url('@{path-img}/b-user_del.png');
    }
    // /in antispam
}

/*
    location __small
        .flag
        location_tx
*/
.location {
    margin: 0 0 5px;
    line-height: 12px;
    .flag {
        position: relative;
        top: 1px;
        margin-right: 3px;
    }
    &_tx {
        display: inline;
        font-size: 12px;
        color: #555454;
    }
}

/* 
    utilites-error
*/
.utilites-error {
    margin: 130px 0 70px;

    &_hold {
        text-align: center;
        font-size: 13px;
    }
    &_404 {
        display: block;
        width: 100%;
        height: 300px;
        background: url('@{path-img}/utilites/utilites-error_404.png') no-repeat 50% 50%;
        margin: 0 0 25px;
    }
    &_500 {
        display: block;
        width: 100%;
        height: 300px;
        background: url('@{path-img}/utilites/utilites-error_500.png') no-repeat 50% 50%;
        margin: 0 0 25px;
    }
    &_title {
        font-size: 20px;
        margin-bottom: 5px;
    }
    &_sub-tx {
        color: @color-gray-dark;
        margin: 0 0 15px;
    }
}
/* /utilites-error */

/*
    Группа фильтров 
    filter-group
        filter-group_i  active
*/
.filter-group {
    position: relative;
    .inline-block();
    vertical-align: middle;
    .clearfix;

    &_i {
        position: relative;
        float: left;
        margin-left: -1px;
        border: 1px solid #99c7ff;
        padding: 5px 15px;
        color: #3696cf;
        font-size: 13px;
        line-height: 17px;
        text-decoration: none;
    }
    &_i:first-child {
        .border-left-radius(4px);
    }
    &_i:last-child {
        .border-right-radius(4px);
    }
    &_i:hover {background-color: #dcf0ff;}
    &_i.active {
        z-index: 2;
        border-color: #50aae0;
        background: #50aae0;
        color: #fff;
    }
}


.loader {
    min-height: 30px;
    text-align: center;
    color: #b6b6b6;
    font-size: 14px;
    padding: 7px;
    
    &__b-gray {
        margin: 30px auto 40px;
        padding: 0;
    }
    &_tx {
        display: inline-block;
        vertical-align: middle;
        margin: 4px 5px 0;
    }
    &_img {
        display: inline-block;
        vertical-align: middle;
        margin: 0 4px;
    }
}

.adv-banner {
    margin: 0 0 20px;

    &__bd {border: 1px solid #eee;}
}
.adv-yandex {
    margin: 15px 15px 20px;
}

/* b-crumbs */
.b-crumbs {
    margin: 10px 20px 10px 30px;
    font: 11px/15px Tahoma, Arial, Verdana, sans-serif;
    
    &__s {}
    
    &_tx {
        .inline-block();
        vertical-align: middle;
        margin-right: 10px;
        color: #9c9b9b;
    }
    &_ul {
        .inline-block();
        vertical-align: middle;
    }
    &_li {
        .inline-block();
        vertical-align: middle;
        padding: 0 2px;

        .ava {vertical-align: middle;}
    }
    &_li:after {
        content: '>';
        line-height: 12px;
        .inline-block();
        vertical-align: middle;
        padding: 0 0 0 5px;
        color: #cdcdcd;
    }
    &_li__last:after {display: none;}
    &_last {
        color: #f17504;
    }
}
/* /b-crumbs */

.custom-likes {
    text-align: center;
    position: relative;

    &_slogan {
        margin: 15px 0 0;
        text-align: center;
        font-size: 11px;
        color: @color-gray-dark;
    }
    &_in {
        margin: 5px auto 20px;
        text-align: center;
    }
}

.tabs-simple {
    
    &__inline { // vertical-align: middle;
        .inline-block();
        vertical-align: middle;

        > li > a {padding: 0px 10px;}
    }
    a {
        color: @color-gray;
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
        color: @color-base;
    }
}

/* 
------------------------------------------------------------------
    js plugin class 
------------------------------------------------------------------
*/

/* 
    scroll custom

    scroll   __on
        scroll_scroller
            scroll_cont
        scroll_bar-hold
            scroll_bar
                scroll_bar-in
*/
.scroll {
    position: relative;
    overflow: hidden;
    height: 100%;

    &__on &_bar-hold {display: block;}
    // &:hover &_bar-in {background: rgba(0,0,0,.3);}

    &_scroller {
        overflow-y: auto !important;
        height: 100%;
        width: 100%;
        -webkit-overflow-scrolling: touch;
    }
    &_scroller::-webkit-scrollbar { /* Preventing webkit bug of horizontal scrolling */
        width: 0;
    }
    &_cont {overflow: hidden;}
    &_bar-hold {
        display: none;
        position: absolute;    
        z-index: 1;
        top: 0;
        bottom: 0;
        right: 0;
        width: 15px;
        .border-radius(4px);
    }
    &_bar { /* The bar. You should define width, right and background */
        position: absolute;
        z-index: 1;
        right: 0;
        width: 15px;
        cursor: pointer;
    }
    &_bar:hover &_bar-in{background: rgba(0,0,0,.3);}
    &_bar-in {
        position: absolute;
        top: 4px;
        bottom: 4px;
        right: 3px;
        width: 3px;
        background: #b9b9b9;
        background: rgba(0,0,0,.15);
        .border-radius(6px);
        -webkit-transition: all .2s linear;
        transition: all .2s linear;
    }
}
/* /scroll custom */

/* powerTip */
#powerTip {
    display: none;
    position: absolute;
    cursor: default;
    padding: 4px 8px;
    background: #5C4B86;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    white-space: nowrap;
    z-index: 2147483647;

    &:after {
        content:"";
        position: absolute;
        bottom: -7px;
        left: 50%;
        height: 0;
        width: 0;
        margin-left: -6px;
        border: 0 solid transparent;
        border-width: 7px 6px 0;
        border-top-color: #5C4B86;
    }
    // .nw& {margin-right: -6px;}
    .nw&:after{
        left: auto;
        right: 2px;
    }
    .ne&:after{
        left: 1px;
    }
}
/* powerTip */

/* 
    docs 
    Правила для внешнего вида документации
    Нужно наверно вынести в отдельный файл, что б не попадали стили на www
*/
.docs {
    position: relative;
    margin: 0px 0;
    padding: 10px 0;
    
    &_h1 {
        margin: 20px 20px;
        text-align: center;

    }
    &_h2 {
        margin-bottom: 10px;
        text-align: center;
        font-size: 24px;
    }
    &_desc {
        padding: 20px 20px;
        color: @color-base;
        font-size: 14px;
        background: #fafafa;
    }
    &_example {
        position: relative;
        margin: 10px 0;
        padding: 20px 0;
        border-bottom: 1px solid #aaa;
        .clearfix();
    }
    &_example__indents {
        padding: 20px 30px;
    }
    &_row {
        margin: 5px 0;
    }
}
/* /docs */