//-
    layout-footer

    mod
    vars


mixin layout-footer-lite(mod, vars)
    // layout-footer
    .layout-footer.clearfix(class=mod)
        .layout-footer_hold
            ul.footer-list
                //- li.footer-list_li.footer-list_li__first.visible-md-inline-block 
                    a.footer-list_a(href='') Мобильная версия
                li.footer-list_li.visible-md-inline-block 
                    a.footer-list_a(href='') О нас
                li.footer-list_li
                    a.footer-list_a(href='') Правила сайта
                li.footer-list_li 
                    a.footer-list_a(href='') Правообладателям
                li.footer-list_li
                    a.footer-list_a.footer-list__reklama(href='') Реклама 
                li.footer-list_li
                    a.footer-list_a(href='') Контакты 
                li.footer-list_li.footer-list_li__rambler.visible-md-inline-block 
                    a.footer-list_a(href='') Партнер "Рамблера"
                    span#counter-rambler.footer-list_rambler-count
                        a(href='http://top100.rambler.ru/home?id=2892367', target='_blank')
                            img(src='http://counter.rambler.ru/top100.scn?2892367&rn=1382511841&v=0.3&bs=1680x983&ce=1&rf=http%3A%2F%2Fwww.happy-giraffe.ru%2Fmy%2F&en=UTF-8&pt=%D0%92%D0%B5%D1%81%D0%B5%D0%BB%D1%8B%D0%B9%20%D0%96%D0%B8%D1%80%D0%B0%D1%84%20-%20%D1%81%D0%B0%D0%B9%D1%82%20%D0%B4%D0%BB%D1%8F%20%D0%B2%D1%81%D0%B5%D0%B9%20%D1%81%D0%B5%D0%BC%D1%8C%D0%B8&cd=32-bit&sr=1680x1050&la=ru&ja=1&acn=Mozilla&an=Netscape&pl=Win32&tz=-120&fv=12.0%20r0&sv&le=0', title='Rambler"s Top100', alt='Rambler"s Top100')
            ul.footer-menu.visible-md
                li.footer-menu_li
                    a.footer-menu_a.footer-menu_a__pregnancy(href='') Беременность и дети
                li.footer-menu_li
                    a.footer-menu_a.footer-menu_a__home(href='') Наш дом
                li.footer-menu_li
                    a.footer-menu_a.footer-menu_a__beauty(href='') Красота и здоровье
                li.footer-menu_li
                    a.footer-menu_a.footer-menu_a__husband-and-wife(href='') Мужчина и женщина
                li.footer-menu_li
                    a.footer-menu_a.footer-menu_a__hobby(href='') Интересы и увлечения
                li.footer-menu_li
                    a.footer-menu_a.footer-menu_a__family-holiday(href='') Отдых
            .layout-footer_tx
                | © 2012–2014 Веселый Жираф. Социальная сеть для всей семьи. Использование редакционных материалов happy-giraffe.ru возможно только с письменного разрешения редакции и/или при наличии активной ссылки на источник. Все права на пользовательские картинки и тексты принадлежат их авторам. Сайт предназначен для лиц старше 16 лет.
            .layout-footer_privacy-hold
                a.layout-footer_privacy(href="") Политика конфедициальности

    // /layout-footer
