mixin headLite (path)
    head
        | <meta charset="utf-8">
        | <meta name="viewport" content="width=device-width, initial-scale=1">
        //- <meta http-equiv="X-UA-Compatible" content="IE=edge">
        title Happy Giraffe

        // на продакшене lite.css
        | <link rel="stylesheet" type="text/css" href="/lite/css/dev/all.css" />

