
//- header-drop
mixin header-drop(mod, vars)
    .header-drop(class=mod)
        .header-menu.clearfix
            ul.header-menu_ul
                li.header-menu_li
                    a.header-menu_a(href='')
                        span.header-menu_ico.header-menu_ico__profile
                            +ava('ava__small ava__male', avaVarsSpan)
                        span.header-menu_tx Анкета
                li.header-menu_li
                    a.header-menu_a(href='')
                        span.header-menu_ico.header-menu_ico__family
                        span.header-menu_tx Семья
                li.header-menu_li
                    a.header-menu_a(href='')
                        span.header-menu_ico.header-menu_ico__blog
                        span.header-menu_tx Блог
                li.header-menu_li
                    a.header-menu_a(href='')
                        span.header-menu_ico.header-menu_ico__photo
                        span.header-menu_tx Фото
                li.header-menu_li
                    a.header-menu_a(href='')
                        span.header-menu_ico.header-menu_ico__favorite
                        span.header-menu_tx Избранное
                li.header-menu_li
                    a.header-menu_a(href='')
                        span.header-menu_ico.header-menu_ico__settings
                        span.header-menu_tx Настройки
                li.header-menu_li
                    a.header-menu_a(href='')
                        span.header-menu_ico.header-menu_ico__logout
                        span.header-menu_tx
        // header-drop_b
        .header-drop_b
                .float-r.margin-t3
                    a(href='') Жираф рекомендует
                .heading-small
                    | Мои клубы 
                    span.color-gray  (5)
                .club-list.club-list__small.clearfix
                    ul.club-list_ul.clearfix
                        li.club-list_li
                            a.club-list_i(href='')
                                span.club-list_img-hold
                                    img.club-list_img(src='/images/club/2-w50.png', alt='')
                        li.club-list_li
                            a.club-list_i(href='')
                                span.club-list_img-hold
                                    img.club-list_img(src='/images/club/5-w50.png', alt='')
                        li.club-list_li
                            a.club-list_i(href='')
                                span.club-list_img-hold
                                    img.club-list_img(src='/images/club/7-w50.png', alt='')
                        li.club-list_li
                            a.club-list_i(href='')
                                span.club-list_img-hold
                                    img.club-list_img(src='/images/club/8-w50.png', alt='')
                        li.club-list_li
                            a.club-list_i(href='')
                                span.club-list_img-hold
                                    img.club-list_img(src='/images/club/9-w50.png', alt='')
        // /header-drop_b
    // /header-drop 
//-

//- Главная шапка сайта
    mod     __base
    vars
        drop    active
mixin header(mod, vars)
    // header
    .header(class=mod)
        .header_hold.clearfix
            +logo()
            // header-menu
            .header-menu
                ul.header-menu_ul.clearfix
                    // li.header-menu_li
                        a.header-menu_a(href='')
                            span.header-menu_ico.header-menu_ico__broadcast
                            span.header-menu_tx
                                | Прямой эфир
                    li.header-menu_li
                        a.header-menu_a(href='')
                            span.header-menu_ico.header-menu_ico__giraffe
                            span.header-menu_tx
                                | Мой Жираф
                    li.header-menu_li
                        a.header-menu_a(href='')
                            span.header-menu_ico.header-menu_ico__im
                            span.header-menu_tx
                                | Диалоги
                            span.header-menu_count 25456
                    li.header-menu_li
                        a.header-menu_a(href='')
                            span.header-menu_ico.header-menu_ico__friend
                            span.header-menu_tx
                                | Друзья
                            span.header-menu_count 2
                    li.header-menu_li.active
                        a.header-menu_a(href='')
                            span.header-menu_ico.header-menu_ico__notice
                            span.header-menu_tx
                                | Сигналы
                            span.header-menu_count 2
                    li.header-menu_li
                        a.header-menu_a(href='')
                            span.header-menu_ico.header-menu_ico__award
                            span.header-menu_tx
                                | Успехи
                    li.header-menu_li.header-menu_li__dropin
                        a.header-menu_a(href='')
                            +ava("ava__middle ava__female", avaVarsSpan)
                            span.header-menu_tx Я
                                span.header_i-arrow
                        +header-drop()
            // /header-menu
    // /header

//- 

//- Шапка маленькая в разеделе модераторов
    mod
    vars
        empty
mixin header__small(mod, vars)
    // header
    .header.header__small
        .header_hold.clearfix
            - if (vars.empty) {
                
            - } else {
                +logo__small()
                .header_t-big Модератор
                .header_user
                    +ava("ava__middle ava__female", avaVars)
                    a.header_user-name Александр Богоявленский
            - }
    // /header

//- Фиксировання шапка
//- 
    mod     __rel
mixin header-fix(mod)
    // header-fix
    script.
        $(document).ready(function () {
            $(window).on('scroll',function () {
                var contanerScroll = $(window).scrollTop();
                var header = $('.layout-header');
                console.log(header.height());
                if (contanerScroll > header.height() + header.offset().top) {
                    $('.header-fix').fadeIn(400);
                } else {
                    $('.header-fix').fadeOut(400);
                }
            });
        });
    .header-fix(class=mod)
        .header-fix_hold.clearfix
            a.header-fix_logo(href='')
            .header-fix_dropin
                a.header-fix_dropin-a(href='')
                    +ava('ava__middle ava__female', avaVarsSpan)
                    span.header_i-arrow
                // header-drop
                .header-drop
                    .header-menu.clearfix
                        ul.header-menu_ul
                            li.header-menu_li
                                a.header-menu_a(href='')
                                    span.header-menu_ico.header-menu_ico__profile
                                        +ava('ava__small ava__male', avaVarsSpan)
                                    span.header-menu_tx Анкета
                            li.header-menu_li
                                a.header-menu_a(href='')
                                    span.header-menu_ico.header-menu_ico__family
                                    span.header-menu_tx Семья
                            li.header-menu_li
                                a.header-menu_a(href='')
                                    span.header-menu_ico.header-menu_ico__blog
                                    span.header-menu_tx Блог
                            li.header-menu_li
                                a.header-menu_a(href='')
                                    span.header-menu_ico.header-menu_ico__photo
                                    span.header-menu_tx Фото
                            li.header-menu_li
                                a.header-menu_a(href='')
                                    span.header-menu_ico.header-menu_ico__favorite
                                    span.header-menu_tx Избранное
                            li.header-menu_li
                                a.header-menu_a(href='')
                                    span.header-menu_ico.header-menu_ico__settings
                                    span.header-menu_tx Настройки
                            li.header-menu_li
                                a.header-menu_a(href='')
                                    span.header-menu_ico.header-menu_ico__logout
                                    span.header-menu_tx
                    // header-drop_b
                    .header-drop_b
                            .float-r.margin-t3
                                a(href='') Жираф рекомендует
                            .heading-small
                                | Мои клубы 
                                span.color-gray  (5)
                            .club-list.club-list__small.clearfix
                                ul.club-list_ul.clearfix
                                    li.club-list_li
                                        a.club-list_i(href='')
                                            span.club-list_img-hold
                                                img.club-list_img(src='/images/club/2-w50.png', alt='')
                                    li.club-list_li
                                        a.club-list_i(href='')
                                            span.club-list_img-hold
                                                img.club-list_img(src='/images/club/5-w50.png', alt='')
                                    li.club-list_li
                                        a.club-list_i(href='')
                                            span.club-list_img-hold
                                                img.club-list_img(src='/images/club/7-w50.png', alt='')
                                    li.club-list_li
                                        a.club-list_i(href='')
                                            span.club-list_img-hold
                                                img.club-list_img(src='/images/club/8-w50.png', alt='')
                                    li.club-list_li
                                        a.club-list_i(href='')
                                            span.club-list_img-hold
                                                img.club-list_img(src='/images/club/9-w50.png', alt='')
                    // /header-drop_b
                // /header-drop 
            .header-fix-menu
                ul.header-menu_ul.clearfix
                    // li.header-fix-menu_li
                        a.header-fix-menu_a(href='')
                            span.header-fix-menu_tx прямой эфир
                    li.header-fix-menu_li.active
                        a.header-fix-menu_a(href='')
                            span.header-fix-menu_tx мой жираф
                            span.header-fix-menu_count 256
                    li.header-fix-menu_li
                        a.header-fix-menu_a(href='')
                            span.header-fix-menu_tx диалоги
                    li.header-fix-menu_li
                        a.header-fix-menu_a(href='')
                            span.header-fix-menu_tx друзья
                            span.header-fix-menu_count 2
                    li.header-fix-menu_li
                        a.header-fix-menu_a(href='')
                            span.header-fix-menu_tx сигналы
                    li.header-fix-menu_li
                        a.header-fix-menu_a(href='')
                            span.header-fix-menu_tx успехи
    // /header-fix