mixin head (path)
    head
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        //- <meta http-equiv="X-UA-Compatible" content="IE=edge">
        title Happy Giraffe

        
        // including .css
        //- <link rel="stylesheet" type="text/css" href="../../../redactor/redactor.css" />
        <link rel="stylesheet" type="text/css" href="../../../css/all1.css" />
        <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400&amp;subset=latin,cyrillic-ext,cyrillic">
        // including other jade works
        // ie8 
        <!--[if lt IE 9]><script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.0.8/es5-shim.min.js"></script><![endif]-->
        +scripts(path)
