<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if lt IE 7]> <html xmlns="http://www.w3.org/1999/xhtml"> <![endif]-->
<!--[if IE 7]>    <html xmlns="http://www.w3.org/1999/xhtml" class="ie7"> <![endif]-->
<!--[if gt IE 7]><!--> <html xmlns="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Untitled Document</title>
	
	
	<link rel="stylesheet" type="text/css" href="/stylesheets/common.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/ie.css" />
	
	
	<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->
	
	<script type="text/javascript" src="/javascripts/jquery-1.8.0.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.fancybox-1.3.4.css" />
	<script type="text/javascript" src="/javascripts/jquery.fancybox-1.3.4.pack.js"></script>
	
	<script type="text/javascript" src="/javascripts/jquery.placeholder.min.js"></script>
	
	<script type="text/javascript" src="/javascripts/jquery.jcarousel.js"></script>
	
	<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
	
	<script type="text/javascript" src="/javascripts/common.js"></script>
	
	
	
	<script>
	
		$(function(){
			
			userDialogsCalc(); // append
			
			CKEDITOR.replace( 'editor', {
				skin : 'hgru',
				toolbar : [				
					['Bold','Italic','Underline','Strike','-','Image', 'Smiley']
				],
				toolbarCanCollapse: false,
				resize_enabled: false
			});
			
			
		})
		
		$(window).bind('resize', function(){
		
			userDialogsCalc();
			
		})
		
		function userDialogsCalc(){
			
			var box = $('#user-dialogs');

			var windowH = $(window).height();
			var headerH = 90;
			var textareaH = box.find('.dialog-input').hasClass('wysiwyg-input') ? 150 : 100;
			var userH = 110;
			var marginH = 30;

			var wannaChatH = box.find('.wannachat').size() > 0 ? 150 : 0;
			
			var generalH = windowH - marginH*2 - headerH;
			if (generalH < 400) generalH = 400;

			box.find('.contacts').height(generalH);
			box.find('.dialog').height(generalH);

			box.find('.contacts .list').height(generalH - wannaChatH);
			box.find('.dialog .dialog-messages').height(generalH - textareaH - userH);
						
		}
		
	</script>
	
</head>
<body class="body-club nav-fixed" style="overflow:hidden;"> 
	
	<div id="layout" class="wrapper">
	
		<div id="header-new" class="clearfix">
			
			<div class="top-line clearfix">
				
				<div class="user-nav">
					
					<ul>
						<li><a href=""><i class="icon icon-home"></i></a></li>
						<li>
							<a href="">Прелоадер ;)</a>
							<div class="drp">
								<div class="drp-title"><img src="/images/loader_01.gif" /></div>
							</div>
						</li>
						<li>
							<a href=""><i class="icon icon-messages"></i><span class="count">5</span></a>
							<div class="drp">
								<div class="drp-title">Диалоги</div>
								<ul class="list">
									<li>
										<a href="">
											<span class="name">Александр  Богоявленский</span>
											<span class="text">Привет! У меня  нормально. Напиши как приедешь...</span>
											<span class="date">Сегодня 10:45</span>
										</a>
									</li>
									<li>
										<a href="">
											<span class="name">Александр  Богоявленский</span>
											<span class="text">Привет! У меня  нормально. Напиши как приедешь...</span>
											<span class="date">Сегодня 10:45</span>
										</a>
									</li>
									<li>
										<a href="">
											<span class="name">Александр  Богоявленский</span>
											<span class="text">Привет! У меня  нормально. Напиши как приедешь...</span>
											<span class="date">Сегодня 10:45</span>
										</a>
									</li>							
								</ul>
								<div class="actions">
									<ul>
										<li><a href="">Все диалоги <span>(156)</span></a></li>
										<li><a href="">Новых</a> <a href="" class="count">5</a></li>
										<li><a href="">Кто онлайн</a> <span>8</span></li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<a href=""><i class="icon icon-friends"></i><span class="count">777</span></a>
							<div class="drp drp-closable">
								<div class="drp-title">Друзья</div>
								<ul class="list">
									<li>
										<a href=""><span class="red">ОГО!</span>&nbsp;&nbsp;<span class="name">Александр Богоявленский</span> предлагает подружиться<i class="close"></i></a>
									</li>
									<li>
										<a href=""><span class="yellow">УРА!</span>&nbsp;&nbsp;<span class="name">Ирина Гусева</span> ответила согласием на Вашу дружбу<i class="close"></i></a>
									</li>
									<li>
										<a href=""><span class="green">ЖАЛЬ!</span>&nbsp;&nbsp;<span class="name">Иван захаров</span> ответил отказом на Вашу дружбу<i class="close"></i></a>
									</li>									
								</ul>
								<div class="actions">
									<ul>
										<li><a href="">Все друзья <span>(18)</span></a></li>
										<li><a href="">Кто онлайн</a> <span>8</span></li>
										<li><a href="">Предложения дружбы</a> <a href="" class="count count-gray">0</a></li>
										<li><a href="">Мои предложения</a></li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<a href=""><i class="icon icon-notifications"></i><span class="count">44</span></a>
							<div class="drp drp-icons">
								<div class="drp-title">Уведомления</div>
								<ul class="list">
									<li>
										<a href="">2 новых комментария  к Вашей записи <span class="black">Я боюсь рожать</span>  в клубе <span class="black">Роды</span><i class="icon icon-settings"></i></a>
									</li>
								</ul>
								<div class="actions">
									<ul>
										<li><a href="">Все уведомления (43)</a></li>
									</ul>
								</div>
							</div>
						</li>
						<li class="user">
                                <div class="link">
									<a class="ava male small" href="/user/profile/user_id/10020/"></a>
									<a href="/user/profile/user_id/10020/">
                                        <span class="username">Ижецкий Денис Владимирович<i class="arr"></i></span>
                                    </a>
                                </div>
                                <div class="drp">
                                    <div class="actions">
                                        <ul>
                                            <li><a href="/user/profile/user_id/10020/">Мой профайл<i class="icon icon-profile"></i></a></li>
                                            <li><a href="/profile/index/">Мои настройки<i class="icon icon-settings"></i></a></li>
                                            <li><a href="/site/logout/">Выйти<i class="icon icon-logout"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
					</ul>
					
				</div>
				
				<ul class="fast-links clearfix">
					<li><a href="">Главная</a></li>
					<li><a href="">Клубы</a></li>
					<li><a href="">Сервисы</a></li>
					<li><a href="">Конкурсы</a></li>
				</ul>
				
			</div>
			
			<div class="header-in">
				<div class="clearfix">
					
					<div class="search-box clearfix">
						<div class="input">
							<input type="text" />
						</div>
						<button class="btn btn-green-medium"><span><span>Поиск</span></span></button>					
					</div>
					
					<div class="logo-box">
						<a href="/" class="logo" title="hg.ru – Домашняя страница">Ключевые слова сайта</a>
						<span>САЙТ ДЛЯ ВСЕЙ СЕМЬИ</span>
					</div>
					
					<div class="banner-box">
						<a href=""><img src="/images/banner_01.png" /></a>
					</div>
					
				</div>
				
				<div class="nav">
					<ul class="clearfix width-2">
						<!--<li class="morning">
							<a href=""><i class="text"></i></a>
						</li>-->
						<li class="kids navdrp">
							<a href="javascript:void(0);" onclick="navDrpOpen(this);"><i class="text"></i></a>
							<div class="drp">
								<div class="in">
									
									<ul class="cols cols-5">
										<li class="col">
											
											<div class="col-in bg-img-11">
												<div class="title">Беременность и роды</div>
												<ul>
													<li><a href="">Планирование</a></li>
													<li><a href="">Беременность</a></li>
													<li><a href="">Подготовка и роды</a></li>
												</ul>												
											</div>
											
										</li>
										<li class="col">
											
											<div class="col-in bg-img-12">
												<div class="title">Дети до года</div>
												<ul>
													<li><a href="">Здоровье</a></li>
													<li><a href="">Питание малыша</a></li>
													<li><a href="">Развитие ребенка</a></li>
													<li><a href="">Режим и уход</a></li>
												</ul>
											</div>
											
										</li>
										<li class="col">
											
											<div class="col-in bg-img-13">
												<div class="title">Дети старше года</div>
												<ul>
													<li><a href="">Здоровье и питание</a></li>
													<li><a href="">Ясли и няни</a></li>
													<li><a href="">Раннее развитие и обучение</a></li>
													<li><a href="">Психология и воспитание</a></li>
												</ul>
											</div>
											
										</li>
										<li class="col">
											
											<div class="col-in bg-img-14">
												<div class="title">Дошкольники</div>
												<ul>
													<li><a href="">Детский сад</a></li>
													<li><a href="">Игры и развлечения</a></li>
													<li><a href="">Готовимся к школе</a></li>
												</ul>
											</div>
											
										</li>
										<li class="col">
											
											<div class="col-in bg-img-15">
												<div class="title">Школьники</div>
												<ul>
													<li><a href="">Здоровье и питание</a></li>
													<li><a href="">Учимся в школе</a></li>
													<li><a href="">Спорт и досуг</a></li>
													<li><a href="">Подростковая психология</a></li>
												</ul>
											</div>
											
										</li>
										
									</ul>
									
								</div>
							</div>
						</li>
						<li class="manwoman navdrp">
							<a href="javascript:void(0);" onclick="navDrpOpen(this);"><i class="text"></i></a>
							<div class="drp">
								<div class="in">
									
									<ul class="cols cols-2">
										<li class="col wedding">
											<a href="" class="big-link bg-img-21">
												<span class="title">Свадьба! Го-рь-ко!</span>
												<span class="text">При организации свадьбы важно правильно составить бюджет и рассчитать стоимость аренды места проведения свадьбы</span>
												<span class="img"><img src="" /></span>
											</a>
										</li>
										<li class="col relationships">
											<div class="col-in bg-img-22">
												<div class="title">Отношения</div>
												<ul>
													<li><a href="">Отношения мужчины и женщины</a></li>
													<li><a href="">Непонимание в семье</a></li>
													<li><a href="">Ревность и измена</a></li>
													<li><a href="">Развод</a></li>
													<li><a href="">Психология мужчин</a></li>
													<li><a href="">Психология женщин</a></li>
												</ul>
											</div>
										</li>
									</ul>
									
								</div>
							</div>
						</li>							
						<li class="beauty navdrp">
							<a href="javascript:void(0);" onclick="navDrpOpen(this);"><i class="text"></i></a>
							<div class="drp">
								<div class="in">
									
									<ul class="cols cols-3">
										<li class="col">
											<a href="" class="big-link bg-img-31">
												<span class="title">Красота</span>
												<span class="text">При организации свадьбы важно правильно составить бюджет и рассчитать</span>
											</a>
										</li>
										<li class="col">
											<a href="" class="big-link bg-img-32">
												<span class="title">Мода и шопинг</span>
												<span class="text">Отношения мужчины Непонимание в семье Ревность и измена Развод измена Развод</span>
											</a>
										</li>
										<li class="col">
											<a href="" class="big-link bg-img-33">
												<span class="title">Здоровье родителей</span>
												<span class="text">При организации свадьбы важно правильно составить бюджет и рассчитать   </span>
											</a>
										</li>
									</ul>
									
								</div>
							</div>
						</li>
						<li class="home navdrp">
							<a href="javascript:void(0);" onclick="navDrpOpen(this);"><i class="text"></i></a>
							<div class="drp">
								<div class="in">
									
									<ul class="cols cols-5">
										<li class="col">
											<a href="" class="big-link bg-img-41">
												<span class="title">Кулинарные рецепты</span>
												<span class="text">При организации свадьбы важно правильно составить бюджет и рассчитать</span>
											</a>
										</li>
										<li class="col">
											<a href="" class="big-link bg-img-42">
												<span class="title">Детские рецепты</span>
												<span class="text">Отношения мужчины Непонимание в семье Ревность и измена Развод измена Развод</span>

											</a>
										</li>
										<li class="col">
											<a href="" class="big-link bg-img-43">
												<span class="title">Интерьер и дизайн</span>
												<span class="text">При организации свадьбы важно правильно составить бюджет и рассчитать   </span>
											</a>
										</li>
										<li class="col">
											<a href="" class="big-link bg-img-44">
												<span class="title">Домашние хлопоты</span>
												<span class="text">При организации свадьбы важно правильно составить бюджет и рассчитать</span>
											</a>
										</li>
										<li class="col">
											<a href="" class="big-link bg-img-45">
												<span class="title">Загородная жизнь</span>
												<span class="text">Отношения мужчины Непонимание в семье Ревность и измена Развод Развод</span> 
											</a>
										</li>										
									</ul>
									
								</div>
							</div>
						</li>
						<li class="hobbies navdrp">
							<a href="javascript:void(0);" onclick="navDrpOpen(this);"><i class="text"></i></a>
							<div class="drp">
								<div class="in">
									
									<ul class="cols cols-4">
										<li class="col">
											<a href="" class="big-link bg-img-51">
												<span class="title">Своими руками</span>
												<span class="text">При организации свадьбы важно правильно составить бюджет и рассчитать</span>
											</a>
										</li>
										<li class="col">
											<a href="" class="big-link bg-img-52">
												<span class="title">Мастерим детям</span>
												<span class="text">Отношения мужчины Непонимание в семье Ревность и измена Развод измена Развод</span>
											</a>
										</li>
										<li class="col">
											<a href="" class="big-link bg-img-53">
												<span class="title">За рулем</span>
												<span class="text">При организации свадьбы важно правильно составить бюджет и рассчитать   </span>
											</a>
										</li>
										<li class="col">
											<a href="" class="big-link bg-img-54">
												<span class="title">Цветоводство</span>
												<span class="text">При организации свадьбы важно правильно составить бюджет и рассчитать</span>
											</a>
										</li>
									</ul>
									
									
								</div>
							</div>
						</li>
						<li class="rest navdrp">
							<a href="javascript:void(0);" onclick="navDrpOpen(this);"><i class="text"></i></a>
							<div class="drp">
								<div class="in">
									
									<ul class="cols cols-3">
										<li class="col">
											<a href="" class="big-link bg-img-61">
												<span class="title">Выходные с ребенком</span>
												<span class="text">При организации свадьбы важно правильно составить бюджет и рассчитать. При организации свадьбы важно правильно составить бюджет.</span>												
											</a>
										</li>
										<li class="col">
											<a href="" class="big-link bg-img-62">
												<span class="title">Путешествия семьей</span>
												<span class="text">При организации свадьбы важно правильно составить бюджет и рассчитать. При организации свадьбы важно правильно составить бюджет.</span>
											</a>
										</li>
										<li class="col">
											<a href="" class="big-link bg-img-63">
												<span class="title">Праздники</span>
												<span class="text">При организации свадьбы важно правильно составить бюджет и рассчитать. При организации свадьбы важно правильно составить бюджет.</span>
											</a>
										</li>
									</ul>
									
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			
		</div>
		
		<div id="content" class="clearfix">
			
			
			
			<div id="homepage">
				
				<div class="content-cols clearfix">
					
					<div class="col-1">
						
						<div class="box homepage-clubs">
							
							<div class="title">Клубы <span>для общения</span></div>
							
							<ul>
								<li class="kids">
									<div class="category-title">Дети и беременность</div>
									<ul>
										<li>
											<a href="">
												<span class="club-img"><img src="/images/club_img_1.png" /></span>
												<span class="club-title">Планирование</span>
											</a>
										</li>
										<li>
											<a href="">
												<span class="club-img"><img src="/images/club_img_4.png" /></span>
												<span class="club-title">Дети до года</span>
											</a>
										</li>
										<li>
											<a href="">
												<span class="club-img"><img src="/images/club_img_8.png" /></span>
												<span class="club-title">Дети старше года</span>
											</a>
										</li>
										<li>
											<a href="">
												<span class="club-img"><img src="/images/club_img_12.png" /></span>
												<span class="club-title">Дошкольники</span>
											</a>
										</li>
										<li>
											<a href="">
												<span class="club-img"><img src="/images/club_img_15.png" /></span>
												<span class="club-title">Школьники</span>
											</a>
										</li>
										
									</ul>
								</li>
								<li class="manwoman">
									<div class="category-title">Мужчина <span>&amp;</span> женщина</div>
									<ul>
										<li>
											<a href="">
												<span class="club-img"><img src="/images/club_img_19.png" /></span>
												<span class="club-title">Отношения</span>
											</a>
										</li>
										<li>
											<a href="">
												<span class="club-img"><img src="/images/club_img_20.png" /></span>
												<span class="club-title">Свадьба</span>
											</a>
										</li>
									</ul>
								</li>
								<li class="beauty">
									<div class="category-title">Красота и здоровье</div>
									<ul>
										<li>
											<a href="">
												<span class="club-img"><img src="/images/club_img_21.png" /></span>
												<span class="club-title">Красота</span>
											</a>
										</li>
										<li>
											<a href="">
												<span class="club-img"><img src="/images/club_img_22.png" /></span>
												<span class="club-title">Мода и шопинг</span>
											</a>
										</li>
										<li>
											<a href="">
												<span class="club-img"><img src="/images/club_img_23.png" /></span>
												<span class="club-title">Здоровье родителей</span>
											</a>
										</li>
										
									</ul>
								</li>
								<li class="home">
									<div class="category-title">Дом</div>
									<ul>
										<li>
											<a href="">
												<span class="club-img"><img src="/images/club_img_24.png" /></span>
												<span class="club-title">Кулинарные рецепты</span>
											</a>
										</li>
										<li>
											<a href="">
												<span class="club-img"><img src="/images/club_img_25.png" /></span>
												<span class="club-title">Детские рецепты</span>
											</a>
										</li>
										<li>
											<a href="">
												<span class="club-img"><img src="/images/club_img_26.png" /></span>
												<span class="club-title">Интерьер и дизайн</span>
											</a>
										</li>
										<li>
											<a href="">
												<span class="club-img"><img src="/images/club_img_27.png" /></span>
												<span class="club-title">Домашние хлопоты</span>
											</a>
										</li>
										<li>
											<a href="">
												<span class="club-img"><img src="/images/club_img_28.png" /></span>
												<span class="club-title">Загородная жизнь</span>
											</a>
										</li>
										
									</ul>
								</li>
								<li class="hobbies">
									<div class="category-title">Интересы и увлечения</div>
									<ul>
										<li>
											<a href="">
												<span class="club-img"><img src="/images/club_img_29.png" /></span>
												<span class="club-title">Своими руками</span>
											</a>
										</li>
										<li>
											<a href="">
												<span class="club-img"><img src="/images/club_img_30.png" /></span>
												<span class="club-title">Мастерим детям</span>
											</a>
										</li>
										<li>
											<a href="">
												<span class="club-img"><img src="/images/club_img_31.png" /></span>
												<span class="club-title">За рулем</span>
											</a>
										</li>
										<li>
											<a href="">
												<span class="club-img"><img src="/images/club_img_32.png" /></span>
												<span class="club-title">Цветоводство</span>
											</a>
										</li>
										
									</ul>
								</li>
								<li class="rest">
									<div class="category-title">Отдых</div>
									<ul>
										<li>
											<a href="">
												<span class="club-img"><img src="/images/club_img_29.png" /></span>
												<span class="club-title">Выходные с ребенком</span>
											</a>
										</li>
										<li>
											<a href="">
												<span class="club-img"><img src="/images/club_img_30.png" /></span>
												<span class="club-title">Путешествия семьей</span>
											</a>
										</li>
										<li>
											<a href="">
												<span class="club-img"><img src="/images/club_img_31.png" /></span>
												<span class="club-title">Праздники</span>
											</a>
										</li>
									</ul>
								</li>
								
							</ul>
						</div>
						
						<div class="box">
							<a href=""><img src="/images/banner_03.png" /></a>
						</div>
						
					</div>
					
					<div class="col-23">
						
						<div class="box homepage-auth">
							
							<div class="t">
								<p><span>Веселый жираф</span> - это интернет-сообщество, где мамы и папы встречаются каждый день, чтобы общаться, делиться советами, находить новых друзей и многое другое.</p>
								<div class="gray"><b>Это полезно, это интересно и это очень весело!</b></div>
							</div>
							
							<div class="b">
								<a href="" class="register"></a>
								<br/>
								<small>Уже зарегистрированы?</small> &nbsp; <a href="">Войти</a>
							</div>
							
						</div>
						
						<div class="box homepage-auth">
							
							<div class="t">
								<div class="hello">Привет,</div>
							</div>
							
							<div class="b">
								<div class="name">Александр</div>
							</div>
							
						</div>
						
						<div class="clearfix">
					
							<div class="col-2">	
							
								<div class="box homepage-most">
									
									<div class="title">Самое-самое <span>интересное</span></div>
									
									<ul>
										<li>
											<a href="">Самые красивые девушки мира 2012</a>
											<a href=""><img src="/images/homepage_most_img_01.jpg" /></a>
										</li>
										<li>
											<a href="">25 самых красивых мест планеты</a>
											<a href=""><img src="/images/homepage_most_img_02.jpg" /></a>
										</li>
									</ul>
									
								</div>
								
								<div class="box homepage-services">
									
									<div class="title">Сервисы <span>попробуй!</span></div>
									
									<div class="clearfix">
										
										<div class="fast-service child-gender">
											
											<div class="img"><img src="/images/homepage_service_img_01.png" /></div>
											
											<big>Определение пола ребенка</big>
											
											<ul>
												<li><a href="">Китайский метод</a></li>
												<li><a href="">Японский метод</a></li>
												<li><a href="">По дням рождения</a></li>
												<li><a href="">По группе крови</a></li>
												<li><a href="">По овуляции</a></li>
											</ul>
											
										</div>
										
										<div class="fast-service child-name">
											
											<div class="img"><img src="/images/homepage_service_img_02.png" /></div>
											
											<big><a href="">Выбираем имя</a></big>
											
										</div>
										
									</div>
									
									<div class="list clearfix">
										
										<big>Еще сервисы</big>
										
										<ul>
											<li>
												<ul>
													<li><a href="">Календарь прививок ребенка</a></li>
													<li><a href="">Вес при беременности</a></li>
													<li><a href="">Толщина плаценты</a></li>
													<li><a href="">Женский календарь</a></li>
													<li><a href="">Сумка в роддом</a></li>
													<li><a href="">Определение пола ребенка</a></li>
													<li><a href="">Расчет ниток для вышивания</a></li>
													<li><a href="">Сколько пряжи для вязания нужно?</a></li>
												</ul>
											</li>
											<li>
												<ul>
													<li><a href="">Тест. Определение типа волос</a></li>
													<li><a href="">Справочник детских болезней</a></li>
													<li><a href="">Книга народных рецептов от детских болезней</a></li>
													<li><a href="">Женский календарь</a></li>
													<li><a href="">Калькулятор петель</a></li>
													<li><a href="">Расчет стоимости вышивки</a></li>
													<li><a href="">Калькулятор ткани</a></li>
												</ul>
											</li>
											
										</ul>
										
									</div>
									
								</div>
								
								<div class="box homepage-blogs">
									
									<div class="title">Блоги <span>мам и пап</span></div>
									
									<ul>
										<li>
											<div class="clearfix">
												<div class="user-info">
													<a href="" class="ava small female"></a>
													<div class="details">
														<span class="icon-status status-online"></span>
														<a href="" class="username">Александр</a>
													</div>
												</div>
											</div>
											<b><a href="">В гостях у Айболита</b></a>
											<div class="img"><a href=""><img src="/images/homepage_blogs_img_01.jpg" /></a></div>
										</li>
										<li>
											<div class="clearfix">
												<div class="user-info">
													<a href="" class="ava small female"></a>
													<div class="details">
														<span class="icon-status status-online"></span>
														<a href="" class="username">Александр</a>
													</div>
												</div>
											</div>
											<b><a href="">Наш малыш будет похож на папу</b></a>
											<div class="img"><a href=""><img src="/images/homepage_blogs_img_02.jpg" /></a></div>
										</li>
										<li>
											<div class="clearfix">
												<div class="user-info">
													<a href="" class="ava small female"></a>
													<div class="details">
														<span class="icon-status status-offline"></span>
														<a href="" class="username">Александр</a>
													</div>
												</div>
											</div>
											<b><a href="">Фруктовые пюре - ЗА и ПРОТИВ!</b></a>
											<div class="img"><a href=""><img src="/images/homepage_blogs_img_03.jpg" /></a></div>
										</li>
										<li>
											<div class="clearfix">
												<div class="user-info">
													<a href="" class="ava small female"></a>
													<div class="details">
														<span class="icon-status status-offline"></span>
														<a href="" class="username">Александр</a>
													</div>
												</div>
											</div>
											<b><a href="">Почему завтракать – так полезно?</b></a>
											<div class="img"><a href=""><img src="/images/homepage_blogs_img_04.jpg" /></a></div>
										</li>
										<li>
											<div class="clearfix">
												<div class="user-info">
													<a href="" class="ava small female"></a>
													<div class="details">
														<span class="icon-status status-online"></span>
														<a href="" class="username">Александр</a>
													</div>
												</div>
											</div>
											<b><a href="">Социальная помощь – служба помощи семье</b></a>
											<div class="img"><a href=""><img src="/images/homepage_blogs_img_05.jpg" /></a></div>
										</li>
										<li>
											<div class="clearfix">
												<div class="user-info">
													<a href="" class="ava small female"></a>
													<div class="details">
														<span class="icon-status status-offline"></span>
														<a href="" class="username">Александр</a>
													</div>
												</div>
											</div>
											<b><a href="">Кризисы семейной жизни</b></a>
											<div class="img"><a href=""><img src="/images/homepage_blogs_img_06.jpg" /></a></div>
										</li>
										
									</ul>
									
								</div>
								
							</div>
							
							<div class="col-3">
							
								<div class="box homepage-parents clearfix">
									
									<div class="title">Наши <span>мамы и папы</span></div>
									
									<ul>
										<li><a href="" class="ava"></a></li>
										<li><a href="" class="ava male"></a></li>
										<li><a href="" class="ava"></a></li>
										<li><a href="" class="ava female"><img src="http://img.happy-giraffe.ru/avatars/10511/ava/a781a44ec177f6794047f923ac016716.JPG" /></a></li>
										<li><a href="" class="ava male"></a></li>
										<li><a href="" class="ava female"></a></li>
										<li><a href="" class="ava"></a></li>
										<li><a href="" class="ava female"></a></li>
										<li><a href="" class="ava"></a></li>
										<li><a href="" class="ava male"></a></li>
										<li><a href="" class="ava"></a></li>
										<li><a href="" class="ava female"></a></li>
									</ul>
									
									<div class="join">
										<a href="">Присоединяйтесь!</a>
									</div>
									
								</div>
								
								<div class="box homepage-articles">
									
									<div class="title">Интерьер <span>и дизайн</span> <i>- сделаем все красиво!</i></div>
									
									<ul>
										<li><a href=""><img src="/images/homepage_articles_img.jpg" /></a></li>
										<li><a href="">Сделаем хай-тек у себя на кухне собственными силами</a></li>
										<a href=""><li>Состав и свойства наливного пола. Заливаем пол сами</a></li>
									</ul>
									
									<div class="all-link"><a href="">Все статьи (2589)</a></div>
									
								</div>
								
								<div class="box homepage-articles homepage-recipes">
									
									<div class="title">Кулинарные <span>рецепты</span> <i>- <b>1000</b> рецептов</i></div>
									
									<ul>
										<li><a href=""><img src="/images/homepage_recipes_img.jpg" /></a></li>
										<li><a href="">Как приготовить в домашних условиях суши</a></li>
										<li><a href="">У меня очень придирчивые мои любимые дети. Все им не вкусно!</a></li>
									</ul>
									
									<div class="all-link"><a href="">Все рецепты (2589)</a></div>
									
								</div>
								
							</div>
							
						</div>
						
					</div>
					
				</div>
				
			</div>
			
		</div>  	
		
    <a href="javascript:void(0);" class="tooltip" title="Тайтл" onclick="openPhoto();">Открыть фотку</a>			
    
		<div class="push"></div>
		
	</div>

	<div id="footer" class="wrapper clearfix">
		
		<div class="a-right">
			<a href="">Политика конфедециальности</a> &nbsp; | &nbsp; <a href="">Пользовательское соглашение</a>
		</div>
		
		<div class="copy">
			<p>Весёлый жираф &nbsp; © 2012 &nbsp; Все права защищены</p>
		</div>
		
	</div>
	
	<div style="display:none">
		<div id="login" class="popup">
			
			<a href="javascript:void(0);" onclick="$.fancybox.close();" class="popup-close"><span class="tip">Закрыть</span></a>
			
			<div class="popup-title">Вход на сайт</div>
			
			<form>
				<div class="form">
					
					<div class="a-right login-btn">
						
						<div class="remember">
							<label><input type="checkbox" /><br/>Запомнить меня</label>
						</div>
						
						<button class="btn btn-green-arrow-big"><span><span>Войти</span></span></button>
						
					</div>
					
					<div class="row">
						<div class="row-title">Ваш e-mail:</div>
						<div class="row-elements"><input type="text" /></div>
					</div>
					
					<div class="row">
						<div class="row-title">Ваш пароль:</div>
						<div class="row-elements"><input type="password" /></div>
						<div class="row-bottom"><a href="">Забыли пароль?</a></div>
					</div>
					
					<div class="row row-social">
						Быстрый вход:
						&nbsp;
						<a href=""><img src="/images/icon_social_odnoklassniki.png" /></a>
						<a href=""><img src="/images/icon_social_vkontakte.png" /></a>
						<a href=""><img src="/images/icon_social_mailru.png" /></a>
					</div>
					
					<div class="reg-link">
						
						<div class="a-right">
							<a class="btn btn-orange" href=""><span><span>Зарегистрироваться</span></span></a>
						</div>
						
						<div class="row"><span>Еще нет учетной записи?</span></div>
						
					</div>
					
				</div>
			</form>
			
		</div>
		
	</div>
	
	
	<div id="photo-window-shadow"></div>
	
	<div id="photo-window">
		
		<div id="photo-window-in" style="left:8px;">
			
			<div class="photo-bg">
			
				<div class="top-line clearfix">
					
					<a href="javascript:void(0);" class="close" onclick="closePhoto();"></a>
					
					<div class="user">
						<div class="user-info clearfix">
							<a class="ava female small"></a>
							<div class="details">
								<span class="icon-status status-online"></span>
								<a href="" class="username">Александр Богоявленский</a>
							</div>
						</div>
					</div>
					
				</div>			
				
				<div class="album-end">
					
					<div class="block-title">Вы посмотрели альбом "Весенние каникулы"</div>
					
					<span class="count">25 фото</span>
					
					<a href="" class="re-watch"><i class="icon"></i><span>Посмотреть еще раз</span></a>
					
				</div>
				
				<div class="more-albums">
					<div class="block-in">
						<div class="block-title"><span>Другие альбомы</span></div>
						
						<div class="gallery-photos-new clearfix">
							<ul>
								
								<li>
									<div class="img">
										<a href="">
											<img src="/images/example/gallery_album_img_01.jpg">
											<span class="count"><i class="icon"></i> 15 фото</span>
											<span class="btn">Посмотреть</span>
										</a>
									</div>
									<div class="item-title"><a href="">Разнообразие стиля</a></div>
								</li>
								
								<li>
									<div class="img">
										<a href="">
											<img src="/images/example/gallery_album_img_02.jpg">
											<span class="count"><i class="icon"></i> 15 фото</span>
											<span class="btn">Посмотреть</span>									
										</a>
									</div>
									<div class="item-title"><a href="">Разнообразие</a></div>
								</li>
								
								<li>
									<div class="img">
										<a href="">
											<img src="/images/example/gallery_album_img_03.jpg">
											<span class="count"><i class="icon"></i> 15 фото</span>
											<span class="btn">Посмотреть</span>									
										</a>
									</div>
									<div class="item-title"><a href="">Разнообразие десертов</a></div>
								</li>
								
							</ul>
						</div>
					</div>
					
				</div>
				
			</div>
			
			<div class="photo-bg photo-bg-1 photo-bg-bright">
			
				<div class="top-line clearfix">
					
					<a href="javascript:void(0);" class="close" onclick="closePhoto();"></a>
					
					<div class="user">
						<div class="user-info clearfix">
							<a class="ava female small"></a>
							<div class="details">
								<span class="icon-status status-online"></span>
								<a href="" class="username">Александр Богоявленский</a>
							</div>
						</div>
					</div>
					
				</div>			
				
				<div class="album-end">
					
					<div class="block-title">Вы посмотрели альбом "Весенние каникулы"</div>
					
					<span class="count">25 фото</span>
					
					<a href="" class="re-watch"><i class="icon"></i><span>Посмотреть еще раз</span></a>
					
				</div>
				
				<div class="more-albums">
					<div class="block-in">
						<div class="block-title"><span>Другие альбомы</span></div>
						
						<div class="gallery-photos-new clearfix">
							<ul>
								
								<li>
									<div class="img">
										<a href="">
											<img src="/images/example/gallery_album_img_01.jpg">
											<span class="count"><i class="icon"></i> 15 фото</span>
											<span class="btn">Посмотреть</span>
										</a>
									</div>
									<div class="item-title"><a href="">Разнообразие стиля</a></div>
								</li>
								
								<li>
									<div class="img">
										<a href="">
											<img src="/images/example/gallery_album_img_02.jpg">
											<span class="count"><i class="icon"></i> 15 фото</span>
											<span class="btn">Посмотреть</span>									
										</a>
									</div>
									<div class="item-title"><a href="">Разнообразие</a></div>
								</li>
								
								<li>
									<div class="img">
										<a href="">
											<img src="/images/example/gallery_album_img_03.jpg">
											<span class="count"><i class="icon"></i> 15 фото</span>
											<span class="btn">Посмотреть</span>									
										</a>
									</div>
									<div class="item-title"><a href="">Разнообразие десертов</a></div>
								</li>
								
							</ul>
						</div>
					</div>
					
				</div>
				
			</div>
			
			<div class="photo-bg photo-bg-2 photo-bg-dark">
			
				<div class="top-line clearfix">
					
					<a href="javascript:void(0);" class="close" onclick="closePhoto();"></a>
					
					<div class="user">
						<div class="user-info clearfix">
							<a class="ava female small"></a>
							<div class="details">
								<span class="icon-status status-online"></span>
								<a href="" class="username">Александр Богоявленский</a>
							</div>
						</div>
					</div>
					
				</div>			
				
				<div class="album-end">
					
					<div class="block-title">Вы посмотрели альбом "Весенние каникулы"</div>
					
					<span class="count">25 фото</span>
					
					<a href="" class="re-watch"><i class="icon"></i><span>Посмотреть еще раз</span></a>
					
				</div>
				
				<div class="more-albums">
					<div class="block-in">
						<div class="block-title"><span>Другие альбомы</span></div>
						
						<div class="gallery-photos-new clearfix">
							<ul>
								
								<li>
									<div class="img">
										<a href="">
											<img src="/images/example/gallery_album_img_01.jpg">
											<span class="count"><i class="icon"></i> 15 фото</span>
											<span class="btn">Посмотреть</span>
										</a>
									</div>
									<div class="item-title"><a href="">Разнообразие стиля</a></div>
								</li>
								
								<li>
									<div class="img">
										<a href="">
											<img src="/images/example/gallery_album_img_02.jpg">
											<span class="count"><i class="icon"></i> 15 фото</span>
											<span class="btn">Посмотреть</span>									
										</a>
									</div>
									<div class="item-title"><a href="">Разнообразие</a></div>
								</li>
								
								<li>
									<div class="img">
										<a href="">
											<img src="/images/example/gallery_album_img_03.jpg">
											<span class="count"><i class="icon"></i> 15 фото</span>
											<span class="btn">Посмотреть</span>									
										</a>
									</div>
									<div class="item-title"><a href="">Разнообразие десертов</a></div>
								</li>
								
							</ul>
						</div>
					</div>
					
				</div>
				
			</div>
			
		</div>
		
	</div>
	
	
	<div id="user-dialogs" class="clearfix" style="display:none;">
		
		<div class="header">
			
			<div class="title">
				<span>Мои диалоги</span>
			</div>
			
			<div class="nav">
				<ul>
					<li class="active"><a href="">Все</a></li>
					<li><a href="">Новые</a><span class="count">5</span></li>
					<li><a href="">Кто в онлайне</a><span class="count">10</span></li>
					<li><a href="">Друзья на сайте</a><span class="count">6</span></li>
				</ul>
			</div>
			
			<div class="search">
				<input type="text" placeholder="Найти по имени" />
				<a href="javascript:void(0);" class="icon-search icon-clear"></a>
			</div>
			
			<a href="" class="close">Закрыть диалоги</a>
			
		</div>
		
		<div class="contacts">
			
			<div class="list">
				
				<ul>
					
					<li class="active">
						
						<a href="" class="ava small"></a>
						
						<div class="in">
							
							<span class="icon-status status-online"></span>
						
							<a href="" class="username">Александр Богоявленский</a>
							
							<span class="new">1 новое</span>
							
						</div>
						
					</li>
					
					<li>
						
						<a href="" class="ava small"></a>
						
						<div class="in">
							
							<span class="icon-status status-online"></span>
						
							<a href="" class="username">Александр</a>
							
							<span class="new">2 новых</span>
							
						</div>
						
					</li>
					
					<li>
						
						<a href="" class="ava small"></a>
						
						<div class="in">
							
							<span class="icon-status status-online"></span>
						
							<a href="" class="username">Александр Богоявленский</a>
							
							<span class="new">100500 новых</span>
							
						</div>
						
					</li>
					
					<li>
						
						<a href="" class="ava small"></a>
						
						<div class="in">
							
							<span class="icon-status status-online"></span>
						
							<a href="" class="username">Александр Богоявленский</a>
							
							<span class="new">1 новое</span>
							
						</div>
						
					</li>
					
					<li>
						
						<a href="" class="ava small"></a>
						
						<div class="in">
							
							<span class="icon-status status-online"></span>
						
							<a href="" class="username">Александр</a>
							
							<span class="new">2 новых</span>
							
						</div>
						
					</li>
					
					<li>
						
						<a href="" class="ava small"></a>
						
						<div class="in">
							
							<span class="icon-status status-online"></span>
						
							<a href="" class="username">Александр Богоявленский</a>
							
							<span class="new">100500 новых</span>
							
						</div>
						
					</li>
					
					<li>
						
						<a href="" class="ava small"></a>
						
						<div class="in">
							
							<span class="icon-status status-online"></span>
						
							<a href="" class="username">Александр Богоявленский</a>
							
							<span class="new">1 новое</span>
							
						</div>
						
					</li>
					
					<li>
						
						<a href="" class="ava small"></a>
						
						<div class="in">
							
							<span class="icon-status status-online"></span>
						
							<a href="" class="username">Александр</a>
							
							<span class="new">2 новых</span>
							
						</div>
						
					</li>
					
					<li>
						
						<a href="" class="ava small"></a>
						
						<div class="in">
							
							<span class="icon-status status-online"></span>
						
							<a href="" class="username">Александр Богоявленский</a>
							
							<span class="new">100500 новых</span>
							
						</div>
						
					</li>
					
				</ul>
				
			</div>
			
			<div class="wannachat clearfix">
				
				<div class="block-title">
					<span>Хотят общаться</span>
				</div>
				
				<ul>
					<li><a href="" class="ava small"></a></li>
					<li><a href="" class="ava small"></a></li>
					<li><a href="" class="ava small"></a></li>
					<li><a href="" class="ava small"></a></li>
					<li><a href="" class="ava small"></a></li>
					<li><a href="" class="ava small"></a></li>
					<li><a href="" class="ava small"></a></li>
					<li><a href="" class="ava small"></a></li>
					<li><a href="" class="ava small"></a></li>
					<li><a href="" class="ava small"></a></li>
					<li><a href="" class="ava small"></a></li>
					<li><a href="" class="ava small"></a></li>
					
				</ul>
				
			</div>
			
		</div>
		
		<div class="dialog">
			
			<div class="dialog-header clearfix">
				
				<div class="user-info medium">
					
					<a href="" class="ava female"></a>
					
					<div class="details">
						
						<span class="icon-status status-online"></span>
						
						<a href="" class="username">Александр Богоявленский</a>
						
						<div class="location">
							<div class="flag-big flag-big-ru"></div> Магадан
						</div>
						
						<div class="user-fast-nav">
							<ul>
								<a href="">Анкета</a>&nbsp;|&nbsp;<a href="">Блог</a>&nbsp;|&nbsp;<a href="">Фото</a>&nbsp;|&nbsp;<a href="">Что нового</a>&nbsp;|&nbsp;<span class="drp-list"><a href="" class="more">Еще</a><ul><li><a href="">Семья</a></li><li><a href="">Друзья</a></li></ul>
								</span>
								
							</ul>
						</div>
						
					</div>
					
				</div>
				
			</div>
			
			<div class="dialog-messages">
				
				<ul>
					
					<li>
						
						<a href="" class="ava small male"></a>
						
						<div class="in">
							
							<div class="meta">
								
								<a href="" class="username">Анастасия</a>								
								<span class="date"> 28 янв 2012, 13:45</span>								
								<span class="message-label label-unread">Сообщение не прочитано</span>
								
							</div>
							
							<div class="content">
								
								<div class="wysiwyg-content"><p>Привет! Очень рада за вас, вот для твоего сына новая колыбельная</p></div>
								
							</div>
							
						</div>
						
					</li>
					
					<li>
						
						<a href="" class="ava small male"></a>
						
						<div class="in">
							
							<div class="meta">
								
								<a href="" class="username">Анастасия</a>								
								<span class="date"> 28 янв 2012, 13:45</span>								
								<span class="message-label label-read">Сообщение прочитано</span>
								
							</div>
							
							<div class="content">
								
								<div class="wysiwyg-content"><p>Привет! Очень рада за вас, вот для твоего сына новая колыбельная</p></div>
								
							</div>
							
						</div>
						
					</li>
					
					<li>
						
						<a href="" class="ava small male"></a>
						
						<div class="in">
							
							<div class="meta">
								
								<a href="" class="username">Анастасия</a>								
								<span class="date"> 28 янв 2012, 13:45</span>
								
							</div>
							
							<div class="content">
								
								<div class="wysiwyg-content"><p>Привет! Очень рада за вас, вот для твоего сына новая колыбельная. Привет! Очень рада за вас, вот для твоего сына новая колыбельная</p></div>
								
							</div>
							
						</div>
						
					</li>
					
					<li>
						
						<a href="" class="ava small male"></a>
						
						<div class="in">
							
							<div class="meta">
								
								<a href="" class="username">Анастасия</a>								
								<span class="date"> 28 янв 2012, 13:45</span>								
								<span class="message-label label-unread">Сообщение не прочитано</span>
								
							</div>
							
							<div class="content">
								
								<div class="wysiwyg-content"><p>Привет! Очень рада за вас, вот для твоего сына новая колыбельная</p></div>
								
							</div>
							
						</div>
						
					</li>
					
					<li>
						
						<a href="" class="ava small male"></a>
						
						<div class="in">
							
							<div class="meta">
								
								<a href="" class="username">Анастасия</a>								
								<span class="date"> 28 янв 2012, 13:45</span>								
								<span class="message-label label-read">Сообщение прочитано</span>
								
							</div>
							
							<div class="content">
								
								<div class="wysiwyg-content"><p>Привет! Очень рада за вас, вот для твоего сына новая колыбельная</p></div>
								
							</div>
							
						</div>
						
					</li>
					
					<li>
						
						<a href="" class="ava small male"></a>
						
						<div class="in">
							
							<div class="meta">
								
								<a href="" class="username">Анастасия</a>								
								<span class="date"> 28 янв 2012, 13:45</span>
								
							</div>
							
							<div class="content">
								
								<div class="wysiwyg-content"><p>Привет! Очень рада за вас, вот для твоего сына новая колыбельная. Привет! Очень рада за вас, вот для твоего сына новая колыбельная</p></div>
								
							</div>
							
						</div>
						
					</li>
					
					<li>
						
						<a href="" class="ava small male"></a>
						
						<div class="in">
							
							<div class="meta">
								
								<a href="" class="username">Анастасия</a>								
								<span class="date"> 28 янв 2012, 13:45</span>								
								<span class="message-label label-unread">Сообщение не прочитано</span>
								
							</div>
							
							<div class="content">
								
								<div class="wysiwyg-content"><p>Привет! Очень рада за вас, вот для твоего сына новая колыбельная</p></div>
								
							</div>
							
						</div>
						
					</li>
					
					<li>
						
						<a href="" class="ava small male"></a>
						
						<div class="in">
							
							<div class="meta">
								
								<a href="" class="username">Анастасия</a>								
								<span class="date"> 28 янв 2012, 13:45</span>								
								<span class="message-label label-read">Сообщение прочитано</span>
								
							</div>
							
							<div class="content">
								
								<div class="wysiwyg-content"><p>Привет! Очень рада за вас, вот для твоего сына новая колыбельная</p></div>
								
							</div>
							
						</div>
						
					</li>
					
					<li>
						
						<a href="" class="ava small male"></a>
						
						<div class="in">
							
							<div class="meta">
								
								<a href="" class="username">Анастасия</a>								
								<span class="date"> 28 янв 2012, 13:45</span>
								
							</div>
							
							<div class="content">
								
								<div class="wysiwyg-content"><p>Привет! Очень рада за вас, вот для твоего сына новая колыбельная. Привет! Очень рада за вас, вот для твоего сына новая колыбельная</p></div>
								
							</div>
							
						</div>
						
					</li>
					
				</ul>
				
			</div>
			
			<div class="dialog-input clearfix wysiwyg-input">
				
				<div class="input"><textarea placeholder="Введите ваше сообщение"></textarea></div>
				
				<div class="wysiwyg"><textarea  id="editor" name="editor" ></textarea></div>
				
				<div class="btn"><button>Отправить сообщение</button></div>
				
			</div>
			
		</div>
		
	</div>
  
	
</body>
</html>
