include ../../block/config
extend ../../extend/layout_base
block vars
    - var bodyClass = 'body__lite';
    - global.cssFile = 'blog.css';

block layout

    // b-main
    .b-main.clearfix
        .b-main_cont
            .b-crumbs.b-crumbs__s
                .b-crumbs_tx Я здесь
                ul.b-crumbs_ul
                    li.b-crumbs_li
                        a.b-crumbs_a(href='#') Главная
                    li.b-crumbs_li
                        a.b-crumbs_a(href='#') Готовим на кухне
                    li.b-crumbs_li
                        a.b-crumbs_a(href='#') Рецепты
                    li.b-crumbs_li.b-crumbs_li__last
                        span.b-crumbs_last Салаты

            //-+userSection('visible-md-block')
            +sectionClub('b-section__collection-3', sectionClub.cook)
                              
            .b-main_col-hold.clearfix
                ///////
                // Основная колонка
                .b-main_col-article
  
                    +bArticleListItem('', bArticleListItem.a) 

                    +bArticleListItem('', bArticleListItem.b) 

                    //-+bArticleStatus('', bArticleStatus.list) 

                    //-+bArticleListPhotopost('', bArticleListPhotopost.base)
    
                    +paginationSmall('yiipagination__center', paginationSmall.base)
                    

                // /Основная колонкa
                

                ///////
                // Сайд бар
                // Содержимое загружaть отложено
                aside.b-main_col-sidebar.visible-md
                    +sidebarRecipe('', sidebarRecipe.base)

        +layout-footer-lite('layout-footer__in')

        // Для отмены очистки классов uncss
        // Класс для позиции текстового элемента
        .textalign-r
    
 