include ../../block/config
extend ../../extend/layout_frame

block layout-wrapper
    .layout-content.clearfix
        .content-cols.clearfix
                // вспомогательные br и .position-rel
                .position-rel(style="margin: 100px 50px;width:600px;")
                    br
                    // style для примера
                    #redactor_modal(style="top:0;left:0;")
                        #redactor_modal_close ×
                        header#redactor_modal_header(style="cursor: move;") Video
                        #redactor_modal_inner
                            .redactor-popup
                                // Кнопка закрыть, можно использовать базовую от скрипта попапа
                                // a.redactor-popup_close.ico-close3.powertip(href='', title='Закрыть')
                                .redactor-popup_tale
                                .redactor-popup_t Загрузите видео
                                // Добавление видео
                                .redactor-popup_add-video
                                    .redactor-popup_add-video-hold
                                        .redactor-popup_video-serv
                                            .redactor-popup_video-serv-tx Поддерживаемые сервисы:
                                            .redactor-popup_video-serv-i.redactor-popup_video-serv-i__youtube
                                            .redactor-popup_video-serv-i.redactor-popup_video-serv-i__rutube
                                            .redactor-popup_video-serv-i.redactor-popup_video-serv-i__vimeo
                                        // При вводе текста убрать класс .btn-inactive с кнопки для ее активирования
                                        input.itx-simple.itx-simple__blue.w-350.float-l(type='text', name='', placeholder='Введите ссылку на видео')
                                        button.btn-green.btn-medium.btn-inactive Загрузить  видео
                                // Добавление видео с ошибкой
                                .redactor-popup_add-video.active
                                    .redactor-popup_add-video-hold
                                        .redactor-popup_video-serv
                                            .redactor-popup_video-serv-tx Поддерживаемые сервисы:
                                            .redactor-popup_video-serv-i.redactor-popup_video-serv-i__youtube.active
                                            .redactor-popup_video-serv-i.redactor-popup_video-serv-i__rutube
                                            .redactor-popup_video-serv-i.redactor-popup_video-serv-i__vimeo
                                        // При вводе текста убрать класс .btn-inactive с кнопки для ее активирования
                                        input.itx-simple.itx-simple__blue.w-350.float-l.error(type='text', name='', placeholder='Введите ссылку на видео', value='http://www.youtube.com/embed/pehSAUTqjRs?wmode=transparent')
                                        button.btn-green.btn-medium.btn-inactive Загрузить  видео
                                    .redactor-popup_add-video-error
                                        .ico-error-smile
                                        | Ошибка загрузки видео. Попробуйте вставить другую ссылку
                    br

                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    // redactor-popup
                    .redactor-popup()
                        // a.redactor-popup_close.ico-close3.powertip(href='', title='Закрыть')
                        .redactor-popup_tale
                        .redactor-popup_t Загрузите видео
                        .redactor-popup_add-video.active
                            .redactor-popup_add-video-hold
                                .redactor-popup_video-serv
                                    .redactor-popup_video-serv-tx Поддерживаемые сервисы:
                                    .redactor-popup_video-serv-i.redactor-popup_video-serv-i__youtube.active
                                    .redactor-popup_video-serv-i.redactor-popup_video-serv-i__rutube
                                    .redactor-popup_video-serv-i.redactor-popup_video-serv-i__vimeo
                                // При вводе текста убрать класс .btn-inactive с кнопки для ее активирования
                                input.itx-simple.itx-simple__blue.w-350.float-l(type='text', name='', placeholder='Введите ссылку на видео' value='http://www.youtube.com/watch?v=N8ev5pkIqKY')
                                button.btn-green.btn-medium Загрузить  видео
                            // При показе текстового сообщения на .redactor-popup_add-video добавлять класс .active
                            .redactor-popup_add-video-load
                                img(src='/images/ico/ajax-loader.gif', alt='')
                                br
                                | Подождите видео загружается
                    // /redactor-popup
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    .redactor-popup()
                        // a.redactor-popup_close.ico-close3.powertip(href='', title='Закрыть')
                        .redactor-popup_tale
                        .redactor-popup_t Загрузите видео
                        .redactor-popup_video.clearfix
                            a.redactor-popup_video-del.ico-close.powertip(href='', title='Удалить')
                            iframe(width='540', height='300', frameborder='0', allowfullscreen='', src='http://www.youtube.com/embed/pehSAUTqjRs?wmode=transparent')
                        .textalign-c.margin-t15
                            a.a-pseudo(href='') Нет, загрузить другой ролик
                            a.btn-green.btn-medium.margin-l20(href='') Добавить видео
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    .redactor-popup
                        // a.redactor-popup_close.ico-close3.powertip(href='', title='Закрыть')
                        .redactor-popup_tale
                        .redactor-popup_t Выберите смайл
                        table.redactor-popup_smiles
                            tbody
                                tr
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/acute (1).gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/acute.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/air_kiss.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/angel.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/bad.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/beach.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/beee.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/blush2.gif')
                                tr
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/Cherna-girl_on_weight.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/connie_1.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/connie_33.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/connie_36.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/connie_6.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/connie_feedbaby.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/cray.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/dance.gif')
                                tr
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/dash2.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/diablo.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/dirol.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/dntknw.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/drinks.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/d_coffee.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/d_lovers.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/facepalm.gif')
                                tr
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/fie.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/first_move.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/fool.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/girl_cray2.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/girl_dance.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/girl_drink1.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/girl_hospital.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/girl_prepare_fish.gif')
                                tr
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/girl_sigh.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/girl_wink.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/girl_witch.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/give_rose.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/good.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/help.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/JC_hiya.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/JC_hulahoop-girl.gif')
                                tr
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/kirtsun_05.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/kuzya_01.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/LaieA_052.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/Laie_16.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/Laie_50.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/Laie_7.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/lazy2.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/l_moto.gif')
                                tr
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/mail1.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/Mauridia_21.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/mosking.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/music2.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/negative.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/pardon.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/phil_05.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/phil_35.gif')
                                tr
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/popcorm1.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/preved.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/rofl.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/sad.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/scratch_one-s_head.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/secret.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/shok.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/smile3.gif')
                                tr
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/sorry.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/tease.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/to_become_senile.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/viannen_10.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/wacko2.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/wink.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/yahoo.gif')
                                    td
                                        a(href='')
                                            img(src='/images/widget/smiles/yes3.gif')
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    .redactor-popup.redactor-popup_b-link
                        // a.redactor-popup_close.ico-close3.powertip(href='', title='Закрыть')
                        .redactor-popup_tale
                        .redactor-popup_t Ссылка
                        .redactor-popup_holder-blue
                            .margin-b10.clearfix
                                label.redactor-popup_label(for='') Отображаемый текст
                                .float-l.w-350
                                    input.itx-simple.itx-simple__blue(type='text', placeholder='Введите текст', name='', value='Выделенный текст')
                            .clearfix
                                label.redactor-popup_label(for='') Ссылка на
                                .float-l.w-350.error
                                    input.itx-simple.itx-simple__blue(type='text', placeholder='Введите URL страницы', name='')
                            .errorSummary Необходимо заполнить поле URL страницы.
                        .textalign-c.margin-t15
                            a.btn-gray-light.btn-medium.margin-r10(href='') Отменить
                            a.btn-green.btn-medium(href='') Добавить ссылку
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
