doctype html
| <!--[if lt IE 10]>     <html class="no-js lt-ie10"> <![endif]-->
| <!--[if gt IE 10]><!--> <html class="no-js "> <!--<![endif]-->
include ../../block/config
//- vars from template file
- var bodyClass = ''; 
- var global = {}; 
- global.cssFile = 'info.css';
 
block vars
    
//- tag head
if (debug)
    - googlefont = '<link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic,latin" rel="stylesheet" type="text/css">'

- global.headItem = googlefont
+headLite(path, global)

/// layout out 
body.body.body__lite.body__bg2(class='body__regular')
 
    .layout-container.homepage
        .layout-loose.layout-loose__white
            .layout-header
                // header 
                header.header.header__homepage
                    .header_hold
                        .header_row-home
                            +logo('logo__l')
                    .info-menu
                        ul.info-menu-list
                            li.info-menu-item
                                a.info-menu-link(href="#") О нас
                            li.info-menu-item
                                a.info-menu-link(href="#") Правила сайта
                            li.info-menu-item
                                a.info-menu-link.active(href="#") Реклама
                            li.info-menu-item
                                a.info-menu-link(href="#") Контакты
            .layout-loose_hold.clearfix
                .info-rules
                    .info-rules-tag Политика конфедициальности
                        span.info-rules-tag__last Последнее изменение: 20.03.2015 г.
                    .info-rules-tagsub Использование Сервисов Веселого Жирафа означает безоговорочное согласие пользователя с настоящей Политикой и указанными в ней условиями обработки его персональной информации; в случае несогласия с этими условиями пользователь должен воздержаться от использования Сервисов.
                    .info-rules-title 1. Персональная информация пользователей, которую получает и обрабатывает Веселый Жираф
                    .info-rules-text
                        ol
                            li В рамках настоящей Политики под «персональной информацией пользователя» понимаются:
                                ol
                                    li Персональная информация, которую пользователь предоставляет о себе самостоятельно при регистрации (создании учётной записи) или в процессе использования Сервисов, включая персональные данные пользователя. Обязательная для предоставления Сервисов (оказания услуг) информация помечена специальным образом. Иная информация предоставляется пользователем на его усмотрение.
                                    li Данные, которые автоматически передаются Сервисам Веселого Жирафа в процессе их использования с помощью установленного на устройстве пользователя программного обеспечения, в том числе IP-адрес, информация из cookie, информация о браузере пользователя (или иной программе, с помощью которой осуществляется доступ к Сервисам), время доступа, адрес запрашиваемой страницы.
                                    li Иная информация о пользователе, сбор и/или предоставление которой определено в Регулирующих документах отдельных Сервисов Веселого Жирафа.
                            li Настоящая Политика применима только к Сервисам Веселого Жирафа. Веселый Жираф не контролирует и не несет ответственность за сайты третьих лиц, на которые пользователь может перейти по ссылкам, доступным на сайтах Веселый Жираф, в том числе в результатах поиска. На таких сайтах у пользователя может собираться или запрашиваться иная персональная информация, а также могут совершаться иные действия.
                            li Веселый Жираф в общем случае не проверяет достоверность персональной информации, предоставляемой пользователями, и не осуществляет контроль за их дееспособностью. Однако Веселый Жираф исходит из того, что пользователь предоставляет достоверную и достаточную персональную информацию по вопросам, предлагаемым в форме регистрации, и поддерживает эту информацию в актуальном состоянии. Последствия предоставления недостоверной информации определены в 
                                a(href="/useragreement/") Пользовательском соглашении сервисов Веселого Жирафа 
                                | .
                    .info-rules-title 2. Цели сбора и обработки персональной информации пользователей
                    .info-rules-text
                        ol
                            li Веселый Жираф собирает и хранит только те персональные данные, которые необходимы для предоставления Сервисов и оказания услуг (исполнения соглашений и договоров с пользователем).
                            li Персональную информацию пользователя Веселый Жираф может использовать в следующих целях:
                                ol
                                    li Идентификация стороны в рамках соглашений и договоров с Веселым Жирафом;
                                    li Предоставление пользователю персонализированных Сервисов;
                                    li Связь с пользователем, в том числе направление уведомлений, запросов и информации, касающихся использования Сервисов, оказания услуг, а также обработка запросов и заявок от пользователя;
                                    li Улучшение качества Сервисов, удобства их использования, разработка новых Сервисов и услуг;
                                    li Таргетирование рекламных материалов;
                                    li Проведение статистических и иных исследований на основе обезличенных данных.
                    .info-rules-title 3. Условия обработки персональной информации пользователя и её передачи третьим лицам
                    .info-rules-text
                        ol
                            li Веселый Жираф хранит персональную информацию пользователей в соответствии с внутренними регламентами конкретных сервисов.
                            li В отношении персональной информации пользователя сохраняется ее конфиденциальность, кроме случаев добровольного предоставления пользователем информации о себе для общего доступа неограниченному кругу лиц.
                            li Веселый Жираф вправе передать персональную информацию пользователя третьим лицам в следующих случаях:
                                ol
                                    li Пользователь выразил свое согласие на такие действия;
                                    li Передача необходима в рамках использования пользователем определенного Сервиса либо для оказания услуги пользователю;
                                    li Передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры;
                                    li Такая передача происходит в рамках продажи или иной передачи бизнеса (полностью или в части), при этом к приобретателю переходят все обязательства по соблюдению условий настоящей Политики применительно к полученной им персональной информации;
                                    li В целях обеспечения возможности защиты прав и законных интересов Веселого Жирафа или третьих лиц в случаях, когда пользователь нарушает 
                                        a(href="/useragreement/") Пользовательское соглашение сервисов Веселого Жирафа
                                        | .
                            li При обработке персональных данных пользователей Веселый Жираф руководствуется Федеральным законом РФ «О персональных данных».
                    .info-rules-title 4. Изменение пользователем персональной информации
                    .info-rules-text
                        ol
                            li Изменение пользователем персональной информации
                            li Пользователь также может удалить предоставленную им в рамках определенной учетной записи персональную информацию, воспользовавшись функцией «Удалить аккаунт». При этом удаление аккаунта может повлечь невозможность использования некоторых Сервисов Веселого Жирафа.
                    .info-rules-title 5. Меры, применяемые для защиты персональной информации пользователей
                    .info-rules-text Веселый Жираф принимает необходимые и достаточные организационные и технические меры для защиты персональной информации пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.
                    .info-rules-title 6. Изменение Политики конфиденциальности. Применимое законодательство
                    .info-rules-text
                        ol
                        li Веселый Жираф имеет право вносить изменения в настоящую Политику конфиденциальности. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Политики вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Политики. Действующая редакция всегда находится на странице по адресу 
                            a(href="/confidential/") http://www.happy-giraffe.ru/confidential/
                            | .
                // b-main 
                +layout-footer-lite('info-footer', layoutFooterLite.base)
| </html>
 
