// antispam module
.antispam {
    min-height: 770px;

    .comments-gray {min-height: 85px;}
    &_i {

    }
    &_cont {
        float: left;
        width: 720px;
    }
    &_control {
        float: left;
        width: 160px;
        margin: 25px 0;
    }
    &_control .ava,
    &_control .ico-question,
    &_control .ico-check,
    &_control .ico-del {
        vertical-align: middle;
    }
    &_control .btn-gray-light {
        padding: 4px 5px 5px;
        width: 72px;
    }
    &_control .btn-m {
        padding: 0 5px;
        width: 72px;
        font-size: 12px;
    }
}