// antispam module
.antispam {
    &_i {

    }
    &_cont {
        float: left;
        width: 720px;
    }
    &_control {
        float: left;
        width: 160px;
        margin: 25px 0;
    }
}