// antispam module
.antispam {
    min-height: 770px;
    &_i {

    }
    &_cont {
        float: left;
        width: 720px;
    }
    &_control {
        float: left;
        width: 160px;
        margin: 25px 0;
    }
    &_control .ava,
    &_control .ico-question,
    &_control .ico-check,
    &_control .ico-del {
        vertical-align: middle;
    }
}