/*
    Загрузка аватара

    ava-upload


*/
.ava-upload {
    margin: 0 -5px;
    padding-top: 20px;
    
    &_col-res {
        float: left;
        width: 470px;
    }
    &_btns {
        padding: 13px 10px;
        background-color: #51465e;

        .ico-trash {float: right;}
        .ico-photo-edit {
            float: left;
            margin: 0;
        }
    }
    &_col-prew {
        float: right;
        width: 220px;
        text-align: center;

        .ava {
            vertical-align: middle;
            margin: 0 10px;
        }
        .ava__large {margin: 0 0 15px;}
    }
    &_prew-t {
        margin: 15px 10px 8px;
        font-size: 16px;
        color: #3e3e3f;
    }
    &_img-w {
        width: 470px;
        height: 400px;
        text-align: center;
    }
    &_img-hold {
        display: inline-block;
    }
}
/* /ava-upload */
