
/*
    Заглушка 
    cap-empty __abs     __rel   __im-b
        cap-empty_hold
            cap-empty_img
            cap-empty_t
            cap-empty_tx
            cap-empty_tx-sub

*/
.cap-empty {
    position: relative;
    z-index: 100;
    text-align: center;
    .user-select(none);

    &__abs {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
    }
    &__abs &_hold {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        padding: 0;
    }
    &__rel {}
    &__gray {background: #e6e6e6;}
    &__white {background: #fff;}
    &__blue {
        background: #4772a7;
        background: rgba(71,114,167,.75);
    }
    &__blue &_tx-sub {color: #fff;}
    
    &__im-b {
        text-align: left;
    }
    &__im-b &_img {
        float: left;
        margin: 0 22px 0 120px;
    }
    &__im-b &_t {padding-top: 12px;}
    &__im-b &_tx-sub {color: #a0a09f;}

    &__im-ava {
        background: #c9e6fd;
        background: rgba(187,224,252,.8);
        .border-right-radius(10px);
    }
    &__im-ava .btn-green {margin-top: 8px;}
    &__im-ava &_tx-sub {color: #a0a09f;}

    &__addPhoto {}
    &__addPhoto &_img {
        height: 120px;
        width: 200px;
        background-image: url('@{path-img}/base/cap-empty__addPhoto_img.png');
    }

    &__addPhotoLink {
        padding: 0 140px;
    }
    &__addPhotoLink &_img {
        height: 120px;
        width: 160px;
        background-image: url('@{path-img}/base/cap-empty__addPhotoLink_img.png');
    }
    &__addPhotoLink &_t {
        margin-bottom: 15px;
    }
    &__addPhotoLink &_tx-sub {
        font: @fontsmall;
        color: @color-gray-light;
        margin: 5px 0;
        text-align: left;
    }

    &_hold {
        font-size: 12px;
        line-height: 16px;
    }
    &_img {
        display: block;
        height: 60px;
        width: 60px;
        margin: 0 auto 8px;
        background: url('@{path-img}/base/cap-empty_img.png') no-repeat 0 0;
    }
    &_img__white {background-position: -60px 0;}
    &_img__smile-gray {background-position: -120px 0;}
    &_t {
        margin: 5px 0;
        color: #2d2d2d;
        font-size: 16px;
    }
    &_tx {
        margin: 0 0 5px;
    }
    &_tx-sub {
        margin: 5px 0;
        color: #b3b6b7;
    }
    &_abs-msg {
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        text-align: center;
        margin: 0 auto;
    }
    &_abs-msg-hold {
        display: inline-block;
        padding: 4px 10px;
        color: #171717;
        font-size: 14px;
        background-color: #fdf48f;
    }
}
/* /cap-empty */
