
/* b-family */
.b-family {
    font-size: 9px;
    line-height: 10px;
    text-align: center;

    &__bg-dark &_more {color: #fff;}
    &__bg-dark &_img-hold {
        background: #836d96;
        background: rgba(0,0,0,.25);
        .box-shadow(inset 0 1px 1px rgba(0,0,0,0.25));
    }
    &__bg-dark &_tx {
        color: #fff;
        background: #967cac;
        background: rgba(0,0,0,.15);
    }
    &__bg-none &_img-hold {
        background: none;
        .box-shadow(none);
    }
    &__bg-none &_tx {background: none;}

    &__square &_ul {margin: 8px -20px;}
    &__square &_li {
        width: 85px;
        height: 82px;
        margin: 10px 17px 15px;
        padding: 10px 3px 5px;
        border: 2px solid #ace9a6;
        background: #fff;
        .border-radius(6px);
    }
    &__square &_li.dragover {border-color: #65c15d;}
    &__square &_li.dragover-error {border-color: #f8bdbd;}
    &__square &_li__empty {
        border: 2px dashed #eed87b;
    }
    &__square &_img-hold {
        display: block;
        width: auto;
        max-width: none;
        background: none;
        .box-shadow(none);
    }
    &__square &_tx {
        width: auto;
        background: none;
        color: #1a1a1a;
    }
    &__w100 &_ul {text-align: justify;}
    &__w100 &_ul:after {
        width: 100%;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        content: '';
        display: inline-block;
    }
    &__w100 &_li {width: 55px;}

    &_top {
        margin: 0 auto 15px;
    }
    &_top__empty {
        margin: 20px auto 10px;
        height: 28px;
    }
/*    &_top__white {
        height: 22px;
        width: 190px;
        background: url(/images/b-famyli_top__white.png) no-repeat;
    }*/
    &_top__white-big {
        width: 250px;
        height: 28px;
        margin: 20px auto 20px;
        // background: url('@{path-img}/b-famyli_top__white-big.png') no-repeat;
    }
/*    &_top__blue {
        height: 22px;
        width: 190px;
        background: url(/images/b-famyli_top__blue.png) no-repeat;
    }
    &_top__blue-big {
        width: 274px;
        height: 31px;
        margin: 20px auto 35px;
        background: url(/images/b-famyli_top__blue-big.png) no-repeat;
    }*/
    &_ul {margin: 8px -7px 0;} /* -7px для убриания отступа в начале и конце строки у li элементов */
    &_li {
        .inline-block();
        vertical-align: top;
        position: relative;
        margin: 0 7px 13px;
    }
    .no-touch &_li &_del {display: none;}
    &_li:hover &_del {display: block;}
    &_li > a {text-decoration: none;display: block;}
    &_img-hold {
        display: table-cell;
        vertical-align: middle;
        width: 55px;
        max-width: 55px;
        height: 55px;
        max-height: 55px;
        text-align: center;
        background: #eee;
        background: rgba(0,0,0,.05);
        .box-shadow(inset 0 1px 1px rgba(0,0,0,0.1));
    }
    &_img {max-height: 100%;}
    &_tx {
        display: block;
        width: 55px;
        padding: 2px 0 5px;
        color: #6a6a6a;
        background: #fff;
        background: rgba(255,255,255,0.7);
    }
    &_empty {
        font-size: 12px;
        color: #ded2e9;
    }
    &_more {font-size: 12px;}
    &_add {
        display: block;
        font-size: 13px;
        color: #fff;
    }
    &_add-b {
        display: block;
        width: 55px;
        height: 55px;
        border: 2px dashed #fff;
        margin: 0 auto 8px;
        background: #927aa8;
        background: rgba(0,0,0,.15) url(/images/b-famyli_add-b.png) no-repeat 50% 50%;
        .border-radius(5px);
    }
    &_add-b:hover {background-color: rgba(0,0,0,.3);}
    &_del {
        display: none;
        position: absolute;
        top: 7px;
        right: 7px;
    }
    &_sub-t {
        font-size: @font-s;
        font-weight: bold;
        color: @color-gray-dark;
    }
}
/* /b-family */


/* b-family-structure */
.b-family-structure {
    background: #66c25f;

    &__narrow {margin: 10px 0 20px;}
    &__narrow &_upload {
        margin-left: 10px;
    }
    &__narrow &_added {
        padding: 0 25px 28px;
        width: 315px;
        height: 470px;
    }
    &__narrow &_added .b-family_li {margin: 5px;}
    .b-family {
        font-size: 11px;
        margin: 0 0 10px;
    }
    .ico-close3 {
        position: absolute;
        top: 15px;
        right: 15px;
    }
    &_added {
        float: left;
        width: 355px;
        padding: 0 50px 28px;
        background: #fff0ab;
    }
    &_upload {
        float: left;
        padding: 15px 30px 5px 25px;
        width: 450px;
    }
    &_upload .b-family__w100 {margin: 0 20px;}
    &_upload .b-family_li {
        margin: 0 4px 10px;
        cursor: pointer;
        z-index: 99;
        text-align: center;
    }
    &_upload .b-family_img-hold {
        display: block;
        
        max-width: none;
    }
    &_upload .b-family_tx {
        
        color: #fff;
    }
    &_upload .b-family_sub-t {color: @color-base;}
    &_note {
        padding: 0px 40px 17px 0;
        background: url('@{path-img}/b-family-structure_note.png') no-repeat 50% 0;
        text-align: center;
        .font-s-mixin();
    }
}
/* /b-family-structure */

/* 
    .profile-settings-family
        ul.profile-settings-family_ul
            li.profile-settings-family_li.active
                a.profile-settings-family_a
                    span.profile-settings-family_count
                    span.profile-settings-family_tx
*/
.profile-settings-family {
    .inline-block();
    margin: 0 20px;

    &_ul {}
    &_li {
        .inline-block();
        margin: 0 10px;
    }
    &_li.active &_a {
        color: @color-base;
        text-decoration: none;
    }
    &_a {
        color: @color-gray-light;
        font-size: 14px;
    }
    &_count {
        .inline-block();
        margin: 0 8px 0 0;
        font-size: 30px;
        line-height: 34px;
        font-weight: bold;
    }
    &_tx {}
}
/* /profile-settings-family */

/* 
    family-settings
        &_hold
            &_photo-all
                &_col
                &_photoall-set
            &_about-all
                &_textarea


*/
.family-settings {
    margin: 20px 0 30px;
    
    .photo-preview-row {margin-top: 20px;}
    &_hold {
        margin: 0 40px;
    }
    &_photo-all {
        margin: 0 0 25px;
    }
    &_photo-all-set {
        .inline-block();
        vertical-align: top;
        margin-left: 15px;
    }
    &_col {
        .inline-block();
        width: 510px;
    }
    &_about-all {
        margin-bottom: 40px;
    }
    &_textarea {
        margin-bottom: 10px;
    }
    &_member {
        position: relative;
        margin: 0 -15px 20px;
        padding: 14px;
        border: 1px solid transparent;
    }
    &_member:hover {border-color: #f5f5f5;}
    &_member:hover &_member-del {display: block;}

    &_member-del {
        &:extend(.color-gray);
        display: none;
        position: absolute;
        top: 10px;
        right: 15px;
    }
    &_member-add {
        .inline-block();
        width: 200px;
        height: 200px;
        background: url('@{path-img}/family-settings_member-add.png') no-repeat;
    }
    &_member-add:hover {background-position: 0 -200px;}
    &_photo {
        float: left;
        margin: 0 20px 0 0;
        background: #fafafa;
    }
    &_photo-hold {
        display: table-cell;
        width: 200px;
        max-width: 200px;
        height: 200px;
        max-height: 200px;
        vertical-align: middle;
        text-align: center;
    }
    &_photo-img {
        display: block;
        margin: 0 auto;
        max-height: 100%;
    }
    &_desc {
        float: left;
        width: 580px;
    }
    &_name {
        .inline-block();
        margin-right: 10px;
        font-size: 30px;
        font-weight: bold;
        color: #186fb8;
    }
    &_birthday {
        .inline-block();
        margin-right: 10px;
        font-size: 14px;
    }
    &_row {
        margin-bottom: 10px;
    }
    &_a-settings {
        .inline-block();
        color: #7bc95b;
        text-decoration: none;
        border-bottom: 1px dotted #7bc95b;
        font-size: 16px;
    }
    &_a-settings:hover {border-bottom-color: transparent;}
    &_fill {
        margin: 35px 100px 50px;
        width: 490px;
        border: 8px solid #f5f5f5;
        padding: 15px;
        text-align: center;
        .border-radius(8px);
    }
    &_fill__about {padding-bottom: 50px;}
    &_fill-t {
        margin: 40px 0 15px;
        font-size: 25px;
    }
    &_fill-photo {
        margin: 20px auto 5px;
        width: 450px;
        height: 180px;
        background: url('@{path-img}/family-settings_fill-photo.jpg') no-repeat;
    }
    &_fill-about {
        margin: 20px auto 5px;
        width: 415px;
        height: 145px;
        background: url('@{path-img}/family-settings_fill-about.jpg') no-repeat;
    }
}
/* /family-settings */

/* photo-preview-row */
.photo-preview-row {
    margin: 10px 20px 50px;

    .photo-grid {
        .inline-block();
        vertical-align: middle;
        margin: 0;
        overflow: visible;
    }
    .photo-grid_overlay {
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        border: 2px solid #fff;
    }
    .photo-grid_zoom {
        width: 25px;
        height: 28px;
        margin: -14px 0 0 -12px;
        background-size: cover;
    }
    .ie8 & .photo-grid_zoom {
        margin: -20px 0 0 -17px;
        width: 34px;
        height: 38px;
        background: url('@{path-img}/photo-grid_zoom.png') no-repeat;
    }

    &__add {
        margin: 10px auto;
        width: auto;
    }
    &__add &_hold {background: none;}

    &_t {
        display: block;
        margin: 0 0 10px;
        text-align: left;
        font:bold 14px/18px Tahoma, Arial, Verdana, sans-serif;
    }
    &_t-small {
        display: block;
        margin: 0 0 10px;
        text-align: left;
        font: 14px/18px Tahoma, Arial, Verdana, sans-serif;
        color: #353535;
    }
    &_hold {background: #f5f5f5;}
    &_hold2 {background: #fff;}
    &_last {
        .inline-block();
        vertical-align: middle;
        width: 67px;
        text-align: center;
    }
    &_last .font-small {line-height: 12px;}
    &_a {
        font-size: 16px;
    }
    &_add {
        float: left;
        width: 121px;
        height: 104px;
        margin: 0 5px 0 0;
        background: url('@{path-img}/photo-preview-row_add.png') no-repeat;
    }
    &_add:hover {background-position: 0 -104px;}
}
/* /photo-preview-row */
