.layout-footer {
    
    &_hold {
        width: auto;
        background: none;
        margin: 0 auto;
        padding: 30px 21px;
        

        @media (width: @screen-tablet) {
            padding: 35px 18% 60px;
        }
        @media (min-width: @screen-tablet) {
            padding: 35px 18% 60px;
        }

        @media (min-width: @screen-desktop) {
            width: 780px;
            padding: 10px 20px 60px 200px;
            background: url(/images/layout-footer_hold.png) no-repeat 70px 20px;
        }
    }

}
