.layout-footer {
    position: relative;
    z-index: 2;
    margin: -220px 0 0;
    padding: 20px 0 40px;
    /*border-top: 1px solid #e7e7e7;*/
    .box-shadow(inset 0 1px 3px rgba(0,0,0,0.05));
    background: #fff;
    font:normal 11px/16px tahoma, arial, helvetica, sens-serif;
    color: #a2a1a1;
    
    &__in {
        margin-top: 0;
    }

    &_hold {
        width: 780px;
        margin: 0 auto;
        padding: 0 20px 20px 200px;
        background: url(/images/layout-footer_hold.png) no-repeat 60px 10px;
    }
}

.footer-list {
    padding: 20px 0;

    &_li {
        .inline-block();
        padding: 0 10px 0 15px;
        background: url(/images/footer-list_li.png) no-repeat 0 7px;
    }
    &_li:first-child {
        padding-left: 0;
        background: none;
    }
    &_li.active &_a {text-decoration: underline;}
    &_a {
        color: #a2a1a1;
        text-decoration: none;
    }
    &_a:hover {text-decoration: underline;color: #6a6a6a;}
    &_rambler-count {
        float: right;
        margin: -15px 10px 0;
    }
}

.footer-ul-bold {
    margin: 0 0 20px;
    line-height: 14px;

    &_li {
        .inline-block();
        padding: 0 11px;
        border-left: 1px solid #c3c3c3;
        font-weight: bold;
    }
    &_li:first-child {
        padding-left: 0;
        border-left: none;
    }
    &_li.active &_a {
        color: #429ee7;
        text-decoration: underline;
    }
    &_a {
        color: #666;
        text-decoration: none;
    }
    &_a:hover {
        color: #429ee7;
        text-decoration: underline;
    }
}

.layout-footer .copy {padding-left:20px;color:#9e9d9e;}
.layout-footer .copy .icon-18{vertical-align: middle;padding: 0 25px;}
.counter-rambler {
    float:right;
    margin:0 60px 0 10px;
    line-height:normal;
}
.counter-rambler_i {
    display:inline-block;
    vertical-align:middle;
    margin:5px 10px 0 0;
}