.body__photo-window,
body.gallery {overflow:hidden;}

/*.more-albums-photopost {
    padding: 0 44px 35px;

    .ico-play-big {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -75px 0 0 -75px;
    }
    &_ul {margin-right: -55px;}
    &_li {
        float: left;
        margin: 0 35px 0 0;
        width: 440px;
        text-align: center;
    }
    &_img {
        position: relative;
        display: block;
        color: #fff;
    }
    &_img > img {display: block;}
    &_img-title {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        padding: 14px 0;
        background:#000;
        background:rgba(0,0,0,.44);
        text-align:center;
        font-size: 25px;
        line-height: 1em;
        font-weight: bold;
    }
    &_img-title-tx {
        display: table-cell;
        height: 50px;
        width: 440px;
        text-align: center;
        vertical-align: middle;
    }
    &_count {
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
        padding: 20px 0;
        background:#000;
        background:rgba(0,0,0,.44);
        font-size:24px;
        line-height:1em;
        text-align:center;
    }
    &_count-big {
        .inline-block();
        margin: 0 4px;
        font-size: 35px;
    }
}*/

/* photo-window */
.photo-window {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 910;
    background-color: #524261;
    width:100%;
    max-height:100%;
    overflow: hidden;
    overflow-x: auto;

    .comments-gray {
        background: none;
        padding: 5px 0 15px;
    }
    .comments-gray_add {
        border-top: none;
        padding: 0 0 5px;
    }
    .ico-edit {margin: 0 5px;}
    .b-user-small {
        position: absolute;
        margin: 5px 0 0 20px;
        max-width: 170px;
    }
    .like-control {
        position: absolute;
        bottom: 30px;
        left: 50%;
        margin-left: -80px;
        padding: 10px 5px;
        width: auto;
        background: rgba(255,229,53,.9);
        opacity: 0;
        .border-radius(4px);
        .transition(all 0.4s ease);
    }
    .favorites-control_a,
    .like-control_ico {
        float: left;
        width: 45px;
        margin: 0 15px;
    }
    .favorites-add-popup {
        top: auto;
        bottom: 14px;
    }
    .favorites-add-popup:after {
        top:auto;
        bottom: 25px;
    }
    &_w {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-width: 1000px;
    }
    &_top {
        position: absolute;
        top: 0;
        right: 20px;
        left: 320px;
        text-align: center;
        margin: 0;
        font-size: 11px;
        font-family: Tahoma, Arial, Verdana, sans-serif;
        color: #fff;
    }
    /*&_top-hold {
        padding: 5px 10% 0;
        text-align: center;
    }*/
    &_close {
        position: absolute;
        top: 10px;
        right: 15px;
        width: 31px;
        height: 31px;
        background: url(/images/photo-window_close.png) no-repeat;
    }
    &_close:hover {background-position: 0 -31px;}

    &_col {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 300px;
        background-color: #fff;
        overflow: hidden;
    }
    &_col-hold {
        padding: 12px 0;
        height: auto;
    }
    &_banner {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
    }
    &_banner img {
        display: block;
        margin: 0 auto;
    }
    &_cont {}
    &_cont .scroll_cont {padding: 0 20px 0 19px;}
    &_cont .itx-gray {
        resize:none;
        line-height: 16px;
    }
    &_t {
        margin: 5px 0;
        font: bold 25px/25px Tahoma, Arial, Verdana, sans-serif;
        color: #196eb9;
    }
    &_t .itx-gray {
        font-size: 12px;
        line-height: 16px;
    }
    &_count {
        margin: 10px 0 0 0;
        font: @font-s;
    }
    &_date {
        float: left;
        margin: 10px 0 0;
        font: @font-s;
        text-align: left;
    }

    &_desc-hold {
        position: relative;
        margin: 5px auto 10px;
        .transition(all 0.3s ease);
    }
    &_desc-hold:hover {}
    &_desc-hold .itx-simple {
        min-height:48px;
    }
    &_desc-hold &_edit {
        float: right;
        margin:-2px  10px 0;
    }
    /*&_desc-more {
        float: right;
        line-height: 18px;
    }
    &_desc-more a {
        .inline-block();
        padding: 0;
        color: #41adf8;
    }*/
    &_desc {
        font-size: 14px;
        line-height: 19px;
        color: @color-gray;
    }
    &_about {
        margin: 5px 0;
        font-size: 11px;
        color: @color-gray;
    }
    &_about-a {
        text-decoration: none;

        &:hover {text-decoration: underline;}
    }
    &_c {
        position: absolute;
        top: 50px;
        left: 300px;
        bottom: 50px;
        right: 0;
        text-align: center;
    }
    &_c:hover &_arrow,
    &_c:hover .like-control {
        opacity: 1;
    }
    &_img-hold {
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: 100%;
    }
    &_img {
        display: inline-block;
        max-height: 100%;
        max-width: 100%;
        vertical-align: middle;
        margin-right: -3px;
    }

    &_arrow {
        position: absolute;
        top: 50%;
        left: 45px;
        width: 59px;
        height: 160px;
        margin-top: -80px;
        background: url(/images/photo-window_arrow.png) no-repeat 0 0;
        opacity: 0;
        .transition(opacity 0.3s ease);
    }
    &_arrow:hover {background-position: 0 -160px;}
    &_arrow__r {
        left: auto;
        right: 45px;
        background-position: -59px 0;
    }
    &_arrow__r:hover {background-position: -59px -160px;}

    &_contest-logo {
        position: absolute;
        bottom: -50px;
        left: 0;
    }
    &_contest-logo img {display: block;}

    &_b {
        position: absolute;
        bottom: 0;
        left: 300px;
        right: 0;
        padding: 10px;
        background-color: #382d42;
        background-color: rgba(0,0,0, .35);
        text-align: center;
        color: #fff;

        .custom-likes-b_slogan {
            margin-top: 10px;
            color: #fff;
        }
    }
    &_edit {
        position: relative;
        z-index: 1;
        float: left;
        margin: 0 20px 0 10%;
        padding: 46px 0 0;
        background: url('@{path-img}/photo-window_edit.png') no-repeat 50% 0;
        color: #fff;
        text-decoration: none;
    }
    &_edit:hover,
    &_del:hover {text-decoration: underline;}
    &_del {
        position: relative;
        z-index: 1;
        float: right;
        margin: 0 10% 0 20px;
        padding: 46px 0 0;
        background: url('@{path-img}/photo-window_del.png') no-repeat 50% 0;
        color: #fff;
        text-decoration: none;
    }
}
/* /photo-window */

/* photo-window-end */
.photo-window-end {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -300px 0 0;
    color: @color-white;
    text-align: center;

   
    .album-preview_ul {margin-left: 0;}
    .album-preview_li {
        float: left;
        margin: 5px 10px 5px 0;
    }
    .custom-likes-b {
        text-align: left;
    }
    .custom-likes-b_hold,
    .custom-likes-b_slogan {
        .inline-block();
        color: #fff;
        margin: 0 5px;
        font-size: 12px;
    }
    &_hold {
        .inline-block();
        width: 915px;
        margin: 0 40px;
        text-align: left;

        @media screen and (min-width: 1200px) {
            & {width: 1120px;}
        }
    }
    &_top {
        
        a {text-decoration: none;}
        a:hover {text-decoration: underline;}
        .ava {
            vertical-align: text-bottom;
            margin: 0 10px;
        }
        .user-actions {margin-left: 10px;}
    }
    &_t {
        font-size: 35px;
        margin: 5px 0 15px;
    }
    &_t-sub {
        font-size: 16px;
        margin: 20px 0 10px;
    }
    &_in {
        max-width: 1130px;
        height: 410px;
        overflow: hidden;
    }
}
/* /photo-window-end */

/* re-watch */
.re-watch {
    .inline-block();
    margin:0 0 0 20px;
    padding:0 0 4px 30px;
    background: url('@{path-img}/re-watch.png') no-repeat 0 0;
    text-decoration: none;
    color: @color-white;
    
    /*&:hover {background-position: 0 -98px;}*/
    &:hover &_tx {
        text-decoration: underline;
    }
    &_tx {
        font-size: 12px;
    }
}
/* /re-watch */
