/* popup-sign */
.popup-sign {
    width: 870px;
    color: #666;
    font-size: 13px;
    background: #fff;
    .box-shadow(0 6px 16px rgba(0,0,0,0.6));
    
    .ava {
        float: none;
        display: inline-block;
    }
    &_hold {
        background: #f7f6f8;
    }
    &_top {
        padding: 30px 50px 25px;
        background: #fff url(/new/images/header.png) repeat-x;
        text-align: center;
    }
    &_t {
        font: 40px/50px Arial, Tahoma, Verdana, sans-serif;
        color: #3e3e3f;
    }
    &_t .ico-lock-big {margin-right: 25px;}
    &_slogan {font-size: 15px;}
    &_title {
        text-align: left;
        font-size: 22px;
        color: #333;
    }

    &_cont {
        padding: 30px 65px 35px;
        .clearfix();
    }
    &_cont__wide {padding: 30px 50px;}
    &_social {
        .inline-block();
        vertical-align: top;
        width: 310px;
        padding-right: 75px;
        margin-right: 35px;
        background: url(/new/images/popup/popup-sign_or.png) no-repeat 100% -6px;
    }
    &_col {
        .inline-block();
        width: 315px;
        vertical-align: top;
    }
    &_col__vetical-m {vertical-align: middle;}
    &_col-ava {
        .inline-block();
        vertical-align: top;
        width: 310px;
        border-right: 1px solid #ebebeb;
        margin-right: 60px;
        padding: 5px 0 20px;
        text-align: center;
    }
    &_col-ava .ava {overflow: hidden;}
    &_col-ava .ava_img {
        display: block;
        max-width: none;
    }
    &_col-ava__think {
        float: right;
        margin-right: 0;
        width: 220px;
        border-right-width: 0;
    }
    &_col-wide-r {
        .inline-block();
        vertical-align: top;
        width: 345px;
        margin-left: 30px;
        padding: 0 0 30px 30px;
        border-left: 1px solid #ebebeb;
    }
    &_row {
        margin: 0 0 10px;
        .clearfix();
    }
    &_label {
        margin: 3px 0 -2px 2px;
        line-height: 18px;
    }
    &_b {
        text-align: center;
        font-size: 15px;
        padding-bottom: 40px;
        margin: 0 60px;
    }
    &_b-tx {
        .inline-block();
        margin-right: 15px;
    }
    &_tx-help {
        color: @color-gray-light;
        .font-s-mixin();
    }
    &_itx {
        margin-bottom: 3px;
    }
    &_a-big {
        font-size: 16px;
        color: #3498db; 
    }
    &_a-m {
        font-size: 14px;
        color: @color-gray-dark;
    }
    &_tx {
        font-size: 15px;
        color: @color-gray-darken;
        text-align: center;
        margin-bottom: 25px;
    }
    &_wrap {
        width: 460px;
        margin: 30px auto 20px;
    }
    &_col-label {
        float: left;
        width: 60px;
    }
    &_col-label &_label {margin-top: 7px;}
    &_col-inp {
        float: left;
        width: 400px;
    }
    &_retrieve-send {
        padding: 5px 0 25px 60px;
        background: url(/new/images/popup/popup-sign_retrieve-send.png) no-repeat 3px 7px;
    }
    &_img-upload {
        float: left;
        width: 500px;
    }
    &_col-ava-t {
        text-align: center;
        margin: 0 0 10px;
        font-size: 16px;
    }
    &_ava-row {
        margin: 10px 0;
        text-align: center;

        .ava {
            float: none;
            margin: 0 10px;
            .inline-block();
            vertical-align: middle;
        }
    }
    &_capcha-hold {
        margin: 20px 0 30px;
    }
}
/* /popup-sign */

//////
// Ниже код этом файле, для подключения в старые стили.
// Нужно будет разнести по файлам после отказа старой версии
/* social-btns */
.social-btns {
    margin: 15px 0 40px;

    .social-btn {
        margin: 15px 0;
    }
}
/* social-btn */
.social-btn {
    display: block;
    text-align: center;
    text-decoration: none;
    .border-radius(5px);
    .clearfix;
    
    &__odnoklassniki {background: #fa8a0f;}
    &__odnoklassniki:hover {background: #ee820b;}
    &__odnoklassniki &_ico {background-position: 0 0;}
    &__vkontakte {background: #6d8eb2;}
    &__vkontakte:hover {background: #5f81a6;}
    &__vkontakte &_ico {background-position: 0 -100px;}

    &_ico {
        float: left;
        margin-left: 5px;
        width: 50px;
        height: 50px;
        background: url(/new/images/social-btn.png) no-repeat;
        .img-retina('/new/images/social-btn.png'; '/new/images/social-btn-2x.png'; 50px; 150px);
    }
    &_tx {
        padding-right: 20px;
        font-size: 16px;
        line-height: 50px;
        color: #fff;
    }
}
/* /social-btn */


/* radio-icons */
.radio-icons {

    &__inline {
        .inline-block();
        vertical-align: middle;
    }

    &_radio {display: none;}
    .ie7 &_radio,
    .ie8 &_radio {
        display: inline-block;
        width: 16px;
        height: 16px;
        padding: 0;
        margin: 8px 5px 0 0;
    }
    &_radio:checked + &_label {
        color: #333;
        background-position: 0 -100px;
    }
    &_label {
        .inline-block();
        vertical-align: top;
        margin: 0 15px 0 0;
        color: @color-gray-light;
        padding-left: 24px;
        min-height: 18px;
        line-height: 18px;
        cursor: pointer;
        .img-retina('/new/images/input-radio.png'; '/new/images/input-radio-2x.png'; 18px; 218px);
        background-repeat: no-repeat;
    }
    .ie7 &_label,
    .ie8 &_label {padding-left: 0;background: none;}
    &_label:hover {
        color: #333;
        background-position: 0 -200px;
    }
}
/* /radio-icons */

/* checkbox-icons */
.checkbox-icons {

    &__inline {
        .inline-block();
        vertical-align: middle;
    }

    &_radio {display: none;}
    .ie7 &_radio,
    .ie8 &_radio {
        display: inline-block;
        width: 16px;
        height: 16px;
        padding: 0;
        margin: 8px 5px 0 0;
    }
    &_radio:checked + &_label {
        color: #333;
        background-position: 0 -100px;
    }
    &_label {
        .inline-block();
        vertical-align: top;
        margin: 0 15px 0 0;
        color: #777;
        padding-left: 24px;
        min-height: 19px;
        line-height: 19px;
        cursor: pointer;
        .img-retina('/new/images/input-checkbox.png'; '/new/images/input-checkbox-2x.png'; 18px; 219px);
        background-repeat: no-repeat;
    }
    .ie7 &_label,
    .ie8 &_label {padding-left: 0;background: none;}
    &_label:hover {
        color: #333;
        background-position: 0 -200px;
    }
}
/* /checkbox-icons */

/* img-upload */
.img-upload {
    position: relative;
    margin-bottom: 15px;
    background-color: #fff;
    .clearfix();
    
    &__uploaded &_hold {display: none;}
    &__uploaded &_uploaded {display: block;}
    &_hold {
        padding: 55px 0 5px;
        background: url(/new/images/img-upload_hold.png) no-repeat 50% 120px;
    }
    &_top {margin: 0 0 160px;}
    &_top .file-fake {
        .inline-block();
        margin: 5px 0 0;
    }
    &_btn-desc {
        .inline-block();
        width: 330px;
        margin: 0 25px 0 0;
        text-align: right;
    }
    &_t {
        font-size: 16px;
    }
    &_help {
        .font-s-mixin();
        color: @color-gray-light;
    }
    &_desc {
        margin: 20px 20px 50px;
        text-align: center;
    }

    &_i-load {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -3px 0 0 -75px;
        height: 5px;
        width: 150px;
        background: #61c3fd;
    }
    &_i-load-progress {
        position: absolute;
        top: 0;
        left: 0;
        height: 5px;
        width: 0;
        background: #2e8fc9;
    }
    &_uploaded {
        display: none;
        position: relative;
    }
    &_i-del {
        position: absolute;
        top: 0;
        right: -20px;
        .inline-block();
        
        width: 0.7em;
        height: 0.7em;
        line-height: 0.7em;
        font-size: 24px;
        font-family: Tahoma, Arial, Verdana, sans-serif;
        cursor: pointer;
        color: #a9b0b7;
        text-decoration: none;
        .transition(all 300ms);
        /*background: url(/images/ico/ico-close2.png) no-repeat;*/
        &:before {
            content:'×';
            position: relative;
            top: -2px;
        }
        &:hover {
            color: #4b4d4f;
            .rotate(90deg);
        }
    }
}
/* /img-upload */