
/* 
    userSubscribers 


*/
.subscribersWidget {
    margin: 0 10px 30px;

    &_t {
        margin-bottom: 6px;
        font-size: 14px;
        line-height: 14px;
        color: @color-base;
    }
    &_ul {
        margin-right: -15px;
    }
    &_li {
        .inline-block();
        margin: 5px 15px 5px 0;
    }
    &_row {
        margin: 4px 0;
    }
    &_more {
        padding-right: 19px;
        background: url('@{path-img}/subscribersWidget_more.png') no-repeat 100% 60%;
    }
}