
/* 
    userSubscribers 


*/
.userSubscribers {
    margin: 10px 10px 20px;

    &_tx {
        .inline-block();
        vertical-align: middle;
        margin-right: 10px;
        font-size: 14px;
        color: @color-gray-dark;
    }
    &_ul {
        .inline-block();
        vertical-align: middle;
    }
    &_li {
        .inline-block();
        vertical-align: middle;
    }
    &_btn {
        .inline-block();
        vertical-align: middle;
        margin: 0 15px;

        .ico-plus {
            margin: 0 5px 0 -5px;
        }
    }
}