/*
    Меню пользователя

    user-menu 
        user-menu_ava
        user-menu_ul
            user-menu_li
                user-menui
                    user-menu_ico
                    user-menu_tx

*/
.user-menu {
    float: left;
    width: 79px;
    border-right: 1px solid #f5f5f5;
    margin-top: 5px;
    background: #fff;
    .user-select(none);
    
    &_ava {
        padding: 15px 20px;
        background-color: #51aae0;

        .ava {display: block;}
    }
    &_ul {margin: 5px 0 5px;}
    &_li {}
    &_li.active &_i,
    &_li:hover &_i{background: #f5f5f5;}
    &_li.active &_ico {opacity: 1;}
    &_li.active &_tx  {color: #333;}
    &_li.disabled:hover &_i {background: none;}
    &_li.disabled &_ico {opacity: .1;}
    &_li.disabled &_tx  {color: #f5f5f5;}
    &_li__find {
        background: #16b45a;

        &:hover,
        &.active {background: #0f9b4b;}
    }
    &_li__find &_tx  {color: #fff;}
    &_li__find &_ico {opacity: 1;}
    
    &_i {
        position: relative;
        display: block;
        padding: 15px 5px 15px;
        text-align: center;
        text-decoration: none;
    }

    &_ico {
        display: block;
        margin: 0 auto 6px;
        width: 50px;
        height: 40px;
        opacity: .4;
        .img-retina('@{path-img}/user-menu_ico.png'; '@{path-img}/user-menu_ico-2x.png'; 400px; 40px);
    }
    &_ico__profile    {background-position: 0 0;}
    &_ico__family     {background-position: -50px 0;}
    &_ico__blog       {background-position: -100px 0;}
    &_ico__photo      {background-position: -150px 0;}
    &_ico__interest   {background-position: -200px 0;}

    &_tx {
        display: block;
        color: #acacac;
        font-size: @font-xs;
        line-height: @font-xs;
        text-transform: uppercase;
    }
}
/* /side-menu */