include ../../block/config
extend ../../extend/layout_base
block vars
    - var bodyClass = 'body__lite';
    - global.cssFile = 'blog.css'; 

block layout

    // b-main 
    .b-main.clearfix
        .b-main_cont
            .b-crumbs.b-crumbs__s
                .b-crumbs_tx Я здесь
                ul.b-crumbs_ul
                    li.b-crumbs_li
                        a.b-crumbs_a(href='#') Главная
                    li.b-crumbs_li
                        +ava('ava__small', ava.a)
                    li.b-crumbs_li.b-crumbs_li__last
                        span.b-crumbs_last Блог

            +userSection('visible-md-block')
                              
            +userSubscribers('visible-md-block')

            .b-main_col-hold.clearfix
                ///////
                // Основная колонка 
                .b-main_col-article
  
                    +bArticleListItem('', bArticleListItem.a) 

                    +bArticleListItem('', bArticleListItem.b) 

                    +bArticleStatus('', bArticleStatus.list) 

                    +bArticleListPhotopost('', bArticleListPhotopost.base)
    
                    +paginationSmall('yiipagination__center', paginationSmall.base)
  
                // /Основная колонкa
                 

                +sidebarArticle('', sidebarArticle.base)

    +layout-footer-lite()

    
       
 