- var path = "/new/";

include vars/base

//- Базовые блоки
//- BEM block in jade
include base/ava
include base/bFamily
include base/bAvaLarge
include base/base
include base/capEmpty
include base/comments
include base/friendsListItem
include base/logo
include base/radioIcons
include base/side-menu

//- Главный layout
include layout/footer
include layout/head
include layout/header
include layout/scripts

//- Проектные блоки для разных модулей
include project/albumPreview
include project/antispam
include project/article
include project/bAlbum
include project/comment
include project/imgGrid
include project/iPhoto
include project/postAddRowBtns
include project/userAddRecord
include project/user-menu
include project/userSection
include project/subscribersWidget

//- Модули
//- Почта 
include im/im
