/* @popup
---------------------------------------------*/
.popup {
    display: none;
    width: 720px;

    &_hold {padding: 15px 20px;}

}

/* popup-keyword */
.popup-keyword {
	&_i {
		padding: 10px;
		font-size: 16px;
		color: #1f1e1e;
	}
	&_i:hover {
		background: #f4eefa;
	}
	&_i:hover &_take {display: block;}
	&_i .keyword_cat {font-size: 12px;}
	&_take {
		float: right;
		margin-top: 3px;
	}
}
/* /popup-keyword */