/* @layout project
---------------------------------------------*/

.layout-page {
	height: 100%;
	background: url(/images/seo2/layout-page.png) repeat-x;

	&_w1 {
		width: 900px;
		margin: 0 auto;
		padding-bottom: 50px;
	}
}

/* nav-hor */
.nav-hor {
	margin: 0;
	text-align: center;

	&_li {
		.inline-block();
		margin: 0;
		background: #e9e2f0;
		border-top-left-radius: 9px;
		border-top-right-radius: 9px;
	}
	&_li:hover {background: #e2dcea;}
	&_li.active {
		background: #fff;
	}
	&_li.active &_i {
		font-weight: bold;
		color: #373737;
	}
	&_i {
		display: block;
		padding: 12px 33px;
		font-size: 14px;
		line-height: 14px;
		color: #8b7d9c;
		text-decoration: none;
	}
}
/* /nav-hor */

/* block */
.block {
	padding:30px 20px 10px;
	margin:0 0 20px;
	background: #fff;
	border-radius: 10px;

	&__pink {background: #ffedfa;}
	&__pink &_title {background: #fdddf4;}

	&_title {
		margin: 0 0 20px;
		padding: 10px 15px;
		background: #edf7fd;
	}
	&_title-ico {
		.inline-block();
		vertical-align: middle;
		width: 35px;
		height: 35px;
		margin-right: 10px;
		background: url(/images/seo2/block_title-ico.png) no-repeat;
	}
	&_title-ico__blog {background-position: 0 0;}
	&_title-ico__club {background-position: 0 -35px;}
	&_title-ico__comment {background-position: 0 -70px;}
	&_title-ico__editor-tasks {background-position: 0 -105px;}
	&_title-tx {
		.inline-block();
		vertical-align: middle;
		font-size: 16px;
		font-weight: bold;
		color: #373737;
	}
	&_title-subtx {
		.inline-block();
		vertical-align: middle;
		margin: 0 5px;
		font-size: 13px;
		color: #a8a7a7;
	}
	&_hold {
		padding: 0 15px;
	}
	&_title-count {
		.inline-block();
		vertical-align: middle;
		margin: 2px 6px 0 25px;
		padding: 2px;
		width: 60px;
		border: 1px solid #7cc2ee;
		border-radius: 3px;
	}
	&_title-count-in {
		display: block;
		width: 0;
		height: 11px;
		background: #c2e7fd;
	}
	&_title-count-tx {
		.inline-block();
		vertical-align: middle;
		font-size: 23px;
		font-weight: bold;
		color: #3597e3;
	}
}
/* /block */

/* editor-tasks */
.editor-tasks {
	padding-bottom: 15px;

	&_ul {}
	&_li {margin: 10px 0;}
	&_hold {
		.inline-block();
		padding-right: 10px;
		position: relative;
	}
	&_hold__done:after {
		content:'';
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: url(/images/seo2/task-list_hold__done.png);
	}
	&_ico {
		.inline-block();
		vertical-align: middle;
		width: 15px;
		height: 17px;
		margin: 0 10px 0 0;
		background: url(/images/seo2/task-list_ico.png) no-repeat;
	}
	&_ico__like {background-position: 0 0;}
	&_ico__comment {background-position: 0 -15px;}

	&_a {
		.inline-block();
		font-weight: bold;
		color: #1b80c7;
		vertical-align: middle;
	}
	&_new {
		.inline-block();
		margin: 0 5px;
		padding: 0 5px;
		background: #fb4815;
		color: #fff;
		font-size: 11px;
		line-height: 14px;
		border-radius: 3px;
	}

}
/* /editor-tasks */

/* task-list */
.task-list {

	.keyword {font-size: 10px;}

	&_li {
		margin: 20px 0;
	}
	&_take-hint {
		.inline-block();
		margin: 0;
		padding: 15px 5px 5px 30px;
		background: url(/images/seo2/task-list_take-hint.png) no-repeat;
		text-decoration: none;
	}
	&_take-hint:hover &_take-hint-tx {border-bottom: none;}
	&_take-hint-tx {
		color: #0a9d0a;
		text-decoration: none;
		border-bottom: 1px dashed #fe1919;
	}
	&_skip {
		.inline-block();
		vertical-align: middle;
		margin: 0 10px;
		text-decoration: none;
		border-bottom: 1px dashed #8d8d8d;
		color: #8d8d8d;
		line-height: 13px;
	}
	&_skip:hover {border-bottom: none;margin-bottom:1px;}
}
/* /task-list */
/* task-list-add */
.task-list-add {
	position: relative;

	.keyword {
		font-size: 14px;
		max-width: 325px;
		padding: 2px 9px 4px;
		margin-left: 0;
		.box-shadow(0 0 6px rgba(0,0,0,0.3));
	}
	.keyword_cat {font-size: 12px;}
	.keyword_key {max-width: 225px;}

	&_hold {
		.inline-block();
		vertical-align: middle;
		width: 380px;
	}
	&_refresh {
		.inline-block();
		vertical-align: middle;
		width: 18px;
		height: 15px;
		background: url(/images/seo2/task-list-add_refresh.png) no-repeat;
	}
	&_input {
		.inline-block();
		vertical-align: middle;
	}
	&_itx {
		.inline-block();
		vertical-align: middle;
		width: 300px;
		margin: 0 8px 0 0;
	}
}
/* /task-list-add */


/* keyword */
.keyword {
	position: relative;
	.inline-block();
	vertical-align: middle;
	margin: 0 10px;
	padding: 2px 9px;
	color: #1f1e1e;
	background: #fff;
	border-radius: 5px;
	.box-shadow(0 0 2px rgba(0,0,0,0.3));
	&__small {
		padding: 1px 6px;
		color: #726f6f;
	}
	&__small &_cat {padding-bottom: 1px;}
	&__high &_cat   {background: #2eb1fd;}
	&__middle &_cat {background: #dd51bd;}
	&__low &_cat    {background: #8fbf18;}
	&__micro &_cat  {background: #f97838;}
	&_hold {
		.inline-block();
		vertical-align: middle;
	}
	&_count {
		.inline-block();
		vertical-align: middle;
		margin: 0 10px;
		color: #989898;
	}
	&_cat {
		.inline-block();
		vertical-align: middle;
		font-weight: bold;
		color: #fff;
		padding: 0 3px;
		margin: 1px 0 0;
		border-radius: 3px;
	}
	&_key {
		.inline-block();
		vertical-align: middle;
	}
	&_close {
		position: absolute;
		right: -6px;
		top: -6px;
		width: 12px;
		height: 12px;
		background: url(/images/seo2/ico/close.png) no-repeat;
	}
	&_close:hover {background-position: 0 -12px;}
}
/* /keyword */

/* month-list */
.month-list {
	margin: 20px 0 40px;
	text-align: center;

	&_li {
		.inline-block();
		margin: 0;
	}
	&_li.active &_i{
		background: #ffffab;
		color: #1b1c1d;
		border-bottom: 1px solid #ebebe0;
	}
	&_i {
		display: block;
		padding: 8px 17px;
		background: #f5f5f5;
		color: #a0a0a0;
		text-decoration: none;
	}
	&_i:hover {background: #ececec;}
}
/* /month-list */

/* external-link-add */
.external-link-add {
	padding: 20px 0 40px;
	text-align: center;

	&_itx {
		.inline-block();
		vertical-align: middle;
		width: 280px;
		margin: 0 10px;
	}
	&_ico {
		.inline-block();
		vertical-align: middle;
		margin: 5px;
		width: 36px;
		height: 15px;
		background: url(/images/seo2/external-link-add_ico.png) no-repeat;
	}
}
/* /external-link-add */

/* external-link */
.external-link {
	margin: 0 0 30px;
	border-spacing:0;
	border: 0;
	width: 100%;

	&_odd > td {background: #f6f6f6;}
	&_td-date {
		width: 120px;
		vertical-align: middle;
		padding: 10px 0;
		text-align: center;
	}
	&_td-outer {
		width: 300px;
		max-width: 300px;
		vertical-align: middle;
		padding: 10px 5px;
	}
	&_td-count {
		width: 105px;
		vertical-align: middle;
		text-align: center;
		padding: 10px 0;
	}
	&_td-inner {
		width: 300px;
		max-width: 300px;
		vertical-align: middle;
		padding: 10px 20px 10px 5px;
	}
	&_date {
		margin: 0 auto;
	}
	&_outer {
		color: #8c59bb;
	}
	&_count {
		font-size: 23px;
		color: #2d2d2d;
	}
}
/* /external-link */

/* report-icons */
.report-icons {
	text-align: center;
	margin:0 -20px 40px;

	&_i {
		.inline-block();
		margin: 0 28px;
	}
	&_img {
		.inline-block();
		vertical-align: middle;
		margin-right: 10px;
	}
	&_hold {
		.inline-block();
		vertical-align: middle;
		text-align: center;
		margin-top: 6px;
	}
	&_tx {
		font-size: 13px;
		color: #504e4e;
	}
	&_count {
		font-size: 24px;
		line-height: 26px;
		font-weight: bold;
		color: #3597e3;
	}
	&_percent {
		font-weight: normal;
		font-size: 24px;
		color: #a0a0a0;
	}
	&_newcomer {
		display: block;
		margin: 0 0 0 30px;
		padding: 15px 10px 0 60px;
		background: url(/images/seo2/ico/friend.png) no-repeat 0 5px;
		font-size: 24px;
		text-align: left;
		color: #242424;
	}
}
/* /report-icons */

/* report */
.report {
	margin: 0 0 40px;

	&_table {
		border-spacing:0;
		border: 0;
		width: 100%;
	}
	&_odd > td {background: #f6f6f6;}
	&_td-date {
		width: 130px;
		vertical-align: middle;
		padding: 10px 0;
		text-align: center;
	}
	&_td-count {
		width: 140px;
		vertical-align: middle;
		padding: 10px 0;
	}
	&_td-status {
		width: 120px;
		vertical-align: middle;
		padding: 10px 40px 10px 0;
		text-align: center;
	}

	&_date {
		.inline-block();
		width: 105px;
		margin: 0 auto;
		padding: 3px 0;
		text-align: center;
		font-size: 11px;
		line-height: 15px;
		color: #878787;
		background: #ffffab;
	}
	&_count-ico {
		.inline-block();
		vertical-align: middle;
		margin-right: 8px;
	}
	&_count {
		.inline-block();
		vertical-align: middle;
		font-size: 23px;
		color: #4c4e4c;
	}
	&_status {
		.inline-block();
		vertical-align: middle;
		font-size: 17px;
		font-weight: normal;
		color: #4c4e4c;
	}
}
/* /report */

/* report-legend */
.report-legend {
	padding:40px 0 10px;
	text-align: center;

	&_i {
		.inline-block();
		margin: 0 20px;
		color: #666;
	}
	&_img {
		.inline-block();
		vertical-align: middle;
		margin: 0 5px 5px;
	}
}
/* /report-legend */

/* visits-row */
.visits-row {
	margin: 0 0 40px 20px;

	&_t {
		font-size: 25px;
	}
	&_count {
		.inline-block();
		margin: 0 10px;
		font-weight: bold;
		color: #3597e3;
	}
}
/* /visits-row */

/* visits-filter */
.visits-filter {
	float: right;

	&_i {
		float: left;
		margin-left: 3px;
		padding: 7px 22px;
		background: #f5f5f5;
		color: #a0a0a0;
		text-decoration: none;
	}
	&_i:hover {background: #ececec;}
	&_i.active {
		background: #674389;
		color: #fff;
	}
}
/* /visits-filter */

/* visits-table */
.visits-table {
	border-spacing:0;
	border: 0;
	width: 100%;
	margin: 0 0 40px;
	
	&_odd > td {background: #f6f6f6;}
	&_td-date {
		width: 140px;
		vertical-align: middle;
		padding: 10px 0;
		text-align: center;
	}
	&_td-count {
		text-align: right;
		vertical-align: middle;
		padding: 10px 30px;
	}
	&_td-link {
		vertical-align: middle;
		padding: 10px 150px 10px 20px;
	}
	&_count {
		color: #4c4e4c;
		font-size: 23px;
	}
	&_count__blue {
		font-weight: bold;
		color: #3597e3;
	}
}
/* /visits-table */
.newcomers {
	margin: 0 -15px;
	.user-info_details {
		width: 94px;
	}
	.user-info_username {
		width: 90px;
		display: block;
	}

	&_i {
		.inline-block();
		vertical-align: top;
		width: 230px;
		margin: 0 20px 25px;
		padding: 15px 10px;
		border: 1px solid #ededed;
		.border-radius(5px);
	}
	&_add-friend {
		.inline-block();
		vertical-align: middle;
		padding: 45px 5px 5px 0;
		background: url(/images/seo2/ico/add-friend.png) no-repeat 0 2px;
		color: #555454;
		text-decoration: none;
	}
}