include ../../../block/config
extend ../../../extend/layout_base
block vars
    - var bodyClass = 'body__bg1 body__lite';
    - global.cssFile = 'services.css'; 

block layout

    // b-main 
    .b-main.clearfix

        .b-main_cont
            .b-crumbs.b-crumbs__s
                .b-crumbs_tx Я здесь:
                ul.b-crumbs_ul
                    li.b-crumbs_li
                        a.b-crumbs_a(href="") Главная 
                    li.b-crumbs_li.b-crumbs_li__last
                        span.b-crumbs_last Маршруты
        // Маршруты
        .map-route

            .b-main_cont
                .b-main_col-hold.clearfix
                    .heading-h1-hold
                        h1.heading-link-xxl Маршруты из городов на букву «П»

            .b-main_cont
                // Алфавит
                .map-route-abc
                    ul.map-route-abc_ul
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") А
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") Б
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") В
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") Г
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") Д
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") Е
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") Ё
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") Ж
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") З
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") И
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") Й
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") Е
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") К
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") Л
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") М
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") Н
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") О
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") П
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") Р
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") С
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") Т
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") У
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") Ф
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") Х
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") Ц
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") Ч
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") Ш
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") Щ
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") Ы
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") Э
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") Ю
                        li.map-route-abc_li 
                            a.map-route-abc_a(href="") Я
                // Алфавит

                // Список городов
                .map-route-list
                    ul.map-route-list_ul
                        // Количество элементов на странице нужно уточнить программисту
                        li.map-route-list_li
                            a.map-route-list_a
                                .map-route-list_city Павелец
                                .map-route-list_region Ярославская область 
                        li.map-route-list_li
                            a.map-route-list_a
                                .map-route-list_city Павлово
                                .map-route-list_region Ярославская область 
                        li.map-route-list_li
                            a.map-route-list_a
                                .map-route-list_city Павловск
                                .map-route-list_region Ярославская область 
                        li.map-route-list_li
                            a.map-route-list_a
                                .map-route-list_city Павловский Посад
                                .map-route-list_region Ярославская область 
                        li.map-route-list_li
                            a.map-route-list_a
                                .map-route-list_city Павловское
                                .map-route-list_region Ярославская область 
                        li.map-route-list_li
                            a.map-route-list_a
                                .map-route-list_city Павлоградка
                                .map-route-list_region Ярославская область 
                        li.map-route-list_li
                            a.map-route-list_a
                                .map-route-list_city Падун
                                .map-route-list_region Ярославская область 
                        li.map-route-list_li
                            a.map-route-list_a
                                .map-route-list_city Палана
                                .map-route-list_region Ярославская область 
                        li.map-route-list_li
                            a.map-route-list_a
                                .map-route-list_city Палатка
                                .map-route-list_region Ярославская область 
                        li.map-route-list_li
                            a.map-route-list_a
                                .map-route-list_city Пангоды
                                .map-route-list_region Ярославская область 
                        li.map-route-list_li
                            a.map-route-list_a
                                .map-route-list_city Парабель
                                .map-route-list_region Ярославская область 
                        li.map-route-list_li
                            a.map-route-list_a
                                .map-route-list_city Партизанск
                                .map-route-list_region Ярославская область 
                        li.map-route-list_li
                            a.map-route-list_a
                                .map-route-list_city Поспелиха
                                .map-route-list_region Чукотский автономный округ
                        li.map-route-list_li
                            a.map-route-list_a
                                .map-route-list_city Посьет
                                .map-route-list_region Ярославская область 
                        li.map-route-list_li
                            a.map-route-list_a
                                .map-route-list_city Пошехонье-Володарск
                                .map-route-list_region Ярославская область 
                        li.map-route-list_li
                            a.map-route-list_a
                                .map-route-list_city Поярково
                                .map-route-list_region Ярославская область 
                        li.map-route-list_li
                            a.map-route-list_a
                                .map-route-list_city Преображение
                                .map-route-list_region Ярославская область 
                        li.map-route-list_li
                            a.map-route-list_a
                                .map-route-list_city Приаргунск
                                .map-route-list_region Ярославская область 
                        li.map-route-list_li
                            a.map-route-list_a
                                .map-route-list_city Приволжск
                                .map-route-list_region Ярославская область 
                        li.map-route-list_li
                            a.map-route-list_a
                                .map-route-list_city Приморско-Ахтарск
                                .map-route-list_region Ярославская область 
                        li.map-route-list_li
                            a.map-route-list_a
                                .map-route-list_city Пролив Санникова
                                .map-route-list_region Ярославская область 
                        li.map-route-list_li
                            a.map-route-list_a
                                .map-route-list_city Промышленная
                                .map-route-list_region Ярославская область 
                        li.map-route-list_li
                            a.map-route-list_a
                                .map-route-list_city Прохладная
                                .map-route-list_region Ярославская область 
                        li.map-route-list_li
                            a.map-route-list_a
                                .map-route-list_city Прохоркино
                                .map-route-list_region Ярославская область 
                // Список городов
                        
                +paginationAll()
        // /Маршруты

    // b-main 
    +layout-footer-lite()

