include ../../../block/config
extend ../../../extend/layout_base
block vars
    - var bodyClass = 'body__lite';
    - global.cssFile = 'member.css'; 
 
block layout
 
    .b-main
        .b-main_cont
            .b-crumbs.b-crumbs__m
                .b-crumbs_tx Я здесь:
                ul.b-crumbs_ul
                    li.b-crumbs_li
                        a.b-crumbs_a(href="#") Главная
                    li.b-crumbs_li.b-crumbs_li__last
                        +ava('ava__small', ava.a)

        +userSection('', userSection.base)
    
        .b-main_cont.b-main_cont__broad

            .b-main_col-hold.clearfix
                ///////     
                // Основная колонка
                .b-main_col-article

                    .heading-sm Моя активность
                    +bArticleListItem('', bArticleListItem.a)

                    +bArticleListItem('', bArticleListItem.b) 


                ///////
                // Сайд бар  
                aside.b-main_col-sidebar.visible-md
                    // +widgetUserPhoto('', subscribersWidget.a)
                    .widgetUserPhoto
                        .heading-sm
                            a.heading-sm_a-r(href='#') Все фото 828
                            | Мои фото
                            //- продожение

                    .widget-friend
                        .heading-sm 
                            a.heading-sm_a-r(href='#') Все друзья 3
                            | Мои друзья

                        ul.ava-list
                            li.ava-list_li
                                +ava('ava__middle', ava.a)
                            li.ava-list_li
                                +ava('ava__middle', ava.b)
                            li.ava-list_li
                                +ava('ava__middle', ava.c)
                            li.ava-list_li
                                +ava('ava__middle', ava.b)
                            li.ava-list_li
                                +ava('ava__middle', ava.a)
                            li.ava-list_li
                                +ava('ava__middle', ava.b)
                            li.ava-list_li
                                +ava('ava__middle', ava.a)

                    .widget-club
                        .heading-sm Мои клубы
                        ul.widget-club_ul.clearfix
                            li.widget-club_li
                                a.i-club.i-club__list-s.i-club__collection-3(href='#')
                                    .ico-club.ico-club__7
                            li.widget-club_li
                                a.i-club.i-club__list-s.i-club__collection-6(href='#')
                                    .ico-club.ico-club__20
                            li.widget-club_li
                                a.i-club.i-club__list-s.i-club__collection-2(href='#')
                                    .ico-club.ico-club__5
                            li.widget-club_li
                                a.i-club.i-club__list-s.i-club__collection-1(href='#')
                                    .ico-club.ico-club__15


        +layout-footer-lite()



