include ../../../block/config
extend ../../../extend/layout_base_user
block vars
    - var bodyClass = 'body__lite';
    - global.cssFile = 'member-user.css'; 
 
block layout

    .b-main
        .b-main_cont.b-main_cont__broad
            .b-crumbs.b-crumbs__s
                .b-crumbs_tx Я здесь:
                ul.b-crumbs_ul
                    li.b-crumbs_li
                        a.b-crumbs_a(href="#") Мой жираф
                    li.b-crumbs_li.b-crumbs_li__last
                        +ava('ava__small ava__female', ava.empty)

        .b-main_cont.b-main_cont__broad

            .b-main_col-hold.clearfix
                ///////     
                // Основная колонка  
                .b-main_col-article

                    .margin-20
                        h2 Загрузка аватара
                        br 
                        a.popup-a.popup-a__add(href="#ava-load-first") Первая загрузка аватара
                        br
                        br
                        a.popup-a.popup-a__add(href="#ava-load") аватара загурзка
                        br
                        br
                        a.popup-a.popup-a__add(href="#ava-error") аватара ошбка загурзки
                        br
                        br
                        a.popup-a.popup-a__add(href="#ava-edit") Настройка аватара
                        br
                        br

        +layout-footer-lite()



block block-hidden 
    // .popup-add
    // Первая загрузка аватара 
    #ava-load-first.popup.popup-add.popup-add__photos
        button(title="Закрыть (Esc)", type="button", class="mfp-close") ×
        .popup-add_hold
            .popup-add_top.clearfix.textalign-c
                .popup-add_t Добавить главное фото
            .popup-add_in               
                
                .popup-add_frame
                    .popup-add_cap
                        // Размер файла, необходимо указать программисту
                        +cap-empty("cap-empty__addPhoto", capEmpty.addPhoto)
                        
    // /popup-add 

    // .popup-add
    // Первая загрузка аватара 
    #ava-load.popup.popup-add.popup-add__photos
        button(title="Закрыть (Esc)", type="button", class="mfp-close") ×
        .popup-add_hold
            .popup-add_top.clearfix.textalign-c
                .popup-add_t Добавить главное фото
            .popup-add_in               
                
                .popup-add_frame
                    .popup-add_ava-upload

                        +bLoader('b-loader__abs', bLoader.photoWindow) 

                        // прелоадер
                        .popup-add_ava-load
                            .file-fake
                                input.file-fake_inp(type="file")
                                a.file-fake_btn.btn.btn-primary.btn-s(href="#") 
                                    | Изменить 

                .popup-add_footer
                    .textalign-c
                        a.btn.btn-secondary.margin-r10(href="#", onclick="$.magnificPopup.close();") Отмена
                        a.btn.btn-success(href="#") Добавить
                        
    // /popup-add 

    // .popup-add
    // Первая загрузка аватара 
    #ava-error.popup.popup-add.popup-add__photos
        button(title="Закрыть (Esc)", type="button", class="mfp-close") ×
        .popup-add_hold
            .popup-add_top.clearfix.textalign-c
                .popup-add_t Добавить главное фото
            .popup-add_in               
                
                .popup-add_frame
                    .popup-add_ava-upload

                        //-+bLoader('b-loader__abs', bLoader.photoWindow) 
                        +iPhoto('i-photo__abs i-photo__error', iPhoto.error)

                        // прелоадер
                        .popup-add_ava-load
                            .file-fake
                                input.file-fake_inp(type="file")
                                a.file-fake_btn.btn.btn-primary.btn-s(href="#") 
                                    | Изменить 

                .popup-add_footer
                    .textalign-c
                        a.btn.btn-secondary.margin-r10(href="#", onclick="$.magnificPopup.close();") Отмена
                        a.btn.btn-success(href="#") Добавить
                        
    // /popup-add 

    // .popup-add
    // Первая загрузка аватара 
    #ava-edit.popup.popup-add.popup-add__photos
        button(title="Закрыть (Esc)", type="button", class="mfp-close") ×
        .popup-add_hold
            .popup-add_top.clearfix.textalign-c
                .popup-add_t Добавить главное фото
            .popup-add_in               
                
                .popup-add_frame
                    .popup-add_ava-upload

                        +bLoader('b-loader__abs', bLoader.photoWindow) 

                        // Блок обрезки аватара
                        .popup-add_ava-crop.display-n
                            img#jcrop_target(src="http://placecreature.com/dog/1450/950")
                            script(src='/lite/javascript/jquery.Jcrop.min.js')
                            script.
                                jQuery(function($){
                                    var api;
                                    $('#jcrop_target').Jcrop({
                                      // start off with jcrop-light class
                                      bgOpacity: 0.3,
                                      bgColor: '#fff',
                                      aspectRatio: 1,
                                      boxWidth: 450,
                                      addClass: 'jcrop-circle'
                                    },function(){
                                      api = this;
                                      api.setSelect([50,50,400,400]);
                                      api.setOptions({ bgFade: true });
                                      api.ui.selection.addClass('jcrop-selection');
                                    });
                                });
                        // прелоадер
                        .popup-add_ava-load
                            .file-fake
                                input.file-fake_inp(type="file")
                                a.file-fake_btn.btn.btn-primary.btn-s(href="#") 
                                    | Изменить 

                .popup-add_footer
                    .textalign-c
                        a.btn.btn-secondary.margin-r10(href="#", onclick="$.magnificPopup.close();") Отмена
                        a.btn.btn-success(href="#") Добавить
                        
    // /popup-add 

