
#disease > .title {height:98px;background:url(/images/bg_disease_title.jpg) no-repeat right bottom;border:1px solid #ead8f9;padding:25px 50px 25px 175px;margin-bottom:20px;}
#disease > .title h2 {font-size:48px;font-weight:normal;line-height:1;color:#232223;}
#disease > .title h2 span {display:block;font-size:40px;color:#424242;}

#disease .disease-in {width:700px;float:left;margin-left:260px;padding-top:25px;}

#disease .disease-img {float:right;margin:0 0 15px 50px;}
#disease .disease-img img {display:block;}

#disease .disease-abc {padding:20px;background:#fff8fe;margin-top:30px;margin-bottom:30px;}
#disease .disease-abc .block-title {font-weight:bold;color:#484848;font-size:14px;}
#disease .disease-abc > ul {list-style:none;}
#disease .disease-abc > ul > li {float:left;width:30%;padding-right:3%;}
#disease .disease-abc > ul > li .letter {display:inline-block;*zoom:1;*display:inline;background:#6bc545;width:25px;height:25px;line-height:25px;text-align:center;color:#fff;font-size:16px;font-weight:bold;}
#disease .disease-abc > ul > li ul {list-style:none;margin:20px 0 20px;}
#disease .disease-abc > ul > li ul li {padding:5px 0;}
#disease .disease-abc > ul > li ul li a {display:block;line-height:1.2;}
#disease .disease-abc .disease-cat {color:#585758;text-decoration:none;font-size:11px;cursor:default;}
#disease .disease-abc .disease-cat .icon-disease-cat {display:inline-block;*zoom:1;*display:inline;vertical-align:middle;}
#disease .disease-abc .disease-cat span {text-decoration:none;width:60%;vertical-align:middle;display:inline-block;*zoom:1;*display:inline;margin-left:10px;}

#disease .fast-nav {color:#029AD2;text-align:center;clear:both;margin:20px 0 30px;}
#disease .fast-nav a {text-decoration:none;border-bottom:1px dashed #029AD2;}
#disease .fast-nav a:hover {border:0;}
#disease .fast-nav a.active {padding:0 5px;background:#fefad2;border:0;}

#disease .disease-categories {float:left;margin-left:-100%;width:220px;}
#disease .disease-categories ul {border-right:1px solid #ead8f9;padding:10px 0;list-style:none;}
#disease .disease-categories ul li {padding:20px 40px;display:block;text-align:center;margin-right:-1px;}
#disease .disease-categories ul li.active {border:1px solid #ead8f9;border-right-color:#fff;-moz-border-radius:10px 0 0 8px;-webkit-border-radius:10px 0 0 8px;border-radius:10px 0 0 8px;behavior: url(/stylesheets/PIE.htc);}

.disease-cat {display:block;text-decoration:none;font-size:11px;font-family:tahoma, arial, helvetica, sans-serif;}
.disease-cat span {text-decoration:underline;display:block;line-height:1.2;}
.disease-cat:hover span {text-decoration:none;}

.disease-cat .icon-disease-cat {
    display:inline-block;*zoom:1;*display:inline;
    margin:0 auto 2px;
    background-image:url(/images/disease_sprite.png);
}
.disease-cat .icon-disease-0 {width:28px;height:35px;background-position:0 0px;}
.disease-cat.active .icon-disease-0,
.disease-cat:hover  .icon-disease-0 {background-position:-70px 0px;}

.disease-cat .icon-disease-5 {width:30px;height:30px;background-position:0 -36px;}
.disease-cat.active .icon-disease-5,
.disease-cat:hover  .icon-disease-5 {background-position:-70px -36px;}

.disease-cat .icon-disease-7 {width:32px;height:33px;background-position:0 -66px;}
.disease-cat.active .icon-disease-7,
.disease-cat:hover  .icon-disease-7 {background-position:-70px -66px;}

.disease-cat .icon-disease-10 {width:31px;height:23px;background-position:0 -99px;}
.disease-cat.active .icon-disease-10,
.disease-cat:hover  .icon-disease-10 {background-position:-70px -99px;}

.disease-cat .icon-disease-13 {width:30px;height:35px;background-position:0 -122px;}
.disease-cat.active .icon-disease-13,
.disease-cat:hover  .icon-disease-13 {background-position:-70px -122px;}

.disease-cat .icon-disease-18 {width:27px;height:35px;background-position:0 -157px;}
.disease-cat.active .icon-disease-18,
.disease-cat:hover  .icon-disease-18 {background-position:-70px -157px;}

.disease-cat .icon-disease-3 {width:37px;height:28px;background-position:0 -192px;}
.disease-cat.active .icon-disease-3,
.disease-cat:hover  .icon-disease-3 {background-position:-70px -192px;}

.disease-cat .icon-disease-17 {width:30px;height:31px;background-position:0 -220px;}
.disease-cat.active .icon-disease-17,
.disease-cat:hover  .icon-disease-17 {background-position:-70px -220px;}

.disease-cat .icon-disease-11 {width:39px;height:21px;background-position:0 -251px;}
.disease-cat.active .icon-disease-11,
.disease-cat:hover  .icon-disease-11 {background-position:-70px -251px;}

.disease-cat .icon-disease-16 {width:37px;height:27px;background-position:0 -272px;}
.disease-cat.active .icon-disease-16,
.disease-cat:hover  .icon-disease-16 {background-position:-70px -272px;}

.disease-cat .icon-disease-14 {width:37px;height:29px;background-position:0 -299px;}
.disease-cat.active .icon-disease-14,
.disease-cat:hover  .icon-disease-14 {background-position:-70px -299px;}

.disease-cat .icon-disease-8 {width:31px;height:30px;background-position:0 -328px;}
.disease-cat.active .icon-disease-8,
.disease-cat:hover  .icon-disease-8 {background-position:-70px -328px;}

.disease-cat .icon-disease-6 {width:40px;height:27px;background-position:0 -358px;}
.disease-cat.active .icon-disease-6,
.disease-cat:hover  .icon-disease-6 {background-position:-70px -358px;}

.disease-cat .icon-disease-1 {width:23px;height:32px;background-position:0 -385px;}
.disease-cat.active .icon-disease-1,
.disease-cat:hover  .icon-disease-1 {background-position:-70px -385px;}

.disease-cat .icon-disease-2 {width:32px;height:34px;background-position:0 -417px;}
.disease-cat.active .icon-disease-2,
.disease-cat:hover  .icon-disease-2 {background-position:-70px -417px;}

.disease-cat .icon-disease-12 {width:29px;height:29px;background-position:0 -451px;}
.disease-cat.active .icon-disease-12,
.disease-cat:hover  .icon-disease-12 {background-position:-70px -451px;}

.disease-cat .icon-disease-9 {width:36px;height:36px;background-position:0 -480px;}
.disease-cat.active .icon-disease-9,
.disease-cat:hover  .icon-disease-9 {background-position:-70px -480px;}

.disease-cat .icon-disease-15 {width:23px;height:33px;background-position:0 -516px;}
.disease-cat.active .icon-disease-15,
.disease-cat:hover  .icon-disease-15 {background-position:-70px -516px;}

.disease-cat .icon-disease-18 {width:35px;height:31px;background-position:0 -549px;}
.disease-cat.active .icon-disease-18,
.disease-cat:hover  .icon-disease-18 {background-position:-70px -549px;}

.disease-cat .icon-disease-4 {width:35px;height:31px;background-position:0 -549px;}
.disease-cat.active .icon-disease-4,
.disease-cat:hover  .icon-disease-4 {background-position:-70px -549px;}
