/*===== Hair Section =====*/
#hair_type_bl.test .step {
    display: block;
    height: 515px;
    position: relative;
}
#hair_type_bl.test .step-in {
    width:698px;
    height:515px;
    left:0;top:0;
}
#hair_type_bl.test .step-in .question {
    position: absolute;
    left: 30px;
    padding: 0 10px 20px 20px;
    top: 80px;
    display: block;
    width: 350px;
    background: url(../images/wh_trans.png) 0 0 repeat;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 0 3px 1px #a1a1a1;
    -moz-box-shadow: 0 0 3px 1px #a1a1a1;
    -webkit-box-shadow: 0 0 3px 1px #a1a1a1;
}
#hair_type_bl.test .step .question .q-title {
    padding: 20px 0;
    font: 20px/25px tahoma, sans-serif;
    color: #1c1b1c;
    display: block;
    text-align: center;
}
#hair_type_bl.test .step .question .q-options label {font-size:15px;}
#hair_type_bl.test .step .btn button {
    position: absolute;
    right: 40px;
    bottom: 40px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 300px;
    background: url(../images/bg_yellow_sup.png) 0 0 repeat-x;
    font: 40px/75px tahoma, sans-serif;
    color: #965b08;
    border: 1px solid #f2d826;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#hair_type_bl.test .step .result {
    height: 420px;
    padding: 35px 15px 0 30px;
    position: absolute;
    right: 13px;
    bottom: 30px;
    display: block;
    width: 380px;
    background: url(../images/wh_trans.png) 0 0 repeat;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 0 3px 1px #a1a1a1;
    -moz-box-shadow: 0 0 3px 1px #a1a1a1;
    -webkit-box-shadow: 0 0 3px 1px #a1a1a1;
}
#hair_type_bl.test .step .result .r-title {
    display: block;
    font: 25px/25px tahoma, sans-serif;
    color: #272526;
    padding: 0 0 15px 0;
}
#hair_type_bl.test .step .reult .r-text {
    font: 16px/16px tahoma, sans-serif;
    color: #5e307d;
    padding: 0 0 15px 0;
}
#hair_type_bl.test .step .result .r-text ins {
    font: bold 16px/16px tahoma, sans-serif;
    color: #e56a78;
}
#hair_type_bl .result span.your_rec {
    display: block;
    font: bold 20px/20px arial, sans-serif;
    color: #dd72b9;
    padding: 0 0 15px 0;
}
#hair_type_bl .result-div .btn {display: none;}
#hair_type_bl .result span.rs_title {
    display: block;
    font: 25px/25px tahoma, sans-serif;
    color: #272526;
    padding: 0 0 15px 0;
}
#hair_type_bl .result div.your_res {
    display: block;
    font: 16px/16px tahoma, sans-serif;
    color: #5e307d;
    padding: 0 0 15px 0;
}
#hair_type_bl .result div.your_res ins {
    font: bold 16px/16px tahoma, sans-serif;
    color: #e56a78;
}