/* names version 1 */
#baby .right_block {
    padding: 0;
    background: none;
}
#baby .choice_name {
    background: url("/images/services/names/choice_name.jpg") no-repeat left top;
    height: 287px;
}
#baby .choice_name div.title-in {
    font:normal 50px/1em Tahoma, Arial, Verdana, sans-serif;
    color:#505152;
    position:relative;
    left:54px;
    top:27px;
    background:none;
}
#baby .choice_name div.title-in span {}
#baby ul.choice_name_navi {
    position: absolute;
    bottom: 0;
    margin: 0 0 0 204px;
    padding: 0;
}
#baby ul.choice_name_navi li {
    list-style: none;
    float: left;
    height: 60px;
    background: url("../images/name_navi_left.png") no-repeat left top;
    padding: 0 0 0 14px;
    margin: 0 3px 0 0;
}
#baby ul.choice_name_navi li a{
    font-size: 18px;
    height: 19px;
    padding: 21px 9px 20px 9px;
    display: block;
    float: left;
    color: #fff;
    text-decoration: none;
    background: url("../images/name_navi_bg.png") repeat left top;
}
#baby ul.choice_name_navi li a ins{
    text-decoration: none;
}
#baby ul.choice_name_navi li a:hover ins{
    border-bottom: none;
}
#baby ul.choice_name_navi li span{
    display: block;
    float: left;
    background: url("../images/name_navi_right.png") no-repeat left top;
    width: 14px;
    height: 60px;
}
#baby ul.choice_name_navi li.active, 
#baby ul.choice_name_navi li.like.active {
    background: url("../images/name_navi_active_left.png") no-repeat left top;
    padding: 0 0 0 18px;
}
#baby ul.choice_name_navi li.active a, 
#baby ul.choice_name_navi li.like.active a{
    color: #724c99;
    background: #fff;
    border-bottom: none;
    padding: 21px 5px 20px 5px;
}
#baby ul.choice_name_navi li.active span, 
#baby ul.choice_name_navi li.like.active span{
    background: url("../images/name_navi_active_right.png") no-repeat left top;
    width: 18px;
}
#baby ul.choice_name_navi li.like {
    background: url("../images/name_navi_like_left.png") no-repeat left top;
}
#baby ul.choice_name_navi li.like a{
    background: url("../images/name_navi_like_bg.png") repeat left top;
}
#baby ul.choice_name_navi li.like span{
    background: url("../images/name_navi_like_right.png") no-repeat left top;
}

#baby ul.letters {
    margin: 24px 0 0 0;
    padding: 12px 11px 12px 70px;
    background: #fefceb;
}
#baby ul.letters li {
    display: inline;
    list-style: none;
    font-size: 14px;
    padding: 2px 9px 2px 8px;
    margin: 0;
}
#baby ul.letters.month {padding: 12px 0 12px 70px;}
#baby ul.letters.month li {padding: 2px 10px 2px 12px;}
#baby ul.letters li.active {
    font-size: 20px;
    font-weight: bold;
    color: #ee309b;
    background: #fdf496;
}
#baby ul.letters li.active a {color: #ee309b;}
#baby ul.letters li a {
    color: #272527;
    text-decoration: none;
}
#baby ul.letters li a:hover {text-decoration: underline;}

#baby .content_block {padding: 29px 0px 0 60px;}
#baby .content_block .view_name {float: right;}
#baby .content_block .view_name a {
    float: left;
    display: block;
    zoom: 1;
    height: 21px;
    text-align: center;
    padding: 40px 6px 0 6px;
    margin: 0 7px 0 2px;
    font-size: 11px;
}
#baby .content_block .view_name p {
    float: left;
    font-size: 13px;
    color: #b6b6b6;
    margin: 41px 23px 0 0;
}
#baby .content_block .view_name a.active { background-color: #fdf5a2;}
#baby .content_block .view_name a.all_names {
    background-image: url("../images/all_names.png");
    background-repeat: no-repeat;
    background-position: center 11px;
}
#baby .content_block .view_name a.boy_names {
    background-image: url("../images/boy_names.png");
    background-repeat: no-repeat;
    background-position: center 11px;
}
#baby .content_block .view_name a.girl_names {
    background-image: url("../images/girl_names.png");
    background-repeat: no-repeat;
    background-position: center 13px;
    color: #ffaed2;
}
#baby .content_block .names_header {
    font-size: 25px;
    line-height: 35px;
    font-weight: bold;
    color: #3088b1;
    padding: 22px 0 0 0;
}
#baby .content_block .names_header.like {
    background: url("../images/heart_like_big.png") no-repeat right top;
    display:inline-block;*zoom:1;*display:inline;
    padding: 36px 74px 0 0;
}
#baby .content_block .names_header span {
    font-size: 45px;
    color: #fd4195;
    padding: 5px 20px;
    margin: 0 0 0 14px;
    position: relative;
    top: -8px;
    background-color: #fdf5a2;
}
#baby .content_block .names_header.calendar span {
    font-size: 25px;
    top: 0;
}

.list_names {margin: 25px 0 50px 0;}
.list_names .name_block {
    margin: 15px 79px 10px 0;
    font-size: 13px;
    float: left;
    width: 240px;
}
.name_block.last {margin: 15px 0 10px 0;}
.name_block a {
    display: block;
    float: left;
    height: 15px;
    padding: 6px 0 4px 0;
    font-size: 15px;
}
.name_block a.heart {
    background: url("../images/name_heart.png") no-repeat;
    width: 37px;
    height: 25px;
    padding: 0;
}
.name_block a.heart.empty_heart {background: url("../images/name_heart_empty.png") no-repeat 50% 0;}

.top_boys .name_block a,
.top_girls .name_block a {
    margin: 8px 0 0 0;
}
.top_boys .name_block p,
.top_girls .name_block p {
    clear: none;
    float: left;
    width: 275px;
}
.top_boys .name_block, 
.top_girls .name_block {
    margin: 0 0 20px 0;
    height: 60px;
}
.name_block p {
    color: #a9a9a9;
    clear: both;
    padding: 4px 0 0 0;
}
.name_block a.girl, 
.top_girls .name_block a { color: #d73a92;}
.name_block a.boy, 
.top_boys .name_block a { color: #2ca3fe;}
.name_block .heart_like {
    background: url("../images/heart_like_small.png") no-repeat right top;
    width: 68px;
    height: 45px;
    padding: 15px 0 0 0;
    margin: 0 12px 0 0;
    font-size: 16px;
    color: #fef6bd;
    text-align: center;
    float: left;
}

.list_names .pagination{ margin: 40px 0 30px 0;}

.name_info {padding: 3px 0 0 20px;}
.name_info p{
    color: #7b7b7b;
    font-size: 13px;
    line-height: 17px;
}
.name_info p span{
    font-weight: bold;
    color: #605f5f;
}

#baby  .name_info h1 {
    display:inline-block;*zoom:1;*display:inline;
    padding: 20px 0 8px 0;
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    color: #fb3da8;
}
#baby  .name_info a.like_name{
    display:inline-block;*zoom:1;*display:inline;
    background: url("../images/name_heart_big.png") no-repeat right top;
    width: 70px;
    height: 48px;
}
#baby  .name_info a.like_name.empty_heart{
    background: url("../images/name_heart_empty_big.png") no-repeat right top;
}

.name_info p.name {
    color: #2e2e2e;
    font-size: 20px;
    line-height: 20px;
    padding: 27px 0 0 0;
}
#baby  .name_info h1.boy { color: #2CA3FE;}
.name_info p.name span.boy { color: #2CA3FE;}
#baby  .name_info h1.girl {color: #fb3da8;}
.name_info p.name span.girl {color: #fb3da8;}
.name_info .plashka{
    background: #fdfcdc;
    padding: 7px 14px 15px 14px;
    margin: 20px 0 22px 0;
}
.name_info .plashka p.variants{
    color: #2e2e2e;
    font-size: 20px;
    line-height: 22px;
    margin: 0 0 5px 0;
}
.name_info .plashka p span{
    font-weight: bold;
    color: #605f5f;
}
.name_info h2 {
    font-size: 20px;
    font-weight: normal;
    color: #2e2e2e;
    margin: 20px 0 10px 0;
}

.name_link {margin: 40px 0 60px 0;}
.name_link a {
    font-size: 13px;
    margin: 0 0 0 22px;
}
.name_info_right {
    border: 1px solid #e7d5f3;
    padding: 20px 0 20px 20px;
    margin: 0;
}
.name_info_right p {
    font-size: 13px;
    line-height: 17px;
    color: #7b7b7b;
}
.name_info_right p.header {
    font-size: 18px;
    line-height: 18px;
    margin: 37px 0 3px 0;
}
.name_info_right.girl p.header {color: #f755af;}
.name_info_right.boy p.header { color: #2CA3FE;}
.name_info_right p.header.like{
    padding: 9px 0 0 0;
    float: left;
}
.name_info_right p.heart_like{
    font-size: 16px;
    line-height: 16px;
    float: left;
    color: #fef6bd;
    background: url("../images/heart_like.png") no-repeat left top;
    width: 105px;
    height: 41px;
    text-align: center;
    padding: 30px 0 0 0;
}
.name_info_right p.header.first {margin: 0 0 3px 0;}
.name_info_right ul.calendar li {
    list-style: none;
    float: left;
    background: url("../images/calendar_name.png") no-repeat left top;
    width: 89px;
    height: 56px;
    font-size: 17px;
    color: #32a5e3;
    text-align: center;
    padding: 28px 0 0 0;
    margin: 4px 3px 3px 0;
}
.name_info_right ul.calendar li span{
    font-size: 20px;
    display: block;
}
.name_info_right a.calendar-link{
    text-decoration: none;
    border-bottom: 1px dotted #32A5E3;
    font-weight: normal !important;
    color: #32A5E3;
    font-size: 12px;
    line-height: 1;
}
#calendar-link2{
    margin-left: 10px;
    padding-top: -5px;
}

.diagram {margin: 35px 0 0 0;}
.diagram_navi { margin: 0 0 40px 0;}
.diagram_navi ul li {
    list-style: none;
    margin: 3px 11px 0 11px;
    float: left;
    padding: 0;
}
.diagram_navi ul {
    text-align: center;
    padding: 4px 0 8px 0;
}
.diagram_navi ul li a{
    font-size: 13px;
    color: #c5c5c5;
    font-weight: normal;
    text-decoration: none;
}
.diagram_navi ul li.right_arrow { float: right;}
.diagram_navi ul li.left_arrow,
.diagram_navi ul li.right_arrow { margin: 0;}
.diagram_navi ul li.left_arrow a{
    background: url("../images/left_arrow_like.png") no-repeat left top;
    display: block;
    float: left;
    width: 22px;
    height: 22px;
    margin: 0 0 0 10px;
}
.diagram_navi ul li.right_arrow a{
    background: url("../images/right_arrow_like.png") no-repeat left top;
    display: block;
    float: right;
    width: 22px;
    height: 22px;
    margin: 0 41px 0 0;
}
.diagram_navi ul li.left_arrow a.active{background: url("../images/left_arrow_like_active.png") no-repeat left top;}
.diagram_navi ul li.right_arrow a.active{background: url("../images/right_arrow_like_active.png") no-repeat left top;}
.diagram_navi p.year{
    clear: both;
    margin: 20px 30px 0 0;
    text-align: center;
    font-size: 18px;
    color: #c9c5c7;
    font-weight: bold;
}
.list_names .calendar {
    background: url("../images/calendar_name.png") no-repeat left top;
    width: 89px;
    height: 56px;
    font-size: 17px;
    color: #32a5e3;
    text-align: center;
    padding: 28px 0 0 0;
    margin: 0;
}
.list_names .calendar span{
    font-weight: bold;
    font-size: 20px;
    display: block;
}
.top_boys {
    margin: 36px 79px 40px 123px;
    float: left;
    width: 360px;
    background: url("../images/top_boys.png") no-repeat 30px top;
    padding: 215px 0 0 0;
}
.top_girls {
    margin: 36px 0 40px 20px;
    float: left;
    width: 360px;
    background: url("../images/top_girls.png") no-repeat 31px 3px;
    padding: 215px 0 0 0;
}
/* /names version 1 */

/* names version 2 */
.aside-search {position: relative;margin-top: 15px;}
.aside-search_text {
    height:34px;
    width: 191px;
    margin: 0 0 10px;
    padding:0 30px 0 17px;
    border: 1px solid #c6aedc;
    line-height:34px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
}
.aside-search_submit {
    position: absolute;
    top: 11px;
    right: 14px;
    height:14px;
    width: 14px;
    background: url(/images/common.png) no-repeat -666px -330px;
    padding: 0;
    cursor: pointer;
}

.aside-menu {
    padding: 4px 15px 8px;
    margin-bottom: 15px;
    background: #f1e7fb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}
.aside-menu_ul {}
.aside-menu_li {
    border-top: 2px dashed #d8bff0;
    padding: 11px 0;
}
.aside-menu_li:first-child {border-top: none;}
.aside-menu_ico-hold {
    display: inline-block;*zoom:1;*display:inline;
    width: 40px;
    margin-right: 4px;
    width: 55px;
    margin:0 2px 0 0;
    vertical-align: middle;
    text-align: center;
}
.aside-menu .ico-name-add {
    display: inline-block;*zoom:1;*display:inline;
    width: 16px;
    height: 17px;
    background: url(/images/ico/ico-name-add.png) no-repeat 50% 50%;
}
.aside-menu .ico-name-favorites {
    display: inline-block;
    width: 27px;
    height: 33px;
    margin-right: 6px;
    background: url(/images/ico/ico-name-favorites.png) no-repeat;
}
.aside-menu_a-hold {
    display: inline-block;
    vertical-align: middle;
    line-height: 13px;
}
.aside-menu_a-hold > .link{text-decoration:underline;}
.aside-menu_a-hold > .link:hover{text-decoration:none;}
.aside-menu_a-hold > .pink{display:block;color:#ff878d;font-size:11px;line-height:15px;text-decoration:none;}

.aside-cat {}
.aside-cat_ul {padding:10px 0 20px;margin:0 0 20px;}
.aside-cat_li {margin-right:-1px;position: relative;}
.aside-cat_li .count {display:inline-block;*zoom:1;*display:inline;color:#949494;position:relative;font-size:10px;line-height: 17px;text-decoration:none;text-align:left;white-space:nowrap;position:relative;}
.aside-cat_li.active {
    background: #ffffd5;
    border:1px solid #e7dcf0;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    behavior:url(/stylesheets/PIE.htc);
    margin-right: 25px;
}
.aside-cat_li:hover .ico-names-cat__1,
.aside-cat_li.active .ico-names-cat__1 {background-position: -55px 0;}
.aside-cat_li:hover .ico-names-cat__2,
.aside-cat_li.active .ico-names-cat__2 {background-position: -55px -25px;}
.aside-cat_li:hover .ico-names-cat__3,
.aside-cat_li.active .ico-names-cat__3 {background-position: -55px -55px;}
.aside-cat_li:hover .ico-names-cat__4,
.aside-cat_li.active .ico-names-cat__4 {background-position: -55px -85px;}
.aside-cat_li:hover .ico-names-cat__5,
.aside-cat_li.active .ico-names-cat__5 {background-position: -55px -120px;}

.aside-cat_li.active .aside-cat_tale {
    position: absolute;
    right: -10px;
    top: -1px;
    bottom: -1px;
    width: 15px;
    height: 102%;
    display: block;
}
.aside-cat_li.active .count {font-size:25px;color: #2e3030;line-height: normal;vertical-align:middle;width:auto;margin-right:0;left:0;}
.aside-cat_tale {display: none;}
.aside-cat_i {display: block;padding:7px 0;text-decoration: none;}
.aside-cat_i:hover .aside-cat_i-tx{text-decoration: none;}
.aside-cat_frame {display:inline-block;*zoom:1;*display:inline;vertical-align:middle;width: 128px;}
.aside-cat_hold{display: inline-block;*zoom:1;*display:inline;vertical-align: middle;width: 55px;text-align: center;margin:0 5px 0 10px;}
.aside-cat_i-tx {
    display: block;
    text-decoration: underline;
}

.ico-names-cat {
    display: inline-block;*zoom:1;*display:inline;
    background: url("/images/names-sprite.png") no-repeat;
    margin: 0 auto 2px;
    width: 55px;
}
.ico-names-cat__1 {height: 25px;background-position: 0 0;}
.ico-names-cat__2 {height: 30px;background-position: 0 -25px;}
.ico-names-cat__3 {height: 30px;background-position: 0 -55px;}
.ico-names-cat__4 {height: 35px;background-position: 0 -85px;}
.ico-names-cat__5 {height: 35px;background-position: 0 -120px;}

.name-info {
    padding: 20px;
    background: #ddeeff;
    margin-bottom: 40px;
}
.name-info_t {
    font-size: 35px;
    font-weight: normal;
    color: #292929;
}
.name-info_state {
    display: inline-block;*zoom:1;*display:inline;
    vertical-align: middle;
    background: url(/images/name-info_state.png) no-repeat;
    padding: 2px 5px 0px 18px;
    margin-left: 25px;
    color: #8b8a8a;
    font-size: 13px;
}
.name-info_variant {
    float: left;
    width: 315px;
}
.name-info_variant .ava.small {
	display: inline-block;*zoom:1;*display:inline;
	float: none;
	vertical-align: middle;
}
.name-info_sub-t {
    font-size: 16px;
    color: #1f1f1f;
    margin-bottom: 5px;
}
.name-info_gentle {
    display: inline-block;*zoom:1;*display:inline;
    padding: 0 3px;
    margin:0 4px 4px;
    background: #fdcee4;
}
.name-info_value {
    padding: 5px 0 40px;
    background: url(/images/name-info_value.png) no-repeat 0 5px;
    text-indent: 50px;
    font-size: 50px;
    line-height: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #a5c3e1;
 }

.i-count {
    float: right;
    width: 300px;
}
.i-count_hold {
    float: left;
    width: 80px;
    margin: 0 10px;
    text-align: center;
    color: #525151;
    font-size: 11px;
    line-height: 12px;
}
.i-count_like-a {
    display: block;
    padding: 95px 0 5px;
    background: url(/images/i-count_like-a.png) no-repeat 50% 10px;
    color: #4aa75d;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.i-count_favorite-a {
    display: block;
    padding: 95px 0 5px;
    background: url(/images/i-count_favorite-a.png) no-repeat 50% 10px;
    color: #fb575e;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.i-count_view-a {
    display: block;
    padding: 95px 0 5px;
    background: url(/images/i-count_view-a.png) no-repeat 50% 30px;
    color: #b4cde7;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.i-count_view-t {color: #b4cde7;}

.name-tag {
    margin-bottom: 40px;
    font-size: 14px;
}
.name-tag_t {
    display: inline-block;*zoom:1;*display:inline;
    margin-right: 25px;
    color: #000;
}
.name-tag_a {
    display: inline-block;*zoom:1;*display:inline;
    font-size: 17px;
    margin: 0 20px 0 0;
    line-height: 28px;
}

.name-day {margin-bottom: 20px;}
.name-day_i {
    display: inline-block;*zoom:1;*display:inline;
    width: 54px;
    height: 40px;
    padding: 18px 17px 15px 0;
    text-align: center;
    background: url(/images/name-day.png) no-repeat;
    color: #3d71a4;
}
.name-day_i-num {font-size: 20px;}
.name-day_other {
    display: inline-block;*zoom:1;*display:inline;
    padding: 22px 0 0;
    color: #8b8a8a;
    text-align: center;
}

.t-b { margin: 0 0 25px;}
.t-b_tx {
    font-size: 16px;
    color: #0e70b4;
}
.t-b_count {
    font-size: 17px;
    color: #afaeae;
}

.best-person {
    float: left;
    width: 140px;
    margin: 0 20px 25px 0;
}
.best-person > img{display: block;}
.best-person_tx{
    display: block;
    color: #454545;
    font-size: 11px;
    font-family: Tahoma, Arial, Verdana, sans-serif;
    padding: 4px 0;
}
.name_info .best_person {
    background: #ededed;
    float: left;
    width: 150px;
    margin: 20px 20px 0 0;
}
.name_info .best_person img{
    display: block;
    width: 150px;
}
.name_info .best_person p{
    text-align: center;
    display: block;
    color: #5e5e5e;
    font-size: 10px;
    font-style: italic;
    padding: 4px 5px;
    text-decoration: underline;
}
.name_info .best_person a{
    text-align: center;
    display: block;
    color: #5e5e5e;
    font-size: 10px;
    font-style: italic;
    padding: 4px 0;
    text-decoration: underline;
}

.verse {
    display: inline-block;*zoom:1;*display:inline;
    width: 175px;
    margin: 0 10px 25px 0;
    padding: 15px 15px 19px;
    background: #feffe6;
    position: relative;
    color: #858585;
    font-size: 12px;
    text-decoration: none;
    position: relative;
    vertical-align: top;
}
.verse:after {
    position: absolute;
    content: "";
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 15px;
    background: url(/images/valentine-day/valentine-sms-b.png) no-repeat 0 0;
}
.verse_t {
    margin: 0 0 7px;
    color: #2082c6;
    display: block;
}
.verse_tx {
    color: #858585;
    font-size: 11px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    margin-bottom: 10px;
}
.name-picture { margin:0 -25px 30px;}
.name-picture_i {
    display: inline-block;*zoom:1;*display:inline;
    vertical-align: top;
    margin: 0 20px 20px 0;
}
.name-picture_img {
    display: block;
    margin-bottom: 10px;
}

.audio-track {margin: 15px 0;}
.audio-track .ava {display: inline-block;*zoom:1;*display:inline;vertical-align: middle;float: none;margin: 0 5px 0 10px;}
.audio-track .ico-player{padding-top: 2px;}
.audio-track.active .audio-track_name{color: #54ab44;}
.audio-track.active .ico-player{background-position: 0 -20px;}
.audio-track_add {
    float: right;
    margin: 0 10px 0 0;
    color: #484747;
    font-size: 11px;
    font-family: Tahoma, Arial, Verdana, sans-serif;
}
.audio-track_hold {padding: 3px 0 0;}
.audio-track_name {
    display: inline-block;*zoom:1;*display:inline;
    vertical-align: middle;
    margin: 0 20px;
}
.audio-track_author {
    display: inline-block;*zoom:1;*display:inline;
    vertical-align: middle;
    margin: 0 25px;
    color: #878586;
}
.audio-track_time {
    display: inline-block;*zoom:1;*display:inline;
    vertical-align: middle;
    margin: 0 25px;
    color: #878586;
}
.audio-track_progressbar {
    display: block;
    position: relative;
    border-top: 1px solid #dcdada;
    padding: 3px 0 0;
    margin: 12px 0 0;
    cursor: pointer;
}
.audio-track_progressbar-i {
    position: relative;
    height: 2px;
    width: 0;
    background: #54ab44;
    top: -4px;
    left: 0;
}
/* /names version 2 */