
#repair-wallpapers {}
#repair-wallpapers .form {border:1px solid #fbefff;background:url(/images/bg_repair_wallpapers.jpg) no-repeat right bottom;min-height:570px;padding:22px;}
#repair-wallpapers .form .title {}
#repair-wallpapers .form .title h1 {font:bold 40px/1 tahoma, arial, helvetica, sans-serif;color:#3e3e3e;margin-bottom:10px;}
#repair-wallpapers .form .title p {font-size:13px;color:#949394;width:480px;}
#repair-wallpapers .form .form-in {margin-top:20px;width:355px;}
#repair-wallpapers .form .form-in .row {padding:10px 10px 15px;background:#fcf8ff;background:rgba(249,244,254,0.75);}
#repair-wallpapers .form .form-in .row:first-child {padding-bottom:0;}
#repair-wallpapers .form .form-in .row .row-title {font:normal 20px/1 arial, helvetica, sans-serif;color:#82649f;margin-bottom:5px;margin-left:15px;}
#repair-wallpapers .form .form-in .row .row-title span {font-weight:normal;font-size:14px;}
#repair-wallpapers .form .form-in .row .row-elements {background:#efdffb;padding:5px;}
#repair-wallpapers .form .form-in .row .row-elements .col {width:32%;vertical-align:top;display:inline-block;*zoom:1;*display:inline;font-size:16px;color:#3e3e3e;font-weight:bold;padding:5px 0;text-align:center;}
#repair-wallpapers .form .form-in .row .row-elements .col small {font-size:11px;line-height:1;color:#7b6190;font-weight:normal;line-height:normal;}
#repair-wallpapers .form .form-in .row .row-elements .col input[type=text] {padding:0px 12px;font-size:16px;color:#906ab6;width:45px;margin:0 5px;color:#906ab6;text-align:center;border:1px solid #dac8e7;vertical-align:top;margin-top:2px;}
#repair-wallpapers .form .form-in .row .small {text-align:center;font-size:10px;line-height:1;color:#999;font-weight:normal;line-height:normal;padding-top:5px;}
#repair-wallpapers .form .form-in .row.row-btn {text-align:center;border-top:1px solid #f6e8ff;}

#repair-wallpapers .form .row-btn button {font:bold 30px arial, helvetica, sans-serif;color: #a46307;width: 220px;height: 58px;border: 1px solid #f1d419;background: url(../images/bg_yellow_av.png) 0 0 repeat-x;cursor:pointer;}
#repair-wallpapers .form .row-btn button {/*css3*/ border-radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;behavior: url(/stylesheets/PIE.htc);}

#repair-wallpapers .form .row.except {background:#eaf9ff;background:rgba(234,249,255,0.75);padding:0 10px;}
#repair-wallpapers .form .row.except .in {padding:15px;}
#repair-wallpapers .form .row.except big {font-size:16px;color:#3e3e3e;display:block;margin-bottom:5px;}
#repair-wallpapers .form .row.except span {color:#949394;font-size:11px;font-weight:normal;}
#repair-wallpapers .form .row.except a.pseudo {text-decoration:none;border-bottom:1px dashed #029AD2;}
#repair-wallpapers .form .row.except a.pseudo:hover {border:0;}
#repair-wallpapers .form .row.except .except-area {padding:8px 10px;background:#fff;border:1px solid #badef1;display:inline-block;*zoom:1;*display:inline;margin-left:-15px;position:relative;margin-top:12px;margin-bottom:8px;}
#repair-wallpapers .form .row.except .except-area input {height:16px;line-height:16px;border:1px solid #c9eaf1;padding:0 4px;font-size:11px;color:#464646;margin-right:3px;font-weight:normal;}

#repair-wallpapers .form .row.except .except-area span {color:#fff;}
#repair-wallpapers .form .row.except .cut {display:block;width:334px;height:21px;background:url(/images/repair_wallpapers_cut.png) no-repeat;margin-top:-25px;margin-left:-15px;}
#repair-wallpapers .form .row.except ul {list-style:none;}
#repair-wallpapers .form .row.except ul li {width:45%;padding-right:4%;display:inline-block;*zoom:1;*display:inline;vertical-align:top;padding:5px 0;}
#repair-wallpapers .form .row.except ul li .remove {display:inline-block;*zoom:1;*display:inline;width:12px;height:14px;background:url(/images/common.png) no-repeat -314px -135px;vertical-align:middle;position:relative;top:-1px;}
#repair-wallpapers .form .row.except ul li .remove:hover {background-position:-314px -148px;}

#repair-wallpapers .form .row.except .except-area input:nth-child(2){width:95px}
#repair-wallpapers .form .row.except .except-area input:nth-child(3){width:30px}
#repair-wallpapers .form .row.except .except-area input:nth-child(4){width:30px}
#repair-wallpapers .form .row.except .except-area input:nth-child(5){width:40px}

#repair-wallpapers #empty-area-form{display:none;}
#repair-wallpapers .form .row.except .cut {display:block;width:334px;height:21px;background:url(/images/repair_wallpapers_cut.png) no-repeat;margin-top:-25px;margin-left:-15px;}
#repair-wallpapers .form .row.except ul#emptyareas {list-style:none;}
#repair-wallpapers .form .row.except ul#emptyareas li {width:95%;padding-right:4%;display:inline-block;*zoom:1;*display:inline;vertical-align:top;padding:5px 0;}
#repair-wallpapers .form .row.except ul#emptyareas li .remove {display:inline-block;*zoom:1;*display:inline;width:12px;height:14px;background:url(/images2/common.png) no-repeat -314px -135px;vertical-align:middle;position:relative;top:-1px;}
#repair-wallpapers .form .row.except ul#emptyareas li .remove:hover {background-position:-314px -148px;}

#repair-wallpapers .form .row.except .tale {display:block;content:'';width:18px;height:17px;background:url(/images/common.png) no-repeat -536px -251px;position:absolute;top:-17px;left:13px;}


#repair-wallpapers .recommendation {padding:30px 20px;background:#fcf8ff;font-size:13px;line-height:19px; display:none}
#repair-wallpapers .recommendation .left {float:left;width:220px;text-align:center;font-size:14px;line-height:1;}
#repair-wallpapers .recommendation .left img {margin-bottom:10px;}
#repair-wallpapers .recommendation .left span {font-size:25px;display:block;color:#8761ab;font-weight:bold;}
#repair-wallpapers .recommendation .right {float:left;width:420px;padding-left:20px;}
#repair-wallpapers .recommendation .right big {font-size:20px;color:#906ab6;margin-bottom:15px;display:block;}

#repair-wallpapers .wysiwyg-content{margin-top:30px}


#repair-ceiling {}
#repair-ceiling .form {border:1px solid #fbefff;background:url(/images/bg_repair_ceiling.jpg) no-repeat right bottom;height:599px;padding:22px;margin-bottom: 20px;}
#repair-ceiling .form .title {}
#repair-ceiling .form .title h1 {font:bold 40px/1 tahoma, arial, helvetica, sans-serif;color:#3e3e3e;margin-bottom:0px;}
#repair-ceiling .form .title span {color:#a37fc6;font:bold 40px/1 tahoma, arial, helvetica, sans-serif;text-transform:uppercase;display:block;margin-bottom:10px;}
#repair-ceiling .form .title p {font-size:13px;color:#434343;width:480px;}

#repair-ceiling .form .form-in {margin-top:20px;width:355px;}
#repair-ceiling .form .form-in .row {padding:15px 25px 15px;background:#e5d8ef;background:rgba(229,216,239,0.85);font-size:15px;}
#repair-ceiling .form .form-in .row sup {font-size:10px;}
#repair-ceiling .form .form-in .row input[type=text] {padding:5px 10px;font-size:16px;color:#906ab6;width:25px;margin:0 5px;color:#906ab6;text-align:center;border:1px solid #cdb9dc;vertical-align:top;height:16px;line-height:16px;}

#repair-ceiling .form .form-in {margin-top:20px;width:370px;}
#repair-ceiling .form .form-in .row {padding:15px 25px 10px;background:#e5d8ef;background:rgba(229,216,239,0.85);font-size:15px;}
#repair-ceiling .form .form-in .row sup {font-size:10px;}
#repair-ceiling .form .form-in .row input[type=text] {padding:5px 10px;font-size:16px;color:#906ab6;width:40px;margin:0 5px;color:#906ab6;text-align:center;border:1px solid #cdb9dc;vertical-align:top;height:16px;line-height:16px;}

#repair-ceiling .form .form-in .row .small {padding-top:15px;}
#repair-ceiling .form .form-in .row .small > span {font-size:16px;color:#4c4d4d;font-weight:bold;}

#repair-ceiling .form .form-in .row big {font:bold 25px/1 arial, helvetica, sans-serif;color:#4c4d4d;}

#repair-ceiling .form .row.row-btn {text-align:center;border-top:1px solid #f6e8ff;background:#faf6c6;background:rgba(250, 246, 198, 0.75)}
#repair-ceiling .form .row-btn button {font:bold 30px arial, helvetica, sans-serif;color: #a46307;width: 220px;height: 58px;border: 1px solid #f1d419;background: url(../images/bg_yellow_av.png) 0 0 repeat-x;cursor:pointer;}
#repair-ceiling .form .row-btn button {/*css3*/ border-radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;behavior: url(/stylesheets/PIE.htc);}

#repair-ceiling .form .row.row-result {background:#fff;background:rgba(255,255,255,0.80);padding:15px 50px;}
#repair-ceiling .form .row.row-result .title  {color:#8259ab;font-size:16px;margin-bottom:10px;}
#repair-ceiling .form .row.row-result ul {list-style:none;font-size:15px;line-height:1;padding-bottom:10px;}
#repair-ceiling .form .row.row-result ul li {padding:5px 0;overflow:hidden;background:url(/images/repair_dott.gif) repeat-x 0 18px;}
#repair-ceiling .form .row.row-result ul li span {background:#f5f5f4;padding-right:5px;}
#repair-ceiling .form .row.row-result ul li span.count {float:right;padding-left:5px;padding-right:0;}
#repair-ceiling .form .row.row-result .pseudo {text-decoration:none;border-bottom:1px dashed #029AD2;font-size:11px;font-family:tahoma, arial, helvetica, sans-serif;}
#repair-ceiling #results p{ padding-bottom: 10px}

#repair-ceiling .recommendation {padding:30px 20px;background:#fcf8ff;font-size:13px;line-height:19px;margin-bottom:30px;}



#repair-bathroom-tile {}
#repair-bathroom-tile .form {border:1px solid #fbefff;background:url(/images/bg_repair_bathroom_tile.jpg) no-repeat right bottom;height:598px;padding:22px;}
#repair-bathroom-tile .form .title {}
#repair-bathroom-tile .form .title h1 {font:bold 45px/1 tahoma, arial, helvetica, sans-serif;color:#3e3e3e;margin-bottom:0px;}
#repair-bathroom-tile .form .title span {color:#a37fc6;font:bold 40px/1 tahoma, arial, helvetica, sans-serif;display:block;margin-bottom:10px;}
#repair-bathroom-tile .form .title p {font-size:13px;color:#434343;width:480px;}
#repair-bathroom-tile .form .title .red {font-size:11px;color:#ff5741;font-style:italic;margin-top:0px; min-height: 10px;}
#repair-bathroom-tile .form .title .red ul{ width: 400px }
#repair-bathroom-tile .form .title .red li{ display:inline-block;*zoom:1;*display:inline; width: 200px }


#repair-bathroom-tile .form .form-in {margin-top:20px;width:355px;}
#repair-bathroom-tile .form .form-in .row { padding: 0}
#repair-bathroom-tile .form .form-in .row .row-line {padding-bottom:5px;font-size:16px;color:#3e3e3e;font-weight:bold;}
#repair-bathroom-tile .form .form-in .row .row-line .text {display:inline-block;*zoom:1;*display:inline;width:140px;}
#repair-bathroom-tile .form .form-in .row .row-line input {padding:4px 4px;font-size:16px;color:#906ab6;width:37px;color:#906ab6;text-align:center;border:1px solid #e8d2fd;vertical-align:top;height:16px;line-height:16px;margin-top:-2px;margin-left:5px;}
#repair-bathroom-tile .form .form-in .row .row-line span {font-weight:normal;color:#737272;}
#repair-bathroom-tile .form .form-in .row .img {float:right;position:relative;}
#repair-bathroom-tile .form .form-in .row .img .val {position:absolute;right:7px;bottom:10px;width:34px;height:19px;text-align:center;line-height:19px;font-size:13px;color:#5e8bc9;font-weight:bold;}

#repair-bathroom-tile .form .form-in .row.error {height: 25px; padding: 0 0 5px 0}
#repair-bathroom-tile .form .form-in .row.error div{display:inline-block;*zoom:1;*display:inline; padding: 0 10px 0 0;}

#repair-bathroom-tile .form .row.row-btn {text-align:center;background:url(/images/repair_bathroom_tile_dash.gif) no-repeat top;padding-top:21px;}
#repair-bathroom-tile .form .row-btn button {font:bold 30px arial, helvetica, sans-serif;color: #a46307;width: 220px;height: 58px;border: 1px solid #f1d419;background: url(../images/bg_yellow_av.png) 0 0 repeat-x;cursor:pointer;}
#repair-bathroom-tile .form .row-btn button {/*css3*/ border-radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;behavior: url(/stylesheets/PIE.htc);}

#repair-bathroom-tile .recommendation {padding:30px 20px;background:#fcf8ff;font-size:13px;line-height:19px; display:none;}
#repair-bathroom-tile .recommendation .left {float:left;width:220px;text-align:center;font-size:14px;line-height:1;}
#repair-bathroom-tile .recommendation .left img {margin-bottom:10px;}
#repair-bathroom-tile .recommendation .left span {font-size:25px;display:block;color:#5a88c5;font-weight:bold;}
#repair-bathroom-tile .recommendation .right {float:left;width:420px;padding-left:20px;}
#repair-bathroom-tile .recommendation .right big {font-size:20px;color:#906ab6;margin-bottom:15px;display:block;}
#repair-bathroom-tile .wysiwyg-content{ margin-top: 30px}


#repair-paint {}
#repair-paint .form {border:1px solid #fbefff;background:url(/images/bg_repair_paint.jpg) no-repeat right bottom;min-height:570px;padding:22px;}
#repair-paint .form .title {}
#repair-paint .form .title h1 {font:bold 50px/1 tahoma, arial, helvetica, sans-serif;color:#3e3e3e;margin-bottom:0px;}
#repair-paint .form .title span {color:#a37fc6;font:bold 40px/1 tahoma, arial, helvetica, sans-serif;display:block;margin-bottom:10px;}
#repair-paint .form .title p {font-size:13px;color:#949394;width:480px;}
#repair-paint .form .form-in {margin-top:20px;width:355px;}
#repair-paint .form .form-in .row-switcher {padding-bottom:20px;background:url(/images/bg_repair_row_switcher.gif) no-repeat left bottom;}
#repair-paint .form .form-in .row-switcher .a-right {line-height:normal;font-size:11px;padding-top:10px;}
#repair-paint .form .form-in .row-switcher .a-right a {font-size:13px; margin-left: 5px}
#repair-paint .form .form-in .row-switcher .a-right a:hover {border:0;}
#repair-paint .form .form-in .row-switcher .a-right span.wall{display:none}
#repair-paint .form .form-in .row-switcher big {color:#8a67ac;font-weight:bold;font-size:25px;line-height:25px;margin-left:25px;}
#repair-paint .form .form-in .row {padding:10px 10px 5px;background:#f5eefd;background:rgba(245,238,253,0.88);}
#repair-paint .form .form-in .row:first-child {padding-bottom:0;}
#repair-paint .form .form-in .row .row-title {font:normal 20px/1 arial, helvetica, sans-serif;color:#82649f;padding-bottom:5px;margin-left:15px;}
#repair-paint .form .form-in .row .row-title span {font-weight:normal;font-size:14px;}
#repair-paint .form .form-in .row .row-title big {font-size:20px;font-weight:bold;color:#3e3e3e;}
#repair-paint .form .form-in .row .chzn-container-single .chzn-single span {font-size:11px;}
#repair-paint .form .form-in .row .row-elements {padding-bottom:5px;}
#repair-paint .form .form-in .row .row-elements .col {width:32%;vertical-align:top;display:inline-block;*zoom:1;*display:inline;font-size:16px;color:#3e3e3e;font-weight:bold;padding:5px 0;text-align:center;}
#repair-paint .form .form-in .row .row-elements .col small {font-size:11px;line-height:1;color:#7b6190;font-weight:normal;line-height:normal;}
#repair-paint .form .form-in .row .row-elements .col input[type=text] {padding:0px 12px;font-size:16px;color:#906ab6;width:45px;margin:0 5px;color:#906ab6;text-align:center;border:1px solid #dac8e7;vertical-align:top;margin-top:2px;}
#repair-paint #PaintForm_paintType{ width: 200px}
#repair-paint .form .form-in .row.row-btn {text-align:center;border-top:1px solid #d7dff9;background:#faf6cf;background:rgba(250,246,207, 0.75);}
#repair-paint .form .form-in .row.row-btn {padding:10px;}
#repair-paint .errorSummary ul{ padding-left: 20px}

#repair-paint .form .row-btn button {font:bold 30px arial, helvetica, sans-serif;color: #a46307;width: 220px;height: 58px;border: 1px solid #f1d419;background: url(../images/bg_yellow_av.png) 0 0 repeat-x;cursor:pointer;}
#repair-paint .form .row-btn button {/*css3*/ border-radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;behavior: url(/stylesheets/PIE.htc);}

#repair-paint .form .row.except {background:#eaf9ff;background:rgba(234,249,255,0.75);padding:0 10px;border-top:1px solid #d7dff9;}
#repair-paint .form .row.except .in {padding:15px;}
#repair-paint .form .row.except big {font-size:16px;color:#3e3e3e;display:block;margin-bottom:5px;}
#repair-paint .form .row.except span {color:#949394;font-size:11px;font-weight:normal;}
#repair-paint .form .row.except a.pseudo {text-decoration:none;border-bottom:1px dashed #029AD2;}
#repair-paint .form .row.except a.pseudo:hover {border:0;}
#repair-paint .form .row.except .except-area {padding:8px 10px;background:#fff;border:1px solid #badef1;display:inline-block;*zoom:1;*display:inline;margin-left:-15px;position:relative;margin-top:12px;margin-bottom:8px; display: none}
#repair-paint .form .row.except .except-area input {height:16px;line-height:16px;border:1px solid #c9eaf1;padding:0 4px;font-size:11px;color:#464646;margin-right:3px;font-weight:normal;}
#repair-paint .form .row.except .except-area input#PaintAreaForm_title{ width:95px }
#repair-paint .form .row.except .except-area input#PaintAreaForm_height{ width:30px }
#repair-paint .form .row.except .except-area input#PaintAreaForm_width{ width:30px }
#repair-paint .form .row.except .except-area input#PaintAreaForm_qty{ width:40px }

#repair-paint .form .row.except .except-area span {color:#fff;}
#repair-paint .form .row.except .cut {display:block;width:334px;height:21px;background:url(/images/repair_wallpapers_cut.png) no-repeat;margin-top:-25px;margin-left:-15px;}
#repair-paint .form .row.except ul {list-style:none;}
#repair-paint .form .row.except ul li {width:45%;padding-right:4%;display:inline-block;*zoom:1;*display:inline;vertical-align:top;padding:5px 0;}
#repair-paint .form .row.except ul li .remove {display:inline-block;*zoom:1;*display:inline;width:12px;height:14px;background:url(/images/common.png) no-repeat -314px -135px;vertical-align:middle;position:relative;top:-1px;}
#repair-paint .form .row.except ul li .remove:hover {background-position:-314px -148px;}

#repair-paint .form .row.except .tale {display:block;content:'';width:18px;height:17px;background:url(/images/common.png) no-repeat -536px -251px;position:absolute;top:-17px;left:13px;}
#repair-paint .form .row.except .errorSummary ul li{display: block; width: 100%; padding: 0}

#repair-paint .recommendation {padding:30px 20px;background:#fcf8ff;font-size:13px;line-height:19px;}
#repair-paint .recommendation .left {float:left;width:220px;text-align:center;font-size:14px;line-height:1;}
#repair-paint .recommendation .left img {margin-bottom:10px;}
#repair-paint .recommendation .left span {font-size:25px;display:block;color:#8761ab;font-weight:bold;}
#repair-paint .recommendation .right {float:left;width:420px;padding-left:20px;}
#repair-paint .recommendation .right big {font-size:20px;color:#906ab6;margin-bottom:15px;display:block;}

#repair-paint .wysiwyg-content{ margin-top: 30px}


#repair-floor {}
#repair-floor .form {border:1px solid #fbefff;background:url(/images/bg_repair_floor.jpg) no-repeat right bottom;min-height:610px;padding:22px;}
#repair-floor .form .title {}
#repair-floor .form .title h1 {font:bold 45px/1 tahoma, arial, helvetica, sans-serif;color:#3e3e3e;}
#repair-floor .form .title span {color:#a37fc6;font:bold 45px/1 tahoma, arial, helvetica, sans-serif;display:block;margin-bottom:10px;}
#repair-floor .form .title p {font-size:13px;color:#949394;width:480px;}
#repair-floor .form .form-in {margin-top:20px;width:355px;}
#repair-floor .form .form-in .row {padding:10px 15px 5px;background:#fcf8ff;background:rgba(249,244,254,0.75);}
#repair-floor .form .form-in .row big {font-weight:bold;color:#3e3e3e;font-size:20px;margin-right:5px;margin-left:10px;}
#repair-floor .form .form-in .row .chzn-container {position:relative;top:-2px;}
#repair-floor .form .form-in div.row select#FlooringForm_flooringType{ width: 168px}
#repair-floor .form .form-in .row .row-elements {background:#e9ddf2;padding:5px 10px;font-size:18px;color:#3e3e3e;font-weight:bold;margin-bottom:10px;}
#repair-floor .form .form-in .row .row-elements .text {display:inline-block;*zoom:1;*display:inline;line-height:24px;font-size:20px;width:200px;}
#repair-floor .form .form-in .row .row-elements .row-line {padding:10px 0 10px;}
#repair-floor .form .form-in .row  input[type=text] {padding:0px 7px;font-size:16px;color:#906ab6;width:45px;margin:0 5px;color:#906ab6;text-align:center;border:1px solid #dac8e7;vertical-align:top;margin-top:2px;}
#repair-floor .form .form-in .row.row-btn {text-align:center;border-top:1px solid #f6e8ff;background:#faf6cf;background:rgba(250,246,207, 0.75);padding:15px 0;}

#repair-floor .form .row-btn button {font:bold 30px arial, helvetica, sans-serif;color: #a46307;width: 220px;height: 58px;border: 1px solid #f1d419;background: url(../images/bg_yellow_av.png) 0 0 repeat-x;cursor:pointer;}
#repair-floor .form .row-btn button {/*css3*/ border-radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;behavior: url(/stylesheets/PIE.htc);}

#repair-floor .recommendation {padding:30px 20px;background:#fcf8ff;font-size:13px;line-height:19px;}
#repair-floor .recommendation .left {float:left;width:220px;text-align:center;font-size:14px;line-height:1;padding-top:1.5em;}
#repair-floor .recommendation .left img {margin-bottom:10px;}
#repair-floor .recommendation .left span {font-size:25px;display:block;color:#8761ab;font-weight:bold;}
#repair-floor .recommendation .right {float:left;width:420px;padding-left:20px;}
#repair-floor .recommendation .right big {font-size:20px;color:#906ab6;margin-bottom:15px;display:block;}
#repair-floor .wysiwyg-content{ margin-top: 30px}
