
#prikorm.test .step{height:515px;}
#prikorm.test .step-in{position:absolute;right:40px;padding:0 20px 45px;top:100px;display:block;width:305px;border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;}
#prikorm.test #step1 .step-in{background:url(../images/yellow_trans.png) 0 0 repeat;}
#prikorm.test #step2 .step-in{background:url(../images/pink_trans.png) 0 0 repeat;}
#prikorm.test #step3 .step-in{background:url(../images/brun_trans.png) 0 0 repeat;}
#prikorm.test #step4 .step-in{background:url(../images/green_trans2.png) 0 0 repeat;}
#prikorm.test #step5 .step-in{background:url(../images/blue_trans2.png) 0 0 repeat;}
#prikorm.test #step6 .step-in{background:url(../images/brun_trans.png) 0 0 repeat;}
#prikorm.test #step7 .step-in{background:url(../images/blue_trans2.png) 0 0 repeat;top:70px;width:350px;}


#prikorm.test .step .question .q-title {
    padding: 20px 0 30px;
    font: 25px/25px tahoma, sans-serif;
    color: #1c1b1c;
    display: block;
    text-align: center;
}

#prikorm.test a.yes_button {
    text-align: center;
    text-decoration: none;
    display: block;
    width: 223px;
    background: url(../images/bg_green_button.png) 0 0 repeat-x;
    font: 30px/57px tahoma, sans-serif;
    margin: 0 auto 15px;
    color: #ffffff;
    border: 1px solid #34ac51;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#prikorm.test a.no_button {
    text-align: center;
    text-decoration: none;
    display: block;
    width: 223px;
    background: url(../images/bg_brown_button.png) 0 0 repeat-x;
    font: 30px/57px tahoma, sans-serif;
    margin: 0 auto 15px;
    color: #ac4916;
    border: 1px solid #f1d419;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#prikorm.test .step .btn button {
    position: relative;
    top: 270px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 302px;
    background: url(../images/bg_pink_button.png) 0 0 repeat-x;
    font: 40px/77px tahoma, sans-serif;
    color: #ffffff;
    border: 1px solid #fe1696;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    cursor: pointer;
}

#prikorm.test .step .result {
    padding: 25px 15px 30px 18px;
    position: absolute;
    right: 13px;
    top: -50px;
    display: block;
    width: 305px;
    background: url(../images/pink2_trans.png) 0 0 repeat;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
#prikorm.test .result p {padding-top: 6px;}
#prikorm.test .result span.rs_title {
    display: block;
    font: 25px/25px tahoma, sans-serif;
    color: #272526;
    padding: 0 0 15px 0;
}
#prikorm.test .result div.your_res {
    color: #D50101;
    font: 28px/20px tahoma,sans-serif;
    padding: 0;
}
#prikorm.test .result div.your_res div {
    background: url(../images/pink3_trans.png) 0 0 repeat;
    font: bold 16px/18px tahoma, sans-serif;
    color: #ffffff;
    font-weight: normal;
    padding: 10px;
    margin: 15px 0 17px;
}
#prikorm.test .result span.your_rec {
    display: block;
    font: bold 20px/20px arial, sans-serif;
    color: #212022;
    font-weight: normal;
    padding: 0;
}
#prikorm .step .your_res{display: block;}
#prikorm .step .your_rec{display: block;}
#prikorm .r-title{display: none;}
#prikorm .step.r .btn{display: none;}
#prikorm .step.r,
#prikorm .step.q{ display: none;}
