include ../../../block/config
extend ../../../extend/layout_base
block vars
    - var bodyClass = 'body__bg1 body__lite';
    - global.cssFile = 'services.css'; 

block layout

    // b-main 
    .b-main.clearfix
    
        .b-main_cont
            .b-crumbs.b-crumbs__s
                .b-crumbs_tx Я здесь:
                ul.b-crumbs_ul
                    li.b-crumbs_li
                        a.b-crumbs_a(href='#') Главная 
                    li.b-crumbs_li.b-crumbs_li__last
                        span.b-crumbs_last Календарь развития ребенка 

        .b-main_cont 
            .b-main_col-wide    
                h1.heading-link-xxl.heading-link-xxl__center Календарь развития ребенка 
        .b-main_row.b-main_row__brown-light.adap-padding-tb-s20-t30
            .b-main_cont 
                .b-main_col-article.b-main_col-article__center
                    .tx-content
                        p.color-brown Этот календарь даст вам представление о развитии вашего ребенка, начиная с момента его рождения до окончания школы. Вот он впервые приподнял свою маленькую головку, а теперь улыбнулся вам в ответ, произнес первое слово, вот уже побежал, а вот и 1 класс… Наш календарь организован такими периодами, чтобы дать вам практические и полезные рекомендации в самые необходимые моменты.
        .b-main_row.b-main_row__green-dark
            .b-main_cont 
                .b-main_col-wide.color-white
                    h2.heading-m.textalign-c.margin-0 Выберите возраст вашего ребенка
        .b-main_row.b-main_row__green-light
            .b-main_cont
                // Календарь
                .calendar-serv.calendar-serv__green
                    .calendar-serv_row
                        .calendar-serv_col-year
                            .calendar-serv_t Дети до года 
                            ul.calendar-serv_ul.clearfix
                                li.calendar-serv_li
                                    a.calendar-serv_i(href='#') Новорожденный 
                            ul.calendar-serv_ul.clearfix.calendar-serv_ul__column
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 1 нед. 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 2 нед. 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 3 нед. 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 4 нед. 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 2 мес.  
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 3 мес. 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 4 мес. 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 5 мес. 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 6 мес. 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 7 мес. 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 8 мес. 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 9 мес. 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 10 мес.
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 11 мес. 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 12 мес. 
                        .calendar-serv_col-year
                            .calendar-serv_t Дети старше года  
                            ul.calendar-serv_ul.calendar-serv_ul__column.clearfix
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 12-15 мес.       
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 21-24 мес.
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 15-18 мес. 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 2-2.5 года
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 18-21 мес. 
                                li.calendar-serv_li 
                                    a.calendar-serv_i(href='#') 2.5-3 года

                            .calendar-serv_t Дошкольники 
                            ul.calendar-serv_ul.clearfix
                                li.calendar-serv_li
                                    a.calendar-serv_i(href='#') 3-7 лет
                            .calendar-serv_t Младшие школьники  
                            ul.calendar-serv_ul.clearfix
                                li.calendar-serv_li
                                    a.calendar-serv_i(href='#') 7-11 лет
                            .calendar-serv_t Средние школьники  
                            ul.calendar-serv_ul.clearfix
                                li.calendar-serv_li
                                    a.calendar-serv_i(href='#') 11-14 лет
                            .calendar-serv_t Старшие школьники  
                            ul.calendar-serv_ul.clearfix
                                li.calendar-serv_li
                                    a.calendar-serv_i(href='#') 14-18 лет
                    
                // Календарь 

        .b-main_cont
            .conv-pregnancy.conv-pregnancy__baby.visible-md-block
                .conv-pregnancy_hold
                    .conv-pregnancy_tx Вы можете получить тысячи советов от других родителей. Вы не одиноки.
                    a.btn.btn-success.btn-xl(href='#') Присоединяйтесь!

    // b-main 
    +layout-footer-lite()

