include ../../block/config
extend ../../extend/layout_base
block vars
    - var bodyClass = 'body__bg1 body__lite';
    - global.cssFile = 'services.css'; 

block layout
    /////////////////////////////////////////////////////////
    /// В конечном итоге подключать css
    /// /lite/css/min/services.css
    /// или grunt задачу, в коммандной строке 
    /// grunt services
    /////////////////////////////////////////////////////////
    // b-main 
    .b-main.clearfix

        .b-main_cont
            .b-crumbs.b-crumbs__s
                .b-crumbs_tx Я здесь:
                ul.b-crumbs_ul
                    li.b-crumbs_li
                        a.b-crumbs_a(href="") Главная 
                    li.b-crumbs_li.b-crumbs_li__last
                        span.b-crumbs_last Народные рецепты
            .b-main_col-hold.clearfix
                .b-main_col-article
                    
                    h1.heading-link-xxl Народные рецепты от лимфоденита

        .b-main_row.b-main_row__green.clearfix
            .b-main_cont
                .tx-content
                    p Эти народные рецепты по крупинкам собирались нашими пользователями с разных источников. Недееемся вы найдете в них полезную информацию для любой болезни.

        .b-main_cont
            .b-main_col-hold.clearfix
                ///////
                // Основная колонка
                .b-main_col-article

                    .traditional-recipes
                        ul.traditional-recipes_ul
                            // По 100 элементов на странице
                            li.traditional-recipes_li
                                .traditional-recipes_author
                                    +ava('ava__small visible-md-inline-block', ava.a)
                                    a.a-light(href="") Ангелина Богоявленская
                                .traditional-recipes_t
                                    a.traditional-recipes_t-a(href="") Настойка диоскореи кавказской
                            li.traditional-recipes_li
                                .traditional-recipes_author
                                    +ava('ava__small visible-md-inline-block', ava.a)
                                    a.a-light(href="") Ангелина Богоявленская
                                .traditional-recipes_t
                                    a.traditional-recipes_t-a(href="") Сок корней сельдерея при крапивнице
                            li.traditional-recipes_li
                                .traditional-recipes_author
                                    +ava('ava__small visible-md-inline-block', ava.a)
                                    a.a-light(href="") Ангелина Богоявленская
                                .traditional-recipes_t
                                    a.traditional-recipes_t-a(href="") Настой семян тмина при нервном стрессе
                            li.traditional-recipes_li
                                .traditional-recipes_author
                                    +ava('ava__small visible-md-inline-block', ava.a)
                                    a.a-light(href="") Ангелина Богоявленская
                                .traditional-recipes_t
                                    a.traditional-recipes_t-a(href="") Лечение молочницы
                            li.traditional-recipes_li
                                .traditional-recipes_author
                                    +ava('ava__small visible-md-inline-block', ava.a)
                                    a.a-light(href="") Ангелина Богоявленская
                                .traditional-recipes_t
                                    a.traditional-recipes_t-a(href="") Настойка диоскореи кавказской
                            li.traditional-recipes_li
                                .traditional-recipes_author
                                    +ava('ava__small visible-md-inline-block', ava.a)
                                    a.a-light(href="") Ангелина Богоявленская
                                .traditional-recipes_t
                                    a.traditional-recipes_t-a(href="") Настой семян тмина при нервном стрессе
                            li.traditional-recipes_li
                                .traditional-recipes_author
                                    +ava('ava__small visible-md-inline-block', ava.a)
                                    a.a-light(href="") Ангелина Богоявленская
                                .traditional-recipes_t
                                    a.traditional-recipes_t-a(href="") Лечение молочницы
                            li.traditional-recipes_li
                                .traditional-recipes_author
                                    +ava('ava__small visible-md-inline-block', ava.a)
                                    a.a-light(href="") Ангелина Богоявленская
                                .traditional-recipes_t
                                    a.traditional-recipes_t-a(href="") Настойка диоскореи кавказской
                    +paginationAll()
                // /Основная колонка
    // b-main 
    +layout-footer-lite()

