include ../../block/config
extend ../../extend/layout_base
block vars
    - var bodyClass = 'body__bg1 body__lite';
    - global.cssFile = 'traditional-recipes.css'; 

block layout
    /////////////////////////////////////////////////////////
    /// В конечном итоге подключать css
    /// /lite/css/min/traditional-recipes.css
    /// или grunt задачу, в коммандной строке 
    /// grunt traditional-recipes
    /////////////////////////////////////////////////////////
    // b-main 
    .b-main.clearfix

        .b-main_cont
            .b-crumbs.b-crumbs__s
                .b-crumbs_tx Я здесь:
                ul.b-crumbs_ul
                    li.b-crumbs_li
                        a.b-crumbs_a(href="") Главная 
                    li.b-crumbs_li
                        a.b-crumbs_a(href="") Народные рецепты
                    li.b-crumbs_li
                        a.b-crumbs_a(href="") Лимфаденит
                    li.b-crumbs_li.b-crumbs_li__last
                        span.b-crumbs_last Лечим лимфаденит соком
            .b-main_col-hold.clearfix
                ///////
                // Основная колонка
                .b-main_col-article
                    
                    +bArticle-single('b-article__lite')
                
                    table.article-nearby.clearfix(ellpadding='0', cellspacing='0')
                        tr
                            td
                                a.article-nearby_a.clearfix(href='')
                                    span.article-nearby_tx Как приготовить Монастыпскую избу 
                            td.article-nearby_r
                                a.article-nearby_a.clearfix(href='')
                                    span.article-nearby_tx Готовим  Торт Сметанник в домашних условиях
                    .adv-banner
                        a(href="", target="_blank")
                            img(alt='', src='#{path}images/example/w600-h400.jpg')
                    .comment-add
                        .comment-add_t Комментировать
                        .comment-add_hold
                            a.comment-add_a Авторизуйтесь  
                            | или 
                            a.comment-add_a зарегистрируйтесь,
                            | чтобы оставить комментарий
                        .comment-add_editor.display-n
                    
                    +commentsOpen('', commentsOpen.a)

                    //- .article-users
                        .article-users_t Запись понравилась 
                            .ava-list
                                ul.ava-list_ul.clearfix
                                    li.ava-list_li
                                        +ava('ava__small', ava.a)
                                    li.ava-list_li
                                        +ava('ava__small', ava.b)
                                    li.ava-list_li
                                        +ava('ava__small', ava.a)
                                    li.ava-list_li
                                        a.ava.ava__small(href='')
                                    li.ava-list_li
                                        +ava('ava__small', ava.c)
                                    li.ava-list_li
                                        +ava('ava__small', ava.b)
                                    li.ava-list_li
                                        +ava('ava__small', ava.a)
                                    li.ava-list_li
                                        +ava('ava__small', ava.b)
                                    li.ava-list_li
                                        +ava('ava__small', ava.a)
                                    li.ava-list_li
                                        +ava('ava__small', ava.c)
                                    li.ava-list_li
                                        a.ava.ava__small(href='')
                                    li.ava-list_li
                                        +ava('ava__small', ava.b)
                                    li.ava-list_li
                                        +ava('ava__small', ava.a)
                                    li.ava-list_li
                                        +ava('ava__small', ava.c)
                                    li.ava-list_li
                                        a.ava.ava__small(href='')
                                    li.ava-list_li
                                        +ava('ava__small', ava.b)
                                    li.ava-list_li
                                        +ava('ava__small', ava.a)
                                    li.ava-list_li
                                        +ava('ava__small', ava.a)
                                    li.ava-list_li
                                        a.ava.ava__small(href='')
                                    li.ava-list_li
                                        +ava('ava__small', ava.c)
                                    li.ava-list_li
                                        +ava('ava__small', ava.a)
                                    li.ava-list_li
                                        +ava('ava__small', ava.b)
                                    li.ava-list_li
                                        +ava('ava__small', ava.a)
                                    li.ava-list_li
                                        +ava('ava__small', ava.a)
                                    li.ava-list_li
                                        +ava('ava__small', ava.c)
                                    li.ava-list_li
                                        +ava('ava__small', ava.a)
                                    li.ava-list_li
                                        +ava('ava__small', ava.b)
                                    li.ava-list_li
                                        +ava('ava__small', ava.c)
                                    li.ava-list_li
                                        +ava('ava__small', ava.a)
                                    li.ava-list_li
                                        +ava('ava__small', ava.b)
                                    li.ava-list_li
                                        +ava('ava__small', ava.a)
                                    li.ava-list_li
                                        +ava('ava__small', ava.b)
                                    li.ava-list_li
                                        +ava('ava__small', ava.a)
                                    li.ava-list_li
                                        a.ava-list_last(href='')
                                            span.ava-list_like-hg
                                            | 3251
                            .article-users_t Запись добавили в избранное 
                            .ava-list
                                ul.ava-list_ul.clearfix
                                    li.ava-list_li
                                        +ava('ava__small', ava.a)
                                    li.ava-list_li
                                        +ava('ava__small', ava.b)
                                    li.ava-list_li
                                        +ava('ava__small', ava.a)
                                    li.ava-list_li
                                        +ava('ava__small', ava.c)
                                    li.ava-list_li
                                        +ava('ava__small', ava.b)
                                    li.ava-list_li
                                        +ava('ava__small', ava.a)
                                    li.ava-list_li
                                        a.ava-list_last(href='')
                                            span.ava-list_favorite.active
                                            | 3251 и вы

                // /Основная колонка

    +layout-footer-lite()

