include ../../block/config
extend ../../extend/layout_loose
block vars
  - var bodyClass = 'body__bg2';

block layout
    .b-main.b-main__white

        .b-main_cols.clearfix
            .b-main_col-1
                +sidebar-search('sidebar-search__big', {placeholder: 'Поиск'})
            .b-main_col-23
                +userAddRecord('userAddRecord__s', userAddRecord.a)
        .b-crumbs.b-crumbs__s
            .b-crumbs_tx Я здесь
            ul.b-crumbs_ul
                li.b-crumbs_li
                    a.b-crumbs_a(href="") Главная
                li.b-crumbs_li
                    +ava('ava__small', ava.a)
                li.b-crumbs_li.b-crumbs_li__last
                    span.b-crumbs_last Фото

        +userSection()
        
        .page-col.page-col__user
            .page-col_cont.page-col_cont__in

                +bAlbum('', bAlbum.d)
                +bAlbum('', bAlbum.e)

                .heading-small.margin-t40 
                    | Последние добавленные фото
                    .float-r
                        .btn.btn-link.btn-link-gray.btn-s Все фотографии 628

                +imgGrid('', imgGrid.a)

                .i-allphoto 
                    a.i-allphoto_a(href="")
                        | Смотреть все фотографии

        +layout-footer('layout-footer__in')