include ../../block/config
extend ../../extend/layout_loose
block vars
  - var bodyClass = 'body__bg2';

block layout

    +user-menu('', userMenu.a)

    .page-col.page-col__user
        .page-col_cont.page-col_cont__in
            
            .section-empty
                .section-empty_t Что бы вы хотели добавить в раздел «Мои фото»?
                ul.section-empty_ul
                    li.section-empty_li
                        a.section-empty_i(href="#")
                            .section-empty_ico.section-empty_ico__photo
                            .section-empty_ico-tx Фотографии <br> без альбома
                    li.section-empty_li
                        a.section-empty_i(href="#")
                            .section-empty_ico.section-empty_ico__album
                            .section-empty_ico-tx Новый <br> фотоальбом
                .section-empty_desc-hold
                    // Табы на ховер
                    // Менять отображение элементов на ховер а.section-empty_i с помощью js
                    .section-empty_desc.display-n
                        .section-empty_desc-tx Создавайте свои фотоальбомы и делитесь ими со своими друзьями и Веселым Жирафом. А также получайте за это дополнительные баллы в вашу общую копилку.
                    .section-empty_desc
                        .section-empty_desc-tx 123Создавайте свои фотоальбомы и делитесь ими со своими друзьями и Веселым Жирафом. А также получайте за это дополнительные баллы в вашу общую копилку.

            


