include ../../../block/config
extend ../../../extend/layout_base
block vars
    - var bodyClass = 'body__bg1 body__lite';
    - global.cssFile = 'services.css'; 

block layout

    // b-main 
    .b-main.clearfix
        
        // Хлебные крошки
        .b-main_cont
            .b-crumbs.b-crumbs__s
                .b-crumbs_tx Я здесь:
                ul.b-crumbs_ul
                    li.b-crumbs_li
                        a.b-crumbs_a(href='#') Главная 
                    li.b-crumbs_li
                        a.b-crumbs_a(href='#')
                            .ico-club.ico-club__s.ico-club__7
                    li.b-crumbs_li
                        a.b-crumbs_a(href='#') Приправы и специи 
                    li.b-crumbs_li.b-crumbs_li__last
                        span.b-crumbs_last Горчица черная (Brassica nigra)

        // Заголовок страницы
        .cook-spices
            .b-main_cont 
                .b-main_col-wide 
                    h1.heading-link-xxl.heading-link-xxl__center Горчица чёрная (Brássica nígra), Горчица французская, Горчица настоящая
            .b-main_row.b-main_row__blue
                .b-main_cont 
                    .b-main_col-article.b-main_col-article__center
                        .wysiwyg-content
                            p Горчица черная пользуется особенной популярностью в индийской кухне. Из ее семян изготавливаются всевозможные острые приправы. Индийские повара зачастую предварительно прожаривают в топленом масле семена горчицы черной. После этого у семян появляется интересный запах и ореховый вкус. Поджаривание семян горчицы является одним из главных условий, необходимых для приготовления масалы. В Индии горчицу черную называют "раи бенаресски".
            .b-main_row
                .b-main_cont
                    .b-main_col-article.b-main_col-article__center
                        .wysiwyg-content
                            .b-main_wide-phone.textalign-c
                                img(src="#{path}images/example/w600-h450-1.jpg", alt="")
                            h2 Пути заражения дизентерией
                            p Горчицу чёрную по-другому называют горчицей французской. Этот вид горчицы считается самым острым. Ее семена имеют очень острый, терпкий вкус, который чем-то напоминает хрен. Именно из семян горчицы черной готовят горчичный соус "равигот".
                            p Семена черной горчицы, благодаря содержанию растительного масла и наличию характерного вкуса и запаха, часто используются в кулинарии. 
                            p Семена горчицы черной используются для производства в пищевой промышленности разных смесей специй, для консервирования грибов и овощей, для изготовления масла. Из горчицы черной во Франции готовят дижонскую горчицу, которая считается лучшей в мире, а также восхитительный соус к рыбе. В домашней кулинарии для ароматизации добавляется порошок из семян горчицы черной в мясные супы, фарши, блюда из капусты.
                            p Кроме того, можно добавлять молодые листья чёрной горчицы как приправу к любимым блюдам.
                            p На Кавказе широко распространено употребление зелёных стеблей, листьев и цветков, порошка семян в качестве пряности для изготовления сыров.

                            p Горчица черная, как и другие виды горчицы, считается хорошим эмульгатором, поскольку защищает во время тепловой обработки мясо и рыбу. Она одновременно не дает вытечь мясному соку и придает блюду неповторимый аромат. 
                            p Вы можете смело использовать горчицу черную – с ее помощью все блюда приобретут пикантную и изысканную нотку!

            .b-main_row.product-verif.product-verif__spices
                .b-main_cont
                    .wysiwyg-content
                        h2 Советы от шеф-повара
                        ol
                            li Если нужно приготовить пряное и острое блюдо, семена горчицы черной нельзя рано добавлять. Дело в том, что во время тепловой обработки исчезает их острота. Поэтому горчицу черную добавляйте в последний момент. Помните, что острота горчицы черной неустойчива и сильно уменьшается с течением времени. А в свежем состоянии она бывает чрезмерно острой.
                            li Если надо придать эффектный вкус однородному соусу или обычному рису, добавьте чайную ложку зерен горчицы черной. Предварительно зерна можно немного поджарить в масле, после чего они приобретут серый оттенок. Вы увидите, как изменится приготовленное блюдо!

            .b-main_row
                .b-main_cont
                    .b-main_col-wide
                        // Категории специй
                        .cook-spices-cat.cook-spices-cat__in
                            .cook-spices-cat_t Отлично подходит
                            ul.cook-spices-cat_ul
                                li.cook-spices-cat_li
                                    a.cook-spices-cat_a
                                        .ico-spices.ico-spices__1
                                        .cook-spices-cat_tx К мясу
                                li.cook-spices-cat_li
                                    a.cook-spices-cat_a
                                        .ico-spices.ico-spices__2
                                        .cook-spices-cat_tx К овощам и грибам
                                li.cook-spices-cat_li
                                    a.cook-spices-cat_a
                                        .ico-spices.ico-spices__3
                                        .cook-spices-cat_tx К бобовым
                                li.cook-spices-cat_li
                                    a.cook-spices-cat_a
                                        .ico-spices.ico-spices__4
                                        .cook-spices-cat_tx К крупам
                                li.cook-spices-cat_li
                                    a.cook-spices-cat_a
                                        .ico-spices.ico-spices__5
                                        .cook-spices-cat_tx К макаронам
                                li.cook-spices-cat_li
                                    a.cook-spices-cat_a
                                        .ico-spices.ico-spices__6
                                        .cook-spices-cat_tx К бобовым
                        // Категории специй

                .b-main_cont
                    .b-main_col-article.b-main_col-article__center
                        +customLikes('', customLikes.base)
                        +adv-yandex()
                        .margin-b40
      
        // Контент
    // b-main 
    +layout-footer-lite()

