.bossbirthday {
  margin: 0 auto 40px;
  display: none;
}
.bossbirthday .comment-add {
  width: 700px;
  margin: 0 auto;
}
.bossbirthday_t {
  margin: 20px 210px 30px;
  font-size: 25px;
  line-height: 25px;
  color: #795c95;
}
.bossbirthday_t__finish {
  margin-top: 60px;
  margin-bottom: 80px;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 35px;
}
.bossbirthday_compare {
  text-align: center;
  margin-bottom: 10px;
}
.bossbirthday_fact {
  margin: 20px 50px -10px 105px;
  border-left: 4px solid #d1d1d1;
  padding-left: 20px;
  min-height: 140px;
  position: relative;
}
.bossbirthday_fact__big {
  margin-left: 170px;
  padding-left: 30px;
}
.bossbirthday_fact:after {
  content: "";
  position: absolute;
  top: 0;
  left: -55px;
  width: 34px;
  height: 27px;
  background: url(/images/bossbirthday/bossbirthday_fact.jpg) no-repeat;
}
.bossbirthday_fact.bossbirthday_fact__big:after {
  width: 64px;
  height: 50px;
  left: -90px;
  background: url(/images/bossbirthday/bossbirthday_fact__big.jpg) no-repeat;
}
.bossbirthday_fact.bossbirthday_fact__big p {
  font-size: 30px;
  line-height: 33px;
}
.bossbirthday_fact p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 25px;
  line-height: 29px;
  color: #575758;
  margin: 0 0 10px;
}
.bossbirthday_row {
  margin: 0 50px;
}
.bossbirthday_desc {
  font-size: 20px;
  line-height: 24px;
  color: #abacac;
}
.bossbirthday_next {
  float: right;
  margin: 45px 0 0;
}
.bossbirthday_back {
  float: right;
  margin: 45px 0 0;
  width: 240px;
  height: 55px;
  background: url(/images/bossbirthday/bossbirthday_back.png) no-repeat;
}
.bossbirthday_checkbox {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.bossbirthday_label {
  float: right;
  width: 153px;
  height: 120px;
  margin: 0 40px;
  background: url(/images/bossbirthday/bossbirthday_label.png) no-repeat 0 -120px;
  cursor: pointer;
}
.bossbirthday_checkbox:checked + .bossbirthday_label {
  background-position: 0 0;
}
.bossbirthday_test-desc {
  float: left;
  width: 340px;
  padding: 30px 30px 0 0;
  font-size: 14px;
  line-height: 22px;
  color: #acacac;
}
.bossbirthday_test {
  float: left;
  width: 285px;
  height: 128px;
  background: url(/images/bossbirthday/bossbirthday_test.jpg) no-repeat;
  border: none;
  text-indent: -9999px;
}
