.ie7 .clearfix {zoom:1;position:relative;}

.ie7 .search .btn {margin-top:3px;margin-left:14px;}

.ie7 .inner.contest.winners .like-block .block {float:left;}

.ie7 .comments .c-header .left-s .col {top:-11px;}

.ie7 .comments {text-align:left;}

.ie7 .photo-block .item {border:1px solid red;width:auto;}
.ie7 .photo-block .item .mark {float:none;}

.ie7 #dialog .dialog-message {margin-right:20px;}

.ie7 .btn.btn-green-medium.btn-arrow-right img {display:inline;zoom:1;position:relative;left:8px;top:1px;}

.ie7 #profile .profile-form-in .row-inline {height:1%;}

.ie7 #profile .profile-form-in .row-inline .row-title {float:left;width:190px;}
.ie7 #profile .profile-form-in .row-inline .row-elements {float:left;width:460px;margin-top:-53px;}

.ie7 #profile .profile-form-in select {height:auto;}

.ie7 #profile .profile-form-in label input {position:relative;top:4px;}

.ie7 #profile .photo-upload .upload-btn, .ie7 #profile .photo-upload .left {display:inline;zoom:1;}

.ie7 .file-fake {width:200px;} 
.ie7 .file-fake input {opacity:1;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);background:#fff;border:1px solid #C9EAF1;line-height:30px;vertical-align:middle;}
.ie7 .file-fake .btn {display:none;}

.ie7 .pagination ul li {vertical-align:middle;}

.ie7 .pagination ul li.previous a, .ie7 .pagination ul li.next a {top:0;}

.ie7 #cart .info-form .row .row-elements {float:left;margin:0;width:670px;}

.ie7 #cart .payment-ways table {clear:none;}

.ie7 #cart .total .total-price dd {width:46%;}
.ie7 #cart .total .note dd {width:46%;}

.ie7 #cart .cart-items table tbody td.col-2 {width:300px;}

.ie7 #product .price-box .to-cart .btn {vertical-align:middle;}

.ie7 .side-filter .filter-box .box-title .icon {top:18px;}
.ie7 .side-filter .filter-box-toggled .box-title .icon {top:2px;}


.ie7 #user .user-meta .location .flag {vertical-align:middle;}

.ie7 #user .user-family .c {position:relative;zoom:1;}

.ie7 #user .user-horoscope .actions {margin-right:10px;}

#gallery .gallery-photos ul li.more {width:90px;}

.ie7 .like-btn .btn-icon {margin-right:10px;}

.ie7 .inner .settings-l a.remove {margin:10px 0 0 0;}

.ie7 .validate .right-v img {float:left;}
.ie7 .validate .right-v .remove {float:left;}

.ie7 .entry-content ul.tr_map li span {vertical-align:bottom;margin-top:2px;}
.ie7 .entry-content ul.tr_map li ul li {margin-top:2px;}

.ie7 .inner.contest .right-inner .sticker big {padding-top:20px;}

.ie7 #baby .article .age-features .title span {line-height:1}

.ie7 #baby .favor-services {position:relative;zoom:1;}
.ie7 #baby .all-about .block-in, .ie7 #baby .need-to-know .block-in {zoom:1;}

.ie7 #baby .more_about_cal {zoom:1;}

.ie7 .inner .settings-l select {margin:0 0px 0 10px;}

.ie7 .settings-l table.ingr_f_recipe_tb .remove {display:block;margin:0;}

.ie7 #baby .handbook_alfa ul.handbook_list {width:25%;float:left;}

.ie7 #baby .handbook_alfa .handbook_multi {height:1%;}

.ie7 #baby .handbook_names_alfa {height:1%}
.ie7 #baby .handbook_names_alfa ul li {width:33%;}

.ie7 #baby .handbook_alfa_popup .handbook_multi {height:1%;}
.ie7 #baby .handbook_alfa_popup ul.handbook_list {width:25%;float:left;}

.ie7 #baby .vaccination-tabs .nav li {margin-right:3px;}

.ie7 #baby .new-comment .new-hospital-bag-item input {vertical-align:middle;}

.ie7 #baby .pregnancy-weight-summary .block-in {zoom:1;}

.ie7 select.pregnancy_term {margin-top:30px;}

.ie7 #baby .pregnancy-weight-summary .weight-table > table > tbody > tr > td {width:25%;padding:0;}

.ie7 #baby .placenta_recomendation {zoom:1;}

.ie7 #baby .placenta_calculation input[type="text"] {}

.ie7 .content-search > span {float:left;width:125px;}
.ie7 .content-search form {float:left;margin:0;}

.ie7 #header-new {z-index:4;}
.ie7 #header-new .nav .drp {left:-10px;margin-top:-8px;}
.ie7 #header-new .nav .cols .col {margin-left:-1px;}

.ie7 #calories-calculator-daily .calculator .col .input input[type="text"] {*vertical-align:middle;}

.ie7 #cook .search .title .icon {vertical-align:baseline;}
.ie7 #cook .search .btn {top:-7px;}

.ie7 .btn .arr-r {top:-1px;margin-left:5px;left:5px;}

.ie7 .user-info .details .icon-status {top:0px;}

.ie7 #product-choose .product-choose-categories ul li {position:relative;right:-1px;}

.ie7 #cook-recipe .recipe-categories ul li.active {behavior:url('');}
.ie7 #cook-recipe .hrecipe .recipe-description ul li .nationality .flag {margin-right:4px;}

.ie7 .pagination ul li.selected img {display:none;}

.ie7 #cook-recipe-search .ingredients ul li .remove {top:-7px;}

.ie7 #spices .spices-categories ul li {position:relative;right:-1px;}
.ie7 #spices .chef-advice ul .num {behavior:url('');zoom:1;display:inline;height:auto;}
.ie7 #spices .chef-advice ul li {zoom:1;}

.ie7 #baby .age-list ul li a {position:relative;top:20px;}
.ie7 #baby .age-list ul li.active a, .ie7 #baby .age-list ul li a:hover {position:relative;top:15px;}
.ie7 #baby .age-list ul li .flag .icon {display:inline;zoom:1;float:none;vertical-align:top;}
.ie7 #baby .age-list ul li .icon-birthing {top:-48px;}
.ie7 #baby .age-list ul li .icon-pregnant {top:-23px;}

.ie7 #disease .disease-categories ul li.active {behavior:url('');}

.ie7 #repair-wallpapers .form .row.except .cut {position:relative;left:-15px;}

.ie7 .form .row-gallery .remove {top:-5px;margin-left:5px;}
.ie7 .form .row-gallery .add-gallery {top:-2px;margin-right:5px;}

.ie7 .default-nav ul li {padding-bottom:0;}

.ie7 #header-new .top-line {height:auto;}