#profile {color:#575757;padding-bottom:20px;}
#profile p {margin:1em 0;}

#profile .btn span {text-transform:none !important;}

#profile .user-box {float:left;font:11px tahoma, arial, sans-serif;color:#1ba3c4;margin-left:20px;}
#profile .user-box .ava {float:left;margin-right:8px;}

/*#profile .profile-title {font:40px/1 arial, sans-serif;color:#0281b0;padding:30px 0 30px 280px;}*/
#profile .subtitle {font:20px/1 arial, sans-serif;color:#0281b0;margin-bottom:20px;}

/*#profile .profile-nav {width:220px;float:left;margin-right:40px;}
#profile .profile-nav ul {background:#cff3f7;padding:20px 25px;}
#profile .profile-nav ul li {padding:6px 0;}
#profile .profile-nav ul li a {text-decoration:none;color:#0281b0;display:inline-block;*zoom:1;*display:inline;padding:2px 8px;}
#profile .profile-nav ul li.active a {background:#fffedf;}*/

#profile .bottom {text-align:right;padding-top:9px;border-top:1px solid #caf3f8;color:#808282;padding-bottom:9px;margin-top:20px;}
#profile .bottom .btn {vertical-align:middle;margin-left:8px;}
#profile .bottom input[type=checkbox] {position:relative;top:2px;}

#profile .line-title {color:#4c4d4d;font-size:16px;}
#profile div.line-title {padding:5px 0;}

#profile .black-list {}
#profile .black-list ul {list-style:none;}
#profile .black-list ul li {width:33%;float:left;padding-top:25px;color:#1ba3c4;font:11px tahoma, arial, sans-serif;}
#profile .black-list ul li .img-box {float:left;padding-right:8px;}
#profile .black-list ul li .img-box img {border:1px solid #dddddd;}
#profile .black-list ul li a.remove {color:#a9a6a6;text-decoration:none;display:inline-block;*zoom:1;*display:inline;padding-top:22px;margin-top:12px;position:relative;}
#profile .black-list ul li a.remove .icon {display:block;width:21px;height:18px;background:url(../images/common.png) no-repeat -1px -101px;position:absolute;top:1px;left:50%;margin-left:-10px;}

#profile .socials {}
#profile .socials ul {list-style:none;}
#profile .socials ul li {padding-bottom:10px;overflow:hidden;}
#profile .socials ul li .img-box {position:relative;float:left;margin-bottom:10px;margin-right:30px;}
#profile .socials ul li .img-box > img {display:block;border:1px solid #ddd;}
#profile .socials ul li .img-box .remove {display: block;width: 20px;height: 18px;background: url(../images/common.png) no-repeat -2px -101px;margin: 0 auto;position: absolute;top: 0;right: 0;}
#profile .socials ul li .name {color:#0281b0;font-size:12px;display:inline-block;*zoom:1;*display:inline;margin-top:20px;}

#profile .socials ul li .img-box label {position:absolute;right:-6px;bottom:-6px;display:block;width:24px;height:24px;background:url(../images/common.png) no-repeat 24px 24px;padding:0;}
#profile .socials ul li .img-box label.vkontakte {background-position:-561px -101px;}
#profile .socials ul li .img-box label.google {background-position:-587px -101px;}
#profile .socials ul li .img-box label.mailru {background-position:-613px -101px;}
#profile .socials ul li .img-box label.facebook {background-position:-561px -127px;}
#profile .socials ul li .img-box label.twitter {background-position:-587px -127px;}
#profile .socials ul li .img-box label.odnoklassniki {background-position:-613px -127px;}



#profile .row {padding-bottom:15px;font-family:tahoma;color:#939697;font-size:11px;line-height:normal;}
#profile .row .row-title {font-size:16px;color:#4c4d4d;margin-bottom:5px;}
#profile .row .col {display:inline-block;*zoom:1;*display:inline;margin-right:10px;}
#profile  label {font-size:12px;color:#575757;display:inline-block;*zoom:1;*display:inline;padding:2px 0;}
#profile .age {color:#0281b0;font-size:16px;font-family:arial;}
#profile  label input {margin:0 5px 0 0;position:relative;top:1px;}
#profile .row-inline {width:660px;line-height:46px;}
#profile .row-inline .row-title {float:left;}
#profile .row-inline .row-elements {margin-left:200px;}
#profile .row-inline input[type=text], #profile .row-inline input[type=password] {width:180px;}
#profile select {height:44px;padding-left:10px;border-color:#c9eaf1;}
#profile .row .row-elements .text {line-height:normal;padding-top:15px;font-size:12px;color:#575757;line-height:18px;}
#profile .row .row-elements .text .remove {border-radius: 8px;}
#profile .row .row-elements .text .remove {background:#F89731;color:white;display:inline-block;*zoom:1;*display:inline;padding:0px 8px;text-decoration:none;}
#profile .row .row-elements .text-inline {display:inline-block;*zoom:1;*display:inline;vertical-align:middle;line-height:normal;}

#profile input[type=text], #profile input[type=password] {vertical-align:middle;font:16px arial, sans-serif;color:#6bc3cd;border:1px solid #c9eaf1;height:20px;line-height:20px;padding:13px 12px;width:256px;background:#fff;font-weight:bold;color:#0281b0;margin-bottom:5px;}
#profile input[type=text].default-input {padding:5px 10px;border-color:#d4d4d4;width:155px;}
#profile .captcha {}
#profile .captcha .captcha-img {border:1px solid #c9eaf1;}
#profile .refresh {display:inline-block;*zoom:1;*display:inline;padding-right:22px;line-height:17px;color:#575757;text-decoration:none;margin-top:4px;position:relative;}
#profile .refresh .icon {width:18px;height:19px;display:block;position:absolute;right:0;top:50%;margin-top:-9px;background:url(../images/common.png) no-repeat -23px -100px;}

#profile .row-btn-right {text-align:right;}
#profile .row-btn-right button {position:relative;left:-10px;}

#profile .photo-upload {font-size:11px;color:#949696;}
#profile .photo-upload .left {width:160px;padding-right:30px;line-height:normal;display:inline-block;*zoom:1;*display:inline;vertical-align:top;}
#profile .photo-upload p {clear:left;}
#profile .photo-upload .img-box {position:relative;float:left;margin-bottom:15px;}
#profile .photo-upload .img-box img {display:block;border:1px solid #dddddd;}
#profile .photo-upload .img-box .remove {display: block;width: 20px;height: 18px;background: url(../images/common.png) no-repeat -2px -101px;margin: 0 auto;position: absolute;top: 0;right: 0;}

#profile .photo-upload .upload-btn {display:inline-block;*zoom:1;*display:inline;vertical-align:top;text-align:center;}
#profile .photo-upload .upload-btn .file-fake {margin-bottom:5px;}

#profile .access-list {}
#profile .access-list ul {list-style:none;}
#profile .access-list ul li {}
#profile .access-list ul li .radiogroup {display:inline-block;*zoom:1;*display:inline;vertical-align:top;padding-right:30px;}
#profile .access-list ul li input[type=checkbox], #profile .access-list ul li input[type=radio] {position:relative;top:2px;}

#profile .child {padding-bottom:30px;overflow:hidden;}
#profile .child .age-box {width:90px;text-align:center;float:left;}
#profile .child .age-box img {margin-bottom:15px;}
#profile .child .age-box span {background:#ffffd9;font:bold 11px tahoma, arial, sans-serif;padding:2px 8px;display:block;}
#profile .child .fill-form {text-decoration:none;border-bottom:1px dashed #51afc3;display:inline-block;*zoom:1;*display:inline;margin-top:25px;}
#profile .child .child-in {margin-left:120px;}
#profile .child .child-form {width:100%;overflow:hidden;padding-top:25px;display:none;}