

#registration {position:relative;width:820px;margin:0 auto;padding:60px 90px;}
#registration .registration-t {height:22px;background:url(../images/bg_registration_t.png) no-repeat;}
#registration .registration-b {height:22px;background:url(../images/bg_registration_b.png) no-repeat;}

#registration .wrapper {width:1008px;margin:0px auto;padding:80px 0;}
#registration .wrapper .wrapper-in {background:url(../images/bg_registration.png) repeat-y;padding:0 64px 40px;}


#registration .header {zoom:1;}

#registration .header .logo-box {}
#registration .header .logo-box .logo {display:block;width:198px;height:93px;background:url(../images/common.png) no-repeat 0 -200px;text-indent:-9999px;}

#registration .header .login-link {padding-top:20px;}
#registration .header .login-link .login-q {background:#fefeda;font:italic 14px/40px arial;display:inline-block;*zoom:1;*display:inline;padding:0 25px;margin-right:8px;vertical-align:middle;color:#575757;}

#registration .content {zoom:1;}

#registration .content .title {font:bold 25px arial, sans-serif;text-align:center;color:#0281b0;margin:30px 0;}

#registration .form .row {padding:0 0 15px 0;}
#registration .form input[type=text], #registration .form input[type=password] {width:430px;font-weight:bold;}
#registration .form .captcha input[type=text] {width:280px;}
#registration .form .captcha .a-right .row-elements {margin-left:0;}
#registration .form .row-title {float:left;width:110px;padding-top:15px;}
#registration .form .row-elements {margin-left:120px;}
#registration .form .form-bottom {padding-top:15px;margin-top:20px;}

#registration .form .form-in {width:574px;float:left;}

#registration .form-bottom {border-top:1px solid #caf3f8;}

#registration .login-social {padding:20px 10px 3px;border:1px solid #C9EAF1;color:#559cce;text-align:center;width:200px;}
#registration .login-social li {padding:7px 0;}
#registration .login-social ul {padding:10px 0;list-style:none;text-align:center;}
#registration .login-social li:first-child {margin-left:0;}

#registration .user-info {margin-top:15px;}

#registration .gender-select {width:280px;margin:0 auto;padding-top:50px;}
#registration .gender-select big {display:block;margin:50px 0 40px 60px;font:bold italic 20px arial, sans-serif;color:#2296b0;}
#registration .gender-select ul {list-style:none;}
#registration .gender-select ul li {padding:0 10px 20px;width:120px;text-align:center;float:left;color:#62b2bb;font-size:11px;position:relative;}
#registration .gender-select ul li .btn {position:absolute;right:-20px;top:0;}
#registration .gender-select ul li .info span {color:#575757;display:block;font:bold italic 14px/24px arial, sans-serif;}
#registration .gender-select .original {display:block;}
#registration .gender-select .selected {display:none;}
#registration .gender-select li.active .selected {display:block;}
#registration .gender-select li.active  .original {display:none;}
#registration .gender-select.selected .btn {display:none;}

#registration .members-count {float:left;width:500px;padding-left:40px;padding-top:50px;}
#registration .members-count big {display:block;margin:50px 0 90px;font:bold italic 20px arial, sans-serif;color:#0281B0;}
#registration .members-count big span {color:#79c2ca;font-size:20px;}
#registration .members-count .subtitle {color:#575757;}
#registration .members-count .subtitle span {font:bold italic 14px arial, sans-serif;display:block;margin-bottom:6px;}
#registration .members-count .subtitle p {padding:0 8px;margin-left:-8px;background:#ffffd9;display:inline-block;*zoom:1;*display:inline;line-height:22px;font-size:11px;color:#575757;}
#registration .members-count ul {list-style:none;}
#registration .members-count ul li {float:left;text-align:center;padding-right:21px;}
#registration .members-count ul li a {}
#registration .members-count ul .controls input[type=text] {width:26px;height:16px;padding:0;font-size:12px;font-weight:bold;text-align:center;line-height:16px;margin:0 6px;vertical-align:middle;}
#registration .members-count ul .controls .dec {display:inline-block;*zoom:1;*display:inline;width:10px;height:14px;background:url(../images/common.png) no-repeat -41px -100px;vertical-align:middle;cursor:pointer;}
#registration .members-count ul .controls .inc {display:inline-block;*zoom:1;*display:inline;width:10px;height:14px;background:url(../images/common.png) no-repeat -51px -100px;vertical-align:middle;cursor:pointer;}
#registration .members-count ul .img {height:200px;}
#registration .members-count ul .img .valign {display:inline-block;*zoom:1;*display:inline;height:200px;width:1px;vertical-align:bottom;}
#registration .members-count ul .img img {vertical-align:bottom;}
#registration .members-count ul .age-title {display:inline-block;*zoom:1;*display:inline;padding:0 10px;background:#ffffd9;font-family:tahoma, arial, sans-serif;color:#2296b0;line-height:20px;margin:5px 0 15px;}
#registration .members-count ul .age-title b {font-size:11px;}

#registration.finish .registration-t {background:url(../images/bg_registration_finish_t.png) no-repeat;}

#registration .finish-title {background:#e8fbfd;width:1000px;margin-left:-60px;text-align:center;color:#c5e9ed;font:bold italic 36px arial, sans-serif;padding:65px 0 100px}

#registration .features {text-align:center;width:421px;margin-top:50px;}
#registration .features .in {background:url(../images/bg_features.png) no-repeat;padding:12px;margin-top:10px;height:357px;}
#registration .features  big {font:25px tahoma, arial, sans-serif;}
#registration .features.features-club big {color:#a678d3;}
#registration .features.features-shop big {color:#41b3cc;}
#registration .features .img {margin-bottom:25px;}
#registration .features ul {list-style:none;overflow:hidden;padding-bottom:10px;}
#registration .features ul li {float:left;width:160px;padding-bottom:25px;text-align:left;padding-left:30px;}
#registration .features.features-club ul li {background:url(../images/marker_02.gif) no-repeat 7px 0;}
#registration .features.features-shop ul li {background:url(../images/marker_01.gif) no-repeat 7px 0;}

#registration .back-link {margin-top:50px;}
#registration .back-link .text {width:242px;height:34px;background:url(../images/bg_registration_backlink_text.gif) no-repeat;float:left;font:italic 13px arial, sans-serif;padding:15px 0;padding-left:40px;}
#registration .back-link .text .mdash {float:left;width:30px;text-align:right;position:relative;z-index:2;top:-2px;margin-left:-35px;}
#registration .back-link .product {margin-left:300px;border:1px solid #baf3f9;height:24px;position:relative;top:4px;padding:15px 20px;font:16px/24px tahoma, arial, sans-serif;color:#2296b0;}
#registration .back-link a {color:#2296b0;margin-left:10px;}
