html, body {height:100%;margin: 0;padding: 0;position:relative;font-family:arial;font-size:12px;line-height:18px;}

* {margin:0;padding:0;}

.wrapper {width:1000px;margin:0 auto;}

.clearfix:after {display:block;content:'.';height:0px;clear:both;line-height:0px;font-size:0px;}

textarea {overflow:auto;font-family:arial,sans-serif;}
::-webkit-input-placeholder {color: #ccc !important;font-weight: normal !important;}
:-moz-placeholder {color: #ccc !important;font-weight: normal !important;}
.placeholder { color: #ccc !important;font-weight: normal !important;}

.tab-box {display:none;}

table {border-collapse: collapse;border-spacing: 0;}

a {color:#427ac7;}
a:hover {text-decoration:none;}

a.pseudo {text-decoration:none;border-bottom:1px dashed #2371dd;}

.hidden {display:none !important;}
.visible {display:block !important;}

.header {margin-bottom: 30px;}
.header .logo {float: left;margin:0 20px 20px 40px;font-size:25px;color:#494949;position: relative;vertical-align: middle;}
.header .logo span {font-size:35px;color:#6d439d;font-weight:bold;}
.header .logo span span {font-size:30px;color:#a481c8;}
.header .logo .img {display:block;width:39px;height:73px;background:url(/images/seo_sprite.png) no-repeat -1px -120px;position:absolute;left:15px;top:0;z-index:-1;}
.header .logo .statistic-img {display:inline-block;*zoom:1;*display:inline;width:81px;height:81px;background:url(/images/seo_sprite.png) no-repeat 0 -282px;position:relative;top:20px;margin-right:10px;}

.drp-list {display:inline-block;*zoom:1;*display:inline;position:relative;font-size:13px;*z-index:11;}
.drp-list a.trigger {text-decoration:none;border-bottom:1px dashed #598DD6;color:#598DD6;font-size:16px;position:relative;z-index:1;}
.drp-list a.trigger:hover {border:0;}
.drp-list ul {padding:2px;border:1px solid #A9C8F3;position:absolute;top:100%;list-style:none;background:#fff;margin-top:5px;z-index:13; width:120px;}
.drp-list ul li a {display:block;padding:3px 10px 3px;text-decoration:none;color:#4b4d4d;}
.drp-list ul li a:hover {background:#6db4d9;color:#fff;}

.user-fast-nav {font-size:11px;font-family:tahoma, arial, helvetica, sans-serif;color:#a4cce8;line-height;12px;}
.user-fast-nav .more {text-decoration:none;border-bottom:1px dashed #427ac7;}

.user-fast-nav > ul {list-style:none;white-space:nowrap;}
.user-fast-nav > ul > li {float:left;padding-left:5px;margin-left:5px;border-left:1px solid #a4cce8;}
.user-fast-nav > ul > li:first-child {border-left:0;margin-left:0;padding-left:0;}
.user-fast-nav .drp-list {font-size:11px;}

.pagination {font-size:23px;padding:15px 0;color:#ababab;font-family:times new roman, serif;font-style:italic;line-height:1;}
.pagination.pagination-center {text-align:center;}
.pagination .pager {text-align:left;}
.pagination.pagination-center .pager {text-align:center;}
.pagination ul {list-style:none;}
.pagination ul li {display:inline-block;*zoom:1;*display:inline;padding:6px 8px;text-indent:0 !important;margin:0 !important;position:relative;}
.pagination ul li a {padding:0 3px;display:block;color:#45a5c9;}
.pagination ul li.selected {background:#f1e4fd;}
.pagination ul li.selected img {position:absolute;top:-9px;width:100%;left:0;height:9px;}
.pagination ul li.selected a {color:#7f8181;text-decoration:none;}
.pagination ul li.previous a, .pagination ul li.next a {}
.pagination ul li.next a {background-position:-157px -101px;}
.pagination .hidden {display:none;}

.btn-g {
	display: inline-block;
  *display: inline;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 13px;
  color: #fff;
	border:0;
  text-align: center;
	text-decoration:none;
  vertical-align: middle;
  cursor: pointer;
  background-color: #21a34a;
  *background-color: #21a34a;
  background-image: -ms-linear-gradient(top, #71e16c, #21a34a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#71e16c), to(#21a34a));
  background-image: -webkit-linear-gradient(top, #71e16c, #21a34a);
  background-image: -o-linear-gradient(top, #71e16c, #21a34a);
  background-image: linear-gradient(top, #71e16c, #21a34a);
  background-image: -moz-linear-gradient(top, #71e16c, #21a34a);
  background-repeat: repeat-x;
  
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#71e16c', endColorstr='#21a34a', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#71e16c', EndColorStr='#21a34a')";
	
	-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;
}

.btn-g.small {padding:2px 9px;font-size:11px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;font-weight:bold;}
button.btn-g.small {padding:2px 9px;}


.btn-g.orange {
	background-color: #ee7103;
  *background-color: #ee7103;
  background-image: -ms-linear-gradient(top, #fbad58, #ee7103);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbad58), to(#ee7103));
  background-image: -webkit-linear-gradient(top, #fbad58, #ee7103);
  background-image: -o-linear-gradient(top, #fbad58, #ee7103);
  background-image: linear-gradient(top, #fbad58, #ee7103);
  background-image: -moz-linear-gradient(top, #fbad58, #ee7103);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fbad58', endColorstr='#ee7103', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fbad58', EndColorStr='#ee7103')";
}

.btn-g.disabled {
	background-color: #d8d7d7;
  *background-color: #d8d7d7;
  background-image: -ms-linear-gradient(top, #eaeaea, #d8d7d7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eaeaea), to(#d8d7d7));
  background-image: -webkit-linear-gradient(top, #eaeaea, #d8d7d7);
  background-image: -o-linear-gradient(top, #eaeaea, #d8d7d7);
  background-image: linear-gradient(top, #eaeaea, #d8d7d7);
  background-image: -moz-linear-gradient(top, #eaeaea, #d8d7d7);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#eaeaea', endColorstr='#d8d7d7', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eaeaea', EndColorStr='#d8d7d7')";
}

.btn-green {display:inline-block;*zoom:1;*display:inline;text-decoration:none;height:41px;line-height:38px;border:1px solid #34ac51;background:url(/images/seo_sprite.png) repeat-x 0 -195px;color:#fff;padding:0 15px;font-size:26px;vertical-align:middle;cursor:pointer;white-space:nowrap;color:#fff !important;}
button.btn-green {height:43px;}
.btn-green {/*css3*/ -moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;behavior: url(/stylesheets/PIE.htc);}

/*.btn-green-small {display:inline-block;*zoom:1;*display:inline;text-decoration:none;height:18px;line-height:16px;border:1px solid #34ac51;background:url(/images/seo_sprite.png) repeat-x 0 -238px;color:#fff;font-weight:bold;padding:0 10px;font-size:11px;vertical-align:middle;cursor:pointer;white-space:nowrap;color:#fff !important;}
button.btn-green-small {height:20px;}
.btn-green-small { -moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;behavior: url(/stylesheets/PIE.htc);}*/

.btn-green-small {
    display: inline-block;
    *display: inline;
  *zoom: 1;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    *margin-left: .3em;
    border:0;
    text-align: center;
    text-decoration:none;
    cursor: pointer;
    font-size:11px;
    font-family: Tahoma, Arial, Verdana, sans-serif;
    vertical-align:middle;white-space:nowrap;color:#fff !important;
  width: auto; /* IE 7 input button fix */
  overflow: visible; /* IE7 input button fix */
  background: #21a34a; /* Old browsers */
  background: -moz-linear-gradient(top,  #71e16c 0%, #21a34a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#71e16c), color-stop(100%,#21a34a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #71e16c 0%,#21a34a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #71e16c 0%,#21a34a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #71e16c 0%,#21a34a 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #71e16c 0%,#21a34a 100%); /* W3C */
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
  behavior: url(/stylesheets/PIE.htc);
}
.ie7 .btn-green-small,
.ie8 .btn-green-small {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71e16c', endColorstr='#21a34a',GradientType=0 ); /* IE6-8 */}
.ie9 .btn-green-small {background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcxZTE2YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMWEzNGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); }
.btn-green-small:hover {
  background: #089735; /* Old browsers */
  background: -moz-linear-gradient(top,  #54cf4e 0%, #089735 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#54cf4e), color-stop(100%,#089735)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #54cf4e 0%,#089735 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #54cf4e 0%,#089735 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #54cf4e 0%,#089735 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #54cf4e 0%,#089735 100%); /* W3C */
}
.ie7 .btn-green-small:hover,
.ie8 .btn-green-small:hover {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54cf4e', endColorstr='#089735',GradientType=0 ); /* IE6-8 */}
.ie9 .btn-green-small:hover {background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU0Y2Y0ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwODk3MzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);}

.btn-green-27 {display:inline-block;*zoom:1;*display:inline;text-decoration:none;height:27px;line-height:27px;border:0;background:url(/images/seo_sprite.png) repeat-x 0 -365px;color:#fff !important;padding:0 10px;font-size:13px;vertical-align:middle;cursor:pointer;white-space:nowrap;}
.btn-green-27 {/*css3*/ -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;behavior: url(/stylesheets/PIE.htc);}

.btn-gray-small {display:inline-block;*zoom:1;*display:inline;text-decoration:none;height:18px;line-height:16px;border:1px solid #d1d1d1;background:url(/images/seo_sprite.png) repeat-x 0 -258px;color:#fff;font-weight:bold;padding:0 10px;font-size:11px;vertical-align:middle;cursor:pointer;white-space:nowrap;color:#fff !important;}
button.btn-gray-small {height:20px;}
.btn-gray-small {/*css3*/ -moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;behavior: url(/stylesheets/PIE.htc);}
.btn-gray-small:hover {background:url(/images/seo_sprite.png) repeat-x 0 -238px;border-color:#34ac51;}

.fast-val {width:20px;text-align:center;font-weight:bold;font-size:12px;border:1px solid #abc9ec;}

.ava, .ava img {/*css3*/ -moz-border-radius:36px;-webkit-border-radius:36px;border-radius:36px;behavior: url(/stylesheets/PIE.htc);}

.user-info {width:200px;position:relative;}
.user-info .ava {float:left;position:relative;width:72px;height:72px;background:url(/images/seo_sprite.png) no-repeat -99px -120px;display:block;}
.user-info .ava.small {width:24px;height:24px;background-position:-173px -120px;}
.user-info .details {margin-left:90px;width:auto;}
.user-info .details .username {text-decoration:none;}
.user-info .details .username:hover {text-decoration:underline;}

.user-info .details .btn-logout {text-align:right;padding-top:20px;}

 .user-info-center {width:350px;margin:0 auto 30px;}

.user-info .nav {position:absolute;width:220px;padding:5px;border:1px solid #c4e0f4;background:#fff;left:-6px;top:20px;}
.user-info .nav .block-title {width:70px;float:left;text-align:center;color:#606060;font-size:16px;margin-top:10px;}
.user-info .nav ul {margin-left:80px;list-style:none;}
.user-info .nav .btn-logout {border-top:1px solid #c4e0f4;margin-top:10px;text-align:right;padding-top:4px;padding-right:5px;}
.user-info .nav .btn-logout .logout {}
.user-info .nav .btn-logout .logout .icon {display:inline-block;*zoom:1;*display:inline;width:11px;height:12px;background:url(/images/seo_sprite.png) no-repeat -76px -93px;vertical-align:middle;position:relative;top:-1px;margin-right:5px;}


.center-title {font-size:13px;text-align:center;margin-bottom:30px;}
.center-title big {display:block;font-size:16px;font-weight:bold;color:#545353;}


#seo {padding-top:20px;padding-bottom:50px;}

#seo .icon-freq {display:inline-block;*zoom:1;*display:inline;width:14px;height:20px;background:url(/images/seo_sprite.png) no-repeat 0 -42px;}
#seo .icon-freq-1 {display:inline-block;*zoom:1;*display:inline;width:23px;height:23px;background:url(/images/seo_sprite.png) no-repeat 0 0px;vertical-align:middle;}
#seo .icon-freq-2 {display:inline-block;*zoom:1;*display:inline;width:23px;height:23px;background:url(/images/seo_sprite.png) no-repeat -23px 0px;vertical-align:middle;}
#seo .icon-freq-3 {display:inline-block;*zoom:1;*display:inline;width:23px;height:23px;background:url(/images/seo_sprite.png) no-repeat -46px 0px;vertical-align:middle;}
#seo .icon-freq-4 {display:inline-block;*zoom:1;*display:inline;width:23px;height:23px;background:url(/images/seo_sprite.png) no-repeat -69px 0px;vertical-align:middle;}
#seo .icon-yandex {display:inline-block;*zoom:1;*display:inline;width:16px;height:16px;background:url(/images/seo_sprite.png) no-repeat -1px -25px;}
#seo .icon-yandex-2 {display:inline-block;*zoom:1;*display:inline;width:28px;height:16px;background:url(/images/seo_sprite.png) no-repeat -19px -25px;}
#seo .icon-google {display:inline-block;*zoom:1;*display:inline;width:15px;height:16px;background:url(/images/seo_sprite.png) no-repeat -49px -25px;}
#seo .icon-rambler {display:inline-block;*zoom:1;*display:inline;width:25px;height:16px;background:url(/images/seo_sprite.png) no-repeat -66px -25px;}
#seo .icon-babyru {display:inline-block;*zoom:1;*display:inline;width:16px;height:16px;background:url(/images/seo_sprite.png) no-repeat -72px -43px;}
#seo .icon-babyru-2 {display:inline-block;*zoom:1;*display:inline;width:13px;height:16px;background:url(/images/seo_sprite.png) no-repeat -23px -63px;}
#seo .icon-comments {display:inline-block;*zoom:1;*display:inline;width:17px;height:13px;background:url(/images/seo_sprite.png) no-repeat -15px -43px;}
#seo .icon-add {display:inline-block;*zoom:1;*display:inline;width:17px;height:18px;background:url(/images/seo_sprite.png) no-repeat -34px -43px;vertical-align:middle;}
#seo .icon-remove {display:inline-block;*zoom:1;*display:inline;width:17px;height:18px;background:url(/images/seo_sprite.png) no-repeat -53px -43px;vertical-align:middle;}
#seo .icon-hat {display:inline-block;*zoom:1;*display:inline;width:20px;height:11px;background:url(/images/seo_sprite.png) no-repeat -1px -63px;vertical-align:middle;}
#seo .icon-moderator {display:inline-block;*zoom:1;*display:inline;width:25px;height:25px;background:url(/images/seo_sprite.png) no-repeat -38px -63px;vertical-align:middle;}
#seo .icon-admin {display:inline-block;*zoom:1;*display:inline;width:25px;height:25px;background:url(/images/seo_sprite.png) no-repeat -38px -90px;vertical-align:middle;}
#seo .icon-return {display:inline-block;*zoom:1;*display:inline;width:17px;height:18px;background:url(/images/seo_sprite.png) no-repeat -13px -81px;vertical-align:middle;margin-left:3px;margin-right:3px;}
#seo .icon-article {display:inline-block;*zoom:1;*display:inline;width:11px;height:11px;background:url(/images/seo_sprite.png) no-repeat -146px -17px;vertical-align:middle;margin-left:15px;position:relative;top:-1px;}
#seo .icon-link {display:inline-block;*zoom:1;*display:inline;width:20px;height:8px;background:url(/images/seo_sprite.png) no-repeat -102px -17px;vertical-align:middle;margin-left:3px;}
#seo .icon-link.active {background-position:-124px -17px;}
#seo .icon-updrag {display:inline-block;*zoom:1;*display:inline;width:16px;height:17px;background:url(/images/seo_sprite.png) no-repeat -13px -101px;vertical-align:middle;margin-left:3px;}
#seo .icon-up {display:inline-block;*zoom:1;*display:inline;width:9px;height:10px;background:url(/images/seo_sprite.png) no-repeat -81px -63px;vertical-align:middle;margin-right:3px;position:relative;top:-1px;}
#seo .icon-down {display:inline-block;*zoom:1;*display:inline;width:9px;height:10px;background:url(/images/seo_sprite.png) no-repeat -81px -75px;vertical-align:middle;margin-right:3px;position:relative;top:-1px;}
#seo .icon-arr-u {display:inline-block;*zoom:1;*display:inline;width:5px;height:7px;background:url(/images/seo_sprite.png) no-repeat -76px -107px;vertical-align:middle;position:relative;top:-1px;}
#seo .icon-arr-d {display:inline-block;*zoom:1;*display:inline;width:5px;height:7px;background:url(/images/seo_sprite.png) no-repeat -83px -107px;vertical-align:middle;position:relative;top:-1px;}
#seo .icon-plus {display:inline-block;*zoom:1;*display:inline;width:18px;height:14px;background:url(/images/seo_sprite.png) no-repeat -102px -1px;vertical-align:middle;position:relative;top:-1px;}
#seo .icon-arr-r {display:inline-block;*zoom:1;*display:inline;width:18px;height:14px;background:url(/images/seo_sprite.png) no-repeat -122px -1px;vertical-align:middle;margin-left:3px;}
#seo .icon-arr-r:hover {background-position:-142px -1px;}
#seo .icon-links-trigger {display:inline-block;*zoom:1;*display:inline;width:14px;height:13px;background:url(/images/seo_sprite.png) no-repeat -65px -78px;vertical-align:middle;position:relative;top:-2px;margin-left: 20px;}
#seo .icon-links-trigger.triggered {display:inline-block;*zoom:1;*display:inline;width:14px;height:13px;background:url(/images/seo_sprite.png) no-repeat -65px -63px;vertical-align:middle;}
#seo .icon-btn-add {display:inline-block;*zoom:1;*display:inline;width:16px;height:16px;background:url(/images/seo_sprite.png) no-repeat -42px -172px;vertical-align:middle;}
#seo .icon-date {display:inline-block;*zoom:1;*display:inline;width:18px;height:17px;background:url(/images/seo_sprite.png) no-repeat -60px -172px;vertical-align:middle;position:relative;top:-2px;}

#seo .icon-edit {display:inline-block;*zoom:1;*display:inline;width:14px;height:18px;background:url(../images/common.png) no-repeat -383px -204px;margin:0 auto;position:relative;text-decoration:none;font-weight:normal;z-index:3;vertical-align:middle;margin-left:10px;top:-2px;}
#seo .icon-edit:hover {background-position:-341px -136px;}

#seo .icon-blacklist {width:28px;height:28px;display:inline-block;*zoom:1;*display:inline;background:#5e5c5c;color:#fff;line-height:28px;text-align:center;font-size:12px;text-decoration:none;-moz-border-radius:14px;-webkit-border-radius:14px;border-radius:14px;}

#seo .icon-links {width:18px;height:18px;display:inline-block;*zoom:1;*display:inline;background:#fff;color:#686767;line-height:18px;text-align:center;font-size:11px;text-decoration:none;-moz-border-radius:20px;-webkit-border-radius:20px;border-radius:20px;font-weight:bold;border:1px solid #cfcfcf;}
#seo .icon-links:hover, 
#seo .icon-links.active {color:#fff;}
#seo .icon-links.link:hover, 
#seo .icon-links.link.active {background:#5488d0;border-color:#5488d0;}
#seo .icon-links.comment:hover, 
#seo .icon-links.comment.active {background:#6bc545;border-color:#6bc545;}
#seo .icon-links.post:hover, 
#seo .icon-links.post.active {background:#f18b2f;border-color:#f18b2f;}

#seo .icon-m {color:#f5811a;font-weight:bold;font-size:15px;}

#seo .icon-friend {display: inline-block;*zoom:1;*display:inline;width: 18px;height: 18px;vertical-align: middle;background: url(/images/icon-friend.png) no-repeat;margin-right: 3px;}
#seo .icon-popular {display: inline-block;*zoom:1;*display:inline;width: 18px;height: 18px;vertical-align: middle;background: url(/images/icon-heart-2.png) no-repeat 50% 50%;margin-right: 3px;}
#seo .icon-close {display:inline-block;*zoom:1;*display:inline;width:11px;height:11px;background: url("../images/common.png") no-repeat -315px -136px;position:relative;text-decoration:none;z-index:3;vertical-align:middle;}
#seo .icon-close:hover {background-position:-315px -149px;}

#seo .sup-h {color:#7340a2;font-weight:bold;font-size:11px;position:relative;top:-4px;margin-left:5px;}
#seo .sup {color:#59595a;font-size:8px;position:relative;top:-4px;margin-left:5px;}

#seo .remove {}

#seo .title {padding-top:50px;font-size:25px;color:#494949;margin-left:40px;margin-bottom:40px;position:relative;}
#seo .title span {font-size:35px;color:#6d439d;font-weight:bold;}
#seo .title span span {font-size:30px;color:#a481c8;}
#seo .title .img {display:block;width:39px;height:73px;background:url(/images/seo_sprite.png) no-repeat -1px -120px;position:absolute;left:15px;top:0;z-index:-1;}
#seo .title .statistic-img {display:inline-block;*zoom:1;*display:inline;width:81px;height:81px;background:url(/images/seo_sprite.png) no-repeat 0 -282px;position:relative;top:20px;margin-right:10px;margin-top:-60px;}

#seo .title .user-info {position:absolute;left:100px;top:10px;font-size:12px;}
#seo .title .user-info .details {margin-left:30px;}
#seo .title .user-info a {color:#38a5f4;}
#seo .title .user-info .username .arr {display:inline-block;*zoom:1;*display:inline;width:9px;height:7px;background:url(/images/seo_sprite.png) no-repeat -65px -102px;margin-left:5px;}

.default-nav {position:relative;z-index:2}
.default-nav ul {overflow:hidden;list-style:none;}
.default-nav ul li {display:inline-block;*zoom:1;*display:inline;padding:0 10px 15px;height:24px;line-height:24px;width:70px;text-align:center;position:relative;}
.default-nav ul li a {height:16px;line-height:16px;display:inline-block;*zoom:1;*display:inline;margin:4px 0;}
.default-nav.ajax-nav ul li a {border-bottom:1px dashed #427ac7;text-decoration:none;}
.default-nav ul li a:hover {border:0;text-decoration:none;}
.default-nav ul li.active {background:#f1e4fd;}
.default-nav ul li.active:after {display:block;content:'';position:absolute;left:0;bottom:0;width:90px;height:11px;background:url(/images/default_nav_active.gif) no-repeat;}
.default-nav ul li.active a {border:0;cursor:default;text-decoration:none;}

#seo .fast-nav {float:left;padding-left:40px;}
#seo .fast-nav ul {list-style:none;margin-left:-10px;}
#seo .fast-nav ul li {float:left;padding:0 10px;border-left:1px solid #323334;}
#seo .fast-nav ul li:first-child {border-left:0;}
#seo .fast-nav ul li a {}
#seo .fast-nav ul li.active a {color:#323334;text-decoration:none;}
#seo .fast-nav ul li .remove {display:inline-block;*zoom:1;*display:inline;background:url(/images/seo_sprite.png) no-repeat -1px -81px;width:10px;height:11px;margin-left:6px;}
#seo .fast-nav ul li .remove:hover {background-position:-1px -94px;}

#seo .default-nav {float:right;margin-right:20px;margin-top:15px;clear: right;}
#seo .default-nav ul {overflow:visible;}
#seo .default-nav ul li {width:auto;position:relative;}
#seo .default-nav ul li.active:after {display:none;}
#seo .default-nav ul li.active .tale img {display:block;position:absolute;width:100%;height:11px;bottom:0px;left:0;}
#seo .default-nav ul li .count {position:absolute;width:60px;height:60px;border:3px solid #fff;left:50%;margin-left:-33px;top:30px;}
#seo .default-nav ul li .count {/*css3*/ border-radius:33px;behavior: url(/stylesheets/PIE.htc);}
#seo .default-nav ul li .count a {display:block;width:56px;height:56px;border:2px solid #ecdcfb;text-align:center;line-height:56px;margin:0;font-size:25px;text-decoration:underline;background:#fff;cursor:pointer;}
#seo .default-nav ul li .count a {/*css3*/ border-radius:33px;behavior: url(/stylesheets/PIE.htc);}
#seo .default-nav ul li .count a:hover {text-decoration:none;}
#seo .default-nav .date {color:#6a6a6a;font:normal 11px tahoma, arial, helvetica, sans-serif;margin-right:10px;}

#seo .search {padding-left:40px;color:#474748;margin-bottom:30px;}
#seo .search .input {width:430px;float:left;}
#seo .search .input label {display:block;font-size:13px;margin-bottom:10px;padding-left:10px;}
#seo .search .input input[type=text] {border:1px solid #cdb7e4;padding:3px 9px;width:330px;margin:0;margin-right:5px;vertical-align:middle;}
#seo .search .input .remove {display:block;background:url(/images/seo_sprite.png) no-repeat -1px -81px;width:10px;height:11px;float:left;margin-left:-20px;margin-top:5px;}
#seo .search .input .remove:hover {background-position:-1px -94px;}
#seo .search .result {width:370px;float:left;text-align:center;}
#seo .search .result label {display:block;font-size:13px;margin-bottom:10px;}
#seo .search .result label a {font-size:12px;}
#seo .search .result span {margin:0 10px;line-height:24px;font-size:11px;}
#seo .search .result span i {position:relative;top:-2px;}
#seo .search .result span.active a {text-decoration:none;background:#fbf1ba;padding:0 5px;}
#seo .search .result-filter {width:120px;float:left;text-align:center;}
#seo .search .result-filter label {font-size:11px;line-height:1;}
#seo .search .result-filter label input {margin-top:5px;}

#seo .add-article {background:#f1e8fa;padding:15px 20px 20px;margin-bottom:40px;	}
#seo .add-article .block-title {color:#505050;font-size:25px;margin-bottom:10px;line-height:1;}
#seo .add-article .num {font-size:13px;color:#5d338c;line-height:normal;height:60px;}
#seo .add-article .num span {font-size:50px;font-weight:bold;color:#b9a0d4;margin-right:5px;}
#seo .add-article .arrow {width:55px;background:url(/images/seo_sprite.png) no-repeat -42px -120px;float:left;height:50px;margin:75px 15px 0;}
#seo .add-article .step-1 {float:left;width:420px;}
#seo .add-article .step-1 textarea {padding:10px 14px;overflow:auto;width:390px;border:1px solid #d8c7ea;height:65px;font-size:12px;max-width:390px;}
#seo .add-article .step-2 {float:left;width:420px;}
#seo .add-article .step-2 input {padding:5px 9px;overflow:auto;width:320px;border:1px solid #d8c7ea;font-size:13px;background:#fff;vertical-align:middle;margin-right:10px;margin-top:20px;color:#2881d4;}
#seo .add-article .step-2 .btn {vertical-align:middle;margin-top:20px;}

#seo .seo-table {margin-bottom:30px;}

#seo .seo-table .table-title {display:inline-block;*zoom:1;*display:inline;margin-right:30px;font-size:16px;margin-bottom:20px;margin-left:20px;color:#323334;}

#seo .seo-table .table-inline-title {float:left;width:444px;color:#3f8ccd;font-size:16px;text-align:center;margin:40px 0;}

#seo .seo-table .fast-filter {text-align:center;margin-bottom:10px;color:#0784d3;font-size:13px;}
#seo .seo-table .fast-filter span {color:#4f4f4f;}
#seo .seo-table .fast-filter a {font-size:11px;font-family:tahoma, arial, helvetica, sans-serif;margin:0 5px;}
#seo .seo-table .fast-filter .active {background:#fffe93;text-decoration:none;padding:0 5px;}
#seo .seo-table .fast-filter input[type=text] {border:1px solid #aecdf2;font-size:11px;line-height:13px;height:13px;padding:2px 5px;width:60px;font-family:tahoma, arial, helvetica, sans-serif;margin:0 5px;vertical-align:middle;}

#seo .seo-table .fast-filter-community {font-size:11px;font-family:tahoma, arial, helvetica, sans-serif;color:#b3b1b1;}
#seo .seo-table .fast-filter-community a {margin:0 7px;}
#seo .seo-table .fast-filter-community span {margin:0 7px;color:#b3b1b1;}
#seo .seo-table .fast-filter-community span.active {margin:0;color:#333;}

#seo .seo-table .table-nav {display:inline-block;*zoom:1;*display:inline;margin-bottom:20px;overflow:hidden;}
#seo .seo-table .table-nav ul {}
#seo .seo-table .table-nav ul li {display:inline-block;*zoom:1;*display:inline;padding:10px 20px;}
#seo .seo-table .table-nav ul li a {border-bottom:1px dashed #427ac7;text-decoration:none;}
#seo .seo-table .table-nav ul li .count {color:#427ac7;position:relative;top:-4px;font-size:13px;}
#seo .seo-table .table-nav ul li.new.active {background:#49b9e5;}
#seo .seo-table .table-nav ul li.correction.active {background:#fea351;}
#seo .seo-table .table-nav ul li.publish.active {background:#fed547;}
#seo .seo-table .table-nav ul li.check.active {background:#6bc545;}
#seo .seo-table .table-nav ul li.process.active {background:#a582c7;}
#seo .seo-table .table-nav ul li.active a {color:#fff;border:0;}
#seo .seo-table .table-nav ul li.active .count {color:#fff;}

#seo .seo-table .meta {text-align:right;font-size:13px;padding-right:5px;padding-bottom:5px;}
#seo .seo-table .meta span {margin-left:20px;}

#seo .seo-table .table-box {border:1px solid #d0e3fc;padding:2px 2px 3px;}
#seo .seo-table .table-box table {width:100%;}
#seo .seo-table .table-box table th {vertical-align:middle;background:#d9eafe;font-size:13px;color:#0b509b;font-weight:normal;padding:10px 15px;border:1px solid #fff;text-align:left;line-height:13px;}
#seo .seo-table .table-box table td {vertical-align:middle;padding:10px 15px;border:1px solid #f5f5f5;border-bottom:0;border-right:0;}
#seo .seo-table .table-box table tbody tr:first-child td {border-bottom:0;}
#seo .seo-table .table-box table tbody tr td:first-child {border-left:0;}
#seo .seo-table .table-box table .col-1 {text-align:center;}
#seo .seo-table .table-box table tbody .col-1 {font-weight:bold;}

#seo .seo-table.table-green {border-color:#deeeda;}
#seo .seo-table.table-green .table-box table th {background:#deeeda;color:#37921a;}

#seo .seo-table .table-grey tbody td {color:#565757;}

#seo .hl {background:#fcee76;padding:1px 0;}

#seo .seo-table .table-box table .al {text-align:left;}
#seo .seo-table .table-box table .ac {text-align:center;}



#seo .table-promotion {}
#seo .table-promotion table tbody td {padding:5px 10px !important;}
#seo .table-promotion table tbody tr:hover td.row-col {background:none !important;}
#seo .table-promotion-links tr:hover td {background:#f5fcf3;}
#seo .table-promotion-links tr.active td {background:#c8ebc1 !important;}


#seo .table-result {}
#seo .table-result .table-box table td, #seo .table-result .table-box table th {text-align:center;padding:10px 5px;font-size:11px;font-family:tahoma, arial, helvetica, sans-serif;}
#seo .table-result .table-box table .col-1 {font-weight:normal !important;text-align:left;padding:10px 10px;font-size:13px;font-family:arial, helvetica, sans-serif;}

#seo .table-result .table-box tr.on-site td {background:#f1e4fd;}
#seo .table-result .table-box tr.in-work td {background:#dafacc;}
#seo .table-result .table-box tr.in-buffer td {background:#e1efff;}

#seo .table-tasks {width:550px;margin-bottom:50px;}
#seo .table-tasks .table-box table  td, #seo .table-tasks .table-box table  th {text-align:center;}
#seo .table-tasks .table-box table  td.col-1, #seo .table-tasks .table-box table  th.col-1 {text-align:left;vertical-align:middle;font-weight:normal;}
#seo .table-tasks .table-box table  th.col-1 {padding-left:35px;}


#seo .tasks-manager {float:right;width:406px;padding:30px 2px;border:1px dashed #cbcaca;margin-top:45px;margin-bottom:50px;}
#seo .tasks-manager {/*css3*/ -webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;behavior: url(/stylesheets/PIE.htc);}

#seo .tasks-manager .drag-text {display:block;padding-left:100px;color:#bababa;font-size:25px;line-height:normal;min-height:80px;position:relative;margin:50px 0 30px 90px;}
#seo .tasks-manager .drag-text .arrow {display:block;width:68px;height:78px;background:url(/images/seo_sprite.png) no-repeat -94px -30px;position:absolute;left:0;top:0;}

#seo .tasks-manager .task-box {padding:5px 20px;position:relative;}
#seo .tasks-manager .task-box:hover {background:#f2f8fe;}
#seo .tasks-manager .task-box .remove {display:none;position:absolute;top:5px;right:15px;background:url(/images/seo_sprite.png) no-repeat -1px -81px;width:10px;height:11px;}
#seo .tasks-manager .task-box .remove:hover {background-position:-1px -94px;}
#seo .tasks-manager .task-box:hover .remove {display:block;}

#seo .tasks-manager .buttons {padding-top:40px;text-align:center;}
#seo .tasks-manager .buttons .admins {display:inline-block;*zoom:1;*display:inline;vertical-align:top;position:relative;}
#seo .tasks-manager .buttons .admins ul {list-style:none;text-align:right;border:1px solid #f5e9ab;background:#fffbe2;padding:11px 1px 6px;position:absolute;right:0;top:40px;}
#seo .tasks-manager .buttons .admins ul li a {display:block;padding:2px 10px;color:#959494;text-decoration:underline;white-space:nowrap;}
#seo .tasks-manager .buttons .admins ul li a:hover {background:#fcf2c0;color:#767575;}
#seo .tasks-manager .buttons .btn-admins {display:inline-block;*zoom:1;*display:inline;width:106px;height:45px;background:url(/images/seo_sprite.png) no-repeat -164px -1px;position:relative;z-index:2;}
#seo .tasks-manager .buttons .btn-moderators {display:inline-block;*zoom:1;*display:inline;width:106px;height:45px;background:url(/images/seo_sprite.png) no-repeat -164px -48px;position:relative;z-index:2;margin-left:25px;}

#seo .drag {display:inline-block;*zoom:1;*display:inline;width:6px;height:27px;background:url(/images/seo_sprite.png) no-repeat -94px -1px;border:5px solid #e6f1ff;cursor:move;margin-right:6px;vertical-align:middle;}

#seo .seo-table .freq-val {display:inline-block;*zoom:1;*display:inline;width:30px;text-align:left;vertical-align:middle;position:relative;top:2px;}
#seo .seo-table .admin-name {vertical-align:middle;display:inline-block;*zoom:1;*display:inline;line-height:1;margin-left:5px;width:100px;position:relative;top:1px;}

#seo .current-tasks {width:700px;margin:0 auto;}

#seo .table-report .table-box tbody td, #seo .table-report .table-box tbody th {vertical-align:middle;text-align:center;}

#seo input[type=text].placing {padding:0px 9px;overflow:auto;width:300px;border:1px solid #d8c7ea;font-size:13px;background:#fff;vertical-align:middle;color:#2881d4;height:20px;}
#seo input[type=text].example {padding:0px 9px;overflow:auto;width:300px;border:1px solid #c4daf4;font-size:13px;background:#fff;vertical-align:middle;color:#2881d4;height:20px;margin:2px 0;}

#seo .table-report td.seo-status-new-1 {background:#bfecfe !important;}
#seo .table-report td.seo-status-new-2 {background:#8ddefe !important;}

#seo .table-report td.seo-status-correction-1 {background:#fee1c8 !important;}
#seo .table-report td.seo-status-correction-2 {background:#ffcda2 !important;}

#seo .table-report td.seo-status-publish-1 {background:#fff9d4 !important;}
#seo .table-report td.seo-status-publish-2 {background:#fcf1ad !important;}

#seo .table-report td.seo-status-check-1 {background:#e0fcd4 !important;}
#seo .table-report td.seo-status-check-2 {background:#baeaa5 !important;}

#seo .table-report td.seo-status-author-1 {background:#eefde7 !important;}
#seo .table-report td.seo-status-author-2 {background:#d0f5bf !important;}
#seo .table-report td.seo-status-author-3 {background:#abe391 !important;}
#seo .table-report td.seo-status-author-4 {background:#88d265 !important;}


#seo .article-ready {margin-top:30px;}
#seo .article-ready .block-title {color:#505050;font-size:18px;margin-bottom:10px;line-height:1;margin-left:10px;}
#seo .article-ready input[type=text] {padding:3px 9px;overflow:auto;width:320px;border:1px solid #d8c7ea;font-size:13px;background:#fff;vertical-align:middle;margin-right:30px;color:#2881d4;height:20px;line-height:20px;}
#seo .article-ready .text {display:inline-block;*zoom:1;*display:inline;width:50%;color:#505050;font-size:18px;margin-bottom:10px;margin-left:10px;vertical-align:middle;}


#seo #login {width:400px;padding:30px 40px;border:1px solid #cdcdcd;margin:150px auto 0;}
#seo #login .title {text-align:center;margin-left:0;}
#seo #login .title .img {left:50%;margin-left:-75px;}
#seo #login .row {margin-bottom:10px;}
#seo #login .row label {color:#575757;font-size:18px;display:inline-block;*zoom:1;*display:inline;width:80px;}
#seo #login .row input[type=text], #seo #login .row input[type=password]{height:24px;padding:10px 15px;border:1px solid #ecdffa;width:265px;}
#seo #login .row.row-btn {padding-top:10px;margin-bottom:0;text-align:center;}
#seo #login .row.row-btn .btn-green {padding:0 25px;}

#seo #login .user-info {margin:0 auto;}

#seo #login .user-nav {margin-top:50px;}
#seo #login .user-nav .block-title {width:200px;text-align:center;color:#818080;font-size:30px;line-height:normal;float:left;}
#seo #login .user-nav ul {margin-left:240px;list-style:none;}
#seo #login .user-nav ul li {padding:5px 0;}
#seo #login .user-nav ul li a:after {display:inline-block;*zoom:1;*display:inline;content:'';width:8px;height:7px;background:url(/images/seo_sprite.png) no-repeat -65px -93px;margin-left:5px;}


#seo .positions {background:#fdf9d6;padding:15px 20px;border:1px solid #f3eca9;margin:20px 0 0 500px;float:left;}
#seo .positions {/*css3*/ border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
#seo .positions .block-title {color:#6c6b6b;margin-bottom:10px;text-align:center;}
#seo .positions .block-title i {vertical-align:middle;position:relative;top:-1px;margin-left:3px;}
#seo .positions ul {list-style:none;}
#seo .positions ul li {}
#seo .positions ul li .num {display:inline-block;*zoom:1;*display:inline;font-size:11px;width:40px;text-align:right;}
#seo .positions ul li .date {display:inline-block;*zoom:1;*display:inline;font-size:9px;color:#a7a8a8;font-family:tahoma, arial, helvetica, sans-serif;width:55px;text-align:center;}

#seo .donors {background:#fdf9d6;padding:15px 20px;border:1px solid #f3eca9;margin:20px 0 0 30px;float:left;width:250px;}
#seo .donors .block-title {color:#6c6b6b;margin-bottom:10px;}
#seo .donors {/*css3*/ border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
#seo .donors a {white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;}
#seo .donors ul {list-style:none;font-size:9px;font-family:tahoma, arial, helvetica, sans-serif;line-height:12px;}
#seo .donors ul li {margin:10px 0;}


#seo .promotion-links {margin-bottom:50px;}
#seo .promotion-links .step {float:left;padding-right:60px;width:260px;}
#seo .promotion-links .step.step-1 {width:350px;}
#seo .promotion-links .step.step-1 .col-1 {width:220px;float:left;padding:0 10px;	}
#seo .promotion-links .step.step-1 .col-2 {width:100px;float:left;text-align:center;}
#seo .promotion-links .step .block-title {font-weight:bold;color:#339c45;font-size:30px;margin-bottom:15px;}
#seo .promotion-links .step .list-title .col-1 {width:240px;padding:0;}
#seo .promotion-links .step .list {margin-bottom:20px;}
#seo .promotion-links .step .list .list-title {font-size:13px;color:#535353;font-weight:bold;margin-bottom:15px;overflow:hidden;}
#seo .promotion-links .step .list .list-title .col-2 {font-size:10px;font-weight:normal;margin-left:10px;}
#seo .promotion-links .step .list .col-2 {font-size:11px;}
#seo .promotion-links .step .list ul {list-style:none;overflow:hidden;}
#seo .promotion-links .step .list ul li {padding:4px 0 4px 8px;overflow:hidden;border:1px solid #fff;cursor:pointer;}
#seo .promotion-links .step .list ul li:hover {background:#f5fcf3;border:1px dashed #b5cfac;}
#seo .promotion-links .step .list ul li.active {background:#c8ebc1;}
#seo .promotion-links .step.step-2 .list ul {border:1px solid #d2e6fd;padding:2px;}
#seo .promotion-links .step .input {}
#seo .promotion-links .step .input .input-title {font-size:13px;color:#535353;font-weight:bold;margin-bottom:5px;overflow:hidden;}
#seo .promotion-links .step .input input {height:18px;padding:2px 10px;border:1px solid #c6dffc;width:238px;}
#seo .promotion-links .btn {margin-top:70px;float:left;text-align:center;}
#seo .promotion-links .btn .btn-green {margin-bottom:5px;}
#seo .promotion-links .btn .skip {color:#676767;font-size:13px;text-decoration:none;border-bottom:1px dashed #676767;}

#seo .inner-links-count {font-weight:bold;font-size:16px;margin:0 0 25px 65px;color:#535353;}
#seo .inner-links-count span {color:#f27c26;font-size:20px;}
#seo .inner-links-count a {font-size:11px;font-weight:normal;margin-left:5px;}


#seo .seo-table .table-statistic table {width:100%;font-size:11px;font-family:tahoma, arial, helvetica, sans-serif;text-align:center;}
#seo .seo-table .table-statistic table th {vertical-align:middle;background:#d9eafe;color:#3670b0;font-weight:normal;padding:10px 15px;border:1px solid #fff;line-height:13px;font-size:11px;text-align:center;}
#seo .seo-table .table-statistic table td {vertical-align:top;padding:10px 15px;border:1px solid #f5f5f5;border-bottom:0;border-right:0;text-align:center;}

#seo .seo-table .table-box tr:hover td {background:#f2f8fe;}

#seo .seo-table .table-box .big {font-size:13px;font-family:arial, helvetica, sans-serif;}
#seo .seo-table .table-box th .big {color:#0b509b;}

#seo .seo-table .table-box .total td {background:#fbf3e1 !important;color:#c5581c !important;font-weight:bold;}

#seo .seo-table .table-box .date {display:block;font-size:11px;color:#ad76df;margin-bottom:5px;}


#seo .indexation {padding:20px 0;}

#seo .indexation .block-title {font-size:22px;color:#0b509b;font-weight:bold;text-align:center;margin-bottom:20px;}

#seo .indexation .date {width:200px;margin-left:400px;float:left;text-align:center;}
#seo .indexation .dates {float:left;width:400px;}
#seo .indexation .dates ul {font-size:14px;list-style:none;}
#seo .indexation .dates ul li {float:left;padding:0 10px;}
#seo .indexation .dates ul li a {color:#727173;text-decoration:none;}
#seo .indexation .dates ul li.active a {color:#030303;padding:0 5px;background:#fffe93;}

#seo .indexation .text {font-size:17px;color:#514f4f;text-align:center;padding:30px 0 20px;}
#seo .indexation .text span {color:#030303;font-weight:bold;margin-right:20px;}
#seo .indexation .text .red {color:#f2602c;}
#seo .indexation .text p {padding:15px 0;}

#seo .task-list {list-style:none;font-size:22px;color:#515151;}
/*#seo .task-list a {color:#427ac7;}*/
#seo .task-list > li {padding:15px 0;}
#seo .task-list .table-task {width:100%;}
#seo .task-list .table-task .col-1 {padding-left:40px;}
#seo .task-list .table-task .col-1 .pseudo {font-size:11px;margin-left:10px;}
#seo .task-list .table-task .col-2 {width:140px;text-align:center;}
#seo .task-list .table-task .col-3 {font-size:13px;width:140px;text-align:center;}
#seo .task-list .table-task .place {display:inline-block;*zoom:1;*display:inline;height:17px;line-height:17px;padding:0 8px;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;}
#seo .task-list .table-task .place-1 {background:#f8cb30;color:#fff;}
#seo .task-list .table-task .place-2 {background:#5488d0;color:#fff;}
#seo .task-list .table-task .place-3 {background:#6bc545;color:#fff;}
#seo .task-list .table-task .col-4 {font-size:11px;width:180px;}
#seo .task-list .table-box {margin-top:15px;}

#seo td.task-done {background:#eefde7 !important;}
#seo td.task-not-done {background:#fef1ea !important;}
#seo td.task-overdone {background:#b5ef9a !important;}
#seo tr.task-red td {background:#fee6e6 !important;}
#seo span.task-done {color:#50a421;font-weight:bold;}

#seo .seo-table .table-box tr:hover td {background:#f2f8fe;}

#seo .task-list .task {font-size:13px;line-height:normal;padding-left:40px;}
#seo .task-list .task .item-title {font-size:22px;margin-right:10px;line-height:1;}
#seo .task-list .task .progress {width:100px;border:1px solid #47a3dd;height:21px;display:inline-block;*zoom:1;*display:inline;position:relative;top:5px;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;overflow:hidden;margin-left:10px;}
#seo .task-list .task .progress span {display:block;height:21px;background:#a7dafe;}
#seo .task-list .task .done {display:inline-block;*zoom:1;*display:inline;color:#3fb550;font-size:13px;margin-left:5px;}
#seo .task-list .task .done .icon {display:inline-block;*zoom:1;*display:inline;width:11px;height:8px;background:url(/images/first_steps_done.png) no-repeat;margin-right:5px;}
#seo .task-list .task .date {display:inline-block;*zoom:1;*display:inline;color:#b6b9ba;font:normal 9px tahoma, arial, helvetica, sans-serif;margin-left:5px;}
#seo .task-list .task ul {list-style:none;padding:10px 25px;}
#seo .task-list .task ul li {padding:5px 0;}
#seo .task-list .task .next {color:#ff5e26;font-size:22px;margin-right:17px;}
#seo .task-list .task .btn-green-small {margin-left:10px;}
#seo .task-list .task .skip {margin-left:10px;color:#8a898b;font-size:11px;}
#seo .task-list .icon-close {margin-right:40px;}

#seo .table-cook .table-box table th, #seo .table-cook .table-box table td {text-align:center;vertical-align:middle;}

#seo .btn-cooks-container {display:inline-block;*zoom:1;*display:inline;vertical-align:top;position:relative;}
#seo .btn-cooks-container ul {list-style:none;text-align:right;border:1px solid #f5e9ab;background:#fffbe2;padding:11px 1px 6px;position:absolute;right:0;top:47px;z-index: 10;}
#seo .btn-cooks-container ul li {position:relative;}
#seo .btn-cooks-container ul li a {display:block;padding:2px 18px;color:#959494;text-decoration:underline;white-space:nowrap;}
#seo .btn-cooks-container ul li a:hover {background:#fcf2c0;color:#767575;}
#seo .btn-cooks-container ul li .count {position:absolute;right:0px;top:-2px;width:16px;text-align:left;color:#a56227;font-weight:bold;font-size:10px;}
#seo .btn-cooks-container .btn-cooks {display:inline-block;*zoom:1;*display:inline;width:106px;height:45px;background:url(/images/seo_sprite.png) no-repeat -164px -282px;position:relative;z-index:2;}

#seo .cook-recipes {width:580px;margin-bottom:50px;}
#seo .cook-recipes .btn {float:right;width:200px;margin-top:40px;text-align:right;}
#seo .cook-recipes .btn button {text-indent:-9999px;width:141px;height:82px;background:url(/images/seo_sprite.png) no-repeat -129px -394px;border:0;cursor:pointer;}
#seo .cook-recipes .input {margin-bottom:25px;}
#seo .cook-recipes .input label {display:block;color:#474748;font-size:13px;margin-bottom:10px;}
#seo .cook-recipes .input input {padding:2px 9px;overflow:auto;width:300px;border:1px solid #d8c7ea;font-size:13px;background:#fff;vertical-align:middle;color:#2881d4;height:20px;margin-bottom:5px;}
#seo .cook-recipes .input input.item-title {color:#474748;}

#seo .cook-recipes-today {color:#474748;width:580px;}
#seo .cook-recipes-today .block-title {text-align:center;}
#seo .cook-recipes-today .block-title span {font-size:18px;}
#seo .cook-recipes-today .block-title a {margin-left:30px;}
#seo .cook-recipes-today ol {}
#seo .cook-recipes-today ol li {margin:5px 0;}




#seo .ext-links-add {padding:0 140px;}

#seo .ext-links-add .nav {margin-bottom:20px;}
#seo .ext-links-add .nav ul {font-size:13px;list-style:none;}
#seo .ext-links-add .nav ul li {height:20px;border-left:1px solid #a88fbf;float:left;padding:0 5px;}
#seo .ext-links-add .nav ul li:first-child {border-left:0;padding-left:0;}
#seo .ext-links-add .nav ul li a {display:block;padding:0 8px;height:20px;line-height:20px;}
#seo .ext-links-add .nav ul li.active a {background:#f0e4fb;color:#323334;text-decoration:none;}

#seo .ext-links-add .flash-message {display:inline-block;padding:2px 10px;font-size:12px;color:#929292;margin-bottom:20px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}

#seo .ext-links-add .flash-message.added {background:#fffac8;border:1px solid #f3eca9;}

#seo .ext-links-add .check-url {padding-bottom:60px;}
#seo .ext-links-add .check-url input[type=text] {padding:2px 9px;overflow:auto;width:350px;border:1px solid #d8c7ea;font-size:13px;background:#fff;vertical-align:middle;color:#2881d4;height:25px;line-height:25px;vertical-align:middle;}
#seo .ext-links-add .check-url .btn-g {padding:10px 13px;font-size:16px;line-height:1.2;vertical-align:middle;margin-left:10px;}

#seo .ext-links-add .url-actions {padding-bottom:30px;}
#seo .ext-links-add .url-actions .have-links {background:#d7ecff;display:inline-block;padding:6px 10px;color:#5e5c5c;font-size:25px;line-height:1;text-decoration:none;margin-right:90px;}
#seo .ext-links-add .url-actions .in-blacklist {background:#d4d4d4;display:inline-block;padding:6px 10px;color:#5e5c5c;font-size:25px;line-height:1;text-decoration:none;margin-right:90px;}
#seo .ext-links-add .url-actions .new-site {background:#fef2c6;display:inline-block;padding:6px 10px;color:#5e5c5c;font-size:25px;line-height:1;text-decoration:none;margin-right:90px;}
#seo .ext-links-add .url-actions .have-links span {border-bottom:1px dashed #5e5c5c;vertical-align:middle;}
#seo .ext-links-add .url-actions .btn-g {font-size:20px;line-height:1;padding:25px 15px;vertical-align:middle;margin-right:20px;}
#seo .ext-links-add .url-actions .pseudo {margin-right:15px;}

#seo .ext-links-add .url-list {padding-bottom:50px;}
#seo .ext-links-add .url-list ul {list-style:none;}
#seo .ext-links-add .url-list ul li {padding:5px 0;}

#seo .ext-links-add .form {width:500px;padding-bottom:50px;}
#seo .ext-links-add .form .row {padding-bottom:20px;}
#seo .ext-links-add .form .row .row-title {font-size:15px;color:#474849;padding-bottom:5px;}
#seo .ext-links-add .form .row .row-title span {font-size:16px;color:#323334;}
#seo .ext-links-add .form .row .row-title small {font-size:11px;color:#919292;font-family:tahoma, arial, helvetica, sans-serif;margin-left:5px;}
#seo .ext-links-add .form .row .row-title span.link-types {color:#5f6061;font-size:13px;}
#seo .ext-links-add .form .row .row-title span.link-types .icon-link {margin-left:20px;}
#seo .ext-links-add .form .row .row-title .title-cost {color:#868686;font-size:14px;width:135px;display:inline-block;text-align:center;margin-left:40px;}
#seo .ext-links-add .form .row .row-title .title-sys {color:#868686;font-size:14px;width:200px;display:inline-block;text-align:center;margin-left:40px;}
#seo .ext-links-add .form .row .row-elements {position:relative;}
#seo .ext-links-add .form .row .row-elements input[type=text] {padding:2px 9px;overflow:auto;width:480px;border:1px solid #d8c7ea;background:#fff;vertical-align:middle;color:#2881d4;height:25px;line-height:25px;vertical-align:middle;margin-bottom:5px;color:#222;font-size:15px;}
#seo .ext-links-add .form .row .row-elements input.date {width:110px;margin-right:5px;}
#seo .ext-links-add .form .row .row-elements .icon-btn-add {position:absolute;left:100%;margin-left:10px;bottom:13px;}
#seo .ext-links-add .form .row .row-elements select {width:220px;height:30px;border-color:#d8c7ea;}
#seo .ext-links-add .form .row .row-elements .col {display:inline-block;vertical-align:top;margin-right:30px;}
#seo .ext-links-add .form .row .row-elements .col-free {width:60px;text-align:center;line-height:30px;}
#seo .ext-links-add .form .row .row-elements .col-free input {margin-top:8px;}
#seo .ext-links-add .form .row .row-elements .col-cost {width:160px;text-align:center;margin-left:12px;color:#858585;font-size:13px;line-height:30px;margin-right:10px;}
#seo .ext-links-add .form .row .row-elements .col-cost input {width:115px;vertical-align:middle;margin-left:-10px;text-align:center;}
#seo .ext-links-add .form .row .row-elements .col-sys {width:60px;text-align:center;line-height:30px;}

#seo .ext-links-add .form .row-btn {text-align:right;padding-top:20px;}
#seo .ext-links-add .form .row-btn .btn-g {font-size:30px;padding:25px 45px;line-height:30px;}

#seo .ext-links-add .form .row-btn-done {padding-top:20px;}
#seo .ext-links-add .form .row-btn-done button.btn-g {font-size:20px;padding:25px 15px;line-height:20px;vertical-align:middle;}
#seo .ext-links-add .form .row-btn-done .problem {vertical-align:middle;display:inline-block;padding-left:40px;position:relative;margin-left:10px;}
#seo .ext-links-add .form .row-btn-done .problem .pseudo {font-size:13px;}
#seo .ext-links-add .form .row-btn-done .problem-in {background:#f4ebfc;padding:3px 6px;position:absolute;left:0;top:25px;width:195px;}
#seo .ext-links-add .form .row-btn-done .problem-in .btn-g {float:right;margin-top:38px;}
#seo .ext-links-add .form .row-btn-done .problem-in .radio {display:block;width:150px;border:1px solid #dcc7ee;text-align:center;color:#b4b3b3;background:#fff;padding:5px 0;line-height:14px;font-size:14px;margin:6px 0;overflow:hidden;text-decoration:none;-moz-border-radius:14px;-webkit-border-radius:14px;border-radius:14px;}
#seo .ext-links-add .form .row-btn-done .problem-in .radio.active {background:#dcc7ee;color:#714399;}

#seo .ext-links-add .tasks-count {color:#242424;font-size:22px;text-align:center;margin:40px 0;}
#seo .ext-links-add .tasks-count span {color:#ab8bc8;font-weight:bold;font-size:25px;margin-left:5px;}

#seo .ext-links-add .tasks-list {}
#seo .ext-links-add .tasks-list ul {list-style:none;}
#seo .ext-links-add .tasks-list ul li {padding-bottom:20px;}
#seo .ext-links-add .tasks-list .task-title {font-size:16px;color:#323334;margin-bottom:5px;}
#seo .ext-links-add .tasks-list .task-title a {font-size:13px;}
#seo .ext-links-add .tasks-list .task {padding:8px 0;}
#seo .ext-links-add .tasks-list .reg-form {margin-top:5px;width:350px;padding:16px 15px;background:#fef7d2;}
#seo .ext-links-add .tasks-list .reg-form button {float:right;margin-top:30px;border:0;}
#seo .ext-links-add .tasks-list .reg-form label {display:inline-block;width:80px;font-size:14px;}
#seo .ext-links-add .tasks-list .reg-form input[type=text], #seo .ext-links-add .tasks-list .reg-form input[type=password] {padding:2px 9px;overflow:auto;width:180px;border:1px solid #d8c7ea;background:#fff;vertical-align:middle;color:#2881d4;height:25px;line-height:25px;vertical-align:middle;margin:4px 0;color:#222;font-size:15px;}
#seo .ext-links-add .tasks-list .reg-form.revealed {width:300px;}
#seo .ext-links-add .tasks-list .reg-form.revealed input {color:#b9b8b9;}


#seo .linking-filter {width:730px;margin:0 auto 40px;}
#seo .linking-filter .nav {}
#seo .linking-filter .nav .toggle {float:right;color:#908f8f;font-size:11px;margin-top:10px;text-decoration:none;border-bottom:1px dashed #908f8f;line-height:1.2;}
#seo .linking-filter .nav ul {overflow:hidden;list-style:none;}
#seo .linking-filter .nav ul li {float:left;margin-right:3px;}
#seo .linking-filter .nav ul li a {display:block;height:30px;padding:0 18px;line-height:30px;color:#3c3c3c;text-decoration:none;font-size:11px;background:#f4f4f5;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;}
#seo .linking-filter .nav ul li a i {vertical-align:middle;position:relative;top:-2px;}
#seo .linking-filter .nav ul li.active a {background:#fcf4b0;}
#seo .linking-filter .content {background:#fffcd3;padding:20px;border-top:1px solid #f3efb7;font-size:12px;color:#3c3c3c;}
#seo .linking-filter .content table {width:100%;}
#seo .linking-filter .content table.table-1 {}
#seo .linking-filter .content table.table-1 td {vertical-align:top;line-height:20px;}
#seo .linking-filter .content table.table-1 td label {line-height:1.2}
#seo .linking-filter .content table.table-1 .col-1 {width:1%;white-space:nowrap;padding-right:5px;padding-bottom:10px;}
#seo .linking-filter .content table.table-1 .col-2 {width:1%;white-space:nowrap;padding-bottom:10px;}
#seo .linking-filter .content table.table-1 .col-1 input[type=text], 
#seo .linking-filter .content table.table-1 .col-2 input[type=text] {width:45px;padding:2px 5px;font-size:12px;line-height:14px;border:1px solid #ece7a9;margin-right:5px;text-align:center;}
#seo .linking-filter .content table.table-1 .col-3 {padding-left:50px;}
#seo .linking-filter .content table.table-1 .col-3 input {margin-right:5px;position:relative;top:1px;}
#seo .linking-filter .content table.table-1 .col-4 {text-align:center;width:180px;vertical-align:middle;}
#seo .linking-filter .content table.table-1 .col-4 input {margin-bottom:5px;margin-top:5px;}
#seo .linking-filter .content table.table-1 .col-5 {width:110px;vertical-align:middle;}
#seo .linking-filter .content table.table-1 .col-5 .btn-g {font-size:25px;line-height:30px;padding:10px 25px;}
#seo .linking-filter .content table.table-2 input[type=text] {width:45px;padding:2px 5px;font-size:12px;line-height:14px;border:1px solid #ece7a9;margin-right:5px;text-align:center;margin-left:10px;}
#seo .linking-filter .content table.table-2 .col-1 {}

#seo .linking-filter .content table.table-2 .col-2 {}
#seo .linking-filter .content table.table-2 .col-3 {text-align:right;}
#seo .linking-filter .content table.table-2 .col-3 .btn-g {font-size:25px;line-height:30px;padding:10px 25px;}

.popup-keywords {border: 1px solid #d2e6fd;padding: 2px;}
.popup-keywords table {width:100%;color: #494949;font-size: 11px;}
.popup-keywords th {vertical-align:middle;background:#d9eafe;font-weight:normal;padding:10px 15px;border:1px solid #fff;text-align:left;line-height:13px;color: #3a74b4;}
.popup-keywords td {vertical-align:middle;padding:10px 15px;border:1px solid #f5f5f5;border-bottom:0;border-right:0;}
.popup-keywords .col-1 {width: 198px;font-size: 12px;}
.popup-keywords th.col-1 {font-size: 13px;color: #0b509b;}
.popup-keywords tr:hover td {background:#f2f8fe;}