.side-filter {}

.side-filter .filter-title {background:#41b3cc url(../images/bg_side_filter.png) no-repeat bottom;padding:15px 0 35px;text-align:center;font-size:15px;text-transform:uppercase;color:#fff;font-weight:bold;}
.side-filter .filter-title big {display:block;font:bold 20px arial, sans-serif;}

.side-filter .filter-box {padding:15px 15px 15px;background:#cff3f7;margin-bottom:2px;}

.side-filter .filter-box .box-title {font:bold 14px arial, sans-serif;color:#2296b0;padding-left:15px;cursor:pointer;position:relative;}
.side-filter .filter-box .box-title span {font-size:12px;font-weight:normal;}

.side-filter .filter-box-toggled {background:#a4e0e7;}
.side-filter .filter-box-toggled * {display:none;}
.side-filter .filter-box-toggled .box-title {display:block;}

.side-filter .filter-box .box-title .icon {display:block;width:10px;height:8px;background:url(../images/common.png) no-repeat -244px -121px;position:absolute;left:0px;top:4px;}
.side-filter .filter-box-toggled .box-title .icon {width:8px;height:11px;background-position:-267px -116px;top:2px;}

.side-filter .filter-radiogroup {}
.side-filter .filter-radiogroup ul {font:12px/14px arial, sans-serif;padding-left:10px;padding-top:5px;list-style:none;}
.side-filter .filter-radiogroup ul li {padding:2px 0;overflow:hidden;}
.side-filter .filter-radiogroup ul li a {text-decoration:none;color:#808282;}
.side-filter .filter-radiogroup ul li a span {padding:2px 5px;display:inline-block;*zoom:1;*display:inline;}
.side-filter .filter-radiogroup ul li.active a span {background:#f9f8d7;}
.side-filter .filter-radiogroup ul li a.remove {display:none;}
.side-filter .filter-radiogroup.filter-radiogroup-multiply ul li a {padding-right:14px;}
.side-filter .filter-radiogroup.filter-radiogroup-multiply ul li.active a {cursor:default;float:left;padding-right:16px;}
.side-filter .filter-radiogroup.filter-radiogroup-multiply ul li.active a.remove {display:inline-block;*zoom:1;*display:inline;width:18px;height:18px;background:#f9f8d7 url(../images/common.png) no-repeat -3px -101px;vertical-align:top;cursor:pointer;padding:0 !important;float:left;margin-left:-18px;}

.side-filter .filter-radiogroup-inline ul li {display:inline-block;*zoom:1;*display:inline;vertical-align:top;text-align:center;}

.side-filter .filter-slider {margin-top:10px;}
.side-filter .filter-slider .slider-values {color:#6ccee3;text-align:center;padding-bottom:10px;}
.side-filter .filter-slider .slider-values input {width:50px;background:#fff;height:18px;padding:0;border:1px solid #6ccee3;background:#fff;text-align:center;font:bold 12px arial, sans-serif;color:#424343;}
.side-filter .filter-slider .slider-in {padding-bottom:8px;position:relative;}
.side-filter .filter-slider .slider-in span {color:#808282;font-size:10px;display:block;position:absolute;bottom:0;}
.side-filter .filter-slider .slider-in .max {right:3px;}
.side-filter .filter-slider .slider-in .min {left:3px;}
.side-filter .filter-slider .ui-slider {background:#a4e0e7;border:1px solid #6ccee3;height:12px;margin-bottom:8px;}
.side-filter .filter-slider .ui-slider-range {background:#f9f8d7;height:12px;}
.side-filter .filter-slider .ui-slider-handle {width:17px;height:21px;border:0;background:url(../images/common.png) no-repeat -82px -128px;top:-5px;cursor:pointer;}

#product {margin-right:250px;}

#product h1 {font-size:25px;color:#2296b0;margin-bottom:15px;margin-left:20px;}

#product .description {padding-bottom:35px;}

#product .description .description-img {float:left;}

#product .description .description-img .img-in {text-align:center;height:300px;width:300px;margin-left:40px;}

#product .description .description-img .img-thumbs {padding:0 22px;margin:15px 0;position:relative;}
#product .description .description-img .img-thumbs li {width:78px;}

#product .description .description-img .img-thumbs .prev {display:block;width:12px;height:17px;background:url(../images/common.png) no-repeat -42px -114px;position:absolute;top:50%;left:5px;margin-top:-9px;}
#product .description .description-img .img-thumbs .prev.jcarousel-control-inactive {background-position:-42px -131px;cursor:default;}

#product .description .description-img .img-thumbs .next {display:block;width:12px;height:17px;background:url(../images/common.png) no-repeat -54px -114px;position:absolute;top:50%;right:5px;margin-top:-9px;}
#product .description .description-img .img-thumbs .next.jcarousel-control-inactive {background-position:-54px -131px;cursor:default;}


#fast-product {width:680px;}
#fast-product .title {font-size:25px;color:#2296b0;margin-bottom:15px;margin-left:20px;font-weight:bold;}
#fast-product .description {padding-bottom:35px;}

#fast-product .description .description-img {float:left;}
#fast-product .description .description-img .img-in {text-align:center;height:300px;width:300px;margin-left:40px;}
#fast-product .description .description-img .img-thumbs {padding:0 22px;margin:15px 0;position:relative;}
#fast-product .description .description-img .img-thumbs .prev {display:block;width:12px;height:17px;background:url(../images/common.png) no-repeat -42px -114px;position:absolute;top:50%;left:5px;margin-top:-9px;}
#fast-product .description .description-img .img-thumbs .prev.jcarousel-control-inactive {background-position:-42px -131px;cursor:default;}
#fast-product .description .description-img .img-thumbs .next {display:block;width:12px;height:17px;background:url(../images/common.png) no-repeat -54px -114px;position:absolute;top:50%;right:5px;margin-top:-9px;}
#fast-product .description .description-img .img-thumbs .next.jcarousel-control-inactive {background-position:-54px -131px;cursor:default;}

#fast-product .description .description-text {margin-left:400px;color:#1f1f1f;}
#fast-product .description .description-text .producer {color:#808282;line-height:22px;}
#fast-product .description .description-text .producer img {vertical-align:bottom;}
#fast-product .description .description-text .rating {margin:12px 0;height:25px;overflow:hidden;}
#fast-product .description .description-text .rating .s1 {width:27px;height:25px;background:url(../images/common.png) no-repeat -100px -125px;display:block;float:left;}

#fast-product .bottom {border-top:1px solid #caf3f8;padding-top:24px;}
#fast-product .bottom .price {float:left;width:385px;text-align:right;color:#37a8c1;line-height:80px;font-size:45px;padding-right:15px;}
#fast-product .bottom .price span {color:#808282;font-size:20px;font-family:tahoma, arial, sans-serif;}



#product #product-thumbs, #fast-product #product-thumbs {height:81px;width:336px;}
#product #product-thumbs li, #fast-product #product-thumbs li {padding:0 3px;}
#product #product-thumbs li img, #fast-product #product-thumbs li img  {display:block;border:1px solid #cff3f7;}

#product .description .description-img .color-list {padding-left:5px;}
#product .description .description-img .color-list span {float:left;font:16px/27px arial, sans-serif;color:#2296b0;}
#product .description .description-img .color-list ul {margin-left:60px;list-style:none;}
#product .description .description-img .color-list ul li {float:left;margin-right:16px;}
#product .description .description-img .color-list ul li img {display:block;}

#product .description .description-text {margin-left:400px;}
#product .description .description-text .producer {color:#808282;line-height:22px;}
#product .description .description-text .producer img {vertical-align:bottom;}
#product .description .description-text .rating {margin:12px 0;height:25px;overflow:hidden;}
#product .description .description-text .rating .s1 {width:27px;height:25px;background:url(../images/common.png) no-repeat -100px -125px;display:block;float:left;}

#product .price-box {background:#fefde7;padding:20px 10px;color:#808282;line-height:18px;text-align:center;}
#product .price-box .col {display:inline-block;*zoom:1;*display:inline;padding:0 10px;text-align:left;vertical-align:top;}
#product .price-box .price {text-align:center;}
#product .price-box .price > span {color:#37a8c1;font:bold 40px arial, sans-serif;display:block;margin-top:18px;}
#product .price-box .price > span span {font:normal 20px arial, sans-serif;color:#808282;margin-left:5px;}
#product .price-box .discount {text-align:center;}
#product .price-box .discount .icon-sale-shock-big {margin-top:-50px;}
#product .price-box .discount img {vertical-align:top;}
#product .price-box .discount > span {display:block;font:bold 20px arial, sans-serif;color:#fe5004;text-align:right;margin-right:18px;}
#product .price-box .discount > span span {font:normal 12px arial, sans-serif;color:#808282;margin-left:4px;}
#product .price-box .discount .economy {color:#fe5004;font-size:13px;line-height:20px;background:#fefba1;display:inline-block;*zoom:1;*display:inline;padding:0 5px;margin-top:15px;}
#product .price-box .discount .economy b {font-size:14px;}
#product .price-box .to-cart {text-align:center;}
#product .price-box .to-cart .btn {margin:24px 5px 0;letter-spacing:-1px;}

#product .bonuses-box {padding:15px 30px;background:#ecffe6;margin-bottom:40px;}
#product .bonuses-box .bonus {width:50%;float:left;overflow:hidden;color:#575757;font-size:13px;font-family:tahoma, arial, sans-serif;}
#product .bonuses-box .bonus img {vertical-align:middle;margin-right:5px;}
#product .bonuses-box .bonus .in {display:inline-block;*zoom:1;*display:inline;vertical-align:middle;}
#product .bonuses-box .bonus small {font-size:10px;color:#888888;}
#product .bonuses-box .bonus a {font-size:11px;margin-left:10px;}

#product .tabs {padding-bottom:30px;}
#product .tabs .text-block {line-height:18px;padding-top:25px;padding-left:25px;}
#product .tabs .text-block big {color:#2396b0;font-size:14px;display:block;margin-bottom:10px;}
#product .tabs .text-block ul {line-height:15px;list-style:none;}
#product .tabs .text-block ul li {padding:3px 0 3px 15px;background:url(../images/marker_03.gif) no-repeat left 7px;}
#product .tabs .videos {padding:25px 0 0 25px;}
#product .tabs .videos ul {list-style:none;}
#product .tabs .videos ul li {padding-left:45px;float:left;}
#product .tabs .videos ul li:first-child {padding-left:0;}
#product .tabs .videos ul li .img-box {}
#product .tabs .videos ul li .title-box {height:3em;line-height:normal;margin-bottom:5px;}
#product .tabs .tech {padding:25px 0 0 25px;}
#product .tabs .tech > ul {overflow:hidden;list-style:none;}
#product .tabs .tech > ul > li {width:280px;float:left;margin-left:90px;overflow:hidden;}
#product .tabs .tech > ul > li:first-child {margin-left:0;}
#product .tabs .tech > ul > li > ul {overflow:hidden;list-style:none;}
#product .tabs .tech > ul > li > ul > li {background:url(../images/bg_product_tech.gif) repeat-x 0 10px;overflow:hidden;padding-bottom:10px;}
#product .tabs .tech > ul > li > ul > li span {padding:0 5px 0 0;background:#fff;float:left;color:#777;max-width:45%;}
#product .tabs .tech > ul > li > ul > li span.a-right {padding:0 0 0 5px;background:#fff;float:right;color:#000;text-align:right;}

#product .comments {}
#product .comments .add, #product .comments .all {padding-top:10px;text-align:right;}
#product .comments ul {padding-top:10px;list-style:none;}
#product .comments li {padding:25px;}
#product .comments li.even {background:#f6fdfe;}
#product .comments li .user {float:left;font:11px tahoma, arial, sans-serif;color:#1ba3c4;}
#product .comments li .user .ava {float:left;margin-right:8px;}
#product .comments li .user .ava img {display:block;border:1px solid #dddddd;}
#product .comments li .content {margin-left:200px;font-size:12px;}
#product .comments li .content p {color:#888888;}
#product .default-comments .content .rating {margin-bottom:5px;height:12px;display:inline-block;*zoom:1;*display:inline;overflow:hidden}
#product .default-comments .content .rating .s1 {width:13px;height:12px;display:block;float:left;background:url(../images/common.png) no-repeat -68px -128px;}
#product .comments li .content .meta {font-size:11px;color:#4eafc2;margin-top:5px;}

#product .steps-comments {overflow:hidden;}
#product .steps-comments .btn {margin-top:5px;}
#product .steps-comments ul {float:left;list-style:none;}
#product .steps-comments .comment-count {font:bold 40px/1 tahoma, arial, sans-serif;color:#b6e7ec;float:left;margin-top:-2px;}
#product .steps-comments .avg-rating {margin-left:275px;line-height:25px;padding-top:8px;font-size:12px;color:#4EAFC2;}
#product .steps-comments .avg-rating  .rating {height:25px;display:inline-block;*zoom:1;*display:inline;vertical-align:top;margin-left:5px;overflow:hidden;}
#product .steps-comments .avg-rating  .rating .s1 {width:27px;height:25px;background:url(../images/common.png) no-repeat -100px -125px;display:block;float:left;}

#product .new-comment {text-align:center;font-size:14px;color:#c2c4c4;line-height:27px;font-family:tahoma, arial, sans-serif;}
#product .new-comment .rating {width:135px;height:25px;display:inline-block;*zoom:1;*display:inline;vertical-align:top;margin-left:5px;margin-bottom:10px;}
#product .new-comment .rating span {width:27px;height:25px;background:url(../images/common.png) no-repeat -128px -125px;display:block;float:left;cursor:pointer;}
#product .new-comment .rating span.hover {background-position:-100px -125px !important;}
#product .new-comment .rating span.active {background-position:-100px -125px;}
#product .new-comment .rating.hover span.active {background-position:-128px -125px;}
#product .new-comment textarea {border:1px solid #c9eaf1;width:680px;padding:15px 14px;color:#c2c4c4;}
#product .new-comment .btn {margin:10px 5px;}

.buy-else {padding-bottom:20px;}
.buy-else .buy-else-title {text-align:center;height:30px;line-height:30px;background:#41b3cc;color:#fff;font-size:18px;font-weight:bold;}
.buy-else .product-list {background:#fafeff;position:relative;padding:35px 0px;border:1px dashed #41b3cc;margin-top:3px;background:#f5fcfd;}
.buy-else .product-list li {margin-left:0;height:280px;border:0;padding:0 15px;}

#else-products-slider {width:230px;height:895px;}

.buy-else .product-list .prev {display:block;width:17px;height:12px;background:url(../images/common.png) no-repeat -1px -121px;position:absolute;top:12px;left:50%;margin-left:-9px;}
.buy-else .product-list .prev.jcarousel-control-inactive {background-position:-18px -121px;cursor:default;}

.buy-else .product-list .next {display:block;width:17px;height:12px;background:url(../images/common.png) no-repeat -1px -133px;position:absolute;bottom:12px;left:50%;margin-left:-9px;}
.buy-else .product-list .next.jcarousel-control-inactive {background-position:-18px -133px;cursor:default;}


.buy-else-horizontal {padding-bottom:20px;}
.buy-else-horizontal .buy-else-title {color:#2296b0;font-size:16px;display:inline-block;*zoom:1;*display:inline;background:#cff3f7;padding:5px 15px;}
.buy-else-horizontal .product-list {background:#fafeff;position:relative;padding:10px 20px;margin-top:3px;background:#f5fcfd;}
.buy-else-horizontal .product-list li {margin-left:0;height:280px;border:0;padding:0 15px;}

.buy-else-horizontal #else-products-slider {width:920px;height:300px}

.buy-else-horizontal .product-list .prev {display:block;width:12px;height:17px;background:url(../images/common.png) no-repeat -42px -114px;position:absolute;top:50%;left:5px;margin-top:-9px;}
.buy-else-horizontal .product-list .prev.jcarousel-control-inactive {background-position:-42px -131px;cursor:default;}

.buy-else-horizontal .product-list .next {display:block;width:12px;height:17px;background:url(../images/common.png) no-repeat -54px -114px;position:absolute;top:50%;right:5px;margin-top:-9px;}
.buy-else-horizontal .product-list .next.jcarousel-control-inactive {background-position:-54px -131px;cursor:default;}


.product-list {margin-left:1px;overflow:hidden;padding:15px 0 15px;}
.product-list ul {line-height:normal;list-style:none;}
.product-list li {width:200px;float:left;border-left:1px solid #eaeaea;padding:0 14px 0 15px;margin-bottom:20px;margin-left:-1px;}
.product-list li .item-title {height:3em;font-weight:bold;margin-top:3px;}
.product-list li .item-title span.search-highlight {color:#020202;background:#ffde51;padding:1px 0;}
.product-list li .rating {margin:0px 0 8px;height:12px;width:65px;overflow:hidden;}
.product-list li .rating .s1 {width:13px;height:12px;display:block;float:left;background:url(../images/common.png) no-repeat -68px -128px;}
.product-list li .img-box {position:relative;height:160px;}
.product-list li .img-box label {position:absolute;right:0;top:0;}
.product-list li .item-price {font-size:11px;color:#818181;}
.product-list li .item-price .col {width:45%;padding-right:5%;display:inline-block;*zoom:1;*display:inline;}
.product-list li .item-price span {font-size:12px;color:#1d95af;}
.product-list li .item-price span.discounted {color:#f98307;}
.product-list li .item-price img {vertical-align:middle;position:relative;top:-1px;}
.product-list li .controls {padding-top:10px;}
.product-list li .controls .btn {margin:0 5px;vertical-align:top;}
.product-list li .to-wish-list {display:inline-block;*zoom:1;*display:inline;width:30px;height:21px;background:url(../images/common.png) no-repeat -361px -155px;vertical-align:top;}
.product-list li .counter {position:relative;top:1px;}
.product-list li .bonus {font-size:10px;color:#888888;font-family:tahoma, arial, sans-serif;padding-top:8px;}
.product-list li .bonus img {margin-right:5px;vertical-align:middle;}
.product-list .info {padding-left:32px;height:25px;width:auto;line-height:1;font-size:11px;padding-top:2px;margin-top:10px;background:none;position:relative;}
.product-list .info .icon {display:block;width:25px;height:25px;background:url(../images/common.png) no-repeat -72px -101px !important;position:absolute;left:0;top:0;}

#productAdded {font-size:13px;color:#686868;padding-bottom:10px;}
#productAdded big {font-size:15px;}
#productAdded .product-info {background:#fff;padding:10px 15px;margin:10px 0 20px;}
#productAdded .product-info .img-box {float:left;}
#productAdded .product-info .product-name {display:block;font-size:25px;margin:10px 0;line-height:1;}
#productAdded .product-info .counter {font-size:20px;font-weight:bold;}
#productAdded .product-info .in {padding-top:30px;}
#productAdded .total-price {text-align:left;padding:10px 25px;color:#575757;line-height:30px;background:#fefee6;margin-top:20px;}
#productAdded .total-price > span span {font-size:25px;line-height:30px;}
#productAdded .total-price span {color:#2a96ae;line-height:30px;}
#productAdded .note {text-align:left;padding:10px 25px;background:#ecffe6;font-size:11px;color:#575757;}
#productAdded .in {margin:0 50px 0 120px;text-align:center;}
#productAdded .bottom {text-align:right;padding-top:9px;border-top:1px solid #caf3f8;margin-top:30px;}
#productAdded .bottom .btn {vertical-align:middle;margin-left:8px;}


#cart {font-size:12px;line-height:18px;padding-bottom:50px;}

#cart .cart-title {font:40px/1 arial, sans-serif;color:#2296b0;padding:30px 0 30px 250px;}
#cart .subtitle {font:bold 16px arial, sans-serif;color:#575757;margin:20px 0 20px 40px;}

#cart .steps {padding-left:250px;}

#cart .highlight {background:#effdff;border-bottom:1px solid #caf3f8;}

#cart .bottom {text-align:right;padding-top:9px;border-top:1px solid #caf3f8;margin-top:30px;color:#808282;}
#cart .bottom .btn {vertical-align:middle;margin-left:8px;}
#cart .bottom input[type=checkbox] {position:relative;top:2px;}

#cart .success {padding:40px 40px 40px 250px;color:#575757;}
#cart .success .success-title {font:bold 25px/1 arial, sans-serif;color:#ffa648;margin-bottom:20px;}
#cart .success .order-num {font-weight:bold;font-size:16px;}
#cart .success .order-num span {color:#2296b0;margin-left:10px;}
#cart .success p {margin:1em 0;}
#cart .success p.note {background:#fdf9db;padding:5px 20px;margin-left:-20px;}
#cart .success p a.download {background:#f89731;color:#fff;display:inline-block;*zoom:1;*display:inline;padding:0 8px;text-decoration:none;}
#cart .success p a.download {/*css3*/-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;}



#cart .cart-items {padding-top:20px;padding-bottom:2px;border-bottom:1px solid #caf3f8;margin-bottom:30px;color:#575757;}
#cart .cart-items table {width:100%;font-size:13px;}
#cart .cart-items table td {vertical-align:middle;}
#cart .cart-items table thead td {text-align:center;font-size:11px;padding:5px 10px;}
#cart .cart-items table td {padding:10px;}
#cart .cart-items table tbody .col-2 {font-size:11px;}
#cart .cart-items table tbody .col-2 p {margin:10px 0;}
#cart .cart-items table tbody .col-2 big {font-size:15px;}
#cart .cart-items table tbody .col-2 img {vertical-align:middle;}
#cart .cart-items table tbody .col-2 .price span {color:#1d95af;font-size:12px;}
#cart .cart-items table tbody .col-2 .price span.discounted {color:#f98307;}
#cart .cart-items table tbody .col-3 {text-align:center;}
#cart .cart-items table tbody .col-4 {text-align:center;}
#cart .cart-items table tbody .col-5 {text-align:right;padding-right:30px;}
#cart .cart-items table tbody .col-5 span {color:#2296b0;}
#cart .cart-items table tbody .col-5 span span {font-size:25px;font-weight:bold;}
#cart .cart-items table tbody tr.even td {background:#f8feff;}
#cart .cart-items .remove {display:inline-block;*zoom:1;*display:inline;min-width:37px;padding-top:38px;color:#a1d8e4;font-size:11px;text-decoration:none;margin:0 10px;position:relative;}
#cart .cart-items .remove .icon {display:block;width:37px;height:33px;background:url(../images/common.png) no-repeat -321px -101px;position:absolute;top:0;left:50%;margin-left:-19px;}
#cart .cart-items .hold {display:inline-block;*zoom:1;*display:inline;min-width:37px;padding-top:38px;color:#a1d8e4;font-size:11px;text-decoration:none;margin:0 10px;position:relative;}
#cart .cart-items .hold .icon {display:block;width:37px;height:33px;background:url(../images/common.png) no-repeat -282px -101px;position:absolute;top:0;left:50%;margin-left:-19px;}

#cart .bonus {padding-left:80px;float:left;}
#cart .bonus img {float:left;}
#cart .bonus p {margin-left:30px;}

#cart .promo-code {width:400px;text-align:left;margin-bottom:25px;}
#cart .promo-code input[type=text] {vertical-align:middle;font:16px arial, sans-serif;color:#6bc3cd;border:1px solid #c9eaf1;height:20px;line-height:20px;padding:13px 15px;width:220px;margin-right:10px;}
#cart .promo-code button {vertical-align:middle;}
#cart .promo-code > span {padding-left:16px;font-size:11px;color:#a1d8e4;}

#cart .total {width:400px;}
#cart .total .total-price {text-align:left;padding:10px 25px;color:#575757;line-height:30px;background:#fefee6;}
#cart .total .total-price > span span {font-size:25px;line-height:30px;}
#cart .total .total-price span {color:#2a96ae;line-height:30px;}
#cart .total .total-price dl {overflow:hidden;font-size:11px;line-height:20px;}
#cart .total .total-price dd {clear:left;float:left;width:47%;text-align:right;padding-right:3%;}
#cart .total .total-price dt {float:left;width:47%;padding-left:3%;}
#cart .total .total-price dl span {line-height:16px;font-size:12px;}
#cart .total .note {text-align:left;padding:10px 25px;background:#ecffe6;font-size:11px;color:#575757;}
#cart .total .note dl {overflow:hidden;font-size:13px;color:#2296b0;}
#cart .total .note dd {clear:left;float:left;width:47%;text-align:right;padding-right:3%;}
#cart .total .note dt {float:left;width:47%;padding-left:3%;}
#cart .total .note dl span {font-size:25px;}

#cart .payment-details {padding:30px 40px 20px;margin-bottom:20px;}
#cart .payment-details ul {width:600px;list-style:none;}
#cart .payment-details li {overflow:hidden;padding-bottom:15px;font-size:16px;line-height:20px;color:#0d8ca3;}
#cart .payment-details .a-right {width:350px;font-size:12px;color:#575757;line-height:20px;}
#cart .payment-details .a-right span {color:#9f9f9f;}

#cart .payment-ways {padding:30px 20px;background:#fef8f2;border-bottom:1px solid #f9e7d5;margin-bottom:20px;color:#808282;}
#cart .payment-ways .block-title {float:left;width:150px;padding:10px 20px;background:#fef2df;color:#8e8d8d;font-size:16px;}
#cart .payment-ways ul {margin-left:270px;color:#2396b0;font-size:16px;list-style:none;}
#cart .payment-ways ul li {padding-bottom:8px;}
#cart .payment-ways table {width:100%;clear:left;margin-top:15px;font-size:16px;color:#2396b0;}
#cart .payment-ways table tr td {padding:5px 10px 5px 5px;}
#cart .payment-ways .col-1 {width:300px;}
#cart .payment-ways .col-2 {width:100px;}
#cart .payment-ways .col-3 {font-size:14px;color:#979696;}
#cart .payment-ways label.indent {}
#cart .payment-ways label.indent input {float:left;margin-right:8px;}

#cart .login-link {padding-top:10px;}
#cart .login-link .login-q {background:#fefeda;font:italic 14px/40px arial;display:inline-block;*zoom:1;*display:inline;padding:0 25px;margin-right:8px;vertical-align:middle;color:#575757;}

#cart .info-form {padding:30px 40px 20px;}
#cart .info-form.highlight-yellow {background:#fefef2;}
#cart .info-form .user {float:left;position:relative;}
#cart .info-form .user .ava {position:absolute;}
#cart .info-form .user img {border:1px solid #dddddd;}

#cart .info-form .row {padding-bottom:15px;line-height:24px;font-family:tahoma;color:#878787;font-size:11px;}
#cart .info-form .row .row-title {float:left;width:190px;font-size:16px;color:#0d8ca3;padding-top:14px;line-height:1;}
#cart .info-form .row .row-elements {margin-left:210px;}
#cart .info-form .row .col {display:inline-block;*zoom:1;*display:inline;vertical-align:top;margin-right:10px;}
#cart .info-form .code {vertical-align:middle;display:inline-block;*zoom:1;*display:inline;padding:0 10px;line-height:48px;font-size:16px;color:#2296b0;}
#cart .info-form .row .highlight {background:#e7fafd;padding:10px 10px 10px 20px;float:left;margin:0;}
#cart .info-form .row.row-gray .row-title {color:#979696;}
#cart .info-form .error-text {color:#fb496f;line-height:1;margin-top:5px;}


#cart .info-form input[type=text], #cart .info-form input[type=password] {vertical-align:middle;font:16px arial, sans-serif;color:#6bc3cd;border:1px solid #c9eaf1;height:20px;line-height:20px;padding:13px 12px;width:216px;background:#fff;font-weight:bold;color:#2296b0;}
#cart .info-form input[type=text].short, #cart .info-form input[type=text].short {width:94px;}
#cart .info-form select {margin-top:13px;height:22px;padding-left:15px;width:252px;border:1px solid #c9eaf1;font-size:16px;font-weight:bold;color:#2296b0;font-weight:bold;}
#cart .info-form select.empty {color:#c6c6c6;font-weight:normal;}
#cart .info-form select option {color:#464646;}
#cart .info-form select.wide {width:550px;font-size:14px;}
#cart .info-form .btn-orange {margin-top:8px;}
#cart .info-form textarea {font:16px/1 arial, sans-serif;color:#6bc3cd;border:1px solid #c9eaf1;padding:13px 15px;width:610px;height:50px;overflow:auto;}
#cart .info-form .row.row-gray input, #cart .info-form .row.row-gray textarea  {border-color:#eae9e9;}

.icon-sale {display:inline-block;*zoom:1;*display:inline;width:30px;height:15px;background:url(../images/common.png) no-repeat -360px -101px;position:relative;top:-2px;vertical-align:middle;}
.icon-sale-shock {display:inline-block;*zoom:1;*display:inline;width:38px;height:34px;background:url(/images/ico/ico-shock.png) no-repeat;position:relative;vertical-align:middle;}
.icon-sale-shock-big {display:inline-block;*zoom:1;*display:inline;width:97px;height:88px;background:url(/images/ico/ico-shock-big.png) no-repeat;position:relative;vertical-align:middle;}
.icon-wish-list {background:url(../images/common.png) no-repeat -361px -178px;display:inline-block;*zoom:1;*display:inline;width:20px;height:17px;position:relative;top:-2px;vertical-align:middle;}