.layout-thin {
  margin: 0 65px;
  font-size: 15px;
  line-height: 24px;
  color: #555;
}
.layout-hg-bg {
  background: #fafafa url(/images/layout-hg-bg.gif) no-repeat 50% 100%;
}
.b-avacancy .heading-title {
  margin: 20px 0;
}
.b-avacancy .f-about {
  margin-left: -30px;
}
.b-avacancy_help {
  font-size: 12px;
}
.hg-monitor {
  margin: 0;
  background: #fdfdfd;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fdfdfd 0%, #fdfdfd 69%, #f1eff3 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(69%, #fdfdfd), color-stop(100%, #f1eff3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fdfdfd 0%, #fdfdfd 69%, #f1eff3 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fdfdfd 0%, #fdfdfd 69%, #f1eff3 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fdfdfd 0%, #fdfdfd 69%, #f1eff3 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fdfdfd 0%, #fdfdfd 69%, #f1eff3 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#f1eff3', GradientType=0);
  /* IE6-8 */
}
.ie9 .hg-monitor {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY5JSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMWVmZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}
.hg-monitor_in {
  margin: 0 auto;
  width: 1000px;
  height: 724px;
  background: url(/images/hg-monitor_in.jpg) no-repeat;
}
.hg-about {
  padding: 35px 0 50px;
}
.hg-about_logo {
  float: left;
  width: 130px;
  height: 160px;
  margin: 0 0px 0 30px;
  background: url(/images/hg-about_logo.png) no-repeat;
}
.hg-about_desc {
  padding: 13px 0 0 210px;
}
/* vote-vacancy */
.vote-vacancy {
  margin: 20px 30px 50px 0;
}
.vote-vacancy_q {
  margin: 0 0 30px;
  padding: 0 0 30px;
  border-bottom: 1px solid #eee;
}
.vote-vacancy_q:last-child {
  border-bottom: 0;
}
.vote-vacancy_l {
  float: left;
  width: 170px;
}
.vote-vacancy_l-tx {
  font-style: italic;
  font-size: 15px;
  color: #fa5606;
}
.vote-vacancy_r {
  margin-left: 205px;
}
.vote-vacancy_desc {
  margin: 0 15px 15px 8px;
}
.vote-vacancy_desc p {
  margin: 5px 0;
}
.vote-vacancy_code {
  font-family: monospace;
  font-style: italic;
}
/* /vote-vacancy */
/* vacancy */
.body__vacancy {
  height: 100%;
  background: #66508c url('/new/images/body-circle-candy__dark.png') no-repeat 50% 0;
}
.body__vacancy .layout-container {
  padding: 30px 0 100px;
}
.vacancy {
  background: #fff;
}
.vacancy .f-about {
  margin: 20px 160px 40px;
  background: #fff;
}
.vacancy .f-about_col-l {
  width: 30%;
}
.vacancy .f-about_col-r {
  width: 69%;
}
.vacancy .f-about_label {
  font-size: 16px;
  line-height: ;
  color: #666;
}
.vacancy .f-about_col-r .btn-xxl {
  font-size: 30px;
  line-height: 72px;
  height: 72px;
  padding: 0 49px;
}
.vacancy_header {
  background: #ffffff url('/images/vacancy/header.png') repeat-x 0 0;
  padding: 1px 0;
}
.vacancy_header-tx {
  margin: 0 140px 50px;
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  color: #666;
}
.vacancy_header-big {
  font-size: 20px;
  line-height: 12px;
  font-weight: bold;
  color: #8566bd;
  margin-top: -3px;
}
.vacancy_header-highlight {
  line-height: 12px;
  background: #fff991;
}
.vacancy_logo {
  width: 335px;
  height: 95px;
  margin: 60px auto 25px;
  background: url('/images/vacancy/vacancy_logo.png') no-repeat;
}
.vacancy_row {
  padding: 55px 80px 65px 70px;
  color: #fff;
  font-size: 16px;
  line-height: 23px;
}
.vacancy_row__blue {
  background: #29a7f9;
}
.vacancy_row__green {
  background: #1cca65;
}
.vacancy_row__carrot {
  background: #f39c12;
}
.vacancy_row-t {
  display: inline-block;
  width: 290px;
  vertical-align: middle;
  font-size: 35px;
  line-height: 35px;
  font-weight: bold;
}
.vacancy_row-desc {
  display: inline-block;
  width: 555px;
  vertical-align: middle;
}
.vacancy_row-desc:first-child {
  width: 490px;
  padding-right: 65px;
}
.vacancy_li {
  background: url('/images/vacancy/bullet1.png') no-repeat 0 13px;
  padding: 5px 0 5px 20px;
}
.vacancy_about-t {
  margin: 0;
  font-size: 35px;
  font-weight: bold;
}
.vacancy_help {
  margin-top: 10px;
  font-size: 13px;
}
.vacancy_send {
  text-align: center;
  padding: 330px 100px 120px;
  background: url('/images/vacancy/send.png') no-repeat 50% 95px;
}
.vacancy_send-tx {
  font-size: 16px;
  color: #666;
  margin: 5px 0 10px;
}
/* /vacancy */
/* requirements */
.requirements {
  color: #333;
  padding: 35px 80px 110px;
  background: #fafafa url('/images/vacancy/worker-1.png') no-repeat 50% 125px;
}
.requirements_title {
  font: bold 38px/38px Arial, Tahoma, Verdana, sans-serif;
  margin: 0;
  text-align: center;
}
.requirements_title-sub {
  font-size: 16px;
  line-height: 25px;
  color: #666;
  text-align: center;
  margin: 0 0 70px;
}
.requirements_col-l {
  float: left;
  width: 250px;
  text-align: right;
}
.requirements_col-r {
  float: right;
  width: 250px;
}
.requirements_t {
  font: bold 28px/24px Arial, Tahoma, Verdana, sans-serif;
  padding: 0 0 9px;
  border-bottom: 1px solid #d5d5d5;
  margin: 0 0 9px;
}
.requirements_desc {
  font-size: 15px;
  line-height: 20px;
  min-height: 80px;
  color: #666;
}
.requirements_pay {
  width: 295px;
  height: 213px;
  margin: 0 -25px;
  background: url('/images/vacancy/pay-1.png') no-repeat;
}
.requirements_skils {
  width: 252px;
  height: 151px;
  background: url('/images/vacancy/skils.png') no-repeat;
}
/* /requirements */
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22less%2Fvacancy.less%22%2C%22less%2Finclude%2Fmixins.less%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22AAKA%3BEACI%2CcAAA%3BEACA%2CeAAA%3BEACA%2CiBAAA%3BEACA%2CWAAA%3B%3BAAEJ%3BEACI%2CoEAAA%3B%3BAAGJ%2CWAEI%3BEACI%2CcAAA%3B%3BAAHR%2CWAKI%3BEAAU%2CkBAAA%3B%3BAACV%2CWAAC%3BEACG%2CeAAA%3B%3BAAIR%3BEACI%2CSAAA%3BEACA%2CmBAAA%3B%3BEACA%2CYAAY%2CgEAAZ%3B%3BEACA%2CYAAY%2CgDAAgD%2CyBAAwB%2C0BAAyB%2C0BAA7G%3B%3BEACA%2CYAAY%2CmEAAZ%3B%3BEACA%2CYAAY%2C8DAAZ%3B%3BEACA%2CYAAY%2C%2BDAAZ%3B%3BEACA%2CYAAY%2CiEAAZ%3B%3BEACA%2CQAAQ%2CyDAA0D%2CuBAAuB%2C0BAAzF%3B%3B%3BAAEA%2CIAAK%3BEAAG%2CuvBAAA%3B%3BAAER%2CWAAC%3BEACG%2CcAAA%3BEACA%2CaAAA%3BEACA%2CaAAA%3BEACA%2CoDAAA%3B%3BAAIR%3BEACI%2CoBAAA%3B%3BAAEA%2CSAAC%3BEACG%2CWAAA%3BEACA%2CYAAA%3BEACA%2CaAAA%3BEACA%2CoBAAA%3BEACA%2CoDAAA%3B%3BAAEJ%2CSAAC%3BEACG%2CuBAAA%3B%3B%3BAAMR%3BEACI%2CwBAAA%3B%3BAAEA%2CaAAC%3BEACG%2CgBAAA%3BEACA%2CiBAAA%3BEACA%2C6BAAA%3B%3BAAEJ%2CaAAC%2CEAAE%3BEAAa%2CgBAAA%3B%3BAAChB%2CaAAC%3BEACG%2CWAAA%3BEACA%2CYAAA%3B%3BAAEJ%2CaAAC%3BEACG%2CkBAAA%3BEACA%2CeAAA%3BEACA%2CcAAA%3B%3BAAEJ%2CaAAC%3BEACG%2CkBAAA%3B%3BAAEJ%2CaAAC%3BEACG%2CuBAAA%3B%3BAAEJ%2CaAAC%2CKAAM%3BEAAG%2CaAAA%3B%3BAACV%2CaAAC%3BEACG%2CsBAAA%3BEACA%2CkBAAA%3B%3B%3B%3BAASR%3BEACI%2CYAAA%3BEACA%2CwBAAwB%2C0DAAxB%3B%3BAAFJ%2CcAII%3BEACI%2CqBAAA%3B%3BAAGR%3BEACI%2CgBAAA%3B%3BAADJ%2CQAGI%3BEACI%2CuBAAA%3BEACA%2CgBAAA%3B%3BAALR%2CQAOI%3BEAAgB%2CUAAA%3B%3BAAPpB%2CQAQI%3BEAAgB%2CUAAA%3B%3BAARpB%2CQASI%3BEACI%2CeAAA%3BEACA%2CaAAA%3BEACA%2CWAAA%3B%3BAAZR%2CQAcI%2CeAAe%3BEACX%2CeAAA%3BEACA%2CiBAAA%3BEACA%2CYAAA%3BEACA%2CeAAA%3B%3BAAGJ%2CQAAC%3BEACG%2CwBAAwB%2C0CAAxB%3BEACA%2CcAAA%3B%3BAAEJ%2CQAAC%3BEACG%2CoBAAA%3BEACA%2CkBAAA%3BEACA%2CeAAA%3BEACA%2CiBAAA%3BEACA%2CWAAA%3B%3BAAEJ%2CQAAC%3BEACG%2CeAAA%3BEACA%2CiBAAA%3BEACA%2CiBAAA%3BEACA%2CcAAA%3BEACA%2CgBAAA%3B%3BAAEJ%2CQAAC%3BEACG%2CiBAAA%3BEACA%2CmBAAA%3B%3BAAEJ%2CQAAC%3BEACG%2CYAAA%3BEACA%2CYAAA%3BEACA%2CsBAAA%3BEACA%2CgBAAgB%2C6CAAhB%3B%3BAAEJ%2CQAAC%3BEACG%2C4BAAA%3BEACA%2CWAAA%3BEACA%2CeAAA%3BEACA%2CiBAAA%3B%3BAAEJ%2CQAAC%3BEAAY%2CmBAAA%3B%3BAACb%2CQAAC%3BEAAa%2CmBAAA%3B%3BAACd%2CQAAC%3BEAAc%2CmBAAA%3B%3BAACf%2CQAAC%3BEC6FG%2CqBAAA%3BED3FA%2CYAAA%3BEACA%2CsBAAA%3BEACA%2CeAAA%3BEACA%2CiBAAA%3BEACA%2CiBAAA%3B%3BAAEJ%2CQAAC%3BECqFG%2CqBAAA%3BEDnFA%2CYAAA%3BEACA%2CsBAAA%3B%3BAAEJ%2CQAAC%2CSAAS%3BEACN%2CYAAA%3BEACA%2CmBAAA%3B%3BAAGJ%2CQAAC%3BEACG%2CgBAAgB%2C%2BCAAhB%3BEACA%2CuBAAA%3B%3BAAEJ%2CQAAC%3BEACG%2CSAAA%3BEACA%2CeAAA%3BEACA%2CiBAAA%3B%3BAAEJ%2CQAAC%3BEACG%2CgBAAA%3BEACA%2CeAAA%3B%3BAAEJ%2CQAAC%3BEACG%2CkBAAA%3BEACA%2C0BAAA%3BEACA%2CgBAAgB%2C8CAAhB%3B%3BAAEJ%2CQAAC%3BEACG%2CeAAA%3BEACA%2CWAAA%3BEACA%2CkBAAA%3B%3B%3B%3BAAMR%3BEACI%2CWAAA%3BEACA%2CwBAAA%3BEACA%2CwBAAuB%2CmDAAvB%3B%3BAAEA%2CaAAC%3BEACG%2CuDAAA%3BEACA%2CSAAA%3BEACA%2CkBAAA%3B%3BAAEJ%2CaAAC%3BEACG%2CeAAA%3BEACA%2CiBAAA%3BEACA%2CWAAA%3BEACA%2CkBAAA%3BEACA%2CgBAAA%3B%3BAAEJ%2CaAAC%3BEACG%2CWAAA%3BEACA%2CYAAA%3BEACA%2CiBAAA%3B%3BAAEJ%2CaAAC%3BEACG%2CYAAA%3BEACA%2CYAAA%3B%3BAAEJ%2CaAAC%3BEACG%2CuDAAA%3BEACA%2CgBAAA%3BEACA%2CgCAAA%3BEACA%2CeAAA%3B%3BAAEJ%2CaAAC%3BEACG%2CeAAA%3BEACA%2CiBAAA%3BEACA%2CgBAAA%3BEACA%2CWAAA%3B%3BAAEJ%2CaAAC%3BEACG%2CYAAA%3BEACA%2CaAAA%3BEACA%2CeAAA%3BEACA%2CgBAAgB%2CsCAAhB%3B%3BAAEJ%2CaAAC%3BEACG%2CYAAA%3BEACA%2CaAAA%3BEACA%2CgBAAgB%2CsCAAhB%22%7D */