doctype html
| <!--[if lt IE 10]>     <html class="no-js lt-ie10"> <![endif]-->
| <!--[if gt IE 10]><!--> <html class="no-js "> <!--<![endif]-->
include ../block/config
//- vars from template file
- var bodyClass = ''; 
- var global = {}; 

block vars
    
//- tag head
+headLite(path, global)

body.body(class='#{bodyClass}')
    
    //-///////////////////////////////////////
    //- Дата последних изменений 
    //-|  <!-- #{timestamp} -->
    //-///////////////////////////////////////
    .header-banner
        .header-banner_hold
            | <embed width="680" height="345" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://content.adfox.ru/140919/adfox/413968/1104569.swf" play="true" loop="true" menu="true">
    
    .layout-container
        .layout-loose.layout-loose__white
            .layout-header
            
                +headerGuest('header__nosearch', header.nosearch)
            .layout-loose_hold.clearfix
                block layout
                
            //- +btn-scrolltop()
    .popup-container.display-n  
        block block-hidden
            
    //- +scriptsLite(path)
| </html>