// ----------------------------------------------------------
// В файле все комментарии делать в less стиле //
// ----------------------------------------------------------

// Variables - глобальные переменные для всего сайта -------

// 

@bodycolor : #fff;
@color : #1f1f1f;

// TYPOGRAPHY 

@basefont : Arial, Tahoma, Verdana, sans-serif;
@basefontsize : 12px;
@baselineheight : 18px;

@altfont : Tahoma, Arial, Verdana, sans-serif;
@altlineheight : 16px;

@textsmall: 11px;

// Links
@linkcolor 		    : rgb(1,53,104);
@linkcolorhover 	: darken(@linkcolor, 10);
@linkcolorvisited   : darken(@linkcolorhover, 10);
@linkcolorfocus 	: darken(@linkcolorvisited, 10);

// colour palettes
@alertcolor 	: rgb(252,248,227);
@errorcolor 	: rgb(218,79,73);
@infocolor 		: rgb(217,237,247);
@inverscolor 	: rgb(65,65,65);
@successcolor 	: rgb(91,183,91);
@warningcolor 	: rgb(250,167,50);

