// ----------------------------------------------------------
// В файле все комментарии делать в less стиле //
// ----------------------------------------------------------

// Variables - глобальные переменные для всего сайта -------
// Практически не используются
// 

@bodycolor : #fff;
@color : #1f1f1f;

// TYPOGRAPHY 

@basefont : Arial, Tahoma, Verdana, sans-serif;
@basefontsize : 12px;
@baselineheight : 18px;

@altfont : Tahoma, Arial, Verdana, sans-serif;
@altlineheight : 16px;

@textsmall: 11px;


