.body {
    word-wrap: break-word;
    -moz-hyphens:none; // запретить пернос слов по слогам
    -ms-hyphens:none;
    -webkit-hyphens: none;
    hyphens:none;
    height: 100%;

    &__white {background: #fff;}

    &__bg1,
    &__bg2,
    &__lite {
        min-width: 240px;
        background-color: #544078;
    }
    @media (min-width: @screen-tablet) {
        &__bg1,
        &__bg2,
        &__lite {
            //spring bg
            background:#B1D9F1 url('@{path-img}/body__bg/body-on-vesna.png') no-repeat 50% 0;
            background-attachment: fixed;
//          //contest bg
//          background:#B1D9F1 url('@{path-img}/contest/commentator/bg-contest.png') no-repeat 50% 0;
//          background-attachment: fixed;
        }
        &__spring {
            background:#B1D9F1 url('@{path-img}/body__bg/body-on-vesna.png') no-repeat 50% 0;
            background-attachment: fixed;
        }
        &__homepage {
            background:#B1D9F1 url('@{path-img}/body__bg/body-on-vesna.png') no-repeat 50% 0;
            background-attachment: fixed;
        }
        &__regular {
            background:#544078 url('@{path-img}/body__bg/body-circle-candy__dark.png') no-repeat 50% 0;
            background-attachment: fixed;
        }
        &__contest-commentator .layout-loose {
            margin-top: 20px
        }
    }

    @media (min-width: 1920px) {
        &__spring, &__bg2 {
            background-size: cover;
        }
        &__regular {
            background-size: initial;
        }
    }

    &__user {
        min-width: 1000px;
    }

    // Широкий контент для планшетов и мобильных
    &__cont-wide .b-main_cont {
        margin: 0 10px;
    }
    @media (min-width: @screen-phone-landscape) {
        &__cont-wide .b-main_cont{
            margin: 0 2%;
            width: auto;
        }
    }
    @media (min-width: @screen-desktop) {
        &__cont-wide .b-main_cont{
            margin: 0 35px;
        }
    }
}
