html {
    height: 100%;
}
.body {
    word-wrap: break-word;
    height: 100%;
    
    &__white {background: #fff;}

    &__bg1,
    &__lite {
        min-width: 240px;
        background-color: #66508c;
    }
    @media (min-width: @screen-tablet) {
        &__bg1,
        &__lite {
            background:#66508c url('@{path-img}/body__bg/body-circle-candy__dark.png') no-repeat 50% 0;
            background-attachment: fixed;
        }
    }
    
    &__user {
        min-width: 1000px;
    }
}