include ../../../block/config
extend ../../../extend/layout_user
block vars
    - var bodyClass = 'body__lite';
    - global.cssFile = 'member-user.css'; 
 
block layout
 

    .b-main
        .b-main_cols.clearfix
            .b-main_col-1 
                +sidebarSearch('sidebar-search__big', sidebarSearch.a )
            .b-main_col-23
                +userAddRecord('userAddRecord__s', userAddRecord.a)
            

    .b-main
        .b-main_cont.b-main_cont__broad    
            .b-crumbs.b-crumbs__s
                .b-crumbs_tx Я здесь:
                ul.b-crumbs_ul
                    li.b-crumbs_li
                        a.b-crumbs_a(href="#") Главная
                    li.b-crumbs_li
                        +ava('ava__small', ava.a)
                    li.b-crumbs_li.b-crumbs_li__last
                        span.b-crumbs_last Семья 

    .b-main
        .b-main_cont.b-main_cont__wide
            //- +userAddRecord('userAddRecord__blog', userAddRecord.albums)

            .family-user.family-user__think
                .textalign-c
                    .ico-myfamily.ico-myfamily__l

                +cap-empty("cap-empty__profile-family", capEmpty.familyFirstEdit)


        +layout-footer-lite()


