/* @layout  project 
--------------------------------------------------------*/
/* layout-page */
.layout-page {
  padding: 5px 3%;
}
/* /layout-page */
/* logo */
.logo {
  margin: 10px auto;
  width: 130px;
  height: 60px;
  background: url(/mobile/images/logo.png) no-repeat 50% 0;
}
.logo_a {
  display: block;
  height: 100%;
  text-indent: -9999px;
  overflow: hidden;
}
/* /logo */
/* navigation */
.nav {
  margin: 6px 0 20px;
  padding: 1px 0;
  background: #f8f4fc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.nav_t {
  display: block;
  margin: 5px 1%;
  padding: 6px 0;
  background: #a17dc4 url(/mobile/images/nav_t.png) no-repeat 97% 55%;
  font: bold 15px Arial, Tahoma, Verdana, sans-serif;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  -webkit-box-shadow: inset 4px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 4px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.nav_hold {
  position: relative;
  display: none;
}
.nav_hold__open {
  display: block;
}
.nav_ul {
  margin: 0 1% 10px;
  color: #644880;
}
.nav_i {
  display: block;
  padding: 4px 1.5% 4px 13px;
  font-weight: bold;
  font-family: Tahoma, Arial, Verdana, sans-serif;
  line-height: 20px;
  color: #644880;
  text-decoration: none;
}
.nav_i:hover,
.nav_i:focus,
.nav_i:active,
.nav_li__active .nav_i {
  background: #b69ad1;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.nav_ico {
  display: inline-block;
  margin-right: 5px;
  width: 15px;
  height: 15px;
  background: url(/mobile/images/ico/nav_ico.png) no-repeat;
  vertical-align: middle;
}
.nav_ico__club {
  height: 12px;
  background-position: 0 0;
}
.nav_i:hover .nav_ico__club,
.nav_i:focus .nav_ico__club,
.nav_i:active .nav_ico__club,
.nav_li__active .nav_ico__club {
  background-position: -15px 0;
}
.nav_ico__blog {
  background-position: 0 -15px;
}
.nav_i:hover .nav_ico__blog,
.nav_i:focus .nav_ico__blog,
.nav_i:active .nav_ico__blog,
.nav_li__active .nav_ico__blog {
  background-position: -15px -15px;
}
.nav_ico__horoscope {
  background-position: 0 -30px;
}
.nav_i:hover .nav_ico__horoscope,
.nav_i:focus .nav_ico__horoscope,
.nav_i:active .nav_ico__horoscope,
.nav_li__active .nav_ico__horoscope {
  background-position: -15px -30px;
}
.nav_ico__cook {
  background-position: 0 -45px;
}
.nav_i:hover .nav_ico__cook,
.nav_i:focus .nav_ico__cook,
.nav_i:active .nav_ico__cook,
.nav_li__active .nav_ico__cook {
  background-position: -15px -45px;
}
.nav_i .arrow-down {
  margin: 0 5px;
}
.nav_i:hover .arrow-down,
.nav_i:focus .arrow-down,
.nav_i:active .arrow-down,
.nav_li__active .nav_i .arrow-down {
  background: url(/mobile/images/arrow-down-2.png) no-repeat 50% 50%;
}
.nav_arrow-down {
  display: inline-block;
  width: 8px;
  height: 6px;
  vertical-align: middle;
  background: url(/mobile/images/arrow-down.png) no-repeat 50% 50%;
}
.nav-drop {
  display: none;
}
.nav_li__active .nav-drop {
  display: block;
}
.nav-drop_i {
  display: block;
  padding: 4px 10px 4px 42px;
  color: #644880;
  font-family: Tahoma, Arial, Verdana, sans-serif;
  text-decoration: none;
  margin: 2px 0;
}
.nav-drop_i:hover,
.nav-drop_i:focus,
.nav-drop_i:active {
  background: #ece5f3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 2px 0;
}
.nav-search {
  background: #e1d3ef;
  padding: 15px 10px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.nav-search_hold {
  position: relative;
}
.nav-search_itx {
  width: 50%;
  height: 16px;
  padding: 6px 11px 2px;
  line-height: 15px;
  font-size: 13px;
  background: #f2ebf8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25), 0 1px 0 #ffffff;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25), 0 1px 0 #ffffff;
}
.nav-search_btn {
  margin-left: 5px;
}
/* /navigation */
/* article - entry */
.entry {
  margin: 0 1% 20px;
}
.entry_h {
  margin: 10px 0;
}
.entry_h1 {
  margin-bottom: 5px;
}
.entry_meta {
  float: right;
  margin-left: 10px;
  font-size: 11px;
}
.entry_views {
  float: right;
  margin-left: 15px;
  color: #737575;
}
.entry_comments {
  float: right;
  margin-left: 15px;
}
.user-info .ava-small {
  float: left;
  margin: 3px 5px 0 0;
}
.user-info_details {
  margin-left: 20px;
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 11px;
}
.user-info_time {
  color: #b6b9ba;
  font-size: 9px;
}
/* article content */
.wysiwyg-content {
  line-height: 1.31em;
}
.wysiwyg-content h2 {
  font-size: 15px;
  font-weight: bold;
  color: #0281b0;
  margin-bottom: 5px;
}
.wysiwyg-content h3 {
  font-size: 13px;
  font-weight: bold;
  color: #0281b0;
}
.wysiwyg-content p {
  margin-bottom: 10px;
}
.wysiwyg-content ul {
  list-style: disc inside;
  padding-bottom: 5px;
  padding-left: 5px;
}
.wysiwyg-content ol {
  list-style: decimal inside;
  padding-bottom: 5px;
  padding-left: 5px;
}
.wysiwyg-content li {
  margin-bottom: 5px;
}
.content-img {
  display: block;
  margin: 8px 0;
}
/* /article content */
/* / article - entry */
/* interesting */
.interesting {
  margin: 20px 0;
}
.interesting_t {
  margin: 0 0 10px;
  font-size: 18px;
  color: #252525;
}
.interesting_i {
  margin: 8px 0;
}
/* /interesting */
.page-numer {
  font-size: 20px;
  line-height: 1.6em;
  font-weight: bold;
  color: #656268;
}
/* comments */
.comments {
  margin-bottom: 10px;
  font-size: 12px;
}
.comments_t {
  margin-bottom: 10px;
  padding: 8px 3px;
  border-bottom: 1px solid #cdecff;
  font-size: 22px;
  color: #333;
}
.comments_count {
  color: #6ea0d4;
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-weight: bold;
}
.comments_i {
  margin-bottom: 8px;
  border-bottom: 1px dashed #cae3ff;
}
.comments_meta {
  margin-bottom: 5px;
  font-size: 11px;
  vertical-align: bottom;
}
.comments_time {
  float: right;
  font-size: 9px;
  padding: 9px 0 0 5px;
}
.comments_num {
  display: inline-block;
  margin-right: 3px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  padding: 1px 4px;
  background: #92b3e1;
}
.comments_author {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: -2px;
}
.comments_ctn {
  margin: 5px 0;
  line-height: 17px;
}
.comments_ctn p {
  margin: 3px 0;
}
.comments_quote {
  padding: 5px 10px;
  background: #eafaff;
  margin: 10px 5px;
  border-left: 1px solid #92b3e1;
}
/* /comments */
/* footer */
.footer {
  margin: 5px 0;
  padding: 12px 10px;
  background: #f2f1f1;
  font-size: 11px;
  line-height: 14px;
  color: #6e6d6d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.full-version {
  display: inline-block;
  padding: 5px 8px;
  border: 1px solid #c9c8c8;
  background: #9a78bc;
  color: #514f52;
  font-size: 12px;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #eaeaea;
  /* Old browsers */

  background: -moz-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eaeaea));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
  /* Opera 11.10+ */

  background: linear-gradient(to bottom, #ffffff 0%, #eaeaea 100%);
  /* W3C */

}
/* /footer */
/* /project layout
---------------------------------------------------------*/
