include ../../../block/config
extend ../../../extend/layout_base_user
block vars
    - var bodyClass = 'body__lite';
    - global.cssFile = 'member-user.css';
  
block layout

    .b-main
        .b-main_cont.b-main_cont__wide

            +userAddRecord('', userAddRecord.blog)
            .postAdd
                .postAdd_hold
                    .postAdd_row 
                        .inp-valid.inp-valid__abs
                            .inp-valid_count 30
                            input.itx-gray(placeholder="Заголовок") 
                            
                    .postAdd_row 
                        +capAdd('cap-add__l', capAdd.a)

                    // Строка
                    +postAddRowBtns('', postAddRowBtns.a)

        +layout-footer-lite()
