include ../../../block/config
extend ../../../extend/layout_base_user
block vars
    - var bodyClass = 'body__lite';
    - global.cssFile = 'member-user.css';
  
block layout

    .b-main
        .b-main_cont.b-main_cont__wide

            +userAddRecord('', userAddRecord.blog)
            .postAdd
                .postAdd_hold
                    .postAdd_row
                        .inp-valid.inp-valid__abs
                            .inp-valid_count 30
                            input.itx-gray(placeholder="Заголовок") 
                            
                    .i-info-success
                        | Загружено 30 фотографий. Дайте названия и описания каждой или сделайте это позже
                        a.ico-close(href='#')
                    .postAdd_row.postAdd_row__indent-s
                        .postAdd_count.postAdd_count__s
                        .b-main_col-article
                            /////////////////
                            a.user-album_sort(href='#') Упорядочить фото
                    .postAdd_row
                        .postAdd_count.postAdd_count__s 99
                        .b-main_col-article
                            | +
                    .postAdd_row 
                        +capAdd('cap-add__l-s', capAdd.b)

                    // Строка
                    +postAddRowBtns('', postAddRowBtns.a)

        +layout-footer-lite()