include ../../../block/config
extend ../../../extend/layout_base
block vars
    - var bodyClass = 'body__bg1 body__lite';
    - global.cssFile = 'services.css'; 

block layout
       
    // b-main 
    .b-main.clearfix
    
        .b-main_cont
            .b-crumbs.b-crumbs__s
                .b-crumbs_tx Я здесь:
                ul.b-crumbs_ul
                    li.b-crumbs_li
                        a.b-crumbs_a(href='#') Главная 
                    li.b-crumbs_li
                        a.b-crumbs_a(href='#') Гороскопы  
                    li.b-crumbs_li.b-crumbs_li__last
                        span.b-crumbs_last Овен
        .b-main_cont
            .b-main_col-hold.clearfix
                ///////
                // Основная колонка
                .b-main_col-article
                    
                    h1.heading-link-xxl Гороскоп Овна на сегодня

                    //- +articleNearby('', articleNearby.horoscope1)

                    .horoscope-day
                        .ico-zodiac.ico-zodiac__xl
                            .ico-zodiac_in.ico-zodiac__1
                        .horoscope-day_tx Овен

                    .wysiwyg-content.clearfix
                        p Возможно, сегодня вашей помощи попросят родственники – постарайтесь поддержать их. Приложите усилия, чтобы наладить отношения в семье, сгладить ссоры и разногласия. В этот день невозможно оставаться пассивными. Направьте свою энергию на созидательную практическую деятельность в семейных вопросах. Возможны неполадки с техникой. Вечером побудьте дома, посмотрите хороший фильм, послушайте любимую музыку.

                    +customLikes('', customLikes.horoscope) 

                    .menu-link-simple.menu-link-simple__center
                        .menu-link-simple_t Еще Овен
                        ul.menu-link-simple_ul
                            li.menu-link-simple_li
                                a.menu-link-simple_a(href='#') На завтра
                            li.menu-link-simple_li
                                a.menu-link-simple_a(href='#') На месяц
                            li.menu-link-simple_li
                                a.menu-link-simple_a(href='#') На 2014
                            li.menu-link-simple_li
                                a.menu-link-simple_a(href='#') 
                                    span.color-gray + &nbsp;
                                    | Гороскоп Овна по дням

                    .seo-desc.wysiwyg-content.visible-md-block
                        p Читая гороскоп Овна на сегодня, не забывайте о притче, которая как нельзя лучше подходит для людей этого знака.
                        p В горном ауле жил мальчик Сиб. Однажды он увидел во сне море. Сиб рассказывал свой сон каждому встречному, но над ним лишь смеялись. Никто в этом ауле не знал, что такое море. Однако мальчика так поразил сон, что, как только он вырос, сразу отправился на поиски приснившегося. Долго он шел и достиг развилки дорог.
                        p Сиб выбрал правую дорогу и скоро пришёл в небольшой красивый городок, но там тоже никто ничего не знал про море. Городок юноше понравился. Он выучился на башмачника и стал шить лучшие башмаки. Прошло пятнадцать лет. Сиб стал уважаемым человеком и уже подумывал о женитьбе, как вдруг снова увидел сон про море.
                        p Он вернулся к развилке и выбрал среднюю дорогу. Через два дня пути Сиб дошел до ветхого дома, в котором жила одинокая женщина. Он решил помочь ей восстановить хозяйство, да так и остался жить. Тридцать лет прошли в счастье и согласии, как вдруг Сиб снова увидел свой сон.
                        p Не медля ни минуты, вернулся он к развилке дорог и теперь пошел по самой левой. Эта дорога вела высоко в горы. Сибу приходилось ползти, цепляясь за камни и растения. Но он, стиснув зубы, продвигался всё дальше.
                        p Умирающим стариком дополз Сиб до вершины горы. Последний раз поднял он голову и увидел аул, где родился, городок, в котором стал башмачником, дом с любимой женщиной. А за ними раскинулось огромное, блестящее на солнце море. Сиб осознал, что все три дороги вели к морю, только нужно было пройти их до конца.
                        p Жаль, что Сиб не читал гороскоп Овна на сегодня. Возможно, тогда бы у него был шанс не только увидеть свою мечту, но и в полной мере насладиться ею.

                    +adv-yandex()
                // /Основная колонка
                
                .b-main_col-sidebar 
                    +zodiacList('zodiac-list__sidebar', zodiacList.a)

    // b-main 
    +layout-footer-lite()

