include ../../../block/config
extend ../../../extend/layout_base
block vars
    - var bodyClass = 'body__bg1 body__lite';
    - global.cssFile = 'services.css'; 

block layout
       
    // b-main 
    .b-main.clearfix
    
        .b-main_cont
            .b-crumbs.b-crumbs__s
                .b-crumbs_tx Я здесь:
                ul.b-crumbs_ul
                    li.b-crumbs_li
                        a.b-crumbs_a(href='#') Главная 
                    li.b-crumbs_li
                        a.b-crumbs_a(href='#') Гороскопы  
                    li.b-crumbs_li
                        a.b-crumbs_a(href='#') Овен  
                    li.b-crumbs_li.b-crumbs_li__last
                        span.b-crumbs_last  2014 
        .b-main_cont
            .b-main_col-hold.clearfix
                ///////
                // Основная колонка
                .b-main_col-article
                    
                    h1.heading-link-xxl Гороскоп Овна на 2014 год

                    .horoscope-day
                        .ico-zodiac.ico-zodiac__l.ico-zodiac__xl-sm
                            .ico-zodiac_in.ico-zodiac__3
                        .horoscope-day_tx Овен

                    .wysiwyg-content.clearfix
                        h2.horoscope-year-t.horoscope-year-t__health Здоровье
                        p Имеет смысл настроиться на то, что состояние организма придется поддерживать. Любые серьезные эмоциональные и физические перегрузки будут иметь негативные последствия. Крайне нежелательным может оказаться пренебрежение к профилактике заболеваний. Большую пользу принесет правильный режим питания, переходить на него можно уже сейчас.
                        h2.horoscope-year-t.horoscope-year-t__career Карьера
                        p Звезды обращают ваше внимание на то, что к работе придется подходить очень вдумчиво, просчитывать каждую мелочь, щепетильно относиться к профессиональным обязанностям и обещаниям, данным руководству. Именно от мелочей будет зависеть успех. С вашим порывистым характером придерживаться этой тактики будет непросто, но к концу года вы получите достойное вознаграждение за выдержку и терпение.
                        h2.horoscope-year-t.horoscope-year-t__fin Финансы
                        p Для вас в этом году очень актуальной будет поговорка «Волка ноги кормят». Нужно настраиваться на максимальную активность, проявление инициативы, множество новых знакомств и разъездов. Только тогда удастся иметь столько средств, сколько необходимо для полного счастья.
                        h2.horoscope-year-t.horoscope-year-t__home Личная жизнь
                        p Любовные отношения будут отличаться страстностью, периодическими эмоциональными всплесками. Выяснение отношений не приведет к разрыву, только даст возможность всем противоречиям выйти наружу. Уже к концу осени буря утихнет и начнется длительный период штиля, который продлится и большую часть 2014 года.

                    //-.horoscope-year 
                        .horoscope-year_item.horoscope-year_item__health
                                h2.horoscope-year_t Здоровье
                                p
                                    | Имеет смысл настроиться на то, что состояние организма придется поддерживать. Любые серьезные эмоциональные и физические перегрузки будут иметь негативные последствия. Крайне нежелательным может оказаться пренебрежение к профилактике заболеваний. Большую пользу принесет правильный режим питания, переходить на него можно уже сейчас.
                            .horoscope-year_item.horoscope-year_item__career
                                h2.horoscope-year_t Карьера
                                p
                                    | Звезды обращают ваше внимание на то, что к работе придется подходить очень вдумчиво, просчитывать каждую мелочь, щепетильно относиться к профессиональным обязанностям и обещаниям, данным руководству. Именно от мелочей будет зависеть успех. С вашим порывистым характером придерживаться этой тактики будет непросто, но к концу года вы получите достойное вознаграждение за выдержку и терпение.
                            .horoscope-year_item.horoscope-year_item__fin
                                h2.horoscope-year_t Финансы
                                p
                                    | Для вас в этом году очень актуальной будет поговорка «Волка ноги кормят». Нужно настраиваться на максимальную активность, проявление инициативы, множество новых знакомств и разъездов. Только тогда удастся иметь столько средств, сколько необходимо для полного счастья.
                            .horoscope-year_item.horoscope-year_item__home
                                h2.horoscope-year_t Личная жизнь
                                p
                                    | Любовные отношения будут отличаться страстностью, периодическими эмоциональными всплесками. Выяснение отношений не приведет к разрыву, только даст возможность всем противоречиям выйти наружу. Уже к концу осени буря утихнет и начнется длительный период штиля, который продлится и большую часть 2014 года.

                    +customLikes('', customLikes.horoscope) 

                    .menu-link-simple.menu-link-simple__center
                        .menu-link-simple_t Еще Овен
                        ul.menu-link-simple_ul
                            li.menu-link-simple_li
                                a.menu-link-simple_a(href='#') На сегодня
                            li.menu-link-simple_li
                                a.menu-link-simple_a(href='#') На завтра
                            li.menu-link-simple_li
                                a.menu-link-simple_a(href='#') На месяц
                            li.menu-link-simple_li
                                a.menu-link-simple_a(href='#') 
                                    span.color-gray + &nbsp;
                                    | Гороскоп Овна по дням 

                    +adv-yandex()
                // /Основная колонка

                .b-main_col-sidebar 
                    +zodiacList('zodiac-list__sidebar', zodiacList.a)
    // b-main 
    +layout-footer-lite()

