include ../../block/config
extend ../../extend/layout_base
block vars
    - var bodyClass = 'body__lite';
    - global.cssFile = 'member.css'; 
  
block block-dev-view
   
        script.
            /* Height block comment scroll in photo-window */
            function photoWindColH () {
                var colCont = $(".photo-window_cont");
                var bannerH = document.getElementById('photo-window_banner').offsetHeight;
                colCont.height($(window).height() - bannerH - 24);

            }

            /* Позиция блока с лайками */
            function likePos () {
                var likeBottom = ($('.photo-window_img-hold').height() - $('.photo-window_img').height()) / 2 + 30;
                $('.photo-window .like-control').css({'bottom' : likeBottom});
            }

            $(document).ready(function () {
                photoWindColH();
                likePos();

              /* custom scroll */
              var scroll = $('.scroll').baron({
                scroller: '.scroll_scroller',
                barOnCls: 'scroll__on',
                container: '.scroll_cont',
                track: '.scroll_bar-hold',
                bar: '.scroll_bar'
              });


            });
            $(window).resize(function () {
                photoWindColH();
                likePos();
            });

        .photo-window.display-b
            .photo-window_w
                a.photo-window_close(href='')
                .photo-window_top
                    .photo-window_count 25 из 52
                //
                     Обрабатывать клик на .photo-window_c для листания следующего изображения 
                .photo-window_c
                    .photo-window_img-hold
                        img.photo-window_img(src='/images/example/w960-h537-1.jpg', alt='')
                        .verticalalign-m-help
                    a.photo-window_arrow.photo-window_arrow__l.fancy(href='#photo-window-end', data-theme='white-simple')
                    a.photo-window_arrow.photo-window_arrow__r.fancy(href='#photo-window-end', data-theme='white-simple')
                    +likeControl()
                    //-.like-control.clearfix
                        a.like-control_ico.like-control_ico__like(href='') 865
                        .favorites-control
                            a.favorites-control_a(href='') 12365
                            .favorites-add-popup.favorites-add-popup__right
                                .favorites-add-popup_t Добавить запись в избранное
                                .favorites-add-popup_i.clearfix
                                    img.favorites-add-popup_i-img(src='/images/example/w60-h40.jpg', alt='')
                                    .favorites-add-popup_i-hold Неравный брак. Смертельно опасен или жизненно необходим?
                                .favorites-add-popup_row
                                    label.favorites-add-popup_label(for='') Теги:
                                    span.favorites-add-popup_tag
                                        a.favorites-add-popup_tag-a(href='') отношения
                                        a.ico-close(href='')
                                    span.favorites-add-popup_tag
                                        a.favorites-add-popup_tag-a(href='') любовь
                                        a.ico-close(href='')
                                .favorites-add-popup_row.margin-b10
                                    a.textdec-none(href='')
                                        span.ico-plus2.margin-r5
                                        span.a-pseudo-gray.color-gray Добавить тег
                                .favorites-add-popup_row
                                    label.favorites-add-popup_label(for='') Комментарий:
                                    .float-r.color-gray 0/150
                                .favorites-add-popup_row
                                    textarea.favorites-add-popup_textarea(name='', cols='25', rows='2', placeholder='Введите комментарий') 
                                .favorites-add-popup_row.textalign-c.margin-t10
                                    a.btn-gray-light(href='') Отменить
                                    a.btn-green(href='') Добавить
                .photo-window_col
                    .photo-window_col-hold.scroll
                        .scroll_scroller.photo-window_cont
                            .scroll_cont
                                .photo-window_cont-t.clearfix
                                    .meta-gray
                                        a.meta-gray_comment(href='')
                                            span.ico-comment.ico-comment__gray
                                            span.meta-gray_tx 35
                                        .meta-gray_view
                                            span.ico-view.ico-view__gray
                                            span.meta-gray_tx 305
                                    .b-user-info.b-user-info__middle.float-l
                                        +ava('ava__middle ava__female', avaVars)
                                        .b-user-info_hold
                                            a.b-user-info_name(href='') Ангелина Богоявленская
                                            .b-user-info_date 16 июн 2013
                                .photo-window_about
                                    | Фотопост 
                                    a(href='') Места моих путешествий
                                .photo-window_t
                                    input.itx-gray(type='text', name='', placeholder='Введите название фото и нажмите Enter')
                                    //
                                         Детский лагерь «Зеркальный». Ленинградская область. Ghfg Ленинградская <a class="ico-edit powertip" href=""></a> 
                                .photo-window_desc-hold
                                    .photo-window_desc.clearfix
                                        p
                                            | В круглогодичном лечебно-развлекательном лагере «Зеркальный» ежедневно проводятся разнообразные мероприятия и программы - тематические, творческие и интеллектуальные конкурсы, концерты, викторины, активные и спокойные игры, спокойные игры  В круглогодичном лечебно-развлекательном лагере «Зеркальный» ежедневно проводятся разнообразные мероприятия и программы - тематические, творческие и интеллектуальные конкурсы, концерты, викторины, активные и спокойные игры, эстафеты, соревнования В круглогодичном лечебно-развлекательном лагере «Зеркальный» ежедневно проводятся разнообразные мероприятия и программы - тематические, творческие и интеллектуальные конкурсы, концерты, викторины, активные и спокойные игры, эстафеты и спокойные игры.
                                            a.ico-edit.powertip(href='')
                                .comments-gray.comments-gray__small
                                    .comments-gray_add.active.clearfix
                                        .comments-gray_ava
                                            +ava('ava__small ava__female', avaVars)
                                        .comments-gray_frame
                                            textarea.itx-gray(name=' ', cols='15', rows='2', placeholder='Введите ваш комментарий и нажмите Enter')
                                    .comments-gray_t
                                        span.comments-gray_t-tx
                                            | Комментарии
                                            span.color-gray (28)
                                        a#comments-show.font-small(href='') Показать 
                                        //
                                             <a href="" class="float-r font-small">Статистика (14)</a> 
                                        .comments-gray_sent.display-b Комментарий успешно отправлен.
                        .scroll_bar-hold
                            .scroll_bar
                                .scroll_bar-in
                    #photo-window_banner.photo-window_banner.clearfix
                        img(src='/images/example/w300-h250.jpg', alt='alt')
