include ../../block/config
extend ../../extend/layout_base
block vars
    - var bodyClass = 'body__lite';
    - global.cssFile = 'member.css'; 
  
block layout
 
    .b-main
        .b-main_cont
            .b-crumbs.b-crumbs__s
                .b-crumbs_tx Я здесь
                ul.b-crumbs_ul
                    li.b-crumbs_li
                        a.b-crumbs_a(href="") Главная
                    li.b-crumbs_li
                        +ava('ava__small', ava.a)
                    li.b-crumbs_li.b-crumbs_li__last
                        span.b-crumbs_last Фото

            //-+userSection('visible-md-block')
            .b-main_col-hold.clearfix
                .b-main_col-article

                    // b-article
                    .b-article.clearfix
                        .b-article_header.clearfix
                            .icons-meta
                                a.icons-meta_comment(href='')
                                    span.icons-meta_tx 35
                                .icons-meta_view
                                    span.icons-meta_tx 305
                            .float-l
                                +ava("ava__female ava__middle-sm-mid", ava.a)
                                a.b-article_author(href='') Ангелина Богоявленская
                                time.tx-date(pubdate='1957-10-04') Сегодня 13:25
                        h1.b-article_t.textalign-c-desc-l Как хорошо отдохнуть вместе в парке, где все так красиво
        .b-main_cont.b-main_cont__wide
            +bAlbum('b-album__photolink', bAlbum.photolink)

        .b-main_cont
            .b-main_col-hold.clearfix
                .b-main_col-article

                    // b-article
                    .b-article.clearfix
                        .wysiwyg-content.textalign-c-desc-l 
                            p Ну наконец-то я дождалась своего отпуска, мне даже не верится что этот день настал Когда сегодня приехала домой, села на диван и такая усталость меня накрыла 

                    +likeControl()
                    +customLikes('', customLikes.base)
                    
                    +adv-yandex()
                    +commentsOpen('',commentsOpen.b)

  
            //-.visible-md-block
                .heading-small.margin-t40 
                    | Последние добавленные фото
                    .float-r
                        .btn.btn-link.btn-link-gray.btn-s Все фотографии 628

                +imgGrid('', imgGrid.e)

                .i-allphoto 
                    a.i-allphoto_a(href="#")
                        | Смотреть все фотографии

        +layout-footer-lite() 