include ../../../block/config
extend ../../../extend/layout_base
block vars
    - var bodyClass = 'body__bg1 body__lite';
    - global.cssFile = 'services.css'; 

block layout

    // b-main 
    .b-main.clearfix
    
        .b-main_cont
            .b-crumbs.b-crumbs__s
                .b-crumbs_tx Я здесь:
                ul.b-crumbs_ul
                    li.b-crumbs_li
                        a.b-crumbs_a(href='#') Главная 
                    li.b-crumbs_li
                        a.b-crumbs_a(href='#') Готовим дома 
                    li.b-crumbs_li
                        a.b-crumbs_a(href='#') Как выбирать продукты  
                    li.b-crumbs_li.b-crumbs_li__last
                        span.b-crumbs_last Рыба
        .cook-choose
            .b-main_cont 
                .b-main_col-wide    
                    h1.heading-link-xxl.heading-link-xxl__center Как выбирать продукты
            .b-main_row.b-main_row__blue.b-main_row__blue-quotes
                .b-main_cont 
                    .b-main_col-article.b-main_col-article__center
                        .wysiwyg-content.textalign-c
                            p Рыба является важной составляющей рациона человека. Она содержит полезные микроэлементы, например фосфор, а также достаточно белка и углеводов. Рыба может быть пресноводной и морской, также разделяют рыбу по жирности. Наименее жирная пресноводная рыба, морская содержит больший процент жиров, хотя есть определённые «сухие» сорта, например хек или морской окунь. Чаще всего сегодня покупают морскую рыбу, поэтому важно знать, как выбрать такую рыбу и что следует предпринять для её сохранения.

            .b-main_row
                .b-main_cont
                    .textalign-c
                        // При возможности используем адаптивные изображения
                            В srcset указываем изображения и размеры
                        img(srcset="#{path}images/services/cook-choose/product-1-w460.jpg 460w, #{path}images/services/cook-choose/product-1.jpg 640w", alt="Продукт")
            .b-main_row.cook-choose-quality.cook-choose-quality__good
                .b-main_cont
                    .wysiwyg-content
                        h2 Как выглядит качественная рыба
                        p Бывает ли качественная морская рыба? Вопрос интересный, особенно для тех людей, которые живут в удалённых от моря городах и, следовательно, не имеют возможности купить свежую рыбу, то есть только что выловленную. Так что морская свежая рыба доступна только для тех, кто живёт близко к морскому порту, куда регулярно приходят суда. Выбирать морскую свежую рыбу следует осторожно, так как она очень быстро портится, особенно во время жары. Свежая рыба покрыта прозрачной слизью, глаза её блестящие, чешуя имеет естественный глянцевый вид.
            .b-main_row.cook-choose-quality.cook-choose-quality__bad
                .b-main_cont
                    .wysiwyg-content
                        h2 Как выглядит некачественная рыба
                        p Часто бывает так, что верхние ряды рыбы на прилавке продавцы смазывают чем-то, чтобы чешуя блестела, а по-настоящему рыба находится в продаже уже долго. Чтобы на такое не попасться, нужно осматривать рыбу со всех сторон. Хотя только что поставленная живая рыба будет активно двигаться и плавать в воде, что само по себе позволит понять, что рыба свежая.
            .b-main_row.product-verif
                .b-main_cont
                    .wysiwyg-content
                        .product-verif_hold.product-verif_hold__cook
                            h2 Как проверить качество рыбы
                            p Старайтесь покупать свежую рыбу, которая ещё плавает в аквариуме. Если такой возможности нет – покупайте там, где рыба выложена на лёд: это позволяет дольше сохранить её свойства. Сначала оцените внешний вид рыбы. Если она выглядит аппетитно – берите; если вам кажется, что рыба не первой свежести (подсохшая, тусклая) – воздержитесь от покупки.
                        ol
                            li Не позволяйте продавцу сразу упаковать рыбу в пакет – сначала понюхайте её. Если запах «свежей рыбы» – берите. Если сомневаетесь – отложите покупку.
                            li Дома проткните рыбу горячей спицей: если приятно пахнет – готовьте. Почувствовали неприятный запах – лучше выбросьте. Некачественная рыба очень опасна для здоровья.

    // b-main 
    +layout-footer-lite()

