.cook-choose-verif {
	width: 110px;
	height: 160px;
	background-position: 0 0;
}

.cook-choose-quality__good:after {
	width: 200px;
	height: 226px;
	background-position: -140px 0;
}

.cook-choose-quality__bad:after {
	width: 205px;
	height: 250px;
	background-position: -360px 0;
}

.cook-choose-verif, .cook-choose-quality__good:after, .cook-choose-quality__bad:after {
	background-size: 600px 280px;
}

.no-svg .cook-choose-verif, .no-svg .cook-choose-quality__good:after, .no-svg .cook-choose-quality__bad:after {
	background-image: url("../../images/sprite/cook-choose.png");
}

.cook-choose-verif, .cook-choose-quality__good:after, .cook-choose-quality__bad:after {
	background-image: url("../../images/sprite/cook-choose.svg");
}