.horoscope-year-t__career:after {
	width: 35px;
	height: 36px;
	background-position: 0 0;
}

.horoscope-year-t__fin:after {
	width: 38px;
	height: 35px;
	background-position: -200px 0;
}

.horoscope-year-t__health:after {
	width: 43px;
	height: 48px;
	background-position: -400px 0;
}

.horoscope-year-t__home:after {
	width: 42px;
	height: 41px;
	background-position: -600px 0;
}

.horoscope-year-t__career:after, .horoscope-year-t__fin:after, .horoscope-year-t__health:after, .horoscope-year-t__home:after {
	background-size: 800px 200px;
}

.no-svg .horoscope-year-t__career:after, .no-svg .horoscope-year-t__fin:after, .no-svg .horoscope-year-t__health:after, .no-svg .horoscope-year-t__home:after {
	background-image: url("../../images/sprite/horoscope-year-t.png");
}

.horoscope-year-t__career:after, .horoscope-year-t__fin:after, .horoscope-year-t__health:after, .horoscope-year-t__home:after {
	background-image: url("../../images/sprite/horoscope-year-t.svg");
}
