.ico-club__19 {
	width: 75px;
	height: 75px;
	background-position: 0 0;
}

.ico-club__1 {
	width: 75px;
	height: 75px;
	background-position: -200px 0;
}

.ico-club__11 {
	width: 75px;
	height: 75px;
	background-position: -400px 0;
}

.ico-club__12 {
	width: 75px;
	height: 75px;
	background-position: -600px 0;
}

.ico-club__13 {
	width: 75px;
	height: 75px;
	background-position: -800px 0;
}

.ico-club__14 {
	width: 75px;
	height: 75px;
	background-position: -1000px 0;
}

.ico-club__15 {
	width: 75px;
	height: 75px;
	background-position: -1200px 0;
}

.ico-club__16 {
	width: 75px;
	height: 75px;
	background-position: -1400px 0;
}

.ico-club__17 {
	width: 75px;
	height: 75px;
	background-position: -1600px 0;
}

.ico-club__18 {
	width: 75px;
	height: 75px;
	background-position: -1800px 0;
}

.ico-club__10 {
	width: 75px;
	height: 75px;
	background-position: -2000px 0;
}

.ico-club__2 {
	width: 75px;
	height: 75px;
	background-position: -2200px 0;
}

.ico-club__20 {
	width: 75px;
	height: 75px;
	background-position: -2400px 0;
}

.ico-club__3 {
	width: 75px;
	height: 75px;
	background-position: -2600px 0;
}

.ico-club__4 {
	width: 75px;
	height: 75px;
	background-position: -2800px 0;
}

.ico-club__5 {
	width: 75px;
	height: 75px;
	background-position: -3000px 0;
}

.ico-club__6 {
	width: 75px;
	height: 75px;
	background-position: -3200px 0;
}

.ico-club__7 {
	width: 75px;
	height: 75px;
	background-position: -3400px 0;
}

.ico-club__8 {
	width: 75px;
	height: 75px;
	background-position: -3600px 0;
}

.ico-club__9 {
	width: 75px;
	height: 75px;
	background-position: -3800px 0;
}

.ico-club__19, .ico-club__1, .ico-club__11, .ico-club__12, .ico-club__13, .ico-club__14, .ico-club__15, .ico-club__16, .ico-club__17, .ico-club__18, .ico-club__10, .ico-club__2, .ico-club__20, .ico-club__3, .ico-club__4, .ico-club__5, .ico-club__6, .ico-club__7, .ico-club__8, .ico-club__9 {
	background-size: 4000px 200px;
}

.no-svg .ico-club__19, .no-svg .ico-club__1, .no-svg .ico-club__11, .no-svg .ico-club__12, .no-svg .ico-club__13, .no-svg .ico-club__14, .no-svg .ico-club__15, .no-svg .ico-club__16, .no-svg .ico-club__17, .no-svg .ico-club__18, .no-svg .ico-club__10, .no-svg .ico-club__2, .no-svg .ico-club__20, .no-svg .ico-club__3, .no-svg .ico-club__4, .no-svg .ico-club__5, .no-svg .ico-club__6, .no-svg .ico-club__7, .no-svg .ico-club__8, .no-svg .ico-club__9 {
	background-image: url("../../images/sprite/ico-club.png");
}

.ico-club__19, .ico-club__1, .ico-club__11, .ico-club__12, .ico-club__13, .ico-club__14, .ico-club__15, .ico-club__16, .ico-club__17, .ico-club__18, .ico-club__10, .ico-club__2, .ico-club__20, .ico-club__3, .ico-club__4, .ico-club__5, .ico-club__6, .ico-club__7, .ico-club__8, .ico-club__9 {
	background-image: url("../../images/sprite/ico-club.svg");
}
