.ico-more {
	width: 29px;
	height: 8px;
	background-position: 0 0;
}

.ico-more-hover {
	width: 29px;
	height: 8px;
	background-position: 0 -40px;
}

.ico-ovrPlay {
	width: 99px;
	height: 99px;
	background-position: 0 -80px;
}

.ico-plus {
	width: 13px;
	height: 13px;
	background-position: 0 -200px;
}

.ico-zoom {
	width: 99px;
	height: 99px;
	background-position: 0 -240px;
}

.logo__xs {
	width: 55px;
	height: 80px;
	background-position: 0 -360px;
}

.ico-more, .ico-more-hover, .ico-ovrPlay, .ico-plus, .ico-zoom, .logo__xs {
	background-size: 120px 460px;
}

.no-svg .ico-more, .no-svg .ico-more-hover, .no-svg .ico-ovrPlay, .no-svg .ico-plus, .no-svg .ico-zoom, .no-svg .logo__xs {
	background-image: url("../../images/sprite/ico-base.png");
}

.ico-more, .ico-more-hover, .ico-ovrPlay, .ico-plus, .ico-zoom, .logo__xs {
	background-image: url("../../images/sprite/ico-base.svg");
}
