.ico-arrow-d {
	width: 12px;
	height: 8px;
	background-position: 0 0;
}

.ico-arrow-d:hover {
	width: 12px;
	height: 8px;
	background-position: 0 -400px;
}

.ico-arrow-l {
	width: 8px;
	height: 12px;
	background-position: 0 -800px;
}

.ico-arrow-l:hover {
	width: 8px;
	height: 12px;
	background-position: 0 -1200px;
}

.ico-arrow-r {
	width: 8px;
	height: 12px;
	background-position: 0 -1600px;
}

.ico-arrow-r:hover {
	width: 8px;
	height: 12px;
	background-position: 0 -2000px;
}

.ico-arrow-d, .ico-arrow-d:hover, .ico-arrow-l, .ico-arrow-l:hover, .ico-arrow-r, .ico-arrow-r:hover {
	background-size: 400px 2400px;
}

.no-svg .ico-arrow-d, .no-svg .ico-arrow-d:hover, .no-svg .ico-arrow-l, .no-svg .ico-arrow-l:hover, .no-svg .ico-arrow-r, .no-svg .ico-arrow-r:hover {
	background-image: url("../../images/sprite/ico-arrow.png");
}

.ico-arrow-d, .ico-arrow-d:hover, .ico-arrow-l, .ico-arrow-l:hover, .ico-arrow-r, .ico-arrow-r:hover {
	background-image: url("../../images/sprite/ico-arrow.svg");
}
