.ico-social__l {
	width: 58px;
	height: 58px;
	background-position: 0 0;
}

.ico-social__l.ico-social__odnoklassniki {
	width: 58px;
	height: 58px;
	background-position: -150px 0;
}

.ico-social__l.ico-social__odnoklassniki.active {
	width: 58px;
	height: 58px;
	background-position: -300px 0;
}

.ico-social__l.ico-social__vkontakte {
	width: 58px;
	height: 58px;
	background-position: -450px 0;
}

.ico-social__l.ico-social__vkontakte.active {
	width: 58px;
	height: 58px;
	background-position: -600px 0;
}

.ico-social__l, .ico-social__l.ico-social__odnoklassniki, .ico-social__l.ico-social__odnoklassniki.active, .ico-social__l.ico-social__vkontakte, .ico-social__l.ico-social__vkontakte.active {
	background-size: 750px 150px;
}

.no-svg .ico-social__l, .no-svg .ico-social__l.ico-social__odnoklassniki, .no-svg .ico-social__l.ico-social__odnoklassniki.active, .no-svg .ico-social__l.ico-social__vkontakte, .no-svg .ico-social__l.ico-social__vkontakte.active {
	background-image: url("../../images/sprite/ico-social__l.png");
}

.ico-social__l, .ico-social__l.ico-social__odnoklassniki, .ico-social__l.ico-social__odnoklassniki.active, .ico-social__l.ico-social__vkontakte, .ico-social__l.ico-social__vkontakte.active {
	background-image: url("../../images/sprite/ico-social__l.svg");
}
