.ico-product__1 {
	width: 100px;
	height: 75px;
	background-position: 0 0;
}

.ico-product__2 {
	width: 100px;
	height: 75px;
	background-position: -200px 0;
}

.ico-product__3 {
	width: 100px;
	height: 75px;
	background-position: -400px 0;
}

.ico-product__4 {
	width: 100px;
	height: 75px;
	background-position: -600px 0;
}

.ico-product__5 {
	width: 100px;
	height: 75px;
	background-position: -800px 0;
}

.ico-product__6 {
	width: 100px;
	height: 75px;
	background-position: -1000px 0;
}

.ico-product__7 {
	width: 100px;
	height: 75px;
	background-position: -1200px 0;
}

.ico-product__8 {
	width: 100px;
	height: 75px;
	background-position: -1400px 0;
}

.ico-product__9 {
	width: 100px;
	height: 75px;
	background-position: -1600px 0;
}

.ico-product__1, .ico-product__2, .ico-product__3, .ico-product__4, .ico-product__5, .ico-product__6, .ico-product__7, .ico-product__8, .ico-product__9 {
	background-size: 1800px 200px;
}

.no-svg .ico-product__1, .no-svg .ico-product__2, .no-svg .ico-product__3, .no-svg .ico-product__4, .no-svg .ico-product__5, .no-svg .ico-product__6, .no-svg .ico-product__7, .no-svg .ico-product__8, .no-svg .ico-product__9 {
	background-image: url("../../images/sprite/ico-product.png");
}

.ico-product__1, .ico-product__2, .ico-product__3, .ico-product__4, .ico-product__5, .ico-product__6, .ico-product__7, .ico-product__8, .ico-product__9 {
	background-image: url("../../images/sprite/ico-product.svg");
}
