.ico-post-type-s__article {
	width: 26px;
	height: 25px;
	background-position: 0 0;
}

.ico-post-type-s__comment {
	width: 29px;
	height: 25px;
	background-position: -100px 0;
}

.ico-post-type-s__like {
	width: 25px;
	height: 25px;
	background-position: -200px 0;
}

.ico-post-type-s__photo {
	width: 31px;
	height: 25px;
	background-position: -300px 0;
}

.ico-post-type-s__photopost {
	width: 31px;
	height: 25px;
	background-position: -400px 0;
}

.ico-post-type-s__status {
	width: 31px;
	height: 25px;
	background-position: -500px 0;
}

.ico-post-type-s__video {
	width: 28px;
	height: 25px;
	background-position: -600px 0;
}

.ico-post-type-s__article, .ico-post-type-s__comment, .ico-post-type-s__like, .ico-post-type-s__photo, .ico-post-type-s__photopost, .ico-post-type-s__status, .ico-post-type-s__video {
	background-size: 700px 100px;
}

.no-svg .ico-post-type-s__article, .no-svg .ico-post-type-s__comment, .no-svg .ico-post-type-s__like, .no-svg .ico-post-type-s__photo, .no-svg .ico-post-type-s__photopost, .no-svg .ico-post-type-s__status, .no-svg .ico-post-type-s__video {
	background-image: url("../../images/sprite/ico-post-type-s.png");
}

.ico-post-type-s__article, .ico-post-type-s__comment, .ico-post-type-s__like, .ico-post-type-s__photo, .ico-post-type-s__photopost, .ico-post-type-s__status, .ico-post-type-s__video {
	background-image: url("../../images/sprite/ico-post-type-s.svg");
}
