.ico-spices__2 {
	width: 90px;
	height: 70px;
	background-position: 0 0;
}

.ico-spices__1 {
	width: 90px;
	height: 70px;
	background-position: -200px 0;
}

.ico-spices__11 {
	width: 90px;
	height: 70px;
	background-position: -400px 0;
}

.ico-spices__12 {
	width: 90px;
	height: 70px;
	background-position: -600px 0;
}

.ico-spices__13 {
	width: 90px;
	height: 70px;
	background-position: -800px 0;
}

.ico-spices__14 {
	width: 90px;
	height: 70px;
	background-position: -1000px 0;
}

.ico-spices__15 {
	width: 90px;
	height: 70px;
	background-position: -1200px 0;
}

.ico-spices__16 {
	width: 90px;
	height: 70px;
	background-position: -1400px 0;
}

.ico-spices__10 {
	width: 90px;
	height: 70px;
	background-position: -1600px 0;
}

.ico-spices__3 {
	width: 90px;
	height: 70px;
	background-position: -1800px 0;
}

.ico-spices__4 {
	width: 90px;
	height: 70px;
	background-position: -2000px 0;
}

.ico-spices__5 {
	width: 90px;
	height: 70px;
	background-position: -2200px 0;
}

.ico-spices__6 {
	width: 90px;
	height: 70px;
	background-position: -2400px 0;
}

.ico-spices__7 {
	width: 90px;
	height: 70px;
	background-position: -2600px 0;
}

.ico-spices__8 {
	width: 90px;
	height: 70px;
	background-position: -2800px 0;
}

.ico-spices__9 {
	width: 90px;
	height: 70px;
	background-position: -3000px 0;
}

.ico-spices__2, .ico-spices__1, .ico-spices__11, .ico-spices__12, .ico-spices__13, .ico-spices__14, .ico-spices__15, .ico-spices__16, .ico-spices__10, .ico-spices__3, .ico-spices__4, .ico-spices__5, .ico-spices__6, .ico-spices__7, .ico-spices__8, .ico-spices__9 {
	background-size: 3200px 200px;
}

.no-svg .ico-spices__2, .no-svg .ico-spices__1, .no-svg .ico-spices__11, .no-svg .ico-spices__12, .no-svg .ico-spices__13, .no-svg .ico-spices__14, .no-svg .ico-spices__15, .no-svg .ico-spices__16, .no-svg .ico-spices__10, .no-svg .ico-spices__3, .no-svg .ico-spices__4, .no-svg .ico-spices__5, .no-svg .ico-spices__6, .no-svg .ico-spices__7, .no-svg .ico-spices__8, .no-svg .ico-spices__9 {
	background-image: url("../../images/sprite/ico-spices.png");
}

.ico-spices__2, .ico-spices__1, .ico-spices__11, .ico-spices__12, .ico-spices__13, .ico-spices__14, .ico-spices__15, .ico-spices__16, .ico-spices__10, .ico-spices__3, .ico-spices__4, .ico-spices__5, .ico-spices__6, .ico-spices__7, .ico-spices__8, .ico-spices__9 {
	background-image: url("../../images/sprite/ico-spices.svg");
}
