.ico-edit__s {
	width: 15px;
	height: 15px;
	background-position: 0 0;
}

.ico-edit__s:hover {
	width: 15px;
	height: 15px;
	background-position: 0 -40px;
}

.ico-edit__xl {
	width: 39px;
	height: 38px;
	background-position: 0 -80px;
}

.ico-edit__xl:hover {
	width: 39px;
	height: 38px;
	background-position: 0 -140px;
}

.ico-more {
	width: 29px;
	height: 8px;
	background-position: 0 -200px;
}

.ico-more-hover {
	width: 29px;
	height: 8px;
	background-position: 0 -240px;
}

.ico-ovrPlay {
	width: 99px;
	height: 99px;
	background-position: 0 -280px;
}

.ico-plus {
	width: 13px;
	height: 13px;
	background-position: 0 -400px;
}

.ico-zoom {
	width: 99px;
	height: 99px;
	background-position: 0 -440px;
}

.ico-edit__s, .ico-edit__s:hover, .ico-edit__xl, .ico-edit__xl:hover, .ico-more, .ico-more-hover, .ico-ovrPlay, .ico-plus, .ico-zoom {
	background-size: 120px 560px;
}

.no-svg .ico-edit__s, .no-svg .ico-edit__s:hover, .no-svg .ico-edit__xl, .no-svg .ico-edit__xl:hover, .no-svg .ico-more, .no-svg .ico-more-hover, .no-svg .ico-ovrPlay, .no-svg .ico-plus, .no-svg .ico-zoom {
	background-image: url("../../images/sprite/ico-base.png");
}

.ico-edit__s, .ico-edit__s:hover, .ico-edit__xl, .ico-edit__xl:hover, .ico-more, .ico-more-hover, .ico-ovrPlay, .ico-plus, .ico-zoom {
	background-image: url("../../images/sprite/ico-base.svg");
}
