.icons-meta_comment:after {
	width: 17px;
	height: 15px;
	background-position: 0 0;
}

.icons-meta_comment:hover:after {
	width: 17px;
	height: 15px;
	background-position: 0 -20px;
}

.icons-meta_view:after {
	width: 18px;
	height: 11px;
	background-position: 0 -40px;
}

.icons-meta_comment:after, .icons-meta_comment:hover:after, .icons-meta_view:after {
	background-size: 25px 60px;
}

.no-svg .icons-meta_comment:after, .no-svg .icons-meta_comment:hover:after, .no-svg .icons-meta_view:after {
	background-image: url("../../images/sprite/icons-meta.png");
}

.icons-meta_comment:after, .icons-meta_comment:hover:after, .icons-meta_view:after {
	background-image: url("../../images/sprite/icons-meta.svg");
}