.markdown-day__1  {
	width: 64px;
	height: 61px;
	background-position: 0 0;
}

.markdown-day__1 .markdown-day_t:after {
	width: 64px;
	height: 61px;
	background-position: -200px 0;
}

.markdown-day__2  {
	width: 64px;
	height: 61px;
	background-position: -400px 0;
}

.markdown-day__2 .markdown-day_t:after {
	width: 64px;
	height: 61px;
	background-position: -600px 0;
}

.markdown-day__3  {
	width: 64px;
	height: 61px;
	background-position: -800px 0;
}

.markdown-day__3 .markdown-day_t:after {
	width: 64px;
	height: 61px;
	background-position: -1000px 0;
}

.markdown-day__1 , .markdown-day__1 .markdown-day_t:after, .markdown-day__2 , .markdown-day__2 .markdown-day_t:after, .markdown-day__3 , .markdown-day__3 .markdown-day_t:after {
	background-size: 1200px 200px;
}

.no-svg .markdown-day__1 , .no-svg .markdown-day__1 .markdown-day_t:after, .no-svg .markdown-day__2 , .no-svg .markdown-day__2 .markdown-day_t:after, .no-svg .markdown-day__3 , .no-svg .markdown-day__3 .markdown-day_t:after {
	background-image: url("../../images/sprite/markdown-day.png");
}

.markdown-day__1 , .markdown-day__1 .markdown-day_t:after, .markdown-day__2 , .markdown-day__2 .markdown-day_t:after, .markdown-day__3 , .markdown-day__3 .markdown-day_t:after {
	background-image: url("../../images/sprite/markdown-day.svg");
}
