.right_block .choice_name {background: url("../images/choice_name.jpg") no-repeat left top;padding: 16px 0 10px 0;height: 300px;}

#content .right_block .choice_name h1 {height: 78px;padding: 20px 34px 0 35px;}
.right_block ul.choice_name_navi {position: absolute;bottom: 0;margin: 0 0 0 204px;padding: 0;}

.right_block ul.choice_name_navi li {list-style: none;float: left;height: 60px;background: url("../images/name_navi_left.png") no-repeat left top;padding: 0 0 0 14px;margin: 0 3px 0 0;}
.right_block ul.choice_name_navi li a {font-size: 18px;height: 19px;padding: 21px 9px 20px 9px;display: block;float: left;color: #fff;text-decoration: none;background: url("../images/name_navi_bg.png") repeat left top;}
.right_block ul.choice_name_navi li a ins {text-decoration: none;}
.right_block ul.choice_name_navi li a:hover ins {border-bottom: none;}
.right_block ul.choice_name_navi li span {display: block;float: left;background: url("../images/name_navi_right.png") no-repeat left top;width: 14px;height: 60px;}
.right_block ul.choice_name_navi li.active, .right_block ul.choice_name_navi li.like.active {background: url("../images/name_navi_active_left.png") no-repeatleft top;padding: 0 0 0 18px;}
.right_block ul.choice_name_navi li.active a, .right_block ul.choice_name_navi li.like.active a {color: #724c99;background: #fff;border-bottom: none;padding: 21px 5px 20px 5px;}
.right_block ul.choice_name_navi li.active span, .right_block ul.choice_name_navi li.like.active span {background: url("../images/name_navi_active_right.png") no-repeat left top;width: 18px;}
.right_block ul.choice_name_navi li.like {background: url("../images/name_navi_like_left.png") no-repeat left top;}
.right_block ul.choice_name_navi li.like a {background: url("../images/name_navi_like_bg.png") repeat left top;}
.right_block ul.choice_name_navi li.like span {background: url("../images/name_navi_like_right.png") no-repeat left top;}


ul.letters {margin: 24px 0 0 0;padding: 12px 11px 12px 70px;background: #fefceb;}
ul.letters li {display: inline;list-style: none;font-size: 14px;padding: 2px 9px 2px 8px;margin: 0;}
ul.letters.month {padding: 12px 0 12px 70px;}
ul.letters.month li {padding: 2px 10px 2px 12px;}
ul.letters li.active {font-size: 20px;font-weight: bold;color: #ee309b;background: #fdf496;}
ul.letters li.active a {color: #ee309b;}
ul.letters li a {color: #272527;text-decoration: none;}
ul.letters li a:hover {text-decoration: underline;}

.content_block {padding: 29px 11px 0 70px;}

.content_block .view_name {float: right;}
.content_block .view_name a {float: left;display: block;zoom: 1;height: 21px;text-align: center;padding: 40px 6px 0 6px;margin: 0 7px 0 2px;font-size: 11px;}
.content_block .view_name p {float: left;font-size: 13px;color: #b6b6b6;margin: 41px 23px 0 0;}
.content_block .view_name a.active {background-color: #fdf5a2;}
.content_block .view_name a.all_names {background-image: url("../images/all_names.png");background-repeat: no-repeat;background-position: center 11px;}
.content_block .view_name a.boy_names {background-image: url("../images/boy_names.png");background-repeat: no-repeat;background-position: center 11px;}
.content_block .view_name a.girl_names {background-image: url("../images/girl_names.png");background-repeat: no-repeat;background-position: center 13px;color: #ffaed2;}

.content_block .names_header {font-size: 25px;line-height: 35px;font-weight: bold;color: #3088b1;padding: 22px 0 0 0;}
.content_block .names_header.like {background: url("../images/heart_like_big.png") no-repeat right top;display: inline-block;*display: inline;padding: 36px 74px 0 0;}
.content_block .names_header span {font-size: 45px;color: #fd4195;padding: 5px 20px;margin: 0 0 0 14px;position: relative;top: -8px;background-color: #fdf5a2;}
.content_block .names_header.calendar span {font-size: 25px;top: 0;}

.list_names {margin: 25px 0 50px 0;}
.list_names .name_block {margin: 15px 79px 10px 0;font-size: 13px;float: left;width: 240px;/*height: 50px;*/}

.name_block.last {margin: 15px 0 10px 0;}
.name_block a {display: block;float: left;height: 15px;padding: 6px 0 4px 0;font-size: 15px;}
.name_block a.heart {background: url("../images/name_heart.png") no-repeat right top;width: 37px;height: 25px;padding: 0;}
.name_block a.heart.empty_heart {background: url("../images/name_heart_empty.png") no-repeat right top;}

.top_boys .name_block a, .top_girls .name_block a {margin: 8px 0 0 0;}
.top_boys .name_block p, .top_girls .name_block p {clear: none;float: left;width: 275px;}
.top_boys .name_block, .top_girls .name_block {margin: 0 0 20px 0;height: 60px;}

.name_block p {color: #a9a9a9;clear: both;padding: 4px 0 0 0;}
.name_block a.girl, .top_girls .name_block a {color: #d73a92;}
.name_block a.boy, .top_boys .name_block a {color: #2ca3fe;}

.name_block .heart_like {background: url("../images/heart_like_small.png") no-repeat right top;width: 68px;height: 45px;padding: 15px 0 0 0;margin: 0 12px 0 0;font-size: 16px;color: #fef6bd;text-align: center;float: left;}

.list_names .pagination {margin: 40px 0 30px 0;}


.name_info {padding: 3px 0 0 35px;}
.name_info p {color: #7b7b7b;font-size: 13px;line-height: 17px;}
.name_info p span {font-weight: bold;color: #605f5f;}

#content .name_info h1 {display: inline-block;*display: inline;padding: 20px 0 8px 0;margin: 0;font-size: 40px;font-weight: bold;color: #fb3da8;}
#content .name_info a.like_name {display: inline-block;*display: inline;background: url("../images/name_heart_big.png") no-repeat right top;width: 70px;height: 48px;}
#content .name_info a.like_name.empty_heart {background: url("../images/name_heart_empty_big.png") no-repeat right top;}

.name_info p.name {color: #2e2e2e;font-size: 20px;line-height: 20px;padding: 27px 0 0 0;}
#content .name_info h1.boy {color: #2CA3FE;}
.name_info p.name span.boy {color: #2CA3FE;}
#content .name_info h1.girl {color: #fb3da8;}
.name_info p.name span.girl {color: #fb3da8;}

.name_info .plashka {background: #fdfcdc;padding: 7px 14px 15px 14px;margin: 20px 0 22px 0;}
.name_info .plashka p.variants {color: #2e2e2e;font-size: 20px;line-height: 22px;margin: 0 0 5px 0;}
.name_info .plashka p span {font-weight: bold;color: #605f5f;}

.name_info h2 {font-size: 20px;font-weight: normal;color: #2e2e2e;margin: 20px 0 10px 0;}
.name_info .best_person {background: #ededed;float: left;width: 150px;margin: 20px 20px 0 0;}
.name_info .best_person img {display: block;width: 150px;}
.name_info .best_person p {text-align: center;display: block;color: #5e5e5e;font-size: 10px;font-style: italic;padding: 4px 0;text-decoration: underline;}
.name_info .best_person a {text-align: center;display: block;color: #5e5e5e;font-size: 10px;font-style: italic;padding: 4px 0;text-decoration: underline;}

.name_link {margin: 40px 0 60px 0;}
.name_link a {font-size: 13px;margin: 0 0 0 22px;}
.name_info_right {border: 1px solid #e7d5f3;padding: 20px 0 20px 20px;margin: 0;}
.name_info_right p {font-size: 13px;line-height: 17px;color: #7b7b7b;}
.name_info_right p.header {font-size: 18px;line-height: 18px;margin: 37px 0 3px 0;}
.name_info_right.girl p.header {color: #f755af;}
.name_info_right.boy p.header {color: #2CA3FE;}

.name_info_right p.header.like {padding: 9px 0 0 0;float: left;}
.name_info_right p.heart_like {font-size: 16px;line-height: 16px;float: left;color: #fef6bd;background: url("../images/heart_like.png") no-repeat left top;width: 105px;height: 41px;text-align: center;padding: 30px 0 0 0;}
.name_info_right p.header.first {margin: 0 0 3px 0;}

.name_info_right ul.calendar li {list-style: none;float: left;background: url("../images/calendar_name.png") no-repeat left top;width: 89px;height: 56px;font-size: 17px;color: #32a5e3;text-align: center;padding: 28px 0 0 0;margin: 4px 3px 3px 0;}
.name_info_right ul.calendar li span {font-size: 20px;display: block;}

.diagram {margin: 35px 0 0 0;}
.diagram_navi {margin: 0 0 40px 0;}

.diagram_navi ul li {list-style: none;margin: 3px 11px 0 11px;float: left;padding: 0;}
.diagram_navi ul {text-align: center;padding: 4px 0 8px 0;}
.diagram_navi ul li a {font-size: 13px;color: #c5c5c5;font-weight: normal;text-decoration: none;}
.diagram_navi ul li.right_arrow {float: right;}
.diagram_navi ul li.left_arrow, .diagram_navi ul li.right_arrow {margin: 0;}
.diagram_navi ul li.left_arrow a {background: url("../images/left_arrow_like.png") no-repeat left top;display: block;float: left;width: 22px;height: 22px;margin: 0 0 0 10px;}
.diagram_navi ul li.right_arrow a {background: url("../images/right_arrow_like.png") no-repeat left top;display: block;float: right;width: 22px;height: 22px;margin: 0 41px 0 0;}
.diagram_navi ul li.left_arrow a.active {background: url("../images/left_arrow_like_active.png") no-repeat left top;}
.diagram_navi ul li.right_arrow a.active {background: url("../images/right_arrow_like_active.png") no-repeat left top;}

.diagram_navi p.year {clear: both;margin: 20px 30px 0 0;text-align: center;font-size: 18px;color: #c9c5c7;font-weight: bold;}

.list_names .calendar {background: url("../images/calendar_name.png") no-repeat left top;width: 89px;height: 56px;font-size: 17px;color: #32a5e3;text-align: center;padding: 28px 0 0 0;margin: 0;}
.list_names .calendar span {font-weight: bold;font-size: 20px;display: block;}

.top_boys {margin: 36px 79px 40px 123px;float: left;width: 360px;background: url("../images/top_boys.png") no-repeat 30px top;padding: 215px 0 0 0;}
.top_girls {margin: 36px 0 40px 20px;float: left;width: 360px;background: url("../images/top_girls.png") no-repeat 31px 3px;padding: 215px 0 0 0;}