#baby .mother_calendar .cal_item .hint, #baby .mother_calendar .cal_item_default .hint {position:absolute;background:#fcfac6;padding:5px 10px;width:130px;z-index:6;border:1px solid #ffe572;color:#666;font-family:arial, sans-serif;font-size:12px;text-align:left;left:95%;top:80%;display:none;cursor:default;}
#baby .mother_calendar .cal_item .hint:after, #baby .mother_calendar .cal_item_default .hint:after {display:block;content:'';width:14px;height:14px;right:100%;top:-1px;background:url(../images/hospital_bag_item_hint_tale.png) no-repeat;position:absolute;}
#baby #blood-update-result .mother_calendar .cal_item .hint, #baby #blood-update-result .mother_calendar .cal_item_default .hint,
#baby #japan-result .mother_calendar .cal_item .hint, #baby #japan-result .mother_calendar .cal_item_default .hint {width: 40px;}

#baby .mother_calendar {position:relative;z-index:3;display:block;padding:15px;margin:0 0 40px 0;box-shadow:0px 0px 5px 5px #f1f1f0;-moz-box-shadow:0px 0px 5px 5px #f1f1f0;-webkit-box-shadow:0px 0px 5px 5px #f1f1f0;}

#baby .mother_calendar table.calendar_body  th {text-align:center;width:87px;height:87px;padding:5px;vertical-align:middle;font:bold 22px tahoma, sans-serif;color:#a4a3a3;}
#baby .mother_calendar table.calendar_body  td {text-align:center;width:87px;height:87px;padding:5px;vertical-align:top;}
#baby .mother_calendar .cal_item {display:block;width:85px;height:85px;border:1px solid #f0f0f0;position:relative;}
#baby .mother_calendar .active_item {border:1px solid #f7e567;background:#fffdd6;}
#baby .mother_calendar .cal_item ins {position:absolute;top:8px;right:8px;font:bold 16px tahoma, sans-serif;color:#a0a0a0;}
#baby .mother_calendar .cal_item .icon {display:block;background:url(../images/calendar_icons.png) no-repeat;}
#baby .mother_calendar .pms .icon {width:45px;height:42px;background-position:-1px -1px;margin:30px auto 0;}
#baby .mother_calendar .mens .icon {width:47px;height:47px;background-position:-230px -1px;margin:27px auto 0;}
#baby .mother_calendar .fsex .icon {width:46px;height:42px;background-position:-96px -1px;margin:30px auto 0;}
#baby .mother_calendar .mbov .icon {width:41px;height:41px;background-position:-144px -1px;margin:30px auto 0;}
#baby .mother_calendar .fov .icon {width:41px;height:41px;background-position:-187px -1px;margin:30px auto 0;}
#baby .mother_calendar .pfsex .icon {width:46px;height:42px;background-position:-48px -1px;margin:30px auto 0;}

#baby .mother_calendar .attention_calc {position:absolute;top:4px;left:4px;width:19px;height:18px;background: url(../images/calendar_icons.png) -281px -61px no-repeat;}

#baby .mother_calendar .cal_item_default .attention_calc {position:absolute;top:2px;left:2px;width:10px;height:9px;background: url(../images/calendar_icons.png) -281px -82px no-repeat;}

#baby .mother_calendar .girl .icon, #baby .mother_calendar  .boy .icon {display:block;width:61px;height:56px;background:url(../images/calendar_icons.png) no-repeat;margin:20px auto 0;}
#baby .mother_calendar  .girl .icon {background-position:-155px  -48px;}
#baby .mother_calendar  .boy .icon {background-position:-218px  -48px;}

#baby .mother_calendar .cal_item_default {display:block;width:65px;height:65px;position:relative;background:#fdfdfe;padding:22px 0 0 22px;}
#baby .mother_calendar .cal_item_default .cal_item {width:42px;height:42px;border:1px solid #f0f0f0;background:#fff;}
#baby .mother_calendar .cal_item_default .cal_item ins {position:absolute;top:3px;right:3px;font:bold 8px tahoma, sans-serif;color:#c5c3c3;}
#baby .mother_calendar .cal_item_default .icon {display:block;background:url(../images/calendar_icons.png) no-repeat;}
#baby .mother_calendar .cal_item_default .pms .icon {width:24px;height:21px;background-position:-1px -45px;margin:16px auto 0;}
#baby .mother_calendar .cal_item_default .mens .icon {width:24px;height:24px;background-position:-126px -45px;margin:16px auto 0;}
#baby .mother_calendar .cal_item_default .fsex .icon {width:24px;height:21px;background-position:-53px -45px;margin:16px auto 0;}
#baby .mother_calendar .cal_item_default .mbov .icon {width:22px;height:22px;background-position:-79px -45px;margin:16px auto 0;}
#baby .mother_calendar .cal_item_default .fov .icon {width:22px;height:22px;background-position:-103px -45px;margin:16px auto 0;}
#baby .mother_calendar .cal_item_default .pfsex .icon {width:24px;height:21px;background-position:-27px -45px;margin:16px auto 0;}

#baby .mother_calendar .cal_item_default .girl_cl .icon {display:block;width:29px;height:28px;background:url(../images/calendar_icons.png) no-repeat -93px  -70px;margin:10px auto 0;}
#baby .mother_calendar .cal_item_default .boy_cl .icon {display:block;width:29px;height:28px;background:url(../images/calendar_icons.png) no-repeat -124px  -70px;margin:10px auto 0;}

#baby .more_about_cal {display:block;margin:-40px 0 40px 0;position:relative;z-index:2;}
#baby .more_about_cal .next_month_cal {display:block;width:380px;float:left;}
#baby .more_about_cal .next_month_cal span.title_bl_ntmt {font:italic 16px/18px arial, sans-serif;color:#1787b6;text-align:center;padding:20px 0;display:block;}

#baby .next_month_cal .mother_calendar {position:relative;z-index:2;display:block;padding:15px;margin:0 0 40px 0;box-shadow:0px 0px 5px 5px #f1f1f0;-moz-box-shadow:0px 0px 5px 5px #f1f1f0;-webkit-box-shadow:0px 0px 5px 5px #f1f1f0;}
#baby .next_month_cal .mother_calendar .choice_month {position:relative;display:block;height:40px; background:#f7efff;text-align:center;font:bold 21px/40px arial, sans-serif;color:#5a595a;}
#baby .next_month_cal .mother_calendar table.calendar_body  th {text-align:center;width:44px;height:44px;padding:3px;vertical-align:middle;font:bold 12px tahoma, sans-serif;color:#a4a3a3;}
#baby .next_month_cal .mother_calendar table.calendar_body  td {text-align:center;width:44px;height:44px;padding:3px;vertical-align:top;}
#baby .next_month_cal .mother_calendar .cal_item {display:block;width:42px;height:42px;border:1px solid #f0f0f0;position:relative;}
#baby .next_month_cal .mother_calendar .cal_item ins {position:absolute;top:3px;right:3px;font:bold 8px tahoma, sans-serif;color:#a0a0a0;}
#baby .next_month_cal .mother_calendar .cal_item_default {display:block;width:44px;height:44px;background:#fdfdfe;padding:0;}
#baby .next_month_cal .mother_calendar .cal_item .icon {display:block;background:url(../images/calendar_icons.png) no-repeat;}
#baby .next_month_cal .mother_calendar .pms .icon {width:24px;height:21px;background-position:-1px -45px;margin:16px auto 0;}
#baby .next_month_cal .mother_calendar .mens .icon {width:24px;height:24px;background-position:-126px -45px;margin:12px auto 0;}
#baby .next_month_cal .mother_calendar .fsex .icon {width:24px;height:21px;background-position:-53px -45px;margin:16px auto 0;}
#baby .next_month_cal .mother_calendar .mbov .icon {width:22px;height:22px;background-position:-79px -45px;margin:16px auto 0;}
#baby .next_month_cal .mother_calendar .fov .icon {width:22px;height:22px;background-position:-103px -45px;margin:16px auto 0;}
#baby .next_month_cal .mother_calendar .pfsex .icon {width:24px;height:21px;background-position:-27px -45px;margin:16px auto 0;}

#baby .more_about_cal .cal_helper {position:relative;z-index:1;display:block;width:250px;float:right;padding:25px 5px 25px 35px;background:#fef9fd;margin:0 15px 0 0;border-radius:0 0 20px 20px;-moz-border-radius:0 0 20px 20px;-webkit-border-radius:0 0 20px 20px;box-shadow:0px 2px 2px 2px #f1f1f0;-moz-box-shadow:0px 2px 2px 2px #f1f1f0;-webkit-box-shadow:0px 2px 2px 2px #f1f1f0;}
#baby .more_about_cal .cal_helper span.title_helper {display:block;font:bold 14px arial, sans-serif;color:#aeaeaf;padding:0 0 20px 0;}
#baby .more_about_cal .cal_helper ul li {margin:0 0 12px 0;height:24px;font:13px/24px arial, sans-serif;color:#979697;padding:0 0 0 0px;clear:left;}
#baby .more_about_cal .cal_helper ul li .icon {display:inline-block;background:url(../images/calendar_icons.png) no-repeat;position:relative;top:-13px;margin-right:5px;vertical-align:top;}
#baby .more_about_cal .cal_helper ul li.pms .icon {width:24px;height:21px;background-position:-1px -45px;margin:16px auto 0;}
#baby .more_about_cal .cal_helper ul li.mens .icon {width:24px;height:24px;background-position:-126px -45px;margin:12px auto 0;top:-9px;}
#baby .more_about_cal .cal_helper ul li.fsex .icon {width:24px;height:21px;background-position:-53px -45px;margin:16px auto 0;}
#baby .more_about_cal .cal_helper ul li.mbov .icon {width:22px;height:22px;background-position:-79px -45px;margin:16px auto 0;}
#baby .more_about_cal .cal_helper ul li.fov .icon {width:22px;height:22px;background-position:-103px -45px;margin:16px auto 0;}
#baby .more_about_cal .cal_helper ul li.pfsex .icon {width:24px;height:21px;background-position:-27px -45px;margin:16px auto 0;}


#baby .month_calendar {position:relative;z-index:4;display:block;padding:15px;margin:0 0 40px 0;box-shadow:0px 0px 5px 5px #f1f1f0;-moz-box-shadow:0px 0px 5px 5px #f1f1f0;-webkit-box-shadow:0px 0px 5px 5px #f1f1f0;}
#baby .choice_month {position:relative;display:block;height:77px; background:#f7efff;text-align:center;font:bold 40px/77px arial, sans-serif;color:#5a595a;}

#baby .choice_month a.prev, #baby .choice_month a.next {display:block;width:21px;height:28px;background: url(../images/calendar_icons.png); text-indent:-9999px;position:absolute;top:25px;}
#baby .choice_month a.next {right:20px;background-position:-304px -1px;}
#baby .choice_month a.prev {left:20px;background-position:-281px -31px;}
#baby .choice_month a.prev.disabled {background-position:-281px -1px}
#baby .choice_month a.next.disabled {background-position:-304px -31px;}

#baby .month_calendar table.calendar_body  th {text-align:center;width:54px;height:54px;padding:0 3px 0 0;vertical-align:middle;font:16px tahoma, sans-serif;color:#a4a3a3;}
#baby .month_calendar table.calendar_body  td {text-align:center;width:54px;height:54px;padding:0 3px 0 0;vertical-align:top;}
#baby .month_calendar .cal_item {display:block;width:52px;height:52px;border:1px solid #f0f0f0;position:relative;}
#baby .month_calendar .active_item {border:1px solid #f7e567;background:#fffdd6;}
#baby .month_calendar .boy_day .icon, #baby .month_calendar .girl_day .icon {display:block;width:45px;height:40px;background:url(../images/calendar_icons.png) no-repeat;margin:5px auto 0;}
#baby .month_calendar .boy_day .icon {background-position:-47px -70px;}
#baby .month_calendar .girl_day .icon {background-position:-1px -70px;}
