#baby .contractions-form {position:absolute;padding-left:75px;top:200px;left:0;padding-top:170px;background:url(../images/bg_contractions_form.png) no-repeat;width:500px;}
#baby .contractions-form.started {background-image:url(../images/bg_contractions_form_started.png);}
#baby .contractions-form button {width:264px;height:110px;background:url(../images/btn_contractions_form.png) no-repeat;border:0;font:bold 60px arial, sans-serif;color:#fff;cursor:pointer;}
#baby .contractions-form.started button {background-image:url(../images/btn_contractions_form_started.png);}
#baby .contractions-form .time {width:264px;text-align:center;margin-top:20px;font:bold 60px/1 arial, sans-serif;color:#fff;}

#baby .contractions-summary {color:#474747;}
#baby .contractions-summary .result-table {margin-top:20px;margin-bottom:30px;width:100%;}
#baby .contractions-summary .result-table td {padding:10px;text-align:center;}
#baby .contractions-summary .result-table thead td {background:#cfb7df;text-align:center;color:#fff;font-family:tahoma, arial, sans-serif;font-size:15px;}
#baby .contractions-summary .result-table thead td:first-child {/*css3*/ border-radius:20px 0 0 0;-moz-border-radius:20px 0 0 0;-webkit-border-radius:20px 0 0 0;}
#baby .contractions-summary .result-table thead td:last-child {/**/ border-radius:0 20px 0 0;-moz-border-radius:0 20px 0 0;-webkit-border-radius:0 20px 0 0;}
#baby .contractions-summary .result-table tbody td {vertical-align:middle;}
#baby .contractions-summary .result-table tbody tr.even td, #baby .contractions-summary .result-table tfoot td {background:#fbf6ff;}
#baby .contractions-summary .result-table .col-1 {color:#cecece;font:bold 35px arial black, arial, sans-serif;}
#baby .contractions-summary .result-table .col-2 {color:#a3a2a2;font-size:25px;}
#baby .contractions-summary .result-table .col-3 {color:#a3a2a2;font-size:25px;}
#baby .contractions-summary .result-table .col-4 {color:#f96eae;font-size:30px;}
#baby .contractions-summary .result-table .col-5 {color:#f96eae;font-size:30px;}
#baby .contractions-summary .result-table .remove {padding-top:22px;background:url(../images/bg_popup_close.gif) no-repeat top;line-height:1;color:#babcbd;font-size:11px;font-family:tahoma, arial, sans-serif;display:inline-block;cursor:pointer;}
#baby .contractions-summary .block-in {padding:25px;}
#baby .contractions-summary .box-left {float:left;width:180px;}
#baby .contractions-summary .box-main {margin-left:200px;}
#baby .contractions-summary big {font-size:25px;color:#dd72b9;margin-bottom:10px;display:block;text-align:center;padding:15px 0;}
#baby .contractions-summary .summary-title {color:#906ab3;font-size:25px;margin-bottom:10px;}
#baby .contractions-summary p {margin:1em 0;}
#baby .contractions-summary .result-text {color:#fc93ce;font-size:16px;text-align:center;}
#baby .contractions-summary .result-text img {margin-bottom:15px;}