
#activity {}
#activity .content-title {font:bold 50px/1 arial, helvetica, sans-serif;text-align:center;color:#a57fcb;margin-bottom:40px;}

#activity .box {border:1px solid #f7f0fd;padding:14px 19px;margin-bottom:30px;}
#activity .box .title {font:bold 25px arial, helvetica, sans-serif;color:#454545;}
#activity .box .title > span {font-weight:normal;color:#8a61b3;}
#activity .all-link {text-align:right;}

#activity .banner {margin-bottom:30px;}

#activity .content-cols .col-2 {width:460px;}
#activity .content-cols .col-3 {width:220px;}

.activity-onair {border:1px solid #f7f0fd;padding:14px 19px;margin-bottom:30px;}
.activity-onair .title {padding-left:28px;position:relative;z-index:1;font:bold 25px arial, helvetica, sans-serif;color:#454545;}
.activity-onair .title span {font-weight:normal;color:#8a61b3;}
.activity-onair .title img {position:absolute;bottom:0;left:-12px;z-index:-1;}
.activity-onair ul {list-style:none;line-height:normal;}
.activity-onair ul li {padding:15px 0;border-top:1px dashed #e6d6f9;overflow:hidden;}
.activity-onair ul li:first-child {border-top:0;}
.activity-onair ul li .date {margin-bottom:5px;color:#a2a2a2;font-size:9px;line-height:1;}
.activity-onair ul li .user {margin-bottom:5px;}
.activity-onair ul li .user a {display:inline-block;*zoom:1;*display:inline;width:180px;font-family:arial, helvetica, sans-serif;font-weight:normal;vertical-align:top;}
.activity-onair ul li .user .icon-status {position:relative;top:0px;}
.activity-onair ul li a {display:block;line-height:14px;font-family:tahoma, arial, sans-serif;font-weight:bold;}
.activity-onair ul li p {margin-top:5px;font-size:11px;line-height:16px;}
.activity-onair ul li img {max-width:200px;max-height:400px;margin-top:8px;}
.activity-onair.horizontal .title {margin-left:20px;}
.activity-onair.horizontal .title a {font-size:12px;margin-left:30px;font-weight:normal;}
.activity-onair.horizontal {padding:14px 0;}
.activity-onair.horizontal li {float:left;width:200px;border-top:0;padding:15px 19px 0;}

.onair-title {font-weight:bold;font-size:48px;color:#484848;text-align:center;margin-bottom:20px;line-height:1;margin-top:-10px;}
.onair-title img {position:relative;z-index:-1;margin-right:-25px;top:3px;}
.onair-title span {font-size:45px;font-weight:normal;color:#9e76c4;}

#activity .activity-wannachat {}
#activity .activity-wannachat ul {list-style:none;padding-top:10px;}
#activity .activity-wannachat ul li {padding:10px 0;}
#activity .activity-wannachat .me-too {font:italic 13px times new roman, serif;color:#a4a3a3;text-align:right;}
#activity .activity-wannachat .me-too a {display:inline-block;*zoom:1;*display:inline;background:#a888c6;color:#fff;font:normal 11px tahoma, arial, helvetica, sans-serif;padding:2px 8px;text-decoration:none;margin-left:2px;}
#activity .activity-wannachat .me-too a {/*css3*/ -moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;behavior: url(/stylesheets/PIE.htc);}

#activity .activity-top-5 {padding:5px 9px;}
#activity .activity-top-5 .title {font-size:21px;position:relative;line-height:1;}
#activity .activity-top-5 .title img {position:absolute;left:32px;top:7px;}
#activity .activity-top-5 .title span {font-size:40px;font-family:tahoma, arial, helvetica, sans-serif;font-weight:bold;}
#activity .activity-top-5 .tabs {padding-top:15px;}
#activity .activity-top-5 .tabs .nav {padding-bottom:1px;border-bottom:1px solid #f8f1fd;   }
#activity .activity-top-5 .tabs .nav ul {list-style:none;overflow:hidden;}
#activity .activity-top-5 .tabs .nav ul li {position:relative;float:left;background:#f2f2f2;margin-right:1px;}
#activity .activity-top-5 .tabs .nav ul li:before {display:block;content:'';width:6px;height:5px;background:url(/images/top5_tab.png) no-repeat;position:absolute;top:0;right:0;}
#activity .activity-top-5 .tabs .nav ul li a {color:#9a9898;font-size:11px;font-family:tahoma, arial, helvetica, sans-serif;text-decoration:none;display:block;height:17px;line-height:17px;padding:0 10px;}
#activity .activity-top-5 .tabs .nav ul li.active {background:#a984cc;}
#activity .activity-top-5 .tabs .nav ul li.active a {color:#fff;}
#activity .activity-top-5 .tabs .tabs-container {}
#activity .activity-top-5 .tabs .tabs-container ul {list-style:none;padding:10px 0;}
#activity .activity-top-5 .tabs .tabs-container ul li {padding:10px 0;}
#activity .activity-top-5 .tabs .tabs-container ul li .place {float:left;display:block;width:20px;height:20px;margin-right:5px;margin-top:2px;line-height:20px;text-align:center;font-weight:bold;color:#fff;background:#f0f0f0;}
#activity .activity-top-5 .tabs .tabs-container ul li .place {/*css3*/ -webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;behavior: url(/stylesheets/PIE.htc);}
#activity .activity-top-5 .tabs .tabs-container ul li .place.place-1 {background:#f8cb30;}
#activity .activity-top-5 .tabs .tabs-container ul li .place.place-2 {background:#5488d0;}
#activity .activity-top-5 .tabs .tabs-container ul li .place.place-3 {background:#6bc545;}
#activity .activity-top-5 .tabs .tabs-container ul li .place.place-4 {background:#b996da;}
#activity .activity-top-5 .tabs .tabs-container ul li .place.place-5 {background:#f18b2f;}
#activity .activity-top-5 .tabs .tabs-container ul li .value {width:35px;float:left;padding-left:5px;line-height:24px;color:#5c5c5c;font-size:16px;}
#activity .activity-top-5 .tabs .tabs-container ul li .user-info {width:135px;min-width:135px;}
#activity .activity-top-5 .tabs .tabs-container ul li .user-info .details {margin-left:30px;}
#activity .activity-top-5 .tabs .tabs-container ul li .user-info .details .username {width:85px;font-size:12px;}

.activity-popular {padding:0 !important;border:0 !important;margin-bottom:20px;}
.activity-popular .title {color:#fff !important;font-size:23px !important;font-weight:normal !important;padding:10px 20px !important;background:#7ea9e5 url(/images/title_activity_popular.png) no-repeat 95% 75% !important;line-height:1 !important;}
.activity-popular.club .title {background-color:#99d77e !important;}
.activity-popular .title span {color:#fff !important;font-weight:bold !important;display:block !important;}
.activity-popular ul {list-style:none;padding:9px 19px;border:1px solid #dce9fa;}
.activity-popular.club ul {border-color:#dbf1d1;}
.activity-popular ul li {padding:10px 0;}
.activity-popular ul li .place {text-align:center;font-size:18px;color:#484848;padding-bottom:8px;}
.activity-popular ul li .place .icon {display:inline-block;*zoom:1;*display:inline;width:22px;height:36px;margin-right:3px;}
.activity-popular ul li .place.place-1 .icon {background:url(/images/cup_22x36_1.png) no-repeat;}
.activity-popular ul li .place.place-2 .icon {background:url(/images/cup_22x36_2.png) no-repeat;}
.activity-popular ul li .place.place-3 .icon {background:url(/images/cup_22x36_3.png) no-repeat;}
.activity-popular ul li .user-info {width:180px;}
.activity-popular ul li .user-info .details {margin-left:30px;}
.activity-popular ul li .user-info .details .username {width:130px;font-size:12px;}
.activity-popular ul li .item-title {margin:5px 0;font-weight:bold;font-family:tahoma, arial, helvetica, sans-serif;line-height:14px;font-size:12px;}
.activity-popular ul li .content {}
.activity-popular ul li .content img {max-width:178px;max-height:356px;}
.activity-popular ul li .meta {margin-top:8px;line-height:1.2;font-size:12px;}
.activity-popular ul li .meta span {display:inline-block;*zoom:1;*display:inline;padding:2px 5px;}
.activity-popular ul li .meta .rating {float:right;color:#8455b1;font:italic 25px/1 times new roman, serif;position:relative;top:-6px;display:block;*width:40px;}
.activity-popular ul li .meta .views {background:#fdfccc;color:#737575;}

#activity .activity-video {margin-bottom:30px;}
#activity .activity-video .preview {position:relative;width:460px;cursor:pointer;display:block;text-decoration:none;}
#activity .activity-video .preview img {max-width:460px;display:block;}
#activity .activity-video .preview .title {position:absolute;top:13px;left:0;color:#fff;background:rgba(148, 101, 191, .8);font-size:33px;font-weight:bold;line-height:1;padding:10px 20px;}
#activity .activity-video .preview .title span {font-size:41px;}
#activity .activity-video .preview .v-title {position:absolute;bottom:0;left:0;padding:5px 15px;background:rgba(0,0,0,.45);width:430px;display:block;color:#fff;}
#activity .activity-video .preview .v-title span {text-decoration:underline;}
#activity .activity-video .preview .v-title:hover span {text-decoration:none;}
#activity .activity-video .preview .play {display:block;width:103px;height:103px;background:url(/images/activity_play.png) no-repeat;position:absolute;top:50%;left:50%;margin-left:-51px;margin-top:-51px;}

.activity-find-friend {padding:15px 0 !important;}
.activity-find-friend .title {padding:0px 19px;}
.activity-find-friend .title a {float:right;font-size:12px;font-weight:normal;margin-top:10px;}
.activity-find-friend ul {list-style:none;padding-top:15px;}
.activity-find-friend ul li {border-left:1px dashed #e6d6f9;padding:0 14px;width:200px;float:left;}
.activity-find-friend ul li:first-child {border-left:0;}
.activity-find-friend ul li .user-info {}
.activity-find-friend ul li .user-info .details .username {width:100px;}
.activity-find-friend ul li .info {font-family: arial, helvetica, sans-serif;font-size:13px;line-height:13px;}
.activity-find-friend ul li .info p {margin:10px 0;}
.activity-find-friend ul li .info p span {display:inline-block;*zoom:1;*display:inline;vertical-align:middle;max-width:150px;margin-right:5px;}
.activity-find-friend ul li .info .interest-cat,
.activity-find-friend ul li .info .interests-list {margin-bottom:10px;}
.activity-find-friend ul li .icon-kid-boy {display:inline-block;*zoom:1;*display:inline;width:22px;height:21px;background:url(/images/common.png) no-repeat -557px -221px;vertical-align:middle;position:relative;top:-1px;}
.activity-find-friend ul li .icon-kid-girl {display:inline-block;*zoom:1;*display:inline;width:22px;height:21px;background:url(/images/common.png) no-repeat -580px -221px;vertical-align:middle;position:relative;top:-1px;}
.activity-find-friend ul li .icon-kid-wait {display:inline-block;*zoom:1;*display:inline;width:25px;height:22px;background:url(/images/common.png) no-repeat -629px -267px;vertical-align:middle;position:relative;top:-1px;}

.activity-find-friend .user-info-big {margin-bottom:0;}

.activity-find-friend .text-status {width:auto;}

.activity-find-friend .interests-list {width:150px;padding:0;}
.activity-find-friend .interests-list li {margin-bottom:0 !important;padding:0;width:auto;}

#find-friend {}
#find-friend .title {font-size:35px;color:#454545;text-align:center;margin-bottom:20px;line-height:1;}
#find-friend .title a {display:inline-block;*zoom:1;*display:inline;width:76px;height:78px;background:url(/images/more_friend.png) no-repeat;text-align:center;font-size:13px;font-weight:normal;text-decoration:none;color:#5488d0;vertical-align:middle;margin-left:20px;float:none;margin-top:0;}
#find-friend .title a span {border-bottom:1px dashed #5488d0;position:relative;top:28px;}
#find-friend .title a:hover span {border:0;}

#find-friend-wrapper {width:960px;overflow:hidden;}

#find-friend ul li {border:0;display:inline-block;*zoom:1;*display:inline;vertical-align:top;float:none;margin-bottom:40px;}

#activity .activity-photo {padding:0;}
#activity .activity-photo .title {padding:9px 19px 15px;}
#activity .activity-photo .carousel-container {height:220px;width:100%;background:#efe1fc;position:relative;}
#activity #activity-photo {height:220px;width:400px;margin:0 30px;}
#activity #activity-photo ul {position:relative;}
#activity #activity-photo li {padding:8px 15px;width:170px;}
#activity #activity-photo li .user {margin-bottom:5px;}
#activity #activity-photo li .img {text-align:center;height:130px;display:table-cell;vertical-align:middle;width:170px;}
#activity #activity-photo li .img img {max-width:170px;max-height:130px;display:block;}
#activity #activity-photo li .item-title {background:#ededed;padding:5px 15px;font-size:10px;line-height:12px;color:#626161;font-style:italic;text-align:center;}
#activity .activity-photo .prev {width:12px;height:16px;display:block;background:url(/images/common.png) no-repeat -257px -221px;position:absolute;top:50%;left:20px;text-indent:-9999px;}
#activity .activity-photo .next {width:12px;height:16px;display:block;background:url(/images/common.png) no-repeat -271px -221px;position:absolute;top:50%;right:20px;text-indent:-9999px;}

#activity .activity-smile {}
#activity .activity-smile .title img {vertical-align:middle;}
#activity .activity-smile .img {margin:8px 0 15px;}
#activity .activity-smile .options {text-align:center;}
#activity .activity-smile .options .option {display:inline-block;*zoom:1;*display:inline;vertical-align:top;margin:0 15px;color:#464646;}
#activity .activity-smile .options .option:hover {cursor:pointer;}
#activity .activity-smile .options .option .text {color:#257dc7;font:italic 22px/1 times new roman, serif;padding:2px 8px 5px;}
#activity .activity-smile .options .option .text span {border-bottom:1px dashed #257dc7;}
#activity .activity-smile .options .option:hover .text {background:#fdfccc;}
#activity .activity-smile .options .option .value {font-size:18px;position:relative;top:-9px;margin-left:5px;}
#activity .activity-smile .options .option:hover .value {color:#e85201;}
#activity .activity-smile .options .option.active .text {background:#fdfccc;}
#activity .activity-smile .options .option.active .value {color:#e85201;}

.activity-duel {}
.activity-duel .title {font-size:40px;margin-bottom:15px;}
.activity-duel .title > span {font-size:25px;}
.activity-duel .title .btn {float:right;margin-top:4px;}
.activity-duel .question {background:#daeefe;padding:12px 15px;font:italic 18px/20px times new roman, serif;color:#3d3d3d;margin-bottom:25px;position:relative;}
.activity-duel .question {/*css3*/ -moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;behavior: url(/stylesheets/PIE.htc);}
.activity-duel .question .tale {display:block;width:25px;height:17px;background:url(/images/activity_duel_tale.gif) no-repeat;position:absolute;top:100%;left:0;}
.activity-duel .question .tale-1 {left:27px;}
.activity-duel .question .tale-2 {left:251px;}
.activity-duel .answers {background:url(/images/activity_duel_dash.gif) repeat-y 50%;list-style:none;}
.activity-duel .answers .answer-1 {width:195px;padding-right:15px;float:left;}
.activity-duel .answers .answer-2 {width:195px;padding-left:15px;float:left;}
.activity-duel .answers  .user-info {margin-bottom:10px;}
.activity-duel .answers  .user-info .details .username {width:95px;}
.activity-duel .answers  p {font-size:11px;line-height:15px;}
.activity-duel .answers .vote {padding-top:15px;padding-left:5px;}
.activity-duel .answers .vote .count {display:inline-block;*zoom:1;*display:inline;margin-right:10px;text-align:center;color:#b9b9b9;line-height:1;}
.activity-duel .answers .vote .count .count-in {font:italic 50px/1 times new roman, serif;display:block;}
.activity-duel .answers .answer-1 .vote .count .count-in {color:#25a44a;}
.activity-duel .answers .answer-2 .vote .count .count-in {color:#4992d0;}
.activity-duel .answers .vote .count a {position:relative;text-decoration:none;color:#b9b9b9;border-bottom:1px dashed #b9b9b9;line-height:1;}
.activity-duel .answers .answer-1 .vote .count a:hover {color:#25a44a;border-color:#25a44a;}
.activity-duel .answers .answer-2 .vote .count a:hover {color:#4992d0;border-color:#4992d0;}
.activity-duel .answers .showed-votes {display:none;}
.activity-duel .answers .vote .button {display:inline-block;*zoom:1;*display:inline;vertical-align:top;text-align:center;}
.activity-duel .answers .vote .button a {margin-top:10px;display:inline-block;*zoom:1;*display:inline;height:22px;line-height:22px;padding:0 12px;color:#fff;background:#c9c9c9;font-weight:bold;text-decoration:none;border:1px solid #d1d1d1;}
.activity-duel .answers .vote .button a {/*css3*/ -moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;behavior: url(/stylesheets/PIE.htc);}
.activity-duel .answers .vote .button span {height:22px;line-height:22px;display:inline-block;*zoom:1;*display:inline;padding:0 12px;color:#777;font-weight:bold;margin-top:10px;margin-bottom:-12px;}
.activity-duel .answers .answer-1 .vote .button a {background-image:url(/images/btn_answer_g.gif);border:1px solid #34ac51;}
.activity-duel .answers .answer-1 .vote .button span {color:#25a44a;}
.activity-duel .answers .answer-2 .vote .button a {background-image:url(/images/btn_answer_b.gif);border:1px solid #549bd7;}
.activity-duel .answers .answer-2 .vote .button span {color:#4992d0;}
.activity-duel .answers .vote .button a.active {background-image:url(/images/btn_answer_d.gif);border:1px solid #d1d1d1;}
.activity-duel .answers .votes {list-style:none;width:195px;}
.activity-duel .answers #duel-votes {width:100%;display:block;}
.activity-duel .answers #duel-votes ul {padding-top:30px;}
.activity-duel .answers .votes li {float:left;padding:5px 12px;}
.activity-duel .answers .more-votes {text-align:right;padding-top:10px;}
.activity-duel .answers .more-votes a {text-decoration:none;border-bottom:1px dashed #029AD2;}
.activity-duel .answers .answer-1 .more-votes a {color:#25a44a;border-color:#25a44a;}
.activity-duel .answers .answer-2 .more-votes a {color:#4992d0;border-color:#4992d0;}

#duel-takeapart {width:420px;}

#duel-takeapart .title {line-height:28px;}

#duel-takeapart .duels-list {list-style:none;}
#duel-takeapart .duels-list li {padding:10px 0;}
#duel-takeapart .duels-list li .num {display:block;width:30px;height:30px;background:#c5a7e2;color:#fff;text-align:center;text-decoration:none;line-height:30px;font-size:20px;font-weight:bold;position:absolute;right:100%;margin-right:10px;top:-8px;}
#duel-takeapart .duels-list li .num {/*css3*/ -moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;behavior: url(/stylesheets/PIE.htc);}
#duel-takeapart .duels-list li .text {margin-left:40px;padding-top:8px;}
#duel-takeapart .duels-list li .text p {font-size:15px;}
#duel-takeapart .duels-list li .text p a {color:#242424;text-decoration:none;display:block;position:relative;}
#duel-takeapart .duels-list li .text .duelist {padding-top:10px;}
#duel-takeapart .duels-list li .text .duelist .label {float:left;color:#949696;font-size:11px;font-family:tahoma, arial, helvetica, sans-serif;}
#duel-takeapart .duels-list li .text .duelist .user-info {margin-left:15px;}
#duel-takeapart .duels-list li .text .duelist .user-info .details {margin-left:30px;}
#duel-takeapart .duels-list li .text .duelist .user-info .details .username {width:130px;}
#duel-takeapart .duels-list li p a:hover {color:#fe8c05;}
#duel-takeapart .duels-list li p a:hover .num {background:#f68704;}

#duel-takeapart .add-answer {}
#duel-takeapart .add-answer label {display:block;color:#898888;font-size:16px;font-style:italic;font-family:arial, helvetica, sans-serif;}
#duel-takeapart .add-answer textarea {padding:5px;width:408px;border:1px solid #e8d2fd;margin:8px 0;min-height:100px;resize:none;}
#duel-takeapart .add-answer textarea.cap {font-size:45px;color:#e0e1e0;line-height:1;text-align:center;}
#duel-takeapart .add-answer .note {font-size:11px;color:#9a9b9a;}
#duel-takeapart .add-answer .note span {color:#a87fcf;}
#duel-takeapart .add-answer .btn span {font-weight:bold;font-family:arial, helvetica, sans-serif;}
