
.inner { padding: 30px 0;}
.inner .new {
    float: left;
    width: 630px;
    margin-left: 180px;
}
.inner .content-title {
    position: absolute;
    color: #a4e0e7;
    font: bold 25px Arial, Tahoma, sans-serif;
    float: left;
    margin: 0 20px;
    color: #0281b0;
}
.inner .new-header {
    padding: 10px 0 10px;
    border-bottom: 1px solid #caf3f8;
}
.inner .new-header a {
    border-bottom: 1px dashed #55b8ce;
    color: #55b8ce;
    font: 12px Arial, Tahoma, sans-serif;
    text-decoration: none;
}
.inner .new-header span {
    padding: 5px 25px 5px;
    background: #cff3f7;
}
.inner .new-header .current {
    padding: 10px 35px 5px;
    background: #a4e0e7;
    font: bold 14px Arial, Tahoma, sans-serif;
    color: #2396b0
}
.inner .inner-title {
    color: #0d8ca3;
    font: italic 18px Arial, Helvetica, sans-serif;
    margin: 20px 0 5px;
}
.inner .new input[type=text] {
    padding: 14px;
    font-size: 14px;
    background: #fff;
    width: 602px;
    border: 1px solid #c9eaf1;

}
.inner .settings.no_bg input[type=text] {
    padding: 14px;
    font-size: 14px;
    background: #fff;
    width: 440px;
    border: 1px solid #c9eaf1;
    margin-left: 0;
}
.inner .settings.no_bg .settings-l {width: auto;}
.inner .new textarea {
    padding: 4px;
    font-size: 14px;
    background: #fff;
    width: 622px;
    border: 1px solid #c9eaf1;

}
.inner .settings-l {
    color: #158aa0;
    font: 12px tahoma, sans-serif;
    padding: 0 15px 10px 5px;
    background: #e9fafc;
    float: left;
    width: 450px;
    margin: 10px 0 10px 20px;
}
.inner .no_bg .settings-l {
    background: none;
    padding: 0;
    margin: 0
}
.inner .settings-l .inner-title {
    text-align: center;
    margin-top: 10px;
}
.inner .settings.no_bg  .inner-title {
    text-align: left;
    margin-bottom: 0
}
.inner .settings-l label {color: #158aa0;}
.inner .settings-l select,
.inner .settings-l .chzn-container {
    width: 205px;
    margin: 10px 5px 10px 10px;

}
.inner .viseted_it {
    display: block;
    padding: 30px;
    background: #e9fafc;
    border-bottom: 1px solid #caf3f8;
    margin: 0 0 5px 0;
}
.inner .viseted_it ul {padding: 0 0 10px 0;}
.inner .viseted_it ul li {
    display: inline;
    padding: 0 30px 0 0;
}
.inner .viseted_it input[type="text"] {
    width: 155px;
    padding: 0 10px;
    height: 16px;
    border: 1px solid #caf3f8;
    text-align: right;
    font: 12px/16px tahoma, sans-serif;
}
.inner span.bl_button {
    display: block;
    text-align: right;
    padding: 0 0 25px 0;
}
.inner .html_r {
    display: block;
    margin: 0 0 40px 0;
}
.inner .add_photos_changer {
    display: block;
    margin: 0 0 15px 0;
}
.inner .add_photos_changer span {
    font: italic 18px/25px arial, sans-serif;
    color: #0d8ca3;
    float: left;
    padding: 0 35px 0 0;
}
.inner .add_photos_changer ul li {
    float: left;
    font: 13px/25px arial, sans-serif;
    color: #0d8ca3;
    padding: 0 5px 0 0;
}
.inner .add_photos_changer ul li span {
    font: 13px/25px arial, sans-serif;
    color: #0d8ca3;
    border-bottom: 1px dashed #0d8ca3;
    display: inline;
    float: none;
    padding: 0;
}
.inner .add_photos_changer ul li a {
    font: 13px/25px arial, sans-serif;
    color: #0d8ca3;
    display:inline-block;*zoom:1;*display:inline;
    padding: 0 5px;
    text-decoration: none;
}
.inner .add_photos_changer ul li.current a {
    font: 13px/25px arial, sans-serif;
    color: #0d8ca3;
    display:inline-block;*zoom:1;*display:inline;
    padding: 0 5px;
    text-decoration: none;
    background: #cff3f7;
}
.inner .add_photos_changer ul li.current span {
    font: 13px/25px arial, sans-serif;
    color: #0d8ca3;
    border-bottom: 0;
    display: inline;
    float: none;
    padding: 0;
}
.inner a.or_bt_average {
    display:inline-block;*zoom:1;*display:inline;
    font: bold 13px/30px tahoma, sans-serif;
    color: #fff;
    border: 1px solid #f99337;
    background: url(../images/bg_orbt_average.png) 0 0 repeat-x;
    text-decoration: none;
    padding: 0 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.inner span.download_att {
    padding: 0 0 0 10px;
    color: #66bfc9;
}
.inner ul.downloaded_items {
    display: block;
    padding: 30px 0;
}
.inner ul.downloaded_items li {
    margin: 0 0 10px 0;
    color: #0e9db6;
    line-height: 18px;
}
.inner ul.downloaded_items li span {padding: 0 18px 0 0;}
.inner ul.downloaded_items .remove {
    display:inline-block;*zoom:1;*display:inline;
    padding: 0 0 0 25px;
    color: #9c9b9b;
    font-size: 11px;
    text-decoration: none;
    position:relative;
}
.inner ul.downloaded_items .remove .icon {
    display:block;
    width:21px;
    height:18px;
    background:url(../images/common.png) no-repeat -1px -101px;
    position:absolute;
    top:50%;
    left:0;
    margin-top:-9px;
}
.inner .jq_droggable {
    display: block;
    border: 1px dashed #e6c3ff;
    padding: 5px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.inner .jq_droggable .drogg_inner {
    display: block;
    height: 140px;
    padding: 60px 0 0 0;
    background: url(../images/groggable_bg.jpg) 0 0 repeat-x;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.inner .jq_droggable .drogg_inner span {
    width: 300px;
    margin: 0 auto;
    padding: 15px 0 0 60px;
    display: block;
    font: 18px/20px arial, sans-serif;
    color: #c9c7c7;
    text-align: center;
    min-height: 75px;
    background: url(../images/rarr.png) 0 0 no-repeat;
}
.inner .settings-l input[type="text"] {
    padding: 2px;
    font-size: 12px;
    background: #fff;
    float: left;
    border: 1px solid #c9eaf1;
    margin: 5px 0px 5px 10px;
    width: 182px;
}
.inner .settings-l input.big[type="text"] {
    padding: 2px;
    font-size: 12px;
    background: #fff;
    float: left;
    border: 1px solid #c9eaf1;
    margin: 5px 0 5px 10px;
    width: 380px;
}
.inner .settings-l img {
    border: 1px solid #c9eaf1;
    float: left;
}
.inner .settings-l .name {
    margin: 13px 0 0 10px;
    float: left;

}
.inner .settings-l a.remove {
    color: #b0afaf;
    float: right;
    margin: 10px 0px 10px 10px;
    padding: 3px 25px 5px 0;
    text-decoration: none;
    position:relative;
}
.inner .settings-l a.remove .icon {
    display:block;
    width:21px;
    height:18px;
    background:url(../images/common.png) no-repeat -1px -101px;
    position:absolute;
    top:50%;
    right:0;
    margin-top:-9px;
}
.inner .settings-r {
    float: right;
    padding: 20px 0;
}
.inner .no_bg .settings-r {padding: 10px 0;}
.settings-r img {float: left;}
.inner .button_panel {margin: 20px 0 0}
.inner .settings-r .peach {
    color: #575757;
    font: italic 13px Arial, Helvetica, sans-serif;
    float: right;
    width: 400px;
    padding: 10px 10px 10px 0;
    margin-right: 20px;
    position: relative;
}
.inner .settings-r .peach .in {
    position: relative;
    z-index: 2;
    padding-left: 45px;
}
.inner .settings-r .peach  .t {
    width: 416px;
    height: 51%;
    position: absolute;
    left: -16px;
    top: 0;
    background: url(../images/bg_peach_t.png) no-repeat top;
    z-index: 1;
}
.inner .settings-r .peach  .b {
    width: 416px;
    height: 51%;
    position: absolute;
    left: -16px;
    bottom: 0;
    background: url(../images/bg_peach_b.png) no-repeat bottom;
    z-index: 1;
}
.inner .settings-r .peach .mdash {
    float: left;
    width: 40px;
    text-align: right;
    position: relative;
    z-index: 2;
    top: -2px;
}


.validate {
    float: left;
    clear: left;
}
.validate .left-v {
    float: left;
    width: 250px;
}
.validate .left-v p {
    color: #939598;
    font: 11px tahoma, sans-serif
}
.validate .right-v {
    margin-right: 10px;
    position: relative;
    float: right;
    width: 190px;
    background: #e9fafc;
    padding: 7px 13px 7px 7px
}
.validate .inner-title {
    margin: 7px 10px 0 0;
    display: inline;
    vertical-align: top;
}
.validate .right-v.test-img {width:auto;padding:10px;}
.validate .right-v.test-img img {margin:0;}
.validate .right-v .remove {
    display:block;
    width:21px;
    height:18px;
    background:url(../images/common.png) no-repeat -1px -101px;
    padding:0 !important;
    margin:0 0 0 5px!important;
}