
/* select */

/* --------------- default select --------- */

/* @group Base */
.chzn-container {position:relative;display:inline-block;*zoom:1;*display:inline;font-size:11px;text-align:left;min-width:50px;vertical-align:middle;}
.chzn-container .chzn-drop {background:#fff;border:1px solid #C9EAF1;border-top:0;position:absolute;top:29px;left:0;z-index: 999;}
/* @end */

/* @group Single Chosen */
.chzn-container-single .chzn-single {background-color: #fff;display: block !important;white-space: nowrap;position: relative;height: 16px;line-height: 16px;padding: 0 0px 0 5px;color: #444444;text-decoration: none;border:1px solid #C9EAF1;}
.chzn-container-single .chzn-single span {margin-right: 22px;display: block;overflow: hidden;white-space: nowrap;-o-text-overflow: ellipsis;-ms-text-overflow: ellipsis;text-overflow: ellipsis;}
.chzn-container-single .chzn-single abbr {display: block;position: absolute;right: 24px;top: 4px;width: 12px;height: 12px;font-size: 1px;background:url(../images/common.png) no-repeat -315px -136px;}
.chzn-container-single .chzn-single abbr:hover {background-position:-315px -149px;}
.chzn-container-single .chzn-single div {position: absolute;right: -1px;top: -1px;display: block;height: 100%;width: 16px;background:#1b9bcb;padding:1px;}
.chzn-container-single .chzn-single div b {background: url(/images/common.png) no-repeat -244px -101px;display: block;width: 10px;height: 8px;margin:-4px auto 0;position:relative;top:50%;}
.chzn-container-single .chzn-search {padding: 2px 3px;position: relative;margin: 0;white-space: nowrap;z-index: 1010;display:none;}
.chzn-container-single .chzn-search input {background: #fff;margin: 1px 0;outline: 0;font-family: arial, sans-serif;padding:3px 5px;border:1px solid #c9eaf1;font-family:arial, sans-serif;}
/* @end */

.chzn-container-single-nosearch .chzn-search input {position: absolute;left: -9000px;}

.popup .chzn-container .chzn-drop {border:1px solid #ece4f4;}
.popup .chzn-container .chzn-single {border:1px solid #ece4f4;}
.popup .chzn-container-single .chzn-search input {border:1px solid #ece4f4;}
.popup .chzn-container-single .chzn-single div {background:#a17dc4;}
.popup .chzn-container .chzn-results .highlighted {background:#a17dc4;}
.popup .chzn-container-active .chzn-drop {border-top:0;}

.chzn-drop-short .chzn-container .chzn-results {max-height:80px;}

.chzn-container .chzn-results {margin:2px;max-height: 180px;position: relative;overflow-x: hidden;overflow-y: auto;color:#777;list-style: none !important;}
.chzn-container-multi .chzn-results {margin: -1px 0 0;padding: 0;}
.chzn-container .chzn-results li {display: none;line-height: 15px;padding:3px 4px !important;margin: 0 !important;list-style: none;}
.chzn-container .chzn-results .active-result {cursor: pointer;display: list-item !important;}
.chzn-container .chzn-results .highlighted {background-color: #1b9bcb;color: #fff;}
.chzn-container .chzn-results li em {background: #feffde;font-style: normal;}
.chzn-container .chzn-results .highlighted em {background: transparent;}
.chzn-container .chzn-results .no-results {background: #f4f4f4;display: list-item;}
.chzn-container .chzn-results .group-result {cursor: default;color: #999;font-weight: bold;}
.chzn-container .chzn-results .group-option {padding-left: 15px;}
.chzn-container-multi .chzn-drop .result-selected {display: none;}

.chzn-container-active .chzn-single {border: 1px solid #C9EAF1;}
.chzn-container-active .chzn-single-with-drop {}
.chzn-container-active .chzn-single-with-drop div {}
.chzn-container-active .chzn-single-with-drop div b {background:url(/images/common.png) no-repeat -244px -111px;}
.chzn-container-active .chzn-choices {border: 1px solid #C9EAF1;}
.chzn-container-active .chzn-choices .search-field input {color: #111 !important;}

.chzn-v2 {display:inline-block;*zoom:1;*display:inline;height:25px;}
.chzn-v2 .chzn-container-single {vertical-align:middle;}
.chzn-v2 .chzn-container-single .chzn-single {height:23px;border-color:#C3E2F6;}
.chzn-v2 .chzn-container-single .chzn-drop {border-color:#C3E2F6;}
.chzn-v2 .chzn-container-single .chzn-single span {height:23px;line-height:23px;color:#514f4f;font-size:13px;}
.chzn-v2 .chzn-container-single .chzn-single div {background:#fff;border:1px solid #C9EAF1;height:21px;border-left:0;border-color:#C3E2F6;}
.chzn-v2 .chzn-container-single .chzn-single div b {background:red;width:11px;height:9px;background:url(/images/common.png) no-repeat -287px -188px;}
.chzn-v2 .chzn-container-single .chzn-single .highlighted {background:#C3E2F6;}
.chzn-v2 .chzn-container .chzn-results .highlighted {background:#1b9bcb !important;}

.chzn-v2-lilac {display:inline-block;*zoom:1;*display:inline;height:25px;}
.chzn-v2-lilac .chzn-container-single {vertical-align:middle;}
.chzn-v2-lilac .chzn-container-single .chzn-single {height:23px;border-color:#e6d4f6;}
.chzn-v2-lilac .chzn-container-single .chzn-drop {border-color:#e6d4f6;border-top: 1px solid #e6d4f6;margin-top: 5px;}
.chzn-v2-lilac .chzn-container-single .chzn-single span {height:23px;line-height:23px;color:#514f4f;font-size:13px;}
.chzn-v2-lilac .chzn-container-single .chzn-single div {background:none;height:21px;border-left:0;border-color:#C3E2F6;top: 0;right: 0;}
.chzn-v2-lilac .chzn-container-single .chzn-single div b {width:11px;height:9px;background:url(/images/common.png) no-repeat -336px -178px;}
.chzn-v2-lilac .chzn-container .chzn-results .highlighted {background:#a687c7;}

.chzn-bluelight {display:inline-block;*zoom:1;*display:inline;height:30px;min-width: 78px;width: 100%;}
.chzn-bluelight .chzn-container-single {vertical-align:middle;width: 100% !important;}
.chzn-bluelight .chzn-container-single .chzn-single {height:30px;border-color:#82b6f5;padding-left: 7px;}
.chzn-bluelight .chzn-container-single .chzn-drop {border: none;width: 100% !important;}
.chzn-bluelight .chzn-container-single .chzn-results {border: 1px solid #82b6f5;margin: 0;padding: 2px;}
.chzn-bluelight .chzn-container-single .chzn-single span {height:30px;line-height:30px;color:#514f4f;font-size:12px;margin-right: 40px;}
.chzn-bluelight .chzn-container-single .chzn-single div {background:#d2e6fe;height:28px;width: 33px;border-left:0;border-color:#82b6f5;top: 0;right: 0;}
.chzn-bluelight .chzn-container-single .chzn-single div b {width:15px;height:8px;background: url(/images/arrow-d.png) no-repeat;}
.chzn-bluelight .chzn-container .chzn-results li {line-height: 18px;}
.chzn-bluelight .chzn-container .chzn-results .highlighted {background:#d2e6fe;color: #514F4F;}

.chzn-textalign-c .chzn-container-single .chzn-single span {text-align: center !important;}
/* ------------- store cart form select -------------- */

/* ------------- pregnancy term select -------------- */

select.pregnancy_term {width:140px;}

select.pregnancy_term + .chzn-container-single .chzn-single {height:60px;}
select.pregnancy_term + .chzn-container-single .chzn-single span {line-height:60px;font-size:40px;}
select.pregnancy_term + .chzn-container .chzn-results li {line-height:18px;font-size:20px;}
  
/* */

.with-search .chzn-container-single .chzn-search {display:block;}

#album_select_chzn .search-choice-close {display:none;}

/* select */