/* old code */
.content-search > span {float:left;font:bold 35px/1 arial, helvetica, sans-serif;color:#545454;}
.content-search form {margin-left:115px;padding-top:5px;}
.content-search form input[type=text] {border:1px solid #c5e6f3;height:18px;line-height:18px;padding:5px 10px;float:left;margin:0;width:470px;font:normal 12px/18px arial, helvetica, sans-serif}
.content-search form button {float:left;margin:-2px 0 0 -1px;}
.content-search form button span {font-size:14px;}
.content-search form .result-count {font:normal 11px tahoma, arial, helvetica, sans-serif;color:#9f9e9e;margin-left:11px;margin-top:5px;}
/* /old code */

.content-search {
	margin: 30px 0 30px;

	&_top {
		padding: 22px 15px 22px 15px;
		background: #b2dff6;
		.border-radius(3px);
	}
	&_t {
		float: left;
		width: 120px;
		height: 30px;
		background: url(/images/content-search_t.png) no-repeat;
		text-indent: -9999px;
	}
	&_itx-hold {
		position: relative;
		float: right;
		width: 790px;
	}
	&_itx {
		display: block;
		width: 735px;
		padding: 7px 35px 6px 20px;
		font-size: 13px;
		line-height: 16px;
		background: #fff;
		.border-radius(12px);
	}
	&_itx:focus + &_btn {background: url(/images/ico/ico-search-2.png) no-repeat -95px 50%;}
	&_btn {
		position: absolute;
		top: 0;
		right: 0;
		height: 28px;
		width: 35px;
		background: url("/images/ico/ico-search-2.png") no-repeat 5px 50%;
		border: 0;
		cursor: pointer;
	}
	&_btn.active { background: url(/images/ico/ico-close.png) no-repeat 50% 50%;}
	&_utility {
		padding: 12px 15px 16px 15px;
		background: #f0faff;
	}
	&_found {
		float: left;
		width: 235px;
		margin-top: 4px;
		font-size: 21px;
		color: #161616;
	}
	&_found .search-highlight {padding: 0 4px;}
	&_select {
		float: right;
		width: 180px;
	}
	&_select .chzn-bluelight .chzn-container-single .chzn-single,
	&_select .chzn-bluelight .chzn-container-single .chzn-results {border-color: #cdebfb;}
	&_select .chzn-bluelight .chzn-container-single .chzn-single div {background: #e1f1fd;}
	&_select .chzn-bluelight .chzn-container-single .chzn-single span {text-align: right;margin-right: 45px;}
	&_pager-control {
		float: left;
		margin-top: 7px;
	}
	&_pager-control-tx {
		font-size: 11px;
		color: #989898;
		padding-right: 8px;
	}
	&_pager-control-a {}
	&_pager-control-separator {
		.inline-block();
		padding: 0 7px;
		color: #c1d8e4;
	}
}

.search-highlight {background:#fff8ac;color:#2e2e2e;}

.content-search-filter {margin:100px 0 0 20px;font-size:13px;padding-bottom:20px;}
.content-search-filter ul {list-style:none;}
.content-search-filter ul li {padding:3px 10px 4px;width:100px;text-align:right;line-height:1.2;margin:5px 0;}
.content-search-filter ul li a {text-decoration:none;display:block;}
.content-search-filter ul li a span {border-bottom:1px dashed #51AFC3;float:left;}
.content-search-filter ul li a:hover span {border:0;}
.content-search-filter ul li.active {background:#e9f6fe;font-weight:bold;}
.content-search-filter ul li.active a span {border:0;}

.content-side-filter {margin:50px 0 0 20px;font-size:13px;padding-bottom:20px;}
.content-side-filter ul {list-style:none;}
.content-side-filter ul li {padding:3px 10px 4px;text-align:right;line-height:1.2;margin:5px 0;}
.content-side-filter ul li a {text-decoration:none;display:block;}
.content-side-filter ul li a span {border-bottom:1px dashed #51AFC3;float:left;}
.content-side-filter ul li a:hover span {border:0;}
.content-side-filter ul li.active {background:#e9f6fe;font-weight:bold;}
.content-side-filter ul li.active a span {border:0;}

/* */