.content-cols {
	/* col-1 */
	.col-1 {
		width:240px;
		padding-right:20px;
		float:left;
		position: relative;
		
		&_t {
			margin: 25px 10px 20px;
			font-size: 24px;
			color: #000;
			text-align: center;
		}
		&_sub-t {
			display: block;
			margin: 5px 10px 0;
			font-size: 15px;
			text-align: center;
		}
		&_search {
			position: relative;
			margin: 0 0 15px;
		}
		&_search-itx {
			display: block;
			width: 192px;
			padding: 5px 30px 5px 18px;
			border: 1px solid #caddf4;
			font-size: 13px;
			background: #f8fbff;
			.border-radius(11px);
		}
		&_search-itx:focus {background: #fff;}
		&_search-btn {
			background: url("/images/col-1_search-btn.png") no-repeat 50% 50%;
			border: 0;
			cursor: pointer;
			float: right;
			height: 28px;
			margin: -28px 0 0;
			width: 28px;
		}
		&_search-btn.active { background: url(/images/ico/ico-close.png) no-repeat 50% 50%;}
	}

	/* /col-1 */
	.col-12,
	.col-23 {width:700px;float:left;position: relative;}
	.col-23-big {width: 740px;float: left;}
	.col-2 {width:440px;float:left;}
	.col-3 {width:240px;padding-left:20px;float:left;}
}

.menu-list {
	&__favorites &_i {padding-left: 15px;}
	&__favorites &_count {float: right;}

	&_i {
		display: block;
		position: relative;
		margin: 0 0 5px;
		padding: 20px;
		background: #ebf4ff;
		color: #3b3a3a;
		text-decoration: none;
		cursor: pointer;
		.border-radius(5px);
	}
	&_i:hover {background: #f8fbff;}
	&_i:hover .ico-close{display: block;}
	&_i.active {
		background: #5e93d5;
		color: #fff;
		font-weight: bold;
	}
	&_i.active &_count {color: #fff;}
	&_i a {text-decoration: none;}
	&_i .ico-close {
		position: absolute;
		top: 10px;
		right: 10px;
		display: none;
	}
	&_i__all {background: #e7dcef;}
	&_i__all:hover {background: #efe5f8;}
	&_i__all.active {background: #947bab;}
	&_i__all &_ico {background-position: 0 0;}
	&_i__all.active &_ico {background-position: 0 -20px;}
	&_i__all2 {background: #e7dcef;}
	&_i__all2:hover {background: #efe5f8;}
	&_i__all2.active {background: #947bab;}
	&_i__all2 &_ico {background-position: -120px 0;}
	&_i__all2.active &_ico {background-position: -120px -20px;}
	&_i__post {background: #ddeefd;}
	&_i__post:hover {background: #ebf6ff;}
	&_i__post.active {background: #7ab3e4;}
	&_i__post &_ico {background-position: -20px 0;}
	&_i__post.active &_ico {background-position: -20px -20px;}
	&_i__photo {background: #d3fbd7;}
	&_i__photo:hover {background: #eafeec;}
	&_i__photo.active {background: #51b95b;}
	&_i__photo &_ico {background-position: -40px 0;}
	&_i__photo.active &_ico {background-position: -40px -20px;}
	&_i__video {background: #ffe0e0;}
	&_i__video:hover {background: #ffe9e9;}
	&_i__video.active {background: #f77979;}
	&_i__video &_ico {background-position: -60px 0;}
	&_i__video.active &_ico {background-position: -60px -20px;}
	&_i__master {background: #f8e3fa;}
	&_i__master:hover {background: #fef1ff;}
	&_i__master.active {background: #c483ca;}
	&_i__master &_ico {background-position: -80px 0;}
	&_i__master.active &_ico {background-position: -80px -20px;}
	&_i__cook {background: #fff7d8;}
	&_i__cook:hover {background: #fffae8;}
	&_i__cook.active {background: #f6d44a;}
	&_i__cook &_ico {background-position: -100px 0;}
	&_i__cook.active &_ico {background-position: -100px -20px;}

	&_count {
		color: #594c62;
		padding: 0 3px;
	}
	&_row {padding: 15px 20px 15px;}
	&_row .ico-plus2 {margin-right: 5px;}
	&_i-add {}
	&_i-add-itx {
		.inline-block();
		vertical-align: middle;
		width: 150px;
		margin-right: 5px;
		border: 1px solid #CADDF4;
		padding: 3px 10px;
		line-height: 16px;
	}
	&_tx {
		.inline-block();
		vertical-align: middle;
	}
	&_ico {
		.inline-block();
		vertical-align: middle;
		width: 20px;
		height: 20px;
		margin-right: 10px;
		background: url(/images/ico/menu-list_ico.png) no-repeat;
	}
}


