/* */
.default-comments {padding-bottom:20px;margin-top:20px;border-bottom:1px dashed #95c8ff;width:700px;margin:40px auto 0;}
.default-comments .add, .default-comments .all {padding-top:10px;text-align:right;}
.default-comments ul {padding-top:10px;list-style:none;}
.default-comments > ul > li {padding:2px 0px;border-top:1px dashed #95c8ff;}
.default-comments > ul > li:first-child {border-top:0;}
.default-comments li .comment-in {padding:10px;}
.default-comments li .header {padding-bottom:8px;}
.default-comments li .header .user-info {float:none;}
.default-comments li .header .user-info .details .username:hover {text-decoration:underline;}
.default-comments li .content {font-size:12px;}
.default-comments li .content p {color:#232222;margin:5px 0;}
.default-comments li.deleted .content, .default-comments li.deleted .content p {color:#aaa;}
.default-comments li .content .rating {margin-bottom:5px;height:12px;display:inline-block;*zoom:1;*display:inline;overflow:hidden}
.default-comments li .content .rating .s1 {width:13px;height:12px;display:block;float:left;background:url(../images/common.png) no-repeat -68px -128px;}
.default-comments li .content .meta {font-size:9px;color:#b6b9ba;margin-bottom:5px;font-family:tahoma, arial, helvetica, sans-serif;}
.default-comments li .content .meta .num {background:#92b3e1;padding:1px 5px;color:#fff;font-weight:bold;font-size:14px;font-family:arial, helvetica, sans-serif;margin-left:3px;}
.default-comments li .content .meta .num a {color:#fff;text-decoration:none;}
.default-comments li .content .meta .date {margin-right:15px;}
.default-comments li .content .meta .answer {color:#82c3d3;display:inline-block;*zoom:1;*display:inline;vertical-align:top;}
.default-comments li .content .meta .answer .ava {width:25px;height:23px;display:inline-block;*zoom:1;*display:inline;vertical-align:middle;border:0;position:relative;top:-2px;float:none;margin:0 5px;}
.default-comments li .content .meta .answer img {vertical-align:top;width:25px;height:23px;border:0;}
.default-comments li .content .meta .answer .user-info {float:none;display:inline-block;*zoom:1;*display:inline;vertical-align:middle;}
.default-comments li .content div.quote {background:#fffedf;padding:8px 15px;border-left:4px solid #f7ebb4;margin-left:15px;margin:10px 0;}
.default-comments li .content div.quote p {color:#979898;}
.default-comments li .content .content-in .quote {margin-left:20px;}
.default-comments li.author-comment .content .content-in {background:#faf4ff;padding:5px 10px;margin:0 -10px;}
.default-comments li .content .actions {visibility:hidden;line-height:1.2;padding-top:5px;font-size:12px;}
.default-comments li .content .actions .quote-link {color:#75d16d;}
.default-comments li .content .actions .claim {float:right;color:#f56b95;text-decoration:none;border-bottom:1px dashed #f56b95;}

.default-comments li .content .actions .admin-actions {float:right;margin-right:15px;background:#f7f7f7;padding:3px 9px;margin-top:-5px;}
.default-comments li .content .actions .admin-actions .edit {display:inline-block;*zoom:1;*display:inline;vertical-align:middle;margin-right:5px;}
.default-comments li .content .actions .admin-actions .edit .icon {display:inline-block;*zoom:1;*display:inline;width:14px;height:18px;background:url(../images/common.png) no-repeat -383px -204px;margin:2px auto 0;}
.default-comments li .content .actions .admin-actions .edit:hover .icon {background-position: -341px -136px;}

.default-comments li .content .actions .admin-actions .remove {display:inline-block;*zoom:1;*display:inline;vertical-align:middle;margin-left:5px;}
.default-comments li .content .actions .admin-actions .remove .icon {display:inline-block;*zoom:1;*display:inline;width:12px;height:14px;background:url(/images/common.png) no-repeat -314px -135px;vertical-align:middle;position:relative;top:-1px;}
.default-comments li .content .actions .admin-actions .remove:hover .icon {background-position:-314px -148px;}

.default-comments li:hover .comment-in {background:#f0fafd;}
.default-comments li:hover .content .actions {visibility:visible;}
.default-comments li.deleted .actions {display:none !important;}

.default-comments .comment-action {padding-top:5px;}

.default-comments .comments-meta {padding-bottom:3px;border-bottom:1px solid #cdecff;}
.default-comments .comments-meta .btn {margin-top:5px;}
.default-comments .comments-meta .title {float:left;line-height:36px;padding:0 4px;color:#252525;font-size:22px;}
.default-comments .comments-meta .count {font:bold 22px/36px tahoma, arial, sans-serif;color:#6ea0d4;float:left;}
.default-comments .comments-meta .avg-rating {margin-left:275px;line-height:25px;padding-top:8px;font-size:12px;color:#4EAFC2;}
.default-comments .comments-meta .avg-rating  .rating {height:25px;display:inline-block;*zoom:1;*display:inline;vertical-align:top;margin-left:5px;overflow:hidden;}
.default-comments .comments-meta .avg-rating  .rating .s1 {width:27px;height:25px;background:url(../images/common.png) no-repeat -100px -125px;display:block;float:left;}

.default-comments .comments-meta .add-menu {position:relative;float:right;}
.default-comments .comments-meta .add-menu .btn {position:relative;z-index:2;}
.default-comments .comments-meta .add-menu .btn > span > span {width:125px;}
.default-comments .comments-meta .add-menu ul {background:#fff9da;position:absolute;top:30px;left:0;border:1px solid #f5e9ab;width:149px;padding:10px 0 5px 0;z-index:1;font-size:12px;}
.default-comments .comments-meta .add-menu ul li {padding:2px 15px;}
.default-comments .comments-meta .add-menu ul li:hover {background:none;}
.default-comments .comments-meta .add-menu ul li a {color:#767575}
.default-comments .comments-meta .add-menu ul li a:hover {text-decoration:none;}

.default-comments .new-comment {text-align:center;font-size:14px;color:#c2c4c4;line-height:27px;font-family:tahoma, arial, sans-serif;}
.default-comments .new-comment .rating {width:135px;height:25px;display:inline-block;*zoom:1;*display:inline;vertical-align:top;margin-left:5px;margin-bottom:10px;}
.default-comments .new-comment .rating span {width:27px;height:25px;background:url(../images/common.png) no-repeat -128px -125px;display:block;float:left;cursor:pointer;}
.default-comments .new-comment .rating span.hover {background-position:-100px -125px !important;}
.default-comments .new-comment .rating span.active {background-position:-100px -125px;}
.default-comments .new-comment .rating.hover span.active {background-position:-128px -125px;}
.default-comments .new-comment textarea {border:1px solid #c9eaf1;width:680px;padding:15px 14px;}
.default-comments .new-comment .btn {margin:10px 5px;}
.default-comments .removed-comment {color: #aaa;font-style: italic;}

.default-comments .user-info .details .icon-status {}
.default-comments .user-info .details .username {width:auto;}

.default-comments .no-comments {background:#f8f8f8;margin-top:3px;padding:50px 0;text-align:center;color:#c7c6c6;font-size:16px;}
.default-comments .no-comments img {margin-top:-30px;}
#add_comment {margin-bottom: 20px;}

/* */