
.find-friend-page {}
.find-friend-title {margin:30px 0 40px;}
.find-friend-title .search-box {float: right;padding: 15px 10px 0 0;}
.find-friend-title .search-box .search-box_input {position: relative;}
.find-friend-title .search-box .search-box_input .text {background: #fff;line-height: 20px;height: 18px;padding: 2px 30px 0 7px; width:160px;border: 1px solid #e5e5e5;}
.find-friend-title .search-box .search-box_input .text:focus {border-color: #d2bbe6;}
.find-friend-title .search-box .search-box_input .icon-search{position: absolute;top: 0;right: 0;background: url(/images/common.png) no-repeat -666px -327px;width: 21px;height: 20px;border: none;margin: 0;cursor: pointer;}
.find-friend-title h1 {color: #454545;text-align: center;font-size: 35px;font-weight: normal;padding-left: 210px;margin-bottom: 25px;}
.find-friend-title .icon-find-friend {display: inline-block;*zoom:1;*display:inline;    background: url("/images/common.png") no-repeat scroll -322px -341px transparent;
	height: 46px;margin: 0 0 -8px;width: 43px;}
.find-friend-menu {
	text-align:center;
	list-style:none;
}
.find-friend-menu > li {
	display:inline-block;*zoom:1;*display:inline;
	border-right:1px solid #ffc200;
	color: #2e2e2d;
	margin: 0 -3px 0 0;
}
.find-friend-menu > li:first-child > a{
	border-left: none;
	-webkit-border-top-left-radius: 17px;
	-moz-border-top-left-radius: 17px;
	-ms-border-top-left-radius: 17px;
	border-top-left-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
	-moz-border-bottom-left-radius: 17px;
	-ms-border-bottom-left-radius: 17px;
	border-bottom-left-radius: 17px;
}
.find-friend-menu > li:last-child {border-right: none;}
.find-friend-menu > li:last-child > a{
	-webkit-border-top-right-radius: 17px;
	-moz-border-top-right-radius: 17px;
	-ms-border-top-right-radius: 17px;
	border-top-right-radius: 17px;
	-webkit-border-bottom-right-radius: 17px;
	-moz-border-bottom-right-radius: 17px;
	-ms-border-bottom-right-radius: 17px;
	border-bottom-right-radius: 17px;
}
.find-friend-menu > li > a {
	display: block;
	padding: 2px 16px 1px;
	font-size: 14px;
	line-height: 34px;
	height: 33px;
	text-decoration: none;
	color: #2e2e2d;
	border-bottom: 1px solid #ffc903;
	background: #fff300;
	background: -moz-linear-gradient(top, #fff300 0%, #ffdd00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff300), color-stop(100%,#ffdd00));
	background: -webkit-linear-gradient(top, #fff300 0%,#ffdd00 100%);
	background: -o-linear-gradient(top, #fff300 0%,#ffdd00 100%);
	background: -ms-linear-gradient(top, #fff300 0%,#ffdd00 100%);
	background: linear-gradient(to bottom, #fff300 0%,#ffdd00 100%);
}
.ie7 .find-friend-menu > li > a,
.ie8 .find-friend-menu > li > a {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff300', endColorstr='#ffdd00',GradientType=0 );}
.ie9 .find-friend-menu > li > a {background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjMwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmRkMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);}
.find-friend-menu > li > a:hover {
	text-decoration: underline;
	background: #ffdd00;
	background: -moz-linear-gradient(top, #ffdd00 0%, #fff300 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdd00), color-stop(100%,#fff300));
	background: -webkit-linear-gradient(top, #ffdd00 0%,#fff300 100%);
	background: -o-linear-gradient(top, #ffdd00 0%,#fff300 100%);
	background: -ms-linear-gradient(top, #ffdd00 0%,#fff300 100%);
	background: linear-gradient(to bottom, #ffdd00 0%,#fff300 100%);
}
.ie7 .find-friend-menu > li > a:hover,
.ie8 .find-friend-menu > li > a:hover {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdd00', endColorstr='#fff300',GradientType=0 );}
.ie9 .find-friend-menu > li > a:hover {background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZGQwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmYzMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);}
.find-friend-menu > li.active a {
	background: #ffa300;
	border-bottom:none;
	border-top: 1px solid #eb8100;
	padding: 1px 16px 2px;
	background: -moz-linear-gradient(top, #ffa300 0%, #ffd600 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa300), color-stop(100%,#ffd600));
	background: -webkit-linear-gradient(top, #ffa300 0%,#ffd600 100%);
	background: -o-linear-gradient(top, #ffa300 0%,#ffd600 100%);
	background: -ms-linear-gradient(top, #ffa300 0%,#ffd600 100%);
	background: linear-gradient(to bottom, #ffa300 0%,#ffd600 100%);
}
.ie7 .find-friend-menu > li.active a,
.ie8 .find-friend-menu > li.active a {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa300', endColorstr='#ffd600',GradientType=0 );}
.ie9 .find-friend-menu > li.active a {background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYTMwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmQ2MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);}
.find-friend-menu > li.active a:hover {text-decoration: none;}
.find-friend-menu > li.green a {
	background: #ffa300;
	border-bottom:none;
	border-top: 1px solid #199235;
	color: #fff;
	padding: 1px 16px 2px;
	background: #2baa4e;
	background: -moz-linear-gradient(top, #2baa4e 0%, #68da68 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2baa4e), color-stop(100%,#68da68));
	background: -webkit-linear-gradient(top, #2baa4e 0%,#68da68 100%);
	background: -o-linear-gradient(top, #2baa4e 0%,#68da68 100%);
	background: -ms-linear-gradient(top, #2baa4e 0%,#68da68 100%);
	background: linear-gradient(to bottom, #2baa4e 0%,#68da68 100%);
}
.ie7 .find-friend-menu > li.green a,
.ie8 .find-friend-menu > li.green a {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2baa4e', endColorstr='#68da68',GradientType=0 );}
.ie9 .find-friend-menu > li.green a {background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJiYWE0ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2OGRhNjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);}
.find-friend-menu > li.green a:hover {text-decoration: none;}
.find-friend-page .masonry-news-list {margin-left: 0;}
