/* headers all */
.layout-header {padding:42px 0 10px;position:relative;}
.layout-header .logo-box {float: left;margin:0 125px 0 85px;padding: 15px 0 10px;}
.layout-header-section {float: left;}
.layout-header-section_a {display: table-cell;width: 520px; height: 140px;color: #2378c1;text-decoration: none;vertical-align: middle;}
.layout-header-section_img {display: inline-block;*zoom:1;*display:inline;vertical-align: middle;}
.layout-header-section_text {display: inline-block;*zoom:1;*display:inline;font-size: 30px;vertical-align: middle;text-decoration: underline;}
.layout-header-section_a:hover > .layout-header-section_text {text-decoration: none;}

.top-nav-fixed #header-new{z-index:90;padding-top: 0;}
#header-new {margin-bottom:20px;position:relative;padding-top: 42px;}
#header-new .header-in {background:url(/images/bg_header.png) repeat-y bottom;}
#header-new.guest .header-in {background-image:url(/images/bg_header_guest.png);}
#header-new .logo-box {float: left;width: 280px;}
#header-new .search-box {padding:55px 0 0 30px;width:330px;float:left;}
#header-new .search-box .input {float:left;margin-top:2px;margin-right:-2px;}
#header-new .search-box .input input {width:210px;padding:5px 10px;height:18px;border:1px solid #e4d0f6;font:normal 14px/18px arial, helvetica, sans-serif;border-right:0;background:#fff;}
#header-new .search-box .btn {float:left;}
#header-new .search-box .btn span {font-size:14px;}

#header-new .search-box .fast-actions {line-height:13px;font-size:11px;text-align:right;padding:10px 30px 0 0;overflow:hidden;}
#header-new .search-box .fast-actions .newest {display:inline-block;*zoom:1;*display:inline;padding-left:33px;color:#a17dc4;text-align:center;position:relative;height:30px;padding-top:2px;}
#header-new .search-box .fast-actions .newest i {display:block;width:31px;height:30px;background:url(/images/common.png) no-repeat -199px -243px;position:absolute;left:0;top:0;}
#header-new .search-box .fast-actions .newest:hover {color:#599af4;}
#header-new .search-box .fast-actions .newest.active i {background-position:-232px -243px;}
#header-new .search-box .fast-actions .find-friend {display:inline-block;*zoom:1;*display:inline;padding-left:33px;color:#a17dc4;text-align:center;position:relative;margin-left:12px;padding-top:2px;}
#header-new .search-box .fast-actions .find-friend i {display:block;width:27px;height:27px;background:url(/images/common.png) no-repeat -264px -243px;position:absolute;left:0;top:0;}
#header-new .search-box .fast-actions .find-friend:hover {color:#599af4;}

#header-new.guest .logo-box {width:250px;margin-right:3px;float: left;}

#header-new .banner-box {width:360px;float:left;padding-top:35px;text-align:center;margin-bottom:0;}
#header-new.guest .banner-box {width:728px;}


#header-new .nav {padding:5px 0 0;height:37px;position:relative;z-index:5;line-height:normal;}
#header-new .nav ul {list-style:none;text-align: center;}
#header-new .nav > ul > li {display: inline-block;*zoom:1;*display:inline;margin:0 -1px;height:37px;}


#header-new .nav > ul > li > a {display:block;height:37px;padding:0 11px 0 14px;}
#header-new .nav > ul > li > a {/*css3*/ -moz-border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;border-radius:10px 10px 0 0;behavior: url(/stylesheets/PIE.htc);}

/*#header-new .nav .width-2 {width:850px;padding:0 75px 0 57px;}*/

#header-new .nav ul li i.text {display:block;height:37px;background:url(/images/common.png) no-repeat;}
#header-new .nav ul li.morning i.text {height:74px;position:relative;top:-34px;width:109px;background-position:-105px -512px;}
#header-new .nav ul li.morning > a {background:url(/images/bg_nav_morning.gif) repeat-x;padding:0;}
#header-new .nav ul li.fday i.text {height:47px;position:relative;top:-10px;width:104px;background-position:0 -536px;}
#header-new .nav ul li.fday > a {background:url(/images/bg_nav_morning.gif) repeat-x;padding:0;}

#header-new .nav ul li.kids i.text {width:55px;background-position:0 -472px;}
#header-new .nav ul li.kids > a {background:#5488d0;}
#header-new .nav ul li.kids:hover > a, #header-new .nav ul li.kids.active > a {background:#97bbea;}

#header-new .nav ul li.manwoman i.text {width:179px;background-position:-55px -472px;}
#header-new .nav ul li.manwoman > a {background:#6bc545;}
#header-new .nav ul li.manwoman:hover > a, #header-new .nav ul li.manwoman.active > a {background:#9adf7c;}

#header-new .nav ul li.beauty i.text {width:159px;background-position:-234px -472px;}
#header-new .nav ul li.beauty > a {background:#f8cb30;}
#header-new .nav ul li.beauty:hover > a, #header-new .nav ul li.beauty.active > a {background:#ffe478;}

#header-new .nav ul li.home i.text {width:48px;background-position:-393px -472px;}
#header-new .nav ul li.home > a {background:#a582c7;}
#header-new .nav ul li.home:hover > a, #header-new .nav ul li.home.active > a {background:#c7ade0;}

#header-new .nav ul li.hobbies i.text {width:184px;background-position:-441px -472px;}
#header-new .nav ul li.hobbies > a {background:#f18b2f;}
#header-new .nav ul li.hobbies:hover > a, #header-new .nav ul li.hobbies.active > a {background:#ffc05e;}

#header-new .nav ul li.rest i.text {width:62px;background-position:-625px -472px;}
#header-new .nav ul li.rest > a {background:#40b2dc;}
#header-new .nav ul li.rest:hover > a, #header-new .nav ul li.rest.active > a {background:#7dd7f8;}

#header-new .nav ul li.valentine i.text {}
#header-new .nav ul li.valentine > a {background:url(/images/bg_nav_valentine.png) no-repeat;padding:0;height:60px;position:relative;top:-23px;width:109px;}
#header-new .nav ul li.valentine:hover > a, #header-new .nav ul li.valentine.active > a {background-position: 0 -60px;}

#header-new .nav .drp {position:absolute;top:45px;left:0;display:none;width:100%;padding:4px 0;background-image:url(/images/bg_nav_drp.png);}
#header-new .nav .drp .in {background:#fff;height:245px;}
#header-new .nav ul li.active .drp {display:block;}
#header-new .nav ul li.active > a {padding-bottom:3px;}

#header-new .nav .kids .drp {background-color:#97bbea;}
#header-new .nav .manwoman .drp {background-color:#9adf7c;}
#header-new .nav .beauty .drp {background-color:#ffe478;}
#header-new .nav .home .drp {background-color:#c7ade0;}
#header-new .nav .hobbies .drp {background-color:#ffc05e;}
#header-new .nav .rest .drp {background-color:#7dd7f8;}

#header-new .nav .cols {}
#header-new .nav .cols .col {float:left;height:245px;}
#header-new .nav .cols-2 .col {width:50%;}
#header-new .nav .cols-3 .col {width:33%;}
#header-new .nav .cols-4 .col {width:25%;}
#header-new .nav .cols-5 .col {width:20%;}
#header-new .nav .cols .col:first-child {background:none !important;}

#header-new .nav .cols .col .col-in {padding:15px 0 15px 19px;height:215px;position:relative;background-repeat:no-repeat;background-position:50% 100%;}
#header-new .nav .cols .col ul {list-style:none;font-size:11px;}
#header-new .nav .cols .col ul li {padding:3px 0;}
#header-new .nav .cols .col ul li a {color:#6e9fe3;text-decoration:none;}
#header-new .nav .cols .col ul li a:hover {text-decoration:underline;}

#header-new .nav .cols .col.wedding .big-link {padding:45px 40px 0 280px;height:200px;}
#header-new .nav .cols .col.wedding .big-link {background-position:0 100%;}

#header-new .nav .cols .col.relationships .title {text-align: left;padding:0 20px;}
#header-new .nav .cols .col.relationships ul {text-align: left;}
#header-new .nav .cols .col.relationships .col-in {padding:45px 40px 0 40px;height:200px;position:relative;background-position:100% 100%;}

#header-new .nav .big-link {display:block;height:215px;padding:15px 24px;position:relative;text-decoration:none;background-repeat:no-repeat;background-position:50% 100%;}
#header-new .nav .big-link:hover .title {text-decoration:underline;}

#header-new .nav .title {display:block;font-size:13px;margin-bottom:6px;}
#header-new .nav .text {display:block;font-size:11px;line-height:20px;color:#585757;}

#header-new .nav .kids .cols .col {background:url(/images/bg_nav_kids_sep.gif) no-repeat left;}
#header-new .nav .manwoman .cols .col {background:url(/images/bg_nav_manwoman_sep.gif) no-repeat left;}
#header-new .nav .beauty .cols .col {background:url(/images/bg_nav_beauty_sep.gif) no-repeat left;}
#header-new .nav .home .cols .col {background:url(/images/bg_nav_home_sep.gif) no-repeat left;}
#header-new .nav .hobbies .cols .col {background:url(/images/bg_nav_hobbies_sep.gif) no-repeat left;}
#header-new .nav .rest .cols .col {background:url(/images/bg_nav_rest_sep.gif) no-repeat left;}

#header-new .nav .kids .title {color:#2b62ae;}
#header-new .nav .manwoman .title {color:#15a941;}
#header-new .nav .beauty .title {color:#f28402;}
#header-new .nav .home .title {color:#7a4aa9;}
#header-new .nav .hobbies .title {color:#bd6600;}
#header-new .nav .rest .title {color:#0995c8;}

/* ������� ����������� */

#header-new .nav .bg-img-11 {background-image:url(/images/nav_kids_img_01.jpg);}
#header-new .nav .bg-img-12 {background-image:url(/images/nav_kids_img_02.jpg);}
#header-new .nav .bg-img-13 {background-image:url(/images/nav_kids_img_03.jpg);}
#header-new .nav .bg-img-14 {background-image:url(/images/nav_kids_img_04.jpg);}
#header-new .nav .bg-img-15 {background-image:url(/images/nav_kids_img_05.jpg);}

#header-new .nav .bg-img-21 {background-image:url(/images/nav_manwoman_img_01.jpg);}
#header-new .nav .bg-img-22 {background-image:url(/images/nav_manwoman_img_02.jpg);}

#header-new .nav .bg-img-31 {background-image:url(/images/nav_beauty_img_01.jpg);}
#header-new .nav .bg-img-32 {background-image:url(/images/nav_beauty_img_02.jpg);}
#header-new .nav .bg-img-33 {background-image:url(/images/nav_beauty_img_03.jpg);}

#header-new .nav .bg-img-41 {background-image:url(/images/nav_home_img_01.jpg);}
#header-new .nav .bg-img-42 {background-image:url(/images/nav_home_img_02.jpg);}
#header-new .nav .bg-img-43 {background-image:url(/images/nav_home_img_03.jpg);}
#header-new .nav .bg-img-44 {background-image:url(/images/nav_home_img_04.jpg);}
#header-new .nav .bg-img-45 {background-image:url(/images/nav_home_img_05.jpg);}

#header-new .nav .bg-img-51 {background-image:url(/images/nav_hobbies_img_01.jpg);}
#header-new .nav .bg-img-52 {background-image:url(/images/nav_hobbies_img_02.jpg);}
#header-new .nav .bg-img-53 {background-image:url(/images/nav_hobbies_img_03.jpg);}
#header-new .nav .bg-img-54 {background-image:url(/images/nav_hobbies_img_04.jpg);}

#header-new .nav .bg-img-61 {background-image:url(/images/nav_rest_img_01.jpg);}
#header-new .nav .bg-img-62 {background-image:url(/images/nav_rest_img_02.jpg);}
#header-new .nav .bg-img-63 {background-image:url(/images/nav_rest_img_03.jpg);}

#header-new .header-nologin {background: url(../images/header-nologin.jpg) no-repeat 0 15px;padding: 0 20px;}
#header-new .header-nologin_column-left {
	float: left;
	width: 310px;
	padding: 0 10px;
	text-align: center;
	line-height: 19px;
	color: #505050;
}
#header-new .header-nologin_column-left .logo-box {width: auto;float: none;}
#header-new .header-nologin_column-left > p {font-size: 14px;}
#header-new .header-nologin_column-left .btn-h55 {margin: 15px 0 0;font-size: 20px;font-weight: normal;}
#header-new .header-nologin_column-left .social-small-row {line-height: 32px;font-size: 12px;}
#header-new .header-nologin_column-left .social-list-small {margin-left: 0;}
/* /headers all */