/* homepage */

#homepage {}

#homepage .box {margin-bottom:20px;}
#homepage .box .title {color:#4A4C4A;font-size:22px;font-weight:bold;line-height:1.1;}
#homepage .box .title span {font-weight:normal;}

#homepage .homepage-clubs {padding:10px;border:1px solid #f7f1fd;}
#homepage .homepage-clubs .title {padding:5px 0 15px 10px;font-weight: normal;}
#homepage .homepage-clubs .title span {color:#41ba0f;}
#homepage .homepage-clubs > ul {list-style:none;}
#homepage .homepage-clubs > ul > li {}
#homepage .homepage-clubs > ul > li .category-title {font-size:18px;color:#fff;padding:6px 10px;background:#fff;}
#homepage .homepage-clubs > ul > li ul {list-style:none;padding:8px 0 12px;}
#homepage .homepage-clubs > ul > li ul li {padding:8px 10px;}
#homepage .homepage-clubs > ul > li ul li a {text-decoration:none;font-size:11px;font-family:tahoma, arial, helvetica, sans-serif;}
#homepage .homepage-clubs > ul > li ul li a .club-img {display:inline-block;*zoom:1;*display:inline;vertical-align:middle;width:28px;height:30px;border:1px solid #fff;}
#homepage .homepage-clubs > ul > li ul li a .club-img img {width:28px;height:30px;display:block;border:0;}
#homepage .homepage-clubs > ul > li ul li a .club-title {display:inline-block;*zoom:1;*display:inline;vertical-align:middle;width:150px;padding-left:8px;font-weight:bold;text-decoration:underline;}
#homepage .homepage-clubs > ul > li ul li a:hover .club-title {text-decoration:none;}

#homepage .homepage-clubs > ul > li.kids .category-title {background:#77a5e5;}
#homepage .homepage-clubs > ul > li.kids .club-img {border-color:#5f90cf;}

#homepage .homepage-clubs > ul > li.manwoman .category-title {background:#86da63;}
#homepage .homepage-clubs > ul > li.manwoman .category-title > span {color: #fccd0f;font-weight: bold;}
#homepage .homepage-clubs > ul > li.manwoman .club-img {border-color:#6bc545;}

#homepage .homepage-clubs > ul > li.beauty .category-title {background:#ffd954;}
#homepage .homepage-clubs > ul > li.beauty .club-img {border-color:#f9d148;}

#homepage .homepage-clubs > ul > li.home .category-title {background:#c3a7dd;}
#homepage .homepage-clubs > ul > li.home .club-img {border-color:#a582c7;}

#homepage .homepage-clubs > ul > li.hobbies .category-title {background:#fea24f;}
#homepage .homepage-clubs > ul > li.hobbies .club-img {border-color:#f18b2f;}

#homepage .homepage-clubs > ul > li.rest .category-title {background:#63caf0;}
#homepage .homepage-clubs > ul > li.rest .club-img {border-color:#40b2dc;}

#homepage .homepage-parents {border:1px solid #f7f1fd;padding:10px 9px 15px;}
#homepage .homepage-parents .title {margin-bottom:15px;}
#homepage .homepage-parents .title span {color:#936cb8;}
#homepage .homepage-parents ul {width:222px;list-style:none;overflow:hidden;}
#homepage .homepage-parents ul li {width:72px;height:72px;padding:0 2px 2px 0;float:left;}
#homepage .homepage-parents .join {padding-top:45px;background:url(/images/homepage_parents_join.png) no-repeat top;margin-top:2px;text-align:center;font-size:22px;color:#9871c4;font-style:italic;font-family:times new roman, serif;}
#homepage .homepage-parents .join a {color:#9871c4;}

#homepage .homepage-articles {padding:15px;border:1px solid #f7f1fd;}
#homepage .homepage-articles .title {margin-bottom:10px;}
#homepage .homepage-articles .title span {color:#916bb5;}
#homepage .homepage-articles .title i {display:block;color:#5488d0;font:italic 18px times new roman, serif;}
#homepage .homepage-articles ul {list-style:none;}
#homepage .homepage-articles ul li {margin-bottom:15px;}
#homepage .homepage-articles ul li img {display:block;}
#homepage .homepage-articles .all-link {text-align:right;}

#homepage .homepage-recipes .title span {color:#916bb5;}
#homepage .homepage-recipes .title i {display:inline;color:#44cf0c;font-size:16px;}

#homepage .homepage-most {padding:14px 0 10px 14px;border:1px solid #f7f1fd;}
#homepage .homepage-most .title {margin-bottom:10px;font-size:28px;}
#homepage .homepage-most .title span {color:#e67006;}
#homepage .homepage-most ul {font-size:13px;line-height:1.2;font-family:tahoma, arial, helvetica, sans-serif;}
#homepage .homepage-most ul li {width:200px;display:inline-block;*zoom:1;*display:inline;vertical-align:top;padding-right:8px;}
#homepage .homepage-most ul li a {display:block;margin-bottom:10px;font-weight:bold;}

#homepage .homepage-services {background:#f4fcff;}
#homepage .homepage-services .title {padding:15px 25px;font-size:30px;}
#homepage .homepage-services .title span {color:#24abdc;}
#homepage .homepage-services .fast-service {width:40%;padding:0 5% 20px;float:left;}

#homepage .homepage-services .fast-service.child-gender {text-align:center;}
#homepage .homepage-services .fast-service.child-gender .img {padding-bottom:5px;}
#homepage .homepage-services .fast-service.child-gender big {font-size:16px;color:#4c4d4d;display:block;}
#homepage .homepage-services .fast-service.child-gender ul {list-style:none;font-size:11px;}
#homepage .homepage-services .fast-service.child-gender ul li {margin-top:5px;}

#homepage .homepage-services .fast-service.child-name {text-align:center;}
#homepage .homepage-services .fast-service.child-name .img {padding-bottom:5px;}
#homepage .homepage-services .fast-service.child-name big {font-size:14px;}

#homepage .homepage-services .list {padding:20px 0px;border-top:1px dashed #dddede;}
#homepage .homepage-services .list big {display:block;font-size:14px;color:#4c4d4d;padding:0 25px;}
#homepage .homepage-services .list ul {font-size:11px;list-style:none;}
#homepage .homepage-services .list ul li {float:left;width:170px;padding:0 25px;}
#homepage .homepage-services .list ul li ul {list-style:none;}
#homepage .homepage-services .list ul li ul li {width:auto;float:none;padding:0;margin-top:15px;}
#homepage .homepage-services .list ul li ul li a {}

#homepage .homepage-services-2 {background:#def6ff;}
#homepage .homepage-services-2 .title {padding:25px 25px 20px;font-size:22px;font-weight: normal;}
#homepage .homepage-services-2 .title span {color:#24abdc;}
#homepage .homepage-services-2 .fast-service {float: left;width: 44%;margin:0 4% 30px 2%;font-size: 13px;}
#homepage .homepage-services-2 .fast-service .img {float: left;margin-right:10%;}
#homepage .homepage-services-2 .fast-service_holder {overflow: hidden;margin: 10px 0 0;}
#homepage .homepage-services-2 .fast-service_title {font:bold  12px/19px Tahoma, Arial, Verdana, sans-serif;margin-bottom: 5px;display: block;}
#homepage .homepage-services-2 .fast-service_heading {margin: 0 0 15px 25px;}
#homepage .homepage-services-2 .fast-service_heading > span {font-size: 16px;padding-right: 20px;}
#homepage .homepage-services-2 .fast-service_list {list-style: none;margin-left: 10px;}
#homepage .homepage-services-2 .fast-service_list li {margin-bottom: 8px;}

#homepage .homepage-blogs {}
#homepage .homepage-blogs .title {text-align:center;margin-bottom:20px;font-size:30px;}
#homepage .homepage-blogs .title span {color:#53b929;}
#homepage .homepage-blogs .user-info .details {margin-left:30px;}
#homepage .homepage-blogs ul {font-family:tahoma, arial, helvetica, sans-serif;list-style:none;}
#homepage .homepage-blogs ul li {font-size:11px;width:133px;padding-right:11px;display:inline-block;*zoom:1;*display:inline;vertical-align:top;line-height:1.2;padding-bottom:30px;}
#homepage .homepage-blogs ul li .img {padding-top:10px;}
#homepage .homepage-blogs ul li .img img {max-width:133px;}
#homepage .homepage-blogs ul li .user-info {padding-bottom:5px;}

#homepage .homepage-blogs-2{border:1px solid #F7F1FD;}
#homepage .homepage-blogs-2 .title{margin:15px 30px 20px;font-size:22px;font-weight: normal;}
#homepage .homepage-blogs-2 .title span{color:#fa7c0b;}
#homepage .homepage-blogs-2 .user-info .details{margin-left:30px;}
#homepage .homepage-blogs-2 > ul{list-style:none;}
#homepage .homepage-blogs-2 > ul li{width:22.7%;display:inline-block;*zoom:1;*display:inline;vertical-align:top;padding:0 5% 30px;}
#homepage .homepage-blogs-2 > ul li .img{padding-top:10px;}
#homepage .homepage-blogs-2 > ul li .img img{display:block;margin:3px 0 5px;}
#homepage .homepage-blogs-2 > ul li .user-info{padding-bottom:5px;}
#homepage .homepage-blogs-2 > ul li .views{padding-right:3px;}

#homepage .homepage-auth {height:193px;background:url(/images/homepage_auth_img.jpg) no-repeat;position:relative;padding-left:140px;overflow:hidden;font-size:12px;line-height:16px;}
#homepage .homepage-auth .t {background:url(/images/bg_homepage_auth.png) no-repeat top right;width:270px;padding:10px 15px 10px 15px;margin-top:8px;position:relative;}
#homepage .homepage-auth .t:before {display:block;content:'';width:19px;height:40px;background:url(/images/bg_homepage_auth.png) no-repeat 0 -37px;position:absolute;top:37px;left:-19px;}
#homepage .homepage-auth .t span {color:#805aa5;}
#homepage .homepage-auth .t .gray {margin-top:5px;white-space:nowrap;font-size:11px;}
#homepage .homepage-auth .t .hello {font:italic 35px times new roman, serif;color:#6696d9;text-align:center;}
#homepage .homepage-auth .b {background:url(/images/bg_homepage_auth.png) no-repeat bottom right;width:270px;padding:10px 15px 10px 15px;text-align:center;color:#a2a2a2;}
#homepage .homepage-auth .b small {font-size:11px;}
#homepage .homepage-auth .b .register {display:inline-block;*zoom:1;*display:inline;width:181px;height:29px;background:url(/images/btn_register.png) no-repeat;margin-bottom:5px;}
#homepage .homepage-auth .b .name {font:italic 35px times new roman, serif;color:#805aa5;text-align:center;}
