.im {
	position: relative;
	margin: -5px 0 0 -20px;
	/*min-height: 470px;*/
	background: #fff;
	.border-radius(10px);

	&:after,
	&:before {
		content:'';
		position: absolute;
		top: 0;
		width: 1000px;
		height: 11px;
		background: url(/images/im/im.png) repeat-x;
		z-index: 80;
		.border-radius(10px);
	}
	&:after {
		top: auto;
		bottom: 0;
	}
	&__fixed .im-sidebar {
		position: fixed;
		top: 0;
	}
	&__fixed .im-center_top {
		position: fixed;
		top: 11px;
	}

	&__fixed .im-center_bottom {position: fixed;}
	&__fixed:after {position: fixed;}
	&__fixed:before {
		position: fixed;
		top: 0;
	}
	.ie8 &__fixed:after,
	.ie8 &__fixed:before {display: none;}
	&__cap .im-message_tx{
		color: transparent;
	    text-shadow: 0 0 5px rgba(0,0,0,0.5);
	}

	&_hold {padding: 0 20px;}
	&_count {
		.inline-block();
		margin: 0 5px;
		padding: 0 5px;
		font-size: 12px;
		line-height: 16px;
		color: #fff;
		background: #0eba23;
		.border-radius(3px);
	}
	&_count:hover {background: #0e921e;}
	&_count__read {background: #aeadad;}
	&_count__read:hover {background: #858585;}
	&_message-loader {
		min-height: 30px;
		text-align: center;
		color: #b6b6b6;
		font-size: 14px;
		padding: 5px;

		& > img {
			.inline-block();
			vertical-align: middle;
			margin: 0 4px;
		}
	}
	&_message-loader-anim {
		-webkit-animation: im_message-loader-anim 3s infinite; /* Safari 4+ */
		-moz-animation:    im_message-loader-anim 3s infinite; /* Fx 5+ */
		-o-animation:      im_message-loader-anim 3s infinite; /* Opera 12+ */
		animation:         im_message-loader-anim 3s infinite; /* IE 10+ */
		margin: 0 10px 0 0;
	}
	@-webkit-keyframes im_message-loader-anim {
	  0%   { margin: 0 10px 0 0; }
	  100% { margin: 0 0 0 10px; }
	}
	@-moz-keyframes im_message-loader-anim {
	  0%   { margin: 0 10px 0 0; }
	  100% { margin: 0 0 0 10px; }
	}
	@-o-keyframes im_message-loader-anim {
	  0%   { margin: 0 10px 0 0; }
	  100% { margin: 0 0 0 10px; }
	}
	@keyframes im_message-loader-anim {
	  0%   { margin: 0 10px 0 0; }
	  100% { margin: 0 0 0 10px; }
	}
	&_sound {
		position: absolute;
		top: 15px;
		right: 0;
		width: 20px;
		height: 20px;
		background: url(/images/im/im-sound.png) no-repeat;
	}
	&_sound.active {background-position: 0 -20px;}
	&_watch {
		.inline-block();
		width: 20px;
		height: 10px;
		background: url(/images/im/im_watch.png) no-repeat;
	}
	&_watch:hover {background-position: 0 -10px;}
	&_watch__unwatch {background-position: -20px 0;}
	&_watch__unwatch:hover {background-position: -20px -10px;}
}

.im-center {
	float: right;
	width: 685px;
	position: relative;

	.cap-empty {
		position: relative;
		height: 180px;
		background: none;
		z-index: 110;
	}
	.cap-empty_hold {
		/*margin-top: 0;*/
	}
	&_top {
		position: relative;
		padding-top: 2px;
		-moz-user-select: -moz-none;
		-o-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		user-select: none;
	}
	&_middle {padding: 0;}
	&_middle-hold {
		overflow: hidden;
		overflow-y: auto;
		height: 300px;
	}
	&_middle-w {
		position: relative;
	}
	&_bottom {
		position: relative;
	}
	&_bottom-hold {padding-bottom: 30px;}
}

.im-tabs {
	margin:30px 10px 20px;

	&_i {
		.inline-block();
		margin: 0 2px;
		padding: 0 10px;
		line-height: 26px;
		font-size: 14px;
		color: #818080;
	}
	&_i.active {background: #fdf48f;}
	&_i.active &_a {color: #1f1f1f;}
	&_i.active &_a:hover {text-decoration: none;}
	&_a {
		display: block;
		color: #818080;
		text-decoration: none;
	}
	&_a:hover {text-decoration: underline;}
	&_a.inactive {
		color: #c0c0c0;
		cursor: default;
		text-decoration: none;
	}
}

.im-panel {
	padding: 7px 15px;
	min-height:40px;
	background: #ebf4ff;
	position: relative;

	.im-user-settings {width: 330px;}
	.im-user-settings_user {
		float: left;
		padding: 12px 10px 0;
	}
}

.im-user-settings {

	&_user {
		padding: 3px 0 3px;
	}
}

.im-panel-icons {
	float: right;
	padding: 10px 0 0;

	&_i {
		position: relative;
		float: left;
		margin: 0 15px 0 0;
	}
	&_i.active .im-tooltip-popup{display: block;margin-left: -120px;}
	&_i-a {
		display: block;
		text-decoration: none;
	}
	&_i.active &_desc,
	&_i-a:hover &_desc {color: #4d4e4f;}
	&_i.active .im-panel-ico__blacklist,
	&_i-a:hover .im-panel-ico__blacklist {background-position: -30px -21px;}
	&_i.active .im-panel-ico__del,
	&_i-a:hover .im-panel-ico__del       {background-position: -60px -21px;}
	&_i-a__request {cursor: default;}
	&_i-a__request &_desc {color: #a0a0a0;}
	&_i-a__request:hover &_desc {color: #a0a0a0;}
	&_i-a__friend &_desc,
	&_i-a__friend:hover &_desc {color: #6ec34f;}
	&_desc {
		.inline-block();
		vertical-align: middle;
		margin: 0 1px;
		font-size: 9px;
		line-height: 10px;
		font-family: Tahoma, Arial, Verdana, sans-serif;
		color: #9bc4e0;
	}
}

.im-panel-ico {
	.inline-block();
	vertical-align: middle;
	width: 30px;
	height: 21px;
	background: url(/images/im/im-panel-ico.png) no-repeat;
	
	&__add-friend      {background-position: 0 0;}
	&__blacklist       {background-position: -30px 0;}
	&__blacklist:hover {background-position: -30px -21px;}
	&__del             {background-position: -60px 0;}
	&__del:hover       {background-position: -60px -21px;}
	&__added-friend    {background-position: -90px 0;}
	&__friend          {background-position: -120px 0;}
}

.im-message {
	margin: 0;
	padding: 10px 20px 20px;
	position: relative;
	&:hover {background: #f6f6f7;}
	&:hover &_icons {display: block;}
	&:hover .b-control-abs {display: block;}
	&__new {background: #e9fbea;}
	&__edited &_tx {background: #fdfcd9;}

	.im-tooltip-popup {
		margin-left: 0;
		right: -19px;
		left: auto;
	}
	.im-tooltip-popup:after {
		left: auto;
		right: 27px;
	}
	.b-control-abs.active .im-tooltip-popup{display: block;}
	&_hold {
		margin:-2px 15px 0 35px;
	}
	&_t {margin: 0 0 1px;}
	&_user {
		.inline-block();
		margin-right: 13px;
		text-decoration: none;
		color: #268edf;
	}
	&_user:hover {text-decoration: underline;}
	&_date {
		.inline-block();
		margin-right: 13px;
		font-style: normal;
		font-size: 9px;
		font-family: Tahoma, Arial, Verdana, sans-serif;
		color: #bfc1c1;
	}
	&_status {
		.inline-block();
		font-size: 11px;
		font-family: Tahoma, Arial, Verdana, sans-serif;
	}
	&_status__read {color: #47c05a;}
	&_status__noread {color: #fe7979;}
	&_tx {
		margin: 0 -6px;
		padding: 3px 50px 3px 6px;
		line-height: 16px;
		color: #555;
	}

}

.im-sidebar {
	float: left;
	width: 265px;
	height: 100%;

	&_t {
		margin: 18px 16px 15px;
		font-size: 35px;
		font-family: Arial, Tahoma, sans-serif;
		color: #000;
	}
	&_search {
		position: relative;
		margin: 0 0 15px;
	}
	&_search-itx {
		display: block;
		width: 185px;
		padding: 8px 40px 8px 15px;
		border: 1px solid #cfe2fb;
		font-size: 14px;
		background: #fff;
		.border-radius(18px);
		.transition(all 0.3s ease);
	}
	&_search-itx:focus {border-color: #afd0fb;}
	&_search-btn {
		background: url(/images/col-1_search-btn.png) no-repeat 50% 50%;
		border: 0;
		cursor: pointer;
		float: right;
		height: 34px;
		margin: -35px 20px 0 0;
		width: 40px;
	}
	&_search-btn.active { background: url(/images/ico/ico-close.png) no-repeat 50% 50%;}
	&_hide-a {
		.inline-block();
		padding: 10px 12px 15px;
		text-decoration: none;
	}
	&_hide-a:hover .a-checkbox {background-position: -20px 0;}
	&_hide-a-tx {
		.inline-block();
		margin-left: 5px;
		line-height: 15px;
		color: #B6B6B6;
	}
}

.im-user-list {
	width: 265px;
	overflow-y: auto;

	.im-user-settings  {float: left;}
	.im_count {
		float: left;
		margin: 4px 0 0 5px;
	}
	.im_count__read {display: none;}
	.im_watch {
		position: absolute;
		top: 5px;
		right: 10px;
	}
	.im-user-settings_user {
		float: left;
		margin: 0 0 0 10px;
	}
	.im-user-settings_user > a {
		.inline-block();
		max-width: 120px;
		overflow: hidden;
		white-space:nowrap;
		text-overflow: ellipsis;
	}
	&_i {
		position: relative;
		width: 225px;
		margin: 0 0 5px;
		padding: 14px 5px 14px 10px;
		background: #ebf4ff;
		.border-radius(5px);
		cursor: pointer;
	}
	&_i:hover {background: #f8fbff;}
	&_i:hover .im_count__read {display: block;}
	&_i:hover .im_watch {display: block;}
	&_i.active {background: #5e93d5;}
	&_i.active a {color: #fff;font-weight: bold;}
	&_i.active .im_watch {background-position: -40px 0;} 
	&_i.active .im_watch:hover {background-position: -40px -10px;}
	&_i a {text-decoration: none;}
	&_i .im_watch {display: none;}
	&_i__hide .im_watch {background-position: -20px 0;}
	&_i__hide .im_watch:hover {background-position: -20px -10px;}
	&_i__hide {background: #f8fbff;}
	&_i__hide:hover {background: #ebf4ff;}
}

.im-editor-b {
	padding: 13px 20px 10px;
	background: #ebf4ff;
	position: relative;

	.redactor_editor {max-height: 260px;}
	&_ava {margin-right: 6px;}
	&_w {margin-left: 30px;}
	&_cap {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border: 1px solid #cce2f1;
		background: #eff6ff;
		background: rgba(235,244,255,0.7);
		text-align: center;
		color: #898989;
		z-index: 100;
	}
	&_cap-t {
		position: relative;
		margin: 35px 0 15px;
		font-size: 20px;
		color: #262626;
	}
}

.tooltipsy-im {
	position: absolute;
}

.im-tooltip-popup {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width:200px;
	padding: 20px 35px;
	margin: 8px 0 0 -100px;
	background: #fff;
	color: #333;
	text-align: left;
	z-index: 200;
	.box-shadow(0 0 4px rgba(0,0,0,0.13));
	.border-radius(5px);

	&:after {
		content:'';
		position: absolute;
		top: -8px;
		left: 50%;
		width: 11px;
		height: 8px;
		margin: 0 0 0 -6px;
		background: url(/images/im/im-tooltip-popup.png) no-repeat;
	}
	.btn-green {margin-right: 4px;}
	&_t {
		margin: 0 0 10px;
		font-weight: bold;
		text-align: center;
	}
	&_tx {
		margin: 10px 0;
	}
	&_label-small {
		display: block;
		margin: 0 0 15px 25px;
		font-size: 9px;
		line-height: 10px;
		font-family: Tahoma, Arial, Verdana, sans-serif;
		color: #b1b1b1;
	}
	&_checkbox {
		float: left;
		margin:2px 0 0 -25px;
	}
	&_label {
		display: block;
		margin: 5px 0 10px 20px;
	}
	&_radio {
		float: left;
		margin-left: -20px;
	}
	&_itx {
		width: 152px;
		padding: 2px 7px;
		border: 1px solid #cadcf2;
		color: #333;
	}
}

.im-cap {
	position: fixed;
	width: 685px;
	bottom: 50px;
	top: 154px; // высота шапки 
	margin: 73px 0 0;
	border: 1px solid #cce2f1;
	background: #ebf4ff;
	background: rgba(235,244,255, 0.7);
	z-index: 300;

	&_hold {
		position: absolute;
		top: 50%;
		width: 100%;
		margin: -85px 0 0;
		padding: 65px 0 0;
		text-align: center;
		background: url(/images/im/im-cap_hold.png) no-repeat 50% 0;
	}
	&_t {
		font-size: 16px;
		color: #2d2d2d;
	}
	&_tx {
		margin: 5px 10px 10px;
		color: #898989;
	}
}

#tooltipsy-im {
	display: none;
	position: absolute;
	cursor: default;
	padding: 4px 8px;
	background: #614477;
	font-size: 12px;
	line-height: 14px;
	color: #fff;
	white-space: nowrap;
	z-index: 2147483647;

	&:after {
		content:"";
		position: absolute;
		bottom: -7px;
		left: 50%;
		height: 0;
		width: 0;
		margin-left: -6px;
		border: 0 solid transparent;
		border-width: 7px 6px 0;
		border-top-color: #614477;
	}
	.nw&:after{
		left: auto;
		right: 1px;
	}
	.ne&:after{
		left: 1px;
	}
}

/* message-fast */
.message-fast {
	width: 655px;
	border:1px solid transparent;
	background: #fff;
	.border-radius(5px);
	.box-shadow(0 8px 21px rgba(0,0,0,0.6));

	.redactor_editor {height: 87px;}
	.cap-empty {
		background: #fff;
		background: rgba(255,255,255,.8);
	}
	.cap-empty_hold {
		background: url(/images/cap-empty_hold2.png) no-repeat 50% 0;
		padding-top: 60px;
	}
	&_close {
		position: absolute;
		top: 10px;
		right: 12px;
		width: 13px;
		height: 13px;
		background: url(/images/message-fast_close.png) no-repeat;
		z-index: 105;
	}
	&_top {
		margin: 15px 25px;
	}
	&_user .ava {
		float: none;
		.inline-block();
		vertical-align: middle;
		margin: 0 8px;
	}
	&_user-tx {
		.inline-block();
		vertical-align: middle;
		color: #45314e;
	}
	&_user-name {
		.inline-block();
		vertical-align: middle;
		text-decoration: none;
	}
	&_user-name:hover {text-decoration: underline;}
	&_t {
		margin: 0 0 15px;
		font-size: 15px;
		color: #141414;
	}
	&_bottom {
		padding: 15px 20px;
		background: #ebf4ff;
	}
	&_act {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #d9eaff;
		background: rgba(217,234,255,.8);
		text-align: center;
		z-index: 110;
	}
	&_act-tx {
		.inline-block();
		margin: 13px;
		padding: 4px 12px;
		background: #fdf48f;
		font-size: 14px;
		line-height: 16px;
		color: #171717;
	}
}
/* /message-fast */


/****** */
.test {
	margin: 0 !important;
	.im-center_middle-hold {
		width: 685px;
		padding-right: 20px;
	}
	.im-center_middle-w {width: 685px;}
	.im-center_middle {position: relative;}
	.im-user-list {
		position: relative;
		padding-right: 20px;
		width: 265px;
	}
	/* новый div */
	.im_scroll-overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		right: -20px;
		width: 20px;
		background: #fff;
	}
}