
/* b-onair */
.b-onair {
	position: fixed;
	top: 154px;
	right: 0;
	bottom: 40px;
	width: 180px;
	border: 2px solid #e5dfeb;
	border-right-width: 0;
	background: #fafafa;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	z-index: 10;

	.icon-status {
		top: 0;
		width: 6px;
		height: 6px;
		vertical-align: middle;
	}
	&_tab {
		padding: 13px 5px 8px;
		text-align: center;
	}
	&_tab-a {
		.inline-block();
		margin: 0 2px;
		padding: 2px 6px;
		color: #959495;
		font-size: 11px;
		text-decoration: none;
	}
	&_tab-a:hover,
	&_tab-a.active {
		color: #232323;
		background: #f7e98b;
	}
	&_cont {
		position: relative;
		border: 1px solid #efefef;
		border-width: 1px 0;
	}

}
/* /b-onair */