/* redactor */
.redactor_box {
	position: relative;
	overflow: visible;
	border: none;
	background-color: none;
}
.redactor_editor,
.redactor_editor:focus {
	.box-shadow(none);
}
.redactor_editor .a-imitation,
.redactor_editor a {
	color: #319fe4 !important;
	text-decoration: none !important;
}
.redactor_editor ul {
	margin: 15px 0;
    padding: 0;
    list-style: none;
}
.redactor_editor  ul li {
    margin: 0;
    padding:5px 0 5px 27px;
    background: url(/images/bullet.png) no-repeat 4px 10px;
}
.redactor_editor  ol {
    margin: 15px 0;
    padding: 0;
    counter-reset: item;
    list-style-type: none;
}
.redactor_editor ol li {
    margin: 0;
    padding:5px 0 5px 27px;
}
.redactor_editor ol li:before {
    font:bold 14px Arial, Tahoma, Verdana, sans-serif;
    color: #333;
    margin:0 0 0 -25px;
    float: left;
    content: counters(item, '.') '.'; /* crash IE7 */
    counter-increment: item;
}

.redactor_editor h2 {
	margin: 40px 0 15px;
	font-size: 16px;
	font-weight: bold;
	color: #186fb8;
}
.redactor_editor h3 {
    margin: 20px 0 10px;
    font-size: 13px;
    font-weight: bold;
    color: #333;
}

.wysiwyg-h {

	.redactor-popup_b-photo {
		bottom: 40px;
		left: -85px;

		.redactor-popup_tale {left: 184px;}
	}
	.redactor-popup_b-video {
		bottom: 40px;
		left: -60px;

		.redactor-popup_tale {left: 184px;}
	}
	.redactor-popup_b-smile {
		bottom: 40px;
		left: -35px;

		.redactor-popup_tale {left: 184px;}
	}
	&_toolbar {
		position: relative;
	}
}

.redactor_wysiwyg-redactor {max-height: 225px;}
.redactor_wysiwyg-redactor:focus {border-color: #a3cff4;}



/* wysiwyg-blue */
.wysiwyg-blue .redactor_editor,
.wysiwyg-blue .redactor_editor:focus {
	border: 1px solid #DAEBF5;
    box-shadow: none;
}
.wysiwyg-blue .redactor_redactor:focus {border-color: #a3cff4;}
.wysiwyg-blue .redactor_toolbar a {background: url(/redactor/redactor-blue.png) no-repeat;}
.wysiwyg-blue .redactor-popup_b-photo {
	bottom: 47px;
	left: 33px;
}
.wysiwyg-blue .redactor-popup_b-video {
	bottom: 47px;
	left: 59px;
}
.wysiwyg-blue .redactor-popup_b-smile {
	bottom: 47px;
	left: 84px;
}
/* /wysiwyg-blue */

/* wysiwyg-v */
.wysiwyg-v {
	position: relative;
	margin: 0 0 15px;

	.redactor_box {}
	.redactor_toolbar {
		position: relative;
		float: none;
		width: 27px;
		margin-left: 0;
		z-index: 5;
	}
	.redactor_toolbar li {
		float: none !important;
		margin: 0 !important;
		padding: 0 1px;
		list-style: none !important;
		outline: none;
	}
	.redactor_toolbar li.redactor_separator {
		float: none;
		height: 0;
		border-left: none;
		border-right: none;
		border-bottom: 1px solid #99c6dd;
		padding: 0;
		margin: 3px 4px !important;
	}
	.redactor_editor,
	.redactor_editor:focus {
		margin-left: 65px !important;
		width: 540px;
		border: 1px solid #daebf5;
		padding: 10px 20px !important;
		.box-shadow(none);
		.border-radius(4px);
	}
	.redactor_editor:focus {border-color: #A0CEEE;}
	.redactor-popup_b-photo {
		bottom: -12px;
		left: 44px;
	}
	.redactor-popup_b-video {
		bottom: -37px;
		left: 44px;
	}
	.redactor-popup_b-smile {
		bottom: -62px;
		left: 44px;
	}
	.redactor-popup_b-link {
		bottom: 38px;
		left: 44px;
	}
	.b-article_in-img {
		margin: 0 -20px 10px !important;
	}
	&_toolbar {
		position: relative;
		float: left;
		margin: 20px 0 0;
		padding: 5px 30px 5px 0;
	}
}
/* /wysiwyg-v */


