// Не используются, планируется внедерение в будущем
/* section */
.section {margin:0 -3000px 40px;padding:12px 0 0;position: relative;}
.section__sand {background:url(/images/section/section__sand-t.jpg) repeat-x;}
.section__sand .section_hold {background:#f6d59f url(/images/section/section__sand-b.jpg) repeat-x 0 100%;}
.section__sand .box-two-transp {padding-top: 12px;}
.section__sand .box-two-transp_hold {padding-top: 15px;padding-bottom: 6px;}
.section__sand .section-menu-top {border-color: #f4c67c;}
.section__gray {background:url(/images/section/section__gray-t.gif) repeat-x;}
.section__gray .section_hold {background:#f5f4f4 url(/images/section/section__gray-b.gif) repeat-x 0 100%;}
.section__blue {background:url(/images/section/section__blue-t.gif) repeat-x;}
.section__blue .section_hold {background:#95b9ea url(/images/section/section__blue-b.gif) repeat-x 0 100%;}
.section__blue .section-menu-top {border-color: #95b9ea;}
.section__blue .box-two-transp_hold {background: #f2f8ff;}
.section__blue-light {background:url(/images/section/section__blue-light-t.gif) repeat-x;}
.section__blue-light .section_hold {background:#eef3fb url(/images/section/section__blue-light-b.gif) repeat-x 0 100%;}
.section_hold{padding:25px 3000px 15px;}
.section_overlay {
	position: absolute;
	width: 1000px;
	bottom: 20px;
	top: 20px;
	left: 0;
	margin: 0;
	padding: 0 3000px;
	z-index: 20;
	background: #f5f4f4;
	-pie-background: rgba(245,244,244,.7);
	background: rgba(245,244,244,.7);
	behavior: url(/stylesheets/PIE.htc);
}
.section .ava-small-list {margin: 30px 20px 20px 45px;}
.section-cnt {
	background: #fff;
	padding: 20px;
	margin-bottom: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}
.section-cnt .masonry-news-list {margin-bottom: 0;}
.section_t-hold {margin: 0 40px 20px;}
/* /section */

/* top block in section */
.box-two-transp {
	position: relative;
	margin: -47px 0 20px;
	padding: 30px 15px 12px;
	background: #fff;
	background: rgba(255,255,255,.32);
	-pie-background: rgba(255,255,255,.32);
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	 behavior: url(/stylesheets/PIE.htc);
}
.box-two-transp_hold {
	background: #fff;
	background: rgba(255,255,255,.32);
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}
/* /top block in section */

/* section menu */
.section-menu {
	background: #fff;
	background: rgba(255, 255, 255, .5);
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-ms-border-top-right-radius: 5px;
	-ms-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.section-menu-top {
	padding: 20px 15px 20px 20px;
	border-bottom: 2px dashed transparent;
}
.section-menu_t {
	font-size: 40px;
	line-height: 40px;
	color: #252525;
	margin-bottom: 10px;
}
.section-menu_t-small {font-size: 17px;line-height: 24px;color: #696767;}
.section-menu_t-blue {color: #4486d5;}
.section-menu_tx-medium {font-size: 32px;}
.section-menu_search {margin: 0 -10px;position: relative;}
.section-menu_search-itx {
	display: block;
	width: 180px;
	background: #fff;
	font-size: 14px;
	line-height: 20px;
	padding: 7px 24px 7px 14px;
	border: 1px solid #f9ddb2;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	-ms-border-radius: 14px;
	border-radius: 14px;
}
.section-menu_search-submit {
	background: url(/images/ico/ico-search-1.png) no-repeat 50% 50%;
	width: 30px;
	height: 32px;
	padding: 0;
	margin: -32px 0 0;
	float: right;
}
/* /section menu */

/* section clubs */
.section-clubs {
	padding: 30px 20px 10px;
	background: #fff;
	background: rgba(255, 255, 255, 0.75);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom: 20px;
}
.section-clubs_li {margin-bottom: 25px;}
.section-clubs_img {float: left;margin-right: 15px;}
.section-clubs_img > img {display: block;margin-bottom: 3px;border: 2px solid transparent;}
.section-clubs_img.kids > img {border-color: #5488D0;}
.section-clubs_hold {overflow: hidden;}
.section-clubs_t {color: #0281b0;font-weight: bold;}
.section-clubs_comment {margin:2px 0 5px;color: #5e5d5d;font-size: 11px;vertical-align: top;}
.section-clubs_join {display: inline-block;*zoom:1;*display:inline;padding: 0 13px;background: #36bd3c;color: #fff;font-size: 14px;line-height: 22px;text-decoration: none;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
/* /section clubs */

/* section-join */
.section-join {
	position: relative;
	margin: 115px auto 0;
	padding: 40px 25px 40px 15px;
	width: 550px;
	border: 5px solid #ebeaea;
	background: #fff;
	border-radius: 8px;
	text-align: center;
}
.section-join_desc {
	display: inline-block;*zoom:1;*display:inline;
	vertical-align: middle;
	text-align: center;
	width: 310px;
	color: #8f8e8e;
	font-size: 17px;
}
.section-join_t {font-size: 28px;line-height: normal;color: #252525;}
.section-join_btn {
	font-size: 20px;
	font-weight: normal;
	padding: 0 29px;
}
/* /section-join */

/* section baby 
------------------------- */
/* banner pricorm */
.section-banner-pricorm {position: relative;margin: 0 -8px 10px;background: url(/images/section/section-banner-pricorm.jpg) no-repeat;height: 283px;}
.section-banner-pricorm .btn-big {position: absolute;top: 151px;left: 490px;font-size: 30px;font-weight: normal;padding: 0 30px;}
/* /banner pricorm */

/* banner pregnancy-test */
.section-banner-pregnancy-test {position: relative;margin: 0 -8px 10px;background: url(/images/section/section-banner-pregnancy-test.jpg) no-repeat;height: 298px;}
.section-banner-pregnancy-test .btn-big {position: absolute;top: 186px;left: 380px;font-size: 30px;font-weight: normal;padding: 0 30px;color: #c15f18;}
/* /banner pregnancy-test */

/* banner disease */
.section-banner-disease {position: relative;margin: 0 -8px 10px;background: url(/images/section/section-banner-disease.jpg) no-repeat;height: 298px;}
.section-banner-disease .btn-big {position: absolute;top: 195px;left: 520px;font-size: 30px;font-weight: normal;padding: 0 55px;}
/* /banner disease */

/* child-choice-age */
.child-choice-age {float: right;}
.child-choice-age_desc {margin:12px 0 10px;text-align: center;color: #abaaaa;}
.child-choice-age_ul {display: table;table-layout: fixed;width: 300px;}
.child-choice-age_li {display: table-cell;margin:0 15px 5px;text-align: center;font-size: 15px;}
.child-choice-age_li__round {width: 14px;}
.child-choice-age_li__round  > a {
	display:block;
	width:8px;
	height:10px;
	margin: 0 auto;
	background-color: #ffabc9;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
/* /child-choice-age */

/* calendars child child-calendar-steps */
.child-calendar-steps {float: left;margin-left: 10px;}
.child-calendar-steps__age01 .child-calendar-steps_li {margin:0 10px;}
.child-calendar-steps__age01 .child-calendar-steps_flag {left: -10px;}
.child-calendar-steps__age13 .child-calendar-steps_a {width: 91px;}
.child-calendar-steps__age6-18 .child-calendar-steps_a {width: 191px;}
.child-calendar-steps__age36 .child-calendar-steps_ul {background: url(/images/section/child/child-calendar-steps__age36.png) no-repeat 3px 20px;}
.child-calendar-steps__age36 .child-calendar-steps_a {width: 195px;background-color: transparent;}
.child-calendar-steps__age36 .child-calendar-steps_a:hover {background-color: transparent;}
.child-calendar-steps_t {color: #6a8bb7;font-size: 15px;margin-bottom: 5px;}
.child-calendar-steps_ul {padding: 20px 0 5px;}
.child-calendar-steps_li {position: relative;float: left;margin-right: 3px;min-width: 5px;min-height: 5px;}
.child-calendar-steps_li__birth .child-calendar-steps_a {height: 25px;background: #cde0fa;}
.child-calendar-steps_birth-text {position: absolute;top: -16px;left: 26px;color: #e37cc9;font: 11px/13px Tahoma, Arial, Verdana, sans-serif;}
.child-calendar-steps_a {
	display: block;
	position: relative;
	z-index: 1;
	width: 16px;
	height: 16px;
	background-color: #a5c4ef;
	color: #fffeff;
	font-size: 10px;
	line-height: 16px;
	text-decoration: none;
	text-align: center;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.child-calendar-steps_a:hover {background-color: #ffabc9;}
.child-calendar-steps_a__blue-light {background-color: #a5c4ef;}
.child-calendar-steps_a__blue {background-color: #7faae4;}
.child-calendar-steps_a__blue-dark {background-color: #5d8fd2;}
.child-calendar-steps_a__pregnancy {height: 28px;margin-top: -8px;background: url(/images/section/pregnancy/child-calendar-steps_a__pregnancy.png) no-repeat;}
.child-calendar-steps_a__pregnancy:hover {background-color: transparent;}
.child-calendar-steps_flag {
	position: absolute;
	color: #949393;
	font-family: tahoma,arial,sans-serif;
	font-size: 11px;
	left: -1px;
	top: -15px;
	line-height: 1;
	white-space: nowrap;
	width: 150px;
}
.child-calendar-steps_flag-ico   {
	background: url("../images/section/child-calendar-steps_flag.png") no-repeat;
	float: left;
	height: 15px;
	margin-right: 3px;
	width: 15px;
}
.child-calendar-steps .ico-pregnant-test {position:absolute;top:-20px;left:50%;z-index:5;margin-left:-30px;}
.child-calendar-steps .ico-childbirth {position:absolute;top:-38px;left:50%;z-index:5;margin-left:-30px;}
.child-calendar-steps_ico-birth {
	position: absolute;
	display: block;
	left: -2px;
	top:-17px;
	width: 23px;
	height: 36px;
	background: url("../images/common.png") no-repeat -191px -127px;
	z-index: 1;
}
.child-calendar-steps_li__with-child {z-index: 0;margin-bottom: 15px;}
.child-calendar-steps_child {
	position: absolute;
	z-index: 0;
	top: -22px;
	left: 50%;
	margin-left:-100px;
	width: 200px;
	color: #949393;
	font-size: 11px;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	text-align: center;
}
.child-calendar-steps_yellow {background: #fffb9b;padding: 0 2px;}
.child-calendar-steps .ico-age18 {position: absolute;top: -15px;left: 0;}
/* /child-calendar-steps */

/* /section baby  */

/* section cook 
------------------------- */
/* top links on cook section page */
.cook_links-menu {}
.cook_links-menu_a {float: left;width: 50%;text-align: center;text-decoration: none;}
.cook_links-menu_img {display: inline-block;*zoom:1;*display:inline;vertical-align: middle;margin-right: 15px;}
.cook_links-menu_tx {display: inline-block;*zoom:1;*display:inline;vertical-align: middle;font-size: 22px;color: #2378c1;text-decoration: underline;}
.cook_links-menu_a:hover .cook_links-menu_tx{text-decoration: none;}
/* /top links on cook section page */

/* block multivarka */
.b-multivarka {margin: 0 -10px 50px;padding: 7px;background: #f3fbff;}
.b-multivarka_hold {padding:5px ;background: #ddf3fd;}
.b-multivarka_logo {
	float: left;
	width: 360px;
	height: 375px;
	margin: 0 20px 0 5px;
	background: url(/images/section/cook/b-multivarka_logo.jpg) no-repeat;
}
.b-multivarka_logo-tx {
	margin: 40px 10px 20px 15px;
	text-align: center;
	color: #272627;
	font-size: 35px;
	line-height: 37px;
}
.b-multivarka_logo-count {font-size: 45px;}
.b-multivarka_ul {
	float: left;
	width: 560px;
	margin: 15px 0 10px;
}
.b-multivarka_li {
	display: inline-block;*zoom:1;*display:inline;
	vertical-align: top;
	width: 140px;
	margin:10px 20px 20px;
	font: bold 13px/16px Tahoma, Arial, Verdana, sans-serif;
}
.b-multivarka_li_img {
	display: block;
	margin-bottom: 5px;
}
.b-multivarka_li_btn {
	display: block;
	width: 157px;
	height: 95px;
	margin: 5px auto;
	background: url(/images/section/cook/b-multivarka_li_btn.png) no-repeat;
	text-indent: -9999px;
}
/* /block multivarka */
/* /section cook  */
