
/* popup seo_tags */
#btn-seo {display:block;width:58px;height:174px;background:url(/images/btn_seo.png) no-repeat;position:fixed;left:0;top:50%;margin-top:-87px;z-index: 100;}

#seo_tags.popup {width:760px;padding:20px 20px 20px 40px;}

#seo_tags .block-title {color:#aa82d1;font-size:40px;line-height:1;margin-bottom:20px;}
#seo_tags .block-title span {color:#545353;font-size:16px;font-weight:bold;margin-left:60px;}

#seo_tags form.seo-tags {margin-right:40px;}
#seo_tags form.seo-tags .row {}
#seo_tags form.seo-tags .row .row-title {float:left;width:110px;padding-right:10px;padding-top:6px;}
#seo_tags form.seo-tags .row .row-title label {color:#222121;font-size:13px;font-weight:bold;font-family:arial, helvetica, sans-serif;}
#seo_tags form.seo-tags .row .row-elements {float:left;width:600px;}
#seo_tags form.seo-tags .row .row-elements input[type=text], #seo_tags form.seo-tags .row .row-elements textarea {padding:6px 10px;border:1px solid #d0e2fd;background:#fff;width:308px;margin-bottom:8px;font-size:13px;color:#3d3d3d;width:578px;}
#seo_tags form.seo-tags .row .row-elements textarea {height:50px;}
#seo_tags form.seo-tags .row.row-btn {text-align:right;padding-top:10px;}
#seo_tags form.seo-tags .row.row-btn input[type=submit] {height:33px;line-height:33px;background:url(/images/btn_green_33.gif) repeat-x;color:#fff;font-size:16px;font-weight:bold;padding:0 30px;cursor:pointer;border:0;margin:0;}

#seo_tags .seo-table {margin-right:40px;}

#seo_tags .pagination {float:right;width:20px;margin-top:130px;}
#seo_tags .pagination ul {font-size:14px;}
#seo_tags .pagination ul li {height:20px;float:none;margin-bottom:6px !important;line-height:20px;padding:0;width:20px;display:block;text-align:center;}
#seo_tags .pagination ul li a {color:#727173;font:normal 14px arial, helvetica, sans-serif;text-decoration:none;display:block;line-height:20px;}
#seo_tags .pagination ul li.selected {background:#fffe93;}


.icon-yandex {display:inline-block;*zoom:1;*display:inline;width:16px;height:16px;background:url(/images/seo_sprite.png) no-repeat -1px -25px;}
.icon-google {display:inline-block;*zoom:1;*display:inline;width:15px;height:16px;background:url(/images/seo_sprite.png) no-repeat -49px -25px;}

.seo-table .table-box {border:1px solid #d0e3fc;padding:2px 2px 3px;margin-bottom:20px;}
.seo-table .table-box table {width:100%;}
.seo-table .table-box table th {vertical-align:middle;background:#d9eafe;font-size:11px;color:#0b509b;font-weight:normal;padding:10px 15px;border:1px solid #fff;text-align:left;line-height:13px;text-align:center;}
.seo-table .table-box table td {vertical-align:top;padding:10px 15px;border:1px solid #f5f5f5;border-bottom:0;border-right:0;color:#6a6a6a;text-align:center;font-size:11px;font-family:tahoma, arial, helvetica, sans-serif;}
.seo-table .table-box table tbody tr:first-child td {border-bottom:0;}
.seo-table .table-box table tbody tr td:first-child {border-left:0;}
.seo-table .table-box table .col-1 {text-align:left;font-family:arial, helvetica, sans-serif;font-size:13px;}

.seo-table .table-box tr:hover td {background:#f2f8fe !important;}
