
/* social icons small 20*20px 32*32px */
.social-small-row {
	text-align:center;
	color:#7d7d7d;
	vertical-align:middle;
	font:italic 14px/24px 'Times New Roman', Georgia, Times, serif;
}
.social-list-small {
	display:inline-block;
	margin:0 0 0 15px;
	list-style:none;
	vertical-align:middle;*display:inline;*zoom:1;
}
.social-list-small li {
	margin:0 8px 0 0;
	display:inline-block;*display:inline;*zoom:1;
	width:20px;
	height:20px;
	background:url(/images/icon-social.png) no-repeat;
}
.social-list-small.h32 li{margin:0 9px;width: 32px;height: 32px;}
.social-list-small li.odnoklasniki{background-position:0 0;}
.social-list-small li.mailru{background-position:0 -20px;}
.social-list-small li.vkontakte{background-position:0 -40px;}
.social-list-small li.facebook{background-position:0 -60px;}

.social-list-small.h32 li.odnoklasniki{background-position:0 -80px;}
.social-list-small.h32 li.mailru{background-position:0 -112px;}
.social-list-small.h32 li.vkontakte{background-position:0 -144px;}
.social-list-small.h32 li.facebook{background-position:0 -176px;}
.social-list-small li > a {
	display:block;
	width:20px;
	height:20px;
}
.social-list-small.h32 li > a {width: 32px;height: 32px;}
