/* start-page */
.start-page {
	
	.custom-like {
		margin: 0 2px;
		vertical-align: middle;
	}
	&_row {

	}
	&_row__head {background: url(/images/start-page_row__head.jpg) no-repeat 50% 0;}
	&_hold {
		width: 980px;
		margin: 0 auto;
		padding: 0 0 0 20px;
	}
	&_head {
		padding: 70px 700px 132px 0;
	}
	&_head .btn-big {
		font-size: 23px;
		margin: 10px 0 23px;
		padding: 0 40px;
	}
	&_head-desc {text-align: center;}

	&_counter {}
	&_counter-desc {
		.inline-block();
		vertical-align: middle;
		color: #000;
		font: 34px/36px 'Roboto', 'Helvetica Neue', Helvetica, Arial, Tahoma, sans-serif;
	}
}
/* start-page */