
#user-notifications {background:#fff;position:absolute;left:50%;margin-left:-500px;width:998px;top:42px;z-index:99;border:1px solid #d7e9ff;*height:auto;}

#user-notifications .header {height:30px;padding:30px 70px;position:relative;}
#user-notifications .header .close {color:#fa753b;font-size:11px;position:absolute;right:20px;top:5px;}
#user-notifications .header .title {font-size:30px;line-height:1;color:#3b3b3b;display:inline-block;*zoom:1;*display:inline;margin-right:20px;vertical-align:middle;width:245px;}
#user-notifications .header .title span {}

#user-notifications .notifications {padding:0 30px 30px 50px;}
#user-notifications .notifications ul {list-style:none;overflow:auto;}
#user-notifications .notifications ul li {color:#515151;padding:10px 20px;font-size:12px;line-height:16px;}
#user-notifications .notifications ul li:hover {background:#edf5ff;}
#user-notifications .notifications ul li .actions {float:right;padding-right:40px;padding-top:10px;}
#user-notifications .notifications ul li .actions .skip {margin-left:15px;color:#949494;text-decoration:none;border-bottom:1px dashed #949494;font-size:11px;font-family:tahoma, aril, helvetica, sans-serif;}
#user-notifications .notifications ul li .content {width:600px;}
#user-notifications .notifications ul li .content .user {float:left;}
#user-notifications .notifications ul li .content .user .icon-status {margin-left:5px;}
#user-notifications .notifications ul li .content .in {margin-left:45px;}
#user-notifications .notifications ul li .content .meta {margin-top:2px;}
#user-notifications .notifications ul li .content .meta .date {color:#b7b8b7;font-size:9px;font-family:tahoma, arial, helvetica, sans-serif;}
