
#user-friends {background:#fff;position:absolute;left:50%;margin-left:-500px;width:998px;top:42px;z-index:99;border:1px solid #d7e9ff;*height:auto;}

#user-friends .header {height:30px;padding:30px 40px;position:relative;}
#user-friends .header .close {color:#fa753b;font-size:11px;position:absolute;right:20px;top:5px;}
#user-friends .header .title {font-size:30px;line-height:1;color:#3b3b3b;display:inline-block;*zoom:1;*display:inline;margin-right:20px;vertical-align:middle;}
#user-friends .header .title span {}

#user-friends .friends  {padding:0 !important;}
#user-friends .friends .friends-count {font-size:40px;line-height:1;color:#fa753b;float:right;font-weight:bold;margin-right:40px;margin-top:-18px;}
#user-friends .friends .friends-count .more {display:inline-block;*zoom:1;*display:inline;width:22px;height:23px;background:url(/images/common.png) no-repeat -677px -101px;vertical-align:middle;position:relative;top:-4px;}
#user-friends .friends .block-title {padding:0 40px;font-size:18px;color:#127abb;margin-bottom:20px;}
#user-friends .friends .jcarousel {height:100px;width:960px;margin:0 auto;}
#user-friends .friends .jcarousel ul {padding:0;}
#user-friends .friends .jcarousel ul li {padding:0 20px;}
#user-friends .friends .jcarousel ul li.hide * {display:none;}
#user-friends .friends ul {padding:0 26px;position:relative;}
#user-friends.smallscreen .friends ul {height:176px;overflow:hidden;}
#user-friends .friends ul li {border:0;float:none;display:inline-block;*zoom:1;*display:inline;width:200px;vertical-align:top;margin-bottom:20px;}

#user-friends .recent {padding:0 20px 20px;}

#user-friends .recent .find {background:#ebf4fe;padding:20px;}
#user-friends .recent .find .button {float:right;height:90px;padding:20px 0 20px 180px;margin-top:-20px;background:url(/images/user_friends_recent_find.png) no-repeat left;}
#user-friends .recent .find .button .btn-green {font-size:28px;line-height:1;padding:15px 35px;}
#user-friends .recent .find .block-title {font-size:22px;color:#3b3b3b;margin-bottom:20px;}
#user-friends .recent .find p {width:500px;line-height:22px;font-size:14px;color:#515151;}

#user-friends .recent .recent-friend {background:#f7eeff;height:205px;padding:20px;width:429px;float:left;position:relative;}
#user-friends .recent .recent-friend .block-title {color:#3b3b3b;font-size:22px;margin-bottom:50px;}
#user-friends .recent .recent-friend .block-title > a {font-size:17px;padding: 0 5px;}
#user-friends .recent .recent-friend #moveFriendArea {float:left;width:200px;}
#user-friends .recent .recent-friend .become-friends {float:left;width:150px;text-align:center;color:#a7a7a8;font-size:11px;}
#user-friends .recent .recent-friend .become-friends .icon {display:block;width:44px;height:46px;background:url(/images/common.png) no-repeat -320px -341px;margin:0 auto 5px;}
#user-friends .recent .recent-friend .date {width:70px;float:left;color:#b6b9ba;font-size:9px;font-family:tahoma, arial, helvetica, sans-serif;line-height:12px;text-align:center;}
#user-friends .recent .recent-friend .all-link {text-align:right;font-size:17px;margin-top:40px;}
#user-friends .recent .recent-friend .all-link a {}
#user-friends .recent .recent-friend .all-link a .icon {display:inline-block;*zoom:1;*display:inline;width:27px;height:27px;background:url(/images/common.png) no-repeat -428px -334px;vertical-align:middle;margin-right:5px;}

#user-friends .recent .news {background:#eef6ff;height:205px;padding:20px;width:429px;margin-left:20px;float:left;position:relative;}
#user-friends .recent .news .empty {color:#2f8bc4;font-size:18px;position:absolute;top:50%;margin-top:-30px;left:50%;margin-left:-135px;width:270px;}
#user-friends .recent .news .empty .icon {display:block;float:left;margin-top:-10px;margin-right:15px;width:60px;height:56px;background:url(/images/common.png) no-repeat -367px -340px;}
#user-friends .recent .news .block-title {color:#3b3b3b;font-size:22px;margin-bottom:10px;}
#user-friends .recent .news ul {list-style:none;height:140px;overflow:hidden;}
#user-friends .recent .news ul li {border-top:1px solid #d6e5f8;padding:8px 4px;overflow:hidden;width:421px;}
#user-friends .recent .news ul li:first-child {border-top:0;}
#user-friends .recent .news ul li .date {float:right;width:50px;color:#b6b9ba;font-size:9px;font-family:tahoma, arial, helvetica, sans-serif;line-height:12px;text-align:center;}
#user-friends .recent .news ul li .in {float:left;width:360px;}
#user-friends .recent .news ul li .in > .user {float:left;width:45px;}
#user-friends .recent .news ul li .in > .user .icon-status {margin:-1px 0 0 3px;}
#user-friends .recent .news ul li .text {float:left;width:315px;line-height:14px;font-size:12px;color:#515151;}
#user-friends .recent .news ul li .text b {}
#user-friends .recent .news ul li .text .user {margin:0 5px;}
#user-friends .recent .news ul li .text .user a {font-weight:normal;}
#user-friends .recent .news .all-link {text-align:right;font-size:17px;position:absolute;bottom:16px;right:20px;}
#user-friends .recent .news .all-link a {}
#user-friends .recent .news .all-link a .icon {display:inline-block;*zoom:1;*display:inline;width:30px;height:31px;background:url(/images/common.png) no-repeat -232px -243px;vertical-align:middle;margin-right:5px;}

#moveFriend {position:absolute;top:0;left:0;z-index:10001;padding:0 20px;}
#moveFriend .user-fast-buttons {display:none;}
