.career-top {
	margin: 38px 0 23px 25px;

	.ava {
		float: none;
		.inline-block();
		margin-right: 4px;
		vertical-align: text-bottom;
	}
	&_tx {
		font-size: 31px;
	}
}

.career-achievement-hold {}
.career-achievement {
	position: relative;
	margin: 0 0 1px;
	padding: 20px 20px;
	border: 1px solid #f8f8f8;
	background: #f8f8f8;
	&:hover {background: #fff;}
	.ava {
		float: none;
		.inline-block();
		vertical-align: middle;
		margin: 0 2px;
	}
	&__green:hover,
	&__green {
		background-color: #d5facc;
		border: 1px solid #c3f1b7;
	}
	&__sand:hover,
	&__sand {
		background-color: #fbfdce;
		border: 1px solid #eef1a6;
	}
	&__lavender:hover,
	&__lavender {
		background-color: #f4e7fc;
		border: 1px solid #eadef3;
	}
	&__bluelight:hover,
	&__bluelight {
		background-color: #e6f9fe;
		border: 1px solid #d0eef6;
	}
	
	&_left {
		.inline-block();
		width: 220px;
		vertical-align: middle;
	}
	&_center {
		.inline-block();
		vertical-align: middle;
		width: 250px;
		padding: 5px 0;
		text-align: center;
	}
	&_scores-ico {
		.inline-block();
		vertical-align: middle;
		border: 2px solid #fff;
		.border-radius(46px);
	}
	&_scores-ico > img {display: block;}
	&_right {
		.inline-block();
		vertical-align: middle;
		width: 160px;
		text-align: center;
	}
	&_time {
		margin-bottom: 3px;
	}
	&_tx {
		color: #5c5b5b;
		line-height: 14px;
	}
	&_ball {
		color: #60b6f1;
		font-size: 16px;
		font-family:  Helvetica, sans-serif;
	}
	&_ball-num {
		font-size: 34px;
		line-height: 34px;
	}
	&_ball-add {
		font-size: 42px;
		color: #e77a22;
	}
	&_info {
		position: absolute;
		top: 8px;
		right: 8px;
	}
	&_gray {color: #787676;}
	&_congratulation-slogan {
		margin-top: 3px;
		font-size: 16px;
		color: #60b6f1;
	}
}

.career-achievement-ico {
	.inline-block();
	vertical-align: middle;
	width: 50px;
	height: 50px;
	background: url(/images/ico/career-achievement-ico.png) no-repeat;

	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min-resolution: 144dpi) {
		& {
			background:url(/images/career-achievement-ico2x.png) no-repeat;
			background-size: 360px 50px;
		}
    }

	&__comment {background-position: 0 0;}
	&__blog    {background-position: -50px 0;}
	&__visit   {background-position: -100px 0;}
	&__video   {background-position: -150px 0;}
	&__friends {background-position: -200px 0;}
	&__popular-blog {background-position: -250px 0;width: 60px;}
	&__photo {background-position: -310px 0;}
}
