
#user-settings {background:#fff;position:absolute;left:50%;margin-left:-500px;width:998px;top:42px;z-index:99;border:1px solid #d7e9ff;*height:auto;}

#user-settings .edit {display:inline-block;*zoom:1;*display:inline;width:14px;height:18px;background:url(../images/common.png) no-repeat -383px -204px;margin:0 auto;position:relative;text-decoration:none;font-weight:normal;z-index:3;vertical-align:middle;margin-left:5px;top:-2px;}
#user-settings .edit:hover {background-position:-341px -136px;}

#user-settings .header {height:30px;padding:30px 45px;position:relative;}
#user-settings .header .close {color:#fa753b;font-size:11px;position:absolute;right:20px;top:5px;}
#user-settings .header .title {font-size:30px;line-height:1;color:#3b3b3b;display:inline-block;*zoom:1;*display:inline;margin-right:20px;vertical-align:middle;width:225px;}
#user-settings .header .title span {}

#user-settings .header .nav {display:inline-block;*zoom:1;*display:inline;vertical-align:middle;position:relative;top:4px;}
#user-settings .header .nav ul {list-style:none;}
#user-settings .header .nav ul li {float:left;padding:0 10px;border-left:1px solid #aed8f5;}
#user-settings .header .nav ul li:first-child {border-left:0;}
#user-settings .header .nav ul li a {display:inline-block;*zoom:1;*display:inline;padding:2px 5px;}
#user-settings .header .nav ul li .count {font-size:10px;font-weight:bold;color:#75bb6e;position:relative;top:-5px;}
#user-settings .header .nav ul li.active a {background:#a17dc4;color:#fff;text-decoration:none;}
#user-settings .header .nav ul li.disabled a {color:#8fbfe0;text-decoration:none;cursor:default;}
#user-settings .header .nav ul li.disabled .count {color:#8fbfe0;}

#user-settings .settings {padding-bottom:30px;}

#user-settings .settings .ava {margin:80px 0 0 110px;float:left;}
#user-settings .settings .settings-in {margin-left:305px;display:table;}

#user-settings .settings .settings-form {}
#user-settings .settings .settings-form .row {line-height:normal;padding:15px 0;line-height:25px;}
#user-settings .settings .settings-form .row .col {display:inline-block;*zoom:1;*display:inline;margin-right:10px;vertical-align:top;}
#user-settings .settings .settings-form .row .row-title {float:left;width:120px;padding-right:10px;color:#515151;line-height:15px;padding:7px 0 5px;}
#user-settings .settings .settings-form .row .row-elements {width:500px;margin-left:130px;margin-top:2px;}
#user-settings .settings .settings-form .row .row-elements .value-big {font-size:25px;color:#0281b0;font-weight:bold;display:inline-block;*zoom:1;*display:inline;margin-top:-5px;}
#user-settings .settings .settings-form .row .row-elements .value {color:#3c9cd7;font-size:15px;font-weight:bold;}
#user-settings .settings .settings-form .row .row-elements input[type=radio], #user-settings .settings .settings-form .row .row-elements input[type=checkbox] {margin:0;position:relative;top:1px;}
#user-settings .settings .settings-form .row .row-elements label {margin-right:5px;}
#user-settings .settings .settings-form .row .row-elements p {line-height:18px;padding:4px 0 4px;}
#user-settings .settings .settings-form .row .row-elements .delete {display:inline-block;*zoom:1;*display:inline;background:#f89731;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;padding:0 7px;color:#fff;text-decoration:none;line-height:18px;}
#user-settings .settings .settings-form .row .row-elements input[type=text], #user-settings .settings .settings-form .row .row-elements input[type=password] {border:1px solid #c3e2f6;background:#fff;height:17px;padding:3px 6px;vertical-align:middle;}
#user-settings .settings .settings-form .row .row-elements input.input-big {font-size:25px;font-weight:bold;color:#0281b0;height:27px;line-height:1;}
#user-settings .settings .settings-form .row .row-elements .chzn-v2 {margin-right:5px;}
#user-settings .settings .settings-form .row .row-elements .w-1 {width:50px;}
#user-settings .settings .settings-form .row .row-elements .w-2 {width:90px;}
#user-settings .settings .settings-form .row .row-elements .w-3 {width:60px;}

#user-settings .settings .settings-form.password-form .row .row-elements input.input-big {margin-bottom:0;}
#user-settings .settings .settings-form.password-form .row .row-elements .small {color:#939697;margin-top:8px;}
#user-settings .settings .settings-form.password-form .row .row-elements  .refresh {position:relative;padding-right:22px;}
#user-settings .settings .settings-form.password-form .row .row-elements  .refresh .icon {width:18px;height:19px;display:block;position:absolute;right:0;top:50%;margin-top:-9px;background:url(../images/common.png) no-repeat -23px -100px;}
#user-settings .settings .settings-form.password-form .row-captcha .row-elements .input-big {height:42px;width:155px}
#user-settings .settings .settings-form.password-form .row-captcha .row-elements .captcha-img {border:1px solid #c9eaf1;margin-bottom:7px;}
#user-settings .settings .settings-form.password-form .btn-orange {font-weight:bold;font-size:16px;padding:8px 15px;}
#user-settings .settings .settings-form.password-form .success {color:#3cae31;font-size:13px;margin-left:30px;position:relative;top:4px;}

#user-settings .settings .socials {color:#515151;}
#user-settings .settings .socials p {margin-bottom:20px;}

#user-settings .settings .socials .profiles-list {margin-bottom:20px;}
#user-settings .settings .socials .profiles-list .list-title {font-size:11px;color:#acacac;border-bottom:1px solid #ededed;}
#user-settings .settings .socials .profiles-list .col {float:left;padding:9px 5px;}
#user-settings .settings .socials .profiles-list .col-1 {width:130px;}
#user-settings .settings .socials .profiles-list .col-2 {width:260px;text-align:center;}
#user-settings .settings .socials .profiles-list .col-3 {width:220px;text-align:center;}
#user-settings .settings .socials .profiles-list ul {list-style:none;}
#user-settings .settings .socials .profiles-list ul li {border-bottom:1px solid #f5f5f5;line-height:26px;}
#user-settings .settings .socials .profiles-list ul li .btn-remove {color:#acacac;}
#user-settings .settings .socials .profiles-list ul li .btn-remove .icon {display:inline-block;*zoom:1;*display:inline;width:12px;height:14px;background:url(/images/common.png) no-repeat -314px -135px;vertical-align:middle;position:relative;top:-1px;margin-right:5px;}
#user-settings .settings .socials .profiles-list ul li .btn-remove:hover {color:#fc870c}
#user-settings .settings .socials .profiles-list ul li .btn-remove:hover .icon {background-position:-314px -148px;}
#user-settings .settings .socials .profiles-list .social-logo {display:block;width:89px;background:url(/images/user_settings_socials_logo.png) no-repeat;}
#user-settings .settings .socials .profiles-list .social-logo.vkontakte {height:16px;background-position:0 0;margin:5px 0;}
#user-settings .settings .socials .profiles-list .social-logo.facebook {height:20px;background-position:0 -18px;margin:3px 0;}
#user-settings .settings .socials .profiles-list .social-logo.odnoklassniki {height:26px;background-position:0 -40px;}
#user-settings .settings .socials .profiles-list .social-logo.mailru {height:24px;background-position:0 -68px;margin:1px 0;}

#user-settings .settings .socials .add-profile {}
#user-settings .settings .socials .add-profile .block-title {font-size:20px;color:#3b3b3b;margin-bottom:15px;}

#user-settings .auth-services {list-style:none;}
#user-settings .auth-service {display:inline-block;*zoom:1;*display:inline;margin-right:10px;}
#user-settings .auth-link {display:block;width:151px;height:39px;background:url(/images/user_settings_socials.png) no-repeat;}
#user-settings .auth-link.mailru {background-position:0 0;}
#user-settings .auth-link.vkontakte {background-position:0 -82px;}
#user-settings .auth-link.odnoklassniki {background-position:0 -41px;}
#user-settings .auth-link.facebook {background-position:0 -123px;}
