
#user-career {background:#fff;position:absolute;left:50%;margin-left:-500px;width:998px;top:30px;z-index:99;border:1px solid #e6ddf0;*height:auto;}
.top-nav-fixed #user-career {position:absolute;left:0;top:0;bottom:0;margin:43px 0 0;z-index:99;width:100%;overflow-y:auto;overflow-x:hidden;min-width:1000px;background:none;border:0;}
.top-nav-fixed #user-career-in {background:#fff;width:998px;margin:0 auto 20px;position:relative;border:1px solid #e6ddf0;}
#user-career .header {height:30px;padding:30px 60px;position:relative;}

#user-career .header .title {font-size:30px;line-height:1;color:#3b3b3b;display:inline-block;*zoom:1;*display:inline;margin-right:20px;vertical-align:middle;margin-left:240px;padding-left:10px;}
#user-career .header .title span {}

#user-career .header .nav {display:inline-block;*zoom:1;*display:inline;vertical-align:middle;position:relative;top:2px;}
#user-career .header .nav ul {list-style:none;}
#user-career .header .nav ul li {float:left;padding:0 10px;border-left:1px solid #aed8f5;}
#user-career .header .nav ul li:first-child {border-left:0;}
#user-career .header .nav ul li a {display:inline-block;*zoom:1;*display:inline;padding:2px 5px;}
#user-career .header .nav ul li .count {font-size:10px;color:#838381;position:relative;top:-5px;font-family:tahoma, arial, helvetica, sans-serif;}
#user-career .header .nav ul li.active a {background:#f27821;color:#fff;text-decoration:none;}
#user-career .header .nav ul li.active .count {color:#474747;font-size:20px;margin-left:5px;vertical-align:top;}

#user-career .close {color:#fa753b;font-size:11px;position:absolute;right:20px;top:5px;}

#user-career .current-lvl {padding-bottom:20px;}

#user-career .current-lvl .lvl-img {width:176px;text-align:center;padding-left:65px;float:left;padding-right:59px;padding-top:10px;}
#user-career .current-lvl .lvl-img .blue {color:#146db2;font-weight:bold;font-size:18px;}
#user-career .current-lvl .lvl-img img {display:block;margin:10px auto 0;}
#user-career .current-lvl .lvl-list {float:left;width:680px;}
#user-career .current-lvl .lvl-list ul {list-style:none;height:220px;overflow:auto;}
#user-career .current-lvl .lvl-list ul li {padding:0 5px;}
#user-career .current-lvl .lvl-list ul li:hover {background:#f2f9ff;}
#user-career .current-lvl .lvl-list ul li .date {float:right;color:#b6b9ba;font-size:9px;font-family:tahoma;line-height:14px;width:80px;text-align:center;padding:7px 0;}
#user-career .current-lvl .lvl-list ul li .icon {display:inline-block;*zoom:1;*display:inline;width:40px;text-align:center;vertical-align:middle;}
#user-career .current-lvl .lvl-list ul li .value {display:inline-block;*zoom:1;*display:inline;width:50px;text-align:center;vertical-align:middle;color:#515151;font-size:13px;font-weight:bold;line-height:28px;height:28px;padding:7px 0;}
#user-career .current-lvl .lvl-list ul li .content {display:inline-block;*zoom:1;*display:inline;width:400px;vertical-align:middle;font-size:12px;line-height:14px;color:#515151;padding-left:15px;padding:7px 15px;}

#user-career .new-lvl {background:#e8d8f5 url(/images/pattern_purple.gif);padding:70px 0;}
#user-career .new-lvl .lvl-img {width:315px;margin:30px 50px 0 65px;background:url(/images/user_career_new_lvl_img_bg.png) no-repeat top;padding-top:115px;text-align:center;float:left;}
#user-career .new-lvl .lvl-img img {display:block;margin:auto;}
#user-career .new-lvl .in {float:left;width:530px;padding-left:20px;}
#user-career .new-lvl .in .new-lvl-title {font-size:30px;line-height:50px;color:#3b3b3b;text-align:center;padding-bottom:35px;}
#user-career .new-lvl .in .new-lvl-title .big {font-size:45px;display:block;}
#user-career .new-lvl .in .new-lvl-title .blue {color:#2274b7;display:block;}

#user-career .next-lvl {background:#e8d8f5 url(/images/pattern_purple.gif);padding:35px 0;}
#user-career .next-lvl .lvl-img {min-height:220px;background:url(/images/user_career_next_lvl_img_bg.png) no-repeat right;width:132px;padding-right:60px;text-align:center;line-height:20px;padding-left:90px;float:left;}
#user-career .next-lvl .lvl-img span {}
#user-career .next-lvl .lvl-img .hl {color:#272727;font-size:11px;background:#fef9a8;padding:1px 3px;}
#user-career .next-lvl .lvl-img .blue {color:#146db2;font-size:14px;font-weight:bold;}
#user-career .next-lvl .lvl-img .count {color:#58565a;font-size:12px;background:#fef9a8;padding:4px 5px 2px;}
#user-career .next-lvl .lvl-img .count b {font-size:16px;}
#user-career .next-lvl .lvl-img .small {font-size:9px;font-family:tahoma, arial, helvetica, sans-serif;color:#6e6d6e;}
#user-career .next-lvl .lvl-img .img-progress {position:relative;width:134px;height:134px;margin:5px 0 8px;}
#user-career .next-lvl .lvl-img .img-progress .progress-in {position:absolute;width:134px;bottom:0;left:0;background-position:bottom;}
#user-career .next-lvl .in {float:left;padding-left:30px;}
#user-career .next-lvl .lvl-options > ul > li {width:180px;background:none;height:170px;}
#user-career .next-lvl .lvl-options > ul > li .img {display:inline-block;*zoom:1;*display:inline;width:80px;vertical-align:middle;}
#user-career .next-lvl .lvl-options > ul > li .img img {width:70px;}
#user-career .next-lvl .lvl-options > ul > li .item-title {display:inline-block;*zoom:1;*display:inline;}

#user-career .lvl-options {}
#user-career .lvl-options .block-title {font-size:18px;color:#484848;text-align:center;margin-bottom:30px;}
#user-career .lvl-options .block-title span {padding:0 5px;background:#fcf5bd;}
#user-career .lvl-options > ul {list-style:none;}
#user-career .lvl-options > ul > li {float:left;height:230px;background:url(/images/user_career_lvl_options_sep.gif) repeat-y left;padding-left:30px;margin-left:20px;width:140px;}
#user-career .lvl-options > ul > li:first-child {background:none;margin-left:0;padding-left:0;}
#user-career .lvl-options > ul > li .img {height:50px;position:relative;margin-bottom:5px;}
#user-career .lvl-options > ul > li .img img {position:absolute;left:0;bottom:0;}
#user-career .lvl-options > ul > li .item-title {color:#693f91;font-size:16px;}
#user-career .lvl-options > ul > li ul {font-size:12px;color:#515151;list-style:none;line-height:14px;padding-top:10px;}
#user-career .lvl-options > ul > li ul li {padding-bottom:12px;position:relative;}
#user-career .lvl-options > ul > li ul li:after {content:'+';position:absolute;left:-15px;top:0;color:#693f91;}
#user-career .lvl-options > ul > li .btn-green {font-size:16px;line-height:20px;padding:5px 30px;}

#user-career .achievements-list {padding:0 0px 30px;}
#user-career .achievements-list ul {list-style:none;height:450px;line-height:14px;overflow:auto;width:960px;margin:0 auto;}
#user-career .achievements-list ul li {width:160px;height:150px;padding:0 40px;float:left;}
#user-career .achievements-list ul li .img {margin-bottom:5px;}
#user-career .achievements-list ul li .img-progress {width:84px;height:84px;position:relative;display:inline-block;*zoom:1;*display:inline;vertical-align:middle;margin-right:10px;}
#user-career .achievements-list ul li .img-progress .progress-in {width:84px;position:absolute;left:0;bottom:0;background-position:bottom;}
#user-career .achievements-list ul li .count {color:#58565a;font-size:12px;background:#fef9a8;padding:4px 5px 2px;}
#user-career .achievements-list ul li .count b {font-size:16px;}
#user-career .achievements-list ul li .item-title {font-size:12px;font-weight:bold;font-family:tahoma, arial, helvetica, sans-serif;}
#user-career .achievements-list ul li .date {color:#a2a2a2;font-size:9px;font-family:tahoma, arial, helvetica, sans-serif;line-height:12px;}
#user-career .achievements-list .how-get-level {text-align:center;}
#user-career .achievements-list.trophies ul li {text-align:center;}

#user-career .achievement-one {background:#e8d8f5 url(/images/pattern_purple.gif);padding:120px 39px;position:relative;}
#user-career .achievement-one .back {text-decoration:none;border-bottom:1px dashed #029AD2;line-height:14px;font-size:11px;position:absolute;top:25px;right:20px;}

.achievement-one .jcarousel {height:265px;width:920px;}
.achievement-one .jcarousel li {width:740px;padding:0 90px;}
.achievement-one .jcarousel li .img {width:262px;float:left;}
.achievement-one .jcarousel li .img .img-progress {width:262px;height:262px;position:relative;}
.achievement-one .jcarousel li .img .img-progress .progress-in {width:262px;position:absolute;left:0;bottom:0;background-position:bottom;}
.achievement-one .jcarousel li .in {margin-left:300px;padding-top:10px;}
.achievement-one .jcarousel li .in .date {color:#a2a2a2;font-size:9px;font-family:tahoma, arial, helvetica, sans-serif;line-height:12px;margin-bottom:10px;}
.achievement-one .jcarousel li .in .item-title {font-size:30px;line-height:1;color:#2274b7;margin-bottom:20px;}
.achievement-one .jcarousel li .in .text {color:#515151;font-size:12px;margin-bottom:15px;}
.achievement-one .jcarousel li .in .who-else {}
.achievement-one .jcarousel li .in .who-else .pseudo {text-decoration:none;border-bottom:1px dashed #029AD2;line-height:14px;}
.achievement-one .jcarousel li .in .who-else ul {padding-top:15px;list-style:none;}
.achievement-one .jcarousel li .in .who-else ul li {float:left;padding:0 20px 0 0;width:auto;}
.achievement-one .jcarousel li .in .count {color:#58565a;font-size:12px;background:#fef9a8;padding:4px 5px 2px;display:inline-block;*zoom:1;*display:inline;margin-bottom:10px;}
.achievement-one .jcarousel li .in .count b {font-size:16px;}
.achievement-one .jcarousel .prev {position:absolute;left:0;display:block;width:25px;height:34px;background:url(/images/common.png) no-repeat -159px -164px;top:120px;}
.achievement-one .jcarousel .prev.jcarousel-control-inactive {background-position:-634px -293px;cursor:default;}
.achievement-one .jcarousel .next {position:absolute;right:0;display:block;width:25px;height:34px;background:url(/images/common.png) no-repeat -240px -164px;top:120px;}
.achievement-one .jcarousel .next.jcarousel-control-inactive {background-position:-661px -293px;cursor:default;}

#user-career .how {background:#e8d8f5 url(/images/pattern_purple.gif);padding:50px 19px 20px;position:relative;}
#user-career .how .back {text-decoration:none;border-bottom:1px dashed #029AD2;line-height:14px;font-size:11px;position:absolute;top:15px;right:20px;}
#user-career .how .block-title {color:#454445;font-size:30px;text-align:center;line-height:1;margin-bottom:15px;}
#user-career .how .content {height:480px;background:url(/images/user_career_how.png) no-repeat top;position:relative;}
#user-career .how .be-active {position:absolute;right:0;bottom:0;color:#603386;font-size:25px;line-height:1;}
#user-career .how .be-active .icon {display:inline-block;*zoom:1;*display:inline;width:63px;height:65px;background:url(/images/be_active.png) no-repeat;}

#user-career .stripes {position:relative;}
#user-career .stripes:before {display:block;content:'';height:10px;width:100%;position:absolute;top:0;left:0;background:url(/images/user_career_t.gif) repeat-x;}
#user-career .stripes:after {display:block;content:'';height:10px;width:100%;position:absolute;bottom:0;left:0;background:url(/images/user_career_b.gif) repeat-x;}
