/* user.css */

#user {line-height:normal;padding:10px 0;}

#user a.pseudo {border-bottom:1px dashed #51afc3;text-decoration:none;line-height:normal;}

#user .box-title {font-size:22px;color:#252525;padding-bottom:10px;}
#user .box-title a {font-size:13px;margin-left:10px;}
#user .box-title .btn {position:relative;top:8px;margin-right:15px;margin-left:0;}

#user .header {padding-bottom:15px;}

#user .user-name {padding-left:12px;width:240px;margin-bottom:20px;min-height:120px;float:left;}
#user .user-name h1 {line-height:1;margin:0 0 7px 0;color:#0281B0;}

#user .user-name .online-status {color:#a6a6a6;font-size:13px;margin-bottom:5px;}
#user .user-name .online-status  .icon {display:inline-block;*zoom:1;*display:inline;width:11px;height:11px;background:url(../images/common.png) no-repeat;margin-right:5px;}
#user .user-name .online-status.online .icon {background-position:-44px -180px;}
#user .user-name .online-status.offline .icon {background-position:-55px -180px;}
#user .user-name .online-status .date {font-size:9px;color:#b6b9ba;background:#fffeea;padding:0 5px;}

#user .user-name .location {font-size:12px;line-height:16px;color: #5B5A5A;}
#user .user-name .location .flag-big {float: left;margin-right:5px;position:relative;}
#user .user-name .location .location-tx {display: table-cell;vertical-align: middle;height: 32px;}
#user .user-name .info p {margin:5px 0;}
#user .user-name .info span {color:#a1a1a1;font-size:11px;margin-right:5px;}
#user .user-name .info .interest-cat, .activity-find-friend ul li .info .interests-list {margin-bottom:10px;}
#user .user-name .icon-kid-boy {display:inline-block;*zoom:1;*display:inline;width:22px;height:21px;background:url(/images/common.png) no-repeat -557px -221px;vertical-align:middle;position:relative;top:-1px;}
#user .user-name .icon-kid-girl {display:inline-block;*zoom:1;*display:inline;width:22px;height:21px;background:url(/images/common.png) no-repeat -580px -221px;vertical-align:middle;position:relative;top:-1px;}
#user .user-name	 .icon-kid-wait {display:inline-block;*zoom:1;*display:inline;width:25px;height:22px;background:url(/images/common.png) no-repeat -629px -267px;vertical-align:middle;position:relative;top:-1px;}

#user .user-name .birthday {color:#4c4d4d;}
#user .user-name .birthday span {color:#bbbaba;}

#user .header .user-buttons {position:relative;top:5px;width:100px;float:left;padding-left:10px;padding-bottom:20px;z-index:2;}
#user .header .user-buttons a {display:block;float:left;position:relative;margin-right:6px;text-decoration:none;margin-top:10px;}
#user .header .user-buttons .add-friend {width:26px;height:22px;background:url(/images/common.png) no-repeat -200px -220px;}
#user .header .user-buttons .friend {float:left;color:#22af16;margin-right:5px;font-size:13px;margin-top:10px;line-height:20px;}
#user .header .user-buttons .new-message {width:27px;height:21px;background:url(/images/common.png) no-repeat -228px -220px;}

#user .header .user-nav {margin-left:360px;padding-top:10px;font-size:13px;padding-bottom:20px;}
#user .user-home .user-nav {padding-bottom:70px;}

#user .new-blog-btn {text-align:right;}

#user .blog-title {font-size:32px;color:#232323;margin-bottom:40px;}
#user .blog-title .settings {display:inline-block;*zoom:1;*display:inline;width:15px;height:15px;background:url(/images/common.png) no-repeat -313px -190px;position:relative;top:-1px;}
#user .blog-title .settings:hover {background-position:-330px -190px;}

.ava__big,
.ava.big {position:relative;}
.ava__big .renew,
.ava.big .renew {background:#fff;background:rgba(255, 255, 255, 0.85);display:block;position:absolute;top:50%;left:50%;color:#9c9c9c;text-decoration:none;text-align:center;font-size:20px;width:130px;margin-left:-65px;margin-top:-1em;line-height:1;padding:5px 0;display:none; -moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;behavior: url(/stylesheets/PIE.htc);}
.ava__big,:hover .renew ,
.ava.big:hover .renew {display:block;}
.ava__big, .btn-orange,
.ava.big .btn-orange {text-align:center;padding-top:90px;font-size:25px;text-decoration:none;display:block;height:150px;background:url(/images/ava_big_cap.png) no-repeat;filter:"progid:DXImageTransform.Microsoft.gradient(enabled=false)";}
.ava__big.ava__female .btn-orange,
.female  .btn-orange {background-position: 0 -240px;}
.ava__big .btn-orange > span,
.ava.big .btn-orange > span {background:none;padding:0;line-height:normal;height:auto;font-size:25px;font-weight:normal;color:#51AFC3;}
.ava__big .btn-orange > span > span,
.ava.big .btn-orange > span > span {background:none;padding:0;line-height:normal;height:auto;border-bottom:1px dashed #51AFC3;}

#user .side-filter {font-size:13px;padding-bottom:20px;padding-top:60px;}
#user .side-filter ul {list-style:none;padding:0 10px;}
#user .side-filter ul li {padding:3px 10px 4px;text-align:right;line-height:1.2;margin:5px 0;}
#user .side-filter ul li a {text-decoration:none;display:block;}
#user .side-filter ul li a span {border-bottom:1px dashed #51AFC3;float:left;}
#user .side-filter ul li a:hover span {border:0;}
#user .side-filter ul li.active {background:#e9f6fe;font-weight:bold;}
#user .side-filter ul li.active a span {border:0;}

#user .content-title {font:bold 25px arial, helvetica, sans-serif;color:#0281b0;margin-bottom:30px;}

#user .user-cols {padding-bottom:20px;}
#user .user-cols .col-1 {float:left;width:240px;padding-right:20px;}
#user .user-cols .col-2 {float:left;width:340px;padding-right:20px;}
#user .user-cols .col-3 {float:left;width:340px;}
#user .user-cols .col-23 {float:left;width:700px;}

#user .user-top-block {margin-bottom:40px;height:90px;}

#user .user-top-block .user-fast-nav {float:right;padding-right:50px;padding-top:10px;}

#user .user-top-block .user-fast-buttons {float:left;}
#user .user-top-block .user-fast-buttons a {background:none;display:block;float:left;margin-right:15px;width:auto;height:auto;font-size:11px;font-family:tahoma, arial, helvetica, sans-serif;text-decoration:underline;position:relative;padding-left:57px;}
#user .user-top-block .user-fast-buttons a:hover {text-decoration:none;}
#user .user-top-block .user-fast-buttons .add-friend .icon {display:block;width:50px;height:40px;background:url(/images/icon_add_friend_50x40.png) no-repeat;float:left;margin-top:-7px;margin-right:10px;position:absolute;left:0;}
#user .user-top-block .user-fast-buttons .new-message .icon {display:block;width:52px;height:40px;background:url(/images/icon_new_message_52x40.png) no-repeat;float:left;margin-top:-7px;margin-right:10px;position:absolute;left:-2px;}
#user .user-top-block .user-fast-buttons .request-sent {opacity:.33;text-decoration:none;}
#user .user-top-block .user-fast-buttons .is-friend {float:left;font-size:25px;color:#48ac37;margin-right:25px;}

#user .user-top-block .user-activity-link {float:left;font-size:16px;line-height:30px;margin-left:35px;}
#user .user-top-block .user-activity-link a {color:#e87004;}


#user .user-photo {}
#user .user-photo img {display:block;}

.user-cols .col-1 .details {color:#b6b9ba;font-size:9px;font-family:tahoma, arial, helvetica, sans-serif;padding:5px 10px;text-indent:0;text-align:center;}

.user-lvl {width:240px;height:178px;margin-top:10px;}
.user-lvl-0 {background:url(/images/user_lvl_0.png) center no-repeat;}
.user-lvl-1 {background:url(/images/user/user-lvl/user-lvl178-1.png) center no-repeat;}
.user-lvl-1 span {display:block;padding:80px 0 0;font-size:22px;color:#fff;text-align:center;}

#user .user-lvl {margin-bottom:20px;}

.user-purpose {color:#4c4d4d;font-size:11px;position:relative;padding-left:100px;min-height:70px;margin-bottom:20px;}
.user-purpose p {color:#fe4939;line-height:1;font-size:14px;margin-top:5px;}
.user-purpose p a {font-size:12px;}
.user-purpose .icon {display:block;width:78px;height:65px;background:url(/images/common.png) no-repeat -604px -153px;position:absolute;top:0;left:11px;}
.user-purpose form {text-align:right;margin:10px 0 0 -6px;}
.user-purpose textarea {vertical-align:bottom;overflow:auto;width:228px;max-width:228px;margin-right:5px;height:90px;padding:2px 5px;border:1px solid #c5e8ef;margin-bottom:5px;}
.user-purpose span {font-size:12px;}

#user .user-add {margin-bottom:20px;text-align:center;}
#user .user-add a {vertical-align:middle;display:inline-block;*zoom:1;*display:inline;font:italic 20px/1 'timew new roman', times, sans;color:#2D87BE;}
#user .user-add img {margin-right:20px;}

#user .user-clubs {padding-bottom:20px;padding-left:15px;}
#user .user-clubs ul {list-style:none;}
#user .user-clubs ul li {display: inline-block;*zoom:1;*display:inline;vertical-align: top;margin:0 15px 5px 0;}

#user .user-albums {padding:15px;border:1px solid #e8e8e8;margin-bottom:20px;}
#user .user-albums .box-title .btn {margin-right:0;}
#user .user-albums ul {list-style:none;}
#user .user-albums ul li {padding-bottom:20px;}
#user .user-albums ul li big {color:#4c4d4d;display:block;margin:0px 0 15px;font-size:11px;font-weight:bold;font-family:tahoma, arial, helvetica, sans-serif;}
#user .user-albums ul li .preview {position:relative;width:210px;height:180px;float:left;}
#user .user-albums ul li .preview img {position:absolute;display:block;max-width:80%;max-height:80%;}
#user .user-albums ul li .preview img.img-1 {top:0;left:0;}
#user .user-albums ul li .preview img.img-2 {right:0;top:20px;}
#user .user-albums ul li .preview img.img-3 {left:20px;bottom:0;}
#user .user-albums ul li .more {color:#b9b9b9;font-size:13px;padding-top:50px;float:left;text-decoration:none;margin-left:20px;width:76px;text-align:center}
#user .user-albums ul li .more .icon {display:block;width:56px;height:56px;background:url(../images/common.png) no-repeat -499px -135px;margin:0 auto;margin-bottom:10px;}
#user .user-albums ul li .more:hover .icon {background-position:-499px -193px;}
#user .user-albums ul li .more:hover {color:#7abc2e;text-decoration:underline;}

.user-block-list {width:720px;}
.user-block-list .list-item {width:340px;float:left;}

#user .clubs {}
#user .clubs ul {list-style:none;}
#user .clubs ul li {float:left;margin:0 30px 35px;}

#user .calendar-date {width:85px;height:80px;background:url(../images/bg_calendar-date.gif) no-repeat;margin:5px auto 15px;text-align:center;}
#user .calendar-date .y {padding-top:10px;font-size:10px;color:#464545;}
#user .calendar-date .d {margin-top:5px;font-size:20px;font-weight:bold;color:#ff7902;line-height:1;}
#user .calendar-date .m {color:#ff7902;font-size:18px;font-weight:bold;}

.user-calendar-pregnancy {padding: 15px 9px 30px;margin-bottom: 20px;text-align: center;border:1px solid #eeeded;}
.user-calendar-pregnancy .settings {float: right;width:15px;height:15px;background:url(/images/common.png) no-repeat -313px -190px;}
.user-calendar-pregnancy .settings:hover {background-position:-330px -190px;}
.user-calendar-pregnancy_title {font-size: 22px;line-height: 22px;color: #212121;}
.user-calendar-pregnancy_title span {background: #fff69e;padding: 0 4px;}
.user-calendar-pregnancy_img {margin: 18px 0;}
.user-calendar-pregnancy_all {font-size: 17px;}
.user-calendar-pregnancy_all .arrow{text-decoration: none;}

#user .user-joined {margin-bottom:30px;}
#user .user-joined .calendar-date {display:inline-block;*zoom:1;*display:inline;vertical-align:middle;}
#user .user-joined span {display:inline-block;*zoom:1;*display:inline;width:140px;padding-left:10px;vertical-align:middle;font-size:13px;color:#5b5b5b;}

#user .user-post {padding:15px 15px 0;margin-bottom:20px;border:1px solid #e8e8e8;}
#user .user-post ul {list-style:none;}
#user .user-post ul li {margin-bottom:15px;}
#user .user-post ul li .item-title {font-weight:bold;font-family:tahoma, arial, helvetica, sans-serif;font-size:14px;margin-bottom:10px;line-height:16px;}
#user .user-post ul li .content {line-height:18px;}
#user .user-post ul li .comment {font-size:11px;background:#dcf2ff;position:relative;padding:7px 12px;color:#464545;margin-top:12px;}
#user .user-post ul li .comment {/*css3*/ -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;}
#user .user-post ul li .comment .date {text-align:left;color:#b6b9ba;font-size:9px;font-family:tahoma, arial, helvetica, sans-serif;margin-bottom:2px;}
#user .user-post ul li .comment:after {display:block;content:'';border:7px solid transparent;border-top:0;border-bottom-color:#dcf2ff;position:absolute;left:50%;top:-7px;margin-left:-7px;}
#user .user-post ul li .img {margin-bottom:5px;}
#user .user-post ul li .meta {margin-top:10px;}

