//- album-preview
    mod     
    vars 
mixin albumPreview(mod, vars)

    // Список альбомов
        .album-preview__s
        .album-preview__m
        .album-preview__xl
    .album-preview(class=mod)
        ul.album-preview_ul
            - each img, i  in vars.items.img
                - if (img == 'drag')
                    // .album-preview_li__drag и .display-n классы на элемент что тащаят
                    li.album-preview_li.album-preview_li__drag
                        .album-preview_in.display-n
                            .album-preview_img-hold
                                // 
                                img.album-preview_img(src="/new/images/example/w155-h140.jpg", alt="")
                            .album-preview_overlay
                - else
                    - if (vars.bigLi == i)
                        - vars.bigLi = 'album-preview_li__big'
                    - else 
                        - vars.bigLi = ''

                    - if (i == 1)
                        - var active = 'active'
                    - else 
                        - active = ''

                    li.album-preview_li(class=active + ' ' + vars.bigLi)
                        a.album-preview_in(href="")
                            .album-preview_img-hold
                                // 
                                img.album-preview_img(src="/new/images/example/#{img}", alt="")
                            .album-preview_overlay
                            - if (vars.check)
                                .album-preview_check
                        - if (vars.album)
                            .album-preview_hold
                                a.album-preview_t(href="") 
                                    = vars.items.tx[i]
                                .album-preview_count 
                                    = vars.items.count[i]


- var albumPreview = {}

- albumPreview.a = {}
- albumPreview.a.album = false
- albumPreview.a.items = {}
- albumPreview.a.items.img = ['w155-h140.jpg', 'drag', 'w155-h140-2.jpg', 'w95-h140-1.jpg', 'w155-h140.jpg', 'w95-h140-2.jpg', 'w155-h140-2.jpg', 'w95-h140-1.jpg', 'w155-h140.jpg', 'w95-h140-2.jpg', 'w155-h140-2.jpg', 'w95-h140-1.jpg', 'w155-h140.jpg', 'w95-h140-2.jpg', 'w155-h140-2.jpg', 'w95-h140-1.jpg', 'w155-h140.jpg', 'w95-h140-2.jpg', 'w155-h140-2.jpg', 'w95-h140-1.jpg', 'w155-h140.jpg', 'w95-h140-2.jpg', 'w155-h140-2.jpg', 'w95-h140-1.jpg', 'w155-h140.jpg', 'w95-h140-2.jpg', 'w155-h140-2.jpg', 'w95-h140-1.jpg', ]

- albumPreview.b = {}
- albumPreview.b.check = true
- albumPreview.b.album = false
- albumPreview.b.items = {}
- albumPreview.b.items.img = ['w155-h140.jpg', 'w155-h140-2.jpg', 'w95-h140-1.jpg', 'w155-h140.jpg', 'w95-h140-2.jpg', 'w155-h140-2.jpg', 'w95-h140-1.jpg', 'w155-h140.jpg', 'w95-h140-2.jpg', 'w155-h140-2.jpg', 'w95-h140-1.jpg', 'w155-h140.jpg', 'w95-h140-2.jpg', 'w155-h140-2.jpg', 'w95-h140-1.jpg', 'w155-h140.jpg', 'w95-h140-2.jpg', 'w155-h140-2.jpg', 'w95-h140-1.jpg', 'w155-h140.jpg', 'w95-h140-2.jpg', 'w155-h140-2.jpg', 'w95-h140-1.jpg', 'w155-h140.jpg', 'w95-h140-2.jpg', 'w155-h140-2.jpg', 'w95-h140-1.jpg', ]

- albumPreview.album1 = {}
- albumPreview.album1.check = false
- albumPreview.album1.album = true
- albumPreview.album1.items = {}
- albumPreview.album1.items.tx = ['Моя семья', 'Мои работы по рукоделию', 'Выходные - мое хобби, а также очень интересно и познавательно ', 'Моя семья', 'Мои работы по рукоделию', ]
- albumPreview.album1.items.count = ['25 фото', '145 фото','25 фото', '145 фото', '1 фото']
- albumPreview.album1.items.img = ['w205-h140.jpg', 'w205-h140-2.jpg','w205-h140.jpg', 'w205-h140-2.jpg', 'w205-h140.jpg']

- albumPreview.photoWindow = {}
- albumPreview.photoWindow.check = false
- albumPreview.photoWindow.album = true
- albumPreview.photoWindow.bigLi = 0
- albumPreview.photoWindow.items = {}
- albumPreview.photoWindow.items.tx = ['Моя семья', 'Мои работы по рукоделию', 'Выходные - мое хобби, а также очень интересно и познавательно ', 'Моя семья', 'Мои работы по рукоделию',  'Моя семья', 'Мои работы по рукоделию', ]
- albumPreview.photoWindow.items.count = ['25 фото', '145 фото','25 фото', '145 фото','145 фото','25 фото', '145 фото', '1 фото']
- albumPreview.photoWindow.items.img = ['w480-h345.jpg', 'w205-h140-2.jpg','w205-h140.jpg', 'w205-h140-2.jpg', 'w205-h140.jpg', 'w205-h140-2.jpg', 'w205-h140.jpg']


