
//- userAddRecord
//- Заглушка
    mod
    vars
        ava
        tx


mixin userAddRecord(mod, vars)
    // cap-empty
    .userAddRecord.clearfix(class=mod)
        - if (vars.ava)
            .userAddRecord_ava-hold
                +ava('ava__middle', vars.ava)
        .userAddRecord_hold
            - if (vars.tx)
                .userAddRecord_tx 
                    = vars.tx
            a.userAddRecord_ico.userAddRecord_ico__article.fancy.powertip(href='#popup-user-add-article', data-theme='transparent', title='Статью')
            a.userAddRecord_ico.userAddRecord_ico__photo.fancy.powertip(href='#popup-user-add-photo', data-theme='transparent', title='Фото')
            a.userAddRecord_ico.userAddRecord_ico__video.fancy.active.powertip(href='#popup-user-add-video', data-theme='transparent', title='Видео')
            a.userAddRecord_ico.userAddRecord_ico__status.fancy.powertip(href='#popup-user-add-status', data-theme='transparent', title='Статус')
    // /cap-empty
    
- var userAddRecord = {}
- userAddRecord.a = {}
- userAddRecord.a.ava = ava.a
- userAddRecord.a.tx = 'Я хочу добавить'

- userAddRecord.b = {}
- userAddRecord.b.ava = false
- userAddRecord.b.tx = 'Я хочу добавить'
