/* @layout cosmetic  
---------------------------------------------------------*/
.textdec-onhover {text-decoration: none !important;}
.textdec-onhover:hover {text-decoration: underline !important;}

.textalign-l{text-align: left !important;}
.textalign-c{text-align: center !important;}
.textalign-r{text-align: right !important;}

.vertical-align-m{vertical-align: middle;}

.color-alizarin {color: #fc5f5f !important;}
.color-blue     {color: #3597e3 !important;}
.color-green    {color: #3a9b12 !important;}
.color-gray     {color: #A8A7A7 !important;}

.text-small {font-size: 11px;}
.text-big   {font-size: 16px;}
.text-large {font-size: 18px;}

.lineheight-big {line-height: 1.45em;}

.float-r {float:right !important;}
.float-l {float:left !important;}
.float-n {float:none !important;}

.display-n {display:none !important;}
.display-b {display:block !important;}
.display-ib {display: inline-block !important;}

.z-index0 {z-index: 0;}

.margin-0      {margin:0 !important;}
.margin-5      {margin:5px !important;}
.margin-10     {margin:10px !important;}
.margin-20     {margin:20px !important;}
.margin-t5     {margin-top: 5px !important;}
.margin-t10    {margin-top: 10px !important;}
.margin-t15    {margin-top: 15px !important;}
.margin-t20    {margin-top: 20px !important;}
.margin-r5     {margin-right: 5px !important;}
.margin-r10    {margin-right: 10px !important;}
.margin-r15    {margin-right: 15px !important;}
.margin-r20    {margin-right: 20px !important;}
.margin-b0     {margin-bottom: 0 !important;}
.margin-b5     {margin-bottom: 5px !important;}
.margin-b10    {margin-bottom: 10px !important;}
.margin-b15    {margin-bottom: 15px !important;}
.margin-b20    {margin-bottom: 20px !important;}
.margin-l5     {margin-left: 5px !important;}
.margin-l10    {margin-left: 10px !important;}
.margin-l15    {margin-left: 15px !important;}
.margin-l20    {margin-left: 20px !important;}

.padding-0    {padding:0 !important;}
.padding-t5   {padding-top:5px !important;}
.padding-t10  {padding-top:10px !important;}

.w-50  {width :50px !important;}
.w-100 {width :100px;}
.w-200 {width :200px;}
.w-240 {width :240px;}
.w-300 {width :300px;}
.w-400 {width :400px;}
.w-500 {width :500px;}
.w-700 {width :700px;}
.w-100p {width:100% !important;}

.bg-none {background: none;}

.disabled {cursor:default;}

.clearfix:after {display:block;content:'.';height:0;clear:both;line-height:0;font-size:0;}
/* /cosmetic layout */
/* ---------------------------------------*/