/* @layout  base 
--------------------------------------------------------*/
.flag {
    display: inline-block;
    width: 16px;
    height: 16px;
    background:url(/images/flags_16.png) no-repeat;
    margin-bottom: -2px;
}

.flag-ad.flag{ background-position: 0 0; }
.flag-ae.flag{ background-position: 0 -20px; }
.flag-af.flag{ background-position: 0 -40px; }
.flag-ag.flag{ background-position: 0 -60px; }
.flag-ai.flag{ background-position: 0 -80px; }
.flag-al.flag{ background-position: 0 -100px; }
.flag-am.flag{ background-position: 0 -120px; }
.flag-ao.flag{ background-position: 0 -140px; }
.flag-aq.flag{ background-position: 0 -160px; }
.flag-ar.flag{ background-position: 0 -180px; }
.flag-as.flag{ background-position: 0 -200px; }
.flag-at.flag{ background-position: 0 -220px; }
.flag-au.flag{ background-position: 0 -240px; }
.flag-aw.flag{ background-position: 0 -260px; }
.flag-ax.flag{ background-position: 0 -280px; }
.flag-az.flag{ background-position: 0 -300px; }
.flag-ba.flag{ background-position: 0 -320px; }
.flag-bb.flag{ background-position: 0 -340px; }
.flag-bd.flag{ background-position: 0 -360px; }
.flag-be.flag{ background-position: 0 -380px; }
.flag-bf.flag{ background-position: 0 -400px; }
.flag-bg.flag{ background-position: 0 -420px; }
.flag-bh.flag{ background-position: 0 -440px; }
.flag-bi.flag{ background-position: 0 -460px; }
.flag-bj.flag{ background-position: 0 -480px; }
.flag-bl.flag{ background-position: 0 -500px; }
.flag-bm.flag{ background-position: 0 -520px; }
.flag-bn.flag{ background-position: 0 -540px; }
.flag-bo.flag{ background-position: 0 -560px; }
.flag-bq.flag{ background-position: 0 -580px; }
.flag-br.flag{ background-position: 0 -600px; }
.flag-bs.flag{ background-position: 0 -620px; }
.flag-bt.flag{ background-position: 0 -640px; }
.flag-bw.flag{ background-position: 0 -660px; }
.flag-by.flag{ background-position: 0 -680px; }
.flag-bz.flag{ background-position: 0 -700px; }
.flag-ca.flag{ background-position: 0 -720px; }
.flag-cc.flag{ background-position: 0 -740px; }
.flag-cd.flag{ background-position: 0 -760px; }
.flag-cf.flag{ background-position: 0 -780px; }
.flag-cg.flag{ background-position: 0 -800px; }
.flag-ch.flag{ background-position: 0 -820px; }
.flag-ci.flag{ background-position: 0 -840px; }
.flag-ck.flag{ background-position: 0 -860px; }
.flag-cl.flag{ background-position: 0 -880px; }
.flag-cm.flag{ background-position: 0 -900px; }
.flag-cn.flag{ background-position: 0 -920px; }
.flag-co.flag{ background-position: 0 -940px; }
.flag-cr.flag{ background-position: 0 -960px; }
.flag-cu.flag{ background-position: 0 -980px; }
.flag-cv.flag{ background-position: 0 -1000px; }
.flag-cw.flag{ background-position: 0 -1020px; }
.flag-cx.flag{ background-position: 0 -1040px; }
.flag-cy.flag{ background-position: 0 -1060px; }
.flag-cz.flag{ background-position: 0 -1080px; }
.flag-de.flag{ background-position: 0 -1100px; }
.flag-dj.flag{ background-position: 0 -1120px; }
.flag-dk.flag{ background-position: 0 -1140px; }
.flag-dm.flag{ background-position: 0 -1160px; }
.flag-do.flag{ background-position: 0 -1180px; }
.flag-dz.flag{ background-position: 0 -1200px; }
.flag-ec.flag{ background-position: 0 -1220px; }
.flag-ee.flag{ background-position: 0 -1240px; }
.flag-eg.flag{ background-position: 0 -1260px; }
.flag-er.flag{ background-position: 0 -1280px; }
.flag-es.flag{ background-position: 0 -1300px; }
.flag-et.flag{ background-position: 0 -1320px; }
.flag-fi.flag{ background-position: 0 -1340px; }
.flag-fj.flag{ background-position: 0 -1360px; }
.flag-fk.flag{ background-position: 0 -1380px; }
.flag-fm.flag{ background-position: 0 -1400px; }
.flag-fo.flag{ background-position: 0 -1420px; }
.flag-fr.flag{ background-position: 0 -1440px; }
.flag-ga.flag{ background-position: 0 -1460px; }
.flag-gb.flag{ background-position: 0 -1480px; }
.flag-gd.flag{ background-position: 0 -1500px; }
.flag-ge.flag{ background-position: 0 -1520px; }
.flag-gf.flag{ background-position: 0 -1540px; }
.flag-gg.flag{ background-position: 0 -1560px; }
.flag-gh.flag{ background-position: 0 -1580px; }
.flag-gl.flag{ background-position: 0 -1600px; }
.flag-gm.flag{ background-position: 0 -1620px; }
.flag-gn.flag{ background-position: 0 -1640px; }
.flag-gp.flag{ background-position: 0 -1660px; }
.flag-gq.flag{ background-position: 0 -1680px; }
.flag-gr.flag{ background-position: 0 -1700px; }
.flag-gt.flag{ background-position: 0 -1720px; }
.flag-gu.flag{ background-position: 0 -1740px; }
.flag-gw.flag{ background-position: 0 -1760px; }
.flag-gy.flag{ background-position: 0 -1780px; }
.flag-hk.flag{ background-position: 0 -1800px; }
.flag-hn.flag{ background-position: 0 -1820px; }
.flag-hr.flag{ background-position: 0 -1840px; }
.flag-ht.flag{ background-position: 0 -1860px; }
.flag-hu.flag{ background-position: 0 -1880px; }
.flag-id.flag{ background-position: 0 -1900px; }
.flag-ie.flag{ background-position: 0 -1920px; }
.flag-il.flag{ background-position: 0 -1940px; }
.flag-im.flag{ background-position: 0 -1960px; }
.flag-in.flag{ background-position: 0 -1980px; }
.flag-iq.flag{ background-position: -20px 0; }
.flag-ir.flag{ background-position: -20px -20px; }
.flag-is.flag{ background-position: -20px -40px; }
.flag-it.flag{ background-position: -20px -60px; }
.flag-je.flag{ background-position: -20px -80px; }
.flag-jm.flag{ background-position: -20px -100px; }
.flag-jo.flag{ background-position: -20px -120px; }
.flag-jp.flag{ background-position: -20px -140px; }
.flag-ke.flag{ background-position: -20px -160px; }
.flag-kg.flag{ background-position: -20px -180px; }
.flag-kh.flag{ background-position: -20px -200px; }
.flag-ki.flag{ background-position: -20px -220px; }
.flag-km.flag{ background-position: -20px -240px; }
.flag-kn.flag{ background-position: -20px -260px; }
.flag-kp.flag{ background-position: -20px -280px; }
.flag-kr.flag{ background-position: -20px -300px; }
.flag-kw.flag{ background-position: -20px -320px; }
.flag-ky.flag{ background-position: -20px -340px; }
.flag-kz.flag{ background-position: -20px -360px; }
.flag-la.flag{ background-position: -20px -380px; }
.flag-lb.flag{ background-position: -20px -400px; }
.flag-lc.flag{ background-position: -20px -420px; }
.flag-li.flag{ background-position: -20px -440px; }
.flag-lk.flag{ background-position: -20px -460px; }
.flag-lr.flag{ background-position: -20px -480px; }
.flag-ls.flag{ background-position: -20px -500px; }
.flag-lt.flag{ background-position: -20px -520px; }
.flag-lu.flag{ background-position: -20px -540px; }
.flag-lv.flag{ background-position: -20px -560px; }
.flag-ly.flag{ background-position: -20px -580px; }
.flag-ma.flag{ background-position: -20px -600px; }
.flag-mc.flag{ background-position: -20px -620px; }
.flag-md.flag{ background-position: -20px -640px; }
.flag-me.flag{ background-position: -20px -660px; }
.flag-mf.flag{ background-position: -20px -680px; }
.flag-mg.flag{ background-position: -20px -700px; }
.flag-mh.flag{ background-position: -20px -720px; }
.flag-mk.flag{ background-position: -20px -740px; }
.flag-ml.flag{ background-position: -20px -760px; }
.flag-mm.flag{ background-position: -20px -780px; }
.flag-mn.flag{ background-position: -20px -800px; }
.flag-mo.flag{ background-position: -20px -820px; }
.flag-mp.flag{ background-position: -20px -840px; }
.flag-mq.flag{ background-position: -20px -860px; }
.flag-mr.flag{ background-position: -20px -880px; }
.flag-ms.flag{ background-position: -20px -900px; }
.flag-mt.flag{ background-position: -20px -920px; }
.flag-mu.flag{ background-position: -20px -940px; }
.flag-mv.flag{ background-position: -20px -960px; }
.flag-mw.flag{ background-position: -20px -980px; }
.flag-mx.flag{ background-position: -20px -1000px; }
.flag-my.flag{ background-position: -20px -1020px; }
.flag-mz.flag{ background-position: -20px -1040px; }
.flag-na.flag{ background-position: -20px -1060px; }
.flag-nc.flag{ background-position: -20px -1080px; }
.flag-ne.flag{ background-position: -20px -1100px; }
.flag-nf.flag{ background-position: -20px -1120px; }
.flag-ng.flag{ background-position: -20px -1140px; }
.flag-ni.flag{ background-position: -20px -1160px; }
.flag-nl.flag{ background-position: -20px -1180px; }
.flag-no.flag{ background-position: -20px -1200px; }
.flag-np.flag{ background-position: -20px -1220px; }
.flag-nr.flag{ background-position: -20px -1240px; }
.flag-nu.flag{ background-position: -20px -1260px; }
.flag-nz.flag{ background-position: -20px -1280px; }
.flag-om.flag{ background-position: -20px -1300px; }
.flag-pa.flag{ background-position: -20px -1320px; }
.flag-pe.flag{ background-position: -20px -1340px; }
.flag-pf.flag{ background-position: -20px -1360px; }
.flag-pg.flag{ background-position: -20px -1380px; }
.flag-ph.flag{ background-position: -20px -1400px; }
.flag-pk.flag{ background-position: -20px -1420px; }
.flag-pl.flag{ background-position: -20px -1440px; }
.flag-pm.flag{ background-position: -20px -1460px; }
.flag-pr.flag{ background-position: -20px -1480px; }
.flag-ps.flag{ background-position: -20px -1500px; }
.flag-pt.flag{ background-position: -20px -1520px; }
.flag-pw.flag{ background-position: -20px -1540px; }
.flag-py.flag{ background-position: -20px -1560px; }
.flag-qa.flag{ background-position: -20px -1580px; }
.flag-re.flag{ background-position: -20px -1600px; }
.flag-ro.flag{ background-position: -20px -1620px; }
.flag-rs.flag{ background-position: -20px -1640px; }
.flag-ru.flag{ background-position: -20px -1660px; }
.flag-rw.flag{ background-position: -20px -1680px; }
.flag-sa.flag{ background-position: -20px -1700px; }
.flag-sb.flag{ background-position: -20px -1720px; }
.flag-sc.flag{ background-position: -20px -1740px; }
.flag-sd.flag{ background-position: -20px -1760px; }
.flag-se.flag{ background-position: -20px -1780px; }
.flag-sg.flag{ background-position: -20px -1800px; }
.flag-si.flag{ background-position: -20px -1820px; }
.flag-sk.flag{ background-position: -20px -1840px; }
.flag-sl.flag{ background-position: -20px -1860px; }
.flag-sm.flag{ background-position: -20px -1880px; }
.flag-sn.flag{ background-position: -20px -1900px; }
.flag-so.flag{ background-position: -20px -1920px; }
.flag-sr.flag{ background-position: -20px -1940px; }
.flag-ss.flag{ background-position: -20px -1960px; }
.flag-st.flag{ background-position: -20px -1980px; }
.flag-sv.flag{ background-position: -40px 0; }
.flag-sx.flag{ background-position: -40px -20px; }
.flag-sy.flag{ background-position: -40px -40px; }
.flag-sz.flag{ background-position: -40px -60px; }
.flag-tc.flag{ background-position: -40px -80px; }
.flag-td.flag{ background-position: -40px -100px; }
.flag-tg.flag{ background-position: -40px -120px; }
.flag-th.flag{ background-position: -40px -140px; }
.flag-tj.flag{ background-position: -40px -160px; }
.flag-tl.flag{ background-position: -40px -180px; }
.flag-tm.flag{ background-position: -40px -200px; }
.flag-tn.flag{ background-position: -40px -220px; }
.flag-to.flag{ background-position: -40px -240px; }
.flag-tr.flag{ background-position: -40px -260px; }
.flag-tt.flag{ background-position: -40px -280px; }
.flag-tv.flag{ background-position: -40px -300px; }
.flag-tw.flag{ background-position: -40px -320px; }
.flag-tz.flag{ background-position: -40px -340px; }
.flag-ua.flag{ background-position: -40px -360px; }
.flag-ug.flag{ background-position: -40px -380px; }
.flag-us.flag{ background-position: -40px -400px; }
.flag-uy.flag{ background-position: -40px -420px; }
.flag-uz.flag{ background-position: -40px -440px; }
.flag-vc.flag{ background-position: -40px -460px; }
.flag-ve.flag{ background-position: -40px -480px; }
.flag-vg.flag{ background-position: -40px -500px; }
.flag-vi.flag{ background-position: -40px -520px; }
.flag-vn.flag{ background-position: -40px -540px; }
.flag-vu.flag{ background-position: -40px -560px; }
.flag-wf.flag{ background-position: -40px -580px; }
.flag-ws.flag{ background-position: -40px -600px; }
.flag-ye.flag{ background-position: -40px -620px; }
.flag-yt.flag{ background-position: -40px -640px; }
.flag-za.flag{ background-position: -40px -660px; }
.flag-zm.flag{ background-position: -40px -680px; }
.flag-zw.flag{ background-position: -40px -700px; }

