include ../../../block/config
extend ../../../extend/layout_user
block vars
    - var bodyClass = 'body__bg2 body__lite';
    - global.cssFile = 'blog-user.css'; 

block layout

    .b-main.clearfix
        .b-main_cols.clearfix
            .b-main_col-1 
                +sidebarSearch('sidebar-search__big', sidebarSearch.a )
            .b-main_col-23
                +userAddRecord('userAddRecord__s', userAddRecord.a)
            
    //-.b-main.clearfix
        .b-main_cont.b-main_cont__broad
            .b-crumbs.b-crumbs__s
                .b-crumbs_tx Я здесь
                ul.b-crumbs_ul
                    li.b-crumbs_li
                        a.b-crumbs_a(href='#') Главная
                    li.b-crumbs_li
                        +ava('ava__small', ava.a)
                    li.b-crumbs_li.b-crumbs_li__last
                        span.b-crumbs_last Блог
                        
    .b-main.clearfix
        //-+userSection('', userSection.base)
        
        .b-main_cont.b-main_cont__wide

            //-+userAddRecord('', userAddRecord.blog)

    
                              
            //+userSubscribers('visible-md-block')

            .b-main_col-hold.clearfix
                ///////
                // Основная колонка
                .b-main_col-article
                    ul.onair-filter
                        li.onair-filter_i.active
                            a Все
                        li.onair-filter_i
                            a Записи
                        li.onair-filter_i
                            a Комментарии
  
                    +bArticleListItem('', bArticleListItem.userProfileArticle)

                    +bArticleListPhotopost('', bArticleListPhotopost.userProfilePhotopost)

                    +bArticleListPhotopost('', bArticleListPhotopost.userProfilePhoto)

                    +bArticleStatus('', bArticleStatus.userProfileStatus)

                    +bArticleListItem('', bArticleListItem.userProfileVideo)

                    +bArticleComment('', bArticleComment.base)

                    +bArticleQA('b-article-qa', bArticleQA.base)

                    +bArticleQA('b-article-qa', bArticleQA.question)

                    +bArticleLike('', bArticleLike.base)

                    +paginationSmall('', paginationSmall.base)
                ///////
                // Сайд бар
                // Содержимое загружaть отложено
                aside.b-main_col-sidebar.visible-md
                  .readers2.readers2__no-btn.readers2__m
                    .readers2_t-sm.heading-small
                      span.icon-status.icon-status__small.icon-status__online
                      |  Сейчас на сайте
                    ul.readers2_ul.clearfix
                      li.readers2_li.clearfix
                        a.ava.ava__middle.ava__male(href='#')
                          span.ico-status.ico-status__online
                          img.ava_img(src="http://img.happy-giraffe.ru/v2/crops/avatarmedium/2b/51/72d60af56c9458249732a5f0f89a.jpg", width="40", height="40" alt="")
                      li.readers2_li.clearfix
                        a.ava.ava__middle.ava__male(href='#')
                          span.ico-status.ico-status__online
                          img.ava_img(src="http://img.happy-giraffe.ru/v2/crops/avatarmedium/2b/51/72d60af56c9458249732a5f0f89a.jpg", width="40", height="40" alt="")
                      li.readers2_li.clearfix
                        a.ava.ava__middle.ava__male(href='#')
                          span.ico-status.ico-status__online
                          img.ava_img(src="http://img.happy-giraffe.ru/v2/crops/avatarmedium/2b/51/72d60af56c9458249732a5f0f89a.jpg", width="40", height="40" alt="")
                      li.readers2_li.clearfix
                        a.ava.ava__middle.ava__male(href='#')
                          span.ico-status.ico-status__online
                          img.ava_img(src="http://img.happy-giraffe.ru/v2/crops/avatarmedium/2b/51/72d60af56c9458249732a5f0f89a.jpg", width="40", height="40" alt="")
                      li.readers2_li.clearfix
                        a.ava.ava__middle.ava__male(href='#')
                          span.ico-status.ico-status__online
                          img.ava_img(src="http://img.happy-giraffe.ru/v2/crops/avatarmedium/2b/51/72d60af56c9458249732a5f0f89a.jpg", width="40", height="40" alt="")
                      li.readers2_li.clearfix
                        a.ava.ava__middle.ava__male(href='#')
                          span.ico-status.ico-status__online
                          img.ava_img(src="http://img.happy-giraffe.ru/v2/crops/avatarmedium/2b/51/72d60af56c9458249732a5f0f89a.jpg", width="40", height="40" alt="")
                      li.readers2_li.clearfix
                        a.ava.ava__middle.ava__male(href='#')
                          span.ico-status.ico-status__online
                          img.ava_img(src="http://img.happy-giraffe.ru/v2/crops/avatarmedium/2b/51/72d60af56c9458249732a5f0f89a.jpg", width="40", height="40" alt="")
                      li.readers2_li.clearfix
                        a.ava.ava__middle.ava__male(href='#')
                          span.ico-status.ico-status__online
                          img.ava_img(src="http://img.happy-giraffe.ru/v2/crops/avatarmedium/2b/51/72d60af56c9458249732a5f0f89a.jpg", width="40", height="40" alt="")
                      li.readers2_li.clearfix
                        a.ava.ava__middle.ava__male(href='#')
                          span.ico-status.ico-status__online
                          img.ava_img(src="http://img.happy-giraffe.ru/v2/crops/avatarmedium/2b/51/72d60af56c9458249732a5f0f89a.jpg", width="40", height="40" alt="")
                      li.readers2_li.clearfix
                        a.ava.ava__middle.ava__male(href='#')
                          span.ico-status.ico-status__online
                          img.ava_img(src="http://img.happy-giraffe.ru/v2/crops/avatarmedium/2b/51/72d60af56c9458249732a5f0f89a.jpg", width="40", height="40" alt="")
                      li.readers2_li.clearfix
                        a.ava.ava__middle.ava__male(href='#')
                          span.ico-status.ico-status__online
                          img.ava_img(src="http://img.happy-giraffe.ru/v2/crops/avatarmedium/2b/51/72d60af56c9458249732a5f0f89a.jpg", width="40", height="40" alt="")
                      li.readers2_li.clearfix
                        a.ava.ava__middle.ava__male(href='#')
                          span.ico-status.ico-status__online
                          img.ava_img(src="http://img.happy-giraffe.ru/v2/crops/avatarmedium/2b/51/72d60af56c9458249732a5f0f89a.jpg", width="40", height="40" alt="")
                      li.readers2_li.clearfix
                        a.ava.ava__middle.ava__male(href='#')
                          span.ico-status.ico-status__online
                          img.ava_img(src="http://img.happy-giraffe.ru/v2/crops/avatarmedium/2b/51/72d60af56c9458249732a5f0f89a.jpg", width="40", height="40" alt="")
                      li.readers2_li.clearfix
                        a.ava.ava__middle.ava__male(href='#')
                          span.ico-status.ico-status__online
                          img.ava_img(src="http://img.happy-giraffe.ru/v2/crops/avatarmedium/2b/51/72d60af56c9458249732a5f0f89a.jpg", width="40", height="40" alt="")
                      li.readers2_li.clearfix
                        a.ava.ava__middle.ava__male(href='#')
                          span.ico-status.ico-status__online
                          img.ava_img(src="http://img.happy-giraffe.ru/v2/crops/avatarmedium/2b/51/72d60af56c9458249732a5f0f89a.jpg", width="40", height="40" alt="")
                      li.readers2_li.clearfix
                        a.ava.ava__middle.ava__male(href='#')
                          span.ico-status.ico-status__online
                          img.ava_img(src="http://img.happy-giraffe.ru/v2/crops/avatarmedium/2b/51/72d60af56c9458249732a5f0f89a.jpg", width="40", height="40" alt="")
                      li.readers2_li.clearfix
                        a.ava.ava__middle.ava__male(href='#')
                          span.ico-status.ico-status__online
                          img.ava_img(src="http://img.happy-giraffe.ru/v2/crops/avatarmedium/2b/51/72d60af56c9458249732a5f0f89a.jpg", width="40", height="40" alt="")
                      li.readers2_li.clearfix
                        a.ava.ava__middle.ava__male(href='#')
                          span.ico-status.ico-status__online
                          img.ava_img(src="http://img.happy-giraffe.ru/v2/crops/avatarmedium/2b/51/72d60af56c9458249732a5f0f89a.jpg", width="40", height="40" alt="")
                      li.readers2_li.clearfix
                        a.ava.ava__middle.ava__male(href='#')
                          span.ico-status.ico-status__online
                          img.ava_img(src="http://img.happy-giraffe.ru/v2/crops/avatarmedium/2b/51/72d60af56c9458249732a5f0f89a.jpg", width="40", height="40" alt="")
                      li.readers2_li.clearfix
                        a.ava.ava__middle.ava__male(href='#')
                          span.ico-status.ico-status__online
                          img.ava_img(src="http://img.happy-giraffe.ru/v2/crops/avatarmedium/2b/51/72d60af56c9458249732a5f0f89a.jpg", width="40", height="40" alt="")
                      li.readers2_li.clearfix
                        a.ava.ava__middle.ava__male(href='#')
                          span.ico-status.ico-status__online
                          img.ava_img(src="http://img.happy-giraffe.ru/v2/crops/avatarmedium/2b/51/72d60af56c9458249732a5f0f89a.jpg", width="40", height="40" alt="")
                      li.readers2_li.clearfix
                        a.ava.ava__middle.ava__male(href='#')
                          span.ico-status.ico-status__online
                          img.ava_img(src="http://img.happy-giraffe.ru/v2/crops/avatarmedium/2b/51/72d60af56c9458249732a5f0f89a.jpg", width="40", height="40" alt="")
                      li.readers2_li.clearfix
                        a.ava.ava__middle.ava__male(href='#')
                          span.ico-status.ico-status__online
                          img.ava_img(src="http://img.happy-giraffe.ru/v2/crops/avatarmedium/2b/51/72d60af56c9458249732a5f0f89a.jpg", width="40", height="40" alt="")
                      li.readers2_li.clearfix
                        a.ava.ava__middle.ava__male(href='#')
                          span.ico-status.ico-status__online
                          img.ava_img(src="http://img.happy-giraffe.ru/v2/crops/avatarmedium/2b/51/72d60af56c9458249732a5f0f89a.jpg", width="40", height="40" alt="")
                      li.readers2_li.clearfix
                        a.ava.ava__middle.ava__male(href='#')
                          span.ico-status.ico-status__online
                          img.ava_img(src="http://img.happy-giraffe.ru/v2/crops/avatarmedium/2b/51/72d60af56c9458249732a5f0f89a.jpg", width="40", height="40" alt="")
                      li.readers2_li.clearfix
                        a.ava.ava__middle.ava__male(href='#')
                          span.ico-status.ico-status__online
                          img.ava_img(src="http://img.happy-giraffe.ru/v2/crops/avatarmedium/2b/51/72d60af56c9458249732a5f0f89a.jpg", width="40", height="40" alt="")
                      li.readers2_li.clearfix
                        a.ava.ava__middle.ava__male(href='#')
                          span.ico-status.ico-status__online
                          img.ava_img(src="http://img.happy-giraffe.ru/v2/crops/avatarmedium/2b/51/72d60af56c9458249732a5f0f89a.jpg", width="40", height="40" alt="")
                      li.readers2_li.clearfix
                        a.ava.ava__middle.ava__male(href='#')
                          span.ico-status.ico-status__online
                          img.ava_img(src="http://img.happy-giraffe.ru/v2/crops/avatarmedium/2b/51/72d60af56c9458249732a5f0f89a.jpg", width="40", height="40" alt="")
                      li.readers2_li.clearfix
                        a.ava.ava__middle.ava__male(href='#')
                          span.ico-status.ico-status__online
                          img.ava_img(src="http://img.happy-giraffe.ru/v2/crops/avatarmedium/2b/51/72d60af56c9458249732a5f0f89a.jpg", width="40", height="40" alt="")
                      li.readers2_li.clearfix
                        a.ava.ava__middle.ava__male(href='#')
                          span.ico-status.ico-status__online
                          img.ava_img(src="http://img.happy-giraffe.ru/v2/crops/avatarmedium/2b/51/72d60af56c9458249732a5f0f89a.jpg", width="40", height="40" alt="")
                    .readers2_sub-tx и еще много
                      span.readers2_smile
                      | !!!

  
                // /Основная колонкa
                


        +layout-footer-lite('layout-footer__in')

    
    
 
