include ../../../block/config
extend ../../../extend/layout_header_empty
block vars
    - var bodyClass = 'body__lite body__contest-commentator';
    - global.cssFile = 'contest-commentator.css';

    if (debug)
        - googlefont = '<link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic,latin" rel="stylesheet" type="text/css">'

    - global.headItem = googlefont

block layout

    .contest
        a.i-giraffe-back(href='#')
        .contest-commentator

            +contestCommentatorHeader('', contestCommentatorHeader.user)


            .contest-commentator-how
                .contest-commentator-how_hold
                    h2.contest-commentator_t
                        | Как стать лидером
                    .contest-commentator-how_i.contest-commentator-how_i__1
                        .contest-commentator-how_tx
                            | Находи различные записи в клубах и блогах и комментируйте их. А также вступайте в дискуссии с другими пользователями - отвечайте на их комментарии.
                    .contest-commentator-how_i.contest-commentator-how_i__2
                        .contest-commentator-how_tx
                            | Пиши интересные и полезные комментарии, чтобы они нравились другим пользователям и призывали к дальнейшему обсуждению записей.
                    .contest-commentator-how_i.contest-commentator-how_i__3
                        .contest-commentator-how_tx
                            | Пиши как можно больше комментариев. Это первый залог к успеху.

            .contest-commentator-example
                    h2.contest-commentator_t
                        | Пример комментария

                    .contest-commentator-example_in
                        .comments.comments__buble
                            .comments_hold
                                ul.comments_ul
                                    //
                                        варианты цветов комментов. В такой последовательности
                                        .comments_li__lilac
                                        .comments_li__yellow
                                        .comments_li__red
                                        .comments_li__blue
                                        .comments_li__green
                                    li.comments_li.comments_li__blue
                                        .comments_i.clearfix
                                            .comments_ava
                                                +ava("", ava.b)
                                            .comments_frame
                                                .comments_header
                                                    a.a-light.comments_author(href="#", rel='author')  Иванна Хлебникова
                                                    time.tx-date(datetime='2012-12-23') 2 минуты назад
                                                .comments_cont
                                                    .wysiwyg-content
                                                        p
                                                            |  ​Кошка просто прелесть! Интересно, в чем ее секрет долголетия? Хотелось бы, чтоб хозяйка дола подробнее интервью. У моей сестры Джонику - сиамскому коту, уже 16 лет, хотелось бы чтоб он прожил еще много и много лет!
                                                .from-article-s.clearfix
                                                    .from-article-s_ava
                                                        +ava('ava__middle', ava.a)
                                                    .from-article-s_hold
                                                        .from-article-s_head
                                                            a.a-light(href='#') Ангелина Богоявленская
                                                            time.tx-date(datetime='2012-12-23') 2 минуты назад

                                                        a.from-article-s_t(href='#') Я не нашел, где можно поменять название трека. Меняя название трека в альбоме он автоматически

                                    // / комментарий


            .contest-commentator-rule
                    h2.contest-commentator_t
                        | Правила конкурса
                    ol.contest-commentator-rule_ol
                        li.contest-commentator-rule_li
                            h3.contest-commentator-rule_t-sub 1. &nbsp; Общие правила проведения Конкурса

                            ol
                                li Конкурс проводится с 02.03.2015 по 31.03.15 на сайте
                                    | 
                                    a(href='#') http://www.happy-giraffe.ru
                                    | .
                                li Организаторы Конкурса - Сайт для всей семьи “Веселый Жираф”
                                    | 
                                    a(href='#') http://www.happy-giraffe.ru
                                    | .
                                li Участником конкурса могут быть граждане, проживающие на территории России и Украины.
                                li Анкета Участника должна быть максимально заполненной с загруженным фото профиля.
                                li Правила оставления комментариев (см. ниже)


                        li.contest-commentator-rule_li
                            h3.contest-commentator-rule_t-sub 2. &nbsp; Права и обязанности Участников Конкурса
                            ol
                                li Для того, чтобы принять участие в Конкурсе необходимо быть зарегистрированным пользователем и иметь максимально заполненную анкету с загруженной личной фотографией.
                                li Участникам необходимо писать комментарии к любым статьям на нашем сайте. Внизу каждой статьи есть поле для комментариев.
                                li Комментарии должны быть яркие, содержательные и осмысленные. Слишком короткие комментарии, ограничивающиеся двумя - тремя словами к участию Конкурса не допускаются - проходной минимум 60 знаков.
                                li Добавленный видео ролик или загруженное изображение к комментарию будет приравниваться к полноценному предложению. Но, с условием - изображение или видео должны соответствовать основной теме страницы.
                                li Так же, не допускаются комментарии, унижающие чье-либо достоинство или с не нормативной лексикой (даже если слово «литературное») - автор данных комментариев отправляется в черный список и не сможет больше участвовать в Конкурсе.
                                li Запрещается писать бессмысленные сообщения, которые не несут смысловые нагрузки, а так же оставление спама и других сторонних ссылок.
                                li Запрещено копировать комментарии других пользователей, а также копировать тексты с чужих сайтов.
                                li Набранные баллы за комментарии обновляются каждые 10 минут.
                                li Участие в Конкурсе могут принимать лица достигшие 18 лет.
                                li К участию в Конкурсе не допускаются:
                                    p - сотрудники и представители Организаторов;
                                    p - лица, способные повлиять на их деятельность;
                                    p - члены их семей;
                                    p - работники других юридических лиц, причастных к организации и проведению Конкурса.
                                li Каждый комментарий будет проходить обязательную модерацию. Участник будет извещен в случае, если его комментарий не будет проходить по конкурсу.

                        li.contest-commentator-rule_li
                            h3.contest-commentator-rule_t-sub 3. &nbsp;  Наградной фонд
                            ol
                                li Наградной фонд Конкурса формируется за счет средств Организатора Конкурса.
                                li Победители будут определяться количеством и качеством комментариев.
                                li В конце Конкурса будут подведены итоги и первые 10 суперактивных комментаторов получат приз в размере 1000 рублей на счет мобильного телефона.
                                li В последний день Конкурса все комментарии, которые были добавлены с частотой менее минуты для накрутки результатов будут считаться 1:2. Таким образом, статистика Участника уменьшится в половину.
                                li Минимум, который необходимо написать для получения приза - 100 комментариев. Все Участники в ТОП-10 не написавшие данный минимум за весь период Конкурса - приз не получают.

                        li.contest-commentator-rule_li
                            h3.contest-commentator-rule_t-sub 4. &nbsp;  Порядок проведения Конкурса и объявление результатов
                            ol
                                li Все комментарии участники Конкурса оставляют под темами сайта
                                    | 
                                    a(href='#') http://www.happy-giraffe.ru
                                    | .
                                li Победителями Конкурса станут первых 10 человек, согласно итоговому подсчету максимального количества комментариев.
                                li Информация о Победителях будет опубликована на сайте 1.04.2015.
                                li Администрация сайта направит победившим Участникам уведомление на электронный адрес.
                                li Организаторы Конкурса не несут ответственности за неполучение приза Победителем в случае, если с ним не удается связаться по указанным им контактам (отключен телефон, вне зоны доступа, отключен интернет и т.п)
                                li Контактные данные для получения приза должны быть предоставлены не позже,  чем через две недели после оглашения результатов Конкурса.

                        li.contest-commentator-rule_li
                            h3.contest-commentator-rule_t-sub 4. &nbsp;  Иные условия проведения конкурса
                            ol
                                li Организаторы Конкурса гарантируют неразглашение информации о номерах телефонов и других данных Участников без их ведома.
                                li Организатор Конкурса гарантирует использование полученных данных Участников только по прямому назначению, согласно правилам Конкурса.
        +layout-footer-lite()
