doctype html
| <!--[if lt IE 9]>      <html class="no-js ie8 lt-ie9"> <![endif]-->
| <!--[if lt IE 10]>     <html class="no-js lt-ie10"> <![endif]-->
| <!--[if gt IE 10]><!--> <html class="no-js "> <!--<![endif]-->
include ../block/config
// tag head
+head(path)
// vars from template file
- var bodyClass = ''; 
block vars
body.body(class='#{bodyClass}')
    .layout-container
        .layout-loose
            .layout-header
                
                +header('header__base')
            .layout-loose_hold
                block layout
                +layout-footer('layout-footer__in')
            +btn-scrolltop()
    .popup-container.display-n  
        block block-hidden
| </html>