include ../block/config
doctype 5
html.no-js
    +head(path)
    body.body.body__im
        - avaVars = { icoStatus: 'ico-status__online',src: 'http://img.happy-giraffe.ru/avatars/12963/ava/8d26a6f4dbae0536f8dbec37c0b5e5f8.jpg'}
        .layout-container
            +header()
            .layout-wrapper
                .layout-wrapper_hold.clearfix
                    block layout-wrapper_hold
                