include ../block/config
doctype 5
html.no-js
    +head(path)
    body.body.body__im
        .layout-container
            +header-fix("header-fix__rel")
            .layout-wrapper
                .layout-wrapper_hold.clearfix
                    block layout-wrapper_hold
        .popup-container.display-n 
            block block-hidden