doctype html
| <!--[if lt IE 9]>      <html class="no-js ie8 lt-ie9"> <![endif]-->
| <!--[if lt IE 10]>     <html class="no-js lt-ie10"> <![endif]-->
| <!--[if gt IE 10]><!--> <html class="no-js "> <!--<![endif]-->
include ../block/config
+head(path)
body.body.body__im
    .layout-container
        .error-serv.display-n
            .error-serv_hold
                span.ico-error-smile.margin-r5
                | Произошла критическая ошибка. 
                a.error-serv_a Перезагрузить страницу
        .layout-header.clearfix
            +header-fix()
            +header('header__base')
        .layout-wrapper
            .layout-wrapper_hold.clearfix
                block layout-wrapper_hold

    .popup-container.display-n 
        block block-hidden
| </html>