include ../block/config
doctype 5
html.no-js
    +head(path)
    body.body.body__im
        .layout-container
            .layout-header
                +header-fix()
                +header('header__base')
            .layout-wrapper
                .layout-wrapper_hold.clearfix
                    block layout-wrapper_hold
        .popup-container.display-n 
            block block-hidden