// ----------------------------------------------------------
// В файле все комментарии делать в less стиле //
// ----------------------------------------------------------

// Variables - глобальные переменные для всего сайта -------
// 

@bodycolor : #fff;

// TYPOGRAPHY 

@basefont : Arial, Tahoma, Verdana, sans-serif;
@basefontsize : 12px;
@baselineheight : 18px;
@basecolor : #222;

@altfont1 : Tahoma, Arial, Verdana, sans-serif;
@altfont2 : 'Roboto', 'Helvetica Neue', Helvetica, Arial, Tahoma, sans-serif;
@altlineheight : 16px;

@font-xxs: 9px;
@font-xs: 11px;

@fontsmallest: e("9px/11px Tahoma, Arial, Verdana, sans-serif");
@fontsmall: e("11px/14px Tahoma, Arial, Verdana, sans-serif");

@color-gray: #bfc1c1;
@color-gray-light: #ccc;
