#baby {padding-bottom:50px;}

#baby .age-list {padding:15px 20px 10px;background:#f2fafe;margin-bottom:20px;}
#baby .age-list big {display:block;color:#c8dde7;font-size:16px;}
#baby .age-list ul {height:110px;width:100%;}
#baby .age-list ul li {float:left;margin-left:3px;position:relative;height:110px;}
#baby .age-list ul li:first-child {margin-left:0;}
#baby .age-list ul li a {display:block;height:40px;margin-top:42px;width:26px;background:#b5e7ff;line-height:40px;color:#fff;text-align:center;font:14px/40px tahoma, arial, sans-serif;text-decoration:none;position:relative;z-index:2;}
#baby .age-list ul li a {/*css3*/border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;}
#baby .age-list ul li .age-title {position:absolute;display:none;bottom:0;left:10px;white-space:nowrap;color:#3088b1;font-family:tahoma, arial, sans-serif;}
#baby .age-list ul li .flag {position:absolute;background:url(../images/bg_baby_calendar_age_flag.gif) no-repeat left bottom;padding-bottom:20px;white-space:nowrap;top:0;left:-2px;font-size:11px;color:#b3d6e8;font-family:tahoma, arial, sans-serif;z-index:1;}
#baby .age-list ul li.weeks a {background:#94d2ef;}
#baby .age-list ul li.monthes a {background:#6ebbdf;}
#baby .age-list ul li.years a {background:#50a7cf;}
#baby .age-list ul li.pre-school {padding-left:2px;margin-left:4px;}
#baby .age-list ul li.pre-school a {background:#4298c0;width:107px;}
#baby .age-list ul li.school {padding-left:2px;margin-left:4px;}
#baby .age-list ul li.school a {background:#3088b1;width:107px;}
#baby .age-list ul li.active a {background:#fda446;padding-top:8px;padding-bottom:8px;margin-top:34px;}
#baby .age-list ul li a:hover {padding-top:8px;padding-bottom:8px;margin-top:34px;}
#baby .age-list ul li.active .age-title {display:block;}

#baby .side-right {width:310px;margin-left:-310px;}
#baby .main {margin:0;}
#baby .main .main-in {margin:0 340px 0 0;}

#baby .need-to-know {}
#baby .need-to-know .title {background:#c5a7e2;padding:20px 25px;font:bold 23px/1 arial, sans-serif;color:#fff;}
#baby .need-to-know .block-in {padding:10px 24px 20px;border:1px solid #ecd0ff;background:#fbf4ff;}
#baby .need-to-know .block-in big {display:block;padding:15px 0;font:bold 16px arial, sans-serif;}
#baby .need-to-know .block-in ul {list-style:none;font-size:14px;font-family:tahoma, arial, sans-serif;}
#baby .need-to-know .block-in ul li {padding:5px 0;}

#baby .article {margin-top:22px;}