.ie7 .clearfix {height:1%;zoom:1;position:relative;}

.ie7 .btn {zoom:1;}

.ie7 #registration .members-count .subtitle p, .ie7 #registration .members-count ul .controls .inc, .ie7 #registration .members-count ul .controls .dec, .ie7 #registration .members-count ul .img .valign, .ie7 #registration .members-count ul .age-title, .ie7 #registration .header .login-link .login-q, .ie7 .file-fake {zoom:1;display:inline;}

.ie7 .breadcrumbs span, .ie7 .meta .seen, .ie7 .user .avatar, .ie7 .user a.username, .ie7 .paginator .txt, .ie7 .paginator .pages, .ie7 .paginator .pages a.next, .ie7 .paginator .pages a.prev, .ie7 .paginator .pages  a, .ie7 .paginator .pages .current, .ie7  .more .block  a, .ie7 .comments .c-header .left-s span, .ie7 .comments .c-header .left-s .col, .ie7 .comments .item .report, .ie7 .photo-block .item, .ie7 .win, .ie7 .win .place span, .ie7 .inner.contest.winners .like-block .cup, .ie7 .inner.contest.winners .like-block .block {zoom:1;display:inline;}

.ie7 .search .btn {margin-top:3px;margin-left:14px;}

.ie7 .inner.contest.winners .like-block .block {float:left;}

.ie7 .comments .c-header .left-s .col {top:-11px;}

.ie7 .comments {text-align:left;}

.ie7 .photo-block .item {border:1px solid red;width:auto;}
.ie7 .photo-block .item .mark {float:none;}