/* user.css */

#user {line-height:normal;padding:10px 0;}

#user a.pseudo {border-bottom:1px dashed #51afc3;text-decoration:none;line-height:normal;}

#user .box-title {font-size:22px;color:#4c4d4d;padding-bottom:10px;}
#user .box-title a {font-size:13px;margin-left:10px;}
#user .box-title .btn {position:relative;top:8px;margin-right:15px;margin-left:0;}

#user .header {padding-bottom:15px;}

#user .user-name {padding-left:12px;width:240px;margin-bottom:20px;min-height:120px;}
#user .user-name h1 {line-height:1;margin:0 0 7px 0;color:#0281B0;}


#user .user-name .online-status {color:#a6a6a6;font-size:13px;margin-bottom:0px;}
#user .user-name .online-status  .icon {display:inline-block;width:11px;height:11px;background:url(../images/common.png) no-repeat;margin-right:5px;}
#user .user-name .online-status.online .icon {background-position:-44px -180px;}
#user .user-name .online-status.offline .icon {background-position:-55px -180px;}
#user .user-name .online-status .date {font-size:9px;color:#b6b9ba;background:#fffeea;padding:0 5px;}
#user .user-name .location {font-size:13px;line-height:32px;}
#user .user-name .location .flag-big {display:inline-block;margin-right:5px;position:relative;vertical-align:top;}
#user .user-name .birthday {color:#4c4d4d;}
#user .user-name .birthday span {color:#bbbaba;}

#user .header .user-buttons {position:relative;top:5px;width:100px;float:left;padding-left:10px;padding-bottom:20px;z-index:2;}
#user .header .user-buttons a {display:block;float:left;position:relative;margin-right:6px;text-decoration:none;margin-top:10px;}
#user .header .user-buttons .add-friend {width:26px;height:22px;background:url(/images/common.png) no-repeat -200px -220px;}
#user .header .user-buttons .friend {float:left;color:#22af16;margin-right:5px;font-size:13px;margin-top:10px;line-height:20px;}
#user .header .user-buttons .new-message {width:27px;height:21px;background:url(/images/common.png) no-repeat -228px -220px;}

#user .header .user-nav {margin-left:360px;padding-top:10px;font-size:13px;padding-bottom:20px;}
#user .user-home .user-nav {padding-bottom:70px;}

#user .new-blog-btn {text-align:right;}

#user .blog-title {font-size:32px;color:#232323;margin-bottom:40px;}
#user .blog-title .settings {display:inline-block;width:15px;height:15px;background:url(/images/common.png) no-repeat -313px -190px;position:relative;top:-1px;}
#user .blog-title .settings:hover {background-position:-330px -190px;}



.ava.big {position:relative;}
.ava.big .renew {background:#fff;background:rgba(255, 255, 255, 0.85);display:block;position:absolute;top:50%;left:50%;color:#9c9c9c;text-decoration:none;text-align:center;font-size:20px;width:130px;margin-left:-65px;margin-top:-1em;line-height:1;padding:5px 0;display:none;}
.ava.big .renew {/*css3*/ -moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;behavior: url(/stylesheets/PIE.htc);}
.ava.big:hover .renew {display:block;}
.ava.big .btn-orange {text-align:center;padding-top:90px;font-size:25px;text-decoration:none;display:block;height:150px;background:url(/images/ava_big_cap.png) no-repeat;}
.ava.big .btn-orange > span {background:none;padding:0;line-height:normal;height:auto;font-size:25px;font-weight:normal;color:#51AFC3;}
.ava.big .btn-orange > span > span {background:none;padding:0;line-height:normal;height:auto;border-bottom:1px dashed #51AFC3;}



#user .side-filter {font-size:13px;padding-bottom:20px;padding-top:60px;}
#user .side-filter ul {list-style:none;padding:0 10px;}
#user .side-filter ul li {padding:3px 10px 4px;text-align:right;line-height:1.2;margin:5px 0;}
#user .side-filter ul li a {text-decoration:none;display:block;}
#user .side-filter ul li a span {border-bottom:1px dashed #51AFC3;float:left;}
#user .side-filter ul li a:hover span {border:0;}
#user .side-filter ul li.active {background:#e9f6fe;font-weight:bold;}
#user .side-filter ul li.active a span {border:0;}

#user .side-nav {font-size:12px;padding-bottom:20px;padding-top:60px;}
#user .side-nav ul {list-style:none;padding:0 10px;}
#user .side-nav ul li {padding:3px 10px 4px;line-height:1.2;margin:5px 0;}
#user .side-nav ul li a {text-decoration:none;border-bottom:1px dashed #51AFC3;margin:0 5px;}
#user .side-nav ul li a:hover {border:0;}
#user .side-nav ul li.active a {background:#e9f6fe;border:0;padding:3px 5px;margin:0;}

#user .content-title {font:bold 25px arial, helvetica, sans-serif;color:#0281b0;margin-bottom:30px;}

#user .user-cols {padding-bottom:20px;}
#user .user-cols .col-1 {float:left;width:240px;padding-right:20px;}
#user .user-cols .col-2 {float:left;width:340px;padding-right:20px;}
#user .user-cols .col-3 {float:left;width:340px;}
#user .user-cols .col-23 {float:left;width:700px;}

#user .user-photo {}
#user .user-photo img {display:block;}

#user  .details {color:#b6b9ba;font-size:9px;font-family:tahoma, arial, helvetica, sans-serif;padding:5px 10px;text-indent:0;text-align:center;}

.user-lvl {width:240px;height:160px;margin-top:10px;}
.user-lvl-0 {height:142px;background:url(/images/user_lvl_0.png) center no-repeat;}
.user-lvl-1 {background:url(/images/user_lvl_1.png) no-repeat;}
.user-lvl-1 span {display:block;padding:80px 0 0;font-size:22px;color:#fff;text-align:center;}

#user .user-lvl {margin-bottom:20px;}

.user-points {margin-bottom:20px;}
.user-points .rank {background:url(/images/user_rank.png) no-repeat;width:240px;height:117px;padding-top:17px;color:#fdf9b9;font-size:13px;font-weight:bold;text-align:center;margin-bottom:20px;}
.user-points .points {text-align:center;font-size:13px;color:#969696;}
.user-points .points .in {display:inline-block;text-align:right;font:normal 9px tahoma, arial, helvetica, sans-serif;color:#59595a;text-transform:uppercase;margin-top:6px;}
.user-points .points .in span {color:#fd5d17;font:bold 25px/1.2 arial black, arial, helvetica, sans-serif;}

#user .user-points-list {}
#user .user-points-list table {width:100%}
#user .user-points-list table td {padding:10px;color:#898889;font-size:13px;vertical-align:middle;}
#user .user-points-list table td span {color:#070707;}
#user .user-points-list table .even td {background:#f5faff;}
#user .user-points-list table .icon {vertical-align:top;text-align:center;}
#user .user-points-list table .count {color:#fd5d17;font-weight:bold;font-size:15px;text-align:right;vertical-align:top}
#user .user-points-list table .minus .count {color:#029ad2;}
#user .user-points-list table .icon i {display:block;background:url(/images/user_points.png);margin:auto;}
#user .user-points-list table .icon i.icon-post {width:16px;height:16px;background-position:0 0;}
#user .user-points-list table .icon i.icon-views {width:22px;height:14px;background-position:-109px 0;}
#user .user-points-list table .icon i.icon-comments {width:21px;height:20px;background-position:-37px 0;}
#user .user-points-list table .icon i.icon-ava {width:18px;height:19px;background-position:-157px 0;}
#user .user-points-list table .icon i.icon-photo {width:26px;height:20px;background-position:-83px 0;}
#user .user-points-list table .icon i.icon-friends {width:25px;height:26px;background-position:-131px 0;}
#user .user-points-list table .icon i.icon-post-d {width:21px;height:20px;background-position:-16px 0;}
#user .user-points-list table .icon i.icon-comment-d {width:25px;height:23px;background-position:-58px 0;}



#user .user-friends {padding-bottom:20px;padding-left:15px;margin-top:-33px;}
#user .user-friends ul {list-style:none;}
#user .user-friends ul li {float:left;margin:0 15px 15px 0;}
#user .user-friends ul li img {display:block;}
#user .user-friends .more-friends .wannachat {display:inline-block;background:#a888c6;color:#fff;font:normal 15px tahoma, arial, helvetica, sans-serif;padding:3px 15px;text-decoration:none;margin-left:2px;margin-left:10px;}
#user .user-friends .more-friends .wannachat {/*css3*/ -moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;behavior: url(/stylesheets/PIE.htc);}

#user .user-map {padding:10px 8px 7px;border:1px solid #e8e8e8;margin-bottom:20px;height:268px;}

#user .user-map .header {position:relative;padding-bottom:5px;}
#user .user-map .header .box-title {display:inline-block;width:100px;vertical-align:middle;padding-left:10px;}
#user .user-map .header .sep {display:inline-block;width:50px;vertical-align:middle;}
#user .user-map .header .location {display:inline-block;width:120px;vertical-align:middle;padding-left:20px;}
#user .user-map .header .location .flag {display:inline-block;}
#user .user-map .header .location p {font-size:9px;color:#9ba0a0;margin-top:5px;}
#user .user-map .header .edit {display:block;width:15px;height:15px;background:url(/images/common.png) no-repeat -313px -190px;position:absolute;right:0px;top:0px;text-decoration:none;}
#user .user-map .header .edit:hover {background-position:-330px -190px;}

#user .user-map form {}
#user .user-map form .row {padding:5px 0;}
#user .user-map form label {display:block;margin-bottom:5px;font-size:16px;}
#user .user-map form input[type=text] {width:310px;padding:3px 5px;border:1px solid #c9eaf1;font-family:arial, sans-serif;margin-bottom:2px;}
#user .user-map form small {font-size:11px;color:#a3a3a3;}
#user .user-map .w-200 {width:208px;}


#locationEdit {width:400px;}



#user .user-mood {font-size:22px;color:#484747;padding-left:15px;position:relative;margin-bottom:8px;margin-top:-33px;}
#user .user-mood img {vertical-align:top;position:relative;margin-top:-27px;}

#user .user-mood .moods-list {position:absolute;left:0;top:100%;background:#fffeea;z-index:4;padding:5px;width:470px;font-size:9px;border:1px solid #e7e395;}
#user .user-mood .moods-list {/*css3*/ -moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;behavior: url(/stylesheets/PIE.htc);}
#user .user-mood .moods-list ul {list-style:none;}
#user .user-mood .moods-list li {width:92px;float:left;text-align:center;border:1px solid #fffeea;height:90px;}
#user .user-mood .moods-list li {/*css3*/ -moz-border-radius:10px;-webkit-border-radius:10px;border-radius:5px;behavior: url(/stylesheets/PIE.htc);}
#user .user-mood .moods-list li a {display:block;width:92px;height:95px;text-decoration:none;color:#918b1a;padding-top:5px;line-height:1;padding:3px 0;}
#user .user-mood .moods-list li img {display:block;top:auto;margin:0 0 4px;}
#user .user-mood .moods-list li:hover {border-color:#e7e395;}
#user .user-mood .moods-list:before {display:block;content:'';width:19px;height:16px;background:url(/images/common.png) no-repeat -557px -198px;position:absolute;bottom:100%;right:200px;}
#user .user-mood a.small {font-size:11px;}

#user #userMoodTooltip {position:absolute;display:none;z-index:99;background:#fffeea;padding:3px 6px;border:1px solid #e7e395;font-size:14px;}
#user #userMoodTooltip {/*css3*/ -moz-box-shadow:0px 0px 10px #e7e395;-webkit-box-shadow:0px 0px 10px #e7e395;box-shadow:0px 0px 10px #e7e395;behavior: url(/stylesheets/PIE.htc);}

#user .user-status {background:#cdecff;padding:10px 15px;position:relative;margin-bottom:10px;min-height:40px;}
#user .user-status {/*css3*/ -moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;behavior: url(/stylesheets/PIE.htc);}
#user .user-status:after {display:block;content:'';width:45px;height:44px;background:url(/images/common.png) no-repeat -557px -152px;position:absolute;right:100%;top:25px;}
#user .user-status .date {color:#b6b9ba;font-size:9px;font-family:tahoma, arial, helvetica, sans-serif;padding-bottom:8px;}
#user .user-status p {color:#0281b0;font:italic 20px 'times new roman', 'times', arial, helvetica, sans-serif;}
#user .user-status form {text-align:right;}
#user .user-status textarea {vertical-align:bottom;overflow:auto;width:300px;max-width:300px;margin-right:5px;height:90px;padding:2px 5px;border:1px solid #c5e8ef;margin-bottom:5px;}
#user .user-status .date a.pseudo {font-size:11px;position:relative;top:-2px;}

#user .user-purpose {color:#4c4d4d;font-size:11px;position:relative;padding-left:100px;min-height:60px;margin-bottom:20px;}
#user .user-purpose p {color:#fe4939;line-height:1;font-size:14px;margin-top:5px;}
#user .user-purpose p a {font-size:12px;}
#user .user-purpose .icon {display:block;width:78px;height:65px;background:url(/images/common.png) no-repeat -604px -153px;position:absolute;top:0;left:11px;}
#user .user-purpose form {text-align:right;margin:10px 0 0 -6px;}
#user .user-purpose textarea {vertical-align:bottom;overflow:auto;width:228px;max-width:228px;margin-right:5px;height:90px;padding:2px 5px;border:1px solid #c5e8ef;margin-bottom:5px;}
#user .user-purpose span {font-size:12px;}

#user .user-blog {padding:15px;margin-bottom:20px;border:1px solid #e8e8e8;}
#user .user-blog ul {list-style:none;}
#user .user-blog ul li {width:140px;display:inline-block;vertical-align:top;padding-right:10px;padding-bottom:15px;line-height:1.4;}
#user .user-blog ul li a {font-weight:bold;}
#user .user-blog ul li .date {color:#b6b9ba;font-size:9px;font-family:tahoma, arial, helvetica, sans-serif;margin:6px 0 8px;}
#user .user-blog ul li img {max-width:140px;}
#user .user-blog ul li p {font-size:11px;}
#user .user-blog .box-title .btn {margin-right:0;}

#user .user-photo-add {padding:5px;border:1px solid #e8e8e8;}

#user .user-add {margin-bottom:20px;text-align:center;}
#user .user-add a {vertical-align:middle;display:inline-block;font:italic 20px/1 'timew new roman', times, sans;color:#2D87BE;}
#user .user-add img {margin-right:20px;}

#user .user-blog.user-add img {margin-right:-20px;}
#user .user-map.user-add {text-align:left;}
#user .user-map.user-add big {position:relative;z-index:2;margin-left:10px;display:block;}
#user .user-map.user-add a {font-size:45px;line-height:35px;text-decoration:none;}
#user .user-map.user-add img {margin-top:-45px;margin-left:1px;}



#user .user-interests {}
#user .user-interests ul {list-style:none;}
#user .user-interests ul li {display:inline-block;}
#user .user-interests > ul > li {margin-bottom:20px;}

#user .user-interests .interest-add {display:inline-block;width:16px;height:16px;background:url(/images/common.png) no-repeat -139px -174px;}


#interestsEdit {width:360px;}
#interestsEdit .title {font-size:22px;font-weight:bold;color:#0281b0;margin-bottom:20px;}

#interestsEdit .nav {font-size:13px;padding-bottom:20px;width:178px;border-right:1px solid #daebfe;margin-right:-1px;float:left;}
#interestsEdit .nav ul {overflow:hidden;list-style:none;display:inline-block;}
#interestsEdit .nav ul li {display:block;margin-bottom:5px;height:20px;line-height:20px;}
#interestsEdit .nav ul li a {display:inline-block;border-bottom:1px dashed #51afc3;text-decoration:none;height:16px;line-height:16px;margin:2px 5px;}
#interestsEdit .nav ul li a:hover {border:0;}
#interestsEdit .nav ul li.active a {border:0;cursor:default;background:#cdecff;padding:2px 5px;margin:0;}

#interestsEdit .interests-list {float:left;width:160px;padding-left:20px;border-left:1px solid #daebfe;}
#interestsEdit .interests-list ul {list-style:none;}
#interestsEdit .interests-list ul li {margin-bottom:12px;}
#interestsEdit .interests-list {overflow:hidden;}
#interestsEdit .interests-list label {cursor:pointer;}
#interestsEdit .interests-list input {visibility:hidden;}


#interestsManage {width:860px;}

#interestsManage .interests-steps {padding-top:15px;}

#interestsManage .interests-steps .step-title {margin-bottom: 20px;}
#interestsManage .interests-steps .step-title .num {float: left; width: 35px; font-size: 53px; color: #80c87a; font-weight: bold;line-height:44px;}
#interestsManage .interests-steps .step-title .text {float: left; width: 165px; font-size: 22px;color: #62a3e5; line-height: 1;}

#interestsManage .interests-steps .step-1 {float: left; width: 200px; padding-right: 20px;}

#interestsManage .interests-steps .step-1 ul {list-style: none;}
#interestsManage .interests-steps .step-1 ul li {margin: 5px 0;}
#interestsManage .interests-steps .step-1 ul li a {color: #5a5a5b; text-decoration: none; border-bottom: 1px dashed #5a5a5b;}
#interestsManage .interests-steps .step-1 ul li a:hover {border: 0;}
#interestsManage .interests-steps .step-1 ul li.active a {background: #fdfb91; border: 0;}

#interestsManage .interests-steps .step-2 {float: left; width: 280px; padding-right: 20px;}

#interestsManage .interests-steps .step-2 .interests-drag-list {margin-bottom: 20px;}
#interestsManage .interests-steps .step-2 .interests-drag-list .interest-drag {background: #dfeefe; float: left; height: 22px; line-height: 22px; padding: 0 10px 0 6px; margin: 0 10px 10px 0; cursor: move; color: #575757;}
#interestsManage .interests-steps .step-2 .interests-drag-list .interest-drag {/*css3*/ border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; behavior: url(/stylesheets/PIE.htc);}
#interestsManage .interests-steps .step-2 .interests-drag-list .interest-drag .icon {float: left; width: 4px; height: 10px; background: url(/images/common.png) no-repeat -383px -179px; margin: 6px 6px 0 0;}

#interestsManage .interests-steps .step-2 .note {color: #646465;margin-bottom:15px;}
#interestsManage .interests-steps .step-2 .note span {font-size: 25px; font-weight: bold; color: #62a3e5; position: relative; top: 8px; margin-right: 5px;}

#interestsManage .interests-steps .step-3 {float: left; width: 340px;}

#interestsManage .interests-steps .step-3 .drag-in-area {padding: 15px 30px 15px; border: 2px dashed #c5c6c7; margin-bottom: 20px; text-align: center;}
#interestsManage .interests-steps .step-3 .drag-in-area {/*css3*/ border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px; behavior: url(/stylesheets/PIE.htc);}
#interestsManage .interests-steps .step-3 .drag-in-area .small {font-size: 11px; font-family: tahoma, arial, helvetica, sans-serif; color: #b4b4b5;}
#interestsManage .interests-steps .step-3 .drag-in-area .text {padding: 20px 0 10px; display: block; font-size: 20px; color: #bababa; line-height: 24px;}
#interestsManage .interests-steps .step-3 .drag-in-area .text img {float: left; margin-top: -10px; margin-right: 10px;}

#interestsManage .interests-steps .step-3 .selected-interests-list {}
#interestsManage .interests-steps .step-3 .selected-interests-list ul {list-style: none; font-size: 11px; line-height: 12px; margin-bottom: 30px;}
#interestsManage .interests-steps .step-3 .selected-interests-list ul li {width:160px; display: inline-block; vertical-align: middle; padding: 10px 5px 10px 0;}
#interestsManage .interests-steps .step-3 .selected-interests-list ul li .img {display: inline-block; width: 50px; text-align: right; vertical-align: middle; margin-right: 3px;}
#interestsManage .interests-steps .step-3 .selected-interests-list ul li .img img {}
#interestsManage .interests-steps .step-3 .selected-interests-list ul li .text {display: inline-block; max-width: 85px; vertical-align: middle;}
#interestsManage .interests-steps .step-3 .selected-interests-list ul li .text a {color: #292929; font-family: tahoma; text-decoration: none; vertical-align:top;display:inline-block;max-width:78px;}
#interestsManage .interests-steps .step-3 .selected-interests-list ul li .text .remove {color: #4d92d9; font-family: tahoma; text-decoration: none;}
#interestsManage .interests-steps .step-3 .selected-interests-list ul li .remove {display: inline-block; width: 12px; height: 14px; background: url(/images/common.png) no-repeat -314px -135px; vertical-align: middle; position: relative;margin-right:-12px;margin-left:3px;}
#interestsManage .interests-steps .step-3 .selected-interests-list ul li .remove:hover {background-position:-314px -148px;}

#interestsManage .interests-steps .step-3 .selected-interests-list .btn-box {text-align: center;}
#interestsManage .interests-steps .step-3 .selected-interests-list .btn-box .btn-finish {display: inline-block; height: 58px; border: 1px solid #34ac51; background: #46b14e url(/images/btn_green_60.gif) repeat-x; line-height: 58px; color: #fff; font-size: 18px; font-weight: bold; text-decoration: none; padding: 0 30px;}
#interestsManage .interests-steps .step-3 .selected-interests-list .btn-box .btn-finish {/*css3*/ border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; behavior: url(/stylesheets/PIE.htc);}




#blogSettings {width:740px;}
#blogSettings .popup-title {text-align:left;margin-bottom:20px;}
#blogSettings .settings-form {margin:20px 0;}
#blogSettings .settings-form .row {margin-bottom:20px;}
#blogSettings .settings-form .row .row-title {font-size:16px;color:#4c4d4d;}
#blogSettings .settings-form .row .row-title span {font-size:11px;color:#6d6d6d;font-family:tahoma, arial, helvetica, sans-serif;}
#blogSettings .settings-form .row .row-elements {margin:8px 0;}
#blogSettings .settings-form .row .row-elements input[type=text] {padding:5px 10px;border:1px solid #cdcdcd;background:#fff;width:308px;font-size:15px;color:#3d3d3d;vertical-align:middle;}
#blogSettings .settings-form .row .row-elements textarea {padding:5px 10px;border:1px solid #cdcdcd;background:#fff;width:308px;font-size:13px;color:#3d3d3d;vertical-align:bottom;width:80%;height:60px;}
#blogSettings .settings-form .row .row-elements .btn-green-small {margin-left:5px;}
#blogSettings .settings-form .row .row-elements .item-title {font-size:18px;color:#3680cc;}
#blogSettings .settings-form .row .row-elements .edit {display:inline-block;width:14px;height:18px;background:url(../images/common.png) no-repeat -383px -204px;margin-left:5px;position:relative;top:2px;}
#blogSettings .settings-form .row .row-elements .edit:hover {background-position:-341px -136px;}

#blogSettings .rubrics .note {color:#616162;font-size:12px;}
#blogSettings .rubrics .note span {font-size: 25px; font-weight: bold; color: #62a3e5; position: relative; top: 8px; margin-right: 5px;}

#blogSettings .rubrics .list {margin:25px 0;}
#blogSettings .rubrics .list .col {width:47%;padding-right:3%;float:left;}
#blogSettings .rubrics .list .col ul {list-style:none;}
#blogSettings .rubrics .list .col ul li {padding-bottom:6px;color:#9b9a9b;}
#blogSettings .rubrics .list .col ul li .num {display:inline-block;width:20px;color:#9c9d9d;font-size:16px;vertical-align:middle;}
#blogSettings .rubrics .list .col ul li .rubric {background:#e7f4ff;display:inline-block;height:24px;padding:0 8px 0 6px;line-height:24px;white-space:nowrap;width:auto;color:#353535;cursor:move;}
#blogSettings .rubrics .list .col ul li .rubric span {float: left; width: 4px; height: 10px; background: url(/images/common.png) no-repeat -383px -179px; margin: 6px 6px 0 0;}
#blogSettings .rubrics .list .col ul li .remove { width: 12px; height: 14px; background: url(/images/common.png) no-repeat -314px -135px; vertical-align: middle; position: relative;display:none;margin-left:5px;}
#blogSettings .rubrics .list .col ul li .remove:hover {background-position:-314px -148px;}
#blogSettings .rubrics .list .col ul li .edit {display:none;width:14px;height:18px;background:url(../images/common.png) no-repeat -383px -204px;margin-left:5px;position:relative;vertical-align:middle;}
#blogSettings .rubrics .list .col ul li .edit:hover {background-position:-341px -136px;}
#blogSettings .rubrics .list .col ul li:hover .remove, #blogSettings .rubrics .list .col ul li:hover .edit {display: inline-block;}
#blogSettings .rubrics .list .col ul li .icon-add {display:inline-block;width:16px;height:16px;background:url(/images/common.png) no-repeat -139px -174px;position:relative;top:-2px;}
#blogSettings .rubrics .list .col ul li input[type=text] {padding:3px 5px;border:1px solid #cbdcea;background:#fff;width:270px;color:#3d3d3d;vertical-align:middle;font-size:11px;font-family:tahoma, arial, helvetica, sans-serif;margin-top:5px;}
#blogSettings .rubrics .list .col ul li .btn {vertical-align:middle;position:relative;top:1px;margin-left:5px;}



#blogSettings .rubrics .bottom-line .note {padding-top:15px;}
#blogSettings .rubrics .bottom-line .note .in {display:inline-block;vertical-align:middle;margin-right:25px;font-size:13px;line-height:16px;white-space:nowrap}
#blogSettings .rubrics .bottom-line .note span {float:left;margin-right:5px;position:relative;top:0;}
#blogSettings .rubrics .bottom-line .note img {vertical-align:middle;}

#blogSettings .rubrics .btn-box {float:right;}

#blogSettings .btn-finish {display: inline-block; height: 58px; border: 1px solid #34ac51; background: #46b14e url(/images/btn_green_60.gif) repeat-x; line-height: 58px; color: #fff; font-size: 18px; font-weight: bold; text-decoration: none; padding: 0 30px;}
#blogSettings .btn-finish {/*css3*/ border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; behavior: url(/stylesheets/PIE.htc);}



#user .user-clubs {padding-bottom:20px;padding-left:15px;}
#user .user-clubs ul {list-style:none;}
#user .user-clubs ul li {float:left;margin:0 15px 0px 0;}

#user .user-albums {padding:15px;border:1px solid #e8e8e8;margin-bottom:20px;}
#user .user-albums .box-title .btn {margin-right:0;}
#user .user-albums ul {list-style:none;}
#user .user-albums ul li {padding-bottom:20px;}
#user .user-albums ul li big {color:#4c4d4d;display:block;margin:0px 0 15px;font-size:14px;}
#user .user-albums ul li .preview {position:relative;width:210px;height:180px;float:left;}
#user .user-albums ul li .preview img {position:absolute;display:block;}
#user .user-albums ul li .preview img.img-1 {top:0;left:0;}
#user .user-albums ul li .preview img.img-2 {right:0;top:20px;}
#user .user-albums ul li .preview img.img-3 {left:20px;bottom:0;}
#user .user-albums ul li .more {color:#b9b9b9;font-size:13px;padding-top:50px;float:left;text-decoration:none;margin-left:20px;max-width:80px;text-align:center}
#user .user-albums ul li .more .icon {display:block;width:56px;height:56px;background:url(../images/common.png) no-repeat -499px -135px;margin:0 auto;margin-bottom:10px;}
#user .user-albums ul li .more:hover .icon {background-position:-499px -193px;}
#user .user-albums ul li .more:hover {color:#7abc2e;text-decoration:underline;}

#user .user-family {margin-bottom:20px;margin-top:3px;}
#user .user-family .t {height:39px;background:url(/images/bg_user_family.png) no-repeat 0 0;}
#user .user-family .c {background:url(/images/bg_user_family.png) repeat-y 100% 0;padding:10px 30px 10px;}
#user .user-family .b {height:18px;background:url(/images/bg_user_family.png) no-repeat 0 100%;}
#user .user-family ul {list-style:none;}
#user .user-family ul li {list-style:none;margin-top:15px;}
#user .user-family ul li:first-child {margin-top:0;}
#user .user-family ul li big {font-size:18px;color:#4c4d4d;display:block;line-height:1;margin-bottom:5px;}
#user .user-family ul li big small {font-size:11px;color:#939697;}
#user .user-family ul li big span {font-size:14px;}
#user .user-family ul li .img {margin-bottom:5px;}
#user .user-family ul li .img img {display:block;margin:auto;max-width:180px;}
#user .user-family ul li .comment {margin-bottom:8px;position:relative;color:#3c93bc;font-size:13px;font-family:times new roman, serif;font-style:italic;padding:8px 10px;line-height:14px;position:relative;}
#user .user-family ul li .comment {/*css3*/ -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;behavior: url(/stylesheets/PIE.htc);}
#user .user-family ul li .comment.purple {background:#f3e8fe;}
#user .user-family ul li .comment.blue {background:#dbeefc;}
#user .user-family ul li .comment.pink {background:#ffe3f9;}
#user .user-family ul li .comment .tale {position:absolute;display:block;width:30px;height:23px;right:65px;top:100%;}
#user .user-family ul li .comment.purple .tale {background:url(/images/common.png) no-repeat -472px -251px;}
#user .user-family ul li .comment.blue .tale {background:url(/images/common.png) no-repeat -504px -251px;}
#user .user-family ul li .comment.pink .tale {background:url(/images/common.png) no-repeat -472px -276px;}



#user .user-family.user-family-cap .c {padding:0 17px;}
#user .user-family .cap {display:block;width:100%;background:#f9f5ef url(/images/bg_user_family_cap.gif) no-repeat bottom;text-align:center;padding:15px 0 215px;font-size:15px;}
#user .user-family .cap:hover {text-decoration:none;}


#user .family {padding-left:30px;}
#user .family .content-title {margin-bottom:20px;}

#user .family .family-radiogroup {background:#f1e4fd;margin-left:-15px;padding:10px 15px;margin-bottom:15px;display:inline-block;}
#user .family .family-radiogroup .radiogroup {display:inline-block;vertical-align:top;}
#user .family .family-radiogroup .title {font-size:22px;color:#484747;line-height:1;margin-bottom:10px;}
#user .family .family-radiogroup .radio-label {padding:0 10px;height:19px;display:inline-block;line-height:19px;text-align:center;background:#fff;border:1px solid #dcc7ee;font-size:13px;color:#aeadad;cursor:pointer;}
#user .family .family-radiogroup .radio-label {/*css3*/ -moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;behavior: url(/stylesheets/PIE.htc);}
#user .family .family-radiogroup .radio-label.checked {background:#dcc7ee;color:#714399;}
#user .family .family-radiogroup .radio-label input {display:none;}

#user .family .family-member {font-size:13px;padding-bottom:20px;}


#user .family .family-member .data {margin-bottom:10px;}

#user .family .family-member .data .d-text {color:#929292;float:left;margin-right:10px;}

#user .family .family-member .data .name {float:left;margin-right:10px;}
#user .family .family-member .data .name .text {font-size:15px;color:#2584b0;font-weight:bold;float:left;}
#user .family .family-member .data .name .input {float:left;}
#user .family .family-member .data .name .input input {border:1px solid #badef1;font-size:15px;line-height:1;padding:2px 7px;margin:-2px 0 0 0;font-size:15px;font-weight:bold;color:#2584b0;}
#user .family .family-member .data .name .edit {display:block;width:14px;height:18px;background:url(/images/common.png) no-repeat -383px -204px;margin:0 auto;position:relative;text-decoration:none;font-weight:normal;z-index:3;float:left;margin-left:5px;}
#user .family .family-member .data .name .edit:hover {background-position:-341px -136px;}

#user .family .family-member .data .gender {display:block;width:22px;height:21px;background:url(/images/common.png) no-repeat 22px 21px;float:left;margin-right:3px;position:relative;margin-top:-2px;}
#user .family .family-member .data .gender.male {background-position:-556px -244px}
#user .family .family-member .data .gender.male:hover, #user .family .family-member .data .gender.male.active {background-position:-556px -221px;}
#user .family .family-member .data .gender.female {background-position:-580px -244px}
#user .family .family-member .data .gender.female:hover, #user .family .family-member .data .gender.female.active {background-position:-580px -221px}
#user .family .family-member .data .gender.question {width:11px;background-position:-623px -244px}
#user .family .family-member .data .gender.question:hover, #user .family .family-member .data .gender.question.active {width:11px;background-position:-623px -221px}

#user .family .family-member .data .age {float:left;color:#2584b0;font-size:15px;margin-left:5px;}

#user .family .family-member .data div.date {display:block;width:18px;height:17px;float:left;margin-left:8px;position:relative;}
#user .family .family-member .data div.date a.date {display:block;width:18px;height:17px;background:url(/images/common.png) no-repeat -603px -244px;}
#user .family .family-member .data div.date .datepicker {position:absolute;top:30px;left:-115px;border:1px solid #badef1;width:360px;padding:10px 0;background:#fff;padding-top:50;text-align:center;z-index:5;}
#user .family .family-member .data div.date .datepicker .tale {display:block;content:'';width:18px;height:17px;background:url(/images/common.png) no-repeat -536px -251px;position:absolute;top:-17px;left:93px;}
#user .family .family-member .data div.date .datepicker .w-1 {width:60px;}
#user .family .family-member .data div.date .datepicker .w-2 {width:120px;}
#user .family .family-member .data div.date .datepicker .w-3 {width:80px;}
#user .family .family-member .data div.date a.date:hover {background-position:-603px -221px;}

#user .family .family-member .data .comment {display:block;width:25px;height:19px;background:url(/images/common.png) no-repeat -636px -244px;float:left;margin-left:8px;position:relative;}
#user .family .family-member .data .comment:hover {background-position:-636px -221px;}

#user .family .family-member .data .photo {display:block;width:22px;height:16px;background:url(/images/common.png) no-repeat -663px -244px;float:left;margin-left:8px;position:relative;}
#user .family .family-member .data .photo:hover {background-position:-663px -221px;}
#user .family .family-member .data .photo form {position:absolute;width:22px;height:16px;overflow:hidden;left:0;top:0;}
#user .family .family-member .data .photo input[type=file] {opacity:0;position:absolute;z-index:3;right:0;top:0;height:100%;display:block;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);width:210px;cursor: pointer;}


#user .family .family-member .comment {}
#user .family .family-member .comment .text {font-size:13px;color:#484747;width:350px;}
#user .family .family-member .comment .text .edit {display:inline-block;width:14px;height:18px;background:url(/images/common.png) no-repeat -383px -204px;margin:0 auto;position:relative;text-decoration:none;font-weight:normal;z-index:3;vertical-align:middle;}
#user .family .family-member .comment .text .edit:hover {background-position:-341px -136px;}
#user .family .family-member .comment .input {position:relative;}
#user .family .family-member .comment .input .tale {display:block;content:'';width:18px;height:17px;background:url(/images/common.png) no-repeat -536px -251px;position:absolute;top:-19px;left:110px;}
#user .family .family-member .comment .input textarea {font-size:15px;line-height:1;padding:2px 7px;margin:-3px 0 0 -8px;font-size:15px;overflow:auto;width:350px;height:30px;font-size:13px;color:#484747;vertical-align:bottom;border:1px solid #badef1;max-width:350px;resize:none;}

#user .family .family-member .photos {margin-top:10px;}
#user .family .family-member .photos ul {overflow:hidden;}
#user .family .family-member .photos ul li {position:relative;display:inline-block;margin:0 10px 10px 0;vertical-align:bottom;}
#user .family .family-member .photos ul li:first-child {margin-left:0;}
#user .family .family-member .photos ul li img {display:block;}
#user .family .family-member .photos ul li .remove {display:none;width:20px;height:18px;background:url(../images/common.png) no-repeat -2px -101px;position:absolute;top:0;right:0;}
#user .family .family-member .photos ul li:hover .remove {display:block;}
#user .family .family-member .photos ul li.add {text-align:center;line-height:normal;}
#user .family .family-member .photos ul li.add a {position:relative;display:block;width:148px;height:50px;background:url(/images/gallery_photos_add.png) no-repeat;text-decoration:none;padding-top:60px;overflow:hidden;}
#user .family .family-member .photos ul li.add a:hover .icon {background-position:-429px -191px;}
#user .family .family-member .photos ul li.add a .icon {display:block;width:33px;height:33px;background:url(/images/common.png) no-repeat -464px -191px;top:20px;left:50%;margin-left:-16px;position:absolute;}
#user .family .family-member .photos ul li.add a span {margin-top:60px;border-bottom:1px dashed #1b98c5;}
#user .family .family-member .photos ul li.add a:hover span {border:0;}
#user .family .family-member .photos ul li.add a input[type=file] {opacity:0;position:absolute;z-index:3;right:0;top:0;height:100%;display:block;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);width:210px;}


#user .user-weather {margin-bottom:20px;padding:10px 14px;border:1px solid #e8e8e8;height: 185px;}
#user .user-weather .box-title a.pseudo {margin-top:7px;}
#user .user-weather .location {font-size:12px;color:#929292;}
#user .user-weather .location .flag {display:inline-block;margin-right:5px;position:relative;top:1px;}
#user .user-weather .location big {font-size:22px;color:#484747;}
#user .user-weather .clearfix {margin:7px auto 0;text-align:center;}
#user .user-weather .img {display:inline-block;padding:10px;vertical-align:top;}
#user .user-weather .text {display:inline-block;padding:10px;width:95px;vertical-align:top;}
#user .user-weather .text big {line-height:55px;font-size:55px;color:#2997e3;}
#user .user-weather .text .row {padding:3px 10px;font-size:12px;color:#4d9fd5;text-align:left;}
#user .user-weather .text .row span {float:left;width:55px;color:#484747;}
#user .user-weather .text .row.hl {background:#e1f3fe;} 
#user .user-weather table {margin:7px 0 15px;width:100%;text-align:center;}
#user .user-weather table td {padding:6px 5px;font-size:13px;color:#2997e3;width:1%;}
#user .user-weather table thead td {border-top:1px solid #c2e7f7;border-bottom:1px solid #c2e7f7;height:23px;line-height:23px;color:#868788;font-size:12px;padding:0 5px;}
#user .user-weather table .hl td {background:#e8f6ff;}

#user .user-horoscope {padding:10px 14px;border:1px solid #efefef;margin-bottom:20px;}
#user .user-horoscope .clearfix {text-align:center;}
#user .user-horoscope .title {font-size:28px;color:#2d87be;display:inline-block;vertical-align:middle;font-family:times new roman, serif;font-style:italic;}
#user .user-horoscope .img {width:120px;margin:0 5px;height:90px;background:url(/images/widget/horoscope/bg.png) no-repeat;display:inline-block;vertical-align:middle;}
#user .user-horoscope .date {display:inline-block;text-align:center;font-size:13px;color:#565655;vertical-align:middle;font-size:32px;color:#fa717c;line-height:25px;font-weight:bold;text-transform:uppercase;}
#user .user-horoscope .date span {display:block;font-size:18px;line-height:1;}
#user .user-horoscope p {font-size:12px;line-height:19px;margin:0 0 1em 0;color:#404040;}
#user .user-horoscope b {color:#f05d6e;}

#user .user-duel {background:#d0e6ff;padding:15px;}
#user .user-duel .box-title {}
#user .user-duel .box-title span {color:#3d7cb1;}
#user .user-duel .question {font-size:15px;color:#555455;padding:10px 10px 10px 50px;margin-bottom:10px;background:#eef6fe url(/images/icon_info_29x29.png) no-repeat 10px 10px;min-height:29px;}
#user .user-duel .my-votes {padding-bottom:15px;}
#user .user-duel .my-votes .ava {float:left;}
#user .user-duel .my-votes .in {background:#ffffff;position:relative;padding:10px;text-align:center;float:left;margin-left:8px;width:210px;}
#user .user-duel .my-votes .in {/*css3*/ -moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;behavior: url(/stylesheets/PIE.htc);}
#user .user-duel .my-votes .in .tale {display:block;width:28px;height:32px;position:absolute;background:url(/images/user_duel_tale.png) no-repeat;right:100%;top:25px;}
#user .user-duel .my-votes .in .label {color:#6d6d6e;font:italic 25px/1 times new roman, serif;margin-bottom:10px;}
#user .user-duel .my-votes .in .count {display:inline-block;vertical-align:top;margin-left:10px;margin-bottom:10px;color:#939292;width:100px;}
#user .user-duel .my-votes .in .count span {display:block;font:italic 60px/0.9 times new roman, serif;color:#2fa84b;}
#user .user-duel .my-votes .in img {margin-left:15px;}
#user .user-duel .opponent {color:#515151;padding-left:10px;}
#user .user-duel .opponent .count {float:right;margin-top:5px;width:100px;text-align:center;margin-right:27px;color:#939292;}
#user .user-duel .opponent .count span {color:#4992d0;display:block;font:italic 30px/0.9 times new roman, serif;}
#user .user-duel .opponent .user-info {margin-top:5px;}
#user .user-duel .opponent .user-info .details {margin-left:30px;}
#user .user-duel .opponent .user-info .details .username {width:110px;}

#user .friends {}
#user .friends ul {list-style:none;}
#user .friends ul li {float:left;width:32%;padding-bottom:30px;font-size:11px;padding-right:1%;position:relative;}
#user .friends ul li .ava {float:left;}
#user .friends ul li .details {margin-left:90px;}
#user .friends ul li a {text-decoration:none;}
#user .friends ul li .remove {display:block;width:12px;height:14px;background:url(/images/common.png) no-repeat -314px -135px;margin-left:10px;position:absolute;top:0;right:20px;}
#user .friends ul li .remove:hover {background-position:-314px -148px;}

#user .friends .actions {padding-top:8px;}

#user .clubs {}
#user .clubs ul {list-style:none;}
#user .clubs ul li {float:left;margin:0 20px 15px 0;}

#user .calendar-date {width:85px;height:80px;background:url(../images/common.png) no-repeat -614px -1px;margin:5px auto 15px;text-align:center;}
#user .calendar-date .y {padding-top:10px;font-size:10px;color:#464545;}
#user .calendar-date .d {margin-top:5px;font-size:20px;font-weight:bold;color:#ff7902;line-height:1;}
#user .calendar-date .m {color:#ff7902;font-size:18px;font-weight:bold;}

#user .user-joined {margin-bottom:30px;}
#user .user-joined .calendar-date {display:inline-block;vertical-align:middle;}
#user .user-joined span {display:inline-block;width:140px;padding-left:10px;vertical-align:middle;font-size:13px;color:#5b5b5b;}

#user-activity {}

#user-activity .calendar-date {margin:0 auto 15px;}

#user-activity .added-to {font-weight:bold;font-family:tahoma, arial, helvetica, sans-serif;font-size:11px;margin-bottom:10px;}
#user-activity .added-to > span {margin-right:5px;}
#user-activity .added-to .user-info {float:none;display:inline-block;font-weight:normal;font-family:arial, helvetica, sans-serif;vertical-align:middle;}
#user-activity .added-to .user-info .details {margin-left:30px;}
#user-activity .added-date {text-align:right;color:#b6b9ba;font-size:9px;font-family:tahoma, arial, helvetica, sans-serif;margin-bottom:10px;margin-top:-5px;}

#user-activity .user-mood {padding:20px 15px 0;margin-top:0;white-space:nowrap;}

#user-activity .user-status:after {display:none;}
#user-activity .box .box-title {padding:0 15px;padding-bottom:10px;}

#user .user-post {padding:15px 15px 0;margin-bottom:20px;border:1px solid #e8e8e8;}
#user .user-post ul {list-style:none;}
#user .user-post ul li {margin-bottom:15px;}
#user .user-post ul li .item-title {font-weight:bold;font-family:tahoma, arial, helvetica, sans-serif;font-size:12px;margin-bottom:12px;}
#user .user-post ul li .comment {font-size:11px;background:#dcf2ff;position:relative;padding:7px 12px;color:#464545;margin-top:12px;}
#user .user-post ul li .comment {/*css3*/ -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;}
#user .user-post ul li .comment .date {text-align:right;color:#b6b9ba;font-size:9px;font-family:tahoma, arial, helvetica, sans-serif;margin-bottom:2px;}
#user .user-post ul li .comment:after {display:block;content:'';border:7px solid transparent;border-top:0;border-bottom-color:#dcf2ff;position:absolute;left:50%;top:-7px;margin-left:-7px;}
#user .user-post ul li .img {margin-bottom:5px;}

#user-activity .user-friends {padding:15px;border:1px solid #e8e8e8;margin:0 0 20px;}
#user-activity .user-friends ul {margin-left:-5px;}
#user-activity .user-friends ul li {margin:0 0px 5px 5px;}

#user-activity .user-lvl-box {padding:15px;border:1px solid #e8e8e8;margin:0 0 20px;}
#user-activity .user-lvl-box .user-lvl {margin:0 auto;}
#user-activity .user-lvl-box .box-title {padding:0 0 15px;}

#user-activity .user-interests-box {padding:15px;border:1px solid #e8e8e8;margin:0 0 20px;}
#user-activity .user-interests-box .box-title {padding:0 0 15px;}

#user-activity .user-purpose-box {padding:15px;border:1px solid #e8e8e8;margin:0 0 20px;}
#user-activity .user-purpose-box .box-title {padding:0 0 15px;}

#user-activity .fast-teasers-box {padding:15px;border:1px solid #e8e8e8;margin:0 0 20px;}
#user-activity .fast-teasers-box .box-title {padding:0 0 15px;}

#user-activity .user-family {text-align:center;padding:15px;border:1px solid #e8e8e8;margin:0 0 20px;}
#user-activity .user-family .box-title {padding:0 0 15px;text-align:left;}
#user-activity .user-family .t {height:19px;background-position:0 -20px;width:240px;margin:0 auto;}
#user-activity .user-family .c {width:180px;margin:0 auto;text-align:left;}
#user-activity .user-family .b {width:240px;margin:0 auto 10px;}

#user-activity .user-duel {width:310px !important;}

#user-activity .user-map {width:322px !important;}

#user-activity .user-clubs {padding:15px;border:1px solid #e8e8e8;margin:0 0 20px;}
#user-activity .user-clubs ul {}
#user-activity .user-clubs ul li {margin:0 25px 0 0;}

#user-activity .activity-list {width:720px;padding-bottom:20px;}
#user-activity .activity-list .list-item {float:left;margin-right:20px !important;margin-bottom:20px !important;width:308px;}


#first-steps {background:#fffce4 url(/images/bg_first_steps.gif) no-repeat top;margin-bottom:38px;padding:30px 20px 10px 40px;position:relative;top:-20px;}

#first-steps .block-title {height:45px;}
#first-steps .block-title .title-in {font-size:40px;line-height:1;color:#a97f52;}

#first-steps .block-title .bonus {vertical-align:middle;margin-right:20px;font-size:13px;float:left;}
#first-steps .block-title .bonus  img {vertical-align:middle;margin-left:10px;}

#first-steps .block-title .right {float:right;}

#first-steps .block-title .toggler {text-decoration:none;color:#a18969;vertical-align:top;float:left;margin-top:15px;}
#first-steps .block-title .toggler span {border-bottom:1px dashed #a18969;}
#first-steps .block-title .toggler .icon {display:inline-block;width:9px;height:7px;background:url(/images/common.png) no-repeat -504px -284px;margin-left:5px;}
#first-steps .block-title .toggler.toggled .icon {background-position:-515px -284px;}

#first-steps .block-in {}

#first-steps .block-in .container {padding:15px 0;height:190px;}

#first-steps .block-in .steps-list {float:left;width:354px;border-right:1px solid #eddb9c;height:190px;padding-right:30px;}
#first-steps .block-in .steps-list ul {font-size:15px;list-style:none;}
#first-steps .block-in .steps-list ul li {margin-top:15px;}
#first-steps .block-in .steps-list ul li:first-child {margin-top:0;}
#first-steps .block-in .steps-list ul li .num {font-size:15px;color:#7a7a7a;padding:0 5px;display:inline-block;width:50px;}
#first-steps .block-in .steps-list ul li .text {padding:0 5px;display:inline-block;}
#first-steps .block-in .steps-list ul li .done {padding:0 10px;display:inline-block;color:#3fb550;font-size:13px;}
#first-steps .block-in .steps-list ul li .done .icon {display:inline-block;width:11px;height:8px;background:url(/images/first_steps_done.png) no-repeat;margin-right:5px;}

#first-steps .block-in .info {float:left;width:234px;border-left:1px solid #fff;height:190px;padding-left:20px;text-align:center;}
#first-steps .block-in .info p {margin-bottom:30px;font-size:16px;color:#5b5a5a}
#first-steps .block-in .info p span {display:block;font-size:25px;font-weight:bold;color:#6ecc6c;}
#first-steps .block-in .info .bonus {}
#first-steps .block-in .info .bonus img {vertical-align:middle;}
#first-steps .block-in .info .bonus .bonus-left {display:inline-block;width:135px;vertical-align:middle;text-align:left;font-size:16px;color:#5f5f5f;line-height:1;}
#first-steps .block-in .info .bonus .bonus-left img {position:relative;top:-2px;}
#first-steps .block-in .info .bonus .bonus-left span {font-size:13px;display:block;margin-top:5px;}

#first-steps .finished {text-align:center;padding:30px 20px 30px 0;}
#first-steps .finished .finished-title {font-size:40px;color:#a97f52;line-height:1;margin-bottom:20px;}
#first-steps .finished p {margin-bottom:30px;color:#5d5d5c;font-size:20px;}
#first-steps .finished .bonus {font-size:17px;color:#585858;}
#first-steps .finished .bonus img {vertical-align:middle;margin:0 20px;}
#first-steps .finished .bonus .change {text-align:left;display:inline-block;}
#first-steps .finished .bonus .change span {display:block;height:20px;margin-bottom:-30px;margin-top:5px;}
#first-steps .finished .bonus .change span a {font-size:13px;} 

#firstStepsBirthday {width:700px;}
#firstStepsBirthday .left {width:240px;padding-right:20px;text-align:center;float:left;padding:30px 0;}
#firstStepsBirthday .right {margin-left:260px;padding:30px 0;}
#firstStepsBirthday .right .title {margin-bottom:30px;font-size:25px;}
#firstStepsBirthday .right .select-box {background:#f6eefe;display:block;margin-bottom:30px;text-align:center;color:#6b6b6b;font-size:15px;margin-right:20px;}
#firstStepsBirthday .right .select-box .w-1 {width:30px;}
#firstStepsBirthday .right .select-box .w-2 {width:90px;}
#firstStepsBirthday .right .select-box .w-3 {width:60px;}
#firstStepsBirthday .right .hl {background:#fffbc9;padding:2px 6px;color:#5a5a5a;font-size:14px;}

#firstStepsEmail {width:700px;}
#firstStepsEmail .left {width:240px;padding-right:20px;text-align:center;float:left;padding:30px 0;}
#firstStepsEmail .right {margin-left:260px;padding:30px 0;text-align:center;}
#firstStepsEmail .right .title {margin-bottom:30px;font-size:25px;}
#firstStepsEmail .right  p {color:#5a5a5a;font-size:14px;margin-bottom:30px;}
#firstStepsEmail .right .hl {background:#fffbc9;padding:2px 6px;color:#5a5a5a;}
#firstStepsEmail .right .hl span {color:#1577db;}
#firstStepsEmail .note {color:#62a3e5;font-weight:bold;font-family:arial black, arial, helvetica, sans-serif;font-size:20px;position:relative;top:3px;}
#firstStepsEmail .orange {display:inline-block;padding:0 5px;background:#f89731;color:#fff;text-decoration:none;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;behavior: url(/stylesheets/PIE.htc);font-size:12px;font-family:tahoma, arial, helvetica, sans-serif;}
#firstStepsEmail .bottom {font-size:11px;color:#898989;font-family:tahoma, arial, helvetica, sans-serif;}

#firstStepsLocation {width:700px;}
#firstStepsLocation .left {width:240px;padding-right:20px;text-align:center;float:left;padding:30px 0;}
#firstStepsLocation .right {margin-left:260px;padding:30px 0;text-align:center;}
#firstStepsLocation .right .title {margin-bottom:30px;font-size:25px;}
#firstStepsLocation .right .select-box {background:#f6eefe;display:block;margin-bottom:30px;text-align:center;color:#4c4d4d;font-size:16px;text-align:left;padding:10px 20px;}
#firstStepsLocation .right .select-box  .row {padding:8px 0;line-height:normal;}
#firstStepsLocation .right .select-box .w-1 {width:145px;}
#firstStepsLocation .right .select-box .w-2 {width:230px;}
#firstStepsLocation .right .select-box input[type=text] {padding:3px 10px;border:1px solid #9ad7fd;background:#fff;font-size:15px;color:#3d3d3d;vertical-align:middle;}
#firstStepsLocation .right .select-box .w-3 {width:373px;}
#firstStepsLocation .right .select-box .chzn-v2 {margin:5px 0;}
#firstStepsLocation .right .select-box small {font-size:11px;color:#a3a3a3;}
#firstStepsLocation .right .hl {background:#fffbc9;padding:2px 6px;color:#5a5a5a;font-size:14px;}

/* testtt *//