/* user.css */

#user {line-height:normal;}

#user a.pseudo {border-bottom:1px dashed #51afc3;text-decoration:none;line-height:normal;}

#user .box-title {font-size:22px;color:#4c4d4d;padding-bottom:10px;}
#user .box-title a {font-size:13px;margin-left:10px;}
#user .box-title .btn {position:relative;top:4px;margin-right:15px;margin-left:0;}

#user .header {padding-bottom:10px;}

#user .header .user-name {float:left;padding-left:12px;}
#user .header .user-name h1 {line-height:1;margin:0 0 7px 0;}

#user .header .user-name .online-status {color:#a6a6a6;font-size:13px;}
#user .header .user-name .online-status  .icon {display:inline-block;width:11px;height:11px;background:url(../images/common.png) no-repeat;margin-right:5px;}
#user .header .user-name .online-status.online .icon {background-position:-44px -180px;}
#user .header .user-name .online-status.offline .icon {background-position:-55px -180px;}
#user .header .user-name .online-status .date {font-size:9px;color:#a6a6a6;background:#fffeea;padding:0 5px;}

#user .header .user-buttons {margin-left:260px;position:relative;top:5px;width:150px;}
#user .header .user-buttons a {display:block;float:left;position:relative;margin-right:6px;text-decoration:none;}
#user .header .user-buttons a .tip {display:block;position:absolute;top:100%;white-space:nowrap;background:#fff8b4;color:#7e7d7d;padding:4px 10px;border:1px solid #fdef6c;display:none;}
#user .header .user-buttons a .tip {/*css3*/ -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;margin-top:3px;}
#user .header .user-buttons a:hover .tip {display:block;}
#user .header .user-buttons .add-friend {width:47px;height:47px;background:url(/images/common.png) no-repeat -200px -222px;}
#user .header .user-buttons .remove-friend {width:47px;height:47px;background:url(/images/common.png) no-repeat -249px -222px;}
#user .header .user-buttons .pending-friend {width:47px;height:47px;background:url(/images/common.png) no-repeat -298px -222px;}
#user .header .user-buttons .add-friend .tip, #user .header .user-buttons .remove-friend  .tip, #user .header .user-buttons .pending-friend  .tip {right:50%;}
#user .header .user-buttons .new-message {width:33px;height:23px;background:url(/images/common.png) no-repeat -200px -271px;margin-top:12px;}
#user .header .user-buttons .new-message .tip {left:50%;margin-top:15px;}

#user .header .user-nav {margin-left:450px;padding-top:20px;font-size:13px;}
#user .header .user-nav ul {overflow:hidden;list-style:none;}
#user .header .user-nav ul li {float:left;padding:0 10px;height:20px;margin:0 10px;}
#user .header .user-nav ul li a {border-bottom:1px dashed #51afc3;text-decoration:none;height:16px;line-height:16px;margin:2px 0;display:block;}
#user .header .user-nav ul li a:hover {border:0;}
#user .header .user-nav ul li.active {background:#cdecff;}
#user .header .user-nav ul li.active a {border:0;cursor:default;}

#user .side-filter {font-size:13px;padding-bottom:20px;padding-top:60px;}
#user .side-filter ul {list-style:none;padding:0 10px;}
#user .side-filter ul li {padding:3px 10px 4px;text-align:right;line-height:1.2;margin:5px 0;}
#user .side-filter ul li a {text-decoration:none;display:block;}
#user .side-filter ul li a span {border-bottom:1px dashed #51AFC3;float:left;}
#user .side-filter ul li a:hover span {border:0;}
#user .side-filter ul li.active {background:#e9f6fe;font-weight:bold;}
#user .side-filter ul li.active a span {border:0;}

#user .side-nav {font-size:12px;padding-bottom:20px;padding-top:60px;}
#user .side-nav ul {list-style:none;padding:0 10px;}
#user .side-nav ul li {padding:3px 10px 4px;line-height:1.2;margin:5px 0;}
#user .side-nav ul li a {text-decoration:none;border-bottom:1px dashed #51AFC3;margin:0 5px;}
#user .side-nav ul li a:hover {border:0;}
#user .side-nav ul li.active a {background:#e9f6fe;border:0;padding:3px 5px;margin:0;font-weight:bold;}

#user .content-title {font:bold 25px arial, helvetica, sans-serif;color:#0281b0;margin-bottom:30px;}

#user .user-cols {padding-bottom:20px;}
#user .user-cols .col-1 {float:left;width:240px;padding-right:20px;}
#user .user-cols .col-2 {float:left;width:340px;padding-right:20px;}
#user .user-cols .col-3 {float:left;width:340px;}
#user .user-cols .col-23 {float:left;width:700px;}

#user .user-photo {margin-bottom:10px;}
#user .user-photo img {display:block;}

#user .user-meta {font-size:13px;color:#4c4d4d;padding-left:10px;margin-bottom:20px;}
#user .user-meta span {color:#bbbaba;}
#user .user-meta .location {font-size:14px;}
#user .user-meta .location .flag {border:1px solid #eeeeee;display:inline-block;margin-right:5px;position:relative;top:1px;}
#user .user-meta .details {color:#afafb0;font-size:9px;font-family:tahoma, arial, helvetica, sans-serif;padding:5px 10px;background:#fffeea;text-indent:0;margin-top:5px;margin-left:-10px;}
#user .user-meta .details .rating {color:#fb7a03;font-weight:bold;font-size:15px;}
#user .user-meta .details .rang {color:#484747;font-size:14px;}

.user-points {margin-bottom:20px;}
.user-points .rank {background:url(/images/user_rank.png) no-repeat;width:240px;height:117px;padding-top:17px;color:#fdf9b9;font-size:13px;font-weight:bold;text-align:center;margin-bottom:20px;}
.user-points .points {text-align:center;font-size:13px;color:#969696;}
.user-points .points .in {display:inline-block;text-align:right;font:normal 9px tahoma, arial, helvetica, sans-serif;color:#59595a;text-transform:uppercase;margin-top:6px;}
.user-points .points .in span {color:#fd5d17;font:bold 25px/1.2 arial black, arial, helvetica, sans-serif;}

#user .user-points-list {}
#user .user-points-list table {width:100%}
#user .user-points-list table td {padding:10px;color:#898889;font-size:13px;vertical-align:middle;}
#user .user-points-list table td span {color:#070707;}
#user .user-points-list table .even td {background:#f5faff;}
#user .user-points-list table .icon {vertical-align:top;text-align:center;}
#user .user-points-list table .count {color:#fd5d17;font-weight:bold;font-size:15px;text-align:right;vertical-align:top}
#user .user-points-list table .minus .count {color:#029ad2;}
#user .user-points-list table .icon i {display:block;background:url(/images/user_points.png);margin:auto;}
#user .user-points-list table .icon i.icon-post {width:16px;height:16px;background-position:0 0;}
#user .user-points-list table .icon i.icon-views {width:22px;height:14px;background-position:-109px 0;}
#user .user-points-list table .icon i.icon-comments {width:21px;height:20px;background-position:-37px 0;}
#user .user-points-list table .icon i.icon-ava {width:18px;height:19px;background-position:-157px 0;}
#user .user-points-list table .icon i.icon-photo {width:26px;height:20px;background-position:-83px 0;}
#user .user-points-list table .icon i.icon-friends {width:25px;height:26px;background-position:-131px 0;}
#user .user-points-list table .icon i.icon-post-d {width:21px;height:20px;background-position:-16px 0;}
#user .user-points-list table .icon i.icon-comment-d {width:25px;height:23px;background-position:-58px 0;}



#user .user-friends {padding-bottom:20px;padding-left:15px;}
#user .user-friends ul {list-style:none;}
#user .user-friends ul li {float:left;margin:0 15px 15px 0;}
#user .user-friends ul li img {display:block;}

#user .user-map {padding:10px 8px 7px;border:1px solid #f7f7f7;margin-bottom:20px;}
#user .user-map .box-title {margin-left:6px;padding-bottom:15px;}


#user .user-mood {font-size:22px;color:#484747;padding-left:15px;position:relative;margin-bottom:10px;}
#user .user-mood img {vertical-align:middle;position:relative;top:-8px;}

#user .user-mood .moods-list {position:absolute;right:0;top:100%;background:#fffeea;z-index:4;padding:5px;width:308px;font-size:9px;border:1px solid #e7e395;}
#user .user-mood .moods-list {/*css3*/ -moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
#user .user-mood .moods-list li {width:75px;float:left;text-align:center;border:1px solid #fffeea;}
#user .user-mood .moods-list li {/*css3*/ -moz-border-radius:10px;-webkit-border-radius:10px;border-radius:5px;height:100px;}
#user .user-mood .moods-list li a {display:block;width:75px;height:95px;text-decoration:none;color:#918b1a;padding-top:5px;line-height:1;}
#user .user-mood .moods-list li img {display:block;}
#user .user-mood .moods-list li:hover {border-color:#e7e395;}
#user .user-mood .moods-list:before {display:block;content:'';width:19px;height:16px;background:url(/images/common.png) no-repeat -557px -198px;position:absolute;bottom:100%;right:45px;}
#user .user-mood a.small {font-size:11px;}

#user #userMoodTooltip {position:absolute;display:none;z-index:99;background:#fffeea;padding:3px 6px;border:1px solid #e7e395;font-size:14px;}
#user #userMoodTooltip {/*css3*/ -moz-box-shadow:0px 0px 10px #e7e395;-webkit-box-shadow:0px 0px 10px #e7e395;box-shadow:0px 0px 10px #e7e395;}

#user .user-status {background:#cdecff;padding:10px 15px;position:relative;margin-bottom:10px;}
#user .user-status {/*css3*/ -moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
#user .user-status:after {display:block;content:'';width:45px;height:44px;background:url(/images/common.png) no-repeat -557px -152px;position:absolute;right:100%;top:25px;}
#user .user-status .date {color:#908e8e;font-size:11px;font-family:tahoma, arial, helvetica, sans-serif;padding-bottom:8px;}
#user .user-status p {color:#0281b0;font:italic 20px 'times new roman', 'times', arial, helvetica, sans-serif;}
#user .user-status form {text-align:right;}
#user .user-status textarea {vertical-align:bottom;overflow:auto;width:300px;max-width:300px;margin-right:5px;height:90px;padding:2px 5px;border:1px solid #c5e8ef;margin-bottom:5px;}

#user .user-purpose {color:#4c4d4d;font-size:11px;position:relative;padding-left:100px;min-height:60px;margin-bottom:20px;}
#user .user-purpose p {color:#fe4939;line-height:1;font-size:14px;margin-top:5px;}
#user .user-purpose p a {font-size:12px;}
#user .user-purpose .icon {display:block;width:78px;height:65px;background:url(/images/common.png) no-repeat -604px -153px;position:absolute;top:0;left:11px;}
#user .user-purpose form {text-align:right;margin:10px 0 0 -6px;}
#user .user-purpose textarea {vertical-align:bottom;overflow:auto;width:228px;max-width:228px;margin-right:5px;height:90px;padding:2px 5px;border:1px solid #c5e8ef;margin-bottom:5px;}

#user .user-blog {background:#e0ffda;padding:15px 0px 0 15px;margin-bottom:20px;}
#user .user-blog ul {list-style:none;}
#user .user-blog ul li {width:150px;display:inline-block;vertical-align:top;padding-right:10px;padding-bottom:15px;line-height:1.4;}
#user .user-blog ul li a {font-weight:bold;}
#user .user-blog ul li .date {color:#908e8e;font-size:9px;font-family:tahoma, arial, helvetica, sans-serif;margin:6px 0 8px;}
#user .user-blog ul li p {}

#user .user-blog-add {padding:5px;background:#e0ffda;}
#user .user-photo-add {padding:5px;border:1px solid #f7f7f7;}

#user .user-add a {vertical-align:middle;display:inline-block;font:italic 30px/1 'timew new roman', times, sans;}
#user .user-add img {margin-right:20px;}


#user .user-interests {}
#user .user-interests ul {list-style:none;}
#user .user-interests ul li {display:inline-block;margin-right:5px;padding:6px 0;}

#user .user-interests .interest-add {display:inline-block;width:17px;height:18px;background:url(/images/common.png) no-repeat -139px -173px;}


#interestsEdit {width:360px;}
#interestsEdit .title {font-size:22px;font-weight:bold;color:#0281b0;margin-bottom:20px;}

#interestsEdit .nav {font-size:13px;padding-bottom:20px;width:178px;border-right:1px solid #daebfe;margin-right:-1px;float:left;}
#interestsEdit .nav ul {overflow:hidden;list-style:none;display:inline-block;}
#interestsEdit .nav ul li {display:block;margin-bottom:5px;height:20px;line-height:20px;}
#interestsEdit .nav ul li a {display:inline-block;border-bottom:1px dashed #51afc3;text-decoration:none;height:16px;line-height:16px;margin:2px 5px;}
#interestsEdit .nav ul li a:hover {border:0;}
#interestsEdit .nav ul li.active a {border:0;cursor:default;background:#cdecff;padding:2px 5px;margin:0;}

#interestsEdit .interests-list {float:left;width:160px;padding-left:20px;border-left:1px solid #daebfe;}
#interestsEdit .interests-list ul {list-style:none;}
#interestsEdit .interests-list ul li {margin-bottom:12px;}
#interestsEdit .interests-list {overflow:hidden;}
#interestsEdit .interests-list label {cursor:pointer;}
#interestsEdit .interests-list input {visibility:hidden;}

#user .user-clubs {padding-bottom:20px;padding-left:15px;}
#user .user-clubs ul {list-style:none;}
#user .user-clubs ul li {float:left;margin:0 15px 0px 0;}

#user .user-albums {padding:15px;border:1px solid #f3f3f3;margin-bottom:20px;}
#user .user-albums .box-title .btn {margin-right:0;}
#user .user-albums ul {list-style:none;}
#user .user-albums ul li {padding-bottom:20px;}
#user .user-albums ul li big {color:#4c4d4d;display:block;margin:0px 0 15px;font-size:14px;}
#user .user-albums ul li .preview {position:relative;width:210px;height:180px;float:left;}
#user .user-albums ul li .preview img {position:absolute;display:block;}
#user .user-albums ul li .preview img.img-1 {top:0;left:0;}
#user .user-albums ul li .preview img.img-2 {right:0;top:20px;}
#user .user-albums ul li .preview img.img-3 {left:20px;bottom:0;}
#user .user-albums ul li .more {color:#b9b9b9;font-size:13px;padding-top:50px;float:left;text-decoration:none;margin-left:10px;max-width:80px;text-align:center}
#user .user-albums ul li .more .icon {display:block;width:56px;height:56px;background:url(../images/common.png) no-repeat -499px -135px;margin:0 auto;margin-bottom:10px;}

#user .user-family {margin-bottom:20px;}
#user .user-family .t {height:39px;background:url(/images/bg_user_family.png) no-repeat 0 0;}
#user .user-family .c {background:url(/images/bg_user_family.png) repeat-y 100% 0;padding:15px 35px 15px;}
#user .user-family .b {height:18px;background:url(/images/bg_user_family.png) no-repeat 0 100%;}
#user .user-family ul {list-style:none;}
#user .user-family ul li {list-style:none;margin-top:15px;}
#user .user-family ul li:first-child {margin-top:0;}
#user .user-family ul li big {font-size:14px;color:#4c4d4d;display:block;margin-bottom:5px;}
#user .user-family ul li .img {float:left;width:80px;}
#user .user-family ul li .img img {display:block;margin-bottom:5px;}
#user .user-family ul li p {margin-left:85px;font-family:tahoma, arial, helvetica, sans-serif;color:#939697;line-height:1.3;}
#user .user-family ul li span {font-family:tahoma, arial, helvetica, sans-serif;color:#3fa0c3;font-size:11px;}
#user .user-family ul li span span {color:#585959;}

#user .user-family.user-family-cap .c {padding:0 17px;}
#user .user-family .cap {display:block;width:100%;background:#f9f5ef url(/images/bg_user_family_cap.gif) no-repeat bottom;text-align:center;padding:15px 0 215px;font-size:15px;}
#user .user-family .cap:hover {text-decoration:none;}

#user .user-weather {margin-bottom:20px;text-align:center;}
#user .user-weather .location {font-size:12px;color:#929292;}
#user .user-weather .location .flag {display:inline-block;margin-right:5px;border:1px solid #eeeeee;position:relative;top:1px;}
#user .user-weather .location big {font-size:22px;color:#484747;}
#user .user-weather .clearfix {border-top:1px solid #c2e7f7;width:260px;margin:7px auto 0;}
#user .user-weather .img {display:inline-block;padding:10px;vertical-align:top;}
#user .user-weather .text {display:inline-block;padding:10px;width:95px;vertical-align:top;}
#user .user-weather .text big {line-height:55px;font-size:55px;color:#2997e3;}
#user .user-weather .text .row {padding:3px 10px;font-size:12px;color:#4d9fd5;text-align:left;}
#user .user-weather .text .row span {float:left;width:55px;color:#484747;}
#user .user-weather .text .row.hl {background:#e1f3fe;} 
#user .user-weather table {margin:7px 0 15px;width:100%;text-align:center;}
#user .user-weather table td {padding:6px 5px;font-size:12px;color:#2997e3;width:1%;}
#user .user-weather table thead td {border-top:1px solid #c2e7f7;border-bottom:1px solid #c2e7f7;height:23px;line-height:23px;color:#868788;font-size:11px;padding:0 5px;}
#user .user-weather table .hl td {background:#e8f6ff;}

#user .user-horoscope {padding:10px 14px;border:1px solid #efefef;}
#user .user-horoscope {/*css3*/ -moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
#user .user-horoscope .actions {float:right;}
#user .user-horoscope .actions a {display:block;float:right;width:12px;height:11px;background:url(/images/common.png) no-repeat;}
#user .user-horoscope .actions a.close {background-position:-314px -136px;margin-left:2px;}
#user .user-horoscope .actions a.close:hover {background-position:-314px -149px;}
#user .user-horoscope .actions a.settings {background-position:-314px -163px;margin-left:2px;}
#user .user-horoscope .actions a.settings:hover {background-position:-300px -163px;}
#user .user-horoscope .img {float:left;width:120px;margin-right:10px;height:90px;background:url(/images/widget/horoscope/bg.png) no-repeat;}
#user .user-horoscope .date {display:inline-block;text-align:center;font-size:13px;color:#565655;margin-top:20px;}
#user .user-horoscope .date big {font-size:22px;color:#3d3c3c;display:block;}
#user .user-horoscope p {font-size:12px;margin:1em 0;color:#404040;}
#user .user-horoscope b {color:#f05d6e;}

#user .friends {}
#user .friends ul {list-style:none;}
#user .friends ul li {float:left;width:32%;padding-bottom:30px;font-size:11px;padding-right:1%;}
#user .friends ul li .ava {float:left;}
#user .friends ul li .details {margin-left:90px;}
#user .friends ul li a {text-decoration:none;}
#user .friends .actions {padding-top:8px;}

#user .clubs {}
#user .clubs ul {list-style:none;}
#user .clubs ul li {float:left;margin:0 20px 15px 0;}

/* /user.css */