- var path = "/lite/";

//- Базовые блоки
include base/ava
include base/base
include base/logo
include base/radioIcons

//- Главный layout
include layout/footer
include layout/head
include layout/header
include layout/scripts

//- Проектные блоки для разных модулей
include project/albumPreview
include project/article
include project/articleNearby
include project/articleUsers
include project/bAlbum
include project/banner
include project/bFamily
include project/capEmpty
include project/comments
include project/iPhoto
include project/form
include project/imgGrid
include project/likes
include project/postAddRowBtns
include project/sidebar-search
include project/userAddRecord
include project/user-menu
include project/userSection
include project/yiipagination
include project/zodiac-list

//- Модули
