- var path = "/lite/";

//- Базовые блоки
include base/ava
include base/base
include base/logo
include base/radioIcons

//- Главный layout
include layout/footer
include layout/head
include layout/header
include layout/scripts

//- Проектные блоки для разных модулей
include project/albumPreview
include project/article
include project/articleAnonce
include project/articleNearby
include project/articleSimilar
include project/articleUsers
include project/bAlbum
include project/banner
include project/bFamily
//- для работы bFamily
include base/bAvaLarge

include project/bLoader
include project/capAdd
include project/capEmpty
include project/comments
include project/iPhoto
include project/familySettings
include project/familySettingsEmpty
include project/form
include project/friendsListItem
include project/imgGrid
include project/likes
include project/postAddRowBtns
include project/sectionClub
include project/sidebar
include project/sidebar-search
include project/subscribersWidget
include project/userAddRecord
include project/user-menu
include project/userSection
include project/userSubscribers
include project/yiipagination
include project/zodiac-list
//- Модули
