- var path = "/lite/";

//- Базовые блоки
include base/ava
include base/base
include base/logo

//- Главный layout
include layout/footer
include layout/head
include layout/header
include layout/scripts

//- Проектные блоки для разных модулей
include project/article
include project/articleUsers
include project/banner
include project/comments
include project/form
include project/yiipagination

//- Модули
